<div class="pt-3 pb-2 mb-3">
    <h1 class="h2 mb-2">Support</h1>
    <h6 class="h6 fwn lineheight">Check updates and resolve customer issues</h6>
    </div>
  
    <div class="row">
      <div class="col-md-5">
      <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
		  <div class="col-sm-12">
			<div class="row">
			  <div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
			  <input class="br0 focus col-8 pt-3 pb-3" type="text" placeholder="Type an asset name...">	
			  <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
			</div>	
		  </div>
      </div>
      </div>
      <div class="col-md-2 mt-3">
        <button class="primaryBtn mainColor mainBordercolr float-right pl-3 pr-3" data-toggle="modal" data-target="#exampleModalCenter" (click) = "createTicket()"><i class="icon-6 fs16 fw600"></i> Create ticket</button>
      </div>
    </div>
    <div class="filterShowDiv d-block" *ngIf = "tickets && tickets.length">
      <div class="boxDiv p-4">
        <div class="row">
          <div class="col-md-2 selectWrapper">
            <select class="inputBox">
              <option>Filter by site</option>
              <option>Filter by site 1</option>
              <option>Filter by site 2</option>
              <option>Filter by site 3</option>
              </select>
          </div>
          <div class="col-md-2 selectWrapper">
            <select class="inputBox">
              <option>Filter by status</option>
              <option>Filter by status 1</option>
              <option>Filter by status 2</option>
              <option>Filter by status 3</option>
              </select>
          </div>
          <div class="col-md-2 selectWrapper">
            <select class="inputBox">
              <option>Filter by type</option>
              <option>Filter by type 1</option>
              <option>Filter by type 2</option>
              <option>Filter by type 3</option>
              </select>
          </div>
          <div class="col-md-4">&nbsp;</div>
          <div class="col-md-2">
            <button class="primaryBtn mainColor mainBordercolr float-right">Apply</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive boxDiv mt-3 mb-5" *ngIf = "tickets && tickets.length">
        <table class="table table-striped tableStyles" mat-table [dataSource]="tickets">
          <ng-container matColumnDef="ticketId">
              <th mat-header-cell *matHeaderCellDef class="fs18 fw600"> Ticket ID </th>
              <td mat-cell *matCellDef="let element">{{element.ticketId}}</td>
          </ng-container>
          <ng-container matColumnDef="dateAndTime">
              <th mat-header-cell *matHeaderCellDef class="pr-3 text-center"> Date & Time </th>
              <td mat-cell *matCellDef="let element"> {{ element.created.at | date:'medium' }} </td>
          </ng-container>
          <ng-container matColumnDef="sentBy">
              <th mat-header-cell *matHeaderCellDef> Sent by </th>
              <td mat-cell *matCellDef="let element"> {{element.orgName}} </td>
          </ng-container>
          <ng-container matColumnDef="typeOfUser">
              <th mat-header-cell *matHeaderCellDef> 
                Type of user 
                <span tooltip-class="text-left" theme="light" placement="bottom" tooltip="
                  <div class=''>
                    <i class='icon-70 fs12 text-info'></i><span class='ml-2'>Advertiser</span>
                  </div> 
                  <div class=''>
                    <i class='icon-23 fs12 text-info'></i><span class='ml-2'>Publisher</span>
                  </div>
                ">
                  <i class="icon-16 fs12 wColor"></i>
                </span>
              </th>
              <td mat-cell *matCellDef="let element"> 
                <span tooltip-class="text-left" theme="light" tooltip="{{element.userType}}" placement="bottom">
                  <i *ngIf="element.userType === 'advertiser'" class="icon-70 fs20 fw600 text-info"></i>
                  <i *ngIf="element.userType === 'publisher'" class="icon-23 fs18 fw600 text-info"></i>
                </span>
              </td>
          </ng-container>
          <ng-container matColumnDef="typeOfIssue">
              <th mat-header-cell *matHeaderCellDef> Type of issue </th>
              <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
          </ng-container>
          <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef> Message </th>
              <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
          </ng-container>
          <ng-container matColumnDef="lastRepliedBy">
              <th mat-header-cell *matHeaderCellDef> Last replied by</th>
              <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> 
                Status 
                <span tooltip-class="text-left" theme="light" placement="bottom" tooltip="
                  <div class=''>
                    <i class='icon-18 fs12 text-muted'></i><span class='ml-2'>Closed</span>
                  </div> 
                  <div class=''>
                    <i class='icon-17 fs12 text-success'></i><span class='ml-2'>Open/Reopen</span>
                  </div>
                  <div class=''>
                    <i class='icon-66 fs12 text-primary'></i><span class='ml-2'>New</span>
                  </div>
                  <div class=''>
                    <i class='icon-60 fs12 text-warning'></i><span class='ml-2'>In Progress</span>
                  </div> 
                ">
                  <i class="icon-16 fs12 wColor"></i>
                </span>
              </th>
              <td mat-cell *matCellDef="let element">
                <span tooltip-class="text-left" theme="light" tooltip="{{element.status}}" placement="bottom">
                  <i *ngIf="element.status === 'Closed'" class="icon-18 fs16 text-muted"></i>
                  <i *ngIf="element.status === 'New'" class="icon-66 fs16 text-primary"></i>
                  <i *ngIf="element.status === 'In Progress'" class="icon-60 fs16 text-warning"></i>
                  <i *ngIf="element.status === 'Open' || element.status === 'Reopen'" class="icon-17 fs16 text-success"></i>
                </span>
              </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="wColor fs15 text-wrap"></th>
            <td mat-cell *matCellDef="let element" class="dropdown">
              <button mat-icon-button [matMenuTriggerFor]="menu" >
                <i class="icon-59 fs18 mainColor fw"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button class="col-4 br0 bgNone publisherDiv">
                  <i class="icon-21 fs18 mainColor fw"></i>
                </button>
                <button class="col-4 br0 bgNone publisherDiv" routerLink="/admin/ticketDetails/{{element._id}}">
                  <i class="icon-25 fs18 mainColor fw"></i>
                </button>
                <button class="col-4 br0 bgNone publisherDiv">
                  <i class="icon-53 fs14 mainColor fw"></i>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          
          <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
    <div class="boxDiv grColor p-4 mt-2" *ngIf = "tickets && !tickets.length">
      <strong>No Records found !</strong>
    </div>
  
  