
table {
	width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}
.img-size{
    width:40%;
}
td.mat-cell:first-of-type{
    padding-left: 5px !important;
}
.wSpacing {
    word-spacing: 99px;
}
.manageAsset .bannerBoxes .square { width:19%; height:36px; margin-left: 42%; margin-top: 5% !important;}	
.manageAsset .bannerBoxes .smallsquare { width:15%; height:27px; margin-top: 10%; margin-left: 48%}	
.manageAsset .bannerBoxes .banner { width:55%; height:16px; margin-left: 23%; margin-top: 11%;}	
.manageAsset .bannerBoxes .leaderboard { width:76%; height:19px; margin-left: 13%; margin-top: 11%;}	
.manageAsset .bannerBoxes .inlinerectangle { width:20%; height:30px; margin-top: 6%; margin-left: 42%}	
.manageAsset .bannerBoxes .largerectangle	{ width:21%; height:32px; margin-left: 42%; margin-top:7%;}	
.manageAsset .bannerBoxes .skyscraper { width:6%; height:55px; margin-left: 50%; margin-top: 1.6%;}	
.manageAsset .bannerBoxes .wideskyscraper { width:8%; height:55px; margin-left: 49%; margin-top:1.6%;}	
.manageAsset .bannerBoxes .half-pagead { width:17%; height:70px; margin-left:44%; margin-top: 0.6%;}	
.manageAsset .bannerBoxes .largeleaderboard { width:92%; height:19px; margin-left: 4%; margin-top: 11%;}	
.manageAsset .bannerBoxes .wh11px { width:100%; height:20px;}
.w-25{
    width:25%;
}
.bgVideoGRColor1{
    background: rgb(233, 232, 232) !important;
    min-height: 75px !important;
    text-align: center !important;
    padding: 1% !important;
}
.mat_option{
    border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px 15px;
	margin: 0;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}
.mat-sort-header-arrow {
    color: #fff!important;
}
/*td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    text-align: center!important;
}*/
.mat-sort-header-stem {
    height: 0px!important; 
}
.fs40{
 font-size: 40px;
}
.smallHeadding {
    font: 600 12px "Work Sans", sans-serif !important;
}
.listViewTable .tableStyles th { padding:10px 15px!important;}
.listViewTable .tableStyles td { padding:7px 15px!important;}
mat-option label{ margin-bottom: 0px;}
.button button{ text-align: right !important;}
.mat-select-arrow-wrapper {    
    padding-top: 6px !important;}