<div  class="bgImg" style="top:60px; right:-30px; z-index:-1"><img alt="AdvanalyticsBg" src="assets/images/manageAssets.svg" style="width:300px; height:240px;"></div>
<div class="pt-4 mb40">
  <h1 class="h2">Manage Slots</h1>
  <h6 class="h6 mt-1 fwn lineheight">You can edit and delete slots, review their utilization status, and access in-depth analytics <br>about impressions, clicks, and costs, all in one place</h6>
</div>


<div class="filterSearchDiv clearfix">
  <div class="searchDiv">
      <div class="boxDiv br1 mainBordercolr">
		<div class="col-md-12">
			<div class="row">
			  <div class="col-1 searchIcon"><i class="icon-5 fs18 mainColor"></i></div>
              <input class="br0 focus col-8 fs12 searchBox" type="text" placeholder="Type an slot name..." name="asset" #name [(ngModel)]="asset" (keyup)="searchAsset(name.value);">	
              <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0" (click)="searchAsset(name.value);">Search</button>
            </div>	
	   </div>	  
      </div>
</div>
    
  <div class="filterDiv">
      <div class="boxDiv">
        <div class="row">
          <div class="col-7 pt-3" (click)="displayFilters()" >
          <a class="filterShowHide mainColor h6 pl-3">Filter 
            <i *ngIf = "!showFilters" class="icon-48 grColor fs16 pl-2 float-right"></i>
            <i *ngIf = "showFilters" class="icon-47 grColor fs16 pl-2 float-right"></i>
          </a>
        </div>
        <div class="col-5 brl1 grColor pt-2 pb-2">
          <a  class="mainColor float-left mt-1 ml-1" (click)="displayViewToggle()">
            <i [ngClass]="{ 'icon-61': grid === true, 'icon-57': grid === false }" class="fs24"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="filterDiv">
      <span> Last updated time: {{assetsUpdatedTime | date: 'MM/dd/yyyy HH:mm:ss'}}</span>
      <span></span>
    </div> -->
</div>

<div class="row filterShowDiv">
  <div class="col-7 mt-1" *ngIf = "showFilters">
    <div class="boxDiv p-3">
      <div class="row">
        <div class="col-5">
          <mat-select class="inputBox" placeholder="Filter by status" [(ngModel)]="status">
            <div *ngFor="let status of statusList; let i = index">
              <mat-option [value]="status">
                  <label>{{status}}</label>
              </mat-option>
            </div>                                      
          </mat-select>
        </div>

        <div class="col-5">
          <mat-select class="inputBox" placeholder="Filter by type" [(ngModel)]="type">
            <div *ngFor="let type of typeList; let i = index">
              <mat-option [value]="type">
                  <label>{{type}}</label>
              </mat-option>
            </div>                                      
          </mat-select>
        </div>

        <div class="col-2 pr-2">
          <button class="primaryBtn mainColor mainBordercolr float-right mt-1" (click)="filterAsset(status, type);">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive boxDiv listViewTable mt14 mb-5" *ngIf = "assetsDataSource && assetsDataSource.length && !grid">
  <table class="tableStyles" mat-table [dataSource]="assetsDataSource" multiTemplateDataRows matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="asset">
      <th mat-header-cell *matHeaderCellDef class="wColor" mat-sort-header="assetDimensions"> Slot Name </th>
      <td style="width:18%" mat-cell *matCellDef="let element">
        <div>
            <div class="float-left mr-1" style="width:80px;" *ngIf="element && element.assetType == 'Banner' && element.bannerDetails && element.bannerDetails.name">
                <a class="tac"><img alt="AdvanalyticsBg" src="assets/images/assetManageImg.png" style="width:80px; height:46px;"></a>
            </div>
            
          <!--<div class="bgVideoGRColor1 float-left" style="width:80px;" *ngIf="element && element.assetType == 'Banner' && element.bannerDetails && element.bannerDetails.name">
            <i class="icon-12 mainColor1 fs16 fw600 float-left"></i>
              <a class="bannerBoxes tac boxactive" style="width:80%; margin:20px auto 0">
                <div class="mb-1">
                  <div class="mainBGcolor" [ngClass]="element.bannerDetails.name.toLowerCase() | trim">&nbsp;</div>
                </div>
                <small class="mainColor fs11">{{element.assetDimensions}} </small>
                <small class="mainColor fs11"> {{element.bannerDetails.name}}</small>
              </a>
             <div class="manageAsset">
              <a class="bannerBoxes tac p-2">
                <div class="mainBGcolor text-center" [ngClass]="element.bannerDetails.name.toLowerCase() | trim">&nbsp;</div>
                <small class="mainColor fs12">{{element.assetDimensions}} </small>
                <small class="mainColor fs12"> {{element.bannerDetails.name}}</small>
              </a>
            </div>
          </div> -->
          <div class="bgVideoGRColor float-left" *ngIf="element.assetType == 'Video' && element.assetSize">
              <div class="float-left p-1"><i class="icon-14 mainColor1 fs16 fw600"></i></div>
              <div class="mt-2 text-center"><i class="icon-29 mainColor1 fs40 mr-4"></i></div>
          </div>
            <p class="float-left mt-3">{{element.name}} </p>
        </div>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="status" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="wColor text-left" mat-sort-header="assetStatus"> 
        Status
        <span tooltip-class="text-left" theme="light" placement="bottom" tooltip="
        <div class='tooltipIconText'>
          <i class='icon-18 fs11 text-success'></i><span class='ml-2'>Active</span>
        </div> 
        <div class='tooltipIconText'>
          <i class='icon-65 fs11 text-muted'></i><span class='ml-2'>Inactive</span>
        </div>
        <div class='tooltipIconText'>
          <i class='icon-58 fs11 text-info'></i><span class='ml-2'>Verification Pending</span>
        </div>
        <div class='tooltipIconText'>
          <i class='icon-17 fs11 text-danger'></i><span class='ml-2'>Integration Pending</span>
        </div>" >
          <i [matTooltip]="publisher_manage_assets_status" class="icon-78 fs12 wdColor tradMak"></i>
        </span>
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <span *ngIf = "element.assetStatus === 'Inactive'" tooltip-class="text-left" theme="light" tooltip="Inactive" placement="bottom">
            <i  class="icon-65 fs14 text-muted"></i>
        </span>
        <span *ngIf = "element.assetStatus === 'Active'"  tooltip-class="text-left" theme="light" tooltip="Active" placement="bottom">
            <i class="icon-18 fs14 text-success"></i> 
        </span>
        <span *ngIf = "element.assetStatus === 'Verification Pending'"  tooltip-class="text-left" theme="light" tooltip="Verification Pending" placement="bottom">
            <i class="icon-58 fs14 text-info"></i> 
        </span>
        <span *ngIf = "element.assetStatus === 'New'"  tooltip-class="text-left" theme="light" tooltip="Integration Pending" placement="bottom">
          <i class="icon-17 fs14 rColor"></i> 
      </span>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="fromDate">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="created.at" [matTooltip]="publisher_manage_assets_from_date" > From Date</th>
      <td mat-cell *matCellDef="let element" class="text-left"> {{(element.created) ? (element.created.at| date: 'd MMM yyyy') : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="toDate">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap " mat-sort-header="modified.at" [matTooltip]="publisher_manage_assets_to_date" > To Date</th>
      <!--Feedback from Harshith, status call on July-19-2019.
      if its active(show current date). If its In-Active(show last modified date)-->
      <td mat-cell *matCellDef="let element" > 
        {{(element.modified && (isActive === false)) ?
          (element.modified.at| date: 'd MMM yyyy') : (todaysDate| date: 'd MMM yyyy')}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="percentageUtilized" >
      <th mat-header-cell *matHeaderCellDef class="wColor " mat-sort-header="utilization[0].utilized" [matTooltip]="publisher_manage_assets_percentage_utilized" >Degree of Utilization</th>
      <td mat-cell *matCellDef="let element" class="text-center" > {{(element.utilization.length > 0 && element.utilization[0].utilized !== '-') ? ((element.utilization[0].utilized| number:'.0-1') + '%') : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="lifetimeImpressions">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap text-left" mat-sort-header="transactionalData[0].impressions" [matTooltip]="publisher_manage_assets_lifetime_impressions" > Lifetime Impressions</th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{(element.transactionalData.length > 0 && element.transactionalData[0].impressions !== '-') ? element.transactionalData[0].impressions : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="lifetimeClicks">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap text-left" mat-sort-header="transactionalData[0].clicks" [matTooltip]="publisher_manage_assets_lifetime_clicks"> Lifetime Clicks</th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{(element.transactionalData.length > 0 && element.transactionalData[0].clicks !== '-') ? element.transactionalData[0].clicks : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="avgCPC">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap text-left" mat-sort-header="transactionalData[0].CPC" [matTooltip]="publisher_manage_assets_average_cpc"> Avg-CPC</th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{(element.transactionalData.length > 0 && element.transactionalData[0].CPC !== '-') ? (currencySymbol+(element.transactionalData[0].CPC| number:'.0-1')) : '-'}} </td>
    </ng-container>
  <!--
    <ng-container matColumnDef="avgCPV">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="transactionalData[0].CPV"> Avg CPV </th>
      <td mat-cell *matCellDef="let element"> {{(element.transactionalData.length > 0 && element.transactionalData[0].CPV !== '-') ? ('$'+(element.transactionalData[0].CPV| number:'.0-1')) : '-'}} </td>
    </ng-container>
  -->
    <ng-container matColumnDef="avgCPM">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap text-left" mat-sort-header="transactionalData[0].CPM" [matTooltip]="publisher_manage_assets_average_cpm"> Avg-CPM</th>
      <td mat-cell *matCellDef="let element" class="text-left"> {{(element.transactionalData.length > 0 && element.transactionalData[0].CPM !== '-') ? (currencySymbol+(element.transactionalData[0].CPM| number:'.0-1')) : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"></th>
      <td mat-cell *matCellDef="let element" class="dropdown">
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf = "element.assetStatus !== 'inactive'">
          <i class="icon-59 fs18 mainColor"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button class="dropboxIcons br0 bgNone publisherDiv" (click)="editAsset(element.assetType, element._id)">
            <i class="icon-25 fs18 mainColor"></i>
          </button>
          <button class="dropboxIcons br0 bgNone publisherDiv" (click)="openDeleteCofirmDialog(element._id)">
            <i class="icon-26 fs18 mainColor"></i>
          </button>
          <button *ngIf = "rolePermissions && rolePermissions.includes('view_analytics')" class="dropboxIcons br0 bgNone publisherDiv" (click)="viewAssetAnalytics(element._id)">
            <i class="icon-27 fs18 mainColor"></i>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<div *ngIf="grid" class="row mt-3">
  <div class="col-12" *ngIf="assetsDataSource && assetsDataSource.length">
    <div class="row">
      <div class="col-3 clearfix" *ngFor="let element of assetsDataSource">
        <div class="boxDiv brr0 p-2 mb-3">

          <div class="eeeBG mh-100">
            <div class="float-right">
              <button [matMenuTriggerFor]="menu" class="float-right br0 bgNone tar">
                <i class="icon-59 fs18 mainColor fw"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button class="dropboxIcons br0 bgNone publisherDiv" (click)="editAsset(element.assetType, element._id)">
                  <i class="icon-25 fs16 mainColor"></i>
                </button>
                <button class="dropboxIcons br0 bgNone publisherDiv" (click)="openDeleteCofirmDialog(element._id)">
                  <i class="icon-26 fs16 mainColor"></i>
                </button>
                <button *ngIf = "rolePermissions && rolePermissions.includes('view_analytics')" class="dropboxIcons br0 bgNone publisherDiv"  (click)="viewAssetAnalytics(element._id)">
                  <i class="icon-27 fs16 mainColor"></i>
                </button>
              </mat-menu>  
            </div>
              
        <!--<img src="../../../assets/images/pub_platform_create.svg" class="img-fluid mb-2" alt="Asset">-->
        <div class="brr4 w-100" style="min-height:110px;" *ngIf="element && element.assetType == 'Banner' && element.bannerDetails && element.bannerDetails.name">
          <div class="manageAsset pt-4 pb-4">
            <a href="#" class="bannerBoxes tac">
              <div class="mainBGcolor " [ngClass]="element.bannerDetails.name.toLowerCase() | trim">&nbsp;</div>
              <!--<small class="mainColor fs11">{{element.assetDimensions}}</small> 
              <small class="mainColor fs11">{{element.bannerDetails.name}}</small>-->
            </a>
          </div>
        </div>
        <div class="bgVideoGRColor brr4 w-100" *ngIf="element.assetType == 'Video' && element.assetSize">
            <a ><i class="icon-29 mainColor1 fs40"></i></a>
        </div>
          </div>

          <div class="mt-2 mb-2 ellipse smallHeadding">{{element.name}}</div>

          <div class="row text-center">
            <div class="col-4" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">Status</p>
                <i *ngIf = "element.assetStatus === 'Verification Pending'" class="icon-65 fs14 grColor"></i>
                <i *ngIf = "element.assetStatus === 'Active'" class="icon-18 fs14 text-success"></i> 
                <i *ngIf = "element.assetStatus === 'New'" class="icon-17 fs14 rColor"></i> 
            </div>
            <div class="col-4" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">From date</p>
              <p class="fs10 fw600">{{(element.created) ? (element.created.at| date: 'd MMM yyyy') : '-'}}</p>
            </div>
            <div class="col-4" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">To date</p>
              <p class="fs10 fw600">{{(element.modified && (isActive === false)) ?
                  (element.modified.at| date: 'd MMM yyyy') : (todaysDate| date: 'd MMM yyyy')}}</p>
            </div>
          </div>

          <hr class="mt-0">

          <div class="row text-center">
            <div class="col-4" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">%<br>Utilized</p>
              <p class="fs10 fw600">{{(element.utilization.length > 0 && element.utilization[0].utilized !== '-') ? ((element.utilization[0].utilized| number:'.0-1') + '%') : '-'}}</p>
            </div>
            <div class="col-4" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">Lifetime<br>impressions</p>
              <p class="fs10 fw600">{{(element.transactionalData.length > 0 && element.transactionalData[0].impressions !== '-') ? element.transactionalData[0].impressions : '-'}}</p>
            </div>
            <div class="col-4" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">Lifetime<br>clicks</p>
              <p class="fs10 fw600">{{(element.transactionalData.length > 0 && element.transactionalData[0].clicks !== '-') ? element.transactionalData[0].clicks : '-'}}</p>
            </div>
          </div>

          <hr class="mt-0">

          <div class="row text-center">
            <div class="col-6" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">Avg CPC</p>
              <p class="fs10 fw600">{{(element.transactionalData.length > 0 && element.transactionalData[0].CPC !== '-') ? (currencySymbol+(element.transactionalData[0].CPC| number:'.0-1')) : '-'}}</p>
            </div>
            <!-- <div class="col-4" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">Avg CPV</p>
              <p class="fs10 fw600">{{(element.transactionalData.length > 0 && element.transactionalData[0].CPV !== '-') ? (currencySymbol+(element.transactionalData[0].CPV| number:'.0-1')) : '-'}}</p>
            </div> -->
            <div class="col-6" style="padding:0 5px 0 0;">
              <p class="grDColor mb-2 fs10">Avg CPM</p>
              <p class="fs10 fw600">{{(element.transactionalData.length > 0 && element.transactionalData[0].CPM !== '-') ? (currencySymbol+(element.transactionalData[0].CPM| number:'.0-1')) : '-'}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="boxDiv brtrr0 brtlr0 col mt-3" *ngIf = "assetsDataSource && !assetsDataSource.length">
  <p class="text-mutted  pl-0 pt-3 grDColor">No Records found !</p>
</div>