<div class="info" class="otp" style="overflow: hidden; margin:17px !important">
    <form [formGroup]="otpValidationForm" (ngSubmit)="onSubmit()">
    <div class="modal-content mainBGcolor">
      <!--<div class="mainBGcolor tac" style="text-align: center">
          <h6 class="mainBGcolor tac">Enter the OTP</h6>
      </div>-->      
  <div class="row">  
    <div class="col">

     <div class="col-md-12" style="padding:20px">
      <!--<div class="close1 fs16  float-right mb-4">X</div>-->
      <button class="close1 fs16 fw float-right mb-4" (click)="onClose()" color="warn">x</button>
       <p class="fs12  text-align mt-2">Please enter six digit OTP sent on your mobile no.  {{phoneNumber}}</p>  
        
       <div class="row col-md-8" style="margin: auto;">          
          <div class="col-sm-2 pr-0 ">
              <p><input type="text" appOtpValidation nextFocus = "OTP2"  class="inputBox text-align pl-1 pr-1 " placeholder="0" formControlName="OTP1" required></p>
          </div>

          <div class="col-sm-2 pr-0">
            <p><input type="text" id = "OTP2"  nextFocus = "OTP3"  appOtpValidation  class="inputBox text-align pl-1 pr-1 " placeholder="0" matInput formControlName="OTP2" required></p>
          </div>

          <div class="col-sm-2 pr-0">
            <p><input type="text" id = "OTP3" nextFocus = "OTP4" appOtpValidation class="inputBox text-align pl-1 pr-1 " placeholder="0" matInput formControlName="OTP3"></p>
          </div>

          <div class="col-sm-2 pr-0">
            <p><input type="text" id = "OTP4"  nextFocus = "OTP5" appOtpValidation class="inputBox text-align pl-1 pr-1 " placeholder="0" matInput formControlName="OTP4"></p>
          </div>

          <div class="col-sm-2 pr-0">
            <p><input type="text" id = "OTP5"  nextFocus = "OTP6" appOtpValidation class="inputBox text-align pl-1 pr-1 " placeholder="0" matInput formControlName="OTP5"></p>
          </div>

          <div class="col-sm-2 pr-0">
            <p><input type="text" id = "OTP6" class="inputBox text-align pl-1 pr-1 "  appOtpValidation placeholder="0" matInput formControlName="OTP6"></p>
          </div>
      </div>
      <div class="row fs11" *ngIf="limitMsg" style="color: red">
        <span>{{limitMsg}}</span>
      </div>
    <mat-dialog-actions class="mb-0">
      <div class="col-md-6" style="margin: auto; margin-top:16px;">
        <button class="primaryBtn mainColor mainBordercolr next-step float-right " 
        (click)="resendOTP()" 
        [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher'
        type="button">Resend</button>
        <button class="primaryBtn mainColor mainBordercolr next-step float-right "
        [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher'
        type="button" type="submit" >Validate
        </button>
      </div>
    </mat-dialog-actions>
      
      </div>
  </div>  
  </div>  
    </div>
  </form> 
  </div>
  