.otp {}

.otp .text-align {
    text-align: center;
}

.otp .inputBox {
    border-right: 0px !important;
    border-left: 0px !important;
    border-top: 0px !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-radius: 0px !important;
}

.modal-content {
    width: 500px !important;
}

.close1 {
    color: red !important;
    position: relative;
    top: -11px;
    right: -10px;
    background: transparent;
    border: none;

}

.advertColor {
    color: #6b3ffc;
    border-color: #6b3ffc;
    background: transparent;
}

.advertColor:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(to right, #b260e4, #6b3ffc) !important;
    color: white !important;
}

.pubColor {
    color: #6b3ffc;
    background: transparent;
    border-color: #4e70ef !important;
}

.pubColor:hover {
    background-image: linear-gradient(to right, #41ccf1, #4e70ef) !important;
    color: white !important;
}