<div class="table-responsive boxDiv mt-3" *ngIf="pageView === 'ListView'">
	<table class="tableStyles" mat-table [dataSource]="dataSource">
		<!--- Note that these columns can be defined in any order.
							The actual rendered columns are set as a property on the row definition" -->
		<!-- ModuleType Column -->
		<ng-container matColumnDef="moduleType">
			<th mat-header-cell *matHeaderCellDef class="wColor"> ModuleType </th>
			<td mat-cell *matCellDef="let element"> {{element.moduleType}} </td>
		</ng-container>
		<!-- RoleName Column -->
		<ng-container matColumnDef="roleName">
			<th mat-header-cell *matHeaderCellDef class="wColor"> RoleName </th>
			<td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
		</ng-container>
		<!-- Permissions Column -->
		<ng-container matColumnDef="permissions">
			<th mat-header-cell *matHeaderCellDef class="wColor"> Description </th>
			<td mat-cell *matCellDef="let element"> {{element.description}} </td>
		</ng-container>
		<ng-container matColumnDef="addrolesandpermission">
			<th mat-header-cell *matHeaderCellDef>
				<button routerLink="/admin/config" (click)="renderAddView()"
					class="primaryBtn brwColor float-right wColor font-weight-normal">
					<i class="icon-6 fs16 fw600"></i> Add Roles & Permissions
				</button>
			</th>
			<td mat-cell *matCellDef="let element" align="center">
				<a (click)="editRolesAndPerDetails(element._id)" class="mainColor tdu mr-3"> Edit</a>
			</td>
		</ng-container>
		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns 
		<ng-container matColumnDef="expandedDetail">
			<label>
				<strong>Permissions</strong>
			</label>
			<ngx-treeview [config]="viewConfig" [items]="permissionsMetadata" [disabled]="treeViewDisabled">
			</ngx-treeview>
		</ng-container>
		-->
		<tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<!-- <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="expandedElement = expandedElement === element ? null : element"></tr> -->
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
	<div class="grColor m-4" *ngIf="dataSource && !dataSource.length">
		<strong>No Records found !</strong>
	</div>
</div>
<div *ngIf="pageView === 'AddView' || pageView === 'EditView'" class="p-2">
	<form [formGroup]="rolesAndPermisionFormGroup">
			<div class="invalidfeedback" style="margin-top: 15px;" *ngIf="formSubmitted && errorMessage">
				{{ errorMessage }}
			</div>
		<div class="row">
			<div class="col-3">
				<div class="p-2">
					<div class="col-12">
						<mat-select class="mat_option" placeholder="Module" formControlName="moduleType"
							(selectionChange)="getAllPermissionsByModuleType($event.value)">
							<div *ngFor="let option of moduleTypes">
								<mat-option [value]="option">
									<label>{{option}}</label>
								</mat-option>
							</div>
						</mat-select>
					</div>
				</div>
				<div class="p-2">
					<div class="invalidfeedback" style="margin-left: 15px;"
						*ngIf="formSubmitted && rolesAndPermisionFormGroup.controls['roleName'].hasError('required')">
						Role name is required
					</div>
					<div class="col-12">
						<input class="inputBox" formControlName="roleName" placeholder="Role Name" name="roleName" />
					</div>
				</div>
				<div class="p-2">
					<div class="col-12">
						<textarea class="inputBox" formControlName="description" placeholder="Description"
							name="description"></textarea>
					</div>
				</div>
			</div>
			<div calss="col-9 p-2 w-40">
				<div class="invalidfeedback" style="margin-top: 10px;"
					*ngIf="formSubmitted && values && !values.length">
					Please select required permissions
				</div>
				<label>
					<strong>Permissions</strong>
				</label>
				<ngx-treeview [config]="config" [items]="permissionsMetadata" (selectedChange)="values = $event">
				</ngx-treeview>
			</div>
		</div>
		<div class="float-right mt-4 mb-4">
			<button class="primaryBtn mainColor mainBordercolr previous-step mb-3 mr-2"
				(click)="renderListView()">Cancel</button>
			<button *ngIf="pageView === 'AddView'" class="primaryBtn mainColor mainBordercolr next-step" (click)="saveRolesAndPermissions()">Save
				Changes</button>
			<button *ngIf="pageView === 'EditView'" class="primaryBtn mainColor mainBordercolr next-step" (click)="updateRolesAndPermissions(selectedId)">Save
				Changes</button>
		</div>
	</form>
</div>