table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.is-invalid{
  border: 1px solid red;
  color: red;
}
.is-invalid-without-border{
  color: red;
}
.customLabel{
  color:rgba(0, 0, 0, 0.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  opacity: 0.8;
  font-size: 16px;
}
.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing), .mat-card, .mat-expansion-panel-spacing { box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12); border-bottom:1px solid #ccc;}
.mat-card { border:none; padding:0;}
.mat-expansion-panel-spacing { border-radius:0; margin:0;}
.permissionsDiv { border:1px solid #ccc; border-radius:4px;}
.mat-checkbox-layout .mat-checkbox-label, .mat-expansion-panel-content { font:14px "Work Sans", sans-serif !important}