<div class="platformShowDiv rightSlide publisher">
  <div class="bgLGRColor p-3">
    <p class="mb-1">Now viewing</p>
    <p class="fs14 fw600 mb-0" *ngIf="watchingPlatform && watchingPlatform.name">{{watchingPlatform.name}}</p>
  </div>
  <!--<div class="ml-2 p-2">
    <p class="grColor fs12 mt-2">SWITCH TO</p>
    <p class="fs14 fw600 mb-0">Websites</p>
  </div>-->
  <div fxLayout = "column"
      fxLayout.xs="column"
      fxLayoutAlign="space-around start"> 

    <div *ngIf="websitesUS && websitesUS.length > 0" class="item item-1" fxFlex="usFlexPart">
      <div class="mt-2 pl-3 pr-3 pb-2 pt-2 mb-2 pubbr1" *ngIf="totalZones > 1">
        <img src="assets/flag/usa-flag.svg" width="18" class="img-fluid">  <span class="pl-2 fs13 fw600">US</span>
      </div>     
      <div class="table-responsive w80 overflow3" [style.height.px]="usOverlayHt">
        <table class="table mb-0">
          <tbody class="fs12">
            <tr *ngFor="let website of websitesUS" class="ml-2 p-4">
              <td width="20%"><img src="assets/images/pub_platform_create.svg" class="img-fluid" alt="Platform"></td>
              <td *ngIf="website.isWatching && website.zone === selectedMarketPlace" (click) = "switchPlatform(website, true)"><a >{{website.name}}</a></td>
              <td *ngIf="!website.isWatching || website.zone !== selectedMarketPlace" (click) = "switchPlatform(website, false)"><a class="">{{website.name}}</a></td>
              <td *ngIf="website.isWatching && website.zone === selectedMarketPlace " class="fs10">VIEWING</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="websitesInd && websitesInd.length > 0" class="item item-2 mt-3 pb-3" fxFlex="indiaFlexPart">
      <div class="mt-2 pl-3 pr-3 pb-2 pt-2 mb-2 pubbr1" *ngIf="totalZones > 1">
        <img src="assets/flag/indian-flag.svg" width="18" class="img-fluid">  <span class="pl-2 fs13 fw600">India</span>
      </div>
      <div class="table-responsive w80 overflow3" [style.height.px]="indiaOverlayHt"> 
        <table class="table mb-0">
          <tbody class="fs12">
            <tr *ngFor="let website of websitesInd" class="ml-2 p-4">
              <td width="20%"><img src="assets/images/pub_platform_create.svg" class="img-fluid" alt="Platform"></td>
              <td *ngIf="website.isWatching && website.zone === selectedMarketPlace" (click) = "switchPlatform(website, true)"><a class="">{{website.name}}</a></td>
              <td *ngIf="!website.isWatching || website.zone !== selectedMarketPlace" (click) = "switchPlatform(website, false)"><a class="">{{website.name}}</a></td>
              <td *ngIf="website.isWatching && website.zone === selectedMarketPlace " class="fs10">VIEWING</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="table-responsive" *ngIf="websitesUS && websitesUS.length === 0 && websitesInd && websitesInd.length === 0 ">
    <p class="text-center pl-2 fs13 fw600">No records found!</p>
  </div>
  <!--
  <hr class="m-0">

  <div class="p-3">
    <h2 class="fs14 fw600 mb-0">Apps</h2>
  </div>

  <div class="table-responsive" *ngIf="apps && apps.length">
    <table class="table mb-0">
      <tbody class="fs12">
        <tr *ngFor="let app of apps" class="ml-2 p-4">
          <td width="20%"><img src="assets/images/pub_platform_create.svg" class="img-fluid" width="100" alt="Platform">
          </td>
          <td *ngIf="app.isWatching">{{app.name}}</td>
          <td *ngIf="!app.isWatching" (click) = "switchPlatform(app._id)"><a class="">{{app.name}}</a></td>
          <td *ngIf="!app.isWatching"></td>
          <td *ngIf="app.isWatching"><a class="mainColor">VIEWING</a></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="table-responsive" *ngIf="apps.length === 0">
    <p class="text-center pl-2 fs13 fw600">No records found!</p>
  </div> -->
  <div class="divBottom">
    <button class="primaryBtn mainColor mainBordercolr wColor fs12 pt-1" (click) = "gotoManagePlatform()">Manage platform</button>
  </div>

</div>