.w80{ width: 80%; margin: auto; overflow: hidden;}
.w80 .table td, .table th{ border: none;}
.overflow3{ overflow-y: auto;}
.overflow3 a:hover{ text-decoration: underline;}
//tr td:hover{ text-decoration: underline;}
.text-underline a:hover{ text-decoration: underline;}
.pubbr1{border-bottom: 0.5px solid #007bff;}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey; 
    border-radius: 4px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: #e0e0e0;; 
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0; 
  }