input.mat-input-element {
	border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px 15px;
	margin: 0;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}
mat-select {
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 0;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}