<div *ngIf="pageView=='listView'">
  <div class="boxDiv mb-3 mt-3">
    <div class="table-responsive">
      <table class="table table-striped tableStyles">
        <thead>
          <tr class="mainBGcolor wColor">
            <th>Day of Month</th>
            <th colspan="4">Enabled</th>
            <th>
              <a (click)="renderAddView()" class="primaryBtn brwColor float-right wColor font-weight-normal">
                <i class="icon-6 fs14 fw600"></i> Add Schedule
              </a>
            </th>
          </tr>
        </thead>
        <tr *ngFor='let schedule of schedulePaymentsList'>
          <td>{{schedule.scheduleDayofMonth}}</td>
          <td colspan="4">{{schedule.enableSchedule}}</td>
          <td class="float-right">
            <a (click)="renderEditView(schedule._id)" class="mainColor tdu">
              <i class="icon-25 fs14 fw600"></i>
            </a>
            <a (click)="removeSchedulePayment(schedule._id)" class="mainColor tdu ml-4">
              <i class="icon-26 fs14 fw600"></i>
            </a>
          </td>
        </tr>
        <tr *ngIf='schedulePaymentsList.length === 0'>
          <td colspan="4" align="center">No account details found</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div *ngIf="pageView=='addView' || pageView=='editView'">
  <div class="boxDiv mt-3">		
	  <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
		<div class="row">
		  <div class="col-md-4 mt-2">
			<a class="wColor ttu fs14" (click)="renderListView()">
			  <i class="icon-49 fs14 fw600"></i> Back
			</a>
		  </div>
		  <div class="col-md-8" *ngIf="pageView === 'addView'">
			<h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add Schedule Payments</h5>
		  </div>
		  <div class="col-md-8" *ngIf="pageView === 'editView'">
			<h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Schedule Payments</h5>
		  </div>
		</div>
	  </div>
	  <div class="p-4">
		<form [formGroup]="schedulePaymentForm">
		  <div class="form-group row text-center text-danger" *ngIf="message">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			  <strong><i class="icon-17 fs16 fw600"></i> {{message}}</strong>
			</div>
		  </div>
		  <div class="row">
			<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
			  <label class="col-form-label formLabel">Day of Month</label>
			</div>
			<div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
			  <mat-select formControlName="scheduleDayofMonth" placeholder="Select">
				<mat-option *ngFor='let day of days' value="{{day}}">{{day}}</mat-option>
			  </mat-select>
			</div>
			<div class="col-sm-4 text-danger"
			  *ngIf="formSubmitted && schedulePaymentForm.controls['scheduleDayofMonth'].hasError('required')">
			  Schedule day of Month is required
			</div>
		  </div>
		  <div class="row">
			<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
			  <label class="col-form-label formLabel">Activate Schedule?</label>
			</div>
			<div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
			  <mat-select formControlName="enableSchedule" placeholder="Select">
				<mat-option value="">Select</mat-option>
				<mat-option value="Yes">Yes</mat-option>
				<mat-option value="No">No</mat-option>
			  </mat-select>
			</div>
			<div class="col-sm-4 text-danger"
			  *ngIf="formSubmitted && schedulePaymentForm.controls['enableSchedule'].hasError('required')">
			  Please select activation of schedule task
			</div>
		  </div>
		  <div class="form-group mt-3 clearfix text-center">
			<button *ngIf="pageView==='addView'" class="primaryBtn mainColor mainBordercolr float-center"
			  (click)="onSubmit()">
			  Save
			</button>
			<button class="primaryBtn mainColor mainBordercolr float-center" (click)="onEditSubmit()"
			  *ngIf="pageView==='editView'">
			  Save
			</button>
		  </div>
		</form>
	  </div>
  </div>
</div>	