<div class="bodyBg">
    <div class="mainDiv container advertiserDiv">
      <div class="row">
        <div class="col-md-6">
          <div class="reglogo">
            <div>
              <a target="_blank" href="http://doceree.com/">
                <img src="./assets/images/logo2.png" width="242" height="59" alt="" />
              </a>
            </div>
            <nav class="navbar navbar-default togleMenu">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggleBtn" data-toggle="collapse"
                  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <img src="./assets/images/togleIcon.jpg" width="34" height="23" alt="" />
                </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse menuExpand" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                  <li><a target="_blank" href="http://doceree.com/">Home</a></li>
                  <li><a target="_blank" href="http://doceree.com/about-doceree/">About Doceree</a></li>
                  <li><a target="_blank" href="http://doceree.com/espyian/">About ESPYIAN<span class="tm">TM</span></a>
                  </li>
                  <li><a target="_blank" href="http://doceree.com/features/">Features</a></li>
                  <li><a target="_blank" href="http://doceree.com/faq/">FAQs</a></li>
                  <!-- <li><a href="#">Contact Us</a></li> -->
                  <li><a target="_blank" href="http://doceree.com/careers/">Careers</a></li>
                  <li><a target="_blank" href="http://doceree.com/blog/">Blog</a></li>
                  <!--<li> <a href="#">Terms & Conditions</a></li> -->
                  <!-- <li><a href="#">Privacy Policy</a></li> -->
                  <!-- <li><a href="#">Disclaimer</a></li> -->
                </ul>
              </div>
            </nav>
          </div>
          <div class="registrationForm">
            <h1 class="h3" style="padding-bottom:24px;">Someone has sent you the power</h1>
  
            <form [formGroup]="registerViaCodeForm" (ngSubmit)="onSubmit()">

              <div class="col-md-8">
                <input type="input" class="form-control form-control_bg_tr" id="code"
                placeholder="Enter invite code here" name="code" formControlName="code" style="border-radius:5px !important;" >
                <!--
                <button *ngIf="validCode !== 2" type="button" class="btn mainBGcolor regloginBtl button_1 " style="margin-top:19px; margin-bottom: 0px;"
                [disabled]="validCode !== 1" (click)="toRegister($event)">
                Get Started
              </button>  
              -->
                <div class="error_1 glyphicon glyphicon-ok text-success" *ngIf="validCode === 1">
                    <mat-icon class="error_2_icon material-icons ">done</mat-icon>
                     Congratulations! You can now create your account to experience the future of Healthcare Professional
                     Marketing.
                     </div>  
                <div *ngIf="validCode === 2" style=" color: crimson; font-size: 11px; line-height: 28px;">
                    <span class="error_1_icon alert-danger mb-3" style="width: 19px;">!</span> The Special Invitation code that you have
                    entered is incorrect.
                  </div>
                  <div *ngIf="validCode !== 2" style=" color: #f4f4f4; font-size: 0px;">
                      <span style="width:0px"></span>&nbsp; </div> 
                <div >
                  <label class="error_3" style="color:#332f2f; margin-bottom: 7px !important;">If you do not have the invite code, leave your email ID here. We <br>will include your name when we release next round of invites. 
                  </label>
                 
                  <div style="clear: both;"></div>
                  <input type="email" class="form-control form-control_bg_tr" id="requestingEmail" placeholder="Enter your business email" 
                  name="requestingEmail" formControlName="requestingEmail">
                  <div class="invalidfeedback mb-0 pb-0" *ngIf="submitted && registerViaCodeForm.controls['requestingEmail'].hasError('pattern')" style="display: contents;">
                    Enter a valid email address
                  </div>
                 
                  <div style="clear: both"></div>
                  <div *ngIf="emailAdded === 1">
                    <label class="  error_3" style="margin-bottom: 0px; color: #28a745; "> <mat-icon class="error_2_icon success_icon material-icons " style="margin-left: 0px; width: 16px; height: 15px;">done</mat-icon> You have now been added. Watch out for the invite in your mailbox.</label>
                  </div>
                  <div style="clear: both;"></div>
                </div>
  
                <div class="invalidfeedback" *ngIf="validCode === 3 || emailAdded === 3">
                  {{ errorMsg }}
                </div>
              </div>
              
              <button type="submit" class="btn mainBGcolor regloginBtl button_1 " style=" margin-bottom: 0px !important; margin-top: 26px; "
                [disabled]="!registerViaCodeForm.valid">
                Send me the invite
              </button>
              <div style="clear: both;"></div>
              <h6 class="h6 mt-2">Already have an account? <a href="./login" class="mainColor fw600"
                  style=" text-decoration: underline;">Click here</a> to login.</h6>
            </form>
          </div>
          
          <footer class="rlFooter">
            <div class="clearfix">
              <a target="_blank" href="https://doceree.com/">Home</a>
              <a target="_blank" href="https://doceree.com/about-us/">About us</a>  
              <a target="_blank" href="https://doceree.com/media-agencies/">Media Agencies</a>
              <a target="_blank" href="https://doceree.com/brands/">Brands</a>
              <a target="_blank" href="https://doceree.com/publishers/">Publishers</a>
              <a target="_blank" href="https://doceree.com/how-it-works/">How it works</a>
              <a target="_blank" href="https://doceree.com/blog/">Blog</a>
              <a target="_blank" href="https://support.doceree.com/hc/en-us">FAQs</a>
            </div>
            <p>Copyright 2020 | Doceree Inc.</p>
          </footer>
        </div>
        <div class="col-md-6 mt-3">
          <img src="./assets/images/laptop-5.png" style="width:82.6%; height:100%" alt="" class="lapImg" />
        </div>
      </div>
    </div>
  </div>