body{ background: #f4f4f4 !important;}
 
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  
  /*.container {
    padding: 10px;
  }*/
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-element {
    padding: 1px 0px 10px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
  .container{ background: #f4f4f4;}
  
  .spacer {
    flex: 1 1 auto;
  }
  .text_heading{ font-weight: normal; color:#332f2f !important; }
  .text_heading_2{ padding-bottom: 20px;}
  .nopadding{padding: 0px;}
  .col-md-8{ padding: 0px;}
  .form-control_bg_tr{ background: transparent;  font-size: 12px;}
  .button_1{ padding: 5px 20px; }
  .error_1{ color: #535353; font-size: 11px; line-height: 10px; padding-bottom:30px;}
  .error_2{ color: #535353; font-size: 11px; line-height: 14px; }
  .error_3{color: #535353; font-size: 11px; }
  
      /* New css */
      .form-control_bg_tr {
        background: transparent;
        border: 1px solid #cacaca !important;
        color: #5a5a5a;
        font-size: 12px;
        border-radius: 5px;}
        
        .control_bg_tr input:focus{ color: #332f2f;}

      .invalidfeedback {font-size: 11px; margin: 14px 0px; border: none;}
    
    
  .error_1{ font-size:11px;  margin-top:5px; line-height: 15px; display:flex; padding-bottom: 0px;}
  .error_1_icon{background:#ff3939;  border-radius:50%; color:#FFFFFF; height: 14px !important; width: 14px !important; margin:5px 5px 0px 0px; line-height: 14px; text-align: center; float: left;}   
  .error_2_icon{background:#28a745;  border-radius:50%; color:#FFFFFF !important; height: 15px !important; width: 28px !important; margin:5px 5px 0px 8px; line-height: 15px; font-size: 12px !important; text-align: center; float: left; font-weight: bold;}
  .success_icon{ width:16px !important; height: 15px !important;}
  .rlFooter a, p{ font-size: 11px !important;}
  .h6{ font-size: 11px !important;}   
  .rlFooter{ position:inherit !important; margin-top: 30px;}

  .h6{ font-weight: normal !important;}




