<div class="pt-3 pb-2 mb-4">
  <h1 class="h2 mb-2">Welcome back, Weatherbee.</h1>
  <h6 class="h6">Here’s what’s changed since you last logged in on 16th October 2018 at 12:00 PM.</h6>
</div>

<div class="row">
  <div class="col-md-2 mb-3 pr-2">
    <div class="boxDiv">
      <div class="p1015">
        <div class="clearfix">
          <div class="float-left"><i class="icon-41 op5 fs24 mainColor"></i></div>
          <div class="float-right bgGColor wColor bgpr fs10"><i class="icon-47"></i> 22%</div>
        </div>
        <div class="clearfix">
          <h6 class="fs12 mt-1 float-left">Publishers</h6>
          <h2 class="fw float-right fs16 mb-0">52,455</h2>
        </div>
      </div>
      <hr class="m-0">
      <div class="p1015 mt-1 mb-1">
        <div class="clearfix">
          <div class="float-left"><i class="icon-40 op5 fs24 mainColor"></i></div>
          <div class="float-right bgGColor wColor bgpr fs10"><i class="icon-48"></i> 22%</div>
        </div>
        <div class="clearfix">
          <h6 class="fs12 mt-1 float-left">Advertisers</h6>
          <h2 class="fw float-right fs16 mb-0">27,213</h2>
        </div>
      </div>
      <hr class="m-0">
      <div class="p815 bgLGColor">
        <div class="clearfix">
          <h6 class="fs12 mt3 float-left">totale Users</h6>
          <h2 class="fw float-right fs16 mb-0">79,668</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 mb-3 pl-2 pr-2">
    <div class="boxDiv">
      <div class="p1015">
        <div class="clearfix">
          <div class="float-left"><i class="icon-42 op5 fs24 mainColor"></i></div>
          <div class="float-right bgGColor wColor bgpr fs10"><i class="icon-48"></i> 22%</div>
        </div>
        <div class="clearfix">
          <h6 class="fs12 mt-1 float-left">Assets</h6>
          <h2 class="fw float-right fs16 mb-0">62,121</h2>
        </div>
      </div>
      <hr class="m-0">
      <div class="p1015 mt-1 mb-1">
        <div class="clearfix">
          <div class="float-left"><i class="icon-43 op5 fs24 mainColor"></i></div>
          <div class="float-right bgGColor wColor bgpr fs10"><i class="icon-48"></i> 22%</div>
        </div>
        <div class="clearfix">
          <h6 class="fs12 mt-1 float-left">Campaigns</h6>
          <h2 class="fw float-right fs16 mb-0">52,355</h2>
        </div>
      </div>
      <hr class="m-0">
      <div class="p815 bgLGColor">
        <div class="clearfix">
          <h6 class="fs12 mt3 float-left">% utilization</h6>
          <h2 class="fw float-right fs16 mb-0">76%</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 mb-3 pl-2 pr-2">
    <div class="boxDiv">
      <div class="p1015">
        <div class="clearfix">
          <div class="float-left"><i class="icon-22 op5 fs24 mainColor"></i></div>
          <div class="float-right bgGColor wColor bgpr fs10"><i class="icon-48"></i> 22%</div>
        </div>
        <div class="clearfix">
          <h6 class="fs12 mt-1 float-left">Earnings</h6>
          <h2 class="fw float-right fs16 mb-0">{{currencySymbol}}1,64,315</h2>
        </div>
      </div>
      <hr class="m-0">
      <div class="p1015 mt-1 mb-1">
        <div class="clearfix">
          <div class="float-left"><i class="icon-44 op5 fs24 mainColor"></i></div>
          <div class="float-right bgGColor wColor bgpr fs10"><i class="icon-48"></i> 22%</div>
        </div>
        <div class="clearfix">
          <h6 class="fs12 mt-1 float-left">Spends</h6>
          <h2 class="fw float-right fs16 mb-0">{{currencySymbol}}3,34,621</h2>
        </div>
      </div>
      <hr class="m-0">
      <div class="p815 bgLGColor">
        <div class="clearfix">
          <h6 class="fs12 mt3 float-left">Commission</h6>
          <h2 class="fw float-right fs16 mb-0">{{currencySymbol}}170k</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="boxDiv mb-3">
      <div class="p1015 clearfix">
        <h6 class="fs11 float-left mt-1 mb-0">No. of HCPs</h6>
        <div class="float-right bgGColor wColor bgpr fs10"><i class="icon-47"></i> 22%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-45 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mt-1 mb-0">48,178</h2>
      </div>
    </div>
    <div class="boxDiv mb-3">
      <div class="p1015 clearfix">
        <h6 class="fs11 float-left mt-1 mb-0">Avg response time</h6>
        <div class="float-right bgRColor wColor bgpr fs10"><i class="icon-48"></i> 22%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-46 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mt-1 mb-0">2 hrs <small class="fs12">/ticket</small></h2>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 pr-2">
    <div class="table-responsive boxDiv">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs16 wColor float-left m68">Top Advertisers</h5>
        <a href="javascript: void(0)" routerLink = "topadvertisers" class="primaryBtn brwColor float-right wColor font-weight-normal">View all</a>
      </div>
      <table class="table table-striped tableStyles" mat-table [dataSource]="top5AdvertisersList" multiTemplateDataRows matSort (matSortChange)="sortTopAdvertisers($event)">
        <ng-container matColumnDef="Advertiser">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Advertiser">Advertiser</th>
          <td mat-cell *matCellDef="let element"> {{element.advertiser}} </td>
        </ng-container>
        <ng-container matColumnDef="Spends">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Spends"> Spends</th>
          <td mat-cell *matCellDef="let element"> {{currencySymbol}}{{ element.totalAmount | number : '1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="Active campaigns">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Active campaigns" > Active Campaigns</th>
          <td mat-cell *matCellDef="let element"> 
            {{ element.activeCampaigns}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="This Week">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="This Week" > This Week</th>
          <td mat-cell *matCellDef="let element"  class="gColor"> 
            {{ element.thisWeek | number : '1.2-2' }}%
          </td>
        </ng-container>
        <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="top5AdvColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: top5AdvColumns;"></tr>
    </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="table-responsive boxDiv">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs16 wColor float-left m68">Top Publishers</h5>
        <a routerLink = "toppublishers" class="primaryBtn brwColor float-right wColor font-weight-normal">View all</a>
      </div>
      <table class="table table-striped tableStyles" mat-table [dataSource]="top5PublishersList" multiTemplateDataRows matSort (matSortChange)="sortTopPublishers($event)">
        <ng-container matColumnDef="Publisher">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Publisher">Publisher</th>
          <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
        </ng-container> 
        <ng-container matColumnDef="Earnings">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Earnings"> Earnings</th>
          <td mat-cell *matCellDef="let element"> {{currencySymbol}}{{ element.totalAmount | number : '1.2-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="Active Assets">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Active Assets"> Active Slots</th>
          <td mat-cell *matCellDef="let element"> {{ element.activeAssets}} </td>
        </ng-container>

        <ng-container matColumnDef="This Week">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="This Week" > This Week</th>
          <td mat-cell *matCellDef="let element"  class="gColor"> 
            {{ element.thisWeek | number : '1.2-2' }}% 
          </td>
        </ng-container>
        <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="top5PubColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: top5PubColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6 pr-2">
    <!--<div class="table-responsive boxDiv">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs16 wColor float-left m68">Top Campaigns</h5>
        <a href="#" class="primaryBtn brwColor float-right wColor font-weight-normal">
          <i class="icon-27 fs18 float-left mr-2"></i> View analytics
        </a>
      </div>
      <table class="table table-striped tableStyles text-center">
        <thead>
        <tr>
          <th class="fw600 text-left" width="25%">Campaign Name</th>
          <th class="fw600">Type</th>
          <th class="fw600">Spends</th>
          <th class="fw600">Cost/click</th>
          <th class="fw600">Reach</th>
          <th class="fw600">This week</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">Crocin to the rescue</td>
          <td><i class="icon-12 fs20 mainColor fw600"></i></td>
          <td>$2,470</td>
          <td>$2.50</td>
          <td>470</td>
          <td><div class="bgRColor wColor bgpr1 fs10 d-inline-block"><i class="icon-48"></i> 22%</div></td>
          </tr>
          <tr>
            <td class="text-left">Crocin to the rescue</td>
          <td><i class="icon-14 fs20 mainColor fw600"></i></td>
          <td>$2,470</td>
          <td>$2.50</td>
          <td>470</td>
          <td><div class="bgGColor wColor bgpr1 fs10 d-inline-block"><i class="icon-47"></i> 22%</div></td>
          </tr>
          <tr>
            <td class="text-left">Crocin to the rescue</td>
          <td><i class="icon-12 fs20 mainColor fw600"></i></td>
          <td>$2,470</td>
          <td>$2.50</td>
          <td>470</td>
          <td><div class="bgRColor wColor bgpr1 fs10 d-inline-block"><i class="icon-48"></i> 22%</div></td>
          </tr>
          <tr>
            <td class="text-left">Crocin to the rescue</td>
          <td><i class="icon-14 fs20 mainColor fw600"></i></td>
          <td>$2,470</td>
          <td>$2.50</td>
          <td>470</td>
          <td><div class="bgGColor wColor bgpr1 fs10 d-inline-block"><i class="icon-47"></i> 22%</div></td>
          </tr>
          <tr>
            <td class="text-left">Crocin to the rescue</td>
          <td><i class="icon-12 fs20 mainColor fw600"></i></td>
          <td>$2,470</td>
          <td>$2.50</td>
          <td>470</td>
          <td><div class="bgRColor wColor bgpr1 fs10 d-inline-block"><i class="icon-48"></i> 22%</div></td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div class="table-responsive boxDiv">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs16 wColor float-left m68">Top Campaigns</h5>
        <!--<a routerLink = "toppublishers" class="primaryBtn brwColor float-right wColor font-weight-normal">View all</a> -->
        <a href="javascrippt:void(0)" class="primaryBtn brwColor float-right wColor font-weight-normal">
          <i class="icon-27 fs18 float-left mr-2"></i> View analytics
        </a>
      </div>
      <table class="table table-striped tableStyles" mat-table [dataSource]="top5CampaignsList" multiTemplateDataRows matSort (matSortChange)="sortTopCampaigns($event)">
        <ng-container matColumnDef="Campaign Name">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Campaign Name">Campaign Name</th>
          <td mat-cell *matCellDef="let element"> {{element.subcampaignName}} </td>
        </ng-container> 
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Type"> Type</th>
          <td mat-cell *matCellDef="let element"> <i [ngClass]="{'icon-12':element.type == 'Banner', 'icon-14':element.type == 'Video'}"
            class=" fs20 mainColor fw600"></i> </td>
        </ng-container>
        <ng-container matColumnDef="Spends">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Spends"> Spends</th>
          <td mat-cell *matCellDef="let element"> {{currencySymbol}}{{ element.spends}} </td>
        </ng-container>

        <ng-container matColumnDef="Cost">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Cost" > Cost/Click</th>
          <td mat-cell *matCellDef="let element"  class="gColor"> 
            {{ element.thisWeek | number : '1.2-2' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Reach">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Reach" > Reach</th>
          <td mat-cell *matCellDef="let element"  class="gColor"> 
            {{ element.reach}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="This Week">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="This Week" > This Week</th>
          <td mat-cell *matCellDef="let element"  class="gColor"> 
            {{ element.thisWeek | number : '1.2-2' }}% 
          </td>
        </ng-container>
        <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="topCampaignsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: topCampaignsColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="table-responsive boxDiv">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs16 wColor float-left m68">Top Assets</h5>
        <a href="javascrippt:void(0)" class="primaryBtn brwColor float-right wColor font-weight-normal">
          <i class="icon-27 fs18 float-left mr-2"></i> View analytics
        </a>
      </div>
      <table class="table table-striped tableStyles" mat-table [dataSource]="top5AssetsList" multiTemplateDataRows matSort (matSortChange)="sortTopAssets($event)">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Name">Name</th>
          <td mat-cell *matCellDef="let element"> {{element.assetName}} </td>
        </ng-container> 
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Type"> Type</th>
          <td mat-cell *matCellDef="let element"> <i [ngClass]="{'icon-12':element.assetType == 'Banner', 'icon-14':element.assetType == 'Video'}"
            class=" fs20 mainColor fw600"></i>  </td>
        </ng-container>
        <ng-container matColumnDef="Platform">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Platform"> Platform</th>
          <td mat-cell *matCellDef="let element"> {{currencySymbol}}{{ element.platformEarnings | number : '1.2-2' }} </td>
        </ng-container>

        <ng-container matColumnDef="Earnings">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Earnings" > Earnings</th>
          <td mat-cell *matCellDef="let element"  class="gColor"> 
            {{currencySymbol}}{{ element.assetEarnings | number : '1.2-2' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Utilized">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Utilized" > %Utilized</th>
          <td mat-cell *matCellDef="let element"  class="gColor"> 
            {{ element.utilized | number : '1.2-2' }}% 
          </td>
        </ng-container>
        <ng-container matColumnDef="This Week">
          <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="This Week" > This Week</th>
          <td mat-cell *matCellDef="let element"  class="gColor"> 
            {{ element.thisWeek | number : '1.2-2' }}% 
          </td>
        </ng-container>
        <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="top5AssetColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: top5AssetColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<div class="boxDiv mb-5 mt-4">
  <div class="mainBGcolor w-100 p-2 clearfix">
    <div class="row">
      <div class="col-md-6">
        <h5 class="fs16 wColor float-left m68">Performance Tracking</h5>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-4">
            <div class="br1 brwColor p-1 brr4 clearfix">
              <input class="bgNone br0 wColor float-left" style="width:80%" data-date-format="dd / mm / yyyy" id="datepicker">
              <i class="icon-23 fs20 wColor float-right"></i>
            </div>
          </div>
          <div class="col-1"><p class="wColor pt-1 mb-0">to</p></div>
          <div class="col-4">
            <div class="br1 brwColor p-1 brr4 clearfix">
              <input class="bgNone br0 wColor float-left" style="width:80%" placeholder="dd / mm / yyyy">
              <i class="icon-23 fs20 wColor float-right"></i>
            </div>
          </div>
          <div class="col-3">
            <select class="inputBox wColor brwColor bgNone cPointer p-1">
              <option class="mainBGcolor">Last 6 months</option>
              <option class="mainBGcolor">Last 3 months</option>
              <option class="mainBGcolor">Last 1 Year</option>
              <option class="mainBGcolor">Last 2 Year</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-4"> <img src="assets/images/chart1.svg" alt="chart"></div>
</div>

