<div class="bgImg" style="bottom:-50px;"><img src="assets/images/adv_thanksBgImg.svg" width="300" height="300" alt="AdvanalyticsBg"> </div>  
<div class="pt-3 mb40" *ngIf="assetVerified">
  <h1 class="h2"><i class="icon-18 gColor fs20"></i> {{mainMsg}}   </h1>
</div>
<div class="pt-3 mb40" *ngIf="!assetVerified">
  <h1 class="h2"><i class="icon-17 rColor fs20"></i>  {{mainMsg}} </h1>

</div>

<div class="row">
  <div class="col-md-7">
    <div class="boxDiv p-3">
      <div class="row">
        <div class="col-md-5"><img src="../../../assets/images/pub_platform_create.svg" width="100%" height="100%" alt="Platform"></div>
        <div class="col-md-7">
          <h3 class="fs14 "><strong>{{assetName}}</strong></h3>
          <p class="mb-2 mainColor" style="font-size: 11px;">{{fullUrl}}</p>
          <h6 class="h6  mb-2">{{assetDimensions}}</h6>
          
         <div class="col-md-12" style="float: left; left: -15px;" *ngIf="!assetVerified">
            <i _ngcontent-hls-c7="" class="icon-17 rColor fs13" style="POSITION: absolute;left: -5px;top: 6px;"></i>
          <h6 class="h6 mt-1" style="font-weight: normal;">{{p1Msg}} </h6>
          <h6 class="h6 mt-1" style="font-weight: normal;">{{p2Msg}} </h6>
         </div>

         <div class="col-md-12" style="float: right;" *ngIf="assetVerified">
            <i _ngcontent-hls-c7="" class="icon-18 gColor fs13" style="POSITION: absolute;left: -5px;top: 6px;"></i>
          <h6 class="h6 mt-1" style="font-weight: normal;">{{p1Msg}} </h6>
          <h6 class="h6 mt-1" style="font-weight: normal;">{{p2Msg}} </h6>
         </div>
        </div>
      </div>
    </div>
    <div class="boxDiv p-3 mt-1">
      <div class="float-right">
        <button  *ngIf="bankDetails && !bankDetails.length && rolePermissions && rolePermissions.includes('view_payment_method')" type="button" class="primaryBtn mainColor mainBordercolr" (click) ="navigateToPayments()">Start earnings on Slot!</button>
        <button type="button" class="primaryBtn mainColor mainBordercolr" (click) ="navigateToAssets()">Manage Slots</button>
      </div>
    </div>

  </div>
</div>
