.mat_option {
    border-radius: 4px !important;
    width: 100% !important;
    border: 1.5px solid #eeeeeebd !important;
    font-size: 12px !important;
    padding: 8px 15px !important;
    margin: 0 !important;
}
input.mat-input-element {
    border-radius: 4px;
    width:83% !important;
    border: none;
    padding:0px 5px;
    margin:0!important;
    background:transparent;
    color:#333;
    position:relative;
    top:-2px;
}
form-check-label {
    font-size: 12px;
}
.table td, .table th { border-bottom:1px solid #dee2e6!important; border-top:none!important}

.base_div_overlay{
    position: relative;
}

.main_div_overlay {
    height: 5000px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #f4f4f4;   /* opaque background to hide text */
    display: inline-block;
  }
  .ptb4{ padding:4px 15px!important;}
  .opDetails .mat-icon-button{ top: 2px !important;}
  .tradMak1 {
    position: relative;
    top: -4px !important;
}