<div  class="bgImg" style="top:50px; right:-30px; z-index:-1">
  <img alt="AdvanalyticsBg" src="assets/images/analyticsBg.svg" style="width:300px; height:250px;">
</div>

<div class="pt-4 mb40">
  <h1 class="h2">Performance Analytics</h1>
  <h6 class="h6 mt-1 fwn lineheight">You can see how all your campaigns, across brands, are performing. Here’s a comprehensive overview of their reach, spends, <br>click-throughs, audience, behavior, and conversion data, all in one place</h6>
</div>

<div class="row" *ngIf="isCampaignAnalyticsView">
  <div class="col-md-6">
    <div class="boxDiv mb-2">
      <div class="bgLGRColor profileForm p-2">
        <div class="row">
          <div class="col-4">
            <div class="mat-form-field-infix w-100">
              <mat-select (selectionChange)="onSelectCampaignInCampaignView($event.value)" placeholder="Select Campaign"
                [(value)]="selectedCampaign._id">
                <mat-option *ngFor="let option of campaignsList" [value]="option._id">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-4">
            <div class="mat-form-field-infix w-100" *ngIf = "subCampaignsList && subCampaignsList.length > 0"> 
              <mat-select placeholder="Select Sub-Campaign" (selectionChange)="onSelectSubCampaign($event.value)" [(value)]="selectedSubCampaignId">
                <mat-option *ngFor="let option of subCampaignsList" [value]="option._id">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </div>
            <div *ngIf = "subCampaignsList && subCampaignsList.length < 1">
              <span style="color: red; font-size: small">No Sub-Campaigns to View</span>
            </div>
          </div>
          <div class="col-4 mt-2 fw600">
            <a (click)="switchToBrandView()" class="mainColor fs12">View Brand Analytics</a>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="row">
          <div class="col-md-5"><img src="./assets/images/platformRightImg.svg" width="100%" height="100%"
              alt="Platform">
          </div>
          <div class="col-md-7">
            <h3 class="fs14"><strong>{{subCampaignName}}</strong></h3>
            <h6 class="h6">{{campaignDates}}</h6>
            <p class="mt-4 mb-0">{{subCampaignLocations}} {{budget}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="boxDiv br1 mainBordercolr pt-2 pb-2 filterDiv">
      <a (click)="displayFilters()" class="filterShowHide mainColor h6 pl-2 w-100 float-none  mb-0">
        Filter
        <i class="icon-48 grColor fs18 pr-1 float-right mt-1" *ngIf="!showfilters"></i>
        <i class="icon-47 grColor fs18 pr-1 float-right mt-1" *ngIf="showfilters"></i>
      </a>
    </div>
  </div>
</div>

<div class="row" *ngIf="!isCampaignAnalyticsView">
  <div class="col-md-6">
    <div class="boxDiv mb-2">
      <div class="bgLGRColor profileForm p-2">
        <div class="row">
          <div class="col-6 mt-2 fw600 fs14 ml-2">Viewing Brand</div>
          <div class="col-5">
            <div class="mat-form-field-infix w-100"  *ngIf = "campaignsList && campaignsList.length > 0">
              <mat-select (selectionChange)="onSelectCampaignInBrandView($event.value)" placeholder="Select Campaign">
                <mat-option *ngFor="let option of campaignsList" [value]="option._id">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </div>
            <div *ngIf = "campaignsList && campaignsList.length < 1">
              <span style="color: red; font-size: small">No Campaigns to View</span>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="row">
          <div class="col-md-5"><img src="./assets/images/platformRightImg.svg" width="100%" height="100%" alt="Platform"> </div>
          <div class="col-md-7">
            <h3 class="fs14"><strong>{{ brandName }}</strong></h3>
            <p class="fs11 mt-1 mb-0">{{ brandClientType }}</p>
            <p class="mt-4 mb-0 fs11">Active campaign | {{activeCampaignsInBrand}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="boxDiv br1 mainBordercolr pt-2 pb-2 filterDiv">
      <a (click)="displayFilters()" class="filterShowHide mainColor h6 pl-2 mb-0">
        Filter
        <i class="icon-48 grColor fs16 pr-1 float-right" *ngIf="!showfilters"></i>
        <i class="icon-47 grColor fs16 pr-1 float-right" *ngIf="showfilters"></i>
      </a>

    </div>
  </div>
</div>

<div class="filterShowDiv" [ngStyle]="{ 'display': showfilters === true ? 'block' : 'none' }">
  <form [formGroup]="saveFilterForm">
    <div class="boxDiv analyticsFilter p-2 mb-2" style="overflow:inherit; width:90%;">
      <div class="brrTL4TR4 p-2 clearfix">
          <div class="allInputBoxs w-100">
                <div class="boxsInput">
                    <div class="inputBox dateIcon opDetails inputBox_cle " >
                      <input matInput [matDatepicker]="startDate" [min]="startDateMin" [max]="startDateMax" formControlName="startDate" (dateInput)="addStartDateEvent('input', $event)" placeholder="From date" readonly>
                      <mat-datepicker-toggle matSuffix [for]="startDate" ></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                    </div>
                  </div>
                <div class="float-left p-2">
                    <p class="grColor pt-1 mb-0 text-center">to</p>
                  </div>
                <div class="boxsInput">
                    <div class="inputBox dateIcon opDetails inputBox_cle">
                      <input matInput [matDatepicker]="endDate" [min]="saveFilterForm.get('startDate').value" formControlName="endDate" placeholder="To date"
                        (dateInput)="addEndDateEvent('input', $event)" readonly>
                      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                      <mat-datepicker #endDate></mat-datepicker>
                    </div>
                  </div>

              <div class="boxsInput">
                  <mat-select class="mat_option" formControlName="duration" (selectionChange)="onSelectDuration($event.value)" placeholder="Select Duration">
                    <mat-option *ngFor="let option of filteredDuration" [value]="option.value">
                      {{option.name}}
                    </mat-option>
                  </mat-select>
              </div>

              <div class="boxsInput">
                  <mat-select class="mat_option" formControlName="filter" placeholder="Select Filter" (selectionChange)="onSelectFilter($event.value)">
                    <mat-option *ngFor="let option of savedFilters" [value]="option._id">
                      {{option.filterName}}
                    </mat-option>
                  </mat-select>
              </div>
          </div>
      </div>

      <div class="p-2 pt-2 clearfix">
        <div class="allInputBoxs w-100 clearfix">
          <div class="boxsInput">
              <p class="mt-0 mb-2 fw600 fs12">Specialization</p>
              <div *ngIf="specializationTreeList" class="inputBox">
                <app-drop-down-with-tree #ddTreeSpecialization formControlName="specialization" [items]="allSpecializationTreeItems"
                  (selectedChange)="onSpecializationSelectedChange($event)" (filterChange)="onSpecializationFilterChange($event)">
                </app-drop-down-with-tree>
              </div>
          </div>
          <div class="boxsInput">
            <p class="mt-0 mb-2 fw600 fs12">Gender</p>
            <div *ngIf="genderTreeList" class="inputBox">
              <app-drop-down-with-tree #ddTreeGender formControlName="gender" [items]="allGenderTreeItems"
                (selectedChange)="onGenderSelectedChange($event)" (filterChange)="onGenderFilterChange($event)">
              </app-drop-down-with-tree>
            </div>
          </div>
          <div class="boxsInput">
            <p class="mt-0 mb-2 fw600 fs12">Location</p>
            <div *ngIf="locationTreeList" class="inputBox">
                <app-drop-down-with-tree #ddTreeLocation formControlName="location" [items]="allLocationTreeItems"
                  (selectedChange)="onLocationSelectedChange($event)" (filterChange)="onLocationFilterChange($event)" class="optionsBox">
                </app-drop-down-with-tree>
              </div>
          </div>
        </div>
          <div class="float-right mt-3" style="width:71%">
            <div class="row">
              <div class="col-md-2 pl-2 pr-2 mt-2">
                <button class="primaryBtn mainColor mainBordercolr" (click)="pdfBuilder()">
                  <i class="icon-35 fs16 fw600 float-left"></i>PDF
                </button>
              </div>
              <div class="col-md-6 pl-2 pr-2">
                <div class="boxDiv br1 mainBordercolr">
                  <div class="row ">
                    <div class="col-9">
                      <input class="br0 focus fs12" style="padding:10px" formControlName="filterName" type="text" placeholder="Name this filter">
                    </div>
                    <div class="col-3">
                      <button type="button" class="primaryBtn brr0 mainColor br0 brl1 pl-0 pr-0 w-100" style="padding:10px 0" (click)="saveFilter()">Save</button>
                    </div>
                  </div>
                </div>
              </div>
              
              <!--<div class="col-md-5">    
              <div class="row mt-2">    
              <div class="col-md-5 pl-2 pr-2">
                <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0 float-right" (click)="applyFilter()">Apply</button>
              </div>
              <div class="col-md-7 pl-2 pr-2">
                <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0" (click)="clearFilter()">Clear Filter</button>
              </div>
            </div>
            </div>-->
            <div class="col-md-4">    
                <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0 mt-1" (click)="applyFilter(activeTab)">Apply</button>
                <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0 mt-1 ml-2" (click)="clearFilter(activeTab)">Clear</button>
            </div>    
            </div>  
          </div>

      </div>
    </div>
  </form>
</div>

<div class="cardDiv cardDiv1 clearfix">
    <div class="smallAllCards w-100 ml-1">
        <div class="row mt-2">
<div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Spends <i [matTooltip]="advertiser_analytics_spends" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right wColor bgpr fs10 bgRColor" [ngClass]="{
          'bgGColor':cardsData.increasedSpends >= 0,
          'bgRColor':cardsData.increasedSpends < 0
        }"><i class="icon-48" [ngClass]="{
          'icon-47':cardsData.increasedSpends >= 0,
          'icon-48':cardsData.increasedSpends < 0
        }"></i> {{ cardsData.increasedSpends ? (cardsData.increasedSpends| number:'.0-0') : 0 }}%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-22 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">{{currencySymbol}}{{cardsData.totalSpends | number: '1.0-0' }}</h2>
      </div>
    </div>
</div>
<div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Impressions <i [matTooltip]="advertiser_analytics_impressions" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
          'bgGColor':cardsData.increasedImpressions >= 0,
          'bgRColor':cardsData.increasedImpressions < 0
        }"><i class="icon-47" [ngClass]="{
          'icon-47':cardsData.increasedImpressions >= 0,
          'icon-48':cardsData.increasedImpressions < 0
        }"></i> {{ cardsData.increasedImpressions ? (cardsData.increasedImpressions | number:'.0-0') : 0 }}%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-21 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">
          {{ cardsData.totalImpressions ? (cardsData.totalImpressions | number:'.0-0') : '-' }}</h2>
      </div>
    </div>
</div>
<div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Reach <i [matTooltip]="advertiser_analytics_reach" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
              'bgGColor':cardsData.increasedReach >= 0,
              'bgRColor':cardsData.increasedReach < 0
            }"><i class="icon-47" [ngClass]="{
              'icon-47':cardsData.increasedReach >= 0,
              'icon-48':cardsData.increasedReach < 0
            }"></i> {{ cardsData.increasedReach ? (cardsData.increasedReach | number:'.0-0') : 0 }}%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-24 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">
          {{ cardsData.totalReach ? (cardsData.totalReach | number:'.0-0') : '-' }}</h2>
      </div>
    </div>
</div>
<div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Clicks <i [matTooltip]="advertiser_analytics_clicks" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
                    'bgGColor':cardsData.increasedClicks >= 0,
                    'bgRColor':cardsData.increasedClicks < 0
                  }"><i class="icon-47" [ngClass]="{
                    'icon-47':cardsData.increasedClicks >= 0,
                    'icon-48':cardsData.increasedClicks < 0
                  }"></i> {{ cardsData.increasedClicks ? (cardsData.increasedClicks | number:'.0-0') : 0 }}%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-30 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">
          {{ cardsData.totalClicks ? (cardsData.totalClicks | number:'.0-0') : '-' }}</h2>
      </div>
    </div>
  </div>
  <div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">CPC <i [matTooltip]="advertiser_analytics_cpc" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
                      'bgGColor':cardsData.increasedCPC >= 0,
                      'bgRColor':cardsData.increasedCPC < 0
                    }"><i class="icon-47" [ngClass]="{
                      'icon-47':cardsData.increasedCPC >= 0,
                      'icon-48':cardsData.increasedCPC < 0
                    }"></i> {{ cardsData.increasedCPC ? (cardsData.increasedCPC | number:'.0-0') : 0 }}%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-33 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">
          {{ cardsData.totalCPC ? (currencySymbol+(cardsData.totalCPC | number: '1.0-0')) : '-' }}</h2>
      </div>
    </div>
  </div>
  <div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">CPM <i [matTooltip]="advertiser_analytics_cpm" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
                        'bgGColor':cardsData.increasedCPM >= 0,
                        'bgRColor':cardsData.increasedCPM < 0
                      }"><i class="icon-47" [ngClass]="{
                        'icon-47':cardsData.increasedCPM >= 0,
                        'icon-48':cardsData.increasedCPM < 0
                      }"></i> {{ cardsData.increasedCPM ? (cardsData.increasedCPM | number:'.0-0') : 0 }}%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-46 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">
          {{ cardsData.totalCPM ? (currencySymbol+ (cardsData.totalCPM  | number:'1.0-0')) : '-' }}</h2>
      </div>
    </div>
  </div>
  <div class="smallCard" style="margin-bottom: 0px !important;">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">CTR <i [matTooltip]="advertiser_analytics_ctr" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
                    'bgGColor':cardsData.increasedCTR >= 0,
                    'bgRColor':cardsData.increasedCTR < 0
                  }"><i class="icon-47" [ngClass]="{
                    'icon-47':cardsData.increasedCTR >= 0,
                    'icon-48':cardsData.increasedCTR < 0
                  }"></i> {{ cardsData.increasedCTR ? (cardsData.increasedCTR | number:'.0-0') : 0 }}%</div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-32 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">
          {{ cardsData.totalCTR ? (cardsData.totalCTR | number:'.0-0') +'%' : '-' }}</h2>
      </div>
    </div>
  </div>
</div>
    </div> 
</div>         
<ul class="nav nav-pills mt-1 tabsStyles" role="tablist">
  <li class="nav-item" *ngIf="!isSubcampaignSelected"> <a class="nav-link fs13 fw600 bgNone brr0" data-toggle="pill"
      href="#campaignsTab" (click)="changeTab('campaignsTab')" [ngClass] = "{'active': activeTab === 'campaignsTab'}">Campaigns</a> </li>
  <li class="nav-item"> <a class="nav-link fs13 fw600 brr0 bgNone" data-toggle="pill"
      href="#audienceTab" (click)="changeTab('audienceTab')" [ngClass] = "{'active': activeTab === 'audienceTab'}">Audience</a> </li>
  <li class="nav-item"> <a class="nav-link fs13 fw600 bgNone brr0" data-toggle="pill"
      href="#behaviorTab" (click)="changeTab('behaviorTab')" [ngClass] = "{'active': activeTab === 'behaviorTab'}">Behavior</a> </li>
  <li class="nav-item"> <a class="nav-link fs13 fw600 bgNone brr0" data-toggle="pill"
      href="#conversionTab" (click)="changeTab('conversionTab')" [ngClass] = "{'active': activeTab === 'conversionTab'}">Conversion</a> </li>
</ul>

<div class="tab-content mb-5">
  <div id="campaignsTab" class="tab-pane" *ngIf="activeTab === 'campaignsTab'" [ngClass]="{'active': activeTab === 'campaignsTab'}">
    <div class="boxDiv mb-2 mt-2">
      <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
        <div class="row">
          <div class="col-md-10">
            <h5 class="fs13 fw600 wColor float-left pl-2">Top Campaigns <i [matTooltip]="advertiser_analytics_behaviour_top_campaigns" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
          </div>
        </div>
      </div>
      <div class="p-3">
          <!-- <div class="clearfix">
              <div class="float-right graphchartDiv graphchartDiv1 br0">
                  <p class="mb-0 pt-0"><span class="b1color float-left"></span>Image</p>
              </div>
          </div> -->
          <div *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.campaignsTopCampaigns.length" class="float-left mt-3 op6"><div style="vertical-align:middle; display:table-cell; overflow:hidden; height:280px;"><img alt="AdvanalyticsBg" src="assets/images/spendImg.png" style="height:180px;"></div></div>

        <div id="campaignTopCampaignsScatterChart" style="width:973px; height:300px; margin:-10px 0 0 30px">
          <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.campaignsTopCampaigns.length  && showGraphSpinner">
              <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
          </div>
        </div>
        <div *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.campaignsTopCampaigns.length" class="tac m-3 op6"><img alt="AdvanalyticsBg" src="assets/images/reachImg.png" style="width:350px"></div>  
      </div>
    </div>
      
    <div class="boxDiv mb-2 mt-2">
      <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
        <div class="row">
          <div class="col-md-10">
            <h5 class="fs13 fw600 wColor float-left pl-2">Active Campaigns <i [matTooltip]="advertiser_analytics_behaviour_active_campaigns" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
          </div>
        </div>
      </div>
      <div class="p-3">
        <!-- <div class="clearfix">
            <p class="float-left mb-0">Number</p>
            <div class="float-right graphchartDiv graphchartDiv1 br0">
                <p class="mb-0 pt-0"><span class="b1color float-left"></span>Banners</p>
            </div>
        </div> -->
        <div id="campaignsActiveCampaignsBarChart" style="width:973px; height:300px; margin:-10px 0 0 20px">
          <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.campaignsActiveCampaigns.length && showGraphSpinner">
              <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
          </div>
        </div>																								   													   
        </div>
      </div>
      <div class="base_div_overlay" *ngIf="hideExtraGraph">
          <div id="audienceLocationChart" style="width:650px; height:300px;"></div>
          <div id="audienceFrequencyPieChart" style="width:370px; height:290px;"></div>
          <div id="specializationStackedBarChart" style="width:1000px; height:300px"></div>
          <div id="drawAudienceHCPArcheTypeBarChart" style="width:540px; height:300px;"></div>
          <div id="behaviorDisplayLocationStackedBarChart" style="width:630px; height:300px;"></div>
          <div id="behaviorDevicesDonutChart" style="width:370px; height:300px"></div>
          <div id="conversionResultLineChart" style="width:973px; height:350px;"></div>
          <div id="conversionEngagementAreaChart" style="width:973px; height:350px;"></div>
          <div class="main_div_overlay"></div>
      </div>
  </div>
    
  <div id="audienceTab" class="tab-pane" *ngIf="activeTab === 'audienceTab'" [ngClass]="{'active': activeTab === 'audienceTab'}">
      <div class="boxDiv mb-2 mt-2">
      <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
        <div class="row">
          <div class="col-md-10">
            <h5 class="fs13 fw600 wColor float-left pl-2">Specializations<i [matTooltip]="advertiser_analytics_audience_specializations" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
          </div>
        </div>
      </div>
      <div class="p-3">
          <!-- <div class="clearfix">
              <div class="float-right graphchartDiv graphchartDiv1 br0">
                  <p class="mb-0"><span class="w1color float-left"></span>Female</p>
                  <p class="mb-0"><span class="bcolor float-left"></span>Male</p>
                  <p class="mb-0"><span class="ycolor float-left"></span>Other</p>
              </div>
          </div>  -->
          <div id="specializationStackedBarChart" style="width:1000px; height:300px; margin:-10px 0 0 10px">
            <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.audienceSpecialization.length && showGraphSpinner">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
          </div>
      </div>
    </div>
      
      <div class="boxDiv mb-2 mt-2">
        <div class="mainBGcolor w-100 pl-3 pr-2 stptb clearfix">
          <div class="row">
            <div class="col-md-10">
              <h5 class="fs13 fw600 wColor float-left ">Location <i [matTooltip]="advertiser_analytics_audience_location" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
            </div>
          </div>
        </div>
        <div class="p-3">
            <div class="row"> 
                <div class="col-md-8">
                  <div id="audienceLocationChart" class="specializations locationMap" style="width:650px; height:300px;">
                      <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.audienceLocation.length && showGraphSpinner">
                          <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
                      </div>
                    </div>
                  </div>
                <div class="col-md-4" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.audienceLocation.length">
                    <div class="mr-4 br1 brCColor brr4 mt-4">
                      <div style="height:250px; overflow:auto;">
                        <table class="table fs12">
                            <tr style="color: #5a2af9">
                                <td>State</td>
                                <td style="text-align: center">Views %</td>
                            </tr>
                            <ng-container *ngFor="let item of locationDetailsdata">
                                <tr>
                                    <td>{{item.state}}</td>
                                    <td style="text-align: center">{{item.showValue | number : '1.2-2'}}%</td>
                                </tr>
                            </ng-container>
                        </table>
                      </div>
                    </div>    
                </div>
            </div>
            <!--<div class="float-left" style="width:720px">
              <div class="float-right graphchartDiv graphchartDiv1 br0" style="position:relative; z-index:9; margin:10px 60px 15px 0">
                  <p class="mb-0"><span class="b1color float-left"></span>0-20%</p>
                  <p class="mb-0"><span class="b1color op4 float-left"></span>20-40%</p>
                  <p class="mb-0"><span class="b1color op6 float-left"></span>40-60%</p>
                  <p class="mb-0"><span class="b1color float-left"></span>60-80%</p>
              </div>
            </div>         -->     
          </div>
      </div>
      
      <div class="row">
        <div class="col-md-7 pr-0" *ngIf="zone === '1'">
          <div class="boxDiv mb-3">
            <div class="mainBGcolor w-100 pl-3 pr-2 stptb clearfix">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="fs13 fw600 wColor float-left ">HCP Archetypes <i [matTooltip]="advertiser_analytics_audience_hcp_archetypes" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
                </div>
              </div>
            </div>
            <div class="p-3"> 
              <div id="drawAudienceHCPArcheTypeBarChart" style="width:540px; height:300px; margin:-10px 0 0 10px;">
                <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.audienceArcheType && showGraphSpinner">
                    <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 pr-0">
          <div class="boxDiv mb-3">
            <div class="mainBGcolor w-100 pl-3 pr-2 stptb clearfix">
                  <h5 class="fs13 fw600 wColor float-left ">Frequency <i [matTooltip]="advertiser_analytics_audience_frequency" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
            </div>
            <div class="p-3">
              <div id="audienceFrequencyPieChart" style="width:370px; height:290px;">
                <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.audienceFrequency.length && showGraphSpinner">
                    <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="base_div_overlay" *ngIf="hideExtraGraph">
      <div id="campaignsActiveCampaignsBarChart" style="width:973px; height:300px;"></div>
      <div id="campaignTopCampaignsScatterChart" style="width:973px; height:300px;"></div>
      <div id="behaviorDisplayLocationStackedBarChart" style="width:630px; height:300px;"></div>
      <div id="behaviorDevicesDonutChart" style="width:370px; height:300px"></div>
      <div id="conversionResultLineChart" style="width:973px; height:350px;"></div>
      <div id="conversionEngagementAreaChart" style="width:973px; height:350px;"></div>
      <div class="main_div_overlay"></div>
  </div>
</div>
    
  <div id="behaviorTab" class="tab-pane" *ngIf="activeTab === 'behaviorTab'"  [ngClass]="{'active': activeTab === 'behaviorTab'}">
  <div class="row">
    <div class="col-md-7">
      <div class="boxDiv mb-2 mt-2">
        <div class="mainBGcolor w-100 pl-3 pr-2 stptb clearfix">
          <div class="row">
            <div class="col-md-4">
              <h5 class="fs13 fw600 wColor float-left pl-0">Frequency <i [matTooltip]="advertiser_analytics_behaviour_time_of_the_day" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div id="heatmap" style="width:540px; height:300px; margin:-10px 0 0 0;">
          </div>
        </div>
      </div>
    </div>
      
    <div class="col-md-5">
      <div class="boxDiv mb-2 mt-2">
        <div class="mainBGcolor w-100 pl-3 pr-2 stptb clearfix">
          <div class="row">
            <div class="col-md-7">
              <h5 class="fs13 fw600 wColor float-left ">Devices <i [matTooltip]="advertiser_analytics_behaviour_devices" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
            </div>
          </div>
        </div>
        <div class="p-3"> 
          <div id="behaviorDevicesDonutChart" style="width:370px; height:300px; margin:-10px 0 0 0;">
            <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.behaviorDevices && showGraphSpinner">
                <img src="../assets/images/graphLoading.gif" alt
                ="loading" width="10%" height="50%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row">    
  <div class="col-md-8">
    <div class="boxDiv mb-0 mt-0">
      <div class="mainBGcolor w-100 pl-3 pr-2 stptb clearfix">
        <div class="row">
          <div class="col-md-8">
            <h5 class="fs13 fw600 wColor float-left ">Display location <i [matTooltip]="advertiser_analytics_behaviour_display_location" class="icon-78 tradMak1 fs9 wdColor"></i>

            </h5>
          </div>
          <!-- <div class="col-md-4">
                      <div class="row">
                          <div class="col-3"><i class="icon-31 fs30 wColor"></i></div>
                          <div class="col-9">
                              <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                  <option class="mainBGcolor">Viewing all</option>
                                  <option class="mainBGcolor">Viewing 1</option>
                                  <option class="mainBGcolor">Viewing 2</option>
                                  <option class="mainBGcolor">Viewing 3</option>
                              </select>
                          </div>
                      </div>
                  </div>-->
        </div>
      </div>
      
      <div class="p-3"> 
        <div id="behaviorDisplayLocationStackedBarChart" style="width:630px; height:300px;">
          <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.behaviorDisplayLocation.length && showGraphSpinner">
              <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
          </div>
        </div>
        <!--  <img src="./assets/images/chart5.png" class="img-fluid" alt="chart"> -->
      </div>
    </div>

  </div>
</div>
<div class="base_div_overlay" *ngIf="hideExtraGraph">
    <div id="campaignsActiveCampaignsBarChart" style="width:973px; height:300px;"></div>
    <div id="campaignTopCampaignsScatterChart" style="width:973px; height:300px;"></div>
    <div id="audienceLocationChart" style="width:650px; height:300px;"></div>
    <div id="audienceFrequencyPieChart" style="width:370px; height:290px;"></div>
    <div id="specializationStackedBarChart" style="width:1000px; height:300px"></div>
    <div id="drawAudienceHCPArcheTypeBarChart" style="width:540px; height:300px;"></div>
    <div id="conversionResultLineChart" style="width:973px; height:350px;"></div>
    <div id="conversionEngagementAreaChart" style="width:973px; height:350px;"></div>
    <div class="main_div_overlay"></div>
</div>
</div>  
    
<!--  [ngClass]="{'fade' : showSiteAnalytics, 'fade' : !showSiteAnalytics}" -->
  <div id="conversionTab" class="tab-pane" *ngIf="activeTab === 'conversionTab'" [ngClass]="{'active': activeTab === 'conversionTab'}">
  <div class="boxDiv mb-2 mt-2">
    <div class="mainBGcolor w-100 pl-3 pr-2 stptb clearfix">
      <h5 class="fs13 fw600 wColor float-left  mb-0">Engagement <i [matTooltip]="advertiser_analytics_conversion_engagement" class="icon-78 tradMak1 fs9 wdColor"></i>

      </h5>
    </div>
    <div>
      <div id="conversionEngagementAreaChart" style="width:973px; height:350px;">
        <div class="graphLoading text-center" *ngIf="(analyticsGraphsDataTemp &&!analyticsGraphsDataTemp.conversionEnagement) && showGraphSpinner">
            <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
        </div>
      </div>
      <div class="clear"></div>
      <div class="graphchartDiv mt-4" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.conversionEnagement && analyticsGraphsDataTemp.conversionEnagement.data">
        <div class="row">
          <div class="col-sm-4">
            <p><span class="engImpcolor"></span>Impressions <strong>{{engagementImpressions}}</strong></p>
          </div>
          <div class="col-sm-4 brl1 grColor ">
            <p><span class="engReccolor"></span>Reach <strong>{{engagementReach}}</strong></p>
          </div>
          <div class="col-sm-4 brl1 grColor ">
            <p><span class="engClickcolor"></span>Clicks <strong>{{engagementClicks}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="boxDiv mb-5 mt-0">
    <div class="mainBGcolor w-100 pl-3 pr-2 stptb clearfix">
      <h5 class="fs13 fw600 wColor float-left  mb-0">Results <i [matTooltip]="advertiser_analytics_conversion_results" class="icon-78 tradMak1 fs9 wdColor"></i></h5>
    </div>
    <div>
      <div id="conversionResultLineChart" class="specializations" style="width:973px; height:350px;">
        <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp &&!analyticsGraphsDataTemp.conversionResult && showGraphSpinner">
            <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
        </div>
      </div>
      <div class="clear"></div>
      <div class="graphchartDiv mt-4" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.conversionEnagement && analyticsGraphsDataTemp.conversionResult.data">
        <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <div class="col-md-3 mr-0 pr-0 ">
                <mat-button-toggle-group [(ngModel)]="toggleSpends" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="Spends" (click)="twoToggle('Spends')">
                      <p><span class="resEarncolor"></span>Spends <strong>{{currencySymbol}}{{resultSpends | number : '1.2-2'}}</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor mr-0 pl-0 pr-0">
                <mat-button-toggle-group [(ngModel)]="toggleCPM" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CPM" (click)="twoToggle('CPM')">
                      <p><span class="resCPMcolor"></span>CPM <strong>{{currencySymbol}}{{resultCPM | number : '1.2-2'}}</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor mr-0 pl-0 pr-0">
                <mat-button-toggle-group [(ngModel)]="toggleCTR" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CTR" (click)="twoToggle('CTR')">
                      <p><span class="resCTRcolor"></span>CTR <strong>{{resultCTR | number : '1.2-2'}}%</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor mr-0 pl-0 pr-0">
                <mat-button-toggle-group [(ngModel)]="toggleCPC" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CPC" (click)="twoToggle('CPC')">
                      <p><span class="resCPCcolor"></span>CPC <strong>{{currencySymbol}}{{resultCPC | number : '1.2-2'}}</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
        </div>
      </div>
      <div class="base_div_overlay" *ngIf="hideExtraGraph">
        <div id="campaignsActiveCampaignsBarChart" style="width:973px; height:300px;"></div>
        <div id="campaignTopCampaignsScatterChart" style="width:973px; height:300px;"></div>
        <div id="audienceLocationChart" style="width:650px; height:300px;"></div>
        <div id="audienceFrequencyPieChart" style="width:370px; height:290px;"></div>
        <div id="specializationStackedBarChart" style="width:1000px; height:300px"></div>
        <div id="drawAudienceHCPArcheTypeBarChart" style="width:540px; height:300px;"></div>
        <div id="behaviorDisplayLocationStackedBarChart" style="width:630px; height:300px;"></div>
        <div id="behaviorDevicesDonutChart" style="width:370px; height:300px"></div>
        <div class="main_div_overlay"></div>
    </div>
    </div>
  </div>
</div>
</div>
<div style="display: none;">
  <div id="chart-n-data"></div>
</div>
<div style="display: none;">
  <img id="analytics_header" src="../../../assets/images/advertiser_report_header.png" alt="">
  <img id="doceree_logo" src="../../../assets/images/logo2.png" alt="">
</div>
