<div class="bodyBg">
    <div class="mainDiv container advertiserDiv">
      <div class="row">
        <div class="col-md-6">
          <div class="reglogo">
            <div>
              <a target="_blank" href="http://doceree.com/">
                <img src="./assets/images/logo2.png" width="242" height="59" alt="" />
              </a>
            </div>
          </div>
  
          <div class="password-exp">
            <!--<h3 class="h4">PASSWORD EXPIRY</h3>-->
            <h1 class="h3 ">Change your password</h1>
                  <div class="row mt-3"></div>
              <mat-card-content>
                <form *ngIf="message !== 'INVALID_TOKEN'; else errBlock;" [formGroup]="resetForm" (ngSubmit)="updatePwd()" class="form">
                  <div [ngClass]="status  ? 'alert-success' : 'alert-danger'">
                    {{ message }}
                  </div>
                  
               <div class="row col-md-8 mb-3">
                  <div class="password_expire">
                      <mat-form-field appearance="outline" class="pl-0">
                       <!--<mat-label>Current Password</mat-label>--> 
      
                       <div class="form-control logininputBox loginInput form-control_bg_tr mb-0"> 
                         <input matInput formControlName="currentpassword" placeholder="Current Password" minlength="8" required [type]="hide ? 'password' : 'text'" />
                        <mat-icon matSuffix (click)="hide = !hide" class="float-right icon-pt">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></div>
                          
                          <mat-error *ngIf="resetForm.controls['currentpassword'].hasError('required')">
                            Current Password is required
                          </mat-error>
                          <mat-error *ngIf="resetForm.controls['currentpassword'].hasError('minlength')">
                            Current Password must be at least 8 characters
                          </mat-error>
                          <mat-error *ngIf="resetForm.controls['currentpassword'].hasError('validPassword')">
                            Current Password should contain uppercase, lowercase, numbers and special characters
                          </mat-error>
                      </mat-form-field></div>

               </div>
                          
               <div class="row col-md-8" style="padding: 0px; margin: 0px;">
                  <div class="password_expire">
                  <mat-form-field appearance="outline" >
                   <!-- <mat-label>New Password</mat-label>-->
                    
                   <div class="form-control logininputBox loginInput form-control_bg_tr mb-0"> 
                     <input matInput formControlName="password" placeholder="New Password" minlength="8" required [type]="hide ? 'password' : 'text'" />
                      <mat-icon matSuffix (click)="hide = !hide" class="float-right icon-pt">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </div>
                      <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
                        Password is required
                      </mat-error>
                      <mat-error *ngIf="resetForm.controls['password'].hasError('minlength')">
                        Password must be at least 8 characters
                      </mat-error>
                      <mat-error *ngIf="resetForm.controls['password'].hasError('validPassword')">
                        Password should contain uppercase, lowercase, numbers and special characters
                      </mat-error>
                      <mat-error *ngIf="resetForm.controls['password'].hasError('samePassword')">
                        Current Password and New Password cannot be Same.
                      </mat-error>
                  </mat-form-field></div></div>

                  <div class="row col-md-8">
                      <div class="password_expire">
                  <mat-form-field appearance="outline" >
                   <!--<mat-label>Confirm Password</mat-label>-->
                   <div class="form-control logininputBox loginInput form-control_bg_tr mb-0"> 
                    <input matInput formControlName="confirmPassword" placeholder="Confirm New Password"
                      minlength="8" required  [type]="confirmHide ? 'password' : 'text'"/>
                      <mat-icon matSuffix (click)="confirmHide = !confirmHide" class="float-right icon-pt">{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </div>
                      <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('required')">
                        Confirm Password is required
                      </mat-error>
                      <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('minlength')">
                        Confirm Password must be at least 8 characters
                      </mat-error>
                      <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('validPassword')">
                        Confirm Password should contain uppercase, lowercase, numbers and special characters
                      </mat-error>
                      <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('mustMatch')">
                        Passwords must match
                      </mat-error>  
                  </mat-form-field>
                  </div></div>
                  
                  <div class="row">
                    <div class="col-sm-12 mt-3">
                        <button type="submit" class="btn mainBGcolor regloginBtl fw600" style="margin-bottom: 10px !important; border-radius: 40px; padding: 3px 30px; color: #ffffff !important;">Submit</button>
                        <h6 class="h6 "><a href="/forgotpassword" class="tdu mainColor fw600">Forgot your Password?</a></h6>
            <h6 class="h6 mt-2">Don’t have an account? <a href="/register-via-code" class="mainColor fw600">Click here</a> to get on in less that 5 minutes!</h6>
                    </div>
                  </div>
                </form>
                <ng-template #errBlock>Token has been expired, please contact admin</ng-template>
              </mat-card-content>
        
          </div>
          <footer class="rlFooter">
            <div class="clearfix">
              <a target="_blank" href="https://doceree.com/">Home</a>
              <a target="_blank" href="https://doceree.com/about-us/">About us</a>  
              <a target="_blank" href="https://doceree.com/media-agencies/">Media Agencies</a>
              <a target="_blank" href="https://doceree.com/brands/">Brands</a>
              <a target="_blank" href="https://doceree.com/publishers/">Publishers</a>
              <a target="_blank" href="https://doceree.com/how-it-works/">How it works</a>
              <a target="_blank" href="https://doceree.com/blog/">Blog</a>
              <a target="_blank" href="https://support.doceree.com/hc/en-us">FAQs</a>
            </div>
            <p>Copyright 2020 | Doceree Inc.</p>
          </footer>
        </div>
        <div class="col-md-6 mt-3">
          <img src="./assets/images/laptop.jpg" style="width:82.6%; height:100%" alt="" class="lapImg" />
        </div>
      </div>
    </div>
  </div>
  