<div class="pt-4 mb40">
    <h1 class="h2 ">Customer Support</h1>
    <h6 class="h6 mt-1 fwn lineheight">Here are the updates and replies provided by our customer support team for the tickets you raised, all in one place</h6>
</div>

<!-- <div class="row">
  <div class="col-md-5">
    <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
          <input class="br0 focus col-8 pt-3 pb-3" type="text" placeholder="Type an asset name...">	
          <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
        </div>	
      </div>
    </div>
  </div>
</div> -->

<!--- 
<div class="filterShowDiv d-block" *ngIf = "tickets && tickets.length">
  <div class="boxDiv p-4">
    <div class="row">
      <div class="col-md-2 selectWrapper">
        <select class="inputBox">
          <option>Filter by site</option>
          <option>Filter by site 1</option>
          <option>Filter by site 2</option>
          <option>Filter by site 3</option>
          </select>
      </div>
      <div class="col-md-2 selectWrapper">
        <select class="inputBox">
          <option>Filter by status</option>
          <option>Filter by status 1</option>
          <option>Filter by status 2</option>
          <option>Filter by status 3</option>
          </select>
      </div>
      <div class="col-md-2 selectWrapper">
        <select class="inputBox">
          <option>Filter by type</option>
          <option>Filter by type 1</option>
          <option>Filter by type 2</option>
          <option>Filter by type 3</option>
          </select>
      </div>
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-2">
        <button class="primaryBtn mainColor mainBordercolr float-right">Apply</button>
      </div>
    </div>
  </div>
</div>
-->


<div class="table-responsive boxDiv mt-3 mb-5" *ngIf = "tickets && tickets.length">
    <table class="table table-striped tableStyles" mat-table [dataSource]="tickets">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="fs12 fw600 wColor "> ID </th>
        <td mat-cell *matCellDef="let element">{{element.ticketId}}</td>
      </ng-container>
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef class="fs12 fw600 wColor"> Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
      </ng-container>
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef class="fs12 fw600 wColor"> Priority </th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="fs12 fw600 wColor"> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef class="pr-3 fs12 fw600 wColor ">Created on</th>
          <td mat-cell *matCellDef="let element"> {{ element.created.at | date:'d MMM yyyy' }} </td>
      </ng-container>
      <ng-container matColumnDef="updatedOn">
          <th mat-header-cell *matHeaderCellDef class="pr-3 fs12 fw600 wColor ">Updated on</th>
          <td mat-cell *matCellDef="let element"> {{ element.updated.at | date:'d MMM yyyy' }} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="wColor fs15 text-wrap"></th>
        <td mat-cell *matCellDef="let element" class="dropdown">
          <button *ngIf="element.status === 'Solved' || element.status === 'Closed'" class="dropboxIcons br0 bgNone publisherDiv" routerLink="/advertiser/ticketDetails/{{element.ticketId}}">
            <i class="icon-21 fs18 mainColor"></i>
          </button>
          <button *ngIf="!(element.status === 'Solved' || element.status === 'Closed')" class="dropboxIcons br0 bgNone publisherDiv" routerLink="/advertiser/ticketDetails/{{element.ticketId}}">
            <!--<i class="icon-25 fs16 mainColor"></i>-->
            <img alt="AdvanalyticsBg" src="assets/adv_chat_icon-01.svg" style="width:20px; height:20px;">
           
          </button>
        </td>
      </ng-container>
      
      <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="boxDiv grColor p-3 mt-2 fs13" *ngIf = "tickets && !tickets.length">
There are no open tickets. Raise a ticket from our support desk for any accounting, technical or logistical issues.
</div> 

