<div class="custom-dialog info advertiserDiv">
  <div class="modal-content">
      <div class="modal-body p-4">
          <h4 class="dialog-title">Review credit line</h4>
          <mat-dialog-content class="mt-4">
          <form >
            <div class="row p-4 centerAlignContent" *ngFor="let item of uploadedDocuments; let i = index">
              <img [src]="item.location"/>
            </div>
          </form>
        </mat-dialog-content>
    </div>
    <div class="modal-footer border-0 pt-0">            
        <mat-dialog-actions class="mb-0">
          <button mat-raised-button [mat-dialog-close]="false" class="primaryBtn mainColor mainBordercolr">
            Close
          </button>
        </mat-dialog-actions>
    </div>
  </div>
</div>
