<div class="mainDiv publisherDiv">
  <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 mainBGcolor">
    <div class="fixedWidth">  
    <a *ngIf = "hasPersonalProfile" class="navbar-brand logo" routerLink="/publisher/dashboard"><img src="assets/images/new_publogo.png" width="34" height="34" alt="logo"></a>
    <a *ngIf = "!hasPersonalProfile" class="navbar-brand logo op05"><img src="assets/images/new_publogo.png" width="34" height="34" alt="logo"></a>
    <!--<div class="col-6 px-4 searchBar">
      <i class="icon-5 fs18 wColor fa-search"></i>
      <input class="form-control form-control-dark" type="text" placeholder="Start typing here…" aria-label="Search">
    </div>-->
        
    <div class="topInfoIcons">
      <ul>
        <li id="siteclick_8" matTooltip="Help" matTooltipClass="text-primary bgLGRColor_2 fs13">
          <a *ngIf = "hasPersonalProfile  && rolePermissions && rolePermissions.includes('view_support_ticket')" class="helpShowHide" (click)="toggleAskAQuestion()">
            <span class="" [ngClass]="{'menuActive' : showQuestionInfo}"></span>
            <i class="icon-1"></i>
          </a>
          <a *ngIf = "hasPersonalProfile && rolePermissions && !rolePermissions.includes('view_support_ticket')" class="op05">
            <span></span>
            <i class="icon-1"></i>
          </a>
          <a *ngIf = "!hasPersonalProfile" class="op05">
            <span></span>
            <i class="icon-1"></i>
          </a>
        </li>
        <li id="siteclick_1" matTooltip="Payments" matTooltipClass="text-primary bgLGRColor_2 fs13">
          <a *ngIf = "hasPersonalProfile && rolePermissions && rolePermissions.includes('view_payment_method')" (click)="gotoPayments()">
            <span [ngClass]="{'menuActive' : showPaymentInfo}"></span>
            <i class="icon-9"></i>
          </a>
          <a *ngIf = "hasPersonalProfile && rolePermissions && !rolePermissions.includes('view_payment_method')" class="op05">
            <span></span>
            <i class="icon-9"></i>
          </a>
          <a *ngIf = "!hasPersonalProfile" class="op05">
            <span></span>
            <i class="icon-9"></i>
          </a>
        </li>
        <li id="siteclick_7" matTooltip="Manage Platform" matTooltipClass="text-primary bgLGRColor_2 fs13">
          <a *ngIf = "hasPersonalProfile && rolePermissions && rolePermissions.includes('view_platform')" class="platformShowHide" (click)="togglePlatform()">
            <span class="" [ngClass]="{'menuActive' : showPlatformInfo}"></span><i class="icon-2"></i>
          </a>
          <a *ngIf = "hasPersonalProfile && rolePermissions && !rolePermissions.includes('view_platform')" class="op05">
            <span class="" ></span><i class="icon-2"></i>
          </a>
          <a *ngIf = "!hasPersonalProfile" class="op05">
            <span class="" ></span><i class="icon-2"></i>
          </a>
        </li>
        <li id="siteclick_3" matTooltip="Notifications" matTooltipClass="text-primary bgLGRColor_2 fs13" >
          <a *ngIf= "hasPersonalProfile" (click)="toggleNotification()" >
              <span [ngClass]="{'menuActive' : showNotificationInfo}"></span>
              <i class="icon-77 fw"></i>
              <span *ngIf="unreadNotificationCount" class="badge">{{unreadNotificationCount}}</span>
          </a>
          <a *ngIf ="!hasPersonalProfile" class="op05">
              <span></span>
              <i class="icon-77 fw"></i>
          </a>
        </li>
        <li matTooltip="Manage Profile" matTooltipClass="text-primary bgLGRColor_2 fs13">
          <a (click)="toggleProfilePanel()">
              <span [ngClass]="{'menuActive' : showProfileInfo}"></span>
              <i class="icon-3"></i>
          </a>
        </li>
      </ul>
    </div>
    </div>    
  </nav>

  <div class="fixedWidth">
      <nav class="sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column" *ngIf="hasPersonalProfile">
            <li id="siteclick_4" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('add_asset')">
              <a class="nav-link mainColor" [ngClass]="(immediateChildRoute=='assetCreation')?'publisher-active':'publisher-light'" routerLink="/publisher/assetCreation" routerLinkActive="leftMenuActive"><!--[ngClass]="{'disabledAddAsset' : !enableAddAsset.value}"-->
                <span class="menuActive mainBGcolor"></span>
                <i [ngClass]="(immediateChildRoute=='assetCreation')?'publisher-active':'publisher-light'" class="icon-6 mainColor"></i>
                New Slot
              </a>
            </li>
            <li id="siteclick_4" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('add_asset')">
              <a class="nav-link mainColor">
                <span class="menuActive mainBGcolor"></span>
                <i class="icon-6 mainColor"></i>
                New Slot
              </a>
            </li>
            <li id="siteclick_6" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('view_asset')">
              <a class="nav-link mainColor" [ngClass]="(immediateChildRoute=='assetManage')?'publisher-active':'publisher-light'" routerLink="/publisher/assetManage" routerLinkActive="leftMenuActive">
                <span class="menuActive mainBGcolor"></span>
                <i [ngClass]="(immediateChildRoute=='assetManage')?'publisher-active':'publisher-light'" class="icon-7 mainColor"></i>
                Manage Slot
              </a>
            </li>
            <li id="siteclick_6" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('view_asset')">
              <a class="nav-link mainColor">
                <span class="menuActive mainBGcolor"></span>
                <i class="icon-7 mainColor"></i>
                Manage Slot
              </a>
            </li>
            <li id="siteclick_5" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('view_analytics')">
              <a class="nav-link mainColor" [ngClass]="(immediateChildRoute=='analytics')?'publisher-active':'publisher-light'" routerLink="/publisher/analytics" routerLinkActive="leftMenuActive">
                <span class="menuActive mainBGcolor"></span>
                <i [ngClass]="(immediateChildRoute=='analytics')?'publisher-active':'publisher-light'" class="icon-8 mainColor"></i>
                Analytics
              </a>
            </li>
            <li id="siteclick_5" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('view_analytics')">
              <a class="nav-link mainColor" >
                <span class="menuActive mainBGcolor"></span>
                <i class="icon-8 mainColor"></i>
                Analytics
              </a>
            </li>
            <li id="siteclick_2" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('add_platform')">
              <a class="nav-link mainColor" [ngClass]="(immediateChildRoute=='platformCreation')?'publisher-active':'publisher-light'" routerLink="/publisher/platformCreation" routerLinkActive="leftMenuActive">
                <span class="menuActive mainBGcolor"></span>
                <i [ngClass]="(immediateChildRoute=='platformCreation')?'publisher-active':'publisher-light'" class="icon-11 mainColor"></i>
                Add Platform
              </a>
            </li>
            <li id="siteclick_2" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('add_platform')">
              <a class="nav-link mainColor">
                <span class="menuActive mainBGcolor"></span>
                <i class="icon-11 mainColor"></i>
                Add Platform
              </a>
            </li>
          </ul>

          <ul class="nav flex-column op05" *ngIf = "!hasPersonalProfile">
            <li class="nav-item">
              <a class="nav-link mainColor">
                <span class="menuActive mainBGcolor"></span>
                <i class="icon-6 mainColor"></i>
                New Slot
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mainColor">
                <span class="menuActive mainBGcolor"></span>
                <i class="icon-7 mainColor"></i>
                Manage Slot
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mainColor" >
                <span class="menuActive mainBGcolor"></span>
                <i class="icon-8 mainColor"></i>
                Analytics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mainColor">
                <span class="menuActive mainBGcolor"></span>
                <i class="icon-11 mainColor"></i>
                Add Platform
              </a>
            </li>
          </ul>

        </div>
      </nav>

      <main role="main">
		<div class="mainContentDiv">
        	<router-outlet></router-outlet>
		</div>
      </main>
  </div>
  <div class="platformShowDiv rightSlide" *ngIf="show">
    <app-platform-panel (togglePlatform)="show=false" [useremail]="useremail"></app-platform-panel>
  </div>
  <div class="helpShowDiv rightSlide" *ngIf="showquestion">
    <app-publisher-ask-a-question (toggleAskAQuestion)="showquestion=false" [useremail]="useremail"></app-publisher-ask-a-question>
  </div>
  <div class="rightSlide ml-4 mr-4 heigth-auto w-20" *ngIf="showProfile">
    <app-profile-panel (toggleProfile)="showProfile = false" (toggleProfileIcon)="activeProfileIcon=false"></app-profile-panel>
  </div>
  <div class="rightSlide" *ngIf="showNotification">
    <app-notifications-panel (toggleNotification)="showNotification=false"></app-notifications-panel>
  </div>
</div>