.fa-search:before{
    content: "\e906"!important;
}
.heigth-auto {
    height: auto;
}
.op05{
    opacity: 0.5;
}
.disabledAddAsset{
    pointer-events: none;
    opacity: 0.5;
}
.publisher-light{ color:#696a6b !important;}
.publisher-active{ color:#007bff !important;}
.cdk-overlay-pane .mat-pseudo-checkbox-checked{ background: #0000;}
.badge {  
   position: absolute;top: -10px;right: -10px;padding: 2px 5px;border-radius: 50%;  
   background-color: red;color: white;  
}
