<div class="custom-dialog info advertiserDiv">
  <div class="modal-content">
    <div class="modal-footer border-0 pt-0 ">            
      <mat-dialog-actions class="mb-0">
        <button  [mat-dialog-close]="false" class="close2">X</button>
      </mat-dialog-actions>
  </div>
         <div class="modal-body p-5">
             <h4 class="modal-title fs14">Authorize.Net Secure Payment</h4>
             <mat-dialog-content>
              <p class="fs12">
                You can shop at <a href="http://www.doceree.com" target="_blank">doceree</a> with confidence. We have partnered with <a href="http://www.authorize.net" target="_blank">Authorize.Net</a>, a leading payment gateway since 1996, to accept credit cards and electronic check payments safely and securely for our customers.</p>
              
              <p class="fs12">The Authorize.Net Payment Gateway manages the complex routing of sensitive customer information through the electronic check and credit card processing networks. See an <a href="http://www.authorize.net/resources/howitworksdiagram/" target="_blank">online payments diagram</a> to see how it works.</p>
              
             <p class="fs13" style="font-weight:500; margin-bottom: 5px !important;">The company adheres to strict industry standards for payment processing, including:</p>
              
             <div class="list">
              <ul>
             <li> 128-bit Secure Sockets Layer (SSL) technology for secure Internet Protocol (IP) transactions.</li>
              
             <li> Industry leading encryption hardware and software methods and security protocols to protect customer information.</li>
              
             <li>Compliance with the Payment Card Industry Data Security Standard (PCI DSS).</li>
            </ul>
            </div>
              <p class="mt-2 mb-2 fs12">For additional information regarding the privacy of your sensitive cardholder data, please read the <a href="http://www.authorize.net/company/privacy/" target="_blank" class="fs12">Authorize.Net Privacy Policy</a>.</p>
              
              <p class="fs12"><a href="http://www.doceree.com" target="_blank" class="fs12">doceree</a>  is registered with the Authorize.Net Verified Merchant Seal program.</p>
               
   
            </mat-dialog-content>

            <div class="mt-3 center" style="text-align: center;"><a href="https://www.authorize.net/" target="_blank">
              <img alt="authorize.net" src="assets/images/secure90x72.png" style="width:70px; height:56px;">
            </a></div>
        </div>
   
      </div>
  </div>

