.list{}
.list ul{ padding: 0px; margin:0px 0px 0px 17px; }
.list ul li{ font-size: 12px;line-height:17px;list-style: disc;margin-bottom: 2px;}
.close2{ color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px; background: #6b3ffc; line-height: 0px !important; border: none;}

    .mat-dialog-actions{position: absolute;right: 21px;top: -5px;z-index: 9999;}