.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

.mat-form-field-underline {
    width: 0%;
}

.div_bottom_color { 
    background:#4e6def;
    color: #fff;
}
ul {
    height:auto; width: 100%; padding: 0px; margin: 0px;
}
ul {
    overflow:hidden;padding: 0px; margin: 0px;
    list-style: inside !important;
}
.rightSlide img{ width: 200px !important; height: 200px !important;}