<div class="helpShowDiv rightSlide publisher" style="background: url('assets/images/Pub_helpbgImg.svg') 109px 109% no-repeat rgb(255, 255, 255);
background-size: 71%; ">

  <div class="pl-4 pr-4 pt-3 pb-2">
    <h2 class="fs14 fw600 mb-4">Ask a question</h2>
    <form [formGroup]="questionForm">
      <div class="form-group">
        <input [readonly] = "true"  type="text" class="inputBox" formControlName="useremail" placeholder="User email">
        <mat-error *ngIf="questionForm.controls['useremail'].hasError('require')">
          User email is required
        </mat-error>
      </div>
      <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <input type="text" class="inputBox" placeholder="Subject" aria-label="Reason" matInput formControlName="reason" [matAutocomplete]="reason" name="reason">
          <mat-autocomplete #reason="matAutocomplete">
            <mat-option *ngFor="let option of filteredReasons | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="questionForm.controls['reason'].hasError('require')">
            Reason is required
          </mat-error>
        <!-- <select class="inputBox" formControlName="reason">
          <option>Add a new site</option>
          <option>Add a new banner</option>
          <option>Payment issues</option>
          <option>Monitoring ads</option>
        </select>-->
        </div>
      </div>
      <div class="form-group">
        <textarea class="inputBox" formControlName="description" placeholder="Your message here..." id="" rows="3"></textarea>
        <mat-error *ngIf="questionForm.controls['description'].hasError('require')">
          Message is required
        </mat-error>
      </div>
      <button class="primaryBtn wColor mainBordercolr mainBGcolor" (click) = "createTicket()">Send</button>
    </form>

    <div class="row mt-2 ml-1" *ngIf="article &&  article.generalArticles && article.generalArticles.length">
      <h2 class="fs14 fw600">Common help topics</h2>
      <ul class="fs11 ml-2 pl-2 mainColor">
        <li class="pt-1 ul" *ngFor="let article of article.generalArticles">
          <a (click) = "goToArticle(article.href)" class="text-primary">{{article.title}}</a>
        </li>
      </ul>
    </div>
  
    <div class="row mt-2 ml-1" *ngIf="article &&  article.publisherArticles && article.publisherArticles.length">
      <h2 class="fs14 fw600">Publishers help topics</h2>
      <ul class="fs11 ml-2 pl-2 mainColor">
        <li class="pt-1 ul" *ngFor="let article of article.publisherArticles">
          <a (click) = "goToArticle(article.href)" class="text-primary">{{article.title}}</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="divBottom">
    <button class="primaryBtn mainBGcolor mainBordercolr wColor pt-1 fs12" (click) = "gotoServiceRequests()">Service Requests</button>
  </div>
</div>