table {
    width: 100%;
  }
  
  tr.pending-detail-row {
    height: 0;
  }
  
  tr.pending-element-row:not(.pending-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.pending-element-row:not(.pending-expanded-row):active {
    background: #efefef;
  }
  
  .pending-element-row td {
    border-bottom-width: 0;
  }
  
  .pending-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .pending-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .pending-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .pending-element-description {
    padding: 16px;
  }
  
  .pending-element-description-attribution {
    opacity: 0.5;
  }
  .success-campaign-notify{
    background: linear-gradient(to right, #b260e4, #6b3ffc);
    color: white;
    position: fixed;
    top: 43px;
    right: -21px;
}
.error-campaign-notify{
    background: linear-gradient(to right, #e46060, #fc753f);
    color: white;
    position: fixed;
    top: 43px;
    right: -21px;
}