<div  class="table-responsive boxDiv mt-3">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows
    class="table table-striped tableStyles mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Name </th>
      <td mat-cell *matCellDef="let element">{{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="brandName">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Brand Name </th>
      <td mat-cell *matCellDef="let element">{{element.brandName}} </td>
    </ng-container>
    <ng-container matColumnDef="campaignName">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Campaign Name </th>
      <td mat-cell *matCellDef="let element">{{element.campaignName}} </td>
    </ng-container>
    <ng-container matColumnDef="creativeType">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Creative Type </th>
      <td mat-cell *matCellDef="let element">{{element.creativeType}} </td>
    </ng-container>
    <ng-container matColumnDef="created.at">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Created Date </th>
      <td mat-cell *matCellDef="let element">{{element.created.at | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="modified.at">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Modified Date </th>
      <td mat-cell *matCellDef="let element">{{element.modified.at | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a *ngIf="element.status === 'Active'" class="mainColor tdu ml-3" (click)="changedStatusToApprove(element, element.status === 'Active'?'On hold':'Active')">On hold</a>
      </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="pending-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div *ngIf="element.creativeType === 'Banner'" class="boxDiv brr0 p-3">
            <!--<slideshow [height]="height" [minHeight]="'350px'" [autoPlay]="false" [backgroundSize]="'contain'"
              [showArrows]="element.imageUrls.length > 1" [arrowSize]="'10px'" [imageUrls]="element.imageUrls"
              [lazyLoad]="element.imageUrls.length > 1" [autoPlayWaitForLazyLoad]="false">
            </slideshow>-->
            <app-carouselshow [height]="'350px'" [imageUrls]="element.imageUrls"></app-carouselshow>
          </div>
          <div *ngIf="element.creativeType === 'Video'" class="boxDiv brr0 p-3">
            <video controls class="videoBox">
              <source src="{{element.imageUrls[0]}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="mainBGcolor wColor text-center"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="pending-element-row"
      [class.pending-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="pending-detail-row"></tr>

  </table>
</div>