.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

.mat-form-field-underline {
    width: 0%;
}
input.mat-input-element {
	border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding:8px 15px;
	margin: 0;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}
.w-100 {
	width:100%;
}
.h-150 {
	height: 150px;
}
.bg-cyan{
	background: #00BCD4;
	color:#ffffff
}