<div class="custom-dialog info">
  <h2 mat-dialog-title class="fw600">Create Ticket</h2>
  <mat-dialog-content class="ml-2">
      <form [formGroup]="createTicketForm">
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-2">
            <label for="email">Email</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <input class="inputBox" formControlName="email" placeholder="Email" name="email"/>
            <mat-error *ngIf="createTicketForm.controls['email'].hasError('require')">
              Email is required
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-2">
            <label for="name">Name</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <input class="inputBox" formControlName="name" placeholder="Name" name="name"/>
            <mat-error *ngIf="createTicketForm.controls['name'].hasError('require')">
              Name is required
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-2">
            <label for="typeOfIssue">Type of issue</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <input type="text" placeholder="Type of issue" aria-label="Type of issue" matInput formControlName="typeOfIssue" [matAutocomplete]="typeOfIssue" name="typeOfIssue">
          <mat-autocomplete #typeOfIssue="matAutocomplete">
            <mat-option *ngFor="let option of filteredIssueTypes | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="createTicketForm.controls['typeOfIssue'].hasError('require')">
            Type of issue is required
          </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-2">
            <label for="message">Message</label>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <textarea class="w-100 h-150" matInput placeholder="Message" formControlName="message" name="message"></textarea>
            <mat-error *ngIf="createTicketForm.controls['message'].hasError('require')">
              Message is required
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-2">
            <label for="assignTo">Assign to</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <input type="text" placeholder="Assign to" aria-label="Assign to" matInput formControlName="assignTo" [matAutocomplete]="assignTo" name="assignTo">
            <mat-autocomplete #assignTo="matAutocomplete">
              <mat-option *ngFor="let option of filteredAssignToUsers | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          <mat-error *ngIf="createTicketForm.controls['assignTo'].hasError('require')">
            Assign to is required
          </mat-error>
          </div>
        </div>
      </form>
  </mat-dialog-content>
  <mat-dialog-actions class="float-right">
    <button class="primaryBtn mainColor mainBordercolr float-right pl-3 pr-3 bg-cyan" (click) = "createTicket()">Create</button>
    <button class="primaryBtn mainColor mainBordercolr float-right pl-3 pr-3" [mat-dialog-close]="false">Close</button>
  </mat-dialog-actions>
</div>
