<div class="bodyBg">
  <div class="mainDiv container" [ngClass]="{'advertiserDiv': userType === 'advertiser', 'publisherDiv': userType === 'publisher'}">
    <div class="row">
      <div class="col-md-6">
        <div class="reglogo">
          <div *ngIf="userType === 'advertiser'">
            <a href="http://doceree.com/"><img src="./assets/images/logo2.png" width="242" height="59" alt="" /></a>
          </div>
          <div *ngIf="userType === 'publisher'">
            <a href="http://doceree.com/publisher/"><img src="./assets/images/logo2.png" width="242" height="59" alt="" /></a>
          </div>
          
        </div>
        <div class="registrationForm">
          <h3 class="h4">RESET PASSWORD</h3>
          <h1 class="h2 mb-4">Unlock the Power</h1>
          <p>An email with instructions to reset your password has been sent to your email address.</p>
        </div>
        <footer class="rlFooter">
          <div class="clearfix">
            <a target="_blank" href="https://doceree.com/">Home</a>
            <a target="_blank" href="https://doceree.com/about-us/">About us</a>  
            <a target="_blank" href="https://doceree.com/media-agencies/">Media Agencies</a>
            <a target="_blank" href="https://doceree.com/brands/">Brands</a>
            <a target="_blank" href="https://doceree.com/publishers/">Publishers</a>
            <a target="_blank" href="https://doceree.com/how-it-works/">How it works</a>
            <a target="_blank" href="https://doceree.com/blog/">Blog</a>
            <a target="_blank" href="https://support.doceree.com/hc/en-us">FAQs</a>
          </div>
          <p>Copyright 2020 | Doceree Inc.</p>
        </footer>
      </div>
      <div class="col-md-6 mt-3" *ngIf="userType === 'advertiser'">
        <img src="./assets/images/laptop.jpg" style="width:82.6%; height:100%" alt="" />
      </div>
      <div class="col-md-6 mt-3" *ngIf="userType === 'publisher'">
        <img src="./assets/images/publisher_laptop.png" style="width:82.6%; height:100%" alt="" />
      </div>

    </div>
  </div>
</div>
