<div class="adminDiv">
<h1 mat-dialog-title>General settings </h1><!--{{data.name}}-->
<div mat-dialog-content>
    <div class="row form-group">
		<label class="col-sm-5 col-form-label formLabel">Type of mail sending</label>
        <div class="col-sm-7">
			<div class="profileForm">
			  <mat-form-field>
				<mat-select [(value)]="data.category">
				  <mat-option value="single">Single</mat-option>
				  <mat-option value="Multiple">Multiple</mat-option>
				</mat-select>
			  </mat-form-field>
        	</div>
		</div>
      </div>
      <div class="row form-group">
		  <label class="col-sm-5 col-form-label formLabel">Host Name</label>
        <div class="col-sm-7">
            <input [(ngModel)]="data.host" class="inputBox" type="text" required #hName="ngModel" >            
            <div *ngIf="hName.invalid && (formValid || hName.dirty || hName.touched)"
                class="alert alert-danger">
              <div *ngIf="hName.errors.required">
                Host name is required.
              </div>
            </div>
        </div>
      </div>
      <div class="row form-group">
		  <label class="col-sm-5 col-form-label formLabel">SMTP Port</label>
        <div class="col-sm-7">
            <input [(ngModel)]="data.port" type="text" pattern="[0-9]*" minlength="4" maxlength="4" class="inputBox" required #portNo="ngModel">           
            <div *ngIf="portNo.invalid && (formValid || portNo.dirty || portNo.touched)"
                class="alert alert-danger">
              <div *ngIf="portNo.errors.required">
                Port number is required.
              </div>
              <div *ngIf="portNo.errors.pattern">
                Port number must be in digits.
              </div>
              <div *ngIf="portNo.errors.minlength || portNo.errors.maxlength">
                Port number must be at least 4 digits.
              </div>
            </div>
        </div>
      </div>
      <div class="row form-group">
		  <label class="col-sm-5 col-form-label formLabel">SMTP Authentication</label>
        <div class="col-sm-7">
            <input [(ngModel)]="data.secure" type="text" class="inputBox" required #authen="ngModel">           
            <div *ngIf="authen.invalid && (formValid || authen.dirty || authen.touched)"
                class="alert alert-danger">
              <div *ngIf="authen.errors.required">
                Authentication is required.
              </div>
            </div>
        </div>
      </div>
      <div class="row form-group">
		  <label class="col-sm-5 col-form-label formLabel">SMTP Username</label>
        <div class="col-sm-7">
            <input [(ngModel)]="data.user" type="text" class="inputBox" required #uName="ngModel">           
            <div *ngIf="uName.invalid && (formValid || uName.dirty || uName.touched)"
                class="alert alert-danger">
              <div *ngIf="uName.errors.required">
                User-name is required.
              </div>
            </div>
        </div>
      </div>
      <div class="row form-group">
		  <label class="col-sm-5 col-form-label formLabel">SMTP Password</label>
        <div class="col-sm-7">
            <input [(ngModel)]="data.pass" type="password" class="inputBox" required #passw="ngModel">           
            <div *ngIf="passw.invalid && (formValid || passw.dirty || passw.touched)"
                class="alert alert-danger">
              <div *ngIf="passw.errors.required">
                Password is required.
              </div>
            </div>
        </div>
      </div>
      <div class="row form-group">
		  <label class="col-sm-5 col-form-label formLabel">Activate</label>
        <div class="col-sm-7">
            <section class="example-section">
                <mat-slide-toggle [(ngModel)]="data.activestate"
                    class="example-margin">
                </mat-slide-toggle>
              </section>           
        </div>
      </div>
</div>
<div mat-dialog-actions class="float-right mt-4 mb-4">
  <button mat-button (click)="onNoClick()" class="primaryBtn mainColor mainBordercolr previous-step mb-3 mr-2">Cancel</button>
  <button mat-button (click)="onSubmit()" class="primaryBtn mainColor mainBordercolr next-step" cdkFocusInitial>Save Changes</button><!--[mat-dialog-close]="data" -->
</div>
</div>
	