.validationFailed-snackbar {
    background: #fc3f3fe3;
    background-image: linear-gradient(to right, '#fc3f3f00', '#fc3f3fe3') !important;
  }
.mat-dialog-actions { display:inherit!important}
.primaryBtn	{ background:transparent!important; border:2px solid #ccc!important; border-radius:100px!important; 												  color:#000!important; padding:8px 30px!important; line-height:inherit!important; font-size:14px!important; font-weight:500!important; cursor:pointer; margin:0 10px!important;}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb { background:#1badbb; background-image:linear-gradient(to right, #1cca7f , #1badbb) !important;}
.brwColor {
    border-color: #fff !important;
}
.wColor {
    color: #fff !important;
}