<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img alt="Doceree Logo" src="assets/DocereeIcon.PNG" /></span>
    <span class="spacer"></span>
    <a class="mat-button mt-1" color="title-headline" href="/register">Sign Up</a>
    | <a class="mt-1 mat-button" href="/login">Log In</a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="pt-1">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-6 offset-sm-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Forgot Password </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <div class="row mt-4 pl-4"><small>A message will be sent to email address containing a link to reset your password</small></div>
          <div [ngClass]="status === true ? 'alert alert-success pt-1' : 'alert alert-danger pt-1' " *ngIf="message">
            <mat-icon class="pt-2">{{status ? 'done' : 'error'}}</mat-icon> {{ message }}
          </div>
          <mat-card-content>

            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)" *ngIf='status === false' class="form">
              
              <mat-form-field appearance="outline" class="form-element mt-2">
                <mat-label>Please enter your email address</mat-label>
                <input matInput placeholder="Email address" formControlName="email" />
                <mat-error *ngIf="!forgotForm.controls['email'].valid &&
                  forgotForm.controls['email'].touched && forgotForm.controls['email'].hasError('required')">
                  Email is required
                </mat-error>
                <mat-error *ngIf="forgotForm.controls['email'].hasError('email')">
                  Not a valid emailaddress
                </mat-error>
              </mat-form-field>
              <div class='alert alert-success' *ngIf='question'><mat-icon>create</mat-icon> {{ question }}</div>
              <mat-form-field appearance="outline" class="form-element " *ngIf='question'>
                  <mat-label>Please enter answer</mat-label>
                  <input matInput placeholder="Please enter answer" formControlName="answer" />
                  <mat-error *ngIf="!forgotForm.controls['answer'].valid &&
                    forgotForm.controls['answer'].touched && forgotForm.controls['answer'].hasError('required')">
                    Answer is required
                  </mat-error>
              </mat-form-field>

              <div class="row">
                <div class="col-sm-3"><button mat-raised-button [disabled]='!forgotForm.valid' class="btn btn-primary" type="submit">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
