<div class="bodyBg">
  <div class="mainDiv container advertiserDiv">
    <div class="row">
      <div class="col-md-6">
        <div class="reglogo">
          <div>
            <a target="_blank" href="http://doceree.com/">
              <img src="./assets/images/logo2.png" width="242" height="59" alt="" />
            </a>
          </div>
          
        </div>
        <div class="registrationForm" *ngIf="!forgotPwdSuccess">
          <h3 class="h4">RESET PASSWORD</h3>
          <h1 class="h2">Unlock the Power</h1>
          <p class="mt-4 mb-3">Enter your registered email address to get a link to reset your password.</p>
          <!--<form action="forgotpassword_email.html" class="needs-validation" novalidate> -->
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="form">
            <div class="invalidfeedback" *ngIf="errorMsg">
              {{ errorMsg }}
            </div>
            <div class="invalidfeedback" *ngIf="submitted && forgotForm.controls['email'].hasError('pattern')">
              Enter a valid email address
            </div>
            <div class="invalidfeedback" *ngIf="submitted && forgotForm.controls['email'].hasError('required')">
              Email address is required
            </div>
            <div class="row">
              <div class="col-sm-8">
                <input type="text" class="form-control logininputBox form-control_bg_tr " formControlName="email" placeholder="Email Address" name="email" style="margin-bottom:24px;">
              </div>
            </div>
            <div *ngIf="hasSecurityQuestions">
              <p>
                Please provide the answer to your security question
              </p>
              <div class="invalidfeedback" *ngIf="submitted && forgotForm.controls['securityQuestion'].hasError('required')">
                Please select security question
              </div>
              <div class="invalidfeedback" *ngIf="submitted && forgotForm.controls['securityQuesAnswer'].hasError('required')">
                Please provide answer
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <mat-select class="form-control logininputBox form-control_bg_tr " formControlName="securityQuestion" placeholder="Select security question" required>
                    <mat-option *ngFor="let option of questions" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="col-sm-5">
                  <input matInput type="text" class="form-control logininputBox form-control_bg_tr" placeholder="Please enter answer" formControlName="securityQuesAnswer" >
                </div>
              </div>
            </div>
            <button type="submit" [disabled]="!forgotForm.valid" class="btn mainBGcolor regloginBtl">
              Get Reset Link
            </button>
            <h6 class="h6 " style="margin-top: 7px; font-weight: normal;">Already have an account? <a href="/login" class="mainColor fw600">Click here</a> to login.</h6>
          </form>
        </div>
        <div class="registrationForm" *ngIf="forgotPwdSuccess">
          <h3 class="h4">RESET PASSWORD</h3>
          <h1 class="h2">Unlock the Power</h1>
          <p class="mt-4 mb-2">An email with instructions to reset your password has been sent to your email address.</p>
        </div>
        <footer class="rlFooter">
          <div class="clearfix">
            <a target="_blank" href="https://doceree.com/">Home</a>
            <a target="_blank" href="https://doceree.com/about-us/">About us</a>  
            <a target="_blank" href="https://doceree.com/media-agencies/">Media Agencies</a>
            <a target="_blank" href="https://doceree.com/brands/">Brands</a>
            <a target="_blank" href="https://doceree.com/publishers/">Publishers</a>
            <a target="_blank" href="https://doceree.com/how-it-works/">How it works</a>
            <a target="_blank" href="https://doceree.com/blog/">Blog</a>
            <a target="_blank" href="https://support.doceree.com/hc/en-us">FAQs</a>
          </div>
          <p>Copyright 2020 | Doceree Inc.</p>
        </footer>
      </div>
      <div class="col-md-6 mt-3">
          <img src="./assets/images/laptop.jpg" style="width:85%; height:100%" alt="" class="lapImg" />
      </div>
    </div>
  </div>
</div>
