.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/*.container {
  padding: 10px;
}
*/
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 15px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper{
  padding: 1px 0px 10px 2px;
}
.control_bg_tr{ background: transparent; border-color: #ced4da;}
.form-control_bg_tr {
  background: transparent !important;
  border: 1px solid #cacaca;
  color: #5a5a5a !important;
  font-size: 12px; border-radius: .25rem;
}
.invalidfeedback{color: #ff3939;
  /* border-left: 5px solid #ff3939; */
  /* padding: 0 0 0 6px; */
  position: relative;
  top: -3px;
  font-size: 11px; border: none; padding: 0px;}

  .mat-select-placeholder, .mat-option-text, .mat-option.mat-active, .form-control:focus{ color: #5a5a5a !important;}
  .mat-select-value{ color: #5a5a5a !important;}
  