<div class="bgImg" style="bottom:-50px;"><img src="assets/images/adv_thanksBgImg.svg" width="300" height="300" alt="AdvanalyticsBg"> </div>  
<div class="pt-3 mb40">
  <h1 class="h2"><i class="icon-18 gColor fs20"></i> You have successfully uploaded your CSV file!</h1>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="boxDiv p-3">
        <div class="row">
          <div class="col-md-5"><img src="../../../assets/images/pub_platform_create.svg" width="100%" height="100%" alt="Platform" style="height:110px;"></div>
          <div class="col-md-7"  >
            <h3 class="fs14"><strong>{{platformName}}</strong></h3>
            <h6 class="h6 mainColor mb-2">{{platformLink}}</h6>
            <p class="mb-2">{{platformType}}</p>
            <div class="mb-3">
             <i class="icon-17 fs12 tradMak grColor" style="position: absolute; left: 0px; top: 3px;"></i>
          
              <p>Thanks for completing the first step in adding the platform.</p>
              <p>We will get back to you within next 24-48 hours, after completion of Physician Identity validation process</p>
              <p>Details of the next steps will be provided in the follow up email. </p>
              <p>You can contact us at <a>tech-support@doceree.com</a>, if you have any technical questions. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="boxDiv p-3 mt-1">
        <div class="float-right">
          <h6 class="h6 mainColor float-left mt-2 mr-3">Add First Slot</h6>
          <button type="button" class="primaryBtn mainColor mainBordercolr"(click) ="navigateToAssetManage()">Manage platform</button>
        </div>
      </div>

    </div>
  </div>
