<div class="pt-3 pb-2 mb-4">
  <h1 class="h2 mb-2">Interested Users</h1>
  <h6 class="h6">An overview of all your Interested Users in one place</h6>
</div>

<div class="row">
  <div class="col-8 col-md-5">
    <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
		<div class="col-sm-12">
		  <div class="row">
			<div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
			<input class="br0 focus col-8 pt-3 pb-3" type="text" (keyup)="searchCampaign(name.value);"
			  name="campaign" #name [(ngModel)]='campaign' placeholder="Type a campaign name...">
			<button (click)="searchCampaign(name.value);" type="button"
			  class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
		  </div>
    	</div>
	</div>	
  </div>
  <div class="col-4 col-md-2">
    <div class="boxDiv mt-2 w-75">
      <a (click)="toggleSearch();" class="filterShowHide mainColor h6 p-3 dBlock1 mb-0">Filter <i
          class="icon-48 grColor fs18 float-right"></i></a>
    </div>
  </div>
</div>

<div class="filterShowDiv mt-2" *ngIf="show">
  <div class="boxDiv">
    <div class="bgLGRColor pt-4 pl-4 pr-4 pb-2">
      <div class="row">

        <div class="col-md-3 form-group selectWrapper">
          <select class="inputBox" name="typeOfUser" [(ngModel)]='typeOfUser' placeholder="Filter by type">
            <option>Filter by type</option>
            <option>Client</option>
            <option>Agency</option>
          </select>
        </div>
        <div class="col-md-3 form-group selectWrapper">
          <select class="inputBox"  name="brand" [(ngModel)]='brand'>
            <option>Filter by brand</option>
            <option>brand 1</option>
            <option>brand 2</option>
            <option>brand 3</option>
          </select>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-5">
              <p class="pt-1 mb-0 text-center">Member since</p>
            </div>
            <div class="col-md-7 form-group">
              <div class="inputBox clearfix p-2 dateIcon">
                <input matInput style="width:70%" [matDatepicker]="startDate" id="startDate" name="startDate" placeholder="mm/dd/yyyy"
                  [readonly]="true" [(ngModel)]="sDate" class="bgNone br0 float-left pt-1">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="primaryBtn wColor mainBordercolr mainBGcolor float-right" 
          (click)="searchSubCampaign(typeOfUser, brand, sDate)">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive boxDiv mt-3">
  <table multiTemplateDataRows mat-table [dataSource]="interestedUsers"
    class="tableStyles">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="wColor"> email </th>
      <td mat-cell *matCellDef="let element">{{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="Requested Date">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Requested Date </th>
      <td mat-cell *matCellDef="let element">{{element.created.at | date: 'MM/dd/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="Last Updated Date">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Last Updated Date </th>
      <td mat-cell *matCellDef="let element">{{element.modified != undefined ? (element.modified.at | date: 'MM/dd/yyyy'): '-' }}</td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Status <i class="icon-16 fs12 wColor"></i></th>
      <td mat-cell *matCellDef="let element"> {{element.status}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Actions <i class="icon-16 fs12 wColor"></i></th>
      <td  mat-cell *matCellDef="let element"> 
        <button *ngIf = "element.status !=='EmailSent'"mat-icon-button [matMenuTriggerFor]="menu">
          <i class="icon-59 fs18 mainColor"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button class="dropboxIcons br0 bgNone publisherDiv" (click)="updateStatus(element._id)">
            <i class="icon-25 fs18 mainColor"></i>
          </button>
        </mat-menu> </td>
    </ng-container>
    <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>