<div *ngIf="pageView=='listView'">
  <div class="table-responsive boxDiv mt-3">
    <table mat-table [dataSource]="countryCurrencies" class="tableStyles">

        <ng-container matColumnDef="countryName">
          <th mat-header-cell *matHeaderCellDef class="wColor"> Country Name </th>
          <td mat-cell *matCellDef="let country"> {{country.countryName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="countryISO3Code">
          <th mat-header-cell *matHeaderCellDef class="wColor"> Country ISO3 Code </th>
          <td mat-cell *matCellDef="let country" > {{country.countryISO3Code}} </td>
        </ng-container>
      
        <ng-container matColumnDef="countryISO2Code">
          <th mat-header-cell *matHeaderCellDef class="wColor"> Country ISO2 Code </th>
          <td mat-cell *matCellDef="let country"> {{country.countryISO2Code}} </td>
        </ng-container>
      
        <ng-container matColumnDef="currencyCode">
          <th mat-header-cell *matHeaderCellDef class="wColor"> Currency Code </th>
          <td mat-cell *matCellDef="let country"> {{country.currencyCode}} </td>
        </ng-container>

        <ng-container matColumnDef="currencyName">
            <th mat-header-cell *matHeaderCellDef class="wColor"> Currency Name </th>
            <td mat-cell *matCellDef="let country"> {{country.currencyName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef class="wColor"> Symbol </th>
            <td mat-cell *matCellDef="let country"> {{country.symbol}} </td>
          </ng-container>
          <ng-container  matColumnDef="addCountryCurrency">

            <th mat-header-cell *matHeaderCellDef>
                <button class="primaryBtn brwColor float-right wColor font-weight-normal" (click)="renderAddView()"><i class="icon-6 fs16 fw600"></i> Add New</button>
            </th>

            <td mat-cell *matCellDef="let country" class="text-center">
              <a (click)="renderEditView(country._id)" class="mainColor tdu">
                <i class="icon-25 fs14 fw600"></i> 
              </a>
              <a (click)="removeCountryCurrency(country._id)" class="mainColor tdu ml-4">
                <i class="icon-26 fs14 fw600"></i>
              </a>
            </td>

          </ng-container>

          <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="m-4 grColor" *ngIf="countryCurrencies && !countryCurrencies.length">
        <strong>No Records found !</strong>
      </div>  
    </div>       
</div> 
<div *ngIf="pageView=='addView' || pageView=='editView'">
  <div class="boxDiv mt-3">	
  <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
      <div class="row">
        <div class="col-md-4 mt-2">
          <a class="wColor ttu fs14" (click)="renderListView()">
            <i class="icon-49 fs14 fw600"></i> Back
          </a>
        </div>
        <div class="col-md-8" *ngIf="pageView === 'addView'">
          <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add Country & Currency</h5>
        </div>
        <div class="col-md-8" *ngIf="pageView === 'editView'">
          <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Country & Currency</h5>
        </div>
      </div>
  </div>	  
  <div class="p-4">
      <form [formGroup]="countryCurrencyForm">
        <div class="form-group row text-center text-danger" *ngIf="errMessage">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <strong><i class="icon-17 fs16 fw600"></i>  {{errMessage}}</strong>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <label class="col-form-label formLabel">Country Name</label>
          </div>
          <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <input autocomplete="off" type="text" class="inputBox" id="countryName" formControlName="countryName" name="countryName" placeholder="Enter Country Name">
            <app-field-error-display [displayError]="isFieldValid('countryName')" errorMsg="Country Name is required">
            </app-field-error-display>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <label class="col-form-label formLabel">Country ISO3 Code</label>
          </div>
          <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <input autocomplete="off" type="text" class="inputBox" id="countryISO3Code" formControlName="countryISO3Code" name="countryISO3Code" placeholder="Enter Country ISO3 Code">
            <app-field-error-display [displayError]="isFieldValid('countryISO3Code')" errorMsg="Country ISO3 Code is required">
            </app-field-error-display>
          </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
              <label class="col-form-label formLabel">Country ISO2 Code</label>
            </div>
            <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
              <input autocomplete="off" type="text" class="inputBox" id="countryISO2Code" formControlName="countryISO2Code" name="countryISO2Code" placeholder="Enter Country ISO2 Code">
              <app-field-error-display [displayError]="isFieldValid('countryISO2Code')" errorMsg="Country ISO2 Code is required">
              </app-field-error-display>
            </div>
          </div>

          <div class="row">
              <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Currency Code</label>
              </div>
              <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
                <input autocomplete="off" type="text" class="inputBox" id="currencyCode" formControlName="currencyCode" name="currencyCode" placeholder="Enter Currency Code">
                <app-field-error-display [displayError]="isFieldValid('currencyCode')" errorMsg="Currency Code is required">
                </app-field-error-display>
              </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
                  <label class="col-form-label formLabel">Currency Name</label>
                </div>
                <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
                  <input autocomplete="off" type="text" class="inputBox" id="currencyName" formControlName="currencyName" name="currencyName" placeholder="Enter Currency Name">
                  <app-field-error-display [displayError]="isFieldValid('currencyName')" errorMsg="Currency Name is required">
                  </app-field-error-display>
                </div>
              </div>

              <div class="row">
                  <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <label class="col-form-label formLabel">Symbol</label>
                  </div>
                  <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <input autocomplete="off" type="text" class="inputBox" id="symbol" formControlName="symbol" name="symbol" placeholder="Enter Symbol">
                    <app-field-error-display [displayError]="isFieldValid('symbol')" errorMsg="Symbol is required">
                    </app-field-error-display>
                  </div>
                </div>
        <div class="form-group mt-3 clearfix text-center">
          <button *ngIf="pageView==='addView'" class="primaryBtn mainColor mainBordercolr float-center" (click)="onSubmit()">
              Save
          </button>
          <button class="primaryBtn mainColor mainBordercolr float-center" (click)="onEditSubmit()" *ngIf="pageView==='editView'">
              Save
          </button>
        </div>
      </form>
    </div>
  </div>	  
</div>
