.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-image: linear-gradient(to right, #41ccf1 , #4e70ef);
     margin-top: -5px;
    border:3px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width:15px;
    height:15px;
}
.mat-step-icon{ width:12px!important; height:12px!important;}
.mat-step-header .mat-step-icon-selected {width:15px!important; height:15px!important;}
.mat-step-icon-state-done {
    box-shadow: none !important;
	opacity:0.5;
	border:none!important;
}
.mat-step-icon .mat-icon{
    display: none!important;
}
.mat-step-icon{
    top: 1rem;
    counter-increment: section;
    content: counter(section);
    z-index: 1;
    margin-top: -30px!important;
    background-image: linear-gradient(to right, #e6e6e6, #bebebe);
    border-radius: 100%;
    width:12px!important;
    height:12px!important;
    left:1px;
}
.mat-step-label{
    margin: 0;
    cursor: pointer;
    display: block;
    width:100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    color: #fff!important;
    background-image: linear-gradient(to right, #e6e6e6, #bebebe);
    padding:8px 15px;
    border-radius:4px;
	margin-bottom:10px; margin-left:0.8%;
}
.mat-step-label-active{
    background: #4e70ef;
    background-image: linear-gradient(to right, #41ccf1 , #4e70ef) !important;
    border-radius:4px;
	margin:0;
	opacity:0.5;
	margin-bottom:10px;
}
.mat-step-label-selected{ opacity:1; border-radius:4px 4px 0 0; margin:0;}
.mat-step-icon-selected{ opacity:1;}
.mat-vertical-stepper-header{
    line-height: 10px;
    padding:0 0 0 10px!important;
	height:auto!important;
	margin-left:-10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000!important;
    background-color:transparent!important;
}
.newAssets .bannerBoxes .square { width:25px; height:25px;}	
.newAssets .bannerBoxes .smallsquare { width:20px; height:20px;}	
.newAssets .bannerBoxes .banner { width:59%; height:15px;}	
.newAssets .bannerBoxes .leaderboard { width:80%; height:20px;}	
.newAssets .bannerBoxes .inlinerectangle { width:35px; height:25px;}	
.newAssets .bannerBoxes .largerectangle	{ width:35px; height:30px;}	
.newAssets .bannerBoxes .skyscraper { width:8px; height:35px;}	
.newAssets .bannerBoxes .wideskyscraper { width:12px; height:35px;}	
.newAssets .bannerBoxes .half-pagead { width:16px; height:35px;}	
.newAssets .bannerBoxes .largeleaderboard { width:80%; height:20px;}	
.newAssets .bannerBoxes .wh11px { width:200px; height:20px;}
.codeInjectionBox{
    padding: 1px!important;
}
button:disabled{
    opacity: 0.4;
}
.bgVideoGRColor{
    background: #ccc !important;
    min-height: 100px;
    text-align: center;
    padding: 5%;
}
.padTop20{
    padding-top: 20px
}
.inValidCheckList{
    border: 1px solid #ff0000;
    padding: 1px;
}
.asset-snackbar {
    background: #6b3ffc;
    background-image: linear-gradient(to right, #b260e4, #6b3ffc) !important;
  }
/*input.mat-input-element {
	border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px 15px;
	margin: 0;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}
.mat_option{
    border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px 15px;
	margin: 0;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}*/
.input-group-addon {
    padding: 6px 10px;
    font-size:11px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eeeeee70;
    border:1.5px solid #eeeeeebd;
    width:1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

/*input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin: 0;
}*/

.suffix input {
    border-radius: 4px 0px 0px 4px;
}
.suffix .input-group-addon {
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
}
.prefix input {
    border-radius: 0px 4px 4px 0px;
}
.prefix .input-group-addon {
    border-right: 0;
    border-radius: 4px 0px 0px 4px;
}
.presuffix input {
    border-radius: 0px;
}
.input-group-addon.prefix {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
}
.input-group-addon.suffix {
    border-radius: 0px 4px 4px 0px;
    border-left: 0;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.mat-vertical-content-container { margin-left:7px!important;}
.mat-vertical-content { padding:0 0 14px 21px!important}
.mat-checkbox-label { font-size:12px!important;}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background { background-color:#41ccf1!important;}
.codeInjection-radio-group {
    display: flex;
    flex-direction: column;  
    font-size:12px!important;
  }
  
.codeInjection-radio-button {
margin:0;
font-size:13px!important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple 
.mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked 
.mat-radio-persistent-ripple, 
.mat-radio-button.mat-accent:active 
.mat-radio-persistent-ripple                     { background:#4e70ef!important;}
.mat-radio-button.mat-accent.mat-radio-checked 
.mat-radio-outer-circle                          { border-color:#4e70ef!important;border-width: 1px;}
.mat-radio-inner-circle, .mat-radio-outer-circle { width:13px!important; height:13px!important;}
.mat-radio-button .mat-radio-ripple { width:auto!important; height:auto!important;}
.mat-progress-spinner circle, .mat-spinner circle { stroke:#16c0f0!important;}

.profileForm .mat-radio-label-content{ font-size: 13px; font-family: "Work Sans" ;}
.profileForm .mat-radio-container{box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 16px;
    height: 19px;}
    .list1{}
    .list1 ul{ padding: 0px; margin: 0px; }
    .list1 ul li{ float: none;font-size: 11px;color: #333;line-height: 17px;list-style: decimal;margin-bottom: 5px;}
    //.mat-vertical-stepper-header .mat-step-icon {margin-right: 17px;margin-bottom: 9px;}
.newAssets .bannerBoxes .largebanner { width:59%; height:21px;}
.newAssets .bannerBoxes .mediumrectangle { width:56%; height:38px;}
.newAssets .bannerBoxes .full-sizebanner { width:61%; height:18px;}
.textarea{ padding: 10px 0px 10px 10px !important;}
.text{ font-size: 12px !important;line-height: 17px;
}

