<div class="pt-4 mb40 ml-2" *ngIf="!assetId">
  <h1 class="h2">Add Slot</h1>
  <h6 class="h6 mt-1" style="font-weight: normal; line-height: 16px;">Generate more revenue from your platform/s by registering all available ad space on Doceree. <br>Remember, every slot on your site needs to be registered individually for ads to run successfully</h6>
</div>
<div class="pt-3 mb40" *ngIf="assetId">
  <h1 class="h2" *ngIf="assetId">{{basicSectionFormGroup.controls['name'].value}}</h1>
  <h6 class="h6" *ngIf="assetId && assetInfo">{{ assetInfo.assetType === 'Banner' ? 'Banner added on ' : 'Video added on '}}
    {{assetInfo.created.at | date: 'd MMM yyyy'}}</h6>
</div>

  <form action="" class="profileForm">
    <div class="row">
      <div class="col-md-8 mb-5" *ngIf="processing">
        <mat-vertical-stepper [linear]="!assetId" #stepper>
            <mat-step state="noNumber" [stepControl]="basicSectionFormGroup" [completed]="basicSectionFormGroup.valid">
              <form [formGroup]="basicSectionFormGroup">
                <ng-template matStepLabel  class="step-title boxHeading mainBGcolor1">
                  Basics
                  <a *ngIf = "assetVerified" class="float-right" (click) = "editBasicTab()">
                    <i class="icon-25 fs16 text-white"></i>
                  </a>
                </ng-template>
                <div class="step-new-content boxDiv p-4" style="display: block;">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label formLabel mt-4">Slot Type </label>
                      <div class="col-sm-9">
                        <ul class="nav nav-pills btnTabs" id="pills-tab" role="tablist">
                          <li class="nav-item" *ngFor="let item of basicTabs">
                            <button (click)="basicTabChange(item)" class="nav-link tac active" [disabled] = "assetId && item.name !== assetType" [ngClass]="{'active' : item.name === assetType}">
								<i [ngClass]="{'icon-12' : item.name === 'Banner','icon-14' : item.name === 'Video','icon-15' : item.name === 'Email'}" class="fw mainColor1 fs20"></i>
								<span class="mt-0">{{item.name}}</span>
							  </button>
                          </li>
                        </ul>
                      </div>
                    </div>
      
                    <div class="tab-content">
                      <div class="row form-group">
                        <label class="col-sm-3 col-form-label formLabel">Site Name  </label>
                          <div class="col-sm-7">
                              <input matInput placeholder="Enter your Banner name" class="inputBox" formControlName="platformName"  [(ngModel)]="assetDetails.basicSection.platformName" (focus)="focusOutURL()" required>
                            <!--<mat-select class="inputBox" [(value)]="assetDetails.selectedPlatform" formControlName="platformName" [(ngModel)]="assetDetails.basicSection.platformName" required (selectionChange)="callOnChangePlatform($event.value)">
                                <div *ngFor="let item of platForms">
                                  <mat-option *ngIf="!item.isDeactivated"  [value]="item">
                                      <label>{{item.name}}</label>
                                  </mat-option>
                                </div>                                      
                            </mat-select> -->
                            <mat-error *ngIf="basicSectionFormGroup.controls['platformName'].hasError('require')">
                                Platform is required
                            </mat-error>
                          </div>
                        </div>
                        <div *ngIf="assetType === 'Banner'">
                          <div class="row form-group">
                              <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Slot Name <i [matTooltip]="publisher_asset_creation_basics_banner_name" class="icon-78 fs12 grColor tradMak"></i></label>
                            <div class="col-sm-7">
                              <input matInput placeholder="Enter your Banner name" class="inputBox" formControlName="name"  [(ngModel)]="assetDetails.basicSection.name" (focus)="focusOutURL()" required>
                              <mat-error *ngIf="basicSectionFormGroup.controls['name'].hasError('require')" >
                                  Banner Name is required
                              </mat-error>
                              <mat-error *ngIf="basicSectionFormGroup.controls['name'].hasError('nameNotAvailable')">
                               A Slot with this name already exists
                              </mat-error>
                              <mat-error *ngIf="basicSectionFormGroup.controls['name'].hasError('lessLength')">
                               Atleast 3 characters required in Name field
                              </mat-error>
                            </div>
                          </div>
                          <div class="row form-group mb-0" *ngIf="viewingPlatform && viewingPlatform.platformType == 'Website'">
                            <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Page URL <i [matTooltip]="publisher_asset_creation_basics_page_url" class="icon-78 fs12 grColor tradMak"></i> </label>
                            <div class="col-sm-7 input-group presuffix">
                              <span class="input-group-addon prefix" *ngIf="platformUrl">{{platformUrl}}</span>
                              <input type="text" class="inputBox" id="" placeholder="Enter Page URL" formControlName="url" (focus)="focusURL()"  [(ngModel)]="assetDetails.basicSection.url" [readonly]="assetVerified" [ngClass]="{'bg-light text-muted' : assetId}">
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-md-3"></div>
                              <div class="col-sm-7">
                                <mat-error *ngIf="viewingPlatform && viewingPlatform.platformType == 'Website' && basicSectionFormGroup.controls['url'].hasError('require')">
                                  Page URL is required
                                </mat-error>
                                <mat-error *ngIf="focusURLValue === true">
                                  Any Change in the existing URL, will update the Banner API and you need to update the Banner API on your platform for this slot.
                                </mat-error>
                              </div>
                          </div>
                        </div>
                        <div *ngIf="assetType === 'Video'">
                          <div class="row form-group">
                              <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Video Name</label>
                            <div class="col-sm-7">                       
                              <input matInput placeholder="Enter Video Name" class="inputBox" formControlName="name" [(ngModel)]="assetDetails.basicSection.name">
                              <mat-error *ngIf="basicSectionFormGroup.controls['name'].hasError('require')">
                                Video Name is required
                              </mat-error>
                              <mat-error *ngIf="basicSectionFormGroup.controls['name'].hasError('nameNotAvailable')">
                                A Slot with this name already exists
                              </mat-error>
                              <mat-error *ngIf="basicSectionFormGroup.controls['name'].hasError('lessLength')">
                               Atleast 3 characters required in Name field
                              </mat-error>
                            </div>
                          </div>
                          <div class="row form-group mb-0">
                              <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Page URL</label>
                            <div class="col-sm-7 input-group presuffix">
                              <span class="input-group-addon prefix" *ngIf="platformUrl">{{platformUrl}}</span>
                              <input type="text" class="inputBox" id="" placeholder="Enter Page URL" formControlName="url"  [(ngModel)]="assetDetails.basicSection.url" [readonly]="assetId" [ngClass]="{'bg-light text-muted' : assetId}">
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-md-3"></div>
                              <div class="col-sm-5">
                                <mat-error *ngIf="basicSectionFormGroup.controls['url'].hasError('require')">
                                  Video URL is required
                                </mat-error>
                              </div>
                          </div>
                        </div>
                        <div *ngIf="assetType === 'Email'">
                          <div class="row form-group">
                              <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Email Name</label>
                            <div class="col-sm-5">                  
                              <mat-form-field>
                                <input matInput placeholder="Enter Email Name" class="inputBox" formControlName="name" [(ngModel)]="assetDetails.basicSection.name" required>
                                </mat-form-field>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="step-actions clearfix" *ngIf = "!assetVerified">
                      <button class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="validateName()" >Next</button>
                    </div>
                    <div class="step-actions float-right mt-4" *ngIf = "assetVerified">
                      <button class="primaryBtn mainColor mainBordercolr ml-2"  (click)="validateName()">Save</button>
                    </div>
                  </div>
              </form>
            </mat-step>
            <mat-step state="noNumber" *ngIf="assetType === 'Banner'" class="ml-2">
              <form>
                  <ng-template matStepLabel class="step-title boxHeading mainBGcolor1">Details </ng-template>
                  <div class="step-new-content boxDiv p-4 clearfix">
                      <div class="row form-group">
                          <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Slot Dimension 
                          <i [matTooltip]="publisher_asset_creation_details_banner_type" class="icon-78 fs12 tradMak grColor"></i></label>
                        <div class="col-sm-9 pl-0"><p class="mt-2" *ngIf="assetStatus !=='Active'">Select the dimension of the banner you want on your platform</p>
                        </div>
                      </div>
                      <mat-error class="mb-2" *ngIf="!isBannerAndValue">
                        At least one banner must be selected.
                      </mat-error>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label formLabel">&nbsp;</label>
                        <div class="col-sm-9 newAssets">
                          <div class="form-group row">
                            <div class="col-md-3 prl_mtb"  *ngFor="let banner of banners">
                              <div *ngIf="assetStatus ==='Active'">
                                <a class="bannerBoxes tac w-100" [ngClass]="{'boxactive' : banner.name === assetDetails.selectedBannerType.name}" >
                                  <div class="min40px pt-2"><span class="bgGRColor acBGColor " [ngClass]="banner.name.toLowerCase() | trim">&nbsp;</span></div>
                                  <small class="grColor">{{banner.size}}</small> 
                                  <small class="grColor">{{banner.name}}</small>
                                </a>
                              </div>
                              <div (click)="selectBanner(banner)" *ngIf="!assetId || assetStatus !=='Active'">
                                <a class="bannerBoxes tac w-100" [ngClass]="{'boxactive' : banner.name === assetDetails.selectedBannerType.name}" >
                                  <div class="min40px pt-2"><span class="bgGRColor acBGColor " [ngClass]="banner.name.toLowerCase() | trim">&nbsp;</span></div>
                                  <small class="grColor">{{banner.size}}</small> 
                                  <small class="grColor">{{banner.name}}</small>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="step-actions float-right mt-4">
                        <button class="primaryBtn mainColor mainBordercolr previous-step" matStepperPrevious>Back</button>
                        <button class="primaryBtn mainColor mainBordercolr next-step ml-2" matStepperNext (click) = "validateBanner()">Next</button>
                      </div>
                    </div>
              </form>
            </mat-step>
            <mat-step state="noNumber" [stepControl]="constraintSectionFormGroup" [completed]="constraintSectionFormGroup.valid">
              <form [formGroup]="constraintSectionFormGroup" #f="ngForm">
                <ng-template matStepLabel class="step-title boxHeading mainBGcolor1">
                  Constraints
                  <a *ngIf = "assetVerified" class="float-right" (click)="editConstraintsTab()">
                    <i class="icon-25 fs16 text-white"></i>
                  </a>
                </ng-template>
                <div class="step-new-content boxDiv p-4 clearfix">
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Maximum Size <i [matTooltip]="publisher_asset_creation_constraints_maximum_size" class="icon-78 fs12 tradMak grColor"></i> </label>
                    <div class="col-sm-5">
                      <input type="number" matInput placeholder="Maximum size" class="inputBox" formControlName="maxSize"
                        [(ngModel)]="assetDetails.maxSize">
                      <mat-error *ngIf="constraintSectionFormGroup.controls['maxSize'].hasError('require')">
                        Maximum size is required.
                      </mat-error>
                      <mat-error *ngIf="constraintSectionFormGroup.controls['maxSize'].hasError('validNumber')">
                        Size should contain only numbers
                      </mat-error>
                      <mat-error *ngIf="constraintSectionFormGroup.controls['maxSize'].hasError('min')">
                        Size should be greater than or equal to zero(0)
                      </mat-error>
                      <mat-error *ngIf="constraintSectionFormGroup.controls['maxSize'].hasError('max')">
                        Size should be less than or equal to two hundred(200)
                      </mat-error>
                    </div>
                    <div class="col-sm-2"><label for="inputPassword" class="col-form-label formLabel">in
                        {{assetDetails.selectedBasicsTabName.size}} </label> </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Permissible Formats <i [matTooltip]="publisher_asset_creation_constraints_permissible_formats" class="icon-78 fs12 tradMak grColor"></i> </label>
                    <div class="col-sm-9">
                      <div class="form-group row mt-2">
                        <div id="formatInput" class="col-sm-3" *ngFor="let format of assetDetails.selectedBasicsTabName.formats">
                          <mat-checkbox type="select" class="" name="format" formControlName="format" [checked]="format['checked']"
                            [(ngModel)]="format['selected']" (change)="callOnChangeFormat(format, $event)">
                            {{format["displayName"]}}
                          </mat-checkbox>
                        </div>
                      </div>

                      <mat-error *ngIf="constraintSectionFormGroup.controls['format'].hasError('require')">
                        Please select atleast one format.
                      </mat-error>
                    </div>
                  </div>                  
                  <div class="step-actions float-right mt-4" *ngIf = "!assetVerified">
                    <button class="primaryBtn mainColor mainBordercolr previous-step" matStepperPrevious>Back</button>
                    <button class="primaryBtn mainColor mainBordercolr next-step ml-2" 
                      (click)="validateAssetCreationConstraint()">Next</button>
                  </div>
                  <div class="step-actions float-right mt-4" *ngIf = "assetVerified">
                    <button class="primaryBtn mainColor mainBordercolr ml-2" matStepperNext
                      (click)="saveAssetDetailsAndGenrScript()">Save</button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step state="noNumber" [stepControl]="bidRangeSectionFormGroup" [completed]="bidRangeSectionFormGroup.valid">
              <form [formGroup]="bidRangeSectionFormGroup" #f="ngForm">
                <ng-template matStepLabel class="step-title boxHeading mainBGcolor1">
                  Bid Range
                  <a *ngIf = "assetVerified" class="float-right" (click)="editBidRangeTab()">
                    <i class="icon-25 fs16 text-white"></i>
                  </a>
                </ng-template>
                <div class="step-new-content boxDiv p-4 clearfix">
                    <div class="form-group row">
                        <div class="col-sm-4">
                          <label for="inputPassword" class="col-form-label formLabel" style="padding-bottom: 0px !important;">CPM Bid Range <i [matTooltip]="publisher_asset_creation_cpm_bid_range" class="icon-78 fs12 tradMak grColor"></i></label>
                          <div class="text-primary fs12" *ngIf="bidRanges">Suggested range {{currencySymbol}}{{bidRanges.displaySuggestedMinCPM}} - {{currencySymbol}}{{bidRanges.displaySuggestedMaxCPM}}</div>
                        </div>
                        <div class="col-sm-8 mt-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="number" matInput placeholder="Min" class="inputBox"
                                        formControlName="minCpmBidRange" [(ngModel)]="assetDetails.minCpmBidRange">
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpmBidRange'].hasError('require')">
                                        Minimum CPM bid range is required.
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpmBidRange'].hasError('validNumber')">
                                        Minimum CPM bid range should contain only numbers
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpmBidRange'].hasError('min')">
                                        Suggest range {{currencySymbol}}{{bidRanges.suggestedMinCPM}} - {{currencySymbol}}{{bidRanges.suggestedMaxCPM}}
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpmBidRange'].hasError('invalid')">
                                        Minimum CPM bid range should be less than Maximum CPM bid range
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpmBidRange'].hasError('max')">
                                        Suggest range {{currencySymbol}}{{bidRanges.suggestedMinCPM}} - {{currencySymbol}}{{bidRanges.suggestedMaxCPM}}
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpmBidRange'].hasError('pattern')">
                                      Decimal not allowed.
                                    </mat-error>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" matInput placeholder="Max" class="inputBox"
                                        formControlName="maxCpmBidRange" [(ngModel)]="assetDetails.maxCpmBidRange">
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpmBidRange'].hasError('require')">
                                        Maximum CPM bid range is required.
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpmBidRange'].hasError('validNumber')">
                                        Maximum CPM bid range should contain only numbers
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpmBidRange'].hasError('min')">
                                        Suggest range {{currencySymbol}}{{bidRanges.suggestedMinCPM}} - {{currencySymbol}}{{bidRanges.suggestedMaxCPM}}
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpmBidRange'].hasError('invalid')">
                                        Maximum CPM bid range should be greater than Minimum CPM bid range
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpmBidRange'].hasError('max')">
                                        Suggest range {{currencySymbol}}{{bidRanges.suggestedMinCPM}} - {{currencySymbol}}{{bidRanges.suggestedMaxCPM}}
                                    </mat-error>
                                    <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpmBidRange'].hasError('pattern')">
                                      Decimal not allowed.
                                    </mat-error>
                                </div>
                            </div>
                        </div>                
                    </div>
                    <div class="form-group mt-3 row">
                    <div class="col-sm-4">
                      <label for="inputPassword" class="col-form-label formLabel" style="padding-bottom: 0px !important;">CPC Bid Range <i [matTooltip]="publisher_asset_creation_cpc_bid_range" class="icon-78 fs12 tradMak grColor"></i></label>
                      <div class="text-primary fs12" *ngIf="bidRanges">Suggested range {{currencySymbol}}{{bidRanges.displaySuggestedMinCPC}} - {{currencySymbol}}{{bidRanges.displaySuggestedMaxCPC}}</div>
                    </div>
                    <div class="col-sm-8 mt-2">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" matInput placeholder="Min" class="inputBox"
                                    formControlName="minCpcBidRange" [(ngModel)]="assetDetails.minCpcBidRange">
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpcBidRange'].hasError('require')">
                                    Minimum CPC bid range is required.
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpcBidRange'].hasError('validNumber')">
                                    Minimum CPC bid range should contain only numbers
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpcBidRange'].hasError('min')">
                                    Suggest range {{currencySymbol}}{{bidRanges.suggestedMinCPC}} - {{currencySymbol}}{{bidRanges.suggestedMaxCPC}}
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpcBidRange'].hasError('invalid')">
                                    Minimum CPC bid range should be less than Maximum CPC bid range
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpcBidRange'].hasError('max')">
                                    Suggest range {{currencySymbol}}{{bidRanges.suggestedMinCPC}} - {{currencySymbol}}{{bidRanges.suggestedMaxCPC}}
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['minCpcBidRange'].hasError('pattern')">
                                  Decimal not allowed.
                                </mat-error>
                            </div>
                            <div class="col-md-6">
                                <input type="number" matInput placeholder="Max" class="inputBox"
                                    formControlName="maxCpcBidRange" [(ngModel)]="assetDetails.maxCpcBidRange">
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpcBidRange'].hasError('require')">
                                    Maximum CPC bid range is required.
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpcBidRange'].hasError('validNumber')">
                                    Maximum CPC bid range should contain only numbers
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpcBidRange'].hasError('min')">
                                    Suggest range {{currencySymbol}}{{bidRanges.suggestedMinCPC}} - {{currencySymbol}}{{bidRanges.suggestedMaxCPC}}
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpcBidRange'].hasError('invalid')">
                                    Maximum CPC bid range should be greater than Minimum CPC bid range
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpcBidRange'].hasError('max')">
                                    Suggest range {{currencySymbol}}{{bidRanges.suggestedMinCPC }} - {{currencySymbol}}{{bidRanges.suggestedMaxCPC}}
                                </mat-error>
                                <mat-error *ngIf="bidRangeSectionFormGroup.controls['maxCpcBidRange'].hasError('pattern')">
                                  Decimal not allowed.
                                </mat-error>
                            </div>
                        </div>
                      
                    </div>                
                  </div>
				  
                  <div class="step-actions float-right mt-4" *ngIf = "!assetVerified">
                    <button class="primaryBtn mainColor mainBordercolr previous-step" matStepperPrevious>Back</button>
                    <button class="primaryBtn mainColor mainBordercolr next-step ml-2" 
                      (click)="validateAssetCreationBidRange()">Next</button>
                  </div>
                  <div class="step-actions float-right mt-4" *ngIf = "assetVerified">
                    <button class="primaryBtn mainColor mainBordercolr ml-2"
                      (click)="validateAssetCreationBidRange()">Save</button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step state="noNumber" *ngIf="assetType === 'Banner' || assetType === 'Video'">
                 <ng-template matStepLabel  class="step-title boxHeading mainBGcolor1">
                    <span  *ngIf="assetType === 'Banner'" (clcik) ="showBannerAPITab()">Ad Slot Integration</span>
                    <span  *ngIf="assetType === 'Video'">Video Ad API</span>
                  </ng-template>
                  <div *ngIf="viewingPlatform && viewingPlatform.platformType == 'Website'" class="step-new-content boxDiv p-4 clearfix"> 
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 l formLabel">Instructions</label>
                        <div class="col-sm-9">
                          <p ><b>Wondering how to integrate your site with the Doceree Platform?</b></p>
                          <p>All you need to do is copy and paste!</p>

                          <div class="list1">   
                            <ul>                   
                              <li>Copy the code generated below. </li>
                              <li>Paste it between the &lt;body&gt; and &lt;/body&gt; tags at the location where you want your ad to be displayed. If you insert the code outside the &lt;body&gt; tags, the ads will not run correctly.</li>
                              <li>Choose the relevant option, and click on ‘Next’.</li>         
                            </ul>  
                          </div>                                                
                          <!--<p><a (click) = "viewInstructions()" class="mainColor fw600">View Instructions</a></p>-->
                          <div style="float: right;" class="mt-3">
                            <button type="button" class="primaryBtn mainColor mainBordercolr next-step float-right mb-2" (click)="openDeveloperShareModal('adIntegrationCode')">Share with Developer</button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  formLabel">Code Injection</label>
                        <div class="col-sm-9 mb-3">
                          
                          <p class="inputBox grColor codeInjectionBox textarea">
                              <textarea id="codeInjectionInput" class="w-100 br0 " name="codeInjectionInput" readonly style="height:120px; padding: 5px;" [(ngModel)]="codeInjectionScript"></textarea>
                            </p>
                              <button class="copyCode mainBGcolor wColor tal fs12" (click)="copyElementText('codeInjectionInput')" *ngIf= "codeInjectionScript" >Click here to copy the code</button>                            
                        </div>
                      </div>
                     
                      <div class="form-group row">
                          <label for="inputPassword" class="col-sm-3  formLabel">Status</label>
                          <div class="col-sm-9">
                            <!--vijender-->
                            <mat-radio-group name="codeInjectionConfirmationSelection"
                              class="codeInjection-radio-group" [(ngModel)]="codeInjectionConfirmation">
                                <mat-radio-button class="codeInjection-radio-button"
                                *ngFor="let item of codeInjectionTypes" [value]="item.id" (change)="saveSlotScriptOption()">
                                  {{item.value}}
                                </mat-radio-button>
                            </mat-radio-group>
                          </div>
                      </div>
                      <div class="form-group row ">
                        
                        <!--<div class="col-sm-9" *ngIf="assetInfo && assetInfo.assetStatus != 'New'">
                          <p><i class="col-sm-2 fs14 rColor pl-0" [ngClass]="{'icon-17' : this.assetStatus != 'Active','icon-18' : this.assetStatus == 'Active','rColor' : this.assetStatus != 'Active','gColor' : this.assetStatus == 'Active'}"></i> {{this.assetStatus != 'Active' ? "It'll take upto 24 hours to verify your status" : "Banner space verified and integrated"}}<button class="primaryBtn mainColor mainBordercolr mr-0 ml-2" (click)="getStatusForAsset();"><i class="icon-19 fs12"></i> Refresh</button></p>
                        </div>
                        <div class="col-sm-9" *ngIf="assetInfo && assetInfo.assetStatus == 'New'">
                            <p class="row">
                              <i class="col-sm-1 fs14 rColor icon-17 pl-0"></i> 
                              <span class="col-sm-9 pl-0 fs12">Click Verify once you add code injection on your platform.</span> 
                              <span class="col-sm-2 pl-0">
                                  <button class="primaryBtn mainColor mainBordercolr" (click)="updateAssetStatus();">Verify</button>
                              </span>
                            </p>
                        </div>-->
                      </div>
                      <div class="form-group row">
                        <mat-error *ngIf="codeInjectionScriptUpdated">
                          Code injection updated. Please update the code injection on your platform for this slot
                        </mat-error>
                      </div>

                      <div class="step-actions float-right ">
                          <button class="primaryBtn mainColor mainBordercolr previous-step" matStepperPrevious (click) = "disableSave()">Back</button>
                          <button *ngIf="assetInfo && (assetInfo.assetStatus == 'New' || assetInfo.assetStatus == 'Verification Pending')" class="primaryBtn mainColor mainBordercolr" (click)="thanksPage()">Next</button>
                      </div>
                    </div>
                    <!-- Mobile -->
                    <div *ngIf="viewingPlatform && viewingPlatform.platformType == 'MobileApp'" class="step-new-content boxDiv p-4 clearfix"> 
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 l formLabel">Add DocereeAdview to the layout</label>
                        <div class="col-sm-9">
                          <p class="text">To display a banner you must place DocereeAdView in the layout of activity or fragment in which you would like to display it
                            The easiest way to do this is to add one of the corresponding XML layout file.</p>
                          <!--<p><a (click) = "viewInstructions()" class="mainColor fw600">View Instructions</a></p>-->
                          <div style="float: right;" class="mt-2 mb-3">
                            <button type="button" class="primaryBtn mainColor mainBordercolr next-step float-right " (click)="openDeveloperShareModal('adIntegrationCode')">Share with Developer</button>
                          </div>
                          <div style="clear: both;"></div>
                          <p class="inputBox grColor codeInjectionBox textarea">
                            <textarea id="mobileASISnippet1Input" class="w-100 br0 text" name="mobileASISnippet1Input" readonly style="height:120px; padding: 5px;" [(ngModel)]="mobileASISnippet1"></textarea>
                          </p>
                            <button class="copyCode mainBGcolor wColor tal fs12" (click)="copyElementText('mobileASISnippet1Input')" *ngIf= "mobileASISnippet1" >Click here to copy the code</button>   
                            <p class="text mt-3 fw600 ">You can also add this view programmatically (using the code below)</p>
                            <p class="inputBox grColor codeInjectionBox textarea textarea">
                              <textarea id="mobileASISnippet2Input" class="w-100 br0 text" name="mobileASISnippet2Input" readonly style="height:120px; padding: 5px;" [(ngModel)]="mobileASISnippet2"></textarea>
                            </p>
                              <button class="copyCode mainBGcolor wColor tal fs12" (click)="copyElementText('mobileASISnippet2Input')" *ngIf= "mobileASISnippet2" >Click here to copy the code</button>   
                        </div>
                      </div>
                      <div class="form-group row mt-4 ">
                        <label for="inputPassword" class="col-sm-3  formLabel">Load an Ad</label>
                        <div class="col-sm-9 mb-2">
                          <p class="text">Once the DocereeAdView is in place, the next step is to load an Ad. This is done with the load() method in the DocereeAdView class. It takes a DocereeAdRequest parameter, which holds runtime information (such as HCP profile) about a single Ad request.</p>
                          <p class="text fw600">Here is an example that shows how to load an Ad in the onCreate() method of an activity</p>
                          <p class="inputBox grColor codeInjectionBox textarea">
                              <textarea id="mobileASISnippet3Input" class="w-100 br0 text" name="mobileASISnippet3Input" readonly style="height:120px; padding: 5px;" [(ngModel)]="mobileASISnippet3"></textarea>
                            </p>
                              <button class="copyCode mainBGcolor wColor tal fs12  mb-3" (click)="copyElementText('mobileASISnippet3Input')" *ngIf= "mobileASISnippet3" >Click here to copy the code</button>                            
                            <p class="fs12 fw600">Make all the calls to the Doceree Mobile SDK on the main thread</p>
                            </div>
                      </div>
                     
                      <div class="form-group row">
                          <label for="inputPassword" class="col-sm-3  formLabel">Status</label>
                          <div class="col-sm-9">
                            <!--vijender-->
                            <mat-radio-group name="codeInjectionConfirmationSelection"
                              class="codeInjection-radio-group" [(ngModel)]="codeInjectionConfirmation">
                                <mat-radio-button class="codeInjection-radio-button"
                                *ngFor="let item of codeInjectionTypes" [value]="item.id" (change)="saveSlotScriptOption()">
                                  {{item.value}}
                                </mat-radio-button>
                            </mat-radio-group>
                          </div>
                      </div>
                      <div class="form-group row ">
                        
                        <!--<div class="col-sm-9" *ngIf="assetInfo && assetInfo.assetStatus != 'New'">
                          <p><i class="col-sm-2 fs14 rColor pl-0" [ngClass]="{'icon-17' : this.assetStatus != 'Active','icon-18' : this.assetStatus == 'Active','rColor' : this.assetStatus != 'Active','gColor' : this.assetStatus == 'Active'}"></i> {{this.assetStatus != 'Active' ? "It'll take upto 24 hours to verify your status" : "Banner space verified and integrated"}}<button class="primaryBtn mainColor mainBordercolr mr-0 ml-2" (click)="getStatusForAsset();"><i class="icon-19 fs12"></i> Refresh</button></p>
                        </div>
                        <div class="col-sm-9" *ngIf="assetInfo && assetInfo.assetStatus == 'New'">
                            <p class="row">
                              <i class="col-sm-1 fs14 rColor icon-17 pl-0"></i> 
                              <span class="col-sm-9 pl-0 fs12">Click Verify once you add code injection on your platform.</span> 
                              <span class="col-sm-2 pl-0">
                                  <button class="primaryBtn mainColor mainBordercolr" (click)="updateAssetStatus();">Verify</button>
                              </span>
                            </p>
                        </div>-->
                      </div>
                      <div class="form-group row">
                        <mat-error *ngIf="codeInjectionScriptUpdated">
                          Code injection updated. Please update the code injection on your platform for this slot
                        </mat-error>
                      </div>

                      <div class="step-actions float-right ">
                          <button class="primaryBtn mainColor mainBordercolr previous-step" matStepperPrevious (click) = "disableSave()">Back</button>
                          <button *ngIf="assetInfo && (assetInfo.assetStatus == 'New' || assetInfo.assetStatus == 'Verification Pending')" class="primaryBtn mainColor mainBordercolr" (click)="thanksPage()">Next</button>
                      </div>
                    </div>
                    <!-- End -->
            </mat-step>
          </mat-vertical-stepper>
      </div>

      <div class="col-md-4">
          <div *ngIf = "!assetDetails.basicSection.name && !assetDetails.basicSection.url">
              <img alt="AdvanalyticsBg" src="assets/images/pub_building_ad_space.png" style="width:250px; height:200px;">
          </div>
        <div class="boxDiv" *ngIf="assetDetails.basicSection.name || assetDetails.basicSection.url">
          <div class="m-2">
            <div class="bgLGRColor brr4 w-100" *ngIf="assetDetails && assetDetails.selectedBannerType && assetDetails.selectedBannerType.size">
              <div class="newAssets pt-4">
                <a class="bannerBoxes tac w-100" style="border:none !important">
                  <div><span class="mainBGcolor mb-3"  [ngClass]="assetDetails.selectedBannerType.name.toLowerCase() | trim">&nbsp;</span></div>
                  <small class="mainColor fs12">{{assetDetails.selectedBannerType.size}}</small> 
                  <small class="mainColor fs12">{{assetDetails.selectedBannerType.name}}</small>
                </a>
              </div>
            </div>
            <div class="bgVideoGRColor brr4 w-100" *ngIf="assetType == 'Video' && assetDetails.maxSize">
                <a ><i class="icon-29 mainColor1 fs24"></i></a>
            </div>
          </div>
          <div class="m-2">
            <div class="row">
              <div class="col-md-10">
                <h3 class="fs12">{{assetDetails.basicSection.name}}</h3>
                <h6 class="h6">{{assetDetails.basicSection.url}}</h6>
              </div>
              <div class="col-md-2"><i class="fw mainColor1 fs20" [ngClass]="{'icon-12' : assetType === 'Banner','icon-14' : assetType === 'Video','icon-15' : assetType === 'Email'}"></i></div>
            </div>
            <div class="row">
              <div class="col-md-4"  *ngIf="assetType == 'Banner' && assetDetails.selectedBannerType.size">
                <p class="grColor mb-0 mt-2 fs11">TYPE</p>
                <p>{{assetDetails.selectedBannerType.size}}</p>
              </div>
              <div class="col-md-4" *ngIf="assetDetails.maxSize">
                <p class="grColor mb-0 mt-2 fs11">SIZE</p>
                <p>{{assetDetails.maxSize}} {{assetDetails.selectedBasicsTabName.size}}</p>
              </div>
              <div class="col-md-4 commas" *ngIf="formatsArray && formatsArray.length">
                <p class="grColor mb-0 mt-2 fs11">FORMAT</p>
                  <span *ngFor="let format of formatsArray">
                    <p *ngIf="format.checked || format.selected">{{ format.displayName }}</p>
                  </span>
              </div>
            </div>
            <div class="row" *ngIf="basicSectionFormGroup.valid && constraintSectionFormGroup.valid">
              <div class="col-md-4 commas" *ngIf="bidRangeSectionFormGroup.get('minCpmBidRange').valid && (bidRangeSectionFormGroup.get('minCpmBidRange').value == 0 || bidRangeSectionFormGroup.get('minCpmBidRange').value) && bidRangeSectionFormGroup.get('maxCpmBidRange').valid && (bidRangeSectionFormGroup.get('maxCpmBidRange').value == 0 || bidRangeSectionFormGroup.get('maxCpmBidRange').value)">
                <p class="grColor mb-0 mt-2 fs11">CPM Range</p>
                  <p>{{currencySymbol}}{{ bidRangeSectionFormGroup.get('minCpmBidRange').value | number:'1.0-0' }} - {{currencySymbol}}{{ bidRangeSectionFormGroup.get('maxCpmBidRange').value | number:'1.0-0' }}</p>
              </div>
              <div class="col-md-4" *ngIf="bidRangeSectionFormGroup.get('minCpcBidRange').valid && (bidRangeSectionFormGroup.get('minCpcBidRange').value || bidRangeSectionFormGroup.get('minCpcBidRange').value == 0) && bidRangeSectionFormGroup.get('maxCpcBidRange').valid && (bidRangeSectionFormGroup.get('maxCpcBidRange').value == 0 || bidRangeSectionFormGroup.get('maxCpcBidRange').value)"> 
                <p class="grColor mb-0 mt-2 fs11">CPC Range</p>
                <p>{{currencySymbol}}{{ bidRangeSectionFormGroup.get('minCpcBidRange').value | number:'1.0-0' }} - {{currencySymbol}}{{ bidRangeSectionFormGroup.get('maxCpcBidRange').value | number:'1.0-0' }}</p>
              </div>
            </div>
            <p class="mt-1" *ngIf="codeInjectionScript"><i class="fs14 rColor mr-2" [ngClass]="{'icon-17' : assetInfo && assetInfo.assetStatus == 'New', 'icon-58' : assetInfo && assetInfo.assetStatus == 'Verification Pending','icon-18' : assetInfo && assetInfo.assetStatus == 'Active', 'icon-65' : assetInfo && assetInfo.assetStatus == 'Inactive', 'rColor' : assetInfo && assetInfo.assetStatus != 'Active','gColor' : assetInfo && assetInfo.assetStatus == 'Active'}"></i>{{assetInfo && assetInfo.assetStatus == 'New' ? "Banner Integration Pending" :  assetInfo && assetInfo.assetStatus == 'Verification Pending' ? "Banner verification pending": assetInfo && assetInfo.assetStatus == 'Active'? "Banner Active": "Banner Inactive" }}</p>
          </div>
          <!--<div *ngIf="!assetId" class="m-3 tac">
            <button [disabled] = "!activeAddAsset" class="primaryBtn mainBGcolor mainBordercolr wColor" type="button" (click)="saveAssetDetailsAndGenrScript()">Add Asset</button>
          </div>
            <div class="text-center m-2" *ngIf="assetId">
              <button class="primaryBtn mainColor mainBordercolr" (click)="getStatusForAsset();"><i class="icon-19 fs12"></i> Refresh</button>
            </div> -->  
        </div>
        <div class="boxDiv p-2 mt-3 mb-3" *ngIf="assetId">
          <div class="row text-center">
            <div class="col-md-6">
              <button *ngIf="(assetInfo && assetInfo.assetStatus === 'Active') " class="primaryBtn mainColor mainBordercolr" (click) = "openDeleteCofirmDialog('deactivate')">Deactivate</button>
              <button *ngIf="(assetInfo && assetInfo.assetStatus === 'Inactive')"class="primaryBtn mainColor mainBordercolr" (click) = "openDeleteCofirmDialog('activate')">Activate</button>
              <button *ngIf="(assetInfo && (assetInfo.assetStatus !== 'Active' && assetInfo.assetStatus !== 'Inactive')) "disabled class="primaryBtn mainColor mainBordercolr" >Deactivate</button>
            </div>
            <div class="col-md-6">
              <button class="primaryBtn mainColor mainBordercolr" (click) = "openDeleteCofirmDialog('delete')">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
