<div class="pt-3 pb-2 mb-4">
  <h1 class="h2 mb-2">Campaigns</h1>
  <h6 class="h6">Manage pending and approved Campaigns</h6>
</div>
<!--<mat-tab-group animationDuration="0ms">
  <mat-tab label="Pending" class="nav-link fs18 fw600 brr0"><app-pending-campaigns></app-pending-campaigns></mat-tab>
  <mat-tab label="Approved" class="nav-link fs18 fw600 brr0"><app-approved-campaigns></app-approved-campaigns></mat-tab>
</mat-tab-group>-->









<ul class="nav nav-pills mt-4 tabsStyles" role="tablist">
    <li class="nav-item"> <a class="nav-link active fs14 fw600 brr0 bgNone" data-toggle="pill" href="#pendingTab">Pending</a></li>
    <li class="nav-item"> <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#approvedTab">Approved</a></li>
  </ul>
  <div class="tab-content mb-5">
      <div id="pendingTab" class="tab-pane active">
        <app-pending-campaigns></app-pending-campaigns>
      </div>
      <div id="approvedTab" class="tab-pane">
          <app-approved-campaigns></app-approved-campaigns>
      </div>
  </div>