.cards {
    background-color: #fff;
    min-height: 130px;
    margin: 10px;
    padding-top: 4%;
    text-align: center; cursor: pointer;
}

.active {
    border-bottom: 5px solid #b260e4;
}

.content {
    background-color: #fff;
    height: auto;
}

table {
    width: 100%;
}

agm-map {
    height: 180px;
    margin-bottom: 10px;
    display: block;
}

.agm-IN {
    height: 400px !important;
}

.table {
    margin-bottom: 0;
}

th.mat-header-cell {
    text-align: left;
    color: #fff;
    font: 500 11px 'Work Sans', sans-serif !important;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

td.mat-cell {
    padding: 0px !important;
    border: none;
    font-size: 12px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 15px !important;
}

.mat-table {
    font-family: 'Work Sans', sans-serif !important;
}

::ng-deep .camp-aero .mat-sort-header-arrow {
    color: #fff !important;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

.cityItems {
    font-size: 10px !important;
    padding-right: 0px !important;
    padding-left: 6px !important;
    min-height: 24px !important;
    color: #b260e4 !important;
    background: #fff !important;
    border: 1px solid #b260e4
}

.closeBtn {
    width: 10px !important;
    height: 10px !important;
    margin: 4px !important;
    font-size: 10px !important;
}

.moreCityItems {
    border-radius: 16px !important;
    padding-right: 6px !important;
    width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}

.upload_in {
    width: 100% !important;
    border-radius: 4px;
    border: 1.5px solid #eeeeeebd;
    padding: 6px 15px;
    margin: 0;
    font-size: 12px;
    width: 243px;
    font-family: "Work Sans", sans-serif !important;
}

.marl-3 {
    margin-left: 12px !important;
}

.width {
    width: 400px !important;
}
.audience label{ margin: 0px !important;}
.audience button{ height: 0px !important;} 

.p8{ padding: 8px;}
.adu_disabled{pointer-events: none;
    opacity: 0.4;}
 .mb-37{ margin-bottom: 37px;}  
 .audience .cards{ margin-bottom: 0px !important;}
.colour {
    color: #268e0c;
}
.w66{width: 66%; padding: 0px 15px;}