    <div class="pt-4 mb17">
        <h1 class="h2">Target Audience List</h1>
        <h6 class="h6 mt-1 fwn lineheight" *ngIf="marketSelection == '1'">You can precision target your campaigns for maximum impact by <br>using a pre-existing High-value audience (HVA) list, creating a new HVA list, or uploading your own HVA list</h6>
        <h6 class="h6 mt-1 fwn lineheight" *ngIf="marketSelection == '2'">You can precision target your campaigns for maximum impact by <br>accessing a pre-existing list, creating a new list, or uploading your own Physician list</h6>
    </div>
    <div class="row col-md-8 mb-2 clearfix audience " style="max-width: 85%!important; margin-bottom: 0px !important;">
        <div class="col-md-3 cards boxDiv ml-0 mb-0" [ngClass]="{'active': viewingstate == 'VIEW'}" (click)="changeState('VIEW')">
            <img alt="audience" height="34" src="assets/images/audience1.svg" width="34">
            <div class="mt-2">
                <label class="fs11  fw600">ACCESS <br><span class="bColor fwn">Existing HVA Lists</span></label>
            </div>
        </div>
        <div class="col-md-3 cards boxDiv  mb-0" [ngClass]="{'active': viewingstate == 'CREATE'}" (click)="changeState('CREATE')">
            <img alt="audience" height="34" src="assets/images/audience2.svg" width="34">
            <div class="fs11 mt-2 fw600" >CREATE <br><span class="bColor fwn">New HVA List</span></div>
        </div>
        <div *ngIf="marketSelection == '1'" class="col-md-3 cards boxDiv mr-0 mb-0" [ngClass]="{'active': viewingstate == 'UPLOAD'}" (click)="changeState('UPLOAD')">
            <img alt="audience" height="34" src="assets/images/audience3.svg" width="34">
            <div class="fs11 mt-2 fw600">UPLOAD <br><span class="bColor fwn">Own HVA List</span></div>
        </div>
    </div>

<div class="row ">
    <div class="col-md-8 mt13">
            <div *ngIf="viewingstate == 'VIEW'" class="boxDiv  ">
                    <table class="tableStyles listViewTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
        
                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="camp-aero"> HVA Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
        
                        <!-- Name Column -->
                        <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef class="camp-aero"> Date Created </th>
                            <td mat-cell *matCellDef="let element"> {{element.created.at | date: 'd MMM yyyy'}} </td>
                        </ng-container>
        
                        <!-- Weight Column -->
                        <ng-container matColumnDef="audienceUploaded">
                            <th mat-header-cell *matHeaderCellDef class="camp-aero"> Type </th>
                            <td mat-cell *matCellDef="let element">
                                {{(element.audienceUploaded === true) ? 'Uploaded' : 'Created'}}
                            </td>
                        </ng-container>
        
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="npiSize">
                            <th mat-header-cell *matHeaderCellDef class="camp-aero text-center"> Audience Size </th>
                            <td class="text-center" mat-cell *matCellDef="let element"> {{element.npiSize}} </td>
                        </ng-container>
        
                        <!-- Symbol 1n -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-center"></th>
                            <td class="text-right pr-3" mat-cel *matCellDef="let element"> 
                                <span>
                                    <a class="mainColor tdu ml-3" (click)="editAudience(element)">
                                        <i class="icon-25 fs16 mainColor"></i>
                                    </a>
                                    <a class="mainColor tdu ml-3" (click)="deletAudience(element)">
                                        <i class="icon-26 fs16 mainColor"></i>
                                    </a>
                                </span>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mainBGcolor wColor text-center"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
        
                </div>
        <div *ngIf="viewingstate == 'CREATE'">
            <form [formGroup]="targetSectionFormGroup" class="profileForm">
                <div class="boxDiv p-4 clearfix">
                    <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label formLabel">HVA Name
                    </label>
                        <div class="col-sm-9 pl-1">
                            <mat-form-field appearance="outline" class="form-element marl-3">
                                <input matInput formControlName="name" [(ngModel)]="audienceTarget.name" required>
                                <mat-error *ngIf="targetSectionFormGroup.controls['name'].invalid">
                                    HVA Name field can't be empty
                                </mat-error>
                                <mat-error *ngIf="targetSectionFormGroup.controls['name'].hasError('require')">
                                    HVA Name field can't be empty
                                </mat-error>
                                <mat-error *ngIf="targetSectionFormGroup.controls['name'].hasError('nameNotAvailable')">
                                    A HVA Name with this name already exists.
                                </mat-error>
                                <mat-error *ngIf="targetSectionFormGroup.controls['name'].hasError('lessLength')">
                                    HVA Name name should be aleast of 3 characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Location <i [matTooltip]="advertiser_audience_location" class="icon-78 fs12 tradMak grColor">
                                    </i>
                        </label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-select [(value)]="audienceTarget.createAudienceTargetDetails.geoLocation.isInclude" (selectionChange)="getPotentialReach()">
                                            <mat-option value="true">Include</mat-option>
                                            <mat-option value="false">Exclude</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>                                

                                <div class="col-md-5" style="margin-top:3px;" *ngIf="items && items.length > 0">
                                    <app-drop-down-with-tree class="inputBox locationsTreeBox locationsTreeBox2" #ddTreeLocations formControlName="locationsAdded" [items]="items" (selectedChange)="addMoreLoactionsLatest($event)"></app-drop-down-with-tree>
                                    <mat-error *ngIf="!isSectionFormValid && targetSectionFormGroup.controls['locationsAdded'].invalid">Please select location</mat-error>
                                </div>                           
                            </div>
                            <div class="row " style="margin-top: 5px;">
                                <mat-chip-list #chipList class="col-sm-12">
                                    <mat-chip *ngFor="let item of audienceTarget.createAudienceTargetDetails.geoLocation.locations | slice:0:4;let i = index" class="cityItems" [selectable]="false" [removable]="isCityTagRemovable" (removed)="removeLocationsLatest(item.zipcode)">{{item.city}}
                                        <mat-icon matChipRemove *ngIf="isCityTagRemovable" class="closeBtn">cancel</mat-icon>
                                    </mat-chip>
                                    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" *ngIf="audienceTarget.createAudienceTargetDetails.geoLocation.locations.length > 4" class="cityItems moreCityItems">
                                        <mat-icon style="transform:scale(0.69); width:auto;" class="fs16">add</mat-icon><span>{{audienceTarget.createAudienceTargetDetails.geoLocation.locations.length - 4}}</span>
                                        <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                            <p (mouseleave)="menuTrigger.closeMenu()" class="p-2 mb-0">
                                                <mat-chip *ngFor="let item of audienceTarget.createAudienceTargetDetails.geoLocation.locations | slice:4;let i = index" class="cityItems mr-1" [selectable]="false" [removable]="isCityTagRemovable" (removed)="removeLocationsLatest(item.zipcode)">{{item.city}}
                                                    <mat-icon matChipRemove *ngIf="isCityTagRemovable" class="closeBtn">cancel</mat-icon>
                                                </mat-chip>
                                            </p>
                                        </mat-menu>
                                    </button>
                                </mat-chip-list>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label formLabel"></label>
                        <div class="col-sm-9">
                            <agm-map [ngClass]="{'agm-IN' : zone === '2'}" id="locationMap" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" (zoomChange)="zoomChange($event)" (boundsChange)="boundsChange($event)">
                                <agm-data-layer [geoJson]="newGeoJson" (layerClick)="clickedDataLayer($event)" [style]="featureStyle"></agm-data-layer>
                                <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng">
                                    <agm-info-window> <strong>{{m.label}}</strong>
                                    </agm-info-window>
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Demographic
                        </label>
                        <div class="col-md-9">
                            <div class="row">
                                <p class="col-md-4 mt-2">Specialization <i [matTooltip]="advertiser_audience_demographic_specialization" class="icon-78 fs12 tradMak grColor">
                                        </i>
                                </p>
                                <div class="col-md-3 pr-0">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-select [(value)]="audienceTarget.createAudienceTargetDetails.demoGraphics.specialization.isInclude" (selectionChange)="getPotentialReach()">
                                            <mat-option value="true">Include</mat-option>
                                            <mat-option value="false">Exclude</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 locationsTreeBox2" *ngIf="specializationTreeList" style="margin-top: 3px;" >
                                    <app-drop-down-with-tree class="inputBox locationsTreeBox locationsTreeBox1 " #ddTreeSpecialization formControlName="specializationName" [items]="specializationItems" (selectedChange)="addSpecialization($event)"></app-drop-down-with-tree>
                                    <mat-error *ngIf="!isSectionFormValid && targetSectionFormGroup.controls['specializationName'].invalid" style="width:200px;">Please select specialization</mat-error>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col-md-4 mt-2">Gender <i [matTooltip]="advertiser_audience_demographic_gender" class="icon-78 fs12 tradMak grColor">
                                        </i>
                                </p>
                                <div class="col-md-8">
                                    <div class="custom-checkbox mt-2 row">
                                        <div formArrayName="gen" class="col-4" *ngFor="let gender of targetSectionFormGroup.get('gen')['controls']; let i=index">
                                            <mat-checkbox [formControlName]="i" [checked]="audienceTarget.createAudienceTargetDetails.demoGraphics.gender.includes(genders[i])" (change)="onChange(genders[i], $event.checked, audienceTarget.createAudienceTargetDetails.demoGraphics.gender, 'genderType')">{{genders[i]}}</mat-checkbox>
                                        </div>
                                        <mat-error class="col-6" style="margin-top:-4px;" *ngIf="!isSectionFormValid && targetSectionFormGroup.controls['gen'].invalid">Please select gender</mat-error>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="marketSelection == '1'">
                                <p class="col-md-4 mt-2">Behaviour <i [matTooltip]="advertiser_audience_demographic_behaviour" class="icon-78 fs12 tradMak grColor">
                                        </i>
                                </p>
                                <div class="col-md-8">
                                    <div class="custom-checkbox mt-2">
                                        <section class="row">
                                            <div class="col-6" formArrayName="behaviourName" *ngFor="let behaviours of targetSectionFormGroup.get('behaviourName')['controls']; let i=index">
                                                <mat-checkbox [formControlName]="i" [checked]="audienceTarget.createAudienceTargetDetails.demoGraphics.behaviours.includes(behaviourList[i])" (change)="onChange(behaviourList[i], $event.checked, audienceTarget.createAudienceTargetDetails.demoGraphics.behaviours, 'behaviourType')">{{behaviourList[i]}}</mat-checkbox>
                                            </div>
                                        </section>
                                        <mat-error style="margin-top:-4px;" *ngIf="!isSectionFormValid && targetSectionFormGroup.controls['behaviourName'].invalid">Please select behaviour</mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-1 mb-1 pl-0 pr-0 fs12" *ngIf="zone == '2'">                      
                        <p class="fs12" style="line-height:16px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        </p>
                    </div>
                    <hr>
                    <div class="clearfix">
                        <button class="primaryBtn mainColor mainBordercolr next-step float-right" *ngIf="!audienceTarget._id" (click)="saveHVAForCreate()">Save
                        </button>                      

                        <button class="primaryBtn mainColor mainBordercolr next-step float-right" *ngIf="audienceTarget._id" (click)="updateHVAForCreate()">Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="viewingstate == 'UPLOAD'">
                <form [formGroup]="uploadFormGroup">
                    <div class="boxDiv p-4 clearfix">
                        <div class="form-group row">
                            <label class="col-sm-4 fs12">HVA Name
                            </label>
                            <div class="col-md-6 form-element ">       
                                <mat-form-field appearance="outline" class="form-element hvanameField" style="width: 100% !important; padding: 0px; margin: 0px;">                         
                                    <input matInput formControlName="HVAName" [(ngModel)]="audienceTarget.name" required class="form-control fs12 upload_in p8">
                                    <mat-error *ngIf="!downloadCSV && uploadFormGroup.controls['HVAName'].invalid" class="ml-1">
                                        HVA Name field can't be empty
                                    </mat-error>
                                    <mat-error *ngIf="uploadFormGroup.controls['HVAName'].hasError('require')" class="ml-1">
                                        HVA Name field can't be empty
                                    </mat-error>
                                    <mat-error *ngIf="uploadFormGroup.controls['HVAName'].hasError('noDataAvailable')" class="ml-1">
                                        A HVA Name with this name already exists.
                                    </mat-error>
                                    <mat-error *ngIf="uploadFormGroup.controls['HVAName'].hasError('lessLength')" class="ml-1">
                                        HVA Name name should be aleast of 3 characters
                                    </mat-error>
                               </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <label class="col-sm-4 col-form-label formLabel" style="position: relative; top: -7px;">Upload your existing HVA
                            </label>
                            <div class="col-sm-8">
                                <div class="form-group  clearfix">
                                    <div class="float-left">
                                        <button *ngIf="!selectedFileName" class="mainColor bgNone mr-0 br0 fs13 mr-4 pl-0" (click)="fileChangeListener($event)">
                                            <i class="icon-52 fs14 fw600 float-left" style="margin:1px 10px 0 0"></i> Upload file
                                        </button>
                                        <button *ngIf="selectedFileName" class="mainColor bgNone mr-0 br0 fs13 mr-4 pl-0" (click)="fileChangeListener($event)">
                                            <i class="icon-52 fs14 fw600 float-left" style="margin:1px 10px 0 0"></i> {{ selectedFileName }}
                                        </button>
                                        <div class="col">
                                            <input #file type="file" style="display: none" (click)="file.value = null" value="" (change)="selectFile($event, banner)" accept='.csv'>
                                        </div>
                                    </div>
                                    <div class="float-left">
                                        <button class="mainColor bgNone mr-0 br0 fs13" (click)="downloadSampleCsv()">
                                            <i class="icon-35 fs14 fw600 float-left" style="margin:1px 10px 0 0"></i> Download template
                                        </button>
                                    </div>
                                </div>
                                <mat-error *ngIf="invalidFile.status">
                                    {{invalidFile.message}}
                                </mat-error> 
                                <div *ngIf="(!invalidFile.status && selectedFiles && selectedFiles.length > 0)"> 
                                    <h6 class="fs11 fwn colour mt-2" style="font-weight: normal !important;">Thanks for uploading the list. <br>We are currently reviewing this
                                                and should come back to you within next 6 hours. Press save and proceed further.</h6>
                                </div>
                                <!--<div class="float-right mt-5">  <button class="primaryBtn mainColor mainBordercolr next-step float-left">Save </button>
                                    <button class="primaryBtn mainColor mainBordercolr next-step float-left">Create Campaign  </button></div>-->
                              
                            </div>
                        </div>
                        <div class="clearfix mt-4">
                            <button class="primaryBtn mainColor mainBordercolr next-step float-right mr-0" *ngIf="!audienceTarget._id" (click)="saveHVAForUpload()">Save
                            </button>
                            <button class="primaryBtn mainColor mainBordercolr next-step float-right" *ngIf="audienceTarget._id" (click)="updateHVAForUpload()">Update
                            </button>
                        </div>
                    </div>                    
                </form>
            </div>
    </div>
    <div class="col-md-4 ">
            <div class="row boxDiv pt-2 pb-2 mb-3 mt-3" *ngIf="potentialContent === true">
                    <div class="col-md-5 svgFile">
                        <circle-progress [percent]=percentagePotential [radius]="60" [space]="2" [outerStrokeGradient]="true" [outerStrokeWidth]="10" [outerStrokeColor]="'#b260e4'" [outerStrokeGradientStopColor]="'#6b3ffc'" [innerStrokeColor]="'#e7e8ea'" [innerStrokeWidth]="10" [title]="'Defined Audience'" [animation]="true" [animateTitle]="false" [animationDuration]="10" [clockwise]="false" [startFromZero]="true" [titleFontSize]="9" [showSubtitle]="false">
                        </circle-progress>
                    </div>
                    <div class="col-md-7 ">
                        <p class="mb-1 fw600">Potential Reach </p>
                        <p class="mb-3">{{potentialTotalHcps}} people </p>
                        <hr>
                        <p class="mb-1 fw600">Estimated Daily Reach </p>
                        <p class="mb-0">{{potentialReach}} </p>
                    </div>
                </div>
        <div class="row boxDiv audience " *ngIf="viewingstate == 'CREATE'" style="padding: 10px!important;margin-bottom: 10px!important;">
            <p class="fs12 mb-0"
              *ngIf="audienceTarget && audienceTarget.createAudienceTargetDetails && audienceTarget.createAudienceTargetDetails.geoLocation && audienceTarget.createAudienceTargetDetails.geoLocation.locations">
                <label *ngFor="let item of audienceTarget.createAudienceTargetDetails.geoLocation.locations | slice:0:4; let i = index; let isLast = last;">
                    {{item.city}}{{isLast ? '' : ','}}&nbsp;
                </label>
                <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" *ngIf="audienceTarget.createAudienceTargetDetails.geoLocation.locations.length > 4" class="cityItems moreCityItems br0">
                  <mat-icon style="transform:scale(0.69); width:auto;" class="fs16">add</mat-icon><span>{{audienceTarget.createAudienceTargetDetails.geoLocation.locations.length - 4}}</span>
                  <mat-menu #menu2="matMenu" [overlapTrigger]="false">
                    <p (mouseleave)="menuTrigger.closeMenu()" class="p-2 mb-0">
                      <label *ngFor="let item of audienceTarget.createAudienceTargetDetails.geoLocation.locations | slice:4; let i = index; let isLast = last;" class="mb-0 fs12">
                          &nbsp;{{item.city}}{{isLast ? '' : ','}}
                      </label>
                    </p>
                  </mat-menu>
              </button>
            </p>
            <p class="fs12 mb-0"
              *ngIf="audienceTarget && audienceTarget.createAudienceTargetDetails && audienceTarget.createAudienceTargetDetails.demoGraphics && audienceTarget.createAudienceTargetDetails.demoGraphics.specialization && audienceTarget.createAudienceTargetDetails.demoGraphics.specialization.groupOfSpecialization">
              <label *ngFor="let item of audienceTarget.createAudienceTargetDetails.demoGraphics.specialization.groupOfSpecialization | slice:0:4; let i = index; let isLast = last;">
                  {{item.taxonamyName}}{{isLast ? '' : ', '}} &nbsp;
              </label>
              <button mat-icon-button [matMenuTriggerFor]="menu3" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()" (mouseover)="menuTrigger.openMenu()" *ngIf="audienceTarget.createAudienceTargetDetails.demoGraphics.specialization.groupOfSpecialization.length > 4" class="cityItems moreCityItems br0">
                <mat-icon style="transform:scale(0.69); width:auto;" class="fs16">add</mat-icon><span>{{audienceTarget.createAudienceTargetDetails.demoGraphics.specialization.groupOfSpecialization.length - 4}}</span>
                <mat-menu #menu3="matMenu" [overlapTrigger]="false">
                  <p (mouseleave)="menuTrigger.closeMenu()" class="p-2 mb-0">
                    <label *ngFor="let item of audienceTarget.createAudienceTargetDetails.demoGraphics.specialization.groupOfSpecialization | slice:4; let i = index; let isLast = last;" class="mb-0 fs12">
                       {{item.taxonamyName}}{{isLast ? '' : ', '}} &nbsp;
                    </label>
                  </p>
                </mat-menu>
              </button>
            </p>          
            <p class=" fs12 mb-0">
              <span
                *ngIf="audienceTarget && audienceTarget.createAudienceTargetDetails && audienceTarget.createAudienceTargetDetails.demoGraphics && audienceTarget.createAudienceTargetDetails.demoGraphics.gender">
               {{audienceTarget.createAudienceTargetDetails.demoGraphics.gender | addspace}}&nbsp;
              </span>
            </p>
          </div>
            <div>            
            </div>
        </div>
</div>
<div class="boxDiv w66 mt-3" *ngIf="viewingstate == 'VIEW' && (!dataSource || dataSource.length === 0)">
    <p class="pt-3 fs12">Your audience list is currently empty. You can use Doceree’s targeting tools to create a new HVA list or upload your own NPI list
        </p>
  </div>
  