input.mat-input-element { margin:0!important; font-family:'Work Sans', sans-serif!important;}
.nameCardDetails{
    position: absolute;
    top: 18%;
    left: 9%;
    color: #fff;
    font-size: 12px;
}
.nameCardDetails .row{
    margin: 0px!important;
}
.nameCardDetails .row span{
    padding-left: 20px!important;
}
.mat-chip.mat-standard-chip {
    background-color: #fff;
    color: rgba(0,0,0,.87);
	border: 1px solid blue;min-height: 24px !important;
}
.paymentmethod .tableStyles th {padding-top: 5px !important; padding-bottom: 5px !important; padding-left: 15px !important; padding-right: 15px !important;}
.paymentmethod .tableStyles td { padding:7px 15px!important}
th.mat-header-cell{ padding: 5px 0px!important;}
.card-body{padding: 0px 19px !important;}
.number_code{padding-left: 5px !important;
    padding-right: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;}
    
  .number{  border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;}
    .city_input_width{width: 41% !important; margin-left: 14px;}
    .card_height{ height: 300px;}
.closeBtn{font-size: 12px;margin-top: 7px;}
