<div id="accordion" *ngIf="pageView === 'listView'" class="mt-3">
  <div class="card" >
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link headerColor" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Bid Range
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div *ngIf="pageView=='listView'">
          <div class="boxDiv mb-3 mt-3">
            <div class="table-responsive">
              <table class="table table-striped tableStyles">
                <thead>
                  <tr class="mainBGcolor wColor">
                    <th>Minimum Bid Range</th>
                    <th>Maximum Bid Range</th>
                    <th>Type</th>
                    <th>
                      <a (click)="renderAddView()" class="primaryBtn brwColor float-right wColor font-weight-normal">
                        <i class="icon-6 fs14 fw600"></i> Add Bid Range
                      </a>
                    </th>
                  </tr>
                </thead>
                <tr *ngFor='let publisherBidRange of publisherBidRangesList'>
                  <td>{{publisherBidRange.min}}</td>
                  <td >{{publisherBidRange.max}}</td>
                  <td>{{publisherBidRange.type}}</td>
                  <td class="float-right">
                    <a (click)="renderEditView(publisherBidRange._id)" class="mainColor tdu">
                      <i class="icon-25 fs14 fw600"></i>
                    </a>
                    <a (click)="removePublisherBidRange(publisherBidRange._id)" class="mainColor tdu ml-4">
                      <i class="icon-26 fs14 fw600"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf='publisherBidRangesList.length === 0'>
                  <td colspan="4" align="center">No account details found</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="pageView=='addView' || pageView=='editView'">
          <div class="boxDiv mt-3">		
            <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
            <div class="row">
              <div class="col-md-4 mt-2">
              <a class="wColor ttu fs14" (click)="renderListView()">
                <i class="icon-49 fs14 fw600"></i> Back
              </a>
              </div>
              <div class="col-md-8" *ngIf="pageView === 'addView'">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add Bid Range</h5>
              </div>
              <div class="col-md-8" *ngIf="pageView === 'editView'">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Bid Range</h5>
              </div>
            </div>
            </div>
            <div class="p-4">
            <form [formGroup]="publisherBidRangeForm">
              <div class="form-group row text-center text-danger" *ngIf="errMessage">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <strong><i class="icon-17 fs16 fw600"></i>  {{errMessage}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
                  <label class="col-form-label formLabel">Minimium Bid Range</label>
                </div>
                <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
                  <input autocomplete="off" type="number" class="inputBox" id="min" formControlName="min" name="min" placeholder="Enter Minimum Bid Range">
                  <app-field-error-display [displayError]="isFieldValid('min')" errorMsg="Minimum Bid Range is required">
                  </app-field-error-display>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
                  <label class="col-form-label formLabel">Maximum Bid Range</label>
                </div>
                <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
                  <input autocomplete="off" type="number" class="inputBox" id="max" formControlName="max" name="max" placeholder="Enter Maximum Bid Range">
                  <app-field-error-display [displayError]="isFieldValid('max')" errorMsg="Maximum Bid Range is required">
                  </app-field-error-display>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
                  <label class="col-form-label formLabel">Type</label>
                </div>
                <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
                  <input autocomplete="off" type="text" class="inputBox" id="type" formControlName="type" name="type" placeholder="Enter Bid Range Type ">
                  <app-field-error-display [displayError]="isFieldValid('type')" errorMsg="Bid Range Type is required">
                  </app-field-error-display>
                </div>
              </div>
              <div class="form-group mt-3 clearfix text-center">
                <button *ngIf="pageView==='addView'" class="primaryBtn mainColor mainBordercolr float-center" (click)="onSubmit()">
                    Save
                </button>
                <button class="primaryBtn mainColor mainBordercolr float-center" (click)="onEditSubmit()" *ngIf="pageView==='editView'">
                    Save
                </button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed headerColor" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Weightage By Validated HCP
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div *ngIf="pageView=='listView'">
          <div class="boxDiv mb-3 mt-3">
            <div class="table-responsive">
              <table class="table table-striped tableStyles">
                <thead>
                  <tr class="mainBGcolor wColor">
                    <th>Minimum HCP</th>
                    <th>Maximum HCP</th>
                    <th>Weightage</th>
                    <th>
                      <a (click)="renderWeightageByValidatedHcpAddView()" class="primaryBtn brwColor float-right wColor font-weight-normal">
                        <i class="icon-6 fs14 fw600"></i> Add Weightage By Validated Hcp
                      </a>
                    </th>
                  </tr>
                </thead>
                <tr *ngFor='let WeightageByValidatedHcp of weightageByValidatedHcpsList'>
                  <td>{{WeightageByValidatedHcp.min}}</td>
                  <td >{{WeightageByValidatedHcp.max}}</td>
                  <td>{{WeightageByValidatedHcp.weightage}}</td>
                  <td class="float-right">
                    <a (click)="renderWeightageByValidatedHcpEditView(WeightageByValidatedHcp._id)" class="mainColor tdu">
                      <i class="icon-25 fs14 fw600"></i>
                    </a>
                    <a (click)="removeWeightageByValidatedHcp(WeightageByValidatedHcp._id)" class="mainColor tdu ml-4">
                      <i class="icon-26 fs14 fw600"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf='weightageByValidatedHcpsList.length === 0'>
                  <td colspan="4" align="center">No account details found</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed headerColor" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Site Weightage
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div *ngIf="pageView=='listView'">
          <div class="boxDiv mb-3 mt-3">
            <div class="table-responsive">
              <table class="table table-striped tableStyles">
                <thead>
                  <tr class="mainBGcolor wColor">
                    <th>Weightage</th>
                    <th>
                      <a (click)="renderPublisherSiteWeightageAddView()" class="primaryBtn brwColor float-right wColor font-weight-normal">
                        <i class="icon-6 fs14 fw600"></i> Add Site Weightage
                      </a>
                    </th>
                  </tr>
                </thead>
                <tr *ngFor='let publisherSiteWeighatage of publisherSiteWeightagesList'>
                  <td>{{publisherSiteWeighatage.weightage}}</td>
                  <td class="float-right">
                    <a (click)="renderPublisherSiteWeightageEditView(publisherSiteWeighatage._id)" class="mainColor tdu">
                      <i class="icon-25 fs14 fw600"></i>
                    </a>
                    <a (click)="removePublisherSiteWeightage(publisherSiteWeighatage._id)" class="mainColor tdu ml-4">
                      <i class="icon-26 fs14 fw600"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf='publisherSiteWeightagesList.length === 0'>
                  <td colspan="4" align="center">No account details found</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	
<div *ngIf="(pageView=='addView' || pageView=='editView') && isPublisher === true">
  <div class="boxDiv mt-3">		
    <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
    <div class="row">
      <div class="col-md-4 mt-2">
      <a class="wColor ttu fs14" (click)="renderListView()">
        <i class="icon-49 fs14 fw600"></i> Back
      </a>
      </div>
      <div class="col-md-8" *ngIf="pageView === 'addView'">
      <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add Bid Range</h5>
      </div>
      <div class="col-md-8" *ngIf="pageView === 'editView'">
      <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Bid Range</h5>
      </div>
    </div>
    </div>
    <div class="p-4">
    <form [formGroup]="publisherBidRangeForm">
      <div class="form-group row text-center text-danger" *ngIf="errMessage">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong><i class="icon-17 fs16 fw600"></i>  {{errMessage}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <label class="col-form-label formLabel">Minimium Bid Range</label>
        </div>
        <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <input autocomplete="off" type="number" class="inputBox" id="min" formControlName="min" name="min" placeholder="Enter Minimum Bid Range">
          <app-field-error-display [displayError]="isFieldValid('min')" errorMsg="Minimum Bid Range is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <label class="col-form-label formLabel">Maximum Bid Range</label>
        </div>
        <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <input autocomplete="off" type="number" class="inputBox" id="max" formControlName="max" name="max" placeholder="Enter Maximum Bid Range">
          <app-field-error-display [displayError]="isFieldValid('max')" errorMsg="Maximum Bid Range is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <label class="col-form-label formLabel">Type</label>
        </div>
        <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <input autocomplete="off" type="text" class="inputBox" id="type" formControlName="type" name="type" placeholder="Enter Bid Range Type ">
          <app-field-error-display [displayError]="isFieldValid('type')" errorMsg="Bid Range Type is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group mt-3 clearfix text-center">
        <button *ngIf="pageView==='addView'" class="primaryBtn mainColor mainBordercolr float-center" (click)="onSubmit()">
            Save
        </button>
        <button class="primaryBtn mainColor mainBordercolr float-center" (click)="onEditSubmit()" *ngIf="pageView==='editView'">
            Save
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
<div *ngIf="(pageView=='addView' || pageView=='editView') && isWeightageByValidatedHcp === true">
  <div class="boxDiv mt-3">		
    <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
    <div class="row">
      <div class="col-md-4 mt-2">
      <a class="wColor ttu fs14" (click)="renderWeightageByValidatedHcpListView()">
        <i class="icon-49 fs14 fw600"></i> Back
      </a>
      </div>
      <div class="col-md-8" *ngIf="pageView === 'addView'">
      <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add Weightage By Validated Hcp</h5>
      </div>
      <div class="col-md-8" *ngIf="pageView === 'editView'">
      <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Weightage By Validated Hcp</h5>
      </div>
    </div>
    </div>
    <div class="p-4">
      <form [formGroup]="WeightageByValidatedHcpForm">
        <div class="form-group row text-center text-danger" *ngIf="errMessage">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <strong><i class="icon-17 fs16 fw600"></i> {{errMessage}}</strong>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <label class="col-form-label formLabel">Minimium HCP</label>
          </div>
          <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <input autocomplete="off" type="number" class="inputBox" id="min" formControlName="min" name="min" placeholder="Enter Minimum Validated Hcp">
            <app-field-error-display [displayError]="isWeightageByValidatedHcpFieldValid('min')" errorMsg="Minimum HCP is required">
            </app-field-error-display>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <label class="col-form-label formLabel">Maximum HCP</label>
          </div>
          <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <input autocomplete="off" type="number" class="inputBox" id="max" formControlName="max" name="max" placeholder="Enter Maximum Validated Hcp">
            <app-field-error-display [displayError]="isWeightageByValidatedHcpFieldValid('max')" errorMsg="Maximum HCP is required">
            </app-field-error-display>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <label class="col-form-label formLabel">Weightage</label>
          </div>
          <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <input autocomplete="off" type="text" class="inputBox" id="weightage" formControlName="weightage" name="weightage" placeholder="Enter Validated Hcp Weightage ">
            <app-field-error-display [displayError]="isWeightageByValidatedHcpFieldValid('weightage')" errorMsg="Weightage is required">
            </app-field-error-display>
          </div>
        </div>
        <div class="form-group mt-3 clearfix text-center">
          <button *ngIf="pageView==='addView'" class="primaryBtn mainColor mainBordercolr float-center" (click)="onWeightageByValidatedHcpSubmit()">
              Save
          </button>
          <button class="primaryBtn mainColor mainBordercolr float-center" (click)="onWeightageByValidatedHcpEditSubmit()" *ngIf="pageView==='editView'">
              Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="(pageView=='addView' || pageView=='editView') && isPublisherSiteWeightage === true">
  <div class="boxDiv mt-3">		
    <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
    <div class="row">
      <div class="col-md-4 mt-2">
      <a class="wColor ttu fs14" (click)="renderPublisherSiteWeightageListView()">
        <i class="icon-49 fs14 fw600"></i> Back
      </a>
      </div>
      <div class="col-md-8" *ngIf="pageView === 'addView'">
      <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add Site Weightage</h5>
      </div>
      <div class="col-md-8" *ngIf="pageView === 'editView'">
      <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Site Weightage</h5>
      </div>
    </div>
    </div>
    <div class="p-4">
    <form [formGroup]="publisherSiteWeightageForm">
      <div class="form-group row text-center text-danger" *ngIf="errMessage">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong><i class="icon-17 fs16 fw600"></i>  {{errMessage}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <label class="col-form-label formLabel">Weightage</label>
        </div>
        <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <input autocomplete="off" type="text" class="inputBox" id="weightage" formControlName="weightage" name="weightage" placeholder="Enter site weightage">
          <app-field-error-display [displayError]="isPublisherSiteWeightageFieldValid('weightage')" errorMsg="Weightage is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group mt-3 clearfix text-center">
        <button *ngIf="pageView==='addView'" class="primaryBtn mainColor mainBordercolr float-center" (click)="onPublisherSiteWeightageSubmit()">
            Save
        </button>
        <button class="primaryBtn mainColor mainBordercolr float-center" (click)="onPublisherSiteWeightageEditSubmit()" *ngIf="pageView==='editView'">
            Save
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
