<div class="custom-dialog info publisherDiv" style="width: 80%; margin: auto;">
  <div class="modal-content">
         <div class="modal-body p-0" style="width: 668px !important;">
             <mat-dialog-content><div class="mat-step-label mat-step-label-active mat-step-label-selected">
              <span class="ng-star-inserted pl-2">Invite Developer</span></div></mat-dialog-content>
              <form [formGroup]="addUserForm" class="pb-4">
                <div class="row pl-4 pr-4 pt-3">
                    
                  <div class="col-md-5 pr-0">
                    <mat-label class="fs12 fw600 ">Add New User </mat-label>
                    <input type="text" class="inputBox mt-2" placeholder="Email" formControlName="email">
                    <mat-error *ngIf="addUserSubmitted && addUserForm.controls['email'].hasError('required')">
                      Email is required.
                    </mat-error>
                  </div>
                  <div class="col-md-3 pr-0">
                    <mat-label class="fs12 fw600">Platform</mat-label>
                    <input type="text" class="inputBox mt-2" placeholder="Platform" matInput formControlName="userPlatform" [readonly]="true">
                  </div>

                  <div class="col-md-2 pr-0">
                    <mat-label class="fs12 fw600">Role </mat-label>
                    <input type="text" class="inputBox mt-2" placeholder="Role" matInput formControlName="role"
                    [matAutocomplete]="role">
                    <mat-autocomplete #role="matAutocomplete">
                      <mat-option *ngFor="let option of filteredUserRolesPermissions" [value]="option.roleName">
                        {{option.roleName}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="addUserSubmitted && addUserForm.controls['role'].hasError('required')">
                      Role is required.
                    </mat-error>
                  </div>

                  <div class="mt-4 ml-2" style="margin-top:28px !important;">
                    <button  color="warn" class="primaryBtn mainColor mainBordercolr fs11" [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher' (click) = "addUser()" >Add</button>
                  </div>
                </div>
            </form>
        </div>
        <div class="table-responsive pt-0 pb-0 pr-4 ovi dashBoardTable devploper-share " *ngIf="publisherUsers && publisherUsers.length > 0" style="width: 93%; margin: auto; position: relative; top: -14px;">
          <table class="tableStyles listViewTable"mat-table [dataSource]="publisherUsers" multiTemplateDataRows>
            <ng-container matColumnDef="radioAction">
              <th mat-header-cell *matHeaderCellDef class="wColor" style="background: #ffff; border-bottom: none; display: none;"></th>
              <td mat-cell *matCellDef="let element" class="ellipse" style="width:20px !important; padding-left: 0px !important;">
                <mat-radio-button  value="element.selected" (change)="radioChange(element.email)"></mat-radio-button> 
              </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="wColor" style="background: #ffff; border-bottom: none;color: #000 !important; display: none;"> Email</th>
              <td mat-cell *matCellDef="let element" class="ellipse">{{element.email}}</td>
            </ng-container>
            <ng-container matColumnDef="userPlatform">
              <th mat-header-cell *matHeaderCellDef class="wColor" style="background: #ffff;border-bottom: none; color: #000 !important; display: none;"> Platform</th>
              <td mat-cell *matCellDef="let element" class="ellipse">{{element.platformName}}</td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef class="wColor" style="background: #ffff;border-bottom: none; color: #000 !important; display: none;"> Role</th>
              <td mat-cell *matCellDef="let element"  class="ellipse">{{element.roleName}}</td>
            </ng-container>
            <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedUsersColumns" style="background: #ffff; color: #000 !important;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedUsersColumns;"></tr>
          </table>
        </div>
        <div class="modal-footer border-0 pt-0 pb-2" *ngIf="publisherUsers && publisherUsers.length > 0">            
            <mat-dialog-actions class="mb-0">
              <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11"
              [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher' (click)="sendVerificationMail()">Cancel</button>
              <button [mat-dialog-close]="false" color="warn" class="primaryBtn mainColor mainBordercolr fs11" [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher' (click)= "sendMail()">Send</button>
            </mat-dialog-actions>
        </div>
      </div>
  </div>