<div class="pt-3 pb-2 mb-4">
    <h1 class="h2 mb-2">Performance Analytics</h1>
    <h6 class="h6">See how your campaigns are performing</h6>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="boxDiv mt-2 mb-2">
            <div class="bgLGRColor profileForm p-3">
                <div class="row">
                    <div class="col-5 mt-2 fw600">Viewing Brand</div>
                    <div class="col-4">
                        <div class="mat-form-field-infix w-100">
                            <mat-select (selectionChange)="onSelectCampaign($event.value)" placeholder="Select Campaign">
                                <mat-option *ngFor="let option of campaignsList" [value]="option._id">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <!-- <mat-error *ngIf="campaignCtrl.hasError('require')">
                  Therapeutic Area is required
                </mat-error> -->
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col-md-5"><img src="./assets/images/platformRightImg.svg" width="100%" height="100%"
                            alt="Platform">
                    </div>
                    <div class="col-md-7">
                        <h3 class="fs24"><strong>{{ brandName }}</strong></h3>
                        <h6 class="h6">{{ clientType }}</h6>
                        <p class="mt-4 mb-0">Active campaign | 64</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="boxDiv br1 mainBordercolr pt-2 pb-2 filterDiv">
            <a (click)="displayFilters()" class="filterShowHide mainColor h6 pl-2 w-100 float-none ttu dBlock1 mb-0">
                Filter
                <i class="icon-48 grColor fs18 pr-1 float-right mt-1" *ngIf="!showfilters"></i>
                <i class="icon-47 grColor fs18 pr-1 float-right mt-1" *ngIf="showfilters"></i>
            </a>

        </div>
    </div>
</div>

<div class="filterShowDiv mt-2" [ngStyle]="{ 'display': showfilters === true ? 'block' : 'none' }">
    <form [formGroup]="saveFilterForm">
        <div class="boxDiv">
            <div class="bgLGRColor pt-4 pl-4 pr-4 pb-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row dateIcon">
                            <div class="col-md-5">
                                <div class="inputBox clearfix">
                                    <input matInput [matDatepicker]="startDate" [min]="startDateMin" [max]="todayDate"
                                        formControlName="startDate" (dateInput)="addStartDateEvent('input', $event)"
                                        placeholder="From date" class="dateInputBox">
                                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                    <mat-datepicker #startDate></mat-datepicker>
                                </div>
                            </div>
                            <div class="col-md-1 p-0">
                                <p class="grColor pt-1 mb-0 text-center">to</p>
                            </div>
                            <div class="col-md-5 form-group">
                                <div class="inputBox clearfix">
                                    <input matInput [matDatepicker]="endDate" [min]="endDateMin" [max]="todayDate"
                                        formControlName="endDate" placeholder="To date"
                                        (dateInput)="addEndDateEvent('input', $event)" class="dateInputBox">
                                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 form-group pl-0">
                        <div class="inputBox">
                            <mat-select formControlName="duration" (selectionChange)="onSelectDuration($event.value)"
                                placeholder="Select Duration">
                                <mat-option *ngFor="let option of filteredDuration" [value]="option.value">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="col-md-2 form-group">
                        <div class="inputBox">
                            <mat-select formControlName="reach" placeholder="Select Reach">
                                <mat-option *ngFor="let option of filteredReach" [value]="option.value">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-2 form-group ">
                        <div class="inputBox">
                            <mat-select formControlName="filter" placeholder="Select Filter"
                                (selectionChange)="onSelectFilter($event.value)">
                                <mat-option *ngFor="let option of savedFilters" [value]="option._id">
                                    {{option.filterName}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-4 pl-4 pr-4 pb-2">
                <div class="row">
                    <div class="col-md-2 form-group">
                        <div class="inputBox">
                            <mat-select formControlName="specialization" placeholder="Select Specialization">
                                <mat-option *ngFor="let option of filterSpecialization" [value]="option.value">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-2 form-group">
                        <div class="inputBox">
                            <mat-select formControlName="gender" placeholder="Select Gender">
                                <mat-option *ngFor="let option of filterGender" [value]="option.value">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-2 form-group">
                        <div class="inputBox">
                            <mat-select formControlName="experience" placeholder="Select Experience">
                                <mat-option *ngFor="let option of filterExperience" [value]="option.value">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-2 form-group">
                        <div class="inputBox">
                            <mat-select formControlName="location" placeholder="Select Location">
                                <mat-option *ngFor="let option of filterLocation" [value]="option.value">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <!-- <div class="col-md-2 form-group">
                        <div class="inputBox">
                            <mat-select formControlName="site" placeholder="Select Site">
                                <mat-option *ngFor="let option of filterSite" [value]="option.value">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-2 form-group">
                        <div class="inputBox">
                            <mat-select formControlName="bannerType" placeholder="Select BannerType">
                                <mat-option *ngFor="let option of filterBannerType" [value]="option.value">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div> -->
                </div>
                <div class="row mt-2">
                    <div class="col-md-4">&nbsp;</div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2  form-group pl-2 pr-2">
                                <button class="primaryBtn mainColor mainBordercolr pr-3 pl-3 w-100 lh24">
                                    <i class="icon-35 fs24 fw600 float-left"></i>PDF
                                </button>
                            </div>
                            <div class="col-md-2  form-group pl-2 pr-2">
                                <button class="primaryBtn mainColor mainBordercolr pr-3 pl-3 w-100 lh24">
                                    <i class="icon-35 fs24 fw600 float-left"></i>Excel
                                </button>
                            </div>
                            <div class="col-md-6  form-group">
                                <div class="boxDiv br1 mainBordercolr mt-1">
                                    <div class="row">
                                        <div class="col-8">
                                            <input class="pt-2 pl-2 br0 focus" formControlName="filterName" type="text"
                                                placeholder="Name this filter">
                                        </div>
                                        <div class="col-4">
                                            <button type="button"
                                                class="primaryBtn brr0 mainColor br0 brl1 pl-0 pr-0 w-100"
                                                style="padding:10px 0" (click)="saveFilter()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 mt-1">
                                <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0"
                                    (click)="getAnalysticsData()">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row mt-4">
    <div class="col-md-2">
        <div class="boxDiv">
            <div class="p-2 clearfix">
                <h6 class="fs12 float-left mt-1 mb-0">Spends <i class="icon-16 fs12 grColor"></i></h6>
                <div class="float-right wColor bgpr fs10 bgRColor" [ngClass]="{
                    'bgGColor':cardsData.increasedSpends >= 0,
                    'bgRColor':cardsData.increasedSpends < 0
                  }"><i class="icon-48" [ngClass]="{
                    'icon-47':cardsData.increasedSpends >= 0,
                    'icon-48':cardsData.increasedSpends < 0
                  }"></i> {{ cardsData.increasedSpends ? (cardsData.increasedSpends| number:'.0-0') : 0 }}%</div>
            </div>
            <hr class="m-0">
            <div class="p-2 clearfix">
                <div class="float-left"><i class="icon-22 op5 fs24 mainColor"></i></div>
                <h2 class="fw float-right fs16 mb-0 mt-1">{{ currencySymbol+(cardsData.totalSpends | number:'1.0-0') }}
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="boxDiv">
            <div class="p-2 clearfix">
                <h6 class="fs12 float-left mt-1 mb-0">Reach <i class="icon-16 fs14 grColor"></i></h6>
                <div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
                    'bgGColor':cardsData.increasedReach >= 0,
                    'bgRColor':cardsData.increasedReach < 0
                  }"><i class="icon-47" [ngClass]="{
                    'icon-47':cardsData.increasedReach >= 0,
                    'icon-48':cardsData.increasedReach < 0
                  }"></i> {{ cardsData.increasedReach ? (cardsData.increasedReach | number:'.0-0') : 0 }}%</div>
            </div>
            <hr class="m-0">
            <div class="p-2 clearfix">
                <div class="float-left"><i class="icon-24 op5 fs24 mainColor"></i></div>
                <h2 class="fw float-right fs16 mb-0 mt-1">
                    {{ cardsData.totalReach ? (cardsData.totalReach | number:'.0-0') : '-' }}</h2>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-pills mt-4 tabsStyles" role="tablist">
    <li class="nav-item"> <a class="nav-link fs18 fw600 brr0 bgNone active" data-toggle="pill"
            href="#compaignsTab">Campaigns</a> </li>
    <li class="nav-item"> <a class="nav-link fs18 fw600 brr0 bgNone" data-toggle="pill" href="#audienceTab">Audience</a>
    </li>
    <li class="nav-item"> <a class="nav-link fs18 fw600 bgNone brr0" data-toggle="pill" href="#behaviorTab">Behavior</a>
    </li>
    <li class="nav-item"> <a class="nav-link fs18 fw600 bgNone brr0" data-toggle="pill"
            href="#conversionTab">Conversion</a> </li>
</ul>
<div class="tab-content mb-5">
    <div id="compaignsTab" class="tab-pane active">
        <div class="boxDiv mb-3 mt-3">
            <div class="mainBGcolor w-100 p-2 clearfix">
                <div class="row">
                    <div class="col-md-5">
                        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Top Compaigns</h5>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-1 pl-0 pr-0"><i class="icon-31 fs30 wColor"></i></div>
                            <div class="col-4 pl-2 pr-2">
                                <div class="br1 brwColor p-1 brr4 clearfix">
                                    <input class="bgNone br0 wColor float-left" style="width:80%"
                                        data-date-format="dd/mm/yyyy" id="datepicker">
                                    <i class="icon-23 fs20 wColor float-right"></i>
                                </div>
                            </div>
                            <div class="col-1 pl-0 pr-0">
                                <p class="wColor pt-1 mb-0 text-center">to</p>
                            </div>
                            <div class="col-4 pl-2 pr-2">
                                <div class="br1 brwColor p-1 brr4 clearfix">
                                    <input class="bgNone br0 wColor float-left" style="width:80%"
                                        placeholder="dd/mm/yyyy">
                                    <i class="icon-23 fs20 wColor float-right"></i>
                                </div>
                            </div>
                            <!--<div class="col-2">
                                <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                    <option class="mainBGcolor">Last 6 months</option>
                                    <option class="mainBGcolor">Last 3 months</option>
                                    <option class="mainBGcolor">Last 1 Year</option>
                                    <option class="mainBGcolor">Last 2 Year</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-5"> <img src="./assets/images/chart10.png" class="img-fluid" alt="chart"></div>
        </div>
        <div class="boxDiv mb-3 mt-3">
            <div class="mainBGcolor w-100 p-2 clearfix">
                <div class="row">
                    <div class="col-md-5">
                        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Type Summary</h5>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-4 pl-2 pr-2">
                                <div class="br1 brwColor p-1 brr4 clearfix">
                                    <input class="bgNone br0 wColor float-left" style="width:80%"
                                        placeholder="dd/mm/yyyy">
                                    <i class="icon-23 fs20 wColor float-right"></i>
                                </div>
                            </div>
                            <div class="col-1 pl-0 pr-0">
                                <p class="wColor pt-1 mb-0 text-center">to</p>
                            </div>
                            <div class="col-4 pl-2 pr-2">
                                <div class="br1 brwColor p-1 brr4 clearfix">
                                    <input class="bgNone br0 wColor float-left" style="width:80%"
                                        placeholder="dd/mm/yyyy">
                                    <i class="icon-23 fs20 wColor float-right"></i>
                                </div>
                            </div>
                            <!-- <div class="col-3">
                                <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                    <option class="mainBGcolor">Last 6 months</option>
                                    <option class="mainBGcolor">Last 3 months</option>
                                    <option class="mainBGcolor">Last 1 Year</option>
                                    <option class="mainBGcolor">Last 2 Year</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-5"> <img src="./assets/images/chart11.png" class="img-fluid" alt="chart"></div>
        </div>
    </div>

    <div id="audienceTab" class="tab-pane fade">
        <div class="boxDiv mb-3 mt-3">
            <div class="mainBGcolor w-100 p-2 clearfix">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Gender & Experience in years</h5>
                    </div>
                    <!--<div class="col-md-2">
                        <div class="row">
                            <div class="col-3"><i class="icon-34 fs30 wColor"></i></div>
                            <div class="col-9">
                                <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                    <option class="mainBGcolor">All experiences</option>
                                    <option class="mainBGcolor">Experiences 1</option>
                                    <option class="mainBGcolor">Experiences 2</option>
                                    <option class="mainBGcolor">Experiences 3</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="p-5">
                <!-- <span id="malePieChart" style="width: 300px; height: 300px; float: left; "></span>
          <span id="femalePieChart" style="width: 250px; height: 200px; float: left;margin-top: 50px;"></span>
          <span id="othersPieChart" style="width: 200px; height: 120px; float: left;margin-top: 85px;"></span>
       <img src="./assets/images/chart2.svg" alt="chart"></div> -->
            </div>
            <div class="boxDiv mb-3 mt-3">
                <div class="mainBGcolor w-100 p-2 clearfix">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Specializations</h5>
                        </div>
                        <!-- <div class="col-md-2">
                            <div class="row">
                                <div class="col-3"><i class="icon-31 fs30 wColor"></i></div>
                                <div class="col-9">
                                    <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                        <option class="mainBGcolor">Viewing all</option>
                                        <option class="mainBGcolor">Viewing 1</option>
                                        <option class="mainBGcolor">Viewing 2</option>
                                        <option class="mainBGcolor">Viewing 3</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="p-5">
                    <span id="specializationStackedBarChart" style="width:1100px; height: 300px;"></span>
                    <!-- <img src="./assets/images/chart3.svg" alt="chart"></div> -->
                </div>

                <div class="boxDiv mb-3 mt-3">
                    <div class="mainBGcolor w-100 p-2 clearfix">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Location</h5>
                            </div>
                            <!-- <div class="col-md-2">
                                <div class="row">
                                    <div class="col-3"><i class="icon-31 fs30 wColor"></i></div>
                                    <div class="col-9">
                                        <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                            <option class="mainBGcolor">All countries</option>
                                            <option class="mainBGcolor">Countries 1</option>
                                            <option class="mainBGcolor">Countries 2</option>
                                            <option class="mainBGcolor">Countries 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="p-5"><span id="locationChart" style="width:1100px; height: 300px; float: left; "></span>
                        <!-- <img   src="./assets/images/chart4.png" class="img-fluid" alt="chart">-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="boxDiv mb-3 mt-3">
                            <div class="mainBGcolor w-100 p-2 clearfix">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">HCP Archetypes</h5>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-3"><i class="icon-31 fs30 wColor"></i></div>
                                            <div class="col-9">
                                                <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                                    <option class="mainBGcolor">Viewing all</option>
                                                    <option class="mainBGcolor">Viewing 1</option>
                                                    <option class="mainBGcolor">Viewing 2</option>
                                                    <option class="mainBGcolor">Viewing 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="p-3"> <span id="drawAudienceHCPArcheTypeBarChart"
                                    style="width: 600px; height: 300px; float: left;"></span>
                                <!--  <img src="./assets/images/chart5.png" class="img-fluid" alt="chart"> -->
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5">
                        <div class="boxDiv mb-3 mt-3">
                            <div class="mainBGcolor w-100 p-2 clearfix">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Frequency</h5>
                                    </div>
                                    <!--  <div class="col-md-4">
                                        <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                            <option class="mainBGcolor">All types</option>
                                            <option class="mainBGcolor">Type 1</option>
                                            <option class="mainBGcolor">Type 2</option>
                                            <option class="mainBGcolor">Type 3</option>
                                        </select>
                                    </div> -->
                                </div>
                            </div>
                            <div class="p-5"> <span id="audienceFrequencyPieChart"
                                    style="width: 300px; height: 300px;  float: left;"></span>
                                <!--<img src="./assets/images/chart6.svg"
                    alt="chart"> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="behaviorTab" class="tab-pane fade">
        <div class="row">
            <div class="col-md-8">
                <div class="boxDiv mb-3 mt-3">
                    <div class="mainBGcolor w-100 p-2 clearfix">
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Frequency</h5>
                            </div>
                            <div class="col-md-8">
                                <div class="row">

                                    <div class="col-4 pl-2 pr-2">
                                        <div class="br1 brwColor p-1 brr4 clearfix">
                                            <input matInput [matDatepicker]="behaviorTODStartDate"
                                                placeholder="From date">
                                            <mat-datepicker-toggle matSuffix [for]="behaviorTODStartDate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #behaviorTODStartDate></mat-datepicker>
                                        </div>
                                    </div>

                                    <div class="col-1 pl-0 pr-0">
                                        <p class="wColor pt-1 mb-0 text-center">to</p>
                                    </div>
                                    <div class="col-4 pl-2 pr-2">
                                        <div class="br1 brwColor p-1 brr4 clearfix">
                                            <input matInput [matDatepicker]="behaviorTODEndDate"
                                                placeholder="To date">
                                            <mat-datepicker-toggle matSuffix [for]="behaviorTODEndDate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #behaviorTODEndDate></mat-datepicker>
                                        </div>
                                    </div>
                                    <!--<div class="col-3">
                                        <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                            <option class="mainBGcolor">Last 6 months</option>
                                            <option class="mainBGcolor">Last 3 months</option>
                                            <option class="mainBGcolor">Last 1 Year</option>
                                            <option class="mainBGcolor">Last 2 Year</option>
                                        </select>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4">
                        <div id="heatmap"></div><img src="./assets/images/chart7.png" class="img-fluid" alt="chart">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxDiv mb-3 mt-3">
                    <div class="mainBGcolor w-100 p-2 clearfix">
                        <div class="row">
                            <div class="col-md-7">
                                <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Devices</h5>
                            </div>
                            <!--    <div class="col-md-5">
                                <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                    <option class="mainBGcolor">All devices</option>
                                    <option class="mainBGcolor">Device 1</option>
                                    <option class="mainBGcolor">Device 2</option>
                                    <option class="mainBGcolor">Device 3</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                    <div class="p-4"> <span id="behaviorDevicesDonutChart" style="width: 600px; height: 300px;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="boxDiv mb-3 mt-3">
                <div class="mainBGcolor w-100 p-2 clearfix">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Display location</h5>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <!--  <div class="col-3"><i class="icon-31 fs30 wColor"></i></div>
                                <div class="col-9">
                                    <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                        <option class="mainBGcolor">Viewing all</option>
                                        <option class="mainBGcolor">Viewing 1</option>
                                        <option class="mainBGcolor">Viewing 2</option>
                                        <option class="mainBGcolor">Viewing 3</option>
                                    </select>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3"> <span id="behaviorDisplayLocationStackedBarChart"
                        style="width: 600px; height: 300px; "></span>
                    <!--  <img src="./assets/images/chart5.png" class="img-fluid" alt="chart"> -->
                </div>
            </div>

        </div>

    </div>

    <div id="conversionTab" class="tab-pane fade">
        <div class="boxDiv mb-3 mt-3">
            <div class="mainBGcolor w-100 p-2 clearfix">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Engagement</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-4 pl-2 pr-2">
                                <div class="br1 brwColor p-1 brr4 clearfix">
                                    <input matInput [matDatepicker]="conversionEngStartDate"
                                        placeholder="From date">
                                    <mat-datepicker-toggle matSuffix [for]="conversionEngStartDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #conversionEngStartDate></mat-datepicker>
                                </div>
                            </div>

                            <div class="col-1 pl-0 pr-0">
                                <p class="wColor pt-1 mb-0 text-center">to</p>
                            </div>
                            <div class="col-4 pl-2 pr-2">
                                <div class="br1 brwColor p-1 brr4 clearfix">
                                    <input matInput [matDatepicker]="conversionEngEndDate"
                                        placeholder="To date">
                                    <mat-datepicker-toggle matSuffix [for]="conversionEngEndDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #conversionEngEndDate></mat-datepicker>
                                </div>
                            </div>
                            <!--  <div class="col-3">
                                <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                    <option class="mainBGcolor">Last 6 months</option>
                                    <option class="mainBGcolor">Last 3 months</option>
                                    <option class="mainBGcolor">Last 1 Year</option>
                                    <option class="mainBGcolor">Last 2 Year</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div><span id="conversionEngagementAreaChart" style="width:1100px; height:300px; float:left;"></span> <img
                    src="./assets/images/chart9.png" class="img-fluid" alt="chart"></div>
        </div>
        <div class="boxDiv mb-5 mt-3">
            <div class="mainBGcolor w-100 p-2 clearfix">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="fs20 fw600 wColor float-left mt-1">Results</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-4">
                                <div class="br1 brwColor p-1 brr4 clearfix">
                                    <input matInput [matDatepicker]="resultsStartDate"
                                        placeholder="From date">
                                    <mat-datepicker-toggle matSuffix [for]="resultsStartDate"></mat-datepicker-toggle>
                                    <mat-datepicker #resultsStartDate></mat-datepicker>
                                </div>
                            </div>

                            <div class="col-1">
                                <p class="wColor pt-1 mb-0">to</p>



                            </div>
                            <div class="col-4">
                                <div class="br1 brwColor p-1 brr4 clearfix">
                                    <input matInput [matDatepicker]="resultsEndDate" placeholder="To date">
                                    <mat-datepicker-toggle matSuffix [for]="resultsEndDate"></mat-datepicker-toggle>
                                    <mat-datepicker #resultsEndDate></mat-datepicker>
                                </div>
                            </div>
                            <!-- <div class="col-3">
                                <select class="inputBox wColor brwColor bgNone cPointer p-1">
                                    <option class="mainBGcolor">Last 6 months</option>
                                    <option class="mainBGcolor">Last 3 months</option>
                                    <option class="mainBGcolor">Last 1 Year</option>
                                    <option class="mainBGcolor">Last 2 Year</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-4"> <img src="./assets/images/chart1.svg" alt="chart"></div>
        </div>

    </div>

</div>