<div  class="bgImg" style="top:60px; z-index:-1; right:-60px"><img alt="AdvanalyticsBg" height="300" src="assets/images/supportBGImg.svg" style="width:350px; height:250px;"></div>
<div class="pt-4 mb-2">
  <h1 class="h2">Settings</h1>
  <h6 class="h6 fwn lineheightControls
">You can choose what notifications you wish to receive, and manage all other account settings, all in one place</h6>
</div>
<div style="width:65%">
    <ul class="nav nav-pills tabsStyles ml-1" role="tablist">
      <li class="nav-item" *ngIf="settingType === 'email_setings'"> <a class="nav-link active fs14 fw600 brr0 bgNone" data-toggle="pill"
          href="#notifications">Notifications</a>
      </li>
      <li class="nav-item" *ngIf="settingType === 'change_password'"> <a class="nav-link fs14 fw600 active brr0 bgNone" data-toggle="pill" href="#account">Account</a>
      </li>
    </ul>
    <div class="tab-content mb-5">
      <div id="notifications" class="tab-pane active" *ngIf="settingType === 'email_setings'">
        <div class="table-responsive boxDiv mt14 listViewTable">
          <table class="table table-striped tableStyles">
            <thead>
              <tr class="mainBGcolor wColor">
                <th class="wColor">Notification type</th>
                <th class="wColor text-right">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Billing alerts</td>
                <td class="text-right">
                  <div class="custom-control custom-checkbox customcheckbox">
                    <input type="checkbox" class="custom-control-input" id="billingAlerts" [(ngModel)]="billingAlerts" (change) = "callOnNotificationChange()">
                    <label class="custom-control-label customBox tablecustomBox" for="billingAlerts"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Slot maintenance alerts</td>
                <td class="text-right">
                  <div class="custom-control custom-checkbox customcheckbox">
                    <input type="checkbox" class="custom-control-input" id="campaignMaintainance" [(ngModel)]="campaignMaintainance" (change) = "callOnNotificationChange()">
                    <label class="custom-control-label customBox tablecustomBox" for="campaignMaintainance"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Newsletters</td>
                <td class="text-right">
                  <div class="custom-control custom-checkbox customcheckbox">
                    <input type="checkbox" class="custom-control-input" id="newsLetters" [(ngModel)]="newsLetters" (change) = "callOnNotificationChange()">
                    <label class="custom-control-label customBox tablecustomBox" for="newsLetters"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Customized help & performance suggestions</td>
                <td class="text-right">
                  <div class="custom-control custom-checkbox customcheckbox">
                    <input type="checkbox" class="custom-control-input" id="customizedHelpPerformance" [(ngModel)]="customizedHelpPerformance" (change) = "callOnNotificationChange()">
                    <label class="custom-control-label customBox tablecustomBox" for="customizedHelpPerformance"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Terms & policy alerts</td>
                <td class="text-right">
                  <div class="custom-control custom-checkbox customcheckbox">
                    <input type="checkbox" class="custom-control-input" id="disapprovedAdsPolicy" [(ngModel)]="disapprovedAdsPolicy" (change) = "callOnNotificationChange()">
                    <label class="custom-control-label customBox tablecustomBox" for="disapprovedAdsPolicy"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Reports</td>
                <td class="text-right">
                  <div class="custom-control custom-checkbox customcheckbox">
                    <input type="checkbox" class="custom-control-input" id="reports" [(ngModel)]="reports" (change) = "callOnNotificationChange()">
                    <label class="custom-control-label customBox tablecustomBox" for="reports"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Special offers</td>
                <td class="text-right">
                  <div class="custom-control custom-checkbox customcheckbox">
                    <input type="checkbox" class="custom-control-input" id="specialOffers" [(ngModel)]="specialOffers" (change) = "callOnNotificationChange()">
                    <label class="custom-control-label customBox tablecustomBox" for="specialOffers"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="account" class="tab-pane active" *ngIf="settingType === 'change_password'">
        <mat-card-content>
          <app-changepassword [param1]="hasSecurityQuestions"></app-changepassword>
        </mat-card-content>
      </div>
    </div>
</div>
