<div class="pt-4 mb40">
  <h1 class="h2">Drafts</h1>
  <h6 class="h6 mt-1 fwn lineheight">Your unpublished campaigns, across brands, all in one place</h6>
</div>
<div class="row">
  <div class="col-md-9">
    <form>
      <div class="filterSearchDiv clearfix">
        <div class="searchDiv">
          <div class="boxDiv br1 mainBordercolr">
			<div class="col-md-12">  
				<div class="row">
				  <div class="col-1 searchIcon"><i class="icon-5 fs18 mainColor"></i></div>
				  <input class="br0 focus col-8 fs12 searchBox" matInput type="text" (keyup)="searchCampaign(name.value);" name="campaign" #name [(ngModel)]='campaign' placeholder="Type a campaign name...">
				  <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0"  (click)="searchCampaign(name.value);">Search</button>
				</div>
            </div>
		  </div>  
        </div>
        <div class="filterDiv" style="width:100px">
          <div class="boxDiv">
            <a (click)="toggleSearch();" class="filterShowHide mainColor h6 p-3 dBlock1 mb-0">
              Filter 
              <i *ngIf="!show" class="icon-48 grColor fs16 float-right" (click)="clearFilters()"></i>
              <i *ngIf="show" class="icon-47 grColor fs16 float-right"></i>
            </a>
          </div>
        </div>
      </div>
        
      <div class="filterShowDiv mt-1" *ngIf="show">
        <div class="boxDiv p-3">
          <div class="allInputBoxs">
            <div class="boxsInput" style="width:48%">
                <mat-select class="mat_option" placeholder="Filter by user" name="createdBy" [(ngModel)]="createdBy">
                  <div *ngFor="let createdBy of filteredAdvertisers; let i = index">
                    <mat-option [value]="createdBy">
                        <label class="mb-0">{{createdBy}}</label>
                    </mat-option>
                  </div>                                      
                </mat-select>
              </div>
            <div class="boxsInput" style="width:48%">
                <mat-select class="mat_option" placeholder="Filter by type" name="type" [(ngModel)]="type">
                  <div *ngFor="let type of typeList; let i = index">
                    <mat-option [value]="type" class="drafts-lable">
                        <label>{{type}}</label>
                    </mat-option>
                  </div>                                      
                </mat-select>
              </div>
          </div>   
              <div class="rightBts">
                <button class="primaryBtn mainColor mainBordercolr" (click)="searchSubCampaign()">Apply</button>
                <!-- <button class="primaryBtn mainColor mainBordercolr" (click)="clearFilters()">Clear</button> -->
              </div>
          
        </div>
      </div>
		
      <div class="table-responsive boxDiv mt14">
        <table class="tableStyles listViewTable" multiTemplateDataRows mat-table [dataSource]="filteredCampaigns"
          *ngIf="filteredCampaigns && filteredCampaigns.length" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="campaign">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name" class="camp-aero"> Campaign </th>
            <td mat-cell *matCellDef="let element" align="text-center">{{element.campaign}} </td>
          </ng-container>
          <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="createdDate" class="camp-aero"> Date Created </th>
            <td mat-cell *matCellDef="let element"> {{element.dateCreated | date: 'd MMM yyyy' }} </td>
          </ng-container>
          <ng-container matColumnDef="lastSaved">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="lastSaved" class="camp-aero"> Last Saved </th>
            <td mat-cell *matCellDef="let element"> {{element.lastSaved | date: 'd MMM yyyy' }} </td>
          </ng-container>
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="createdBy" class="camp-aero"> Created By </th>
            <td mat-cell *matCellDef="let element"> {{element.createdBy }} </td>
          </ng-container>
          <ng-container matColumnDef="editdelete">
            <th mat-header-cell *matHeaderCellDef class="text-center">
            </th>
            <td mat-cell *matCellDef="let element" class="text-right" style="padding-right: 11px !important;">
              <!--<a *ngIf = "rolePermissions && rolePermissions.includes('edit_campaign')" class="mainColor tdu" (click)="editCampaign(element.id, element.brandId, element.campaign)"><i
                  class="icon-25 fs16"></i></a>-->
              <a *ngIf = "rolePermissions && rolePermissions.includes('delete_campaign')" class="mainColor tdu ml-3" (click)="deleteCampaign(element.id)">
                <i class="icon-26 fs16"></i>
              </a>
              <a class="mainColor tdu ml-3" (click)="toggleExpand(element)"><i [ngClass]="element['showExpand'] ? 'icon-47' : 'icon-48'" class=" fs16 grColor"></i></a>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element ; let i = dataIndex;" [attr.colspan]="displayedColumns.length">
              <div  *ngIf="element.showExpand" class="drafts-element-detail">
                <div class="w-100 br1 brr4 brCColor" *ngIf="element.filteredSubCampaign &&element.filteredSubCampaign.length" style="border-top: none !important;">
                  <table class="table mb-0" matSort (matSortChange)="sortSubCampaignData($event, i)">
                    <thead>
                      <tr style="background:#fff!important">
                        <th mat-sort-header="creativeType">Type</th>
                        <th mat-sort-header="name">Sub-campaign</th>
                        <th mat-sort-header="createdDate">Date created</th>
                        <th mat-sort-header="lastSaved">Last saved</th>
                        <th mat-sort-header="createdBy">Created by</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subcampaign of element.filteredSubCampaign; let even=even" [ngClass]="{eeeBG: even}">
                        <td *ngIf="subcampaign.creativeType === 'Banner'"><div class="imgvdo"><i class="icon-12 fs18 mainColor fw600" style="margin-top:4px; display:block;"></i></div>
                        </td>
                        <td *ngIf="subcampaign.creativeType === 'Video'"><div class="imgvdo"><i class="icon-14 fs18 mainColor fw600" style="margin-top:4px; display:block;"></i></div>
                        </td>
                        <td><a class="mainColor tdu">{{subcampaign.name}}</a></td>
                        <td>{{subcampaign.created.at | date: 'd MMM yyyy'}}</td>
                        <td>{{subcampaign.modified.at | date: 'd MMM yyyy'}}</td>
                        <td>{{subcampaign.created.by}}</td>
                        <td class="text-right">
                          <a *ngIf = "rolePermissions && rolePermissions.includes('edit_campaign')" (click)="editSubCampaign(element.brandId, element._id, subcampaign._id)" class="mr-3"><i
                              class="icon-25 fs16 mainColor"></i></a>
                          <a *ngIf = "rolePermissions && rolePermissions.includes('delete_campaign')" (click)="deleteSubCampaign(subcampaign._id)"><i
                              class="icon-26 fs16 mainColor"></i></a>
                        </td>
                      </tr>
                      <tr *ngIf='element.subDomainDetails.length === 0'>
                        <td colspan=6 align="center">No records found</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mainBGcolor wColor text-center"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns; let even = even;"
            [class.drafts-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];let even = even;" class="drafts-detail-row"></tr>
        </table>
          <div class="boxDiv brtrr0 brtlr0 col" *ngIf="filteredCampaigns && !filteredCampaigns.length">
            <p class="text-mutted  pl-0 pt-3 grDColor">No Records found !</p>
          </div>       
      </div>
    </form>
  </div>
  <div class="col-md-4">&nbsp;</div>
</div>