table {
  width: 100%;
}

tr.drafts-detail-row {
  height: 0;
}

tr.drafts-element-row:not(.drafts-expanded-row):hover {
  background: #f5f5f5;
}

tr.drafts-element-row:not(.drafts-expanded-row):active {
  background: #efefef;
}

.drafts-element-row td {
  border-bottom-width: 0;
}

.drafts-element-detail {
  overflow: hidden;
  display: flex;
  margin: 15px 8px 15px 0;
}

.drafts-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.drafts-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.drafts-element-description {
  padding: 16px;
}

.drafts-element-description-attribution {
  opacity: 0.5;
}

.table {
  margin-bottom: 0;
  border-top: 0px !important;
}

th.mat-header-cell {
  text-align: left;
  color: #fff;
  font: 500 15px 'Work Sans', sans-serif !important;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

td.mat-cell {
  padding: 0px 7px !important;
  border: none;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 15px !important;
}

.mat-table {
  font-family: 'Work Sans', sans-serif !important;
}

.mat_option {
  border-radius: 4px !important;
  width: 100% !important;
  border: 1.5px solid #eeeeeebd !important;
  font-size: 12px !important;
  padding: 6px 15px !important;
  margin: 0 !important;
}

.fw-normal {
  font-weight: normal !important;
}

::ng-deep .camp-aero .mat-sort-header-arrow {
  color: #fff !important;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}

.imgvdo {
  position: relative;
  top: 3px
}

.drafts-lable label {
  margin-bottom: 0px !important;
}

.br1 {
  border-width: 0.8px !important;
  border-style: solid !important;
}

.table thead th {
  border-bottom: 0.8px solid #ccc;
  border-top: 0.8px solid #ccc;
  border-radius: 10px !important;
}

.table thead th:nth-last-child{
  border-bottom-left-radius: 5px !important;;
}
.rightBts{ width: 16%;}
.allInputBoxs{ width: 84%;}