.w120 { width:100px!important; margin:0 8px;}
.w120:first-child { margin-left:0!important;}
.w120 .nav-link { height:100px; vertical-align: middle; display: table-cell!important;}
input.mat-input-element {
    border:none;
    width:88%;
    position:relative; 
    top:-4px;
}
.table {
    width: 100%;
}
.ptb-5{ padding-top: 5px !important; padding-bottom: 5px !important;}

.codeInjection-radio-group {
    display: flex;
    flex-direction: column;  
    font-size:12px!important;
  }
  
.codeInjection-radio-button {
margin:0;
font-size:13px!important;
}

.radiotext{font-size: 13px;
    font-weight: normal;
    line-height: 19px; font-family: "Work Sans";
}


.mat-radio-outer-circle {
    box-sizing: border-box;
    height: 15px !important;
    left: 0;
    position: absolute;
    top: 0;
    transition: border-color ease 280ms;
    width: 15px !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;}

    .rotate { transform: rotate(45deg);position: relative;top: 3px;font-size: 20px !important;}
    .document{}
    .document a{ padding: 9px;}
    .mt10{ margin-top: 10px;}
    .error{ color: #ff0000;}
    .nav-link{padding: .5rem 1rem .2rem !important;}
    .line_height{ line-height: 17px;}
    