<!-- <div class="boxDiv mb-3 mt-3 ">
  <div class="row">
    <div class="col-sm-5">
      <h3 class="fw600 fs14 text-center p-3 mb-0">Credit Limit</h3>
    </div>
    <div class="col-sm-7 brl1 brCColor">
      <h6 class="p-3 fs12" *ngIf="latestApprovedAmount">
        <strong>{{currencySymbol}}{{latestApprovedAmount}}</strong> approved till {{latestApprovedDate | date: 'd MMM yyyy'}}
      </h6>
      <h6 class="p-3 fs12" *ngIf="!latestApprovedAmount">
        <strong> - </strong>
      </h6>
    </div>
  </div>
</div> -->
<div class="table-responsive boxDiv mt-3" *ngIf="pageView === 'listView'">
	<table class="tableStyles w-100" mat-table [dataSource]="creditLineDataSource">
		<ng-container matColumnDef="askingCreditLimit">
			<th mat-header-cell *matHeaderCellDef class="wColor" style="padding-left: 15px !important;">Requested Credit Limit </th>
			<td mat-cell *matCellDef="let element" style="padding-left: 15px !important;"> {{currencySymbol}}{{element.expectedIncome}} </td>
    </ng-container>
    <ng-container matColumnDef="approvedCreditLimit">
			<th mat-header-cell *matHeaderCellDef class="wColor"> Approved Credit Limit </th>
			<td mat-cell *matCellDef="let element"> 
        <span *ngIf="element.approvedCreditLimit">{{currencySymbol}}{{element.approvedCreditLimit}}</span>
        <span *ngIf="!element.approvedCreditLimit">-</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="creditPeriod">
			<th mat-header-cell *matHeaderCellDef class="wColor"> Credit Period </th>
			<td mat-cell *matCellDef="let element"> {{element.startDate | date: 'd MMM yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="wColor"> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
    <ng-container matColumnDef="comments">
			<th mat-header-cell *matHeaderCellDef class="wColor"> Comments </th>
			<td mat-cell *matCellDef="let element"> 
        {{element.comment | slice:0:10}}
        <span tooltip-class="text-left" theme="light" tooltip="{{element.comment}}" placement="bottom">
          <i class="icon-59 fs14 text-primary"></i>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="applyNewCreditLine">
			<th mat-header-cell *matHeaderCellDef class="wColor ptb-5" style="padding-right: 15px !important;"> 
        <a (click)="renderAddView()" class="primaryBtn brwColor float-right wColor pl-2 pr-2 font-weight-normal mr-0 fs10">
          <i class="icon-6 fs10 fw600"></i> Apply New
        </a>
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <a (click)="renderEditView(element)" class="mainColor tdu">
          <i class="icon-25 fs14 fw600"></i> 
        </a>
      </td>
		</ng-container>
		<tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
	
  <div class="boxDiv brtrr0 brtlr0 col"*ngIf="creditLineDataSource && !creditLineDataSource.length">
    <p class="text-mutted  pl-0 pt-3 grDColor">No Records found !</p>
  </div>
</div>
<div class="boxDiv mb-3 mt-3" *ngIf="pageView === 'addView' ||  pageView === 'editView'">
  <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
    <div class="row">
      <div class="col-4">
        <a *ngIf="page == 1" (click)="renderListView()" class="wColor ttu fs12">
          <i class="icon-49 fs12 fw600 float-left" style="margin:3px 10px 0 0"></i> Back
        </a>
        <a *ngIf="page == 2" (click)="next(1)" class="wColor ttu fs12">
          <i class="icon-49 fs12 fw600 float-left" style="margin:3px 10px 0 0"></i> Back
        </a>
      </div>
      <div class="col-6">
        <h5 class="fs14 fw600 wColor float-left">
          <span *ngIf="pageView === 'addView'">Requesting Credit Limit</span>
          <span *ngIf="pageView === 'editView'">Edit Credit limit </span>
          <i [matTooltip]="advertiser_manage_payments_credit_line_apply_for_credit_line" class="icon-78 tradMak fs12 wColor"></i>
        </h5>
      </div>
    </div>
  </div>
  <div style="padding: 35px 54px 43px 56px;">
    <!-- <p>In this payment setting, we extend a line of credit to advertisers for their costs and invoice them at the end of the month. You can apply for a line of credit if you have been registered with us for more than 6 months, and have spent over $5,000/month. Fill out the form below</p> -->
    <form [formGroup]="creditLineForm">
      <div class="">
        <div class="row mb-4 ml-1" *ngIf="advertiserCreditLine && advertiserCreditLine.status === 'Approved'">
          <i class="icon-18 fs14 fw600 text-success"></i> &nbsp; Approved ( Amount: {{advertiserCreditLine.approvedCreditLimit}} )
        </div>
        <div class="row ml-1 mb-2" *ngIf="advertiserCreditLine && advertiserCreditLine.status === 'Rejected'">
          <mat-error >
              <i class="icon-17 fs14 fw600"></i> Rejected: {{advertiserCreditLine.rejectionReason}}
          </mat-error>
        </div>
        
        <!--
        <div class="form-group row">
          <label class="col-sm-3 col-form-label formLabel">Amount</label>
          <div class="col-sm-4">
            <input class="inputBox"  matInput placeholder={{currencySymbol}} formControlName="askingCreditLimit" id="askingCreditLimit" name="askingCreditLimit" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'">
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['askingCreditLimit'].hasError('require')">
              Credit amount is required.
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label formLabel">Credit Period</label>
          <div class="boxsInput col-sm-4 ">
            <div class="inputBox clearfix opDetails" style="height:34px;">
              <input matInput [matDatepicker]="startDate" id="startDate" name="startDate" placeholder="From date" [min]="minDate" [max]="creditLineForm.get('endDate').value" formControlName="startDate" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'">
              <mat-datepicker-toggle matSuffix [for]="startDate" [disabled]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </div>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['startDate'].hasError('require')">
              From date is required.
            </mat-error>
          </div>
          <div class="boxsInput col-sm-4">
            <div class="inputBox clearfix opDetails" style="height:34px;">
              <input matInput [matDatepicker]="endDate" id="endDate" name="endDate" placeholder="To date"
                [min]="creditLineForm.get('startDate').value" formControlName="endDate" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'">
              <mat-datepicker-toggle matSuffix [for]="endDate" [disabled]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </div>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['endDate'].hasError('require')">
              To date is required.
            </mat-error>
          </div>
        </div>
          
        <div class="form-group row">
          <label class="col-sm-3 col-form-label formLabel">Additional Comments</label>
          <div class="col-sm-8 mt-2">
            <textarea class="inputBox" rows="5" id="comment" name="comment" formControlName="comment" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"></textarea>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['comment'].hasError('require')">
              Comment is required.
            </mat-error>
          </div>
        </div> -->
        <div *ngIf="page === 1" class="form-group row">
          <label class="col-md-4 col-form-label formLabel pt-0">Has your company been registered as a business for atleast one year<span class="error">*</span></label>
          <div class="col-md-8 advertiserDiv mt-1">
            <mat-radio-group formControlName="hasOrganizationRegistered"  name="hasOrganizationRegistered">
              <mat-radio-button class="radiotext mr-5" [disabled]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"  [checked]="creditLineForm.get('hasOrganizationRegistered').value === 'true'" [value]="true">Yes</mat-radio-button>
              <mat-radio-button class="radiotext"[disabled]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'" [checked]="creditLineForm.get('hasOrganizationRegistered').value === 'false'" class="ml-2" [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="creditLineForm.controls['hasOrganizationRegistered'].hasError('require')">
              Please select the appropriate option.
            </mat-error> 
          </div>
        </div>
        <div *ngIf="page === 1" class="row">
          <div class="col-md-4 col-form-label formLabel ">Please attach your business registered document<span class="error">*</span></div>
          <a class="col-md-8   d-block fs13 ">
            <span (click)="openFileSelectionDialog()"><mat-icon class="rotate mainColor fs12" > attach_file</mat-icon> Attach documents</span>
            <p class="fs10 mt-1 pb-0 mb-0 grColor ">Please attach your certificate of incorporation. Other items like your website link, IRS tax documents (including W-9 forms), utility bills, invoices and bank statements are not considered registered documents</p>
          </a>
        </div>
        <div *ngIf="page === 1" class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8 form-group newAssets ">
            <ul class="nav nav-pills btnTabs mt-2" [hidden]="isDocumentHidden">
                <li class="nav-item " *ngFor="let document of documents; let i = index">
                    <input type="file" style="display: none" onclick="this.value=null;" #file (change)="selectFile($event)" accept="image/*,.pdf,.doc,.docx" multiple>
                    <a class="nav-link tac">
                        <i class="fw mainColor1 fs15 icon-69"></i>
                        <span class="fs10 mt-0 mb-1">{{document.name}}</span>
                        <div class="row">
                          <div class="col-6 float-left" >
                            <i class="icon-53 fs12 text-danger mt-2"  style="float:center" *ngIf="document.uploadStatus" (click)="removeFile(document.type, i)"></i>
                          </div>
                          <div class="col-6 float-right">
                            <i class="icon-18 fs16 text-success mt-2" style="float:center"  *ngIf="document.uploadStatus"></i>
                          </div>
                        </div>
                    </a>
                </li>
            </ul> 
            <mat-error *ngIf="isValidDocument &&creditLine && !creditLine.documents.length">
              Please attach relevant documents.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 1" class="form-group row">
          <label class="col-md-4 col-form-label formLabel">Name<span class="error">*</span></label>
          <div class="col-md-8 mt-2">
            <input class="inputBox" name="name"  placeholder="Name" formControlName="name" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <mat-error *ngIf="creditLineForm.controls['name'].hasError('require')">
              Name is required.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 1" class="form-group row">
          <label class="col-md-4 col-form-label formLabel">Registered Email<span class="error">*</span></label>
          <div class="col-md-8 mt-2">
            <input class="inputBox" name="email"  placeholder="Email" formControlName="email" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'approved'"/>
            <mat-error *ngIf="creditLineForm.controls['email'].hasError('require')">
              Email is required.
            </mat-error>
            <mat-error *ngIf="creditLineForm.controls['email'].hasError('email')">
              Email is not valid.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 1" class="form-group row">
          <label class="col-md-4 col-form-label formLabel">Registered Legal Company Name<span class="error">*</span></label>
          <div class="col-md-8 mt-2">
            <input class="inputBox" name="companyName" placeholder="Legal company name" formControlName="companyName" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <p class="fs10 mt-1 grColor mb-0">Enter your company name and legal entity description exactly as it appears on your legal registration document. For example, if your legal/registration document
              <u *ngIf="!show"><a (click)="show=true" class="mainColor ">Read More</a></u>
              <span *ngIf="show">
                company name is “ABC Limited,” enter it in the exact same way, “ABC Limited” (and not, for example, “ABC Ltd.”). Note that we don’t accept fictitious names, trade names, brand names, or DBAs. 
                <a (click)="show=false"><u>Read less</u></a>
              </span>
            </p>
            <mat-error *ngIf="creditLineForm.controls['companyName'].hasError('require')">
              Company name is required.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 1" class="form-group row">
          <label class="col-md-4 col-form-label formLabel">Registered Corporate Address<span class="error">*</span></label>
          <div class="col-md-8 mt-2">
            <input class="inputBox" name="companyAddress"  placeholder="Registered corporate address
            " formControlName="companyAddress" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <p class="fs10 mt-1 mb-0 grColor ">Enter your company address exactly as it appears on your legal/registration document, but keep in mind: <br>
               if the registered business address isn't displayed 
              <u *ngIf="!showAddress"><a (click)="showAddress=true"class="mainColor ">Read More</a></u>
              <span *ngIf="showAddress">
                on the legal/registration document, attach a letter on company letterhead which states the company’s current registered business address, signed by a legal department representative or a senior finance department representative (for example, a CFO, Finance Director, or other Director) for the registered entity.
                <br/>
                If your current address is different from the one on the legal/registration document, attach a letter on company letterhead which states the previous address and the new address, signed by a legal department representative or a senior finance department representative (for example, a CFO, FD, or other director) for the registered entity.
                <a (click)="showAddress=false"><u>Read less</u></a>
              </span>
            </p>
            <mat-error *ngIf="creditLineForm.controls['companyAddress'].hasError('require')">
              Corporate address  is required.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 1" class="form-group row">
          <label class="col-md-4 col-form-label formLabel">Street Address<span class="error">*</span></label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="streetAddress" formControlName="streetAddress" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <mat-error *ngIf="creditLineForm.controls['streetAddress'].hasError('require')">
              Street address  is required.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 1" class=" row form-group mt10">
          <label class="col-md-4 col-form-label formLabel">Country<span class="error">*</span></label>
          <div class="col-md-3 mt-2">
            <input class="inputBox" type="text" placeholder="Country" aria-label="Country" matInput 
            formControlName="country" [matAutocomplete]="country" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'">
            <mat-autocomplete #country="matAutocomplete">
              <mat-option *ngFor="let option of filteredCountries | async" [value]="option.countryName" (onSelectionChange)="selectedCountry(option.countryISO2Code)">
                {{option.countryName}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="creditLineForm.controls['country'].hasError('require')" class="mt-0">
              Country is required
            </mat-error>
            <mat-error *ngIf="creditLineForm.controls['country'].hasError('invalidCharacters')">
              Country cannot contain special characters or numbers
            </mat-error>  
          </div>
          <label class="col-sm-2 col-form-label formLabel">State/Region<span class="error">*</span></label>
          <div class="col-sm-3 mt-2">
            <input class="inputBox" type="text" placeholder="State" aria-label="State" formControlName="state" matInput
              [matAutocomplete]="state" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'">
            <mat-autocomplete #state="matAutocomplete">
              <mat-option *ngFor="let option of filteredStates | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="creditLineForm.controls['state'].hasError('require')" class="mt-0">
              State is required
            </mat-error>
            <mat-error *ngIf="creditLineForm.controls['state'].hasError('invalidCharacters')">
              State cannot contain special characters or numbers
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 1" class="row form-group">
          <label class="col-sm-4 col-form-label formLabel">City<span class="error">*</span></label>
          <div class="col-sm-3 mt-2">
            <input class="inputBox" type="text" placeholder="City" aria-label="City" matInput formControlName="city"
              [matAutocomplete]="city" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'">
            <mat-autocomplete #city="matAutocomplete">
              <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="creditLineForm.controls['city'].hasError('require')" class="mt-0">
              City is required
            </mat-error>
            <mat-error *ngIf="creditLineForm.controls['city'].hasError('invalidCharacters')">
              City cannot contain special characters or numbers
            </mat-error>
          </div>
          <label class="col-sm-2 col-form-label formLabel">Zip Code<span class="error">*</span></label>
          <div class="col-sm-3 mt-2">
            <input class="inputBox" type="text" placeholder="Zip Code" aria-label="Zip Code" matInput 
            formControlName="zipCode" [matAutocomplete]="zipCode" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'" (blur) = "validatePincode()">
            <mat-autocomplete #zipCode="matAutocomplete" class="optionBox">
              <mat-option *ngFor="let option of filteredZipCodes | async" [value]="option" class="zipCode">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <!-- <input class="inputBox"  autocomplete= "off" formControlName="zipCode"
            placeholder="Zip Code" name="Zip Code" [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true "> -->
            <mat-error *ngIf="creditLineForm.controls['zipCode'].hasError('require')" class="mt-0">
              Zip code is required
            </mat-error>
            <mat-error *ngIf="creditLineForm.controls['zipCode'].hasError('invalidCharacters')">
              Invalid zip code
            </mat-error> 
          </div>
        </div>
        <div *ngIf="page === 2"class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">Company Contact Name<span class="error">*</span></label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="companyContactName" placeholder="Contact name" formControlName="companyContactName" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['companyContactName'].hasError('require')">
              Company contact name is required.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 2"class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">Company EIN / Tax ID<span class="error">*</span></label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="taxId" placeholder="Company EIN /Tax ID" formControlName="taxId" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['taxId'].hasError('require')">
              Tax ID is required.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 2"class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">Billing Contact Name</label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="billingContactName"  placeholder="Contact name" formControlName="billingContactName" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
          </div>
        </div>
        <div *ngIf="page === 2"class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">Billing Contact Email Address<span class="error">*</span></label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="billingEmail" placeholder="Email address" formControlName="billingEmail" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['billingEmail'].hasError('require')">
              Billing contact email address is required.
            </mat-error>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['billingEmail'].hasError('email')">
              Billing contact email address is not valid.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 2"class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">Phone Number to reach you</label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="phoneNumber" placeholder="Phone number" formControlName="phoneNumber" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
          </div>
        </div>
        <div *ngIf="page === 2"class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">D-U-N-S number (a.k.a. Dun and
            Bradstreet number), if applicable</label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="dunsNumber" placeholder="D-U-N-S number" formControlName="dunsNumber" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
          </div>
        </div>
        <div *ngIf="page === 2"class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">Monthly expected spend (for all Doceree
            accounts that you are paying for)<span class="error">*</span></label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="expectedIncome" (keypress)="numberOnly($event)" placeholder="e.g 50000" formControlName="expectedIncome" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['expectedIncome'].hasError('require')">
               Monthly expected spend is required.
            </mat-error>
            <p class="fs10 grColor mt-2">Note: To be considered for a credit line, you’ll need to spend a minimum of 20,000 USD a month.</p>
          </div>
        </div>
        <div *ngIf="page === 2"class="form-group row">
          <div class="col-sm-12 mt-2">
            <p class="fs11 mt-1 grColor mb-0 line_height">To use this credit line for monthly invoicing, you'll need to accept the terms and conditions that Doceree will send to the billing contact you specified.
              <u *ngIf="!show"><a (click)="show=true" class="mainColor ">Read More</a></u>
              <span *ngIf="show">
                We’ll let you know whether your company is approved for monthly invoicing after our finance team reviews your application. As part of that review, we might ask you to send your company's audited financial information.
                <br>
                If you’re approved for monthly invoicing, we’ll assign your company a credit line based on your credit history and/or audited financial statements provided by you. Additional documents may be requested by the finance team as part of the process. We'll also send an email to accept the invoicing terms and conditions. This will need to be accepted by either the billing contact or the company email address you designate. If you’ve provided proper authorization, we’ll enable self-managed invoicing for your manager account. Your account will then be eligible to start running on invoicing after these terms and conditions are accepted.
                <a (click)="show=false"><u>Read less</u></a>
              </span>
            </p>

          </div>
        </div>
        <div *ngIf="page === 2" class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">When should this change go into effect?</label>
          <div class="col-sm-4 mt-2">
            <div class="inputBox clearfix opDetails" style="height:34px;">
              <input matInput [matDatepicker]="startDate" [min]="minStartDate" id="startDate" name="startDate" placeholder="To date"
                formControlName="startDate" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"style="width: 86% !important;">
              <mat-datepicker-toggle matSuffix [for]="startDate" [disabled]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </div>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['startDate'].hasError('require')">
              Date is required.
            </mat-error>
          </div>
        </div>
        <div *ngIf="page === 2" class="form-group row">
          <label class="col-sm-4 col-form-label formLabel">Additional details ?</label>
          <div class="col-sm-8 mt-2">
            <textarea rows="5" cols="5" class="inputBox" name="comment" formControlName="comment" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"></textarea>
          </div>
        </div>
        <div *ngIf="page === 2" class="form-group row">
        
          <div class="col-md-12 mt-2">
            <div class="custom-control custom-checkbox customcheckbox" style="width: 2%; float: left;">
              <input [disabled]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'" type="checkbox" [checked]="creditLineForm.get('accept').value === 'true'"   class="custom-control-input" id="campaignMaintainance"  formControlName="accept">
              <label class="custom-control-label customBox tablecustomBox" for="campaignMaintainance"></label>
            </div>
            
            <p class="fs10">I certify that I am affiliated with the stated company and am authorized to make this request on its behalf. I give Doceree my approval to
              make all of the specified requested changes or additions
            </p>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['accept'].hasError('require')">
              Acceptance is required.
            </mat-error>
          </div>
        </div>
   <!--<div class="row">
          <div class="col-sm-3"></div>
          <a class="col-sm-8 mainColor mt-3 d-block fs12"><i class="icon-52 fs14 fw600"></i> Upload documents</a>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
         <div class="col-sm-8 form-group newAssets mt-2">
            <ul class="nav nav-pills btnTabs">
                <li class="nav-item w120" *ngFor="let document of documents; let i = index">
                    <input type="file" style="display: none" onclick="this.value=null;" #file (change)="selectFile($event)" accept="image/*,.pdf,.doc,.docx" multiple>
                    <a class="nav-link tac">
                        <i class="fw mainColor1 fs20 icon-69" (click)="openFileSelectionDialog(document, i)"></i>
                        <span>{{document.name}}</span>
                        <div class="row">
                          <div class="col-6 float-left" >
                            <i class="icon-53 fs12 text-danger mt-2" style="float:center" *ngIf="document.uploadStatus" (click)="removeFile(document.type, i)"></i>
                          </div>
                          <div class="col-6 float-right">
                            <i class="icon-18 fs16 text-success mt-2" style="float:center" *ngIf="document.uploadStatus"></i>
                          </div>
                        </div>
                    </a>
                </li>
            </ul> 
            <mat-error *ngIf="isSubmitted && creditLine && !creditLine.documents.length">
              Atleast one document should be seleted.
            </mat-error>
          </div>
        </div>-->
        <div class="clearfix mt-3">
          <button *ngIf="page === 2"  class="primaryBtn mainColor mainBordercolr float-right" (click)="applyCreditLine()">Submit</button>
          <button *ngIf="page === 1" class="primaryBtn mainColor mainBordercolr float-right" (click)="next(2)">Next</button>
        </div>
      </div>
      <!-- <div class="mt-5" *ngIf="page == 2">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label formLabel">Company contact name*</label>
          <div class="col-sm-8 mt-2">
            <input class="inputBox" name="companyContactName" formControlName="companyContactName" [readonly]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'"/>
            <mat-error *ngIf="isSubmitted && creditLineForm.controls['companyContactName'].hasError('require')">
              Company contact name  is required.
            </mat-error>
          </div>
        </div>
        <div class="clearfix mt-3">
          <button [disabled]="advertiserCreditLine && advertiserCreditLine.status === 'Approved'" class="primaryBtn mainColor mainBordercolr float-right" (click)="applyCreditLine()">Apply</button>
        </div>  
      </div> -->
    </form>
  </div>
</div>