.mat-form-field {
  display: block;
  position: relative;
  text-align: left;
}

.mat-form-field-underline {
  width: 0%;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.name {
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.address {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* Top right text */
.organisation {
  position: absolute;
  top: 12px;
  right: 50px;
}

.success-icon-firstname {
  position: absolute;
  right: 50px;
  top: 203px;
}

.success-icon-lastname {
  position: absolute;
  right: 50px;
  top: 246px;
}

.success-icon-org {
  position: absolute;
  right: 50px;
  top: 283px;
}

.stepactive .success-icon-lastname {
  position: absolute;
  right: 50px;
  top: 240px;
}

.stepactive .success-icon-org {
  position: absolute;
  right: 50px;
  top: 276px;
}

.zipCode {
  height: auto !important;
  line-height: 22px !important;
  font-size: 12px;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.icon_1 {
  width: 11px;
  float: left;
  margin-top: 0px;
  height: 17px;
  line-height: 39px;
  margin-right: 7px;
}

.icon_38 {
  position: relative;
  top: 3px;
}
.error_2_icon {
  border-radius: 50%;
  height: 15px !important;
  width: 28px !important;
  margin: 5px 5px 0px 8px;
  line-height: 15px;
  text-align: center;
  float: left;
  margin-left: 0px;
  width: 16px !important;
  height: 15px !important;
}
.labelMatOption {
  color: purple !important;
  font-weight: 500 !important;
}