<div class="bgImg" style="bottom:-40px; right:-100px; z-index:-1">
  <img src="assets/images/profileBgImg.svg" width="300" height="300" alt="AdvanalyticsBg" style="width:430px; height:273px;"> 
</div> 
<div class="pt-4 mb-2">
<h1 class="h2">Manage Profile</h1>
<h6 class="h6" *ngIf = "showTagline && !id">Set up your profile to add your first campaign</h6>
<h6 class="h6 mt-1 fwn lineheight" *ngIf = "showTagline && id">You can add or edit the details of your business and brand/s, all in one place</h6>
</div>

<div class="stepsDots ml-sm-auto profileForm" *ngIf = "!id">
<div class="row">
    <div class="col-4 col-md-4">
    <span class="stepDot boxHeading ml50"
      [ngClass]="{'finish':currentTab == 2 || currentTab == 3 || id, 'active' : currentTab == 1 && !id}" [ngStyle]="{'opacity': currentTab == 1 ? 1 : 0.5 }"></span>
    <span class="stepline" [ngClass]="{'lineActive' : currentTab == 2 || currentTab == 3 || id, '' : currentTab == 1 && !id}"></span>
  </div>
  
    <div class="col-4 col-md-4">
  <span class="stepline1" [ngClass]="{'lineActive' : currentTab == 3 || currentTab == 2}"></span>
  <span class="stepDot boxHeading ml50"
      [ngClass]="{'finish':currentTab == 3 || currentTab == 3 || id, 'active' : currentTab == 2 && !id}" [ngStyle]="{'opacity': currentTab == 2 ? 1 : 0.5 }"></span>
  <span class="stepline" [ngClass]="{'lineActive' : currentTab == 3 || currentTab == 3 || id, 'lineActive' : currentTab == 3 && !id}"></span>
  </div>
    
    <div class="col-4 col-md-4">
    <span class="stepline1" [ngClass]="{'lineActive' : currentTab == 3 || currentTab == 3 || id, 'lineActive' : currentTab == 3 && !id}"></span>
    <span class="stepDot boxHeading ml50"
      [ngClass]="{'active':currentTab == 3 || id, '' : currentTab != 2 && !id}" [ngStyle]="{'opacity': currentTab == 3 ? 1 : 0.5 }"></span>
  </div>
</div>
</div>

<form [formGroup]="advertiserProfileForm">
  <div class="row">
    <div class="col-md-4">
      <div class="tab boxDiv stepsboxDiv" [ngClass]="{'op5 boxDivop' : currentTab != 1, 'stepactive' : currentTab == 1}">
        <h2 class="boxHeading tac mainBGcolor">Basic Information
          <a *ngIf = "id" class="text-white float-right" (click)="editSection('personalInfoSection')">
            <i class="icon-25 fs16"></i>
          </a>
        </h2>
        <div class="boxDivInner">
          <div class="mb-3">
      <div class="personalIDCardDiv">
        <div class="p-2">
        <div class="row">
          <div class="col-sm-6"><img src="./assets/images/profilePic.svg" class="dNone" width="90%" height="90%" alt="Help"></div>
          <div class="col-sm-5 pl-0 text-wrap">
            <p class="wColor fs11" *ngIf = "advertiserProfileForm.controls['businessName'].value">{{advertiserProfileForm.controls['businessName'].value}}</p>
          </div>
        </div>
        <div class="text-wrap">
          <h6 class="mb-0 wColor fs11">{{advertiserProfileForm.controls['firstName'].value}}  {{advertiserProfileForm.controls['lastName'].value}}</h6>
          <!-- <p class="mb-0 wColor">+91 98768 98700</p> -->
          <p class="mb-0 wColor fs11" *ngIf = "advertiserProfileForm.controls['city'].value">{{advertiserProfileForm.controls['city'].value}}, {{advertiserProfileForm.controls['state'].value}}</p>
        </div>
        </div>
      </div>
      </div>
          <div class="form-group">
            <input class="inputBox" formControlName="firstName" placeholder="First Name" name="firstName"
            [readonly]="currentTab == 1 ? false : true"/>
            <mat-error *ngIf="advertiserProfileForm.controls['firstName'].hasError('require')">
              First Name is required
            </mat-error>
            <mat-error *ngIf="advertiserProfileForm.controls['firstName'].hasError('invalidCharacters')">
              First Name cannot contain Special Characters or Numbers
            </mat-error>
          </div>

          <div class="form-group">
            <input class="inputBox" formControlName="lastName" placeholder="Last Name" name="lastName"
            [readonly]="currentTab == 1 ? false : true"/>
            <mat-error *ngIf="advertiserProfileForm.controls['lastName'].hasError('require')">
              Last Name is required
            </mat-error>
            <mat-error *ngIf="advertiserProfileForm.controls['lastName'].hasError('invalidCharacters')">
              Last Name cannot contain Special Characters or Numbers
            </mat-error>
          </div>
          <div class="form-group">
            <mat-select *ngIf="!hasPersonalProfile" class="inputBox" formControlName="typeOfOrganization" (selectionChange)="changeOrganisationType($event.value)" [disabled]="currentTab != 1 || id" placeholder="Organization Type">
              <mat-optgroup *ngFor="let group of organisationGroup">
                <span class="labelMatOption">{{group.name}}</span>
                <mat-option *ngFor="let organisation of group.organisations" [value]="organisation">
                  {{organisation}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-select *ngIf="hasPersonalProfile" class="inputBox" formControlName="typeOfOrganization" (selectionChange)="changeOrganisationType($event.value)" [disabled]="true">
              <mat-optgroup *ngFor="let group of organisationGroup">
                <span class="labelMatOption">{{group.name}}</span>
                <mat-option *ngFor="let organisation of group.organisations" [value]="organisation">
                  {{organisation}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-error *ngIf="advertiserProfileForm.controls['typeOfOrganization'].hasError('require')">
              Organization Type is required.
            </mat-error>
          </div>
          <!-- <div class="form-group">
            <div class="btn-group btn-group-toggle w-100">
              <button class="btn btn-secondary text-left webMobile" [ngClass]="{'active': advertiserType == 'Client'}"(click)="selectAdvertiserType('Client')" [disabled]="(id && advertiserType == 'Agency') || currentTab !== 1">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>
               <i class="icon-38 fs20 mainiconColor mt-1 icon_38"></i> <span class="mainTextColor ml-0">Corporate</span>
              </button>
              <button class="btn btn-secondary text-left webMobile" [ngClass]="{'active': advertiserType == 'Agency'}" (click)="selectAdvertiserType('Agency')" [disabled]="(id && advertiserType == 'Client') || currentTab !== 1">
                <input type="radio" name="options" id="option3" autocomplete="off">
                <i class="icon-39 mainiconColor fs20 float-left mt-1"></i> <span
                  class="mainTextColor ml-2">Agency</span>
              </button>
            </div>
          </div> -->
          <div class="form-group" *ngIf="!id && advertiserType === 'Client' && advertiserProfileForm.controls['typeOfOrganization'].value">
            <mat-select class="inputBox mb-1" placeholder="Select Market" formControlName="profileMarketSel"
              [(value)]="selectedMarketPlace" (selectionChange)="onMarketChange()" [disabled]="currentTab == 1 ? false : aId ? false : true ">              
              <mat-select-trigger *ngIf="selectedMarketPlace && selectedMarketPlace === '1'">
                <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-1"> US
              </mat-select-trigger>
              <mat-select-trigger *ngIf="selectedMarketPlace && selectedMarketPlace === '2'">
                <img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-1"> India
              </mat-select-trigger>
              <mat-option value="1"><img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2">US</mat-option>
              <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2">India</mat-option>
            </mat-select>
            <mat-error *ngIf="advertiserProfileForm.controls['profileMarketSel'].hasError('require')">
              Market is required.
            </mat-error>
          </div>
          <div class="form-group" *ngIf="advertiserType === 'Agency'">
            <input *ngIf="!hasPersonalProfile" class="inputBox" formControlName="businessName" placeholder="Organization Name"
              name="businessName" [readonly]="currentTab !== 1 || id">
            <input *ngIf="hasPersonalProfile" class="inputBox" formControlName="businessName" placeholder="Organization Name"
            name="businessName" [readonly]="(currentTab != 1) || (id && rolePermissions && !rolePermissions.includes('edit_org_details'))">
            <mat-error *ngIf="advertiserProfileForm.controls['businessName'].hasError('require')">
              Your Organization Name is required
            </mat-error>
            <mat-error *ngIf="advertiserProfileForm.controls['businessName'].hasError('invalidCharacters')">
              Your Organization Name cannot contain Special Characters or Numbers
            </mat-error>
          </div>
          <div class="form-group" *ngIf="advertiserType === 'Client'">
            <input  *ngIf="hasPersonalProfile" class="inputBox" type="text" placeholder="Organization Name" aria-label="Organization Name" matInput formControlName="businessName" [matAutocomplete]="businessName" [readonly]="(currentTab != 1) || (id && rolePermissions && !rolePermissions.includes('edit_org_details'))">

            <input *ngIf="!hasPersonalProfile"class="inputBox" type="text" placeholder="Organization Name" aria-label="Organization Name" formControlName="businessName" matInput [matAutocomplete]="businessName" [readonly]="currentTab !== 1 || id">
            <mat-autocomplete #businessName="matAutocomplete">
              <mat-option *ngFor="let option of filteredClients | async" [value]="option.client" (onSelectionChange)="getBrandsMetadata(option._id)">
                {{option.client}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="advertiserProfileForm.controls['businessName'].hasError('require')">
              Your Organization Name is required
            </mat-error>
            <!-- <mat-error *ngIf="advertiserProfileForm.controls['businessName'].hasError('invalidCharacters')">
              Your Business Name cannot contain Special Characters or Numbers
            </mat-error> -->
          </div>
          <!-- <div class="form-group" *ngIf="advertiserType == 'Client'">
            <mat-select *ngIf="!hasPersonalProfile" class="inputBox" placeholder="Type" formControlName="typeOfOrganization" [disabled]="currentTab != 1 || id">
                <div *ngFor="let option of typeOfOrganizations">
                  <mat-option  [value]="option">
                      <label>{{option}}</label>
                  </mat-option>
                </div>                                      
            </mat-select>
            <mat-select *ngIf="hasPersonalProfile" class="inputBox" placeholder="Type" formControlName="typeOfOrganization" [disabled]="(currentTab != 1) || (id && rolePermissions && !rolePermissions.includes('edit_org_details'))">
              <div *ngFor="let option of typeOfOrganizations">
                <mat-option  [value]="option">
                    <label>{{option}}</label>
                </mat-option>
              </div>                                      
            </mat-select>
            <mat-error *ngIf="advertiserProfileForm.controls['typeOfOrganization'].hasError('require')">
              Type is required.
            </mat-error>
            <mat-error *ngIf="advertiserProfileForm.controls['typeOfOrganization'].hasError('organizationInvalid')">
              Type is Invalid, Please Check.
            </mat-error>
          </div> -->
          <div class="custom-control custom-checkbox mt-3" *ngIf = "!id">
            <input type="checkbox" formControlName="acceptTerms" class="custom-control-input" id="customCheck1"
              [readonly]="currentTab == 1 ? false : true ">
            <label class="custom-control-label customBox" for="customCheck1">I agree to the <a href="https://www.doceree.com/advertising-program-terms/" target="blank" [ngClass]="{'disabled':currentTab != 1 }" >Terms &
                Conditions</a></label>
            <mat-error *ngIf="advertiserProfileForm.controls['acceptTerms'].hasError('require')">
              Accept Terms and Conditions
            </mat-error>
          </div>
          <div id="step1" class="mt-4 tac" [ngClass]="{'dBlock1':currentTab == 1, 'dNone1' : currentTab != 1 }">
            <button *ngIf="!id" type="button" id="nextBtn" class="primaryBtn mainColor mainBordercolr"
              [disabled]="currentTab == 1 ? false : true " (click)="nextView(1)">Next</button>
            <button *ngIf="id && currentTab == 1" type="button" id="saveProfileBtn" class="primaryBtn mainColor mainBordercolr"
            (click)="updateAdvertiser()">Save</button>
          </div>
        </div>
      </div>
    </div>
      
    <div class="col-md-4">
      <div class="tab boxDiv stepsboxDiv" [ngClass]="{'op5 boxDivop mainBGcolor1' : currentTab != 2, 'stepactive' : currentTab == 2}">
        <h2 class="boxHeading tac" [ngClass] = "{'mainBGcolor1': currentTab != 2, 'mainBGcolor': currentTab == 2 ||  currentTab == 3 || id}">Business Address
          <a *ngIf = "hasPersonalProfile && rolePermissions && rolePermissions.includes('edit_org_details')" class="text-white float-right" (click)="editSection('businessAddress')">
            <i class="icon-25 fs16 fw600"></i>
          </a>
        </h2>
        <div class="boxDivInner">
          <div class="tac mb-3" *ngIf="currentTab == 1  && !id">
            <img src="./assets/images/map.svg" [ngClass]="dNone" width="60%" height="60%" alt="Help">
          </div>
          <div class="tac mb-3" *ngIf="currentTab == 2 || currentTab == 3 || id">
            <img src="./assets/images/mapActive.svg" class="dNone" width="60%" height="60%" alt="Help">
          </div>
          <div class="form-group"><input class="inputBox" formControlName="addressLine1" placeholder="Address Line 1"
              name="Address" [readonly]="currentTab == 2 ? false : true ">
            <mat-error *ngIf="advertiserProfileForm.controls['addressLine1'].hasError('require')">
              Address Line 1 is required
            </mat-error>
          </div>
          <div class="form-group">
            <input class="inputBox" formControlName="addressLine2" placeholder="Address Line 2"
              name="Address" [readonly]="currentTab == 2 ? false : true ">
          </div>
          <div class="form-group">
            <input class="inputBox" type="text" placeholder="Country" aria-label="Country" matInput 
              formControlName="country" [matAutocomplete]="country" [readonly]="currentTab == 2 ? false : true ">
            <mat-autocomplete #country="matAutocomplete">
              <mat-option *ngFor="let option of filteredCountries | async" [value]="option.countryName" (onSelectionChange)="selectedCountry(option.countryISO2Code)">
                {{option.countryName}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="advertiserProfileForm.controls['country'].hasError('require')">
              Country is required
            </mat-error>
            <mat-error *ngIf="advertiserProfileForm.controls['country'].hasError('invalidCharacters')">
              Country cannot contain Special Characters or Numbers
            </mat-error>
          </div>
          <div class="form-group">
            <input class="inputBox" type="text" placeholder="City" aria-label="City" matInput formControlName="city"
              [matAutocomplete]="city" [readonly]="currentTab == 2 ? false : true ">
            <mat-autocomplete #city="matAutocomplete">
              <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="advertiserProfileForm.controls['city'].hasError('require')">
              City is required
            </mat-error>
            <mat-error *ngIf="advertiserProfileForm.controls['city'].hasError('invalidCharacters')">
              City cannot contain Special Characters or Numbers
            </mat-error>
          </div>
          <div class="row form-group">
            <div class="col-md-6 pr-0">
              <input class="inputBox" type="text" placeholder="State" aria-label="State" formControlName="state" matInput
                [matAutocomplete]="state" [readonly]="currentTab == 2 ? false : true ">
              <mat-autocomplete #state="matAutocomplete">
                <mat-option *ngFor="let option of filteredStates | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="advertiserProfileForm.controls['state'].hasError('require')">
                State is required
              </mat-error>
              <mat-error *ngIf="advertiserProfileForm.controls['state'].hasError('invalidCharacters')">
                State cannot contain Special Characters or Numbers
              </mat-error>
            </div>
            <div class="col-md-6">
              <input class="inputBox" type="text" placeholder="Zip Code" aria-label="Zip Code" matInput 
              formControlName="zipCode" [matAutocomplete]="zipCode" [readonly]="currentTab == 2 ? false : true " (blur) = "validatePincode()">
              <mat-autocomplete #zipCode="matAutocomplete" class="optionBox">
                <mat-option *ngFor="let option of filteredZipCodes | async" [value]="option" class="zipCode">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <!-- <input class="inputBox"  autocomplete= "off" formControlName="zipCode"
              placeholder="Zip Code" name="Zip Code" [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true "> -->
              <mat-error *ngIf="advertiserProfileForm.controls['zipCode'].hasError('require')">
                ZipCode is required
              </mat-error>
              <mat-error *ngIf="advertiserProfileForm.controls['zipCode'].hasError('invalidCharacters')">
                Invalid ZipCode
              </mat-error>
            </div>
          </div>
         
          <div class=" row form-group">
              <div class="col-md-4" style="padding-right: 2px">
                <mat-select class="inputBox" [(value)]="defaultCountryCode" formControlName="countryCodePhNumber" (selectionChange)= "validatePhoneNumber()" [disabled]="currentTab == 2 ? false : true ">
                      <div *ngFor="let option of countryCodes">
                          <mat-option  [value]="option">
                              <label>{{option}}</label>
                            </mat-option>
                        </div>
                </mat-select>
              </div>
              <div class="col-md-6 p-0">
              <input class="inputBox" (keyup) = "validatePhoneNumber()" formControlName="phoneNumber" placeholder="Business Phone Number" name="phoneNumber" [readonly]="currentTab == 2 ? false : true ">
              <mat-error *ngIf="advertiserProfileForm.controls['phoneNumber'].hasError('require')">
                Business Phone Number is required
              </mat-error> 
              <mat-error *ngIf="advertiserProfileForm.controls['phoneNumber'].hasError('invalidPhNumber')">
                Business Phone Number is invalid.
              </mat-error>
              <mat-error *ngIf="advertiserProfileForm.controls['phoneNumber'].hasError('countryCodeMissing')">
                Include Country Code (ex: +1, +91)
              </mat-error>
           </div>
           <div class="col-md-2 pr-0 mt-2 pl-1">
            <label class="fs11 fw600" *ngIf="isPhoneNumberVerified == false" >
                  <a href="javascript:void(0)" style= "color:#6b3ffc !important;" [ngClass]="{'disabled':currentTab != 2 }"  (click) = "requestOTP()">Verify</a>
            </label>
            <i *ngIf="isPhoneNumberVerified == true" class = "icon-18 gColor"></i>
             <!--<mat-icon class=" error_2_icon bgGColor wColor fs12 fw" role="img" style="" aria-hidden="true">done</mat-icon>-->
           </div>
          </div>
         <!-- <label class="fs11 ml-4" *ngIf="isPhoneNumberVerified == false" >
            <a href="javascript:void(0)" style= "color: red" [ngClass]="{'disabled':currentTab != 2 }"  (click) = "requestOTP()">Your phone Number is not verified. Please click here to verify</a>
          </label>-->
          
          <div class="clear"></div>
          <div id="step2" class="mt-3 tac" [ngClass]="{'dBlock1':currentTab == 2 , 'dNone1' : currentTab != 2}">
            <button *ngIf="!id" type="button" id="prevBtn" class="primaryBtn mainColor mainBordercolr"
              [disabled]="currentTab == 2 ? false : true " (click)="prevView(-1)">Back</button>
            <button *ngIf="!id" type="button" id="nextBtn1" class="primaryBtn mainColor mainBordercolr"
              [disabled]="currentTab == 2 ? false : true " (click)="nextView(2)">Next</button>
            <button *ngIf="id && currentTab === 2" type="button" id="saveProfileBtn" class="primaryBtn mainColor mainBordercolr"
            (click)="updateAdvertiser()">Save</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="tab boxDiv stepsboxDiv" *ngIf="!id" [ngClass]="{'stepactive' : currentTab == 3 || currentTab == 3 || id, '' : currentTab == 3 && !id}">
        <h2 class="boxHeading tac" [ngClass]="{'mainBGcolor':currentTab == 3 || id, 'mainBGcolor1' : currentTab != 2 && !id}">
          <span *ngIf="advertiserType == 'Client' ">Add Brand</span>
          <span *ngIf="advertiserType == 'Agency' ">Add Agency</span>
        </h2>
        <div class="boxDivInner">
          <div class="tac mb-3" *ngIf="currentTab != 3 && !id">
            <img src="./assets/images/platform.svg" class="dNone" width="60%" height="60%" alt="Help">
          </div>
          <div class="tac mb-3" *ngIf="currentTab == 3 || id">
            <img src="./assets/images/platformActive.svg" class="dNone dBlock" width="60%" height="60%" alt="Help">
          </div>
          <form [formGroup]="advertiserBrandForm">
            <div class="form-group" *ngIf="advertiserType == 'Agency'">
              <mat-select class="inputBox mb-1" placeholder="Select Market" formControlName="marketSel"
                [(value)]="selectedMarketPlace" (selectionChange)="onMarketChange()" [disabled]="currentTab == 3 ? false : aId ? false : true ">
                <mat-option value="1"><img src="assets/flag/usa-flag.svg" width="24" class="img-fluid mr-2">US</mat-option>
                <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="24" class="img-fluid mr-2">India</mat-option>
              </mat-select>
              <mat-error *ngIf="advertiserBrandForm.controls['marketSel'].hasError('require')">
                Market is required.
              </mat-error>
          </div>
            <div class="form-group"  *ngIf="advertiserType == 'Agency' ">
                <input class="inputBox" type="text" placeholder="Client" aria-label="Client" matInput 
                  formControlName="agencyClient" [matAutocomplete]="agencyClient" [readonly]="currentTab == 3 ? false : true">
                <mat-autocomplete #agencyClient="matAutocomplete">
                  <mat-option *ngFor="let option of filteredClients | async" [value]="option.client" (onSelectionChange)="getBrandsMetadata(option._id)">
                    {{option.client}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="advertiserBrandForm.controls['agencyClient'].hasError('require')">
                  Client Name is required
                </mat-error>
            </div>
            

            <div class="form-group" *ngIf="advertiserType == 'Agency' ">
                <mat-select class="mat_option inputBox" placeholder="Type Of Client" formControlName="typeOfClient" [disabled]="currentTab == 3 ? false : aId ? false : true ">
                  <div *ngFor="let option of typeOfOrganizations">
                    <mat-option  [value]="option">
                        <label>{{option}}</label>
                    </mat-option>
                  </div>                                      
                </mat-select>
              <mat-error *ngIf="advertiserBrandForm.controls['typeOfClient'].hasError('require')">
                  Type Of Client is required
              </mat-error>
              <mat-error *ngIf="advertiserBrandForm.controls['typeOfClient'].hasError('typeOfClientInvalid')">
                  Type Of Client is invalid.
              </mat-error>
            </div>

            <div class="form-group">
              <input type="text" class="inputBox" placeholder="Brand" matInput formControlName="brand"
              [matAutocomplete]="brand" [readonly]="currentTab == 3 ? false :  true">
              <mat-autocomplete #brand="matAutocomplete" (optionSelected)="getTherapeuticData($event)">
                <mat-option *ngFor="let option of filteredBrands | async" [value]="option"  >
                {{option}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <mat-error *ngIf="advertiserBrandForm.controls['brand'].hasError('require')">
              Brand Name is required
            </mat-error>

            <div class="form-group">
              <input type="text" class="inputBox" placeholder="Therapeutic Area" matInput formControlName="therapeuticType"
              [matAutocomplete]="therapeuticType" [readonly]="currentTab == 3 ? false : true ">
              <mat-autocomplete #therapeuticType="matAutocomplete">
                <mat-option *ngFor="let option of filteredTherapeuticTypes | async" [value]="option">
                {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="advertiserBrandForm.controls['therapeuticType'].hasError('require')">
                  Therapeutic Area is required
              </mat-error>
              <!-- <mat-error *ngIf="advertiserBrandForm.controls['therapeuticType'].hasError('therapeuticTypeInvalid')">
                  Therapeutic Area is invalid.
              </mat-error> -->
            </div>
          </form>
          <div id="step3" class="mt-4 tac" [ngClass]="{'dBlock1':currentTab == 3 || id, 'dNone1' : currentTab != 3 && !id}">
            <button *ngIf="!id" type="button" id="prevBtn1" class="primaryBtn mainColor mainBordercolr"
              [disabled]="currentTab == 3 ? false : true " (click)="prevView(-1)">Back</button>
            <button type="button" class="primaryBtn mainColor mainBordercolr" [disabled]="currentTab == 3 ? false : true"
              (click)="saveAdvertiser()">Save</button>
          </div>
        </div>
      </div>
    
      <div class="tab boxDiv stepsboxDiv" *ngIf="id">
        <h2 class="boxHeading tac" [ngClass]="{'mainBGcolor':currentTab == 3 || id, 'mainBGcolor1' : currentTab != 2 && !id}">
          <span *ngIf="advertiserType == 'Client' ">Manage Brand</span>
          <span *ngIf="advertiserType == 'Agency' ">Manage Brand</span>
        </h2>
        <div class="pl-4 pr-4 pt-3 pb-4">
          <span *ngIf="advertiserType == 'Client' " class="fs13 mb-2">View and manage all your brands from the manage tab below.</span>
          <span *ngIf="advertiserType == 'Agency' " class="fs13 mb-2">View and manage your agency.</span>
          
          <div class="tac mb-3" *ngIf="currentTab != 3">
            <img src="./assets/images/manageAssetsPub.png" class="dNone" width="80%" height="80%" alt="Help">
          </div>
          <div class="tac mb-3" *ngIf="currentTab == 3">
            <img src="./assets/images/manageAssetsPub.png" class="dNone dBlock" width="80%" height="80%" alt="Help">
          </div>
          <div id="step3" class="mt-4 tac" *ngIf ="hasPersonalProfile && rolePermissions && rolePermissions.includes('view_brand')">
            <button type="button" class="primaryBtn mainColor mainBordercolr">
              <span [routerLink]="['/advertiser/accountCreation']">Manage</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>