<router-outlet></router-outlet>
<div class="overlay" *ngIf="spinner.spinnerEnabled">  
  <mat-progress-spinner class="example-margin spinner" [color]="primary" 
  [class.advertiserStroke] = 'isAdvertiser' [class.publisherStroke] = 'isPublisher'
  [mode]="'indeterminate'" [value]="50">
  </mat-progress-spinner>
</div>
