<div class="bgImg" style="bottom:-70px;"><img src="assets/images/groupImg.png" width="300" height="300"
    alt="AdvanalyticsBg"> </div>

<div class="pt-3 mb-2">
  <h1 class="h2"><i class="icon-18 gColor fs20"></i> Thank you for signing up! </h1>
  <h6 class="h6 mt-1" style="margin-left:30px">Start reaching out to your target audience by creating brand campaigns.</h6>
</div>


<div class="row ml-3 mt-4">
  <div class="col-md-3 fs14 ml-1"><strong class="adver_color fs13">1. AUDIENCE LIST</strong>
    <div class="row">
      <div class="col-md-12">  
        <div class="mt-3 "> 
          <img src="assets/images/thanksinfo/ad_1.jpg" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
          <h5 class="  fs11 adver_color mb-1 "><strong>CREATE/UPLOAD AUDIENCE  </strong></h5>
          <h6 class="h6 fwn">Use our targeting options to create an audience list or upload your own physician list
          </h6>
        </div>
    </div>
  </div>
</div>

     <div class="col-md-8 fs14"><strong class="adver_color fs13">2. CAMPAIGN CREATION</strong>
      <div class="row">
        <div class="col-md-4">
          <div class="mt-3 "> 
            <img src="assets/images/thanksinfo/ad_2.jpg" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
            <h5 class="  fs11 adver_color mb-1 "><strong>CHOOSE AUDIENCE</strong></h5>
            <h6 class="h6 fwn">Select the audience list based on your targeting requirements.</h6>
          </div>
           </div>

           <div class="col-md-4">
            <div class="mt-3 "> 
              <img src="assets/images/thanksinfo/ad_3.jpg" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
              <h5 class="  fs11 adver_color mb-1 "><strong>DECIDE BUDGET</strong></h5>
              <h6 class="h6 fwn">Decide if you want a CPM/CPC based campaign and your total budget</h6>
            </div>
             </div>

             <div class="col-md-4">
              <div class="mt-3 "> 
                <img src="assets/images/thanksinfo/ad_4.jpg" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
                <h5 class="  fs11 adver_color mb-1 "><strong>UPLOAD CREATIVES</strong></h5>
                <h6 class="h6 fwn">Upload the campaign creatives in the required dimensions. </h6>
              </div>
               </div>
      
      </div>
      <div class="float-right mt-5" style="z-index: 999; right: 50px; bottom: 35px;">
        <span class="primaryBtn mainColor mainBordercolr" (click)="getStartedClick()" routerLink='/advertiser/audience'>Get started</span>
      </div>
    </div>

</div>

