input.mat-input-element { border-radius:4px!important; width:100%!important; border:1.5px solid #eeeeeebd!important; 
												  font-size:12px!important; padding:6px 15px!important; margin:0!important;}
.mat-select-panel {
	max-width: 300px!important;
  }
::ng-deep .cdk-overlay-pane {
    /* Do you changes here */
	width: auto !important;
}

.point{ height: 3px !important; margin-top: 12px !important;}
.option label{ margin-bottom: 0px !important; display: contents !important;}