<div class="mt14 boxDiv mb-5" style="padding:10px; width: 98%; margin-left: 6px;">
      <form [formGroup]="chngpwdForm" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class=" mb-2">
			<div class="bgLGRColor pl-3 pr-3 pt-2 pb-2">
				<p class="mb-0 fs14 fw500 ml-2">Change Password</p>
			</div>
          <div class="alert alert-success" role="alert" *ngIf="status ===true">
            {{message}}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="status ===false">
            {{message}}
          </div>
          <div class="p-4">
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Current Password</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input type="password" autocomplete="off" class="form-control inputBox" id="curPassword" formControlName="curPassword" name="curPassword" [type]="pwdHide ? 'password' : 'text'" placeholder="Current password" autocomplete="off" />
                <mat-icon matSuffix (click)="pwdHide = !pwdHide" style="float:right; margin:-30px 10px -34px 0;">{{pwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="submitted && chngpwdForm.controls['curPassword'].hasError('required')">
                  Password is required
                </mat-error>
                <mat-error *ngIf="chngpwdForm.controls['curPassword'].hasError('minlength')">
                  Password should contain atleast 8 characters
                </mat-error>
                <mat-error *ngIf="chngpwdForm.controls['curPassword'].hasError('validPassword')">
                  Password should contain uppercase, lowercase, numbers and special characters
                </mat-error>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">New Password</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <input matInput type="password" formControlName="newPassword" class="form-control inputBox" placeholder="New password"
                  minlength="8" [type]="confirmPwdHide ? 'password' : 'text'" required autocomplete="off" />
                  <mat-icon matSuffix (click)="confirmPwdHide = !confirmPwdHide" style="float:right; margin:-30px 10px -34px 0;">{{confirmPwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="submitted && chngpwdForm.controls['newPassword'].hasError('required')">
                  New Password is required
                </mat-error>
                <mat-error *ngIf="chngpwdForm.controls['newPassword'].hasError('minlength')">
                  New Password must be at least 8 characters
                </mat-error>
                <mat-error *ngIf="chngpwdForm.controls['newPassword'].hasError('validPassword')">
                  New Password should contain uppercase, lowercase, numbers and special characters
                </mat-error>
                <mat-error *ngIf="chngpwdForm.controls['newPassword'].hasError('firstNameOrLastExists')">
                  New Password should not contain first name or last name
                </mat-error>
                <mat-error *ngIf="chngpwdForm.controls['newPassword'].hasError('first4CharsExists')">
                  Password should not contain first 4 chars of first name or last name
                </mat-error>
                <mat-error *ngIf="chngpwdForm.controls['newPassword'].hasError('samePassword')">
                  Current Password and New Password cannot be same
                </mat-error>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Confirm New Password</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input matInput type="password" formControlName="confirmPassword" class="form-control inputBox" placeholder="Confirm password"
                  minlength="8" required autocomplete="off" [type]="confirmHide ? 'password' : 'text'" />
                <mat-icon matSuffix (click)="confirmHide = !confirmHide" style="float:right; margin:-30px 10px -34px 0;">{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>  
                <mat-error *ngIf="submitted && chngpwdForm.controls['confirmPassword'].hasError('required')">
                  Confirm Password is required
                </mat-error>
                <mat-error *ngIf="chngpwdForm.controls['confirmPassword'].hasError('mustMatch')">
                  Passwords must match
                </mat-error>
              </div>
            </div>
              
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">&nbsp;</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 barLabelDiv">
                  <app-password-strength-bar [passwordToCheck]="chngpwdForm.controls['newPassword'].value"
                [barLabel]="barLabel">
              </app-password-strength-bar>  
              </div>
            </div>  

            <div class="clearfix">
              <button class="primaryBtn mainColor mainBordercolr float-right" >Save
                Changes</button>
            </div>
          </div>
        </div>
      </form>
	
    <div class="mt-3" *ngIf="param1 === false">
      <form [formGroup]="secQsForm" (ngSubmit)="onSaveSecQs()" #secQsf="ngForm">
        <div>
			<div class="bgLGRColor pl-3 pr-3 pt-2 pb-2">
				<p class="mb-0 fs14 fw500 ml-2">Security Questions <i [matTooltip]="advertiser_settings_account_security_questions" class="icon-78 grColor fs12 tradMak"></i></p>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="statusQs ===true">
        {{messageQs}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="statusQs ===false">
        {{messageQs}}
      </div>
			<div class="p-4" *ngIf="statusQs!==true">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label formLabel">Question 1</label>
            </div>
            <div class="col-md-6">
              <mat-select class="inputBox" placeholder="Select question 1" aria-label="Select security question 1" formControlName="securityQuestion1" (selectionChange)="onSelectQuestion()">
                <div *ngFor="let option of security_questions">
                  <mat-option  [value]="option">
                      <label>{{option}}</label>
                  </mat-option>
                </div>                                      
              </mat-select>
              <mat-error *ngIf="quesFormSubmitted && secQsForm.controls['securityQuestion1'].hasError('required')">
                Question 1 is required
              </mat-error>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <label class="col-form-label formLabel">Answer 1</label>
            </div>
            <div class="col-md-6">
              <input class="" matInput formControlName="securityAnswer1" autocomplete="off">
              <mat-error *ngIf="quesFormSubmitted && secQsForm.controls['securityAnswer1'].hasError('required')">
                Answer 1 is required
              </mat-error>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4">
              <label class="col-form-label formLabel">Question 2</label>
            </div>
            <div class="col-md-6 option">
              <mat-select class="inputBox" placeholder="Select question 2" aria-label="Select security question 2" formControlName="securityQuestion2" (selectionChange)="onSelectQuestion()">
                <div *ngFor="let option of security_questions">
                  <mat-option  [value]="option">
                      <label>{{option}}</label>
                  </mat-option>
                </div>                                      
              </mat-select>
              <mat-error *ngIf="quesFormSubmitted && secQsForm.controls['securityQuestion2'].hasError('required')">
                Question 2 is required
              </mat-error>
              <mat-error *ngIf="quesFormSubmitted && secQsForm.controls['securityQuestion2'].hasError('same')">
                Question 2 is same Question 1
              </mat-error>
              <mat-error *ngIf="sameQuestionMsg && !secQsForm.controls['securityQuestion2'].hasError('same')">
                  {{sameQuestionMsg}}
              </mat-error>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <label class="col-form-label formLabel">Answer 2</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <input class="col-sm-12" matInput formControlName="securityAnswer2" autocomplete="off" />
              <mat-error *ngIf="quesFormSubmitted && secQsForm.controls['securityAnswer2'].hasError('required')">
                Answer 2 is required
              </mat-error>
            </div>
          </div>
          <div class="clearfix mt-3">
            <button class="primaryBtn mainColor mainBordercolr float-right">Submit
              Questions</button>
          </div>
        </div>
	    </div>
    </form>
  </div>
  <div class=" mt-3">
    <div class="bgLGRColor pl-3 pr-3 pt-2 pb-2">
      <p class="mb-0 fs14 fw500 ml-2">Delete Account <i [matTooltip]="publisher_settings_account_delete_account" class="icon-78 grColor fs12 tradMak"></i></p>
    </div>
    <div class="p-4">
      <p class="mb-0">This action will permanently delete your Doceree account. We recommend you pause your account instead.</p>
    </div>
    <div class="clearfix p-4">
      <button class="primaryBtn mainColor mainBordercolr float-right" (click) = "deleteAccount()">Delete Account</button>
    </div>
  </div>
</div>
