.square { width:25px; height:25px;}	
.smallsquare { width:20px; height:20px;}	
.banner { width:50px; height:10px;}	
.leaderboard { width:80px; height:10px;}	
.inlinerectangle { width:35px; height:25px;}	
.largerectangle	{ width:35px; height:30px;}	
.skyscraper { width:8px; height:35px;}	
.wideskyscraper { width:12px; height:35px;}	
.half-pagead { width:16px; height:35px;}	
.largeleaderboard { width:85px; height:10px;}	
.wh11px { width:200px; height:20px;}

.boxactive{ 
    border-color:#555f88 !important;
    background: #555f88 !important;
}