<div class="custom-dialog info advertiserDiv">
  <div class="modal-content">
        <div class="modal-header mainBGcolor wColor p-2">
            <h4 class="modal-title fs14">{{creativeHub.name}} ({{creativeHub.selectedBanners.length}} Sizes)</h4>
          </div>
         <div class="modal-body p-4">
            <mat-dialog-content>
                <div class="form-group">
                  <div class="col-sm-9 newAssets">
                    <div class="row">
                      <div class="col-3 prl_mtb" *ngFor="let banner of creativeHub.selectedBanners">
                        <a class="bannerBoxes tac w-100">
                          <div class="min40px pt-2"><span class="boxactive" [ngClass]="banner.name.toLowerCase() | trim">&nbsp;</span></div>
                          <small class="grColor">{{banner.size}}</small> 
                          <small class="grColor">{{banner.name}}</small>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </mat-dialog-content>    
        </div>
        <div class="modal-footer border-0 pt-0">       
            <mat-dialog-actions class="mb-0"><button [mat-dialog-close]="false" class="primaryBtn mainColor mainBordercolr">Close</button></mat-dialog-actions>
        </div>
      </div>
  </div>