.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding:0;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 15px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
     /* New css */
     .form-control_bg_tr {
      background: transparent;
      border: 1px solid #cacaca !important;
      color: #5a5a5a;
      font-size: 12px;
      border-radius: 5px;}

.login_err{color: crimson;font-size:11px; position: relative; top: -20px;}
.invalidfeedback{color: #ff3939;
  /* border-left: 5px solid #ff3939; */
  /* padding: 0 0 0 6px; */
  position: relative;
  top: -3px;
  font-size: 11px; border: none; padding: 0px;}