<div class="bodyBg">
  <div class="mainDiv container advertiserDiv">
    <div class="row">
      <div class="col-md-6">
        <div class="reglogo">
          <div>
            <a target="_blank" href="http://doceree.com/">
              <img src="./assets/images/logo2.png" width="242" height="59" alt="" />
            </a>
          </div>
        </div>

        <div class="registrationForm">
          <h3 class="h4">LOGIN</h3>
          <h1 class="h2 mb-4">Unlock the Power</h1>
          <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()" class="form">
            <div class="invalidfeedback" *ngIf="errorMsg">
              {{ errorMsg }}
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="invalidfeedback" *ngIf="submitted && loginForm.controls['email'].hasError('pattern')">
                  Enter a valid email address
                </div>
                <div class="invalidfeedback" *ngIf="submitted && loginForm.controls['email'].hasError('required')">
                  Email address is required
                </div>
              </div>
              <div class="col-sm-6">
                <div class="invalidfeedback" *ngIf="submitted && loginForm.controls['password'].hasError('required')">
                  Password is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <input type="text" formControlName="email" class="form-control logininputBox loginInput form-control_bg_tr mb-0" id="email"
                  placeholder="Email Address" name="email" required />
              </div>
              <div class="col-sm-6">
                <input type="password" formControlName="password" class="form-control logininputBox loginInput form-control_bg_tr mb-0 " id="pwd" [type]="pwdHide ? 'password' : 'text'" placeholder="Password" name="pswd" required />
                <mat-icon matSuffix (click)="pwdHide = !pwdHide" style="float:right; position:relative; top:-27px; right:10px">{{pwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </div>
            </div>
            <button type="submit" class="btn mainBGcolor regloginBtl" style="margin-bottom: 10px !important;">Go to Dashboard</button>
            <h6 class="h6 "><a href="/forgotpassword" class="tdu mainColor fw600">Forgot your Password?</a></h6>
            <h6 class="h6 mt-2">Don’t have an account? <a href="/register-via-code" class="mainColor fw600">Click here</a> to signup in less than 5 minutes!</h6>
          </form>
        </div>
        <footer class="rlFooter">
          <div class="clearfix">
            <a target="_blank" href="https://doceree.com/">Home</a>
            <a target="_blank" href="https://doceree.com/about-us/">About us</a>  
            <a target="_blank" href="https://doceree.com/media-agencies/">Media Agencies</a>
            <a target="_blank" href="https://doceree.com/brands/">Brands</a>
            <a target="_blank" href="https://doceree.com/publishers/">Publishers</a>
            <a target="_blank" href="https://doceree.com/how-it-works/">How it works</a>
            <a target="_blank" href="https://doceree.com/blog/">Blog</a>
            <a target="_blank" href="https://support.doceree.com/hc/en-us">FAQs</a>
          </div>
          <p>Copyright 2020 | Doceree Inc.</p>
        </footer>
      </div>
      <div class="col-md-6 mt-3">
        <img src="./assets/images/laptop-2.png" style="width:82.6%; height:100%" alt="" class="lapImg" />
      </div>
    </div>
  </div>
</div>
