<div class="pt-4 mb40">
    <h1 class="h2">Invite A Colleague / Partner</h1>
    <h6 class="h6 mt-1 fwn lineheight">To show our appreciation for being an early adopter of Doceree, we’re giving you five exclusive invitation codes. <br>With these you can invite colleagues and partners — to join the platform</h6>
  </div>
  <div class="w-50 boxDiv p-4">
    <div class="row">
      <div class="col-9">
          <input class="inputBox" [(ngModel)]="email1" placeholder="Email" name="email1" [readonly] = "sent1">
          <mat-error *ngIf="isEmail1">
            Email is required
          </mat-error>
      </div>
      <div class="col-1" *ngIf="!sent1">
          <button  class="primaryBtn mainColor mainBordercolr mt-1" (click)="sendInvitation('email1')">Send</button>
      </div>
      <div class="col-1 mt-2 ml-4 float-center" *ngIf="sent1">
          <i class="icon-18 fs16 text-success"></i>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-9">
          <input class="inputBox" [(ngModel)]="email2" placeholder="Email" name="email2" [readonly] = "sent2">
          <mat-error *ngIf="isEmail2">
            Email is required
          </mat-error>
      </div>
      <div class="col-1 " *ngIf="!sent2">
          <button  class="primaryBtn mainColor mainBordercolr mt-1" (click)="sendInvitation('email2')">Send</button>
      </div>
      <div class="col-1 mt-2 ml-4 float-center" *ngIf="sent2">
          <i class="icon-18 fs16 text-success"></i>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-9">
          <input class="inputBox" [(ngModel)]="email3" placeholder="Email" name="email3" [readonly] = "sent3">
          <mat-error *ngIf="isEmail3">
            Email is required
          </mat-error>
      </div>
      <div class="col-1" *ngIf="!sent3">
          <button  class="primaryBtn mainColor mainBordercolr mt-1" (click)="sendInvitation('email3')">Send</button>
      </div>
      <div class="col-1 mt-2 ml-4 float-center" *ngIf="sent3">
          <i class="icon-18 fs16 text-success"></i>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-9">
          <input class="inputBox" [(ngModel)]="email4" placeholder="Email" name="email4" [readonly] = "sent4">
          <mat-error *ngIf="isEmail4">
            Email is required
          </mat-error>
      </div>
      <div class="col-1" *ngIf="!sent4">
          <button  class="primaryBtn mainColor mainBordercolr mt-1" (click)="sendInvitation('email4')">Send</button>
      </div>
      <div class="col-1 mt-2 ml-4 float-center" *ngIf="sent4">
          <i class="icon-18 fs16 text-success"></i>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-9">
          <input class="inputBox" [(ngModel)]="email5" placeholder="Email" name="email5" [readonly] = "sent5">
          <mat-error *ngIf="isEmail5">
            Email is required
          </mat-error>
      </div>
      <div class="col-1" *ngIf="!sent5">
          <button  class="primaryBtn mainColor mainBordercolr mt-1" (click)="sendInvitation('email5')">Send</button>
      </div>
      <div class="col-1 mt-2 ml-4 float-center" *ngIf="sent5">
          <i class="icon-18 fs16 text-success"></i>
      </div>
    </div>
  </div>