.icon {
    height: 35px; width: 50px !important;
    margin-left: -12px;
    margin-top: -22px;
    margin-bottom: -22px;
}
/* before changes code 07-11
.icon {
    height: 50px;
    margin-left: -15px;
    margin-top: -22px;
    margin-bottom: -22px;
}
*/

