<div class="row">
  <div class="col-1">
    <img *ngIf="snackBarData.icon === 'success'" alt="" src="assets/images/icon-success.svg" class="icon">
    <img *ngIf="snackBarData.icon === 'error'" alt="" src="assets/images/icon-error.svg" class="icon">
  </div>
  <div class="col-10">
    {{snackBarData.message}}
  </div>
</div>
