<div class="table-responsive grColor">
  <table class="table">
    <thead></thead>
    <tbody class="fs14">
      <tr class="" (click) = "gotoClickedLink('invitation_code')" *ngIf="hasPersonalProfile">
          <td>
              <a >Invitation Code</a>
          </td>
          <td>
              <a class="float-right text-muted">
                  <i class="icon-50 fs20"></i>
              </a>
          </td>
      </tr>
      <tr *ngIf="hasPersonalProfile" class="" (click) = "gotoClickedLink('profile')">
        <td>
            <a >Edit Profile</a>
        </td>
        <td>
            <a class="float-right text-muted">
                <i class="icon-50 fs20"></i>
            </a>
        </td>
      </tr>
      <tr *ngIf="hasPersonalProfile" class="" (click) = "gotoClickedLink('email_settings')">
        <td>
            <a >Email Settings</a>
        </td>
        <td>
            <a class="float-right text-muted">
                <i class="icon-50 fs20"></i>
            </a>
        </td>
      </tr>
      <tr *ngIf="hasPersonalProfile" (click) = "gotoClickedLink('change_password')">
        <td>
            <a >Change Password</a>
        </td>
        <td>
            <a class="float-right text-muted">
                <i class="icon-50 fs20"></i>
            </a>
        </td>
      </tr>
      <tr class="" (click) = "logout()">
          <td>
            <a>Logout</a>
            </td>
          <td>
            <a class="float-right text-primary bgLGRColor fs14">
                  <i class="icon-4 fs20"></i>
              </a>
          </td>
      </tr>
    </tbody>
  </table>
</div>
