<div id="overlay_bg" *ngIf="userDetails.isVisitedDashboard == false">
  <div class="fixedWidth">

    <div id="overlay_1" >
      <div class="overlay_box_1 right">
        <img src="assets/Arrows-01.svg" width="40" height="40">
        <ul style="padding-left: 10px;">
          <li>Add your bank account <br>information here.</li>
        </ul>
        <button (click)="scrollToNext()" class="overlay_button_border"
          style="float: right; margin-right: 0px; cursor: pointer !important;">Next</button>
      </div>
    </div>

    <div id="overlay_10" style="display: none; margin-top: 100px;">
      <div class="overlay_box_2 left">
        <div class="overlay_box_2_text" style="margin-left: 0px; margin-right: 0px;">Are you sure you want <br>to skip
          the tutorial?</div>
        <button (click)="scrollToNext()" class="overlay_button_border " style="cursor: pointer !important;">Continue</button>
        <button (click)="skip()" class="overlay_button_border " style="cursor: pointer !important;">Skip it</button>
      </div>
    </div>

    <div id="overlay_2" style="display: none;">
      <div class="overlay_box_2 left" style="width: 318px;">
        <img src="assets/Arrows-03.svg" style="width: 38px; height: 38px;">
        <div class="overlay_box_2_text">2. Add your platform here. Our proprietary HCP validation engine verifies all physicians before displaying ads.</div>
        <button (click)="scrollToNext()" class="overlay_button_border "
          style="float: right; margin-right:40px; cursor: pointer !important;">Next</button>
      </div>
    </div>

    <div id="overlay_3" style="display: none;">
      <div class="overlay_box_3">
        <img src="assets/Arrows-01.svg" width="50" height="50" style="margin-left: -15px;">
        <div class="overlay_box_3_text">3. You can view all account notifications here. You will also be updated about your platform approval status here, within 24 hours of submission.
        </div>
        <div style="clear: both; height:40px;"></div>
        <button (click)="scrollToNext()" class="overlay_button_border"
          style="margin-right:-52px; float: right !important; margin-top: 30px; cursor: pointer !important;">Next</button>
      </div>
    </div>

    <div id="overlay_4" style="display: none;">
      <div class="overlay_box_4 left">
        <img src="assets/Arrows-02.svg" width="30" height="30">
        <div class="overlay_box_4_text" >4. Add all your advertising inventory here after registering your platform.
        </div>
        <button (click)="scrollToNext()" class="overlay_button_border "
          style="float: right; margin-right:57px; cursor: pointer !important;">Next</button>
      </div>
    </div>

    <div id="overlay_5" style="display: none;">
      <div class="overlay_box_5">
        <img src="assets/Arrows-03.svg" style="height:31px; width: auto; ">
        <div class="overlay_box_5_text" style="right: -284px; width: 300px;">5. You can monitor the earnings from all your ad inventory from the analytics tab.
        </div>
        <div style="clear: both; height:30px;"></div>
        <button (click)="scrollToNext()" class="overlay_button_border "
          style=" position: absolute; right: -252px; cursor: pointer !important;">Next</button>
      </div>
    </div>

    <div id="overlay_6" style="display: none;">
      <div class="overlay_box_6 left" style="margin-top: 2% !important; width: 278px;">
        <img src="assets/Arrows-03.svg" style="height: 40px; width: auto;">
        <div class="overlay_box_6_text">
          6. You can activate, deactivate, and check the status of your ad inventory from here.
        </div>
        <button (click)="scrollToNext()" class="overlay_button_border "
          style="float: right; margin-right: -16px; cursor: pointer !important;">Next</button>
      </div>
    </div>

    <div id="overlay_7" style="display: none;">
      <div class="overlay_box_7 right">
        <img src="assets/Arrows-01.svg" width="40" height="40">
        <div class="overlay_box_7_text">
          7. The payments tab is where you can access all invoices, billing and payment-related information. Funds will be transferred to your account at the end of each month.
        </div>
        <button (click)="scrollToNext()" class="overlay_button_border"
          style="float: right; margin-right: 0px; cursor: pointer !important;">Next</button>
      </div>
    </div>

    <div id="overlay_8" style="display: none;">
      <div class="overlay_box_8 right">
        <img src="assets/Arrows-01.svg" width="40" height="40">
        <div class="overlay_box_8_text">
          8. Access our help desk for FAQs, <br>or write to us with additional queries from this tab.
        </div>
        <button (click)="skip()" id="skipTutorial" class="overlay_button_border"
          style="float: right; margin-right:-5px; cursor: pointer !important;">Done</button>
      </div>
    </div>
    <div id="skipButton" style="margin:auto; width: 200px;"> <button (click)="scrollToSkip()" class="overlay_button_border "
      style="position: fixed;bottom: 13%;z-index: 99999999; cursor: pointer !important;">Skip tutorial </button></div>
  </div>
</div>
<div  class="bgImg" style="top:50px; right:-20px; z-index:-1">
  <img alt="AdvanalyticsBg" src="assets/images/dashboardImg.png" style="width:250px; height:200px;">
</div>

<div class="row">
  <div class="col-md-8">
    <div class="pt-4 mb40">
      <h1 class="h2" *ngIf='userDetailsTemplate.lastLogoutTime'>Welcome back, {{ userDetailsTemplate.first_name }}
        {{ userDetailsTemplate.last_name }}.</h1>
      <h1 class="h2" *ngIf='!userDetailsTemplate.lastLogoutTime'>Welcome {{ userDetailsTemplate.first_name }}
        {{ userDetailsTemplate.last_name }}.</h1>
      <h6 class="h6 mt-1 fwn lineheight" *ngIf='userDetailsTemplate.lastLogoutTime'>Here’s everything that happened on your platform since you last visited us on
        {{ userDetailsTemplate.lastLogoutTime | date: 'd MMM yyyy'}} at
        {{ userDetailsTemplate.lastLogoutTime | date: 'h:mm a'}}.</h6>
    </div>
  </div>
  <div class="col-md-2 pt-4 mb40" *ngIf="marketSelectionDisplay">   
      <div class="row">
        <div class="col-md-4 fs13 fw600 mr-3 mt14">Market</div>
        <div class=" w97 fs13 fw600 market_box mt9">
          <mat-form-field class="mat-form-field">            
            <mat-select [(value)]="marketSelection" (selectionChange)="updateMarketSelection()">

              <mat-select-trigger *ngIf="marketSelection && marketSelection === '1'">
                <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> <span class="market_trigger fs11">US</span>
              </mat-select-trigger>
              <mat-select-trigger *ngIf="marketSelection && marketSelection === '2'">
                <img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"><span class="market_trigger fs11">India</span>
              </mat-select-trigger>

              <mat-option value="1"><img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2">US</mat-option>
              <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2">India</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  </div>
</div>



<div class="cardDiv clearfix ">
<div class="smallAllCards ml-0 pl-1">
<div class="row mb12">
  <div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Earnings <i [matTooltip]="publisher_dashboard_earnings" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
          'bgGColor':platformResults && platformResults.earnings && platformResults?.earnings.performanceChange >= 0,
          'bgRColor':platformResults && platformResults.earnings && platformResults?.earnings.performanceChange < 0
        }"><i class="icon-48" [ngClass]="{
          'icon-47':platformResults && platformResults.earnings && platformResults?.earnings.performanceChange >= 0,
          'icon-48':platformResults && platformResults.earnings && platformResults?.earnings.performanceChange < 0
        }"></i>
          {{ (platformResults && platformResults.earnings && platformResults?.earnings.performanceChange) ? (platformResults?.earnings.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-22 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0">
          {{currencySymbol}}{{ (platformResults && platformResults.earnings && platformResults?.earnings.total) ? (platformResults?.earnings.total | number:'.0-0') : 0 }}</h2>
      </div>
    </div>
  </div>
  <div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Impressions <i [matTooltip]="publisher_dashboard_impressions" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
          'bgGColor':platformResults && platformResults.impressions && platformResults?.impressions.performanceChange >= 0,
          'bgRColor':platformResults && platformResults.impressions && platformResults?.impressions.performanceChange < 0
        }"><i class="icon-47" [ngClass]="{
          'icon-47':platformResults && platformResults.impressions && platformResults?.impressions.performanceChange >= 0,
          'icon-48':platformResults && platformResults.impressions && platformResults?.impressions.performanceChange < 0
        }"></i>
          {{ (platformResults && platformResults.impressions && platformResults?.impressions.performanceChange) ? (platformResults?.impressions.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-21 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0">
          {{ (platformResults && platformResults.impressions && platformResults?.impressions.total) ? platformResults?.impressions.total : 0 }}</h2>
      </div>
    </div>
  </div>

  <div class="smallCard">
    <div class="boxDiv">
      <div class="p1015 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Reach <i [matTooltip]="publisher_dashboard_reach" class="icon-78 fs12 tradMak grColor"></i></h6>
        <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
          'bgGColor':platformResults && platformResults.reach && platformResults?.reach.performanceChange >= 0,
          'bgRColor':platformResults && platformResults.reach && platformResults?.reach.performanceChange < 0
        }"><i class="icon-47" [ngClass]="{
          'bgGColor':platformResults && platformResults.reach && platformResults?.reach.performanceChange >= 0,
          'bgRColor':platformResults && platformResults.reach && platformResults?.reach.performanceChange < 0
        }"></i>
          {{ (platformResults && platformResults.reach && platformResults?.reach.performanceChange) ? (platformResults?.reach.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div>
      </div>
      <hr class="m-0">
      <div class="p1015 clearfix">
        <div class="float-left"><i class="icon-24 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0">{{(platformResults && platformResults.reach && platformResults?.reach.total) ? platformResults?.reach.total : 0}}
        </h2>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-12" *ngIf="platformResults?.platforms">
    <div *ngFor="let platformItem of platformResults?.platforms; let i = index;">
      <div id="accordion" class="col-md-8 card expandColaps br0 mb-2 boxDiv" style="display: block;float: left;padding: 0px">
        <div id="heading1" *ngIf="platformResults?.platforms.length > 1">
          <button class="br0 cPointer mainBGcolor w-100  collapsed" (click)="openSelectedPlatform(platformItem, i)">
            <h5 class="fs14 wColor float-left pl-2"  style="height: 27px; line-height:26px;" *ngIf="platformResults?.platforms.length > 1">
              {{platformItem.platformName}}</h5>
            <i *ngIf="platformItem.openState == false" class="icon-6 wColor fs11 fw float-right mt-1 mb-1 mr-1" style="padding: 0px 10px !important; height: 20px; line-height: 20px; margin-top: 5px; margin-right: 10px;"></i>
            <a *ngIf="platformItem.openState == true && platformItem.assets.length >= 8 && rolePermissions && rolePermissions.includes('view_asset')" (click)= "goToManageAssets(platformItem.platformId)"
              class="primaryBtn brwColor float-right wColor font-weight-normal fs11 stripbtn  " style="padding: 0px 10px !important; height: 20px; line-height: 20px; margin-top:3px; margin-right: 10px;">View All</a>
          </button>
        </div>
        <div id="heading1" *ngIf="platformResults?.platforms.length === 1">
          <button class="br0 cPointer mainBGcolor w-100 pl-3 pr-2 stptb collapsed"
            (click)="openSelectedPlatform(platformItem)">
            <h5 class="fs14 fw600 wColor float-left">Active Slots</h5>
            <i *ngIf="platformItem.openState == false" class="icon-6 wColor fs14 fw float-right mt-1 mb-1 ml-2"></i>
            <a *ngIf="platformItem.openState == true && platformItem.assets.length >= 8 && rolePermissions && rolePermissions.includes('view_asset')"
              routerLink="/publisher/assetManage" class="primaryBtn brwColor float-right wColor font-weight-normal fs10 padding ">View All</a>
          </button>
        </div>

        <div id="{{platformItem.platformId}}" class="dashBoardTable" [ngClass]="{'expandColaps':platformItem.openState === true, 'collapse': platformItem.openState === false}">
          <!-- <div class="table-responsive"> -->
          <table class="table table-striped tableStyles">
            <thead>
              <tr class="text-center">
                <th scope="col" class="text-left fw600">Slot Name</th>
                <th scope="col" class="fw600 text-left">Slot Type</th>
                <th scope="col" class="fw600 text-right">Earnings</th>
                <th scope="col" class="fw600 text-right">Impressions</th>
                <th scope="col" class="fw600 text-right">Clicks</th>
                <th scope="col" class="fw600 text-right">CTR</th>
                <th scope="col" class="fw600 text-right">CPC</th>
                <th scope="col" class="fw600 text-right">CPM</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let assetItem of platformItem?.assets">
                <td class="text-left">{{assetItem.assetName}}</td>
                <td ><i [ngClass]="{'icon-12':assetItem.assetType == 'Banner', 'icon-14':assetItem.assetType == 'Video'}"
                    class=" fs18 fw mainColor op5"></i></td>
                <td class="text-right">{{assetItem.earnings > 0 ? currencySymbol+(assetItem.earnings | number:'.0-0') : '-'}}</td>
                <td class="text-right">{{assetItem.impressions > 0 ? (assetItem.impressions | number:'.0-1'): '-'}}</td>
                <td class="text-right">{{assetItem.clicks > 0 ? (assetItem.clicks) : '-' }}</td>
                <td class="text-right">{{assetItem.CTR > 0 ? (assetItem.CTR | number:'.0-1') +'%' : '-'}}</td>
                <td class="text-right">{{assetItem.CPC > 0 ? currencySymbol+(assetItem.CPC | number:'.0-0'): '-' }}</td>
                <td class="text-right">{{assetItem.CPM > 0 ? currencySymbol+(assetItem.CPM | number:'.0-0'): '-'}}</td>
              </tr>
              <tr *ngIf='platformItem?.assets && !platformItem?.assets.length'>
                <td colspan='9' align='center'>No records found!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- </div> -->

    <div class="col-md-4" *ngIf="platformResults?.platforms && !platformResults?.platforms.length" style="display: block; float:right;">
        <p id="accordion" class="fw600 text-center">
          No records found!
        </p>
    </div>
    <div class="col-md-4" style="display: block; float:right;">
    <div class="table-responsive boxDiv dashBoardTable">
      <div class="mainBGcolor w-100 clearfix stptb">
        <h5 class="fs14 wColor float-left pl-3 stripheading">Payments</h5>
        <a *ngIf="rolePermissions && rolePermissions.includes('view_payment_method')" routerLink="/publisher/payments" class="primaryBtn brwColor float-right wColor font-weight-normal fs11 stripbtn " >View All</a>
      </div>
      <table class="table table-striped tableStyles" *ngIf="platformItem.openState">
        <thead>
          <tr>
            <th scope="col" class="fw600">Month</th>
            <th scope="col" class="fw600 text-right">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoiceList">
            <td *ngIf="invoice.platformId === platformItem.platformId">{{invoice.created.at | date: 'd MMM yyyy'}}</td>
            <td *ngIf="invoice.platformId === platformItem.platformId" class="text-right">{{invoice.amount > 0 ? currencySymbol+(invoice.amount | number:'.0-0'): '-' }}</td>
          </tr>
          <tr *ngFor="let invoice of invoiceList; let i = index">
            <td *ngIf="invoice.platformId !== platformItem.platformId && i === 0" colspan='2' align='center'>No records found!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    </div>
  </div>
</div>

<div class="boxDiv mb-5 mt-2">
  <div class="mainBGcolor w-100 pl-2 pr-2 pt-1 pb-1 matoptiontext  mat-option-text clearfix">
    <form [formGroup]="saveFilterForm">
      <div class="row">
        <div class="col-4">
          <h5 class="fs14 ml-2 fw600 wColor float-left mt-2">Performance Tracking <i [matTooltip]="publisher_dashboard_performance_tracking" class="icon-78 tradMak fs12 wdColor"></i></h5>
        </div>
        <div class="col-8">
          <div class="row">
            <div style="float:left; width:504px;" class="dateIconNew">
              <div class="row dateIcon" style="float:right; width:480px;">
                <div class="col-5">
                  <div class="inputBox clearfix">
                    <input matInput [matDatepicker]="startDate" [min]="startDateMin" [max]="todayDate"
                      formControlName="startDate" (dateInput)="addStartDateEvent('input', $event)"
                      placeholder="From Date" class="dateInputBox">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                  </div>
                </div>
                <div class="col-1 p-0">
                  <p class="pt-2 mb-0 text-center wColor">to</p>
                </div>
                <div class="col-5">
                  <div class="inputBox clearfix">
                    <input matInput [matDatepicker]="endDate" [min]="endDateMin" [max]="todayDate"
                      formControlName="endDate" (dateInput)="addEndDateEvent('input', $event)" placeholder="To Date"
                      class="dateInputBox">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 pl-0">
              <mat-select class="inputBox wColor spanColor" formControlName="duration"
                (selectionChange)="onSelectDuration($event.value)" placeholder="Select Duration"
                style="max-height: 270px !important;">
                <div *ngFor="let option of filteredDuration; let i = index">
                  <mat-option [value]="option.value">
                    <label>{{option.name}}</label>
                  </mat-option>
                </div>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="pt-3">
    <div id="performanceTrackingLineChart" style="width:973px; height:350px;">
      <img *ngIf="performanceTrackingResults && performanceTrackingResults.data && !performanceTrackingResults.data.length" src="../assets/images/graph/pub-conversion-result.jpg"
        alt="loading" style="width:1100px; height:352px">
        <p style="position: relative;  top:-211px;width: 400px; margin: auto !important;text-align: center;">You will start seeing analytics data once your slot starts receiving views, impressions and clicks.</p>
    </div>

    <div class="graphchartDiv mt-4" *ngIf="performanceTrackingResults && performanceTrackingResults.summary">
        <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <div class="col-md-3 pr-0 brr0">
                <mat-button-toggle-group [(ngModel)]="toggleEarnings" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="Earnings" (click)="twoToggle('Earnings')">
                      <p><span class="resEarncolor"></span>Earnings
                        <strong>{{currencySymbol}}{{performanceTrackingResults.summary.totalEarnings | number : '.0-0'}}</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor pr-0 pl-0 brr0">
                <mat-button-toggle-group [(ngModel)]="toggleCPM" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CPM" (click)="twoToggle('CPM')">
                      <p><span class="resCPMcolor"></span>CPM
                        <strong>{{currencySymbol}}{{performanceTrackingResults.summary.cpm | number : '.0-0'}}</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor pr-0 pl-0 brr0">
                <mat-button-toggle-group [(ngModel)]="toggleCTR" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CTR" (click)="twoToggle('CTR')">
                      <p><span class="resCTRcolor"></span>CTR
                        <strong>{{performanceTrackingResults.summary.ctr | number : '1.2-2'}}%</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor pr-0 pl-0 ">
                <mat-button-toggle-group [(ngModel)]="toggleCPC" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CPC" (click)="twoToggle('CPC')">
                      <p><span class="resCPCcolor"></span>CPC
                        <strong>{{currencySymbol}}{{performanceTrackingResults.summary.cpc | number : '.0-0'}}</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
        </div>
    </div>
  </div>
</div>
