<div class="pt-3 pb-2 mb-4">
    <h1 class="h2 mb-2">Payments</h1>
    <h6 class="h6">Manage payments, accounts and track your receipts</h6>
  </div>
  <div class="row">
    <div class="col-md-9">
    <ul class="nav nav-pills mt-4 tabsStyles" role="tablist">
      <li class="nav-item"> <a class="nav-link active fs14 fw600 brr0 bgNone" data-toggle="pill" href="#upcomingPayments">Upcoming payments</a> </li>
      <li class="nav-item"> <a class="nav-link fs14 fw600 bgNone brr0" data-toggle="pill" href="#advertisersTab">Advertisers</a> </li>
      <li class="nav-item"> <a class="nav-link fs14 fw600 bgNone brr0" data-toggle="pill" href="#publishersTab" (click) = "renderPublisherBills()">Publishers</a> </li>
      <li class="nav-item"> <a class="nav-link fs14 fw600 bgNone brr0" data-toggle="pill" href="#creditVouchers" (click) = "renderListView()">Credit Vouchers</a> </li>
      <li class="nav-item"> <a class="nav-link fs14 fw600 bgNone brr0" data-toggle="pill" href="#bankDetails" (click) = "getBankDetailsListForPublisher()">Bank Details</a> </li>
    </ul>
    </div>	
    <div class="col-md-3">&nbsp;</div>
  </div>	

  <div class="tab-content mb-5">
    <div id="upcomingPayments" class="tab-pane active">
      <div class="row mt-3">
        <div class="col-md-5">
        <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
			<div class="col-sm-12">
			  <div class="row">
				<div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
				<input class="br0 focus col-8 pt-3 pb-3" type="text" #upcomingPayment placeholder="Type an account ID..." (keyup) = searchUpcomingPayments(upcomingPayment.value)>	
				<button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0" (click) = searchUpcomingPayments(upcomingPayment.value)>Search</button>
			  </div>	
			</div>		
        </div>
        </div>
        <div class="col-md-5 mt-3">
          <button class="primaryBtn mainColor mainBordercolr float-left pl-3 pr-3 mr-3 fffBG brr4" data-toggle="modal" data-target="#exampleModalCenter">View brand-wise</button>
          <button class="primaryBtn mainColor mainBordercolr float-left pl-3 pr-3 mr-3 fffBG" data-toggle="modal" data-target="#exampleModalCenter"><i class="icon-35 fs16 fw600"></i> Download</button>
          <button class="primaryBtn mainColor mainBordercolr float-left pl-3 pr-3 fffBG" data-toggle="modal" data-target="#exampleModalCenter"><i class="icon-15 fs16 fw600 float-left mr-2"></i> Email</button>
        </div>
      </div>
      <div class="filterShowDiv mt-2 d-block">
        <div class="boxDiv pt-3  pr-3  pl-3">
          <div class="row">
            <div class="col-md-1">
              <h6 class="mainColor h6 m-2">Filter</h6>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5 form-group">
                  <div class="inputBox clearfix p-1">
                    <input class="bgNone br0 float-left pt-1" style="width:60%" placeholder="dd/mm/yyyy">
                    <i class="icon-23 fs20 float-right mt-1 mr-1"></i>
                  </div>
                  </div>
                  <div class="col-2 mt-2 p-0 text-center">to</div>
                  <div class="col-md-5 form-group">
                    <div class="inputBox clearfix p-1">
                      <input class="bgNone br0 float-left pt-1" style="width:60%" placeholder="dd/mm/yyyy">
                      <i class="icon-23 fs20 float-right mt-1 mr-1"></i>
                    </div>
                  </div>
                  </div>
                </div>
            
            <div class="col-md-2 form-group selectWrapper">
              <select class="inputBox">
                <option>Last 6 months</option>
                <option>Last 5 months </option>
                <option>Last 4 months</option>
                <option>Last 3 months</option>
              </select>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-sm-4 pl-3 pr-2">
                  <div class="custom-control custom-checkbox mt-1">
                    <input type="checkbox" class="custom-control-input" id="checkActive">
                    <label class="custom-control-label customBox bColor" for="checkActive">Receivables</label>
                  </div>
                </div>
                <div class="col-sm-4 ">
                  <div class="custom-control custom-checkbox mt-1">
                    <input type="checkbox" class="custom-control-input" id="checkINActive">
                    <label class="custom-control-label customBox bColor" for="checkINActive">Payables</label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <button class="primaryBtn mainColor mainBordercolr float-right">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="table-responsive boxDiv mt-3">
            <table class="table table-striped tableStyles" mat-table [dataSource]="advertiserInvoiceList" multiTemplateDataRows matSort (matSortChange)="sortUpcomingAdvertiserPaymentsData($event)">
              <ng-container matColumnDef="Receivables">
                <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Receivables">Receivables</th>
                <td mat-cell *matCellDef="let element"> {{element.advertiserName}} </td>
              </ng-container>
              <ng-container matColumnDef="Due Date">
                <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Due Date"> Due Date</th>
                <td mat-cell *matCellDef="let element"> {{ element.brandDetails[0].invoiceDate  | date: 'MM/dd/yyyy' }} </td>
              </ng-container>
    
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Amount" > Amount</th>
                <td mat-cell *matCellDef="let element"  class="gColor"> 
                  ${{ element.amountInvoiced | number : '1.2-2' }} 
                </td>
              </ng-container>
              <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="upcomingPaymentsAdvColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: upcomingPaymentsAdvColumns;"></tr>
          </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-responsive boxDiv mt-3">
            <table class="table table-striped tableStyles" mat-table [dataSource]="publisherPendingBillsList" multiTemplateDataRows matSort (matSortChange)="sortUpcomingPublisherPaymentsData($event)">
              <ng-container matColumnDef="Payables">
                <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Payables">Payables</th>
                <td mat-cell *matCellDef="let element"> {{element.publisherName}} </td>
              </ng-container>
              <ng-container matColumnDef="Due Date">
                <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Due Date"> Due Date</th>
                <td mat-cell *matCellDef="let element"> {{ element.platformDetails[0].billDate  | date: 'MM/dd/yyyy' }} </td>
              </ng-container>
    
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Amount" > Amount</th>
                <td mat-cell *matCellDef="let element"  class="gColor"> 
                  ${{ element.amountBilled | number : '1.2-2' }} 
                </td>
              </ng-container>
              <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="upcomingPaymentsPubColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: upcomingPaymentsPubColumns;"></tr>
          </table>
          </div>
        </div>
      </div>
      
      
    </div>
    <div id="advertisersTab" class="tab-pane fade">
      <div class="row mt-3">
        <div class="col-md-5">
        <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
			<div class="col-sm-12">
			  <div class="row">
				<div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
				<input class="br0 focus col-8 pt-3 pb-3" type="text" placeholder="Type an account ID...">	
				<button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
			  </div>	
			</div>
		</div>	
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2">
              <div class="boxDiv mt-2" (click)="displayAdvertiserFilters()">
                <a href="javascript:void(0)" class="filterShowHide mainColor h6 p-3 dBlock1 mb-0">Filter
                  <i *ngIf = "!showAdvertiserFilters" class="icon-48 grColor fs18 float-right"></i>
                  <i *ngIf = "showAdvertiserFilters" class="icon-47 grColor fs18 float-right"></i>
                </a>
              </div>
            </div>
            <div class="col-md-6 pt-4 mt-1">
              <div class="float-left mr-2 fw600 fs14">Only show users with outstanding amounts</div>
              <label class="switchBtn">
                <input type="checkbox">
                <span class="sliderBtn sliderBtn1 round"></span>
              </label>
            </div>
          </div>
        </div>
        
      </div>
      <div class="filterShowDiv mt-2">
        <div class="boxDiv pt-3  pr-3  pl-3"  *ngIf = "showAdvertiserFilters">
          <div class="row">
            <div class="col-md-3 form-group">
              <mat-form-field>
                  <!-- <mat-label>Select a filter</mat-label> -->
                  <mat-select [(value)]="advSelectedFilter" (selectionChange) = "changeAdvertiserInvoiceView()" >
                    <mat-option value="pendingInvoices">Pending Invoices</mat-option>
                    <mat-option value="QBInvoicePending">QB Pending Invoices</mat-option>
                    <mat-option value="QBPaymentPending">QB Pending Payments</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 form-group selectWrapper selectWrapper2">
              <select class="inputBox">
                <option>Filter by brand</option>
                <option>Filter 1</option>
                <option>Filter 2</option>
                <option>Filter 3</option>
                </select>
            </div>

            <div class="col-md-4 form-group">
              <div class="row">
                <label for="inputPassword" class="col-sm-5 col-form-label formLabel">Member since</label>
                <div class="col-sm-7 inputBox clearfix p-1">
                  <input class="bgNone br0 float-left pt-1" style="width:60%" placeholder="dd/mm/yyyy">
                  <i class="icon-23 fs20 float-right mt-1 mr-1"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <button class="primaryBtn mainColor mainBordercolr float-right">Apply</button>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive boxDiv mt-3">
        <table class="table table-striped tableStyles" mat-table [dataSource]="advertiserInvoiceList" multiTemplateDataRows matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="Advertiser">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Advertiser">Advertiser</th>
            <td mat-cell *matCellDef="let element"> {{element.advertiserName}} </td>
          </ng-container>
          
          <ng-container matColumnDef="Amount invoiced">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Amount invoiced"> Amount invoiced</th>
            <td mat-cell *matCellDef="let element"> ${{ element.amountInvoiced | number : '1.2-2' }} </td>
          </ng-container>
      
          <ng-container matColumnDef="Amount received">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Amount received" [matTooltip]="publisher_manage_assets_to_date"> Amount received</th>
            <td mat-cell *matCellDef="let element"  class="gColor"> 
              $0
            </td>
          </ng-container>
      
          <ng-container matColumnDef="Amount outstanding">
            <th mat-header-cell *matHeaderCellDef class="wColor" mat-sort-header="Amount outstanding" [matTooltip]="publisher_manage_assets_percentage_utilized"> Amount outstanding</th>
            <td mat-cell *matCellDef="let element"  class="rColor">${{ element.amountInvoiced | number : '1.2-2' }}</td>
          </ng-container>
      
        <!--  <ng-container matColumnDef="Ledger">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Ledger" [matTooltip]="publisher_manage_assets_lifetime_impressions"> Ledger </th>
            <td mat-cell *matCellDef="let element"> <i (click)="invoiceEditView(invoice._id)" class="icon-35 fs20 mainColor fw600"></i></td>
          </ng-container>-->
      
       <!--   <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap">Details</th>
            <td mat-cell *matCellDef="let element" class="dropdown">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <i class="icon-59 fs18 mainColor"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button class="dropboxIcons br0 bgNone publisherDiv" (click)="editAsset(element.assetType, element._id)">
                  <i class="icon-25 fs18 mainColor"></i>
                </button>
                <button class="dropboxIcons br0 bgNone publisherDiv" (click)="openDeleteCofirmDialog(element._id)">
                  <i class="icon-26 fs18 mainColor"></i>
                </button>
                <button class="dropboxIcons br0 bgNone publisherDiv" (click)="viewAssetAnalytics(element._id)">
                  <i class="icon-27 fs18 mainColor"></i>
                </button>
              </mat-menu>
            </td>
          </ng-container> -->
          <ng-container matColumnDef="DropDown">
            <th mat-header-cell *matHeaderCellDef class="">
            </th>
            <td mat-cell *matCellDef="let element" class="">
              <a class="mainColor tdu ml-3" (click)="toggleExpand(element)"><i class="icon-48 fs20 grColor"></i></a>
            </td>
          </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length -1" [ngClass]="{hideRow: !element.showBrand}" >
              <div *ngIf= "element.showBrand" class="manage-element-detail ml-4">
                  <div class="w-100 br1 brr4 brCColor" *ngIf="element.brandDetails && element.brandDetails.length">
                      <table class="table fs12" matSort (matSortChange)="sortSubCampaignData($event, i)">
                        <thead>
                          <tr class="table-light">
                              <th  mat-sort-header="platformName" [matTooltip]="advertiser_analytics_behaviour_top_campaigns" >Client</th>
                              <th  mat-sort-header="platformType" [matTooltip]="advertiser_manage_campaigns_campaign">Brand</th>
                              <th  mat-sort-header="platformAssets" [matTooltip]="advertiser_manage_campaigns_campaign">Amount invoiced	</th>
                              <th  mat-sort-header="invoice" [matTooltip]="advertiser_manage_campaigns_campaign">Invoice Status</th>
                              <th  *ngIf = "advSelectedFilter == 'pendingInvoices'" mat-sort-header="platformUtilization" [matTooltip]="advertiser_manage_campaigns_campaign">Amount received </th>
                              <th  *ngIf = "advSelectedFilter == 'pendingInvoices'" mat-sort-header="platformEarnings" [matTooltip]="advertiser_manage_campaigns_campaign">Amount outstanding </th>
                              <th  *ngIf = "advSelectedFilter != 'pendingInvoices'" mat-sort-header="qbInvoice" [matTooltip]="advertiser_manage_campaigns_campaign">Quick Books Invoice Status</th>
                              <th   *ngIf = "advSelectedFilter != 'pendingInvoices'" mat-sort-header="qbPayment" [matTooltip]="advertiser_manage_campaigns_campaign">Quick Books Payment Status</th>
                              <th  mat-sort-header="invoiceDate" [matTooltip]="advertiser_manage_campaigns_campaign">Invoice Date </th>
                              <th [matTooltip]="advertiser_manage_campaigns_campaign">Details</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let brand of element.brandDetails; let even=even" [ngClass]="{eeeBG: even}">
                                  <td> <a href="javascript:void(0)" (click) = "editPlatform(platform.platformId)" class="mainColor fw600">{{brand.platformName}} </a></td>
                                  <td>{{brand.brandName}}</td>
                                  <td>{{brand.amount  | number : '1.2-2' }}</td>
                                  <td  [ngClass] = "{'rColor': brand.invoiceStatus == 'pending', 'gColor':  brand.invoiceStatus == 'Paid' }">{{brand.invoiceStatus == 'Paid' ? 'Paid': 'Pending'}}</td>
                                  <td *ngIf = "advSelectedFilter == 'pendingInvoices'" class="gColor">$0</td>
                                  <td *ngIf = "advSelectedFilter == 'pendingInvoices'" class="rColor">{{brand.amount  | number : '1.2-2' }}</td>
                                  <td *ngIf = "advSelectedFilter != 'pendingInvoices'" [ngClass] = "{'rColor': brand.qbInvoice == false, 'gColor':  brand.qbInvoice == true }">{{brand.qbInvoice == false ? 'Not Generated ': 'Generated'}}</td>
                                  <td  *ngIf = "advSelectedFilter != 'pendingInvoices'"  [ngClass] = "{'rColor': brand.qbPayment == false, 'gColor':  brand.qbPayment == true }">{{brand.qbPayment == false ? 'Not Paid ': 'Paid'}}</td>
                                  <td>{{brand.invoiceDate | date: 'MM/dd/yyyy'}}</td>
                                   <td class="dropdown">
                                      <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <i class="icon-59 fs18 mainColor"></i>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button *ngIf = "advSelectedFilter == 'pendingInvoices'" class="dropboxIcons br0 bgNone publisherDiv" (click)="submitPayment(brand.invoiceId)">
                                          <i class="icon-9 fs18 mainColor"></i>
                                        </button>
                                        <button *ngIf = "advSelectedFilter == 'QBInvoicePending'" class="dropboxIcons br0 bgNone publisherDiv" (click)="updateQBInvoice(brand.invoiceId)">
                                            <i class="icon-9 fs18 mainColor"></i>
                                          </button>
                                        <button *ngIf = "advSelectedFilter == 'QBPaymentPending'" class="dropboxIcons br0 bgNone publisherDiv" (click)="updateQBPayment(brand.invoiceId)">
                                            <i class="icon-9 fs18 mainColor"></i>
                                          </button>
                                        <!--<button class="dropboxIcons br0 bgNone publisherDiv" (click)="openDeleteCofirmDialog(element._id)">
                                          <i class="icon-26 fs18 mainColor"></i>
                                        </button> -->
                                        <!--<button class="dropboxIcons br0 bgNone publisherDiv" (click)="viewAssetAnalytics(element._id)">
                                          <i class="icon-27 fs18 mainColor"></i> 
                                        </button>-->
                                      </mat-menu>
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                  </div>
              </div>
            </td>
          </ng-container>
      
          <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="manage-element-row"
            [class.manage-expanded-row]="expandedElement === element && element.showBrand"
            (click)="expandedElement = expandedElement === element && element.showBrand ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="manage-detail-row"></tr>
      
        </table>
      </div>
    </div>
    <div id="publishersTab" class="tab-pane fade">
      <div class="row mt-3">
        <div class="col-md-5">
        <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
			<div class="col-sm-12">
			  <div class="row">
				<div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
				<input class="br0 focus col-8 pt-3 pb-3" type="text" placeholder="Type an account ID...">	
				<button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
			  </div>	
        	</div>
		</div>	
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2">
              <div class="boxDiv mt-2">
                <a href="javscript:void(0)" class="filterShowHide mainColor h6 p-3 dBlock1 mb-0">Filter <i class="icon-48 grColor fs18 float-right"></i></a>
              </div>
            </div>
            <div class="col-md-6 pt-4 mt-1">
              <div class="float-left mr-2 fw600 fs14">Only show users with pending bills</div>
              <label class="switchBtn">
                <input type="checkbox">
                <span class="sliderBtn sliderBtn1 round"></span>
              </label>
            </div>
          </div>
        </div>
        
      </div>
      <div class="filterShowDiv mt-2">
        <div class="boxDiv">
          <div class="bgLGRColor p-2">
            <div class="row pt-3">
              <div class="col-md-3 form-group">
                <h6 class="h6 mt-2 ml-2">Viewing monthly invoivces for</h6>
              </div>
              <div class="col-md-3 form-group selectWrapper selectWrapper2">
                <select class="inputBox">
                  <option>Keylink</option>
                  <option>Keylink 1</option>
                  <option>Keylink 2</option>
                  <option>Keylink 3</option>
                  </select>
              </div>
              <div class="col-md-3 form-group selectWrapper selectWrapper2">
                <select class="inputBox">
                  <option>www.kronenberg.com</option>
                  <option>www.kronenberg.com 1</option>
                  <option>www.kronenberg.com 2</option>
                  <option>www.kronenberg.com 3</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="pt-3 pl-3 pr-3">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-5 form-group">
                    <div class="inputBox clearfix p-1">
                      <input class="bgNone br0 float-left pt-1" style="width:60%" placeholder="dd/mm/yyyy">
                      <i class="icon-23 fs20 float-right mt-1 mr-1"></i>
                    </div>
                    </div>
                    <div class="col-2 mt-2 p-0 text-center">to</div>
                    <div class="col-md-5 form-group">
                      <div class="inputBox clearfix p-1">
                        <input class="bgNone br0 float-left pt-1" style="width:60%" placeholder="dd/mm/yyyy">
                        <i class="icon-23 fs20 float-right mt-1 mr-1"></i>
                      </div>
                    </div>
                    </div>
                  </div>

              <div class="col-md-2 form-group selectWrapper">
                <select class="inputBox">
                  <option>Last 6 months</option>
                  <option>Last 5 months </option>
                  <option>Last 4 months</option>
                  <option>Last 3 months</option>
                  </select>
              </div>

              <div class="col-sm-6">
                <button class="primaryBtn mainBordercolr float-right wColor mainBGcolor">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="table-responsive boxDiv mt-3">
        <table class="table table-striped tableStyles" mat-table [dataSource]="publisherBillsList" multiTemplateDataRows matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="Publisher">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Publisher">Publisher</th>
            <td mat-cell *matCellDef="let element"> {{element.publisherName}} </td>
          </ng-container>

        <!--  <ng-container matColumnDef="Billed Date">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Billed Date"> Amount Billed</th>
            <td mat-cell *matCellDef="let element"> ${{ element.amountInvoiced | number : '1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="Bill Start Date">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Bill Start Date"> Amount Billed</th>
            <td mat-cell *matCellDef="let element"> ${{ element.amountInvoiced | number : '1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="Bill End Date">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Bill End Date"> Amount Billed</th>
            <td mat-cell *matCellDef="let element"> ${{ element.amountInvoiced | number : '1.2-2' }} </td>
          </ng-container> -->
          
          <ng-container matColumnDef="Amount Billed">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Amount Billed"> Amount Billed</th>
            <td mat-cell *matCellDef="let element"> ${{ element.amountBilled | number : '1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="Amount Paid">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Amount Paid" [matTooltip]="publisher_manage_assets_to_date"> Amount Paid</th>
            <td mat-cell *matCellDef="let element"  class="gColor"> 
              ${{ element.amountPaid | number : '1.2-2' }} 
            </td>
          </ng-container>
      
          <ng-container matColumnDef="Amount outstanding">
            <th mat-header-cell *matHeaderCellDef class="wColor" mat-sort-header="Amount outstanding" [matTooltip]="publisher_manage_assets_percentage_utilized"> Amount outstanding</th>
            <td mat-cell *matCellDef="let element"  class="rColor">${{ element.amountOutstanding | number : '1.2-2' }}</td>
          </ng-container>
      
        <!--  <ng-container matColumnDef="Ledger">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Ledger" [matTooltip]="publisher_manage_assets_lifetime_impressions"> Ledger </th>
            <td mat-cell *matCellDef="let element"> <i (click)="invoiceEditView(invoice._id)" class="icon-35 fs20 mainColor fw600"></i></td>
          </ng-container>-->
      
       <!--   <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="wColor text-wrap">Details</th>
            <td mat-cell *matCellDef="let element" class="dropdown">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <i class="icon-59 fs18 mainColor"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button class="dropboxIcons br0 bgNone publisherDiv" (click)="editAsset(element.assetType, element._id)">
                  <i class="icon-25 fs18 mainColor"></i>
                </button>
                <button class="dropboxIcons br0 bgNone publisherDiv" (click)="openDeleteCofirmDialog(element._id)">
                  <i class="icon-26 fs18 mainColor"></i>
                </button>
                <button class="dropboxIcons br0 bgNone publisherDiv" (click)="viewAssetAnalytics(element._id)">
                  <i class="icon-27 fs18 mainColor"></i>
                </button>
              </mat-menu>
            </td>
          </ng-container> -->
          <ng-container matColumnDef="DropDown">
            <th mat-header-cell *matHeaderCellDef class="">
            </th>
            <td mat-cell *matCellDef="let element" class="">
              <a class="mainColor tdu ml-3" (click)="togglePublisherExpand(element)"><i class="icon-48 fs20 grColor"></i></a>
            </td>
          </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="publisherDisplayedColumns.length -1" [ngClass]="{hideRow: !element.showPlatform}" >
              <div *ngIf= "element.showPlatform" class="manage-element-detail ml-4">
                  <div class="w-100 br1 brr4 brCColor" *ngIf="element.platformDetails && element.platformDetails.length">
                      <table class="table fs12" matSort (matSortChange)="sortSubCampaignData($event, i)">
                        <thead>
                          <tr class="table-light">
                              <th  mat-sort-header="platformName" [matTooltip]="advertiser_analytics_behaviour_top_campaigns" >Platform</th>
                              <th  mat-sort-header="platformType" [matTooltip]="advertiser_manage_campaigns_campaign">Bill Number</th>
                              <th  mat-sort-header="platformAssets" [matTooltip]="advertiser_manage_campaigns_campaign">Bill Date</th>
                              <th  mat-sort-header="invoice" [matTooltip]="advertiser_manage_campaigns_campaign">Bill Start Date</th>
                              <th  mat-sort-header="platformUtilization" [matTooltip]="advertiser_manage_campaigns_campaign">Bill End Date </th>
                              <th  mat-sort-header="platformEarnings" [matTooltip]="advertiser_manage_campaigns_campaign">Amount Billed</th>
                              <th  mat-sort-header="amountPaid" [matTooltip]="advertiser_manage_campaigns_campaign">Amount Paid</th>
                              <th  mat-sort-header="amountOutStanding" [matTooltip]="advertiser_manage_campaigns_campaign">Amount Outstanding</th>
                              <th  mat-sort-header="invoiceDate" [matTooltip]="advertiser_manage_campaigns_campaign">Bill Status </th>
                              <th  mat-sort-header="transactionNumber" [matTooltip]="advertiser_manage_campaigns_campaign">Transaction Number</th>
                              <th  mat-sort-header="transactionDate" [matTooltip]="advertiser_manage_campaigns_campaign">Paid Date</th>
                              <th  mat-sort-header="updateOptions"  [matTooltip]="advertiser_manage_campaigns_campaign">Update Options</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let platform of element.platformDetails; let even=even" [ngClass]="{eeeBG: even}">
                                  <td> <a href="javascript:void(0)" class="mainColor fw600">{{platform.platformName}} </a></td>
                                  <td>{{ platform.billNumber}}</td>
                                  <td>{{ platform.billDate  | date: 'MM/dd/yyyy' }}</td>
                                  <td>{{ platform.billStartDate  | date: 'MM/dd/yyyy' }}</td>
                                  <td>{{ platform.billEndDate  | date: 'MM/dd/yyyy' }}</td>
                                  <td>${{ platform.amount  | number : '1.2-2'}}</td>
                                  <td  class="gColor">${{ platform.paidAmount  | number : '1.2-2'}}</td>
                                  <td  class="rColor">${{platform.outstandingAmount  | number : '1.2-2' }}</td>
                                  <td  [ngClass] = "{'rColor': platform.billStatus == 'Pending', 'gColor':  platform.billStatus == 'Paid' }">{{platform.billStatus == 'Paid' ? 'Paid': 'Pending'}}</td>
                                  <!-- <td class="dropdown">
                                      <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <i class="icon-59 fs18 mainColor"></i>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button *ngIf = "advSelectedFilter == 'pendingInvoices'" class="dropboxIcons br0 bgNone publisherDiv" (click)="submitPayment(brand.invoiceId)">
                                          <i class="icon-9 fs18 mainColor"></i>
                                        </button>
                                        <button *ngIf = "advSelectedFilter == 'QBInvoicePending'" class="dropboxIcons br0 bgNone publisherDiv" (click)="updateQBInvoice(brand.invoiceId)">
                                            <i class="icon-9 fs18 mainColor"></i>
                                          </button>
                                        <button *ngIf = "advSelectedFilter == 'QBPaymentPending'" class="dropboxIcons br0 bgNone publisherDiv" (click)="updateQBPayment(brand.invoiceId)">
                                            <i class="icon-9 fs18 mainColor"></i>
                                          </button>
                                        <button class="dropboxIcons br0 bgNone publisherDiv" (click)="openDeleteCofirmDialog(element._id)">
                                          <i class="icon-26 fs18 mainColor"></i>
                                        </button>
                                        <button class="dropboxIcons br0 bgNone publisherDiv" (click)="viewAssetAnalytics(element._id)">
                                          <i class="icon-27 fs18 mainColor"></i> 
                                        </button>
                                      </mat-menu>
                                    </td> -->
                                    <td>{{ platform.transactionNumber}}</td>
                                    <td>{{ platform.paidDate  | date: 'MM/dd/yyyy' }}</td>
                                    <td> <button *ngIf= "platform.billStatus == 'Pending'" class="primaryBtn mainBordercolr float-right wColor mainBGcolor" (click)="markPublisherBillAsPaid(platform.billId)">
                                      <!-- <i class="icon-27 fs18 mainColor"></i> --> Mark As Paid
                                     </button> </td>
                              </tr>
                            </tbody>
                        </table>
                  </div>
              </div>
            </td>
          </ng-container>
      
          <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="publisherDisplayedColumns"></tr>
          <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
          <tr mat-row *matRowDef="let element; columns: publisherDisplayedColumns;"
            class="manage-element-row"
            [class.manage-expanded-row]="expandedElement === element && element.showBrand"
            (click)="expandedElement = expandedElement === element && element.showBrand ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="manage-detail-row"></tr>
      
        </table>
      </div>
      <div class="boxDiv ovi mb-3 mt-3 w-75" *ngIf="pageView==='invoiceAddView' || pageView==='invoiceEditView'">
        <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
          <div class="row">
            <div class="col-md-4 mt-2">
              <a class="wColor ttu fs14" (click)="renderPublisherBills()">
                <i class="icon-49 fs14 fw600"></i> Back
              </a>
            </div>
            <div class="col-md-8" *ngIf="pageView==='invoiceEditView'">
                <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Invoice Date</h5>
              </div>
          </div>
        </div>
        <div class="p-4">
          <form [formGroup]="invoiceForm">

            <div class="form-group row text-center text-danger" *ngIf="errMessage">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <strong><i class="icon-17 fs16 fw600"></i>  {{errMessage}}</strong>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Transaction Number </label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                <input autocomplete="off" type="text" class="inputBox" id="transactionNumber" formControlName="transactionNumber" name="transactionNumber" placeholder="{{currencySymbol}}">
                <app-field-error-display [displayError]="isInvoiceFieldValid('transactionNumber')" errorMsg="Amount is required">
                </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Date</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
				  <div class="inputBox clearfix p-2 dateIcon">
					<input matInput [matDatepicker]="expiryDate" formControlName="expiryDate" id="expiryDate" name="expiryDate"  style="width:80%" placeholder="mm/dd/yyyy" [min]="minDate" [readonly]="true">
					<mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
					<mat-datepicker  #expiryDate></mat-datepicker>
					<app-field-error-display [displayError]="isInvoiceFieldValid('expiryDate')" errorMsg="Expiry Date is required">
					</app-field-error-display>
              		</div>
			  </div>	  
            </div>
            <div class="form-group mt-3 clearfix text-center">
                <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onEditInvoiceSubmit()" *ngIf="pageView==='invoiceEditView'">
                    Save
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="creditVouchers" class="tab-pane fade">
      <div class="table-responsive boxDiv mt-3" *ngIf="pageView=='ListView'">
        <div class="mainBGcolor w-100 p-2 clearfix">
          <h5 class="fs20 fw600 wColor float-left mt-1">Active Voucher Campaigns</h5>
          <button class="primaryBtn brwColor float-right wColor font-weight-normal" (click)="renderAddView()"><i class="icon-6 fs16 fw600"></i> Add Voucher Campaign</button>
        </div>
        <table class="table table-striped tableStyles" *ngIf="creditVouchers && creditVouchers.length">
          <thead>
          <tr>
            <th class="fw600">Country</th>
            <th class="fw600">Name</th>
            <th class="fw600">Voucher Code</th>
            <th class="fw600">Amount</th>
            <th class="fw600">Usage</th>
            <th class="fw600">Expiry date</th>
            <th class="fw600">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let creditVoucher of creditVouchers">
            <td> {{creditVoucher.country}} </td>
            <td> {{creditVoucher.voucherName}} </td>
            <td> {{creditVoucher.voucherCode}} </td>
            <td> {{creditVoucher.amount}} </td>
            <td> 0 </td>
            <td> {{creditVoucher.expiryDate | date: medium}} </td>
            <td>
              <a class="mainColor tdu mr-3" (click)="renderEditView(creditVoucher._id)"><i class="icon-25 fs14 fw600"></i></a>
              <a class="mainColor tdu" (click)="removeCreditVoucher(creditVoucher._id)"> <i class="icon-26 fs14 fw600"></i></a>
            </td>
          </tr>  
          </tbody>
        </table>
        <div class="grColor m-4" *ngIf="creditVouchers && !creditVouchers.length">
          <strong>No Records found !</strong>
        </div>
      </div>
      <div class="boxDiv ovi mb-3 mt-3 w-75" *ngIf="pageView==='AddView' || pageView==='EditView'">
        <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
          <div class="row">
            <div class="col-md-4 mt-2">
              <a class="wColor ttu fs14" (click)="renderListView()">
                <i class="icon-49 fs14 fw600"></i> Back
              </a>
            </div>
            <div class="col-md-8" *ngIf="pageView==='AddView'">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add Vocher Campaign</h5>
            </div>
            <div class="col-md-8" *ngIf="pageView==='EditView'">
                <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Vocher Campaign</h5>
              </div>
          </div>
        </div>
        <div class="p-4">
          <form [formGroup]="creditVoucherForm">

            <div class="form-group row text-center text-danger" *ngIf="errMessage">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <strong><i class="icon-17 fs16 fw600"></i>  {{errMessage}}</strong>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Country</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
				  <div class="inputBox clearfix p-2">
					<input type="text" id="country" placeholder="Country" aria-label="Country" matInput formControlName="country"
					[matAutocomplete]="country"  autocomplete="off">
					<mat-autocomplete #country="matAutocomplete">
					  <mat-option *ngFor="let option of filteredCountries | async" [value]="option.countryName">
						{{option.countryName}}
					  </mat-option>
					</mat-autocomplete>
					<app-field-error-display [displayError]="isFieldValid('country')" errorMsg="Country is required">
					</app-field-error-display>
				  </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Voucher Name</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                <input autocomplete="off" type="text" class="inputBox" id="voucherName" formControlName="voucherName" name="voucherName" placeholder="Enter Vocher Name">
                <app-field-error-display [displayError]="isFieldValid('voucherName')" errorMsg="Voucher Name is required">
                </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Vocher Code</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                <input autocomplete="off" type="text" class="inputBox" id="voucherCode" formControlName="voucherCode" name="voucherCode" placeholder="Enter Vocher Code" [readonly]="pageView === 'EditView'">
                <app-field-error-display [displayError]="isFieldValid('voucherCode')" errorMsg="Voucher Code is required">
                </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Amount <span *ngIf ='currencySymbol'> ({{currencySymbol}})</span></label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                <input autocomplete="off" type="text" class="inputBox" id="amount" formControlName="amount" name="amount" placeholder="{{currencySymbol}}">
                <app-field-error-display [displayError]="isFieldValid('amount')" errorMsg="Amount is required">
                </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Expiry Date</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
				  <div class="inputBox clearfix p-2 dateIcon">
					<input matInput [matDatepicker]="expiryDate" formControlName="expiryDate" id="expiryDate" name="expiryDate"  style="width:80%" placeholder="mm/dd/yyyy" [min]="minDate" [readonly]="true">
					<mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
					<mat-datepicker  #expiryDate></mat-datepicker>
					<app-field-error-display [displayError]="isFieldValid('expiryDate')" errorMsg="Expiry Date is required">
					</app-field-error-display>
              		</div>
			  </div>	  
            </div>
            <div class="form-group mt-3 clearfix text-center">
                <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onSubmit()" *ngIf="pageView==='AddView'">
                    Save
                </button>
                <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onEditSubmit()" *ngIf="pageView==='EditView'">
                    Save
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="bankDetails" class="tab-pane fade">
      <!-- Search Section -->
      <div class="row mt-3">
        <div class="col-md-5">
          <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
                <input class="br0 focus col-8 pt-3 pb-3" type="text" placeholder="Type an account ID...">	
                <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- filter section -->
      <div class="filterShowDiv mt-2">
        <div class="boxDiv pt-3  pr-3  pl-3"  *ngIf = "showAdvertiserFilters">
          <div class="row">
            <div class="col-md-3 form-group">
              <mat-form-field>
                  <!-- <mat-label>Select a filter</mat-label> -->
                  <mat-select [(value)]="advSelectedFilter" (selectionChange) = "changeAdvertiserInvoiceView()" >
                    <mat-option value="pendingInvoices">Pending Invoices</mat-option>
                    <mat-option value="QBInvoicePending">QB Pending Invoices</mat-option>
                    <mat-option value="QBPaymentPending">QB Pending Payments</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 form-group selectWrapper selectWrapper2">
              <select class="inputBox">
                <option>Filter by brand</option>
                <option>Filter 1</option>
                <option>Filter 2</option>
                <option>Filter 3</option>
                </select>
            </div>

            <div class="col-md-4 form-group">
              <div class="row">
                <label for="inputPassword" class="col-sm-5 col-form-label formLabel">Member since</label>
                <div class="col-sm-7 inputBox clearfix p-1">
                  <input class="bgNone br0 float-left pt-1" style="width:60%" placeholder="dd/mm/yyyy">
                  <i class="icon-23 fs20 float-right mt-1 mr-1"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <button class="primaryBtn mainColor mainBordercolr float-right">Apply</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Table Section -->
      <div class="table-responsive boxDiv mt-3">
        <div class="mainBGcolor w-100 p-2 clearfix">
          <h5 class="fs20 fw600 wColor float-left mt-1">Bank Details</h5>
          <mat-form-field>
            <mat-label>Select User</mat-label>
            <mat-select (selectionChange)="selectCountry($event)">
              <mat-option *ngFor="let country of countryList" [value]="country.id">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <table class="table table-striped tableStyles">
          <thead>
          <tr>
            <th class="fw600">Publisher</th>
            <th class="fw600">Platform</th>
            <th class="fw600">Bank Country</th>
            <th class="fw600">Bank Name</th>
            <th class="fw600">Account Holder Name</th>
            <th class="fw600">Account Number</th>
            <th class="fw600">Account Type</th>
            <th class="fw600">Swift Code</th>
            <th class="fw600">Tax Number</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of bankDetails">
            <td> {{data.publisherName}} </td>
            <td> {{data.platformName}} </td>
            <td> {{data.bankCountry}} </td>
            <td> {{data.bankName}} </td>
            <td> {{data.accountHolderName}} </td>
            <td> {{data.accountNumber}} </td>
            <td> {{data.accountType}} </td>
            <td> {{data.swiftCode}} </td>
            <td> {{data.taxNumber}} </td>
            <td>
              <a class="mainColor tdu mr-3" (click)="renderEditView(creditVoucher._id)"><i class="icon-25 fs14 fw600"></i></a>
              <a class="mainColor tdu" (click)="removeCreditVoucher(creditVoucher._id)"> <i class="icon-26 fs14 fw600"></i></a>
            </td>
          </tr>  
          </tbody>
        </table>
        <div class="grColor m-4" *ngIf="countryList && !countryList.length">
          <strong>No Records found !</strong>
        </div>
      </div>
      <div class="boxDiv ovi mb-3 mt-3 w-75" *ngIf="pageView==='AddView' || pageView==='EditView'">
        <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
          <div class="row">
            <div class="col-md-4 mt-2">
              <a class="wColor ttu fs14" (click)="renderListView()">
                <i class="icon-49 fs14 fw600"></i> Back
              </a>
            </div>
            <div class="col-md-8" *ngIf="pageView==='AddView'">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add Vocher Campaign</h5>
            </div>
            <div class="col-md-8" *ngIf="pageView==='EditView'">
                <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit Vocher Campaign</h5>
              </div>
          </div>
        </div>
        <div class="p-4">
          <form [formGroup]="creditVoucherForm">

            <div class="form-group row text-center text-danger" *ngIf="errMessage">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <strong><i class="icon-17 fs16 fw600"></i>  {{errMessage}}</strong>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Country</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
				  <div class="inputBox clearfix p-2">
					<input type="text" id="country" placeholder="Country" aria-label="Country" matInput formControlName="country"
					[matAutocomplete]="country"  autocomplete="off">
					<mat-autocomplete #country="matAutocomplete">
					  <mat-option *ngFor="let option of filteredCountries | async" [value]="option.countryName">
						{{option.countryName}}
					  </mat-option>
					</mat-autocomplete>
					<app-field-error-display [displayError]="isFieldValid('country')" errorMsg="Country is required">
					</app-field-error-display>
				  </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Voucher Name</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                <input autocomplete="off" type="text" class="inputBox" id="voucherName" formControlName="voucherName" name="voucherName" placeholder="Enter Vocher Name">
                <app-field-error-display [displayError]="isFieldValid('voucherName')" errorMsg="Voucher Name is required">
                </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Vocher Code</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                <input autocomplete="off" type="text" class="inputBox" id="voucherCode" formControlName="voucherCode" name="voucherCode" placeholder="Enter Vocher Code" [readonly]="pageView === 'EditView'">
                <app-field-error-display [displayError]="isFieldValid('voucherCode')" errorMsg="Voucher Code is required">
                </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Amount <span *ngIf ='currencySymbol'> ({{currencySymbol}})</span></label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                <input autocomplete="off" type="text" class="inputBox" id="amount" formControlName="amount" name="amount" placeholder="{{currencySymbol}}">
                <app-field-error-display [displayError]="isFieldValid('amount')" errorMsg="Amount is required">
                </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="col-form-label formLabel">Expiry Date</label>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
				  <div class="inputBox clearfix p-2 dateIcon">
					<input matInput [matDatepicker]="expiryDate" formControlName="expiryDate" id="expiryDate" name="expiryDate"  style="width:80%" placeholder="mm/dd/yyyy" [min]="minDate" [readonly]="true">
					<mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
					<mat-datepicker  #expiryDate></mat-datepicker>
					<app-field-error-display [displayError]="isFieldValid('expiryDate')" errorMsg="Expiry Date is required">
					</app-field-error-display>
              		</div>
			  </div>	  
            </div>
            <div class="form-group mt-3 clearfix text-center">
                <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onSubmit()" *ngIf="pageView==='AddView'">
                    Save
                </button>
                <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onEditSubmit()" *ngIf="pageView==='EditView'">
                    Save
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
