input.mat-input-element {
	border:none;
}
table {
    width: 100%;
  }
  
  tr.manage-detail-row {
    height: 0;
  }
  
  tr.manage-element-row:not(.manage-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.manage-element-row:not(.manage-expanded-row):active {
    background: #efefef;
  }
  
  .manage-element-row td {
    border-bottom-width: 0;
  }
  
  .manage-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .manage-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .manage-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .manage-element-description {
    padding: 16px;
  }
  
  .manage-element-description-attribution {
    opacity: 0.5;
  }

.table {
    margin-bottom: 0;
  }
.mat-table { font-family: 'Work Sans', sans-serif!important;}
  th.mat-header-cell {
    text-align: left;
    color: #fff; 
  }
.mat-sort-header-button { font-weight:500;}
  td.mat-cell {
      padding:0px;
  }
  .hideRow {
    display: none;
  }