.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 15px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-select-panel {
  max-width:400px!important;  
}
.ml-200{ margin-left: 200px; margin-top: 90px;}


.feedbacks {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.feedbacks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 14px;
  width: 14px; border: 1px solid #6c40f7;   
  border-radius: 50%;
}


.feedbacks:hover input ~ .checkmark {
  background-color: #6c40f7;
}


.feedbacks input:checked ~ .checkmark {
  background-color: #6c40f7;
}
 
.feedbacks .checkmark:after {
   top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.p-50{ padding: 50px; 
       padding-top: 36px;} 

.fixedWidth .logo{ height: auto; margin-top: 3px;}       