<div class="mainDiv advertiserDiv">
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 mainBGcolor">
      <div class="fixedWidth">    
        <a *ngIf ="hasPersonalProfile" class="navbar-brand logo" routerLink="/advertiser/dashboard"><img src="assets/images/new_logo.png" (click)="router.navigate(['/login']);"  width="34" height="34" alt="logo"></a>
        <a href="https://www.doceree.com/" class="navbar-brand logo op05"><img src="assets/images/new_logo.png" width="34" height="34" alt="logo"></a>
      </div>    
    </nav>
    <div class="bodyBg">
        <div class="mainDiv container advertiserDiv  ">
        <div class="row">
          <div class="col-md-8 boxDiv  mb30 p-50" style="margin: auto; margin-top: 80px; padding-bottom: 40px;">              
                      <h1 class="h2">Unsubscribe Successful</h1>
                      <h6 class="h6" style="margin-top: 1px;">You will no loger recieve emails from us. If you have a moment, please let us know why you unsubscribed:</h6><br>
                           
                      <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">           
                        <div class="radio" *ngFor="let feedback of feedbacks">                      
                          <label class=" feedbacks fs12" style="line-height:20px">
                            <input type="radio" [value]="feedback"   class="mr-1"  formControlName = "feedback">{{feedback}}  
                            <span class="checkmark"></span>
                          </label>
                        </div>            
                         <span class="help-block" *ngIf="!SignupForm.valid && SignupForm.touched">
                             please enter valid data
                          </span><br>
                          <button class="primaryBtn mainColor mainBordercolr next-step float-left ml-0 " type="submit">Submit </button>                   
                      </form>          
          </div>          
          </div>
       </div>
    </div></div>