.advnotification_height{
    height: 89%;
    //padding-top: 50px; 
    margin-top: 50px;
}

.pubnotification_height{
    height: 89%;    
}

.bg-light{ background: #f9f7f7 !important;}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 0px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #cccccc; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c; 
  }