<div class="table-responsive grColor" [ngClass]="{
  'advnotification_height': usertype === 'advertiser',
  'pubnotification_height': usertype === 'publisher'
}" *ngIf = "notificationData && notificationData.notifications.length">
  <table class="table">
    <thead></thead>
    <tbody class="fs14">
      <tr [ngClass]="{'bg-light': !notification.isRead}" *ngFor="let notification of notificationData.notifications">
        <td (click)="readNotification(notification._id)" class="fs12">
          {{notification.message}} 
          <a class="text-primary" *ngIf="notification.typeDetails.routeTo === 'campaign' && rolePermissions && rolePermissions.includes('view_campaign')" (click) = 'reviewNotification(notification.typeDetails, notification._id)'>Review</a>
          <a class="text-primary" *ngIf="notification.typeDetails.routeTo === 'payment' && rolePermissions && rolePermissions.includes('view_payment_method')" (click) = 'reviewNotification(notification.typeDetails, notification._id)'>Review</a>
          <a class="text-primary" *ngIf="notification.typeDetails.routeTo === 'manage-account' && rolePermissions && rolePermissions.includes('view_user')" (click) = 'reviewNotification(notification.typeDetails, notification._id)'>Review</a>
          <span class="pl-1">
              <i *ngIf="notification.icon === 'error'" class="icon-17 fs12 fw600 text-danger"></i>
          </span>
          <br>
          <span class="fs10">{{notification.created.at | date: 'd MMM yyyy'}}</span>
        </td>
        <td class="" >
          <a (click)="removeNotification(notification._id)"><i class="icon-53 fs12"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div  class="boxDiv brtrr0 brtlr0 col" *ngIf="notificationData && !notificationData.notifications.length">
  <p class="text-mutted  pl-0 pt-3 grDColor">No Records found !</p>
</div>
