<!--<div class="bgImg img-fluid" *ngIf="subCampDetails._id === ''" style="background:url(../assets/images/createCampaign.png) no-repeat 40px 110px; width:32%;"></div>-->

<div class="pt-4 mb40">
  <div *ngIf = "pageMode !== 'Edit' && !subCampDetails.status" class="ml-2">
      <h1 class="h2">Create a new campaign</h1>
      <h6 class="h6 mt-1 fwn lineheight">Advertise to the right audience at the right time</h6>
  </div>
  <div *ngIf = "subCampDetails._id != '' && subCampDetails.status">
      <h1 class="h2">{{subCampDetails.name}}</h1>
      <h6 class="h6" *ngIf = "subCampDetails.created">You added this campaign on {{subCampDetails.created.at | date: 'd MMM yyyy'}}</h6>
  </div>
</div>

  <form action="" class="profileForm">
    <div class="row">
      <div class="col-md-8">
        <mat-vertical-stepper [linear]="true" #stepper>
          <mat-step state="noNumber" [stepControl]="basicSectionFormGroup">
            <form [formGroup]="basicSectionFormGroup">
              <ng-template matStepLabel class="step-title boxHeading mainBGcolor1">Basics
              </ng-template>
              <div class="step-new-content boxDiv p-3" style="display: block;">
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Brand
                    <i [matTooltip]="advertiser_newCampaign_basics_brand" class="icon-78 fs12 tradMak grColor"> </i>
                  </label>
                  <div class="col-sm-5 campaignBrandSelecctionDisabled">
                    <mat-form-field appearance="outline">
                      <mat-select name="brandName" [(ngModel)]="subCampDetails.brandId" placeholder="Choose a Brand"
                        formControlName="brandName" required (valueChange)="onChangeByBrand($event)">
                        <mat-option *ngFor="let item of brandList"
                          [value]="item._id">
                          {{item.brandName}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="basicSectionFormGroup.controls['brandName'].invalid">
                        Please select brand
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Campaign
                    <i [matTooltip]="advertiser_newCampaign_basics_campaign" class="icon-78 fs12 tradMak grColor"> </i>
                  </label>
                  <div class="col-sm-5" [ngClass]="(subCampDetails._id.length>1 && subCampDetails.isPublished) ? 'campaignSelecctionDisabled': ''">
                    <mat-form-field appearance="outline">
                      <mat-select [(ngModel)]="subCampDetails.campaignId" placeholder="Choose a Campaign"
                        formControlName="name" required>
                        <mat-option *ngFor="let item of campaignListByBrandId"
                          [value]="item._id">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="basicSectionFormGroup.controls['name'].invalid">
                        Please select campaign
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4 pt-2">
                    <a class="mainColor fs12" (click)="addCampaign()"
                    [ngClass]="(subCampDetails._id.length>1 && subCampDetails.isPublished) ? 'campaignSelecctionDisabled': ''">
                      <i class="icon-52 fs14 pl-2 fw600">
                      </i> Add new campaign
                    </a>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Sub-Campaign
                    <i [matTooltip]="advertiser_newCampaign_basics_sub_campaign" class="icon-78 tradMak fs12 grColor"> </i>
                  </label>
                  <div class="col-sm-8">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Add a Sub-Campaign..." formControlName="subCampaignName"
                        [(ngModel)]="subCampDetails.name" required>
                        <mat-error *ngIf="basicSectionFormGroup.controls['subCampaignName'].invalid">
                          Sub-Campaign field can't be empty
                        </mat-error>
                        <mat-error *ngIf="basicSectionFormGroup.controls['subCampaignName'].hasError('require')">
                          Sub-Campaign field can't be empty
                        </mat-error>
                        <mat-error *ngIf="basicSectionFormGroup.controls['subCampaignName'].hasError('nameNotAvailable')">
                          A Sub-Campaign with this name already exists.
                        </mat-error>
                        <mat-error *ngIf="basicSectionFormGroup.controls['subCampaignName'].hasError('lessLength')">
                          Sub-Campaign name should be aleast of 3 characters
                        </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Objective
                    <i [matTooltip]="advertiser_newCampaign_basics_objective" class="icon-78 fs12 tradMak grColor"> </i>
                  </label>
                  <div class="col-sm-5 ">
                    <mat-form-field appearance="outline">
                      <mat-select [(ngModel)]="subCampDetails.objective" placeholder="Choose an Objective"
                        formControlName="objectiveName" required>
                        <mat-option *ngFor="let item of objectiveList"
                          [value]="subCampDetails.objective ? subCampDetails.objective: item._id">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="basicSectionFormGroup.controls['objectiveName'].invalid">
                        Please select objective
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Type
                  </label>
                  <div class="col-sm-9">
                    <ul class="nav nav-pills btnTabs" id="pills-tab" role="tablist">
                      <li class="nav-item" *ngFor="let item of basicTabs" (click)="basicTabChange(item)">
                        <a class="nav-link tac" [ngClass]="{'active' : item.name === subCampDetails.creativeType}"><i
                            [ngClass]="{'icon-12' : item.name === 'Banner','icon-14' : item.name === 'Video','icon-15' : item.name === 'Email'}"
                            class=" fw mainColor1 fs20" style="padding: 1px;"></i> <span>{{item.name}}</span></a>
                      </li>
                    </ul>
                    <!--<p class="grColor fs12">Click to link account and include these sub-campaign types.
                    </p>-->
                  </div>
                </div>
                <div class="step-actions clearfix">
                  <button class="primaryBtn mainColor mainBordercolr next-step float-right"
                    (click)="saveSubCampaign(stepper)">Next
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step state="noNumber" [stepControl]="targetSectionFormGroup" [completed]="targetSectionFormGroup.valid">
            <form [formGroup]="targetSectionFormGroup">
              <ng-template matStepLabel class="step-title boxHeading mainBGcolor1">Targeting
              </ng-template>
              <div class="step-new-content boxDiv p-3 clearfix">
                <!--<div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Prescription
                        <i class="icon-17 fs12 tradMak grColor">
                        </i>
                      </label>
                      <div class="col-sm-9">
                        <div class="row form-group">
                          <div class="col-md-6">
                            <div class="custom-control custom-checkbox mt-2">
                              <input type="checkbox" class="custom-control-input" id="cPrescriber">
                              <label class="custom-control-label customBox bColor" for="cPrescriber">Category Prescriber
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="custom-control custom-checkbox mt-2">
                              <input type="checkbox" class="custom-control-input" id="nonPrescriber">
                              <label class="custom-control-label customBox bColor" for="nonPrescriber">Non-Prescriber
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="form-group col-md-6">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="bPrescriber">
                              <label class="custom-control-label customBox bColor" for="bPrescriber">Brand Prescriber
                              </label>
                            </div>
                          </div>
                          <div class="selectWrapper col-md-6">
                            <select class="inputBox">
                              <option>Include
                              </option>
                              <option>Include 1
                              </option>
                              <option>Include 2
                              </option>
                              <option>Include 3
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="mt-4 mb-4">-->
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Select HVA List/s
                    </label>
                    <div class="col-sm-5 ">
                      <mat-form-field appearance="outline">
                        <mat-label>Choose an HVA</mat-label>
                        <mat-select formControlName="hvaIds" [(ngModel)]="subCampDetails.audienceTargetIds"  multiple>
                          <mat-option *ngFor="let hva of hvaList"
                          [value]="hva._id">
                            {{hva.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Type of Website<i [matTooltip]="advertiser_newCampaign_targeting_type_of_websites" class="icon-78 fs12 tradMak grColor"></i>
                   
                  </label>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-8">
                        <div formArrayName="webSiteName"
                          *ngFor="let websiteTypename of targetSectionFormGroup.get('webSiteName')['controls']; let i=index">
                          <mat-checkbox [formControlName]="i"
                            [checked]="subCampDetails.displayTargetDetails.websiteTypes.includes(websiteList[i])"
                            (change)="onChange(websiteList[i], $event.checked, subCampDetails.displayTargetDetails.websiteTypes, 'webSiteType')">
                            {{websiteList[i]}}</mat-checkbox>
                        </div>
                        <mat-error style="margin-top:-4px;" *ngIf="!isSectionFormValid && targetSectionFormGroup.controls['webSiteName'].invalid">
                          Please select website
                        </mat-error>
                      </div>
                    </div>
                    <div class="row" style="display: none!important;"> <!--Devices hidden-->
                      <p class="col-md-4 mt-2">Devices<i [matTooltip]="advertiser_newCampaign_targeting_devices" class="icon-78 fs12 tradMak grColor"></i>
                      </p>
                      <div class="col-md-8">
                        <div class="custom-checkbox mt-2 row">
                          <div class="col-4" formArrayName="deviceName"
                            *ngFor="let device of targetSectionFormGroup.get('deviceName')['controls']; let i=index">
                            <mat-checkbox [formControlName]="i"
                              [checked]="subCampDetails.displayTargetDetails.deviceTypes.includes(deviceList[i])"
                              (change)="onChange(deviceList[i], $event.checked, subCampDetails.displayTargetDetails.deviceTypes, 'deviceType')"
                              >
                              {{deviceList[i]}}</mat-checkbox>
                          </div>
                          <mat-error class="col-6" style="margin-top:-4px;" *ngIf="!isSectionFormValid && targetSectionFormGroup.controls['deviceName'].invalid">
                            Please select device
                          </mat-error>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="step-actions float-right mt-2">
                  <button class="primaryBtn mainColor mainBordercolr previous-step"
                   (click)="backToPreviousStepper(targetSectionFormGroup)" matStepperPrevious>Back
                  </button>
                  <button class="primaryBtn mainColor mainBordercolr"
                    (click)="nextStepper($event, stepper, targetSectionFormGroup)">Next
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step state="noNumber" [stepControl]="operationalFormGroup" [completed]="operationalFormGroup.valid">
            <form [formGroup]="operationalFormGroup">
              <ng-template matStepLabel class="step-title boxHeading mainBGcolor1">Operational Details
              </ng-template>
              <div class="step-new-content boxDiv p-3 clearfix opDetails">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Date
                        <i [matTooltip]="advertiser_newCampaign_operational_details_date"  class="icon-78 fs12 tradMak grColor"></i>
                    </label>
                    <div class="col-sm-9">
                        <div class="opDetails1">
                            <div class="row">
                                <div class="col-sm-5">
                                    <mat-form-field appearance="outline" class="inputBox clearfix" style="padding:2px 15px !important;">
                                        <input matInput [min]="startMinRageDatePicker" [max]="endDatePicker" [matDatepicker]="sdpicker" placeholder="From date" formControlName="startDate" [(ngModel)]="subCampDetails.operationalDetails.startDate" readonly (dateInput)="addStartDateEvent('input', $event)">
                                        <mat-datepicker-toggle matSuffix [for]="sdpicker"></mat-datepicker-toggle>
                                        <mat-datepicker #sdpicker disabled="false" (opened)="setStartDate()"></mat-datepicker>
                                    </mat-form-field>
                                    <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['startDate'].invalid" class="mateError">
                                        Please select valid from date
                                    </mat-error>
                                </div>
                                <div class="col-sm-2 p-0">
                                    <p class="grColor pt-2 mb-0 text-center">to
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <mat-form-field appearance="outline" class="inputBox clearfix" style="padding:2px 15px !important;">
                                        <input matInput [min]="endMinRageDatePicker" [matDatepicker]="edpicker" formControlName="endDate" placeholder="To date"  [(ngModel)]="subCampDetails.operationalDetails.endDate" readonly (dateInput)="addEndDateEvent('input', $event)">
                                        <mat-datepicker-toggle matSuffix [for]="edpicker"></mat-datepicker-toggle>
                                        <mat-datepicker #edpicker disabled="false" (opened)="setEndDate()"></mat-datepicker>
                                    </mat-form-field>
                                    <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['startDate'].invalid" class="mateError">
                                        Please select valid to date
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Bid amount
                        <i [matTooltip]="advertiser_newCampaign_operational_details_bid_amount" class="icon-78 fs12 tradMak grColor"></i>
                    </label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-md-6 operationalFields">
                              <mat-form-field appearance="outline">
                                  <mat-select [ngClass]="{'mat-select-invalid' : !isSectionFormValid}" [(ngModel)]="subCampDetails.operationalDetails.bidSpecifications[0]" placeholder="Choose bid type" formControlName="bidAmountType" required class="inputBox" style="padding:8px 15px !important;width: 86%!important;" (selectionChange)="callOnSelectBidAmountType($event)">
                                      <mat-option *ngFor="let item of bidList" [value]="item.value"
                                      [disabled]="(subCampDetails.creativeType === 'Banner' && item.value === 'CPV') ||
                                      (subCampDetails.status === SubcampaignStatus.approved ||
                                       subCampDetails.status === SubcampaignStatus.paused ||
                                       subCampDetails.status === SubcampaignStatus.recentlyCompleted)">
                                          {{item.displayName}}
                                      </mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['bidAmountType'].invalid">
                                      Please select bid amount type
                                  </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 opDetailsLeftPadd operationalFields">
                                    <mat-form-field>
										<div class="inputBox clearfix" style="width:85%!important; padding:8px 15px!important; margin-left:0px!important">
                                        <span class="pr-1">{{currencySymbol}}</span>
                                         <span class="subCampaign">
                                             <input class="currencyinput" matInput [(ngModel)]="subCampDetails.operationalDetails.currency"
                                             formControlName="bidAmountValue" pattern="[0-9]*" required />
                                         </span>
										</div>
                    <label *ngIf="subCampDetails &&subCampDetails.operationalDetails &&
                    subCampDetails.operationalDetails.bidSpecifications &&
                    subCampDetails.operationalDetails.bidSpecifications.length > 0
                      && subCampDetails.operationalDetails.bidSpecifications[0] == 'CPM' &&
                      bannerDetails && bannerDetails.cpm && bannerDetails.cpm.minCpmBidRange &&
                      bannerDetails.cpm.minCpmBidRange > 0 && bannerDetails.cpm.maxCpmBidRange &&
                      bannerDetails.cpm.maxCpmBidRange > 0" class="Suggested">
                      Suggested range {{currencySymbol}}{{bannerDetails.cpm.minCpmBidRange}} - {{currencySymbol}}{{bannerDetails.cpm.maxCpmBidRange}}
                    </label>
                    <label *ngIf="subCampDetails &&subCampDetails.operationalDetails &&
                    subCampDetails.operationalDetails.bidSpecifications &&
                    subCampDetails.operationalDetails.bidSpecifications.length > 0
                      && subCampDetails.operationalDetails.bidSpecifications[0] == 'CPC' &&
                      bannerDetails && bannerDetails.cpc && bannerDetails.cpc.minCpcBidRange &&
                      bannerDetails.cpc.minCpcBidRange > 0 && bannerDetails.cpc.maxCpcBidRange &&
                      bannerDetails.cpc.maxCpcBidRange > 0" class="Suggested">
                      Suggested range {{currencySymbol}}{{bannerDetails.cpc.minCpcBidRange}} - {{currencySymbol}}{{bannerDetails.cpc.maxCpcBidRange}}
                    </label>
                                        <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['bidAmountValue'].invalid
                                                      && !operationalFormGroup.controls['bidAmountValue'].hasError('pattern')
                                                      && !operationalFormGroup.controls['bidAmountValue'].hasError('lessThan')">
                                                      Provide bid amount in between 1 to 1000
                                        </mat-error>
                                        <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['bidAmountValue'].hasError('pattern')">
                                            Only numbers will be allowed
                                        </mat-error>
                                        <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['bidAmountValue'].hasError('lessThan')">
                                            Bid amount must be less than 'Limit to'
                                        </mat-error>
                                    </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Total budget
                        <i [matTooltip]="advertiser_newCampaign_operational_details_total_budget" class="icon-78 fs12 tradMak grColor"></i>
                    </label>
                    <div class="col-sm-5">
                        <mat-form-field style="width:85%;">
                                 <span class="pr-1">{{currencySymbol}}</span>
                                <span class="subCampaign">
									<input class="currencyinput" matInput [(ngModel)]="subCampDetails.operationalDetails.totalBudget"
                                    formControlName="totalBudget" pattern="[0-9]*" required />
                                </span>
                                <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['totalBudget'].invalid
                                                && !operationalFormGroup.controls['totalBudget'].hasError('pattern')
                                                && !operationalFormGroup.controls['totalBudget'].hasError('lessThan')">
                                    Please provide total budget
                                </mat-error>
                                <mat-error *ngIf="operationalFormGroup.controls['totalBudget'].hasError('pattern')">
                                    Only numbers will be allowed
                                </mat-error>
                            </mat-form-field>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label formLabel">Limit to
                        <i [matTooltip]="advertiser_newCampaign_operational_details_limit_to" class="icon-78 fs12 tradMak grColor"></i>
                    </label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field style="width:96%;">
                                         <span class="pr-1">{{currencySymbol}}</span>
                                        <span class="subCampaign">
                                            <input class="currencyinput" matInput [(ngModel)]="subCampDetails.operationalDetails.bidLimits.budget"
                                            formControlName="limitToValue" pattern="[0-9]*" required />
                                        </span>
                                        <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['limitToValue'].invalid
                                                  && !operationalFormGroup.controls['limitToValue'].hasError('pattern')
                                                  && !operationalFormGroup.controls['limitToValue'].hasError('lessThan')">
                                            Please provide limit
                                        </mat-error>
                                        <mat-error *ngIf="operationalFormGroup.controls['limitToValue'].hasError('pattern')">
                                            Only numbers will be allowed
                                        </mat-error>
                                        <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['limitToValue'].hasError('lessThan')">
                                            'Limit to' must be greater than 'Bid amount'
                                        </mat-error>
                                        <mat-error *ngIf="operationalFormGroup.controls['limitToValue'].hasError('greaterThan')">
                                            'Limit to' amount must be less than 'Total budget'
                                        </mat-error>
                                    </mat-form-field>

                            </div>

                            <div class="col-md-6 opDetailsLeftPadd operationalFields">
                                    <mat-form-field appearance="outline" style="width:96%!important;">
                                        <mat-select [ngClass]="{'mat-select-invalid' : !isSectionFormValid}" [(ngModel)]="subCampDetails.operationalDetails.bidLimits.type" placeholder="Choose limit to type" formControlName="limitToType" required class="inputBox" style="padding: 8px 15px !important;">
                                            <mat-option *ngFor="let item of bidLimitList" [value]="item.value">
                                                {{item.displayName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="!isSectionFormValid && operationalFormGroup.controls['limitToType'].invalid">
                                            Please select limit type
                                        </mat-error>
                                    </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-actions float-right mt-4">
                  <button class="primaryBtn mainColor mainBordercolr previous-step"
                  (click)="backToPreviousStepper(targetSectionFormGroup)" matStepperPrevious>Back
                  </button>
                  <button class="primaryBtn mainColor mainBordercolr next-step ml-2" matStepperNext
                    (click)="updateSubCampaign(operationalFormGroup)">Next
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step state="noNumber" [stepControl]="creativeFormGroup" [completed]="creativeFormGroup.valid">
            <form [formGroup]="creativeFormGroup">
              <ng-template matStepLabel class="step-title boxHeading mainBGcolor1">Upload Creative
              </ng-template>
              <div class="step-new-content boxDiv p-3 clearfix">
                <div class="form-group row" *ngIf="(subCampDetails.status === SubcampaignStatus.approved ||
                subCampDetails.status === SubcampaignStatus.paused ||
                subCampDetails.status === SubcampaignStatus.recentlyCompleted)">
                  <label class="col-sm-12 col-form-label formLabel">If you make any changes in the creatives, it will go through an admin approval process</label>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">
                    Creative sizes
                    <i [matTooltip]="advertiser_newCampaign_upload_creative_creative_sizes" class="icon-78 fs12 tradMak grColor"> </i>
                  </label>
                </div>
                <div class="form-group row" *ngIf="subCampDetails.creativeType == 'Banner'">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">&nbsp;
                  </label>
                  <div> <img getDimensions [src]="imgURL" style="position:absolute; visibility:hidden; display:none" alt="img"></div>
                  <input #file type="file" style="display: none" (click)="file.value = null" value="" (change)="selectFile($event, banner)" accept='image/*'>
                  <div class="col-sm-9 newAssets" style="margin-top:-30px">
                    <p style="margin:0 0 3px -10px!important">Web Banners</p>
                    <div class="form-group row pr-3">
                      <div class="col-md-3 prl_mtb" *ngFor="let banner of webBanners"
                        (click)="openFileSelectionDialog(banner)">
                        <a [ngClass]="{'boxactive' : banner.checked && banner.type == 'web'}" (click)="clearBanner(banner);$event.stopPropagation();">
                          <mat-icon style="float:left; margin:3px 0 0 3px" class="fs14 rColor" *ngIf="banner && banner.uploadStatus">clear</mat-icon>
                        </a>
                        <a class="bannerBoxes tac w-100"
                          [ngClass]="{'boxactive' : banner.checked && banner.type == 'web'}">
                          <i class="icon-18 fs14 text-success" style="float:right; margin:3px 3px 0 0;" *ngIf="banner && banner.uploadStatus"></i>
                          <div class="min40px pt-2">
                            <span class="bgGRColor acBGColor " [ngClass]="banner.name.toLowerCase() | trim">&nbsp;
                            </span>
                          </div>
                          <small class="grColor">{{banner.size}} </small>
                          <small class="grColor">{{banner.name}} </small>
                        </a>
                      </div>
                    </div>
                    <!-- <p class="grColor">Email Banners</p>
                          <div class="form-group row">
                          <div class="col-md-3 prl_mtb">
                          <a href="#" class="bannerBoxes tac w-100">
                          <div class="min40px pt-2">
                          <span class="bgGRColor acBGColor wh1px">&nbsp;</span>
                          </div>
                          <small class="grColor">250 x 250</small>
                          <small class="grColor">Square</small>
                          </a>
                          </div>
                          <div class="col-md-3 prl_mtb">
                          <a href="#" class="bannerBoxes tac w-100">
                          <div class="min40px pt-2">
                          <span class="bgGRColor acBGColor wh2px">&nbsp;</span>
                          </div>
                          <small class="grColor">250 x 250</small>
                          <small class="grColor">Small Square</small>
                          </a>
                          </div>
                          <div class="col-md-3 prl_mtb">
                          <a href="#" class="bannerBoxes tac w-100">
                          <div class="min40px pt-4">
                          <span class="bgGRColor acBGColor wh3px">&nbsp;</span>
                          </div>
                          <small class="grColor">250 x 250</small>
                          <small class="grColor">Banner</small>
                          </a>
                          </div>
                          <div class="col-md-3 prl_mtb">
                          <a href="#" class="bannerBoxes tac w-100">
                          <div class="min40px pt-4">
                          <span class="bgGRColor acBGColor wh4px">&nbsp;</span>
                          </div>
                          <small class="grColor">250 x 250</small>
                          <small class="grColor">Leaderboard</small>
                          </a>
                          </div>
                          </div> -->
                          
                    <p style="margin:20px 0 3px -10px!important">In App Banners
                    </p>
                    <div class="form-group row pr-3">
                      <div class="col-md-3 prl_mtb" *ngFor="let banner of appBanners"
                        (click)="openFileSelectionDialog(banner)">
                        <a [ngClass]="{'boxactive' : banner.checked && banner.type == 'web'}" (click)="clearBanner(banner)">
                          <mat-icon style="float:left; margin:3px 0 0 3px" class="fs14 rColor" *ngIf="banner && banner.uploadStatus">clear</mat-icon>
                        </a>
                        <a class="bannerBoxes tac w-100"
                          [ngClass]="{'boxactive' : banner.checked && banner.type == 'app'}">
                          <i class="icon-18 fs14 text-success" style="float:right; margin:3px 3px 0 0;" *ngIf="banner && banner.uploadStatus"></i>
                          <div class="min40px pt-2">
                            <span class="bgGRColor acBGColor " [ngClass]="banner.name.toLowerCase() | trim">&nbsp;
                            </span>
                          </div>
                          <small class="grColor">{{banner.size}}
                          </small>
                          <small class="grColor">{{banner.name}}
                          </small>
                        </a>
                      </div>                    
                    </div>
                    <mat-error *ngIf="!isSectionFormValid && imgList && imgList.length < 1" class="mateError_1">
                      Please select & upload atleast one banner
                    </mat-error>
                  </div>
                 
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label formLabel">
                    CTA Link
                    <i [matTooltip]="advertiser_newCampaign_upload_creative_cta_links" class="icon-78 fs12 tradMak grColor"> </i>
                  </label>
                  <div class="col-sm-9 pl-1">
                    <mat-form-field appearance="outline" class="form-element">
                      <mat-label>CTA Link</mat-label>
                      <input id="ctaLinkInput" type="url" matInput [(ngModel)]="subCampDetails.creativeSpecifications.ctaLink" required
                        placeholder="Enter CTA Link" formControlName="ctaLink"/>
                        <mat-error *ngIf="!isSectionFormValid && creativeFormGroup.controls['ctaLink'].invalid">
                          Please provide valid CTA URL
                        </mat-error>
                    </mat-form-field>
                    <!--
                    <i *ngIf="creativeFormGroup.controls['ctaLink'].valid && verifyCTALink == 'VALID'" class="icon-18 fs14 text-success" style="margin-left:5px; position:relative; top:-10px; display:inline-block;"></i>
                    <i *ngIf="creativeFormGroup.controls['ctaLink'].valid && verifyCTALink == 'NOT_VALID'" class="icon-53 fs14 rColor" style="margin-left:5px; position:relative; top:-10px; display:inline-block;"></i>
                    <img *ngIf="creativeFormGroup.controls['ctaLink'].valid && verifyCTALink == 'IN_PROGRESS'" alt="typing" src="assets/images/typing.gif" height="30px" style="margin-left:5px; display:inline-block; position:relative; top:-10px;">
                    -->
                  </div>
                </div>
                <div class="form-group row" *ngIf="creativeFormGroup.controls['ctaLink'].valid && verifyCTALink == 'NOT_VALID'">
                  <div class="col-sm-3 pl-1"></div>
                    <div class="col-sm-9 pl-1">
                        <span ><i *ngIf="creativeFormGroup.controls['ctaLink'].valid && verifyCTALink == 'NOT_VALID'">
                         </i> <span class="rColor fs11" style="position: absolute; top: -4px;" >Provided CTA link must be preceded with 'http://' or 'https://' and it should be valid.</span></span>
                      </div>
                </div>
                <div class="step-actions float-right mt-4">
                  <button class="primaryBtn mainColor mainBordercolr previous-step"
                  (click)="backToPreviousStepper(targetSectionFormGroup)" matStepperPrevious>Back
                  </button>
                  <button #saveAndPublishBtn class="primaryBtn mainColor mainBordercolr next-step ml-2"
                  (click)="collapseStepper()"
                  [disabled]="(basicSectionFormGroup.invalid || targetSectionFormGroup.invalid || operationalFormGroup.invalid || creativeFormGroup.invalid)">
                    {{(subCampDetails && subCampDetails.isPublished) ? 'Save & Publish' : 'Next'}}
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <ng-template matStepperIcon="noNumber">
            <mat-icon>
            </mat-icon>
          </ng-template>
        </mat-vertical-stepper>
      </div>

      <div class="col-md-4 creatCampaign">
        <div *ngIf="subCampDetails._id === '' && !basicSectionFormGroup.valid">
              <img alt="AdvanalyticsBg" src="assets/images/createCampaign.png" style="width:250px; height:200px;">
        </div>
        <div  *ngIf="basicSectionFormGroup.valid">
        <div class="boxDiv">
          <div class="m-2">
            <div class="" *ngIf="subCampDetails.creativeType == 'Banner' && imgList && !imgList.length">
              <div class="blank_img">
                <img src="../assets/images/DefaultCampaign.png" alt="Default Campaign" width="100%" height="100%">
              </div>
            </div>
            <div class="" *ngIf="subCampDetails.creativeType == 'Banner' && imgList && imgList.length">
              <!--<slideshow
                [height]= "height"
                [minHeight]= "'160px'"
                [autoPlay]= "false"
                [showArrows]= "imgList.length > 1"
                [arrowSize]= "'10px'"
                [imageUrls]= "imgList"
                [lazyLoad]= "imgList.length > 1"
                [backgroundSize] = "'contain'"
                [autoPlayWaitForLazyLoad]="true">
              </slideshow>-->
              <app-carouselshow [height]="'160px'" [imageUrls]="imgList"></app-carouselshow>
            </div>
            <div class="row">
              <div class="text-left mt-2" [ngClass]= "{'col-12' : (imgList && imgList.length) || uploadedVideoUrl, 'col-9': (imgList && !imgList.length) || !uploadedVideoUrl}">
                <h3 class="fs16">
                  <strong>
                    <span *ngIf="subCampDetails && subCampDetails.brandId && subCampDetails.brandId">
                      {{ brandName }}
                    </span>
                    <span *ngIf="subCampDetails && subCampDetails.name">
                      {{subCampDetails.name}} </span>
                  </strong>
                </h3>
              </div>
              <div class="col-3 text-right mt-2" *ngIf="subCampDetails.creativeType == 'Banner' && imgList && !imgList.length" >
                  <i class="fw mainColor1 fs24 icon-12" style="padding: 1px;"></i>
              </div>
            </div>
          </div>
          <div class="m-2">
            <h6 class="h6 fs12"
              *ngIf="subCampDetails && subCampDetails.operationalDetails && subCampDetails.operationalDetails.startDate && subCampDetails.operationalDetails.endDate">
              {{subCampDetails.operationalDetails.startDate  | date: 'd MMM yyyy'}} -
              {{subCampDetails.operationalDetails.endDate | date: 'd MMM yyyy'}}
            </h6>
          </div>
          <hr *ngIf="subCampDetails._id !== ''">
          <div class="m-2">
            <p class="mb-1 fs12">
              <span
                *ngIf="subCampDetails && subCampDetails.audienceTargetIds && subCampDetails.audienceTargetIds.length > 0">
                Targeting HVA: 
                <label *ngFor="let item of subCampDetails.audienceTargetIds | slice:0:1; let i = index; let isLast = last;">
                    {{getHVAName(item)}}{{isLast ? '' : ','}}&nbsp;
                </label>
                <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" *ngIf="subCampDetails.audienceTargetIds.length > 1" class="cityItems moreCityItems br0">
                  <mat-icon style="transform:scale(0.69); width:auto;" class="fs16">add</mat-icon><span>{{subCampDetails.audienceTargetIds.length - 1}}</span>
                  <mat-menu #menu2="matMenu" [overlapTrigger]="false">
                    <p (mouseleave)="menuTrigger.closeMenu()" class="p-2 mb-0">
                      <label *ngFor="let item of subCampDetails.audienceTargetIds | slice:1; let i = index; let isLast = last;" class="mb-0 fs12">
                          &nbsp;{{getHVAName(item)}}{{isLast ? '' : ','}}
                      </label>
                    </p>
                  </mat-menu>
              </button>
              </span>
           
            </p>
          </div>
          <div class="m-2">
            <p class="mb-1 fs12">
              <span
              *ngIf="subCampDetails && subCampDetails.operationalDetails && subCampDetails.operationalDetails.bidLimits && subCampDetails.operationalDetails.bidLimits.type && subCampDetails.operationalDetails.currency">
              {{subCampDetails.operationalDetails.bidSpecifications[0]}}: {{currencySymbol}}{{subCampDetails.operationalDetails.currency}}
            </span>
              <span
                *ngIf="subCampDetails && subCampDetails.operationalDetails && subCampDetails.operationalDetails.totalBudget">
                |&nbsp; Budget: {{currencySymbol}}{{subCampDetails.operationalDetails.totalBudget}} 
              </span>
         
            </p>
          </div>

          <div class="m-2">
            <p class="mb-1 fs12"><span
              *ngIf="subCampDetails && subCampDetails.operationalDetails && subCampDetails.operationalDetails.bidLimits && subCampDetails.operationalDetails.bidLimits.budget && subCampDetails.operationalDetails.bidLimits.type">
              Limit:
              {{currencySymbol}}{{subCampDetails.operationalDetails.bidLimits.budget}}/{{subCampDetails.operationalDetails.bidLimits.type}}
            </span></p></div>


          <div class="m-2">
            <p class="mb-1 fs12">
              <span
                *ngIf="subCampDetails && subCampDetails.creativeSpecifications && subCampDetails.creativeSpecifications.ctaLink">
                CTA: {{subCampDetails.creativeSpecifications.ctaLink}}
              </span>
            </p>
          </div>
          <!--<hr *ngIf="subCampDetails && subCampDetails._id">-->
          <div class="m-2 tac" *ngIf="subCampDetails && subCampDetails.isPublished && subCampDetails.status != SubcampaignStatus.recentlyCompleted">
            <button #pauseBtn *ngIf="subCampDetails && subCampDetails.status === 'Active' && rolePermissions && rolePermissions.includes('edit_campaign')" class="primaryBtn mainBordercolr mainColor wColor mr-3" type="button" (click)="changeSubcampaignStatus(subCampDetails, SubcampaignStatus.paused)">
              <i class="icon-28 fs12 mr-2"></i> <span>Pause</span>
            </button>
            <button #resumeBtn *ngIf="subCampDetails && subCampDetails.status === 'Paused' && rolePermissions && rolePermissions.includes('edit_campaign')" class="primaryBtn mainBordercolr mainColor wColor mr-3" type="button" (click)="changeSubcampaignStatus(subCampDetails, SubcampaignStatus.approved)">
              <i class="icon-29 fs12 mr-2"></i> <span>Resume</span>
            </button>
            <button *ngIf="rolePermissions && rolePermissions.includes('delete_campaign')" #deleteBtn class="primaryBtn mainColor mainBordercolr wColor" type="button" (click)="changeSubcampaignStatus(subCampDetails, SubcampaignStatus.recentlyCompleted)">
              <i class="icon-26 fs14 mr-2"></i><span>End</span>
            </button>
          </div>
          <div class="m-2 tac" *ngIf="subCampDetails && (subCampDetails.status === SubcampaignStatus.recentlyCompleted || !subCampDetails.isPublished)">
            <button *ngIf="subCampDetails.status != SubcampaignStatus.recentlyCompleted" #saveAsDraftBtn class="primaryBtn mainBordercolr mainColor mr-3 mt-2 mb-2" type="button"
              [disabled]="subCampDetails._id.length<2" (click)="saveSubCampaignAsDraft()">Save as draft
            </button>
            <button  #publishBtn class="primaryBtn mainBGcolor mainBordercolr wColor mt-2 mb-2" type="button"
              (click)="updateSubCampaign(creativeFormGroup)"
              [disabled]="(basicSectionFormGroup.invalid || targetSectionFormGroup.invalid || operationalFormGroup.invalid || creativeFormGroup.invalid || verifyCTALink != 'VALID')">Publish
            </button>
          </div>
        </div>        
      </div>
    </div>
    </div>
  </form>
