.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-image: linear-gradient(to right, #b260e4 , #6b3ffc);
     margin-top: -5px;
    border:3px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width:12px;
    height:12px;
}
.mat-step-icon{ width:12px!important; height:12px!important;}
.mat-step-header .mat-step-icon-selected {width:15px!important; height:15px!important;}
.mat-step-icon-state-done {
    box-shadow: none !important;
	opacity:0.5;
	border:none!important;
}
.mat-step-icon .mat-icon{
    display: none!important;
}
.mat-step-icon{
    top: 1rem;
    counter-increment: section;
    content: counter(section);
    z-index: 1;
    margin-top: -30px!important;
    background-image: linear-gradient(to right, #e6e6e6, #bebebe);
    border-radius: 100%;
    margin:0 14px 0 7px;
}
.mat-step-label{
    margin: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    color: #fff!important;
    background-image: linear-gradient(to right, #e6e6e6, #bebebe);
    padding:8px 15px;
    border-radius:4px;
	margin-bottom:10px;
}
.mat-step-label-active{
    background: #6b3ffc;
    background-image: linear-gradient(to right, #b260e4 , #6b3ffc) !important;
    border-radius:4px;
	margin:0;
	opacity:0.5;
	margin-bottom:10px
}
.mat-step-label-selected{ opacity:1; border-radius:4px 4px 0 0; margin:0;}
.mat-step-icon-selected{ opacity:1;}
.mat-vertical-stepper-header{
    line-height: 10px;
    padding:0 0 0 10px!important;
	height:auto!important;
	margin-left:-10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000!important;
    background-color:transparent!important;
}
.mat-option .mat-pseudo-checkbox { width:20px!important; height:20px!important; border-color:#ccc; border-radius:4px;}
.mat-option .mat-pseudo-checkbox-checked::after { top:4.4px; left:3px;}
.mat-form-field-appearance-outline .mat-form-field-label { top:13px!important; margin-top:0!important;}
.mat-form-field-required-marker { padding:0!important;}
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label { transform: translateY(-2.28125em) scale(0.75) perspective(100px) translateZ(.001px)!important; -ms-transform: translateY(-1.28125em) scale(.75)!important;}
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label { transform: translateY(-2.59375em) scale(.75)!important;}
.opDetails .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon 			{ display:none}


.opDetails1 .mat-form-field-appearance-legacy .mat-form-field-label { top:11px;}
.opDetails1 .col-sm-5 { flex: 0 0 48%; max-width:48%;}
.opDetails1 .col-sm-2 { flex: 0 0 4%; max-width:4%;}
.opDetails1 .inputBox { padding-bottom:2px;}

.pnmn .mat-form-field-appearance-outline .mat-form-field-wrapper, .pnmn .mat-form-field-appearance-outline .mat-form-field-flex, .pnmn .mat-form-field-appearance-outline .mat-form-field-infix, .pnmn .mat-form-field-wrapper { padding:0px!important; margin:0px!important;}
.pnmn .mat-form-field-infix { border-top:0px solid transparent!important;}
.pnmn .mat-form-field-appearance-outline .mat-select-arrow-wrapper { transform: translateY(15%);}

.newAssets .bannerBoxes .square { width:25px; height:25px;}	
.newAssets .bannerBoxes .smallsquare { width:20px; height:20px;}	
.newAssets .bannerBoxes .banner { width:50%; height:20px;}	
.newAssets .bannerBoxes .leaderboard { width:50%; height:20px;}	
.newAssets .bannerBoxes .inlinerectangle { width:35px; height:25px;}	
.newAssets .bannerBoxes .largerectangle	{ width:35px; height:30px;}	
.newAssets .bannerBoxes .skyscraper { width:8px; height:35px;}	
.newAssets .bannerBoxes .wideskyscraper { width:12px; height:35px;}	
.newAssets .bannerBoxes .half-pagead { width:16px; height:35px;}	
.newAssets .bannerBoxes .largeleaderboard { width:50%; height:20px;}	
.newAssets .bannerBoxes .wh11px { width:200px; height:20px;}

.tac {
    text-align: center;
    display: block!important;
}
.campaignSelecctionDisabled {
    /*opacity: 0.5!important;*/
    pointer-events: none!important;
}
.videoFileUpload {
    border:1px dashed blue;
    border-radius: 15px;
    width:250px;
    height:250px;
    position: relative;
}
.ngx-file-drop__drop-zone {
    border: none!important;
    height: 100%!important;
}
.tagInput{
    border: 1px solid #1717e4;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
}
.dragUpload{
    position:absolute;
    top:40%;
}
.dragUploadSpec{
    position: absolute;
    top: 25%;
    color: gray;
}
button:disabled{
    opacity: 0.4;
}
button:disabled:hover{
    cursor: not-allowed;
}
.fileDrop-box {
    width: 100%;
    height:200px;
}
.blank_img{
    background: #bebebe;
    width:100%;
    height:160px;
}
.optionsBox1 .dropdown-menu {
    right:0!important;
    width:220px;
    margin:0; 
    left:-16px;
}
.optionsBox2 .dropdown-menu {
    right:0!important;
    width:365px;
    margin:0; 
    left:-223px;
}
/*.currencyinput{
    padding-left: 12px;
    position: absolute;
    top: 9px;
    left: 25px;
    margin-top: -5px !important;
}*/
.success-campaign-notify{
    background: linear-gradient(to right, #b260e4, #6b3ffc);
    color: white;
    position: fixed;
    top: 43px;
    right: -21px;
}
.error-campaign-notify{
    background: linear-gradient(to right, #e46060, #fc753f);
    color: white;
    position: fixed;
    top: 43px;
    right: -21px;
}
.opDetailsLeftPadd {
    padding-left: 1.5rem!important;
}
.operationalFields {
    width: 96% !important;
}
.operationalFields .mat-form-field-infix {
    box-shadow: none;
    border: none;
    padding:0;
}
/*.operationalFields .mat-form-field-subscript-wrapper {
    top: 25px!important;
}
.operationalFields .mat-error {
    margin-top: 1px;
}*/
.profileForm .opDetails1 .mat-form-field-infix {
    top: 1px;
    line-height: 23px;
}
.opDetails .mat-icon-button {
    height: 21px !important;
    background-position:0 2px!important;
}
.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -4px !important;
}
.fa-caret-down { display:none;}
.fa-caret-down:before {
  content: "\e931"!important;
}
.fa-caret-right:before {
  content: "\e902"!important;
}
agm-map {
    height:180px;
    margin-bottom:10px;
    display:block;
}

.btn-outline-secondary { background: transparent; color: #333; font-size:12px; border:none; padding-left:0; padding-right:0;}
.btn-outline-secondary:hover, .show>.btn-outline-secondary.dropdown-toggle, .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle { background: transparent; color: #333; font-size:12px; border:none;}
.optionsBox { padding:0px 15px !important; display:inline-block;}
/*.operationalFields  { padding:2px 15px !important;}*/
.form-check-label { font-size:12px;}
.form-control{ border-radius:4px!important; width:100%!important; border:1.5px solid #eeeeeebd!important; font-size:12px!important; padding:6px 15px!important; margin:0!important;}
.subCampaign .mat-input-element { width:90%!important;}
.mat-vertical-stepper-header .mat-step-icon { margin-right:15px!important}
.tradMak { position:relative; top:-7px;}
.dropdown button::after {right: 0rem!important;}
.cityItems { font-size:10px!important; padding-right:0px!important; padding-left:6px!important; min-height:24px!important; color:#b260e4!important; background:#fff!important; border:1px solid #b260e4!important;}
.cityItems:hover { background:#fff!important;}
.moreCityItems { border-radius:16px!important; padding-right:6px!important; width:auto!important; height:auto!important; line-height:inherit!important;}
.closeBtn { width:10px!important; height:10px!important; margin:4px!important; font-size:10px!important;}
.mateError { font-size: 12px;}
.moreCityItems.br0 { border:none!important}
.mat-button-focus-overlay { background:transparent!important}

.campaignBrandSelecctionDisabled {
    opacity: 0.7!important;
    pointer-events: none!important;
}
.campaignBrandSelecctionDisabled .mat-select-arrow {
    border: none;
    border-right: solid!important;
}
.slideshow-container .slides { background-color:#eee;}
#ctaLinkInput{
    width: 100%!important;
}
.banner ul li a{ line-height: 0px; padding: 10px 10px 14px 10px !important;}
.Suggested{ color: #6b3ffc ; margin-top: 6px;}
.btnTabs .nav-link span{ margin-top: 0px !important;}
.newAssets .bannerBoxes .largebanner { width:59%; height:21px;}
.newAssets .bannerBoxes .mediumrectangle { width:56%; height:38px;}
.newAssets .bannerBoxes .full-sizebanner { width:61%; height:18px;}
.mateError_1{ position: relative;left: -11px;top: -7px;}