<div class="col-md-12 pl-0 mb-5 pr-0">
  <div class="table-responsive  mt-2" *ngIf='filteredInvoiceList && filteredInvoiceList.length'>
    <table multiTemplateDataRows mat-table [dataSource]="filteredInvoiceList" class="table table-striped tableStyles"
      *ngIf="filteredInvoiceList && filteredInvoiceList.length">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="wColor" style="padding-left: 14px !important;"> Date </th>
        <td mat-cell *matCellDef="let element" style="padding-left: 14px !important;"> {{element.billDate | date: 'd MMM yyyy'}}</td>
      </ng-container>
      <ng-container matColumnDef="receiptNumber">
        <th mat-header-cell *matHeaderCellDef class="wColor"> Receipt Number </th>
        <td mat-cell *matCellDef="let element"> {{element.billNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="platform">
        <th mat-header-cell *matHeaderCellDef class="wColor"> Platform </th>
        <td mat-cell *matCellDef="let element">{{element.platformName}}</td>
      </ng-container>
      <ng-container matColumnDef="accountNumber" >
        <th mat-header-cell *matHeaderCellDef class="wColor"> Account Number </th>
        <td mat-cell *matCellDef="let element">{{element.accountNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="earnings">
        <th mat-header-cell *matHeaderCellDef class="wColor"> Earnings </th>
        <td mat-cell *matCellDef="let element"> {{currencySymbol}}{{element.amount | number:'1.0-0'}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="wColor"> Status </th>
        <td mat-cell *matCellDef="let element">{{element.billStatus}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><button type="button" class="btn bgNone p-0 collapsed"
            data-toggle="collapse" data-target="#hdfcBank" aria-expanded="false">
            <i class="icon-48 fs20 grColor"></i>
          </button> </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td colspan="6" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" style="padding: 0px 14px 14px 14px !important;">
          <div class="row" class="invoiceelement-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="col-md-6">
              <h3 class="fs18 fw600 mt-3">{{element.invoiceNumber}}</h3>
            </div>
            <div class="text-right">
              <button (click)="downloadInvoce(element._id);"
                class="primaryBtn mainColor mainBordercolr  mb-3">
                <i class="icon-35 fs15 fw600 float-left mr-1"></i> Download
              </button>
              <button (click)="emailInvoice(element._id);"
                class="primaryBtn mainColor mainBordercolr  mb-3 ">
                <i class="icon-15 fs13 mt-1 fw600 float-left mr-2"></i> Email
              </button>
            </div>
          </div>
          <div class="br1 brr4 brCColor invoiceelement-detail" style="padding-left: 1px !important;"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-left">AD SLOT</th>
                  <th class="text-left">SIZE</th>
                  <th class="text-right">AMOUNT</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let asset of element.items">
                  <td>{{asset.name}}</td>
                  <td>{{asset.dimensions}}</td>
                  <td align="right">{{currencySymbol}}{{asset.amount | number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <td colspan="3" class="p-0">
                    <hr>
                  </td>
                </tr>
                <tr class="eeeBG">
                  <td colspan="2">&nbsp;</td>
                  <td>Sub-total <span class="float-right">{{currencySymbol}}{{element.amount | number:'1.0-0' }}</span></td>
                </tr>
                <tr>
                  <td colspan="2">&nbsp;</td>
                  <td>Taxes <span class="float-right">{{currencySymbol}}{{element.tax | number:'1.0-0' }}</span></td>
                </tr>
                <tr class="eeeBG">
                  <td colspan="2">Paid to: <strong>---</strong></td>
                  <td><strong>Total</strong> <span
                      class="float-right"><strong>{{currencySymbol}}{{element.amount | number:'1.0-0'}}</strong></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mainBGcolor wColor text-center"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns; let even = even;"
        [class.invoiceexpanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];let even = even;" class="invoicedetail-row"></tr>
  
    </table>
  </div>
</div>
<div class="table-responsive boxDiv" style="position: relative; top: -38px;" *ngIf='filteredInvoiceList && !filteredInvoiceList.length'>
  <p class="col-md-12 p-3 mb-0 mt-0">No bills have been generated yet.  Do read our terms of service policy on payments eligibility​.</p>
</div>