.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

.mat-form-field-underline {
    width: 0%;
}

.div_bottom_color { 
    background:#4e6def;
    color: #fff;
}
ul {
    height:auto; width: 100%;
}
ul {
    overflow:hidden;
    list-style: inside !important;
}