<div class="helpShowDiv rightSlide advertiserDiv" style="background: url('assets/images/help_bg_Img.svg') 70px 110% no-repeat rgb(255, 255, 255); background-size: 77%;">

  <div class="pl-4 pr-4 pt-3 pb-2">
    <h2 class="fs14 fw600 mb-4">Ask a question</h2>
    <form [formGroup]="questionForm">
      <div class="form-group">
        <input [readonly] = "true"  type="text" class="inputBox" formControlName="useremail" placeholder="useremail">
      </div>
      <mat-error *ngIf="questionForm.controls['useremail'].hasError('require')">
        User email is required
      </mat-error>
      <div class="form-group row">
          <div class="col-md-12">
            <input type="text" class="inputBox" placeholder="Subject" aria-label="Reason" matInput formControlName="reason" [matAutocomplete]="reason" name="reason">
            <mat-autocomplete #reason="matAutocomplete">
              <mat-option *ngFor="let option of filteredReasons | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          <!-- <select class="inputBox" formControlName="reason">
            <option>Add a new site</option>
            <option>Add a new banner</option>
            <option>Payment issues</option>
            <option>Monitoring ads</option>
          </select>-->
          
          <mat-error *ngIf="questionForm.controls['reason'].hasError('require')">
              Reason is required
          </mat-error>
          </div>
      </div>
      <div class="form-group">
        <textarea class="inputBox" formControlName="description" placeholder="Your message here..." rows="3"></textarea>
        <mat-error *ngIf="questionForm.controls['description'].hasError('require')">
          Message is required
        </mat-error>
      </div>
      <button *ngIf = "rolePermissions && rolePermissions.includes('add_support_ticket')" class="primaryBtn wColor mainBordercolr mainBGcolor" (click) = "createTicket()">Send</button>
    </form>

    <div class="row  mt-2 ml-1" *ngIf="article &&  article.generalArticles && article.generalArticles.length">
      <h2 class="fs14 fw600">Common help topics</h2>
      <ul class="fs12 ml-2 pl-2 mainColor">
        <li class="pt-1 ul" *ngFor="let article of article.generalArticles">
          <a (click) = "goToArticle(article.href)" class="text-primary">{{article.title}}</a>
        </li>
      </ul>
    </div>
  
    <div class="row mt-2 ml-1" *ngIf="article &&  article.advertiserArticles && article.advertiserArticles.length">
      <h2 class="fs14 fw600">Advertiser help topics</h2>
      <ul class="fs12 ml-2 pl-2 mainColor">
        <li class="pt-1 ul" *ngFor="let article of article.advertiserArticles">
          <a (click) = "goToArticle(article.href)" class="text-primary">{{article.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="divBottom" *ngIf = "rolePermissions && rolePermissions.includes('view_support_ticket')">
    <button class="primaryBtn mainBGcolor mainBordercolr wColor pt-1 fs12" (click) = "gotoServiceRequests()">Service Requests</button>
  </div>
</div>
