<div  class="bgImg" style="top:50px; right:-30px; z-index:-1">
  <img alt="AdvanalyticsBg" height="300" src="assets/images/AdvanalyticsBg.svg" style="width:300px; height:250px;">
</div>

<div class="pt-4 mb40">
  <h1 class="h2">Performance Analytics</h1>
  <h6 class="h6 mt-1 fwn lineheight">You can see how all your registered slots, across platforms, are performing. Their earnings, <br>audience, behavior, and conversion data, all in one place</h6>
</div>
<div id='graph-images' style='display:none'></div>

<div class="row" >
  <div class="col-md-6 pr-0" *ngIf="!showSiteAnalytics">
    <div class="boxDiv mt-2 mb-2">
      <div class="profileForm p-2">
        <div class="row">
          <div class="col-6">
            <div class="mat-form-field-infix w-100">
              <mat-select (selectionChange)="onSelectAsset($event.value, 'asset')" [(ngModel)]="selectedAsset" placeholder="Select Slot">
                <mat-option *ngFor="let option of assetList" [value]="option._id">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-6 mt-2 fw600 fs14"><a ng-href="" (click)="changeView()" class="mainColor"><span class="float-right mr-2">View site analytics</span></a></div>
        </div>
      </div>
      <div class="p-3">
        <div class="row">
          <div class="col-md-5"><img src="./assets/images/pub_platform_create.svg" width="100%" height="100%" alt="Platform"></div>
          <div class="col-md-7">
            <h3 class="fs14"><strong>{{assetName}}</strong></h3>
            <p class="fs11 mt-1 mb-0">Homepage</p>
            <p class="mt-4 mb-0 fs12">{{assetDeminsions}}{{assetSize}}{{assetFormats}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 pr-0" *ngIf="showSiteAnalytics">
    <div class="boxDiv mt-2 mb-2">
      <div class="bgLGRColor profileForm p-2">
        <div class="row">
          <div class="col-6">
            <div class="mat-form-field-infix w-100" *ngIf = "assetList && assetList.length > 0">
              <mat-select (selectionChange)="onSelectAsset($event.value, 'site')" [(ngModel)]="selectedAsset" placeholder="Select Slot">
                <mat-option *ngFor="let option of assetList" [value]="option._id">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </div>
            <div *ngIf = "assetList && assetList.length < 1">
              <span style="color: red; font-size: small">No Slots to View</span>
            </div>
          </div>
            
            <div class="col-6 mt-0 fw600 fs14"><span class="float-right mr-2">Viewing Site Analytics</span></div>    
        </div>
      </div>
      <div class="p-3">
        <div class="row">
          <div class="col-md-5"><img src="./assets/images/pub_platform_create.svg" width="100%" height="100%"
              alt="Platform">
          </div>
          <div class="col-md-7">
            <h3 class="fs14"><strong>{{ viewingSiteName }}</strong></h3>
            <p class="fs11 mt-1 mb-0">{{ viewingSiteType }}</p>
            <p class="mt-4 mb-0 fs12"> {{ activeAssets }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 filterDivoverright">
    <div class="boxDiv br1 mainBordercolr pt-2 pb-1  filterDiv">
      <a (click)="displayFilters()" class="filterShowHide mainColor h6 pl-2  dBlock1 mb-0">
        Filter
        <i class="icon-48 grColor fs16 pr-1 float-right" *ngIf="!showfilters"></i>
        <i class="icon-47 grColor fs16 pr-1 float-right" *ngIf="showfilters"></i>
      </a>
    </div>

  </div>
</div>

<div class="filterShowDiv mt-2" [ngStyle]="{ 'display': showfilters === true ? 'block' : 'none' }">
  <form [formGroup]="saveFilterForm">
    <div class="boxDiv analyticsFilter pt-2 mb-3" style="overflow:inherit; width:84%">
      <div class="brrTL4TR4 p-2 clearfix">
        <div class="allInputBoxs w-100">
            <div class="boxsInput">
                <div class="inputBox dateIcon opDetails inputBox_cle">
                  <input matInput [matDatepicker]="startDate" [min]="startDateMin" [max]="startDateMax"
                    formControlName="startDate" (dateInput)="addStartDateEvent('input', $event)"
                    placeholder="From date" class="dateInputBox" readonly>
                  <mat-datepicker-toggle matSuffix [for]="startDate" [disabled]="saveFilterForm.get('duration').value !== 'Custom Duration'"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </div>
              </div>
            
            <div class="float-left p-2">
                <p class="grColor pt-1 mb-0 text-center">to</p>
              </div>
            
            <div class="boxsInput">
                <div class="inputBox dateIcon opDetails inputBox_cle">
                  <input matInput [matDatepicker]="endDate" [min]="saveFilterForm.get('startDate').value"
                    formControlName="endDate" placeholder="To date"
                    (dateInput)="addEndDateEvent('input', $event)" class="dateInputBox" readonly>
                  <mat-datepicker-toggle matSuffix [for]="endDate" [disabled]="saveFilterForm.get('duration').value !== 'Custom Duration'"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </div>
              </div>
            
            <div class="boxsInput">
              <mat-select class="mat_option" formControlName="duration" (selectionChange)="onSelectDuration($event.value)"
                placeholder="Select Duration">
                <mat-option *ngFor="let option of filteredDuration" [value]="option.value">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </div>
            
            <div class="boxsInput">
              <mat-select class="mat_option" formControlName="filter" placeholder="Select Filter" (selectionChange)="onSelectFilter($event.value)">
                <mat-option *ngFor="let option of savedFilters" [value]="option._id">
                  {{option.filterName}}
                </mat-option>
              </mat-select>
            </div>
        </div>
      </div>

      <div class="pl-2 pr-2 pt-1 pb-3 clearfix">
        <div class="allInputBoxs w-100 clearfix">
          <div class="boxsInput locationsTreeBox3 ">
              <p class="mt-0 mb-2 fw600 fs12">Specialization</p>
              <div *ngIf="specializationTreeList" class="inputBox">
                <app-drop-down-with-tree #ddTreeSpecialization formControlName="specialization" [items]="allSpecializationTreeItems"
                  (selectedChange)="onSpecializationSelectedChange($event)" (filterChange)="onSpecializationFilterChange($event)">
                </app-drop-down-with-tree>
              </div>
          </div>
          <div class="boxsInput locationsTreeBox3">
            <p class="mt-0 mb-2 fw600 fs12">Gender</p>
            <div *ngIf="genderTreeList" class="inputBox">
              <app-drop-down-with-tree #ddTreeGender formControlName="gender" [items]="allGenderTreeItems"
                (selectedChange)="onGenderSelectedChange($event)" (filterChange)="onGenderFilterChange($event)">
              </app-drop-down-with-tree>
            </div>
          </div>
          <div class="boxsInput locationsTreeBox3">
            <p class="mt-0 mb-2 fw600 fs12">Location</p>
            <div *ngIf="locationTreeList" class="inputBox">
                <app-drop-down-with-tree #ddTreeLocation formControlName="location" [items]="allLocationTreeItems"
                  (selectedChange)="onLocationSelectedChange($event)" (filterChange)="onLocationFilterChange($event)">
                </app-drop-down-with-tree>
              </div>
          </div>
        </div>
          
        <div class="float-right mt-3" style="width:71%">
            <div class="row">
              <div class="col-md-2 pl-2 pr-2 mt-2">
                  <button class="primaryBtn mainColor mainBordercolr" color="accent" (click)="pdfBuilder()" [disabled]="!enableOverviewTab && !enableAudienceTab && !enableBehaviorTab && !enableConversionTab">
                      <i class="icon-35 fs16 fw600 float-left"></i>PDF
                  </button>
              </div>
                
              <div class="col-md-6 pl-0 pr-2">
                <div class="boxDiv br1 mainBordercolr">
                  <div class="row">
                    <div class="col-9">
                      <input class="br0 focus fs12" formControlName="filterName" type="text" placeholder="Name this filter" style="padding:10px">
                    </div>
                    <div class="col-3">
                      <button type="button" class="primaryBtn brr0 mainColor br0 brl1 pl-0 pr-0 w-100" style="padding:10px 0" (click)="saveFilter()">Save</button>
                    </div>
                  </div>
                </div>
              </div>
                
              <div class="col-md-4 mt-1">
                <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0" (click)="applyFilter(activeTab)">Apply</button>
                <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0 ml-2" (click)="clearFilter(activeTab)">Clear</button>
              </div>
            </div>
        </div>  
      </div>
    </div>
  </form>
</div>

<div class="row mt10">
  <div class="col-md-2 pr-0">
    <div class="boxDiv">
      <div class="p-2 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Earnings <i [matTooltip]="publisher_analytics_earnings" class="icon-78 fs12 tradMak grColor"></i></h6>
       <!--<div class="float-right wColor bgpr fs10 bgRColor"  [ngClass]="{
          'bgGColor':platformResults?.earnings.performanceChange >= 0,
          'bgRColor':platformResults?.earnings.performanceChange < 0
        }"><i class="icon-48" [ngClass]="{
          'icon-47':platformResults?.earnings.performanceChange >= 0,
          'icon-48':platformResults?.earnings.performanceChange < 0
        }"></i>{{ platformResults?.earnings.performanceChange ? (platformResults?.earnings.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div> -->      
      </div>
      <hr class="m-0">
      <div class="p-2 clearfix">
        <div class="float-left"><i class="icon-22 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">{{currencySymbol}}{{ platformResults?.earnings.total ? (platformResults?.earnings.total | number:'.0-0') : 0 }}</h2>
      </div>
    </div>
  </div>
    
  <div class="col-md-2 pr-0">
    <div class="boxDiv">
      <div class="p-2 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Impressions <i [matTooltip]="publisher_analytics_impressions" class="icon-78 fs12 tradMak grColor"></i></h6>
        <!--<div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
          'bgGColor':platformResults?.impressions.performanceChange >= 0,
          'bgRColor':platformResults?.impressions.performanceChange < 0
        }" ><i class="icon-47" [ngClass]="{
          'icon-47':platformResults?.impressions.performanceChange >= 0,
          'icon-48':platformResults?.impressions.performanceChange < 0
        }"></i> {{ platformResults?.impressions.performanceChange ? (platformResults?.impressions.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div> -->
      </div>
      <hr class="m-0">
      <div class="p-2 clearfix">
        <div class="float-left"><i class="icon-21 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1"> {{ platformResults?.impressions.total ? platformResults?.impressions.total : 0 }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-2 pr-0">
    <div class="boxDiv">
      <div class="p-2 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Reach <i [matTooltip]="publisher_analytics_reach" class="icon-78 fs12 tradMak grColor"></i></h6>
        <!--<div class="float-right wColor bgpr fs10 bgGColor" [ngClass]="{
          'bgGColor':platformResults?.reach.performanceChange >= 0,
          'bgRColor':platformResults?.reach.performanceChange < 0
        }"><i class="icon-47" [ngClass]="{
          'bgGColor':platformResults?.reach.performanceChange >= 0,
          'bgRColor':platformResults?.reach.performanceChange < 0
        }"></i> {{ platformResults?.reach.performanceChange ? (platformResults?.reach.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div> -->
      </div>
      <hr class="m-0">
      <div class="p-2 clearfix">
        <div class="float-left"><i class="icon-24 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">{{platformResults?.reach.total ? platformResults?.reach.total : 0}}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-2 pr-0">
    <div class="boxDiv">
      <div class="p-2 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">Clicks <i [matTooltip]="publisher_analytics_clicks" class="icon-78 fs12 tradMak grColor"></i></h6>
        <!--<div class="float-right wColor bgpr fs10 bgRColor" [ngClass]="{
          'bgGColor':platformResults?.clicks.performanceChange >= 0,
          'bgRColor':platformResults?.clicks.performanceChange < 0
        }"><i class="icon-48"  [ngClass]="{
          'bgGColor':platformResults?.clicks.performanceChange >= 0,
          'bgRColor':platformResults?.clicks.performanceChange < 0
        }"></i> {{ platformResults?.clicks.performanceChange ? (platformResults?.clicks.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div> -->
      </div>
      <hr class="m-0">
      <div class="p-2 clearfix">
        <div class="float-left"><i class="icon-30 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">{{platformResults?.clicks.total ? platformResults?.clicks.total : 0}}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-2 pr-0">
    <div class="boxDiv">
      <div class="p-2 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">CPC <i [matTooltip]="publisher_analytics_cpc" class="icon-78 fs12 tradMak grColor"></i></h6>
        <!--<div class="float-right wColor bgpr fs10 bgRColor" [ngClass]="{
          'bgGColor':platformResults?.cpc.performanceChange >= 0,
          'bgRColor':platformResults?.cpc.performanceChange < 0
        }"><i class="icon-48"  [ngClass]="{
          'bgGColor':platformResults?.cpc.performanceChange >= 0,
          'bgRColor':platformResults?.cpc.performanceChange < 0
        }"></i> {{ platformResults?.cpc.performanceChange ? (platformResults?.cpc.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div> -->
      </div>
      <hr class="m-0">
      <div class="p-2 clearfix">
        <div class="float-left"><i class="icon-33 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">{{currencySymbol}}{{ platformResults?.cpc.total ? (platformResults?.cpc.total | number:'.0-0') : 0 }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="boxDiv">
      <div class="p-2 clearfix">
        <h6 class="fs12 float-left mt-1 mb-0">CTR <i [matTooltip]="publisher_analytics_ctr" class="icon-78 fs12 tradMak grColor"></i></h6>
        <!--<div class="float-right wColor bgpr fs10 bgRColor"  [ngClass]="{
          'bgGColor':platformResults?.ctr.performanceChange >= 0,
          'bgRColor':platformResults?.ctr.performanceChange < 0
        }"><i class="icon-48"  [ngClass]="{
          'bgGColor':platformResults?.ctr.performanceChange >= 0,
          'bgRColor':platformResults?.ctr.performanceChange < 0
        }"></i> {{ platformResults?.ctr.performanceChange ? (platformResults?.ctr.performanceChange | number:'.0-0') + '%' : 0 +'%' }}
        </div> -->
      </div>
      <hr class="m-0">
      <div class="p-2 clearfix">
        <div class="float-left"><i class="icon-32 op5 fs24 mainColor"></i></div>
        <h2 class="fw float-right fs16 mb-0 mt-1">{{ platformResults?.ctr.total ? (platformResults?.ctr.total | number:'.0-0') + '%' : 0 +'%' }}</h2>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-pills mt14 tabsStyles" role="tablist">
    <li class="nav-item" *ngIf="showSiteAnalytics"> <a class="nav-link fs13 fw600 bgNone brr0" (click)="changeTab('overviewTab')" data-toggle="pill" href="#overviewTab" [ngClass] = "{'active': activeTab === 'overviewTab'}">Overview</a>
    </li>
    <li class="nav-item"> <a  class="nav-link fs13 fw600 bgNone brr0" data-toggle="pill"
        href="#audienceTab" (click)="changeTab('audienceTab')" [ngClass] = "{'active': activeTab === 'audienceTab'}">Audience</a>
    </li>
    <li class="nav-item"> <a  class="nav-link fs13 fw600 bgNone brr0" data-toggle="pill" href="#behaviorTab" (click)="changeTab('behaviorTab')" [ngClass] = "{'active': activeTab === 'behaviorTab'}">Behavior</a>
    </li>
    <li class="nav-item"> <a  class="nav-link fs13 fw600 bgNone brr0" data-toggle="pill" href="#conversionTab" (click)="changeTab('conversionTab')" [ngClass] = "{'active': activeTab === 'conversionTab'}">Conversion</a> </li>
</ul>

<div class="tab-content mb-5">
  <div id="overviewTab" class="tab-pane" [ngClass] = "{'active': activeTab === 'overviewTab'}" *ngIf="activeTab === 'overviewTab'">
    <div class="boxDiv mb-2 mt-2">
      <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
        <h5 class="fs13 fw600 wColor float-left pl-2">Top Ad Slots <i [matTooltip]="publisher_analytics_overview_top_ad_assets" class="icon-78 tradMak fs9 wdColor"></i></h5>
      </div>
        <div class="p-3"> 
            <!-- <div class="clearfix">
                <div class="float-right graphchartDiv graphchartDiv1 br0">
                    <p class="mb-0 pt-0"><span class="b1color float-left"></span>Image</p>
                </div>
            </div> -->
            <div *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.overviewTopAdAssets.length" class="float-left mt-3 op6"><div style="vertical-align:middle; display:table-cell; overflow:hidden; height:280px;"><img alt="AdvanalyticsBg" src="assets/images/earningsImg.png" style="height:180px;"></div></div>
            
            <div id="overviewTopAdAssetsScatterChart" class="specializations ml-3" style="width:973px; height:300px">
              <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.overviewTopAdAssets.length">
                  <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
              </div>
            </div>
            <div *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.overviewTopAdAssets.length" class="tac m-3 op6"><img alt="AdvanalyticsBg" src="assets/images/pubreachImg.png" style="width:350px"></div>
        </div>
      </div>
      <div class="row">  
          <div class="col-md-6 pr-0">
            <div class="boxDiv mb-2 mt-2">
              <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
                <h5 class="fs13 fw600 wColor float-left pl-2">Slot types and utilzation <i [matTooltip]="publisher_analytics_overview_asset_types_utilization" class="icon-78 tradMak fs9 wdColor"></i></h5>
              </div>
              <div class="p-3">
                <div class="row">
                  <div class="col">  
              <div style="width:80% !important; margin: auto; background: #0000 !important;">  <div id="overviewBannerAssetTypeAndUtilizationDonutChart" style="width:310px; height:300px;margin: auto;">
                <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.overviewAssetTypeAndUtilization.length">
                    <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
                </div>
              </div></div>
                </div>          
                  <!-- <div class="col-md-4 mt-5">    
                        <div class="mr-2 graphchartDiv br1 brCColor brr4 mt-5">
                        <table class="table mb-0">
                            <tr><td><p class="p-0 fs12"><span class="bcolor"></span>Banners</p></td></tr>
                        </table>
                      </div>
                    </div> -->
              </div>
              </div>
            </div>  
           </div>
      
      
      <div class="col-md-6">
        <div class="boxDiv mb-3 mt-2">
          <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
            <h5 class="fs13 fw600 wColor float-left pl-2">Validated HCPs <i [matTooltip]="publisher_analytics_overview_site_frequency" class="icon-78 tradMak fs9 wdColor"></i></h5>
          </div> 
            <div class="p-3">
              <div class="row">
               <div class="col">
                <div style="width:65% !important; margin: auto; background: #0000 !important;">
                  <div id="overviewValidatedHcpsDonutChart" style="width:310px; height:auto;">
                    <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.overviewValidatedHcps">
                        <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
                    </div>
                  </div>
                  </div>
               </div>
              <!--<div class="col-md-4" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.overviewValidatedHcps">-->
                  <!-- <div class="col-md-4 mt-5">    
                  <div class="mr-2 graphchartDiv br1 brCColor brr4 mt-5">
                  <table class="table mb-0">
                     
                          <tr><td><p class="p-0 fs12"><span class="ovrValidatecolor"></span>Validated</p></td></tr>
                          <tr><td><p class="p-0 fs12"><span class="ovrUnValidatecolor"></span>UnValidated</p></td></tr>
                     
                  </table>
                </div>
              </div> -->
            </div>
            <!--
            <div style="text-align: center; " *ngIf= "hcpUploadStatus">
              <span style="color:green" *ngIf= "hcpUploadStatus.status == 'Verified'">{{hcpUploadStatus.message}}</span>
              <span style= "color: gray" *ngIf= "hcpUploadStatus.status != 'Verified'">{{hcpUploadStatus.message}}</span>
            </div>
            -->
          </div>  
        </div>
      </div>
      <div class="base_div_overlay" *ngIf="hideExtraGraph">
        <div id="audienceSpecializationStackedBarChart" class="specializations" style="width:1000px; height:300px;"></div>
        <div id="audienceLocationChart" class="specializations locationMap" style="width:650px; height:300px;"></div>
        <div id="audienceHCPArcheTypeBarChart" class="specializations" style="width:540px; height:300px"></div>
        <div id="audienceAssetTypeDonutChart" class="specializations" style="width:230px; height:323px"></div>
        <div id="behaviorheatmap" style="width:540px; height:300px; margin:0;"></div>
        <div id="behaviorDevicesDonutChart" class="devicesChat" style="width:370px; height:245px"></div>
        <div id="conversionEngagementAreaChart" class="specializations" style="width:973px; height:350px;"></div>
        <div id="conversionResultLineChart" class="specializations" style="width:973px; height:350px;"></div>
        <div class="main_div_overlay"></div>
      </div>
    </div> 
  </div>   
    
  <div id="audienceTab" class="tab-pane"  [ngClass] = "{'active': activeTab === 'audienceTab'}" *ngIf="activeTab === 'audienceTab'">
      <div class="boxDiv mb-3 mt-2">
        <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
          <div class="row">
            <div class="col-md-10">
              <h5 class="fs13 fw600 wColor float-left pl-2">Specializations <i [matTooltip]="publisher_analytics_audience_specializations" class="icon-78 tradMak fs9 wdColor"></i></h5>
            </div>
            <!--<div class="col-md-2">
              <div class="row">
                <div class="col-3"><i class="icon-31 fs22 wColor"></i></div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="p-3 clearfix">
            <!-- <div class="clearfix">
              <div class="float-right graphchartDiv graphchartDiv1 br0">
                  <p class="mb-0"><span class="pubwcolor float-left"></span>Female</p>
                  <p class="mb-0"><span class="pubbcolor float-left"></span>Male</p>
                  <p class="mb-0"><span class="pubb1color float-left op6"></span>Other</p>
              </div>
          </div> -->
          <div id="audienceSpecializationStackedBarChart" class="specializations" style="width:1000px; height:300px">
            <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.audienceSpecialization && !analyticsGraphsDataTemp.audienceSpecialization.length">
              <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
          </div>
        </div>
      </div>

      <div class="boxDiv mb-3 mt-2">
        <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
          <div class="row">
            <div class="col-md-10">
              <h5 class="fs13 fw600 wColor float-left pl-2">Location <i [matTooltip]="publisher_analytics_audience_location" class="icon-78 tradMak fs9 wdColor"></i></h5>
            </div>
            <!--<div class="col-md-2">
              <div class="row">
                <div class="col-3"><i class="icon-31 fs22 wColor"></i></div>
              </div>
            </div>-->
          </div>
        </div>
        <div class="p-3">
          <div class="row"> 
              <div class="col-md-8">
                <div id="audienceLocationChart" class="specializations locationMap" style="width:650px; height:300px;">
                    <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.audienceLocation && !analyticsGraphsDataTemp.audienceLocation.length">
                        <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
                    </div>
                  </div>
                </div>
              <div class="col-md-4" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.audienceLocation && analyticsGraphsDataTemp.audienceLocation.length">
                  <div class="mr-4 br1 brCColor brr4 mt-4">
                    <div style="height:250px; overflow:auto;">
                      <table class="table fs12">
                          <tr style="color: #2cc2ec">
                              <th>State</th>
                              <th style="text-align: center">Views %</th>
                          </tr>
                          <ng-container *ngFor="let item of locationData">
                              <tr>
                                  <td>{{item.state}}</td>
                                  <td style="text-align: center">{{item.showValue | number : '1.2-2'}}%</td>
                              </tr>
                          </ng-container>
                      </table>
                    </div>
                  </div>    
              </div>
          </div>
          <!--<div class="float-left" style="width:720px">
              <div class="float-right graphchartDiv graphchartDiv1 br0" style="position:relative; z-index:9; margin:10px 60px 15px 0">
                  <p class="mb-0"><span class="pubbcolor op2 float-left"></span>0-20%</p>
                  <p class="mb-0"><span class="pubbcolor op4 float-left"></span>20-40%</p>
                  <p class="mb-0"><span class="pubbcolor op6 float-left"></span>40-60%</p>
                  <p class="mb-0"><span class="pubbcolor float-left"></span>60-80%</p>
              </div>
            </div>    -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 pr-0" *ngIf="zone === '1'">
          <div class="boxDiv mb-3">
            <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="fs13 fw600 wColor float-left pl-2">HCP Archetypes <i [matTooltip]="publisher_analytics_audience_hcp_archetypes" class="icon-78 tradMak fs12 wdColor"></i></h5>
                </div>
               <!-- <div class="col-md-4">
                  <div class="row">
                    <div class="col-3"><i class="icon-31 fs30 wColor"></i></div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="p-3">
                <div id="audienceHCPArcheTypeBarChart" class="specializations" style="width:540px; height:300px">
                  <div class="graphLoading text-center" *ngIf="analyticsGraphsData && analyticsGraphsDataTemp.audienceAssetType && !analyticsGraphsDataTemp.audienceAssetType.length">
                      <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
                  </div>
                </div>
              </div>
          </div>
        </div>
          
        <div class="col-md-5">
          <div class="boxDiv mb-3">
            <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
                  <h5 class="fs13 fw600 wColor float-left pl-2">Type of Ad Slot <i [matTooltip]="publisher_analytics_audience_typeof_adslot" class="icon-78 tradMak fs12 wdColor"></i></h5>
            </div>
            <div class="row">
            <div class="col"> 
                <div id="audienceAssetTypeDonutChart" class="specializations" style="width:52%; height: auto; margin: auto;">
                  <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.audienceAssetType && !analyticsGraphsDataTemp.audienceAssetType.length">
                      <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
                  </div>
                </div>
              </div>
                <!-- <div class="col-md-5 mt-5">
                    <div class="mr-2 graphchartDiv br1 brCColor brr4 mt-4">
                        <table class="table mb-0">
                           
                                <tr><td><p class="p-0 fs12"><span class="pubw1color"></span>GIF</p></td></tr>
                                <tr><td><p class="p-0 fs12"><span class="pubb2color"></span>JPG/JPEG</p></td></tr>
                                <tr><td><p class="p-0 fs12"><span class="pubrcolor"></span>PNG</p></td></tr>
                           
                        </table>
                      </div>
                </div> -->
                </div>    
          </div>
        </div>
      </div>
      <div class="base_div_overlay" *ngIf="hideExtraGraph">
        <div id="overviewTopAdAssetsScatterChart" class="specializations" style="width:973px; height:300px"></div>
        <div id="overviewBannerAssetTypeAndUtilizationDonutChart" style="width:310px; height:300px;"></div>
        <div id="overviewValidatedHcpsDonutChart" style="width:310px; height:300px"></div>
        <div id="behaviorheatmap" style="width:540px; height:300px; margin:0;"></div>
        <div id="behaviorDevicesDonutChart" class="devicesChat" style="width:370px; height:245px"></div>
        <div id="conversionEngagementAreaChart" class="specializations" style="width:973px; height:350px;"></div>
        <div id="conversionResultLineChart" class="specializations" style="width:973px; height:350px;"></div>
        <div class="main_div_overlay"></div>
      </div>
  </div>
    
  <div id="behaviorTab" class="tab-pane" [ngClass] = "{'active': activeTab === 'behaviorTab'}" *ngIf="activeTab === 'behaviorTab'">
    <div class="row">
      <div class="col-md-7 pr-0">
        <div class="boxDiv mb-3 mt-2">
          <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
            <h5 class="fs13 fw600 wColor float-left pl-2">Time of the day <i [matTooltip]="publisher_analytics_behavior_time_of_the_day" class="icon-78 tradMak fs9 wdColor"></i></h5>
          </div>
          <div class="p-3">
            <div id="behaviorheatmap" style="width:540px; height:300px">
              <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.behaviorTimeOfDay.length">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="boxDiv mb-2 mt-2">
          <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
            <h5 class="fs13 fw600 wColor float-left pl-2">Devices <i [matTooltip]="publisher_analytics_behavior_devices" class="icon-78 tradMak fs9 wdColor"></i></h5>
          </div>
          <div style="width: 80%; margin: auto; height:auto;" class="p3"> 
            <div id="behaviorDevicesDonutChart" class="devicesChat ml-3">
              <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.behaviorDevices">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
              </div>
            </div>
            </div>
              <!-- <div class="row graphchartDiv graphchartDiv2 br0 mt-1 mb-3">
                <div class="col-md-4"><p class="mb-0"><span class="pubb2color"></span>Desktop</p></div>
                <div class="col-md-4"><p class="mb-0"><span class="pubw1color"></span>Mobile</p></div>
                <div class="col-md-4"><p class="mb-0"><span class="pubrcolor"></span>Tablet</p></div>
              </div> -->
        </div>
      </div>
      <div class="base_div_overlay" *ngIf="hideExtraGraph">
        <div id="overviewTopAdAssetsScatterChart" class="specializations" style="width:973px; height:300px"></div>
        <div id="overviewBannerAssetTypeAndUtilizationDonutChart" style="width:310px; height:300px;"></div>
        <div id="overviewValidatedHcpsDonutChart" style="width:310px; height:300px"></div>
          <div id="audienceSpecializationStackedBarChart" class="specializations" style="width:1000px; height:300px;"></div>
          <div id="audienceLocationChart" class="specializations locationMap" style="width:650px; height:300px;"></div>
          <div id="audienceHCPArcheTypeBarChart" class="specializations" style="width:540px; height:300px"></div>
          <div id="audienceAssetTypeDonutChart" class="specializations" style="width:230px; height:323px"></div>
        <div id="conversionEngagementAreaChart" class="specializations" style="width:973px; height:350px;"></div>
        <div id="conversionResultLineChart" class="specializations" style="width:973px; height:350px;"></div>
        <div class="main_div_overlay"></div>
      </div>
    </div>
  </div>
    
  <div id="conversionTab" class="tab-pane" [ngClass] = "{'active': activeTab === 'conversionTab'}" *ngIf="activeTab === 'conversionTab'">
    <div class="boxDiv mb-3 mt-2">
      <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
        <h5 class="fs13 fw600 wColor float-left pl-2">Engagement <i [matTooltip]="publisher_analytics_conversion_engagement" class="icon-78 tradMak fs9 wdColor"></i></h5>
      </div>
        <div class="p-3">
          <div id="conversionEngagementAreaChart" class="specializations" style="width:973px; height:350px;">
            <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.conversionEnagement">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
          </div>
        </div>
      <div class="graphchartDiv" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.conversionEnagement && analyticsGraphsDataTemp.conversionEnagement.data && analyticsGraphsDataTemp.conversionEnagement.data.length">
          <div class="row">
            <div class="col-sm-4">
              <p><span class="engImpcolor"></span>Impressions <strong>{{ platformResults?.impressions.total ? platformResults?.impressions.total : 0}}</strong></p>
            </div>
            <div class="col-sm-4 brl1 grColor ">
              <p><span class="engReccolor"></span>Reach <strong>{{platformResults?.reach.total ? platformResults?.reach.total : 0}}</strong></p>
            </div>
            <div class="col-sm-4 brl1 grColor ">
              <p><span class="engClickcolor"></span>Clicks <strong>{{platformResults?.clicks.total ? platformResults?.clicks.total : 0}}</strong></p>
            </div>
          </div>
        </div>
    </div>

    <div class="boxDiv mb-5 mt-3">
      <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
        <h5 class="fs13 fw600 wColor float-left pl-2">Results <i [matTooltip]="publisher_analytics_conversion_results" class="icon-78 tradMak fs12 wdColor"></i></h5>
      </div>
        <div>
          <div id="conversionResultLineChart" class="specializations" style="width:973px; height:350px;">
            <div class="graphLoading text-center" *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.conversionResults && !analyticsGraphsDataTemp.conversionResults.data.length">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
          </div>
        </div>
        
        <div class="graphchartDiv mt-3 " *ngIf="analyticsGraphsDataTemp && analyticsGraphsDataTemp.conversionResults && analyticsGraphsDataTemp.conversionResults.data && analyticsGraphsDataTemp.conversionResults.data.length">
          <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
              <div class="col-md-3 pr-0">
                  <mat-button-toggle-group [(ngModel)]="toggleEarnings" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle class="w-100" value="Earnings" (click)="twoToggle('Earnings')">
                        <p><span class="resEarncolor"></span>Earnings <strong>{{currencySymbol}}{{resultEarnings | number : '1.2-2'}}</strong></p>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
              </div>
              <div class="col-md-3 brl1 grColor pr-0 pl-0">
                  <mat-button-toggle-group [(ngModel)]="toggleCPM" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle class="w-100" value="CPM" (click)="twoToggle('CPM')">
                        <p><span class="resCPMcolor"></span>CPM <strong>{{currencySymbol}}{{resultCPM | number : '1.2-2'}}</strong></p>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
              </div>
              <div class="col-md-3 pr-0 pl-0 brl1 grColor">
                  <mat-button-toggle-group [(ngModel)]="toggleCTR" class="br0 brr0 bgNone w-100" name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle class="w-100" value="CTR" (click)="twoToggle('CTR')">
                        <p><span class="resCTRcolor"></span>CTR <strong>{{resultCTR | number : '1.2-2'}}%</strong></p>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
              </div>
              <div class="col-md-3 brl1 grColor pl-0 pr-0">
                  <mat-button-toggle-group [(ngModel)]="toggleCPC" class="br0 brr0 bgNone w-100" name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle class="w-100" value="CPC" (click)="twoToggle('CPC')">
                        <p><span class="resCPCcolor"></span>CPC <strong>{{currencySymbol}}{{resultCPC | number : '1.2-2'}}</strong></p>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
              </div>
          </div>
        </div>
      
      </div>
      <div class="base_div_overlay" *ngIf="hideExtraGraph">
        <div id="overviewTopAdAssetsScatterChart" class="specializations" style="width:973px; height:300px"></div>
        <div id="overviewBannerAssetTypeAndUtilizationDonutChart" style="width:310px; height:300px;"></div>
        <div id="overviewValidatedHcpsDonutChart" style="width:310px; height:300px"></div>
        <div id="audienceSpecializationStackedBarChart" class="specializations" style="width:1000px; height:300px;"></div>
        <div id="audienceLocationChart" class="specializations locationMap" style="width:650px; height:300px;"></div>
        <div id="audienceHCPArcheTypeBarChart" class="specializations" style="width:540px; height:300px"></div>
        <div id="audienceAssetTypeDonutChart" class="specializations" style="width:230px; height:323px"></div>
        <div id="behaviorheatmap" style="width:540px; height:300px; margin:0;"></div>
        <div id="behaviorDevicesDonutChart" class="devicesChat" style="width:370px; height:245px"></div>
        <div class="main_div_overlay"></div>
      </div>
    </div>
</div>    
<div style="display: none;">
  <div id="chart-n-data"></div>
</div>
<div style="display: none;">
  <img id="publisher_header" src="../../../assets/images/publisher_heading.png" alt="">
  <img id="doceree_logo" src="../../../assets/images/logo2.png" alt="">
</div>