<div class="pt-4 mb40" *ngIf="pageView==='AddView'">
	<h1 class="h2">Add Platform</h1>
	<h6 class="h6 mt-1 fwn lineheight">Add a new website or a mobile app so that we can start displaying ads on them</h6>
</div>
<div class="pt-3 mb40" *ngIf="pageView==='EditView'">
	<h1 class="h2">{{platformFormGroup.controls['name'].value}}</h1>
	<h6 class="h6" *ngIf = "platform">{{ typeOfAccount === 'Website' ? 'You added this platform on ' : 'Mobile app added on '}}
		{{platform.created.at | date: 'd MMM yyyy'}}</h6>
</div>

<div class="row">
	<div class="col-md-8">
		<form [formGroup]="platformFormGroup">
			<mat-vertical-stepper [linear]="pageView==='AddView' ? true : false" #stepper>
				<mat-step [stepControl]="platformFormGroup" state="noNumber" completed="editMode">
					<ng-template matStepLabel  class="step-title boxHeading mainBGcolor1">
						Basics
						<a *ngIf="editMode" class="float-right">
						  <i class="icon-25 fs16 text-white"></i>
						</a>
					  </ng-template>
					<div class="step-new-content boxDiv p-4" style="display: block;">
						<div class="form-group row">
							<label for="inputPassword" class="col-sm-3 col-form-label formLabel mt-4">Account Type</label>
							<div class="col-sm-9">
								<ul class="nav nav-pills btnTabs">
									<li class="nav-item">
                                        <button class="nav-link tac active website_padding" [ngClass]="{'active': typeOfAccount === 'Website'}"
										(click)="selectApp('Website')" [disabled]="platformId && typeOfAccount === 'MobileApp'">
                                            <i class="icon-20  mainColor1 fs20"></i>
                                            <span class="mt-0">Website</span>
									    </button>
									</li>
									<li class="nav-item">
                                        <button class="nav-link tac active apppadding" [ngClass]="{'active': typeOfAccount === 'MobileApp'}"
										(click)="selectApp('MobileApp')" [disabled]="platformId && typeOfAccount === 'Website'">
										<img alt="AdvanalyticsBg" src="assets/images/Mobile_icon-02.svg" style="width:23px; height:20px;margin-bottom: 3px;">
                                            <span class="mt-0"> Mobile App</span>
									    </button>
                                    </li>
									<!--<button class="btn btn-secondary webMobile ml-4"
										[ngClass]="{'active': typeOfAccount === 'MobileApp'}"
										(click)="selectApp('MobileApp')"
										[disabled]="platformId && typeOfAccount === 'Website'">
										<div class="row pt-1">
											<div class="col-sm-12 col-sm-12 col-sm-12 col-sm-12">
												<i class="icon-13 mainColor1 fs28"></i>
											</div>
											<div class="col-sm-12 col-sm-12 col-sm-12 col-sm-12">
												<span class="titleTextColor">Mobile App</span>
											</div>
										</div>
									</button> -->
								</ul>
							</div>
						</div>

						<div class="tab-content">
							<div class="form-group row">
								<div class="col-sm-3">
									<label *ngIf="typeOfAccount === 'Website'" for="name" class="col-form-label formLabel">Site Name <i [matTooltip]="publisher_platform_creation_basics_name_your_site" class="icon-78 fs12 grColor tradMak"></i></label>
									<label *ngIf="typeOfAccount === 'MobileApp'" for="name" class="col-form-label formLabel">Name your App</label>
								</div>
								<div class="col-sm-5">
									<input type="text" class="inputBox" formControlName="name" placeholder="Enter Name">
									<mat-error *ngIf="platformFormGroup.controls['name'].hasError('require')">
										Name is required.
									</mat-error>
									<mat-error *ngIf="platformFormGroup.controls['name'].hasError('nameNotAvailable')">
										A Platform with this name already exists
									</mat-error>
									<mat-error *ngIf="platformFormGroup.controls['name'].hasError('lessLength')">
									   Atleast 3 characters required in Name field
									</mat-error>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label *ngIf="typeOfAccount === 'Website'" for="domainUrl" class="col-form-label formLabel">Site Address <i [matTooltip]="publisher_platform_creation_basics_site_domain" class="icon-78 fs12 grColor tradMak"></i></label>
									<label *ngIf="typeOfAccount === 'MobileApp'" for="domainUrl" class="col-form-label formLabel">App link</label>
								</div>
								<div class="col-sm-5">
									<input type="text" class="inputBox" formControlName="domainUrl" placeholder="www.example.com" [readonly]= 'urlReadOnly'>
									<mat-error *ngIf="platformFormGroup.controls['domainUrl'].hasError('require')">
										Domain is required.
									</mat-error>
									<mat-error *ngIf="platformFormGroup.controls['domainUrl'].hasError('containsHttpOrHtttps')">
									  Please provide valid domain and it shouldn't contain 'http:// or https://'
									</mat-error>
									<mat-error *ngIf="platformFormGroup.controls['domainUrl'].hasError('nameNotAvailable')">
										A platform with this URL already exists.
									</mat-error> 
									<mat-error *ngIf="platformFormGroup.controls['domainUrl'].hasError('invalidURL')">
										Invalid domain. Please enter a valid domain.
									</mat-error> 
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label *ngIf="typeOfAccount === 'Website'" for="trustedSites" class="col-form-label formLabel">Trusted Sites <i [matTooltip]="publisher_platform_creation_basics_trusted_domains" class="icon-78 fs12 grColor tradMak"></i></label>
									<label *ngIf="typeOfAccount === 'MobileApp'" for="trustedSites" class="col-form-label formLabel">App Type </label>
								</div>
								<div class="col-sm-5" *ngIf="typeOfAccount === 'Website'">
									<input type="text" class="inputBox" formControlName="trustedSites" placeholder="localhost:8080, dev-example.com ">
								</div>
								<div class="col-sm-5" *ngIf="typeOfAccount === 'MobileApp'">
									<mat-select class="inputBox" placeholder="Select type" formControlName="appType">
										<div *ngFor="let option of appType">
											<mat-option  [value]="option">
												<label>{{option}}</label>
											</mat-option>
										</div>                                      
									</mat-select>
									<mat-error *ngIf="platformFormGroup.controls['appType'].hasError('require')">
										Type is required.
									</mat-error>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label *ngIf="typeOfAccount === 'Website'" for="siteType" class="col-form-label formLabel">Site Category <i [matTooltip]="publisher_platform_creation_basics_site_type" class="icon-78 fs12 grColor tradMak"></i></label>
									<label *ngIf="typeOfAccount === 'MobileApp'" for="siteType" class="col-form-label formLabel">App Category</label>
								</div>
								<div class="col-sm-5">
									<mat-select class="inputBox" placeholder="Select Category" formControlName="typeOfSite">
										<div *ngFor="let option of uniqueSiteTypes">
											<mat-option  [value]="option">
												<label>{{option}}</label>
											</mat-option>
										</div>                                      
									</mat-select>
									<mat-error *ngIf="platformFormGroup.controls['typeOfSite'].hasError('require')">
										Type is required.
									</mat-error>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label class="col-form-label formLabel">Market<i [matTooltip]="publisher_platform_creation_basics_market" class="icon-78 fs12 grColor tradMak"></i></label>									
								</div>
								<div class="col-sm-5">
									  <mat-select [disabled] = "platformId" class="inputBox" placeholder="Select Market" formControlName="marketSel"
									  [(value)]="marketSelection" (selectionChange)="onChangeMarketPlace(marketSelection)">
									  <mat-select-trigger *ngIf="marketSelection && marketSelection === '1'" style="color: #000 !important;">
										<img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-1"> US
									  </mat-select-trigger>
									  <mat-select-trigger *ngIf="marketSelection && marketSelection === '2'" style="color: #000 !important;">
										<img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-1"> India
									  </mat-select-trigger>
									  <mat-option value="1"> <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2" style="color: #000 !important;"> US</mat-option>
									  <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2" style="color: #000 !important;"> India</mat-option>                                     
									</mat-select>
									<mat-error *ngIf="platformFormGroup.controls['marketSel'].hasError('require')">
										Market is required.
									</mat-error>
								</div>
							</div>


							<div class="form-group row">
								<div class="col-sm-3">
									<label *ngIf="typeOfAccount === 'Website'" for="description"
										class="col-form-label formLabel">Site Description 
										<i [matTooltip]="publisher_platform_creation_basics_site_description" class="icon-78 fs12 tradMak grColor" tooltip-class="text-left" theme="light"></i>
									</label>
									<label *ngIf="typeOfAccount === 'MobileApp'" for="description"
										class="col-form-label formLabel">App Description <i class="icon-17 fs12 tradMak grColor"></i></label>
								</div>
								<div class="col-sm-5">
									<textarea class="inputBox text" formControlName="description"
										placeholder="Informative, networking, etc" id="" rows="3"></textarea>
									<mat-error *ngIf="platformFormGroup.controls['description'].hasError('require')">
										Description is required.
									</mat-error>
								</div>
							</div>
							<!-- <div class="form-group row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<label for="keywords" class="col-form-label formLabel">Add
										keywords <i class="icon-16 fs14 grColor"></i></label>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
									<input type="text" data-role="tagsinput" class="inputBox" formControlName="keywords"
										placeholder="Enter keywords">
									<mat-error *ngIf="platformFormGroup.controls['keywords'].hasError('require')">
										Keywords is required
									</mat-error>
								</div>
							</div> -->
						</div>
						<div class="step-actions clearfix">
							<button  type="button" *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr next-step float-right"
								(click)="validatePlatformName()">Next</button>
							<button  type="button" *ngIf = "editMode" class="primaryBtn mainColor mainBordercolr float-right" (click)="validatePlatformName()" >Save & Submit</button>
						</div>
					</div>
				</mat-step>
				<mat-step [stepControl]="platformFormGroup" state="noNumber" completed="editMode" class="ml-3">
					<ng-template matStepLabel  class="step-title boxHeading mainBGcolor1">
						Exclusions
						<a *ngIf="editMode" class="float-right">
						  <i class="icon-25 fs16 text-white"></i>
						</a>
					  </ng-template>
					<div class="step-new-content boxDiv p-4 clearfix">
						<div class="form-group row">
				            <label for="excludeAdvertisers" class="col-form-label formLabel col-md-5">Advertisers to Exclude 
                                <i [matTooltip]="publisher_platform_creation_constraints_types_of_advertisers_to_exclude" class="icon-78 fs12 tradMak grColor" tooltip-class="text-left" theme="light"></i>
                            </label>
							<div class="col-md-5 checkbox1" >
								<mat-select class="inputBox" [placeholder]="'Category'" formControlName="excludeAdvertisers" multiple>
									<mat-option *ngFor="let topping of typesOfAdvertisers" [value]="topping">{{topping}}</mat-option>
								  </mat-select>
                                <mat-error *ngIf="platformFormGroup.controls['excludeAdvertisers'].hasError('advlength')">
                                    You are allowed to select a maximum of two options.
                                </mat-error>
                            </div>
						</div>
						<div class="step-actions float-right mt-2">
							<button matStepperPrevious *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr previous-step" (click)= "disableAddPlatform()">Back</button>
							<button type="button" *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="checkExcludeAdvertisersLengthAndMoveToNextStepper()">Next</button>
							<button type="button" *ngIf = "editMode" class="primaryBtn mainColor mainBordercolr float-right" (click)="updateExcludeAdvertiserInPlatform()" >Save & Submit</button>
						</div>
					</div>
				</mat-step>

				<mat-step [stepControl]="platformFormGroup" state="noNumber" completed="editMode" class="ml-3">
					<ng-template matStepLabel  class="step-title boxHeading mainBGcolor1">
					   <span>Platform Integration</span>
					 </ng-template>
					 <div *ngIf="typeOfAccount === 'Website'" class="step-new-content boxDiv p-4 clearfix"> 
						 <div class="form-group row">
						   <label for="inputPassword" class="col-sm-3 l formLabel">Instructions</label>
						   <div class="col-sm-9">
							 <p class="fw600">Wondering how to integrate your site with the Doceree Platform?</p>
							 <p>All you need to do is copy and paste!</p>
   
							 <div class="list1">   
							   <ul>                   
								 <li>Copy the code generated below. </li>
								 <li>Paste it between the &lt;head&gt; and &lt;/head&gt; on your page. If you insert the code outside the &lt;head&gt; tags, the ads will not run correctly.</li>
							   </ul>  
							 </div>

							 <div style="float: right;">
								<button type="button" class="primaryBtn mainColor mainBordercolr next-step float-right mb-2 fs11" (click)="openDeveloperShareModal('headerCode')">Share with Developer</button>
							</div>
						   </div>
						 </div>
						 <div class="form-group row">
						   <label for="inputPassword" class="col-sm-3  formLabel">Code Injection</label>
						   <div class="col-sm-9">
							 <p class="inputBox grColor codeInjectionBox">
								 <textarea id="codeInjectionInput" class="w-100 br0 text" name="codeInjectionInput" readonly style="height:120px; padding: 5px;" formControlName="headCodeSnippet"></textarea>
							   </p>
								 <button class="copyCode mainBGcolor wColor tal fs12" (click)="copyElementText('codeInjectionInput', 'verification')" >Click here to copy the code</button>	
						   </div>						   
						 </div>

						 <div class="form-group row ">
							<label for="inputPassword" class="col-sm-3  formLabel" style="margin-top:13px;">Status</label>
							<div class="col-sm-9 mt-3">
							  <!--vijender-->
							  <mat-radio-group aria-label="Select an option" class="codeInjection-radio-group" [(ngModel)]="headScriptAddedStatus" [ngModelOptions]="{standalone: true}">
								<mat-radio-button class="codeInjection-radio-button radiotext" *ngFor="let item of headScriptAddedStatusOptions" [value]="item">
									{{item}}
								  </mat-radio-button>
							  </mat-radio-group>
							</div>
						</div>

						 <div class="step-actions float-right ">
							 <button matStepperPrevious *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr previous-step" >Back</button>
							 <button matStepperNext type="button" *ngIf = "!editMode" (click)="logAmplitudeIntegratePlatform()" class="primaryBtn mainColor mainBordercolr next-step float-right">Next</button>
							 <!--<button type="button" *ngIf = "editMode" class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="updateHeadScriptAddedOption()" >Done</button>-->
							 <button type="button" *ngIf = "editMode" class="primaryBtn mainColor mainBordercolr float-right" (click)="updateExcludeAdvertiserInPlatform()" >Save & Submit</button>
						</div>
					</div>
					<!-- Mobile-->
					<div *ngIf="typeOfAccount === 'MobileApp'"> 
						<div class="step-new-content boxDiv p-4 clearfix">
						<div class="form-group row">
							<div class=" col clearfix">
								<button type="button" class="primaryBtn mainColor mainBordercolr next-step float-right mb-2 fs11"
									(click)="openDeveloperShareModal('headerCode')">Share with Developer</button>
							</div>
							<div class="form-group row">
								<label for="inputPassword" class="col-sm-3 formLabel" style="padding-left: 30px;">API Keys</label>
								<div class="col-sm-9 " style="padding-right: 32px !important;">
									<p class="inputBox grColor codeInjectionBox textarea_2 mt-2">
										<span class="text keytext">Test API key</span>
										<textarea id="appTestKeyInput" class="w-100 br0 text" name="appTestKeyInput" readonly
											style="height:28px; padding: 5px;" formControlName="appTestKey"></textarea>
									</p>
									<button class="copyCode mainBGcolor wColor tal fs12"
										(click)="copyElementText('appTestKeyInput', 'verification')">Click here to copy the
										code</button>
										<div style="clear: both;"></div>
										<p class="inputBox grColor codeInjectionBox textarea_2 mt-4">
											<span class="text Liveapi">Live API key</span>
											<textarea id="appLiveKeyInput" class="w-100 br0 text" name="appLiveKeyInput" readonly
												style="height:28px; padding: 5px;" formControlName="appLiveKey"></textarea>
										</p>
										<button class="copyCode mainBGcolor wColor tal fs12"
											(click)="copyElementText('appLiveKeyInput', 'verification')">Click here to copy the
											code</button>
											<div class="list1 mt-3">
												<span class="fs12 clearfix ">
													You can request test ads from our server using the test API key and when your
													app is ready to be published you can use the live key. You can copy and paste the
													respective keys and update the manifest file as shown below: 
												</span>
											</div>
											<div style="clear: both;"></div>
										<p class="inputBox grColor codeInjectionBox textarea mt-2">
											<textarea id="mobilePISnippet0Input" class="w-100 br0 text" name="mobilePISnippet0Input" readonly
												style="height:120px; padding: 5px;" formControlName="mobilePISnippet0"></textarea>
										</p>
										<button class="copyCode mainBGcolor wColor tal fs12"
											(click)="copyElementText('mobilePISnippet0Input', 'verification')">Click here to copy the
											code</button>
								</div>
							</div></div></div>
							<div class="step-new-content boxDiv p-4 mt-2 clearfix">
							<div class="form-group row">
						  <label for="inputPassword" class="col-sm-3 mt-3 formLabel">Importing SDK</label>


						  <div class="col-sm-9 mt-3">
								<div class="list1">
									<ul>
										<li> Add the JitPack repository to your build file. Add it in your root build.gradle at the end of the repositories </li>
										<div style="clear: both;"></div>
										<p class="inputBox grColor codeInjectionBox textarea">
											<textarea id="mobilePISnippet1Input" class="w-100 br0 text" name="mobilePISnippet1Input" readonly
												style="height:120px; padding: 5px;" formControlName="mobilePISnippet1"></textarea>
										</p>
										<button class="copyCode mainBGcolor wColor tal fs12  "
											(click)="copyElementText('mobilePISnippet1Input', 'verification')">Click here to copy the code</button>
								
										<li class="mt-3 mb-3">
											Open the app-level build.gradle file for your app and look for the “dependencies” section
										</li>
										<p class="fs12 mb-3 mt-3 text">Copy and paste the last line, from the box below. This will instruct gradle to pull in the latest version of Doceree Ads SDK
											and additional dependencies. Once that is done, save file and perform a gradle sync</p>
									</ul>
									
									<div style="clear: both;"></div>
									<p class="inputBox grColor codeInjectionBox textarea">
										<textarea id="mobilePISnippet12nput" class="w-100 br0 text" name="mobilePISnippet12nput" readonly
											style="height:120px; padding: 5px;" formControlName="mobilePISnippet2"></textarea>
									</p>
									<button class="copyCode mainBGcolor wColor tal fs12"
										(click)="copyElementText('mobilePISnippet12nput', 'verification')">Click here to copy the code</button>
								</div>
							</div></div></div>
							<div class="step-new-content boxDiv p-4 mt-2 clearfix">
						<div class="form-group row mt-4">
							<label for="inputPassword" class="col-sm-3  formLabel">Initializing Doceree Ads SDK</label>
							<div class="col-sm-9 ">
								<div class="list1">
										<span class="fs12 clearfix fw600">
											Have a look at the example given below that shows how to call the initialize() method in an
											application
										</span></div>
						
										<div style="clear: both;"></div>
										<p class="inputBox grColor codeInjectionBox textarea mt-2">
											<textarea id="mobilePISnippet3Input" class="w-100 br0 text" name="mobilePISnippet3Input" readonly
												style="height:120px; padding: 5px;" formControlName="mobilePISnippet3"></textarea>
										</p>
										<button class="copyCode mainBGcolor wColor tal fs12"
											(click)="copyElementText('mobilePISnippet3Input', 'verification')">Click here to copy the
											code</button>
									
								
							</div>
						</div>

						<div class="form-group row ">
						   <label for="inputPassword" class="col-sm-3  formLabel" style="margin-top:13px;">Status</label>
						   <div class="col-sm-9 mt-3">
							 <!--vijender-->
							 <mat-radio-group aria-label="Select an option" class="codeInjection-radio-group" [(ngModel)]="headScriptAddedStatus" [ngModelOptions]="{standalone: true}">
							   <mat-radio-button class="codeInjection-radio-button radiotext" *ngFor="let item of headScriptAddedStatusOptions" [value]="item">
								   {{item}}
								 </mat-radio-button>
							 </mat-radio-group>
						   </div>
					   </div><div class="step-actions float-right ">
						<button matStepperPrevious *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr previous-step" >Back</button>
						<button matStepperNext type="button" *ngIf = "!editMode" (click)="logAmplitudeIntegratePlatform()" class="primaryBtn mainColor mainBordercolr next-step float-right">Next</button>
						<!--<button type="button" *ngIf = "editMode" class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="updateHeadScriptAddedOption()" >Done</button>-->
						<button type="button" *ngIf = "editMode" class="primaryBtn mainColor mainBordercolr float-right" (click)="updateExcludeAdvertiserInPlatform()" >Save & Submit</button>
				   </div></div>
				   </div>
					<!-- End -->
			   </mat-step>
			   		<mat-step [stepControl]="platformFormGroup" state="noNumber" completed="editMode" class="ml-3">
					 <ng-template matStepLabel  class="step-title boxHeading mainBGcolor1">
					   <span>Audience Identification</span>
					 </ng-template>
					   <div *ngIf="typeOfAccount === 'Website'" class="step-new-content boxDiv p-4 clearfix"> 
						 <div class="form-group row">
						   <label for="inputPassword" class="col-sm-3 l formLabel">Instructions</label>
						   <div class="col-sm-9">
							 <div style="float: left; width: 20px; display:grid;"><p class="fw600">1.</p></div>
							 <div class="col-md-11 pl-0 fw600" style="float: left; display:grid;"><p class="fw600"> Call the following JavaScript function as soon as a login event is triggered on your platform.</p></div>
							 <!--<div style="float: right;">
								<button type="button" class="primaryBtn mainColor mainBordercolr next-step float-right mb-2" (click)="openDeveloperShareModal()">Share with Developer</button>
							</div>-->
							<div style="float: right;" class="clearfix mt-2">
								<button type="button" class="primaryBtn mainColor mainBordercolr next-step float-right mb-2 fs11" (click)="openDeveloperShareModal('invocationCode')">Share with Developer</button>
							</div>
						   </div>
						 </div>
						 <div class="form-group row">
						   <label for="inputPassword" class="col-sm-3  formLabel"></label>
						   <div class="col-sm-9">
							 <p class="inputBox grColor codeInjectionBox textarea">
								 <textarea id="audienceIdentificationlogin" class="w-100 br0 text" name="codeInjectionInput" readonly style="height:120px; padding: 5px;" formControlName="docereeLoginSnippet"></textarea>
							 </p>
								 <button class="copyCode mainBGcolor wColor tal fs12" (click)="copyElementText('audienceIdentificationlogin', 'audienceIdentification')" >Click here to copy code</button>	
								 <p *ngIf="marketSelection === '1'" class="fs11 mt-2 mb-4" style="line-height: 17px;"> Here, we’ve entered details of a sample user – “John Doe” with NPI “12345678” is a “Male”, who specializes in “Anesthesiology”, and practices in “Los Angeles”, with email john.doe@example.com and mobile 9999999999. You have to pass the details of physician logging into your platform at the time of function invocation. *Please note that email and mobile are optional. You may pass those only if captured on your website.</p>
								 <p *ngIf="marketSelection === '2'" class="fs11 mt-2 mb-4" style="line-height: 17px;"> Here, we’ve entered details of a sample user – “John Doe” with NPI “12345678” is a “Male”, who specializes in “Anesthesiology”, and practices in “Mumbai”, with email john.doe@example.com and mobile 9999999999. You have to pass the details of physician logging into your platform at the time of function invocation. *Please note that email and mobile are optional. You may pass those only if captured on your website.</p>
								 <div style="float: left; width: 20px; display:grid;"><p class="fw600">2.</p></div>
								 <div class="col-md-11 pl-0 clearfix fw600" style="float: left; display:grid;"><p class="fw600"> Call the following JavaScript function when the user logs out of the platform or gets unauthenticated.</p></div>
								 <div style="clear: both;"></div>	
								 <p class="inputBox grColor codeInjectionBox mt-1 textarea">
									<textarea id="audienceIdentificationlogout" class="w-100 br0 text" name="codeInjectionInput" readonly style="height:61px; padding: 5px;" formControlName="docereeLogoutSnippet"></textarea>
								 </p>
								 <button class="copyCode mainBGcolor wColor tal fs12" (click)="copyElementText('audienceIdentificationlogout', 'audienceLogout')" >Click here to copy code</button>	
								 
							</div>						   				   
						 </div>				
						 <div class="form-group row clearfix ">
							<label for="inputPassword" class="col-sm-3  formLabel" style="margin-top:13px;">Status</label>
							<div class="col-sm-9 mt-3">
							  <!--vijender-->
							  <mat-radio-group aria-label="Select an option" class="codeInjection-radio-group" [(ngModel)]="invocationScriptAddedStatus" [ngModelOptions]="{standalone: true}">
								<mat-radio-button class="codeInjection-radio-button radiotext" *ngFor="let item of invocationScriptAddedStatusOptions" [value]="item">
									{{item}}
								  </mat-radio-button>
							  </mat-radio-group>
							</div>
						</div>
   
						 <div class="step-actions float-right ">
							 <button matStepperPrevious *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr previous-step" >Back</button>
							 <button type="button" *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="savePlatform()" >Done</button>
							 <button type="button" *ngIf = "editMode" class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="updateInvocationScriptAddedOption()" >Done</button>
							</div>
					   </div>
					   <!-- Mobile -->
					   <div *ngIf="typeOfAccount === 'MobileApp'" class="step-new-content boxDiv p-4 clearfix"> 
						<div class="form-group row">
						  <label for="inputPassword" class="col-sm-3 formLabel">Passing HCP profile</label>
						  <div class="col-sm-9">						
							<p class="fs12 text "> Post the login you need to call the function given in the box below (just an example). This will pass on the HCP profile that will hold the targeting information for the Doceree Ads. It will help in serving precision targeted ads to the user. Keep this code in your Activity File, post the login process.</p>
							<!--<div style="float: right;">
							   <button type="button" class="primaryBtn mainColor mainBordercolr next-step float-right mb-2" (click)="openDeveloperShareModal()">Share with Developer</button>
						   </div>-->
						   <div style="float: right;" class="clearfix">
							   <button type="button" class="primaryBtn mainColor mainBordercolr next-step float-right mb-2 fs11" (click)="openDeveloperShareModal('invocationCode')">Share with Developer</button>
						   </div>
						  </div>
						</div>
						<div class="form-group row">
						  <label for="inputPassword" class="col-sm-3  formLabel"></label>
						  <div class="col-sm-9">
							<p class="inputBox grColor codeInjectionBox textarea">
								<textarea id="mobileAISnippet1" class="w-100 br0 text" name="mobileAISnippet1" readonly style="height:120px; padding: 5px;" formControlName="mobileAISnippet1"></textarea>
							</p>
							<button class="copyCode mainBGcolor wColor tal fs12" (click)="copyElementText('mobileAISnippet1', 'audienceIdentification')" >Click here to copy code</button>	
							<p class="fs12 text mt-3 fw600"> Call the Doceree logout() function when you logout of your application.</p>
							<div style="clear: both;"></div>	
							<p class="inputBox grColor codeInjectionBox mt-1">
								<textarea id="mobileAISnippet2" class="w-100 br0 text" name="mobileAISnippet2" readonly style="height:28px; padding: 5px;" formControlName="mobileAISnippet2"></textarea>
							</p>
							<button class="copyCode mainBGcolor wColor tal fs12" (click)="copyElementText('mobileAISnippet2', 'audienceLogout')" >Click here to copy code</button>	
								
						   </div>						   				   
						</div>				
						<div class="form-group row clearfix ">
						   <label for="inputPassword" class="col-sm-3  formLabel" style="margin-top:13px;">Status</label>
						   <div class="col-sm-9 mt-3">
							 <!--vijender-->
							 <mat-radio-group aria-label="Select an option" class="codeInjection-radio-group" [(ngModel)]="invocationScriptAddedStatus" [ngModelOptions]="{standalone: true}">
							   <mat-radio-button class="codeInjection-radio-button radiotext" *ngFor="let item of invocationScriptAddedStatusOptions" [value]="item">
								   {{item}}
								 </mat-radio-button>
							 </mat-radio-group>
						   </div>
					   </div>
  
						<div class="step-actions float-right ">
							<button matStepperPrevious *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr previous-step" >Back</button>
							<button type="button" *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="savePlatform()" >Done</button>
							<button type="button" *ngIf = "editMode" class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="updateInvocationScriptAddedOption()" >Done</button>
						   </div>
					  </div>
					   <!-- End -->
			   </mat-step>

				<!--<mat-step state="noNumber" completed="editMode">
					<ng-template matStepLabel  class="step-title boxHeading mainBGcolor1">
						Doctor Verification
						<a *ngIf="editMode" class="float-right">
						  <i class="icon-25 fs16 text-white"></i>
						</a>
					  </ng-template>
					<div class="step-new-content boxDiv p-4 clearfix">
						<div class="form-group row">
							<label id="example-radio-group-label" class="col-sm-4 col-form-label formLabel">Select your file type: </label>
                            <div class="mt-2 col-sm-8">
                                <div class="row">
                                <div class="col-sm-3 mt-1">
                                    <mat-radio-group name="fileType" formControlName="fileType" (change)="changeFileType($event)">
                                    <mat-radio-button selected class="text-primary fs12" *ngFor="let fileType of fileTypes"
                                        [value]="fileType">{{fileType}}</mat-radio-button>
                                    </mat-radio-group>
                                    </div>
                                    <div class="col-sm-8 fs14">
                                        <div *ngIf="selectedFileType === 'CSV'" class="form-group mb-4">
                                            <button class="primaryBtn mainColor mainBordercolr ml-0" (click)="downloadSampleCsv()">
                                                <i class="icon-35 fs18 fw600 float-left"></i> Download Sample CSV
                                            </button>
                                        </div>
                                    </div>    
                            </div>
                            </div>
						</div>
						<div class="form-group row" *ngIf="selectedFileType">
								<label for="inputPassword" class="col-sm-4 col-form-label formLabel">File Upload
									<i class="icon-78 fs12 tradMak grColor"tooltip-class="text-left" theme="light" tooltip="Upload your platform users(Doctors) data as CSV File"></i>
								</label>
							<div class="col-sm-8">
								<input *ngIf="selectedFileType === 'CSV'" class="mb-2 mainColor fs12" type="file"
									#fileImportInput name="hcpfile" id="txtFileUpload"
									(change)="fileChangeListener($event)" accept=".csv" />
							
								
							
								<mat-error *ngIf="invalidFile">
									Invalid File Selected.
								</mat-error>
							</div>
						</div>
						<div class="step-actions float-right mt-4">
							<button (click)="validateFile()"  *ngIf = "!editMode" class="primaryBtn mainColor mainBordercolr previous-step" >Back</button>
						
							<button  type="button" *ngIf = "editMode"
								class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="savePlatform()"
								>Save & Submit</button>
						</div>

					</div>
				</mat-step>-->
			<!--	<mat-step state="noNumber" completed="platformId">
					<ng-template matStepLabel  class="step-title boxHeading mainBGcolor1">
						Analytics API
						<a *ngIf="platformId" class="float-right">
						  <i class="icon-25 fs16 text-white"></i>
						</a>
					  </ng-template>
				
					<div class="step-new-content boxDiv p-4 clearfix">
						<div class="form-group row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<label for="inputPassword" class="col-form-label formLabel mt-3">GA API Key
									<i class="icon-16 fs14 grColor"></i></label>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<textarea class="inputBox" placeholder="GA API Key" formControlName="gaAPIKey"
									rows="3"></textarea>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<p class="grColor">For help on how to find your GA API key or to create one
									for your platform,
									<a href="#" class="tdu grColor">click here.</a>
								</p>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<label for="inputPassword" class="col-form-label formLabel mt-3">Status <i
										class="icon-16 fs14 grColor"></i></label>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<p class="mt-4"><i class="icon-17 fs14 rColor"></i> Analytics API Pending</p>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 grColor mt-3">
								<button class="primaryBtn mainColor mainBordercolr"><i class="icon-19 fs16"></i>
									Refresh
								</button>
							</div>
						</div>
						<div class="step-actions float-right mt-6">
							<button matStepperPrevious  *ngIf = "!this.platformId" class="primaryBtn mainColor mainBordercolr previous-step" >Back</button>
							<button matStepperPrevious  *ngIf = "!this.platformId" class="primaryBtn mainColor mainBordercolr previous-step" >Submit GA API</button>
							<button  type="button" *ngIf = "this.platformId"
								class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="savePlatform()"
								>Save & Submit</button>
						</div>
					</div>
				</mat-step> -->

			</mat-vertical-stepper>
		</form>
	</div>

	<div class="col-md-4">
        <div  *ngIf="!platformFormGroup.controls['name'].value && !platformFormGroup.controls['domainUrl'].value && !platformFormGroup.controls['typeOfSite'].value">
              <img alt="AdvanalyticsBg" src="assets/images/createCampaign1.png" style="width:250px; height:200px;">
          </div>
		<div class="boxDiv" *ngIf="platformFormGroup.controls['name'].value || platformFormGroup.controls['domainUrl'].value || platformFormGroup.controls['typeOfSite'].value">
			<div class="m-2" *ngIf="typeOfAccount === 'Website'">
				<img src="assets/images/pub_add_platform.png" width="100%" height="100%" alt="Platform">
			</div>	
			<div class="m-2" *ngIf="typeOfAccount === 'MobileApp'">
				<img src="assets/images/mobile-thumbnail-04.png" width="100%" height="100%" alt="Platform">
			</div>		
			<div class="m-2">
				<h3 class="fs16"><strong>{{platformFormGroup.controls['name'].value}}</strong></h3>
				<a class="h6 mb-2">{{platformFormGroup.controls['domainUrl'].value}}</a>
				<p class="mb-2 mt-2 fs12">{{platformFormGroup.controls['typeOfSite'].value}}</p>
				<!--<p class="mb-2" *ngIf="hcpVerificationStatus && hcpVerificationStatus.status == 'Upload Pending'  && editMode == true && hcpUploaded != true">
					<i class="icon-17 fs12 text-danger mr-1 mt-1"></i> Doctors Information Upload Pending.
				</p>
				<p class="mb-2 fs12" *ngIf="hcpVerificationStatus && hcpVerificationStatus.status == 'Upload Pending'  && editMode == true && hcpUploaded == true">
					<i class="icon-58 fs12 text-danger mr-1 mt-1"></i> Doctors Information Verification pending.
				</p>
				<p class="mb-2 fs12" *ngIf="hcpVerificationStatus && hcpVerificationStatus.status == 'Verification Failed' ">
					<i class="icon-53 fs12 text-danger mr-1 mt-1"></i> {{hcpVerificationStatus.message}}
				</p>
				<p class="mb-2 fs12" *ngIf="hcpVerificationStatus && hcpVerificationStatus.status == 'Verified' ">
					<i class="icon-18 fs12 gColor mr-1 mt-1"></i> {{hcpVerificationStatus.message}}
				</p>-->
			</div>
            <hr *ngIf="editMode" style="margin:10px 0">
			<!--div class="m-2 tac ng-star-inserted" *ngIf="!editMode">
				<button [disabled] = "!activeAddPlatform" [ngClass]="{'op4': !activeAddPlatform }" class="primaryBtn mainBGcolor mainBordercolr wColor" type="button" (click)="savePlatform()">Add Site</button>
			</div-->
			<div class=" m-2 " *ngIf="editMode" style="text-align: center;">
				<button *ngIf="platform && !platform.isDeactivated" class="primaryBtn mainColor mainBordercolr font-weight-normal m-1 "  type="button"
					(click)="openDeleteCofirmDialog('deactivate')">Deactivate</button>
				<button *ngIf="platform && platform.isDeactivated" class="primaryBtn mainColor mainBordercolr font-weight-normal m-1" type="button"
				(click)="openDeleteCofirmDialog('activate')">Activate</button>
				<button class="primaryBtn mainColor mainBordercolr font-weight-normal m-1" type="button"
					(click)="openDeleteCofirmDialog('delete')">Delete</button>
			</div>
		</div>
		<!--<div class="boxDiv p-2" *ngIf="!platformFormGroup.controls['name'].value && !platformFormGroup.controls['domainUrl'].value && !platformFormGroup.controls['typeOfSite'].value">
				{{loadingText}}
		</div> -->
	</div>
</div>
