.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-edit{
    background-image:linear-gradient(to right, #41ccf1 , #4e70ef) !important;
    margin-top: -5px;
    border:3px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width:15px!important;
    height:15px!important;
}
.mat-step-icon .mat-icon{
    display: none!important;
}
.mat-step-icon{
    top: 1rem;
    counter-increment: section;
    content: counter(section);
    z-index: 1;
    margin-top: -40px!important;
    background-image: linear-gradient(to right, #e6e6e6, #bebebe);
    border-radius: 100%;
    width:12px!important;
    height:12px!important;
    left:1px;
}
.mat-step-label{
    margin: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    color: #fff!important;
    background-image: linear-gradient(to right, #e6e6e6, #bebebe);
    padding:8px 15px;
    border-radius:4px;
	margin-bottom:10px;
}
.mat-step-label-active{
    background:#4e70ef; background-image:linear-gradient(to right, #41ccf1 , #4e70ef) !important;
    border-radius:4px;
	margin:0;
	opacity:0.5;
	margin-bottom:10px
}
.mat-step-label-selected{ opacity:1; border-radius:4px 4px 0 0; margin:0;}
.mat-step-icon-selected{ opacity:1;}

/*.mat-stepper-vertical-line::before{
bottom: -40px!important;
}*/
.mat-vertical-stepper-header{
    line-height: 10px;
    padding:0 0 0 10px!important;
	height:auto!important;
	margin-left:-10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000!important;
    background-color:transparent!important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(66, 134, 244);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(66, 134, 244);
}

.publisherDiv .webMobile.active .titleTextColor	{
    color:#000000 !important;
}
.example-container {
    // width: 100px;
    // max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 5px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .mat-step-text-label {
    overflow: visible !important;
	  font-weight:bold;
  }
.mat-stepper-vertical-line::before { top:-19px!important;}
//.mat-vertical-content-container { margin-left:7px!important;}
//.mat-vertical-content { padding:0 0 12px 21px!important}
.mat-vertical-content-container { margin-left:7px!important;}
.mat-vertical-content { padding:0 0 14px 21px!important}
.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate { background-color:#41ccf1!important;}  
.mat-radio-container, .mat-radio-inner-circle, .mat-radio-outer-circle { width:13px!important; height:13px!important;}

.mat-progress-spinner circle, .mat-spinner circle { stroke:#16c0f0!important;}
.cdk-overlay-pane .mat-pseudo-checkbox-checked{ background: #16c0f0 !important; border: 1px solid #16c0f0 !important;}
.mat-pseudo-checkbox{ border: 1px solid !important;}
.list1{}
.list1 ul{ padding: 0px; margin: 0px;  }
.list1 ul li{ float: none;font-size: 12px !important;color: #333;line-height: 17px;list-style: decimal;margin-bottom: 5px; font-weight: 600;}
//.mat-vertical-stepper-header .mat-step-icon {margin-right: 17px;margin-bottom: 9px;}

    .radiotext{font-size: 13px;
    font-weight: normal;
    line-height: 19px; font-family: "Work Sans";
}
.text{font-size: 12px !important;line-height: 17px;
  }
.textarea{ padding:10px 0px 10px 10px !important ;}
.textarea_2{ padding:0px 10px!important ;}
.keytext{position: relative;
  background: #fff;
  padding: 5px 3px;
  top: -9px;
  left: 5px;
  font-weight: 600;
  color: #333;
  font-size: 12px !important;}

  .Liveapi{position: relative;
    background: #fff;
    padding: 5px 3px;
    font-weight: 600;
    color: #333;
    font-size: 12px !important;
    top: -10px;}
    .website_padding{padding: 9px 26px 5px 26px !important;}
    .apppadding{padding: 9px 20px 5px 20px !important;}

    @media all and (min-width: 1920px) {
      .website_padding{padding: 9px 35px 5px 35px !important;}
      .apppadding{padding: 9px 34px 5px 34px !important;}

    }