<div class="bgImg" style="bottom:-10px; right:-100px; z-index:-1">
    <img src="assets/images/adv_profileBgImg.svg" width="300" height="300" alt="AdvanalyticsBg" style="width:430px; height:273px;"> 
</div> 
<div class="pt-4 mb12">
  <h1 class="h2">Manage Profile</h1>
  <h6 class="h6 mt-1" *ngIf=" showTagLine && !id">Setup your profile to add your first platform</h6>
  <h6 class="h6 mt-1 fwn lineheight" *ngIf = "showTagLine && id">You can add or edit the details of your business and platform/s, all in one place</h6>
</div>

<div class="stepsDots ml-sm-auto profileForm" *ngIf="!id">
  <div class="row">
    <div class="col-4 col-md-4">
      <span class="stepDot boxHeading ml50"
        [ngClass]="{'finish':currentTab == 2 || currentTab == 3 || id, 'active' : currentTab == 1 && !id}"
        [ngStyle]="{'opacity': currentTab == 1 ? 1 : 0.5 }"></span>
      <span class="stepline"
        [ngClass]="{'lineActive' : currentTab == 2 || currentTab == 3 || id, '' : currentTab == 1 && !id}"></span>
    </div>
    <div class="col-4 col-md-4">
      <span class="stepline"
        [ngClass]="{'lineActive' : currentTab == 3 || currentTab == 2}"></span>
      <span class="stepDot boxHeading ml50"
        [ngClass]="{'finish':currentTab == 3 || currentTab == 2 || id, 'active' : currentTab == 2 && !id}"
        [ngStyle]="{'opacity': currentTab == 2 ? 1 : 0.5 }"></span>
      <span class="stepline"
        [ngClass]="{'lineActive' : currentTab == 3 || currentTab == 3 || id, 'lineActive' : currentTab == 3 && !id}"></span>
    </div>
    <div class="col-4 col-md-4">
      <span class="stepline"
        [ngClass]="{'lineActive' : currentTab == 3 || currentTab == 3 || id, 'lineActive' : currentTab == 3 && !id}"></span>
      <span class="stepDot boxHeading ml50" [ngClass]="{'active':currentTab == 3 || id, '' : currentTab != 2 && !id}"
        [ngStyle]="{'opacity': currentTab == 3 ? 1 : 0.5 }"></span>
    </div>
  </div>
</div>
<form [formGroup]="publisherProfileForm">
  <div class="row">
    <div class="col-md-4" [ngStyle]="{'opacity': currentTab == 1 && editPersonalInfo ? 1 : id && editPersonalInfo ? 1 : 0.5 }">
      <div class="tab boxDiv stepsboxDiv">
        <h2 class="boxHeading mainBGcolor tac">Basic Information
            <a *ngIf = "id" class="text-white float-right" (click)="editSection('personalInfoSection')">
                <i class="icon-25 fs16 fw600"></i>
            </a>
        </h2>
        <div class="boxDivInner">
          <div class="mb-3">
            <div class="personalIDCardDiv personalIDCardDiv1">
              <div class="p-2">
                <div class="row">
                  <div class="col-sm-5"><img src="./assets/images/profilePic.svg" class="dNone" width="90%" height="90%" alt="Help"></div>
                  <div class="col-sm-6 text-wrap">
                    <p class="wColor fs11">{{publisherProfileForm.controls['organization'].value}}</p>
                  </div>
                </div>
                <div class="text-wrap">
                    <h6 class="mb-0 wColor fs11">{{publisherProfileForm.controls['firstName'].value}} {{publisherProfileForm.controls['lastName'].value}}</h6>
                    <!-- <p class="mb-0 wColor">+91 98768 98700</p> -->
                    <p class="mb-0 wColor fs11" *ngIf = "cityControl.value">{{cityControl.value}}, {{stateControl.value}}</p>
                  
				</div>
                
              </div>
            </div>
          </div>
          <div class="form-group">
            <input class="inputBox" formControlName="firstName" placeholder="First Name" name="fullName" [readonly]="currentTab == 1 && editPersonalInfo ? false : id && editPersonalInfo ? false : true ">
            <!-- <i *ngIf = "publisherProfileForm.controls['firstName'].value && editPersonalInfo" class="icon-18 fs16 fw600 text-success success-icon-firstname"></i>
            <i *ngIf = "!id && publisherProfileForm.controls['firstName'].value && !editPersonalInfo" class="icon-18 fs16 fw600 text-success success-icon-firstname"></i> -->
            <mat-error *ngIf="publisherProfileForm.controls['firstName'].hasError('require')">
              Your First Name is required
            </mat-error>
            <mat-error *ngIf="publisherProfileForm.controls['firstName'].hasError('invalidCharacters')">
              First Name cannot contain Special Characters or Numbers
            </mat-error>
          </div>

          <div class="form-group">
            <input class="inputBox" formControlName="lastName" placeholder="Last Name" name="fullName" [readonly]="currentTab == 1 && editPersonalInfo ? false : id && editPersonalInfo ? false :  true ">
            <!-- <i *ngIf = "publisherProfileForm.controls['lastName'].value && editPersonalInfo" class="icon-18 fs16 fw600 text-success success-icon-lastname"></i>
            <i *ngIf = "!id && publisherProfileForm.controls['lastName'].value && !editPersonalInfo" class="icon-18 fs16 fw600 text-success success-icon-lastname"></i> -->
            <mat-error *ngIf="publisherProfileForm.controls['lastName'].hasError('require')">
              Your Last Name is required
            </mat-error>
            <mat-error *ngIf="publisherProfileForm.controls['lastName'].hasError('invalidCharacters')">
              Last Name cannot contain Special Characters or Numbers
            </mat-error>
          </div>
          <div class="form-group" *ngIf="!isNotRegiteredUser">
            <input class="inputBox" formControlName="organization" placeholder="Business Name​" name="organization" [readonly]="currentTab == 1 && editPersonalInfo ? false : id && editPersonalInfo ? false: true ">
            <!-- <i *ngIf = "publisherProfileForm.controls['organization'].value && editPersonalInfo" class="icon-18 fs16 fw600 text-success success-icon-org"></i>
            <i *ngIf = "!id && publisherProfileForm.controls['organization'].value && !editPersonalInfo" class="icon-18 fs16 fw600 text-success success-icon-org"></i> -->
            <mat-error *ngIf="publisherProfileForm.controls['organization'].hasError('require')">
              Your Business name​ is required
            </mat-error> 
            <!-- <mat-error *ngIf="publisherProfileForm.controls['organization'].hasError('invalidCharacters')">
              Organization cannot contain Special Characters or Numbers
            </mat-error> -->
          </div>
          <div class="form-group" *ngIf="isNotRegiteredUser">
            <input class="inputBox" formControlName="organization" placeholder="Business Name​" name="organization" [readonly]="true">
          </div>
          <div class="custom-control custom-checkbox mt-3" *ngIf="!id">
            <input type="checkbox" formControlName="acceptTerms" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label customBox fs11" for="customCheck1">I agree to the <a href="https://www.doceree.com/online-terms-of-service-publisher-2/" target="blank" [ngClass]="{'disabled':currentTab != 1 }">Terms &
              Conditions</a></label><br>
            <mat-error *ngIf="publisherProfileForm.controls['acceptTerms'].hasError('require')">
              Accept Terms and Conditions
            </mat-error>
          </div>
          <div id="step1" class="mt-4 tac"
            [ngClass]="{'dBlock1':currentTab == 1 || id, 'dNone1' : currentTab != 1 && !id}">
            <button *ngIf="!id" type="button" id="nextBtn" class="primaryBtn mainColor mainBordercolr"
              [disabled]="currentTab == 1 ? false : true " (click)="nextView(1)">Next</button>
            <button *ngIf="id && editPersonalInfo" type="button" id="saveProfileBtn" class="primaryBtn mainColor mainBordercolr"
              (click)="updatePublisherPersonalInfo()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" [ngStyle]="{'opacity': currentTab == 2 && editBusinessAddress ? 1 : id && editBusinessAddress ? 1: 0.5 }">
      <div class="tab boxDiv stepsboxDiv">
        <h2 class="boxHeading tac"
          [ngClass]="{'mainBGcolor':currentTab == 2 || currentTab == 3 || id, 'mainBGcolor1' : currentTab != 2 && !id}">Business Address
          <a *ngIf = "id && !isNotRegiteredUser" class="text-white float-right" (click)="editSection('businessAddress')">
              <i class="icon-25 fs16 fw600"></i>
          </a>
        </h2>
        <div class="boxDivInner">
          <div class="tac mb-3" *ngIf="currentTab != 2 && currentTab != 3 && !id">
            <img src="./assets/images/map.svg" class="dNone" width="70%" height="70%" alt="Help">
          </div>
          <div class="tac mb-3" *ngIf="currentTab == 2 || currentTab == 3 || id">
            <img src="./assets/images/pub_mapActive.svg" class="dNone" width="70%" height="70%" alt="Help">
          </div>
          <div class="form-group">
            <input class="inputBox" formControlName="addressLine1" placeholder="Address Line 1" name="Address" [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true ">
            <!-- <i *ngIf = "publisherProfileForm.controls['addressLine1'].value && editBusinessAddress" class="icon-18 fs16 fw600 text-success success-icon-add1"></i>
            <i *ngIf = "!id && publisherProfileForm.controls['addressLine1'].value && !editBusinessAddress" class="icon-18 fs16 fw600 text-success success-icon-add1"></i> -->
            <mat-error *ngIf="publisherProfileForm.controls['addressLine1'].hasError('require')">
              Address Line 1 is required
            </mat-error>
          </div>
          <div class="form-group">
            <input class="inputBox" formControlName="addressLine2" placeholder="Address Line 2" name="Address" [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true ">
            <!-- <i *ngIf = "publisherProfileForm.controls['addressLine2'].value && editBusinessAddress" class="icon-18 fs16 fw600 text-success success-icon-add2"></i>
            <i *ngIf = "!id && publisherProfileForm.controls['addressLine2'].value && !editBusinessAddress" class="icon-18 fs16 fw600 text-success success-icon-add2"></i> -->
          </div>
          <div class="form-group">
            <input type="text" class="inputBox" placeholder="Country" aria-label="Country" matInput [formControl]="countryControl"
              formControlName="country" [matAutocomplete]="country"
              [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true ">
            <mat-autocomplete #country="matAutocomplete">
              <mat-option *ngFor="let option of filteredCountries | async" [value]="option.countryName" (onSelectionChange)="onCountryChange(option.countryISO2Code)">
                {{option.countryName}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="publisherProfileForm.controls['country'].hasError('require')">
              Country is required
            </mat-error>
            <mat-error *ngIf="publisherProfileForm.controls['country'].hasError('invalidCharacters')">
              Country cannot contain Special Characters or Numbers
            </mat-error>
          </div>

          <div class="form-group">
            <!-- <mat-form-field> -->
            <input type="text" class="inputBox" placeholder="City" aria-label="City" matInput [formControl]="cityControl"
              formControlName="city" [matAutocomplete]="city" [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true">
            <mat-autocomplete #city="matAutocomplete">
              <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <!-- </mat-form-field> -->
            <mat-error *ngIf="publisherProfileForm.controls['city'].hasError('require')">
              City is required
            </mat-error>
            <mat-error *ngIf="publisherProfileForm.controls['city'].hasError('invalidCharacters')">
              City cannot contain Special Characters or Numbers
            </mat-error>
          </div>

          <div class="row form-group">
            <div class="col-md-6 pr-0">
              <input type="text" class="inputBox" placeholder="State" aria-label="State" formControlName="state" matInput
                [formControl]="stateControl" [matAutocomplete]="state"
                [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true ">
              <mat-autocomplete #state="matAutocomplete">
                <mat-option *ngFor="let option of filteredStates | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="publisherProfileForm.controls['state'].hasError('require')">
                State is required
              </mat-error>
              <mat-error *ngIf="publisherProfileForm.controls['state'].hasError('invalidCharacters')">
                State cannot contain Special Characters or Numbers
              </mat-error>
            </div>
            <div class="col-md-6">
              <input type="text" class="inputBox" placeholder="Zip Code" aria-label="Zip Code" matInput 
              formControlName="zipCode" [matAutocomplete]="zipCode" (blur) = "validatePincode()" [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true ">
              <mat-autocomplete #zipCode="matAutocomplete">
                <mat-option *ngFor="let option of filteredZipCodes | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <!-- <input class="inputBox" formControlName="zipCode" placeholder="Zip Code" name="Zip Code"
                [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true " autocomplete="off"> -->
              <mat-error *ngIf="publisherProfileForm.controls['zipCode'].hasError('require')">
                ZipCode is required
              </mat-error>
              <mat-error *ngIf="publisherProfileForm.controls['zipCode'].hasError('invalidCharacters')">
                Invalid ZipCode
              </mat-error>
            </div>
          </div>

         
          <div class=" row form-group">
              <div class="col-md-4" style="padding-right: 2px">
                <mat-select class="inputBox" [(value)]="defaultCountryCode" formControlName="countryCodePhNumber" (selectionChange)= "validatePhoneNumber()" [disabled]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true ">
                      <div *ngFor="let option of countryCodes">
                        <mat-option  [value]="option">
                            <label>{{option}}</label>
                          </mat-option>
                      </div>
                    </mat-select>
              </div>
            <div class="col-md-6 p-0">
              <input class="inputBox"  (keyup) = "validatePhoneNumber()" formControlName="phoneNumber" placeholder="Business Phone Number​" name="organization" [readonly]="currentTab == 2 && editBusinessAddress ? false : id && editBusinessAddress ? false : true ">
                <!-- <i *ngIf = "publisherProfileForm.controls['organization'].value && editPersonalInfo" class="icon-18 fs16 fw600 text-success success-icon-org"></i>
                <i *ngIf = "!id && publisherProfileForm.controls['organization'].value && !editPersonalInfo" class="icon-18 fs16 fw600 text-success success-icon-org"></i> -->
                <mat-error *ngIf="publisherProfileForm.controls['phoneNumber'].hasError('require')">
                  Your Phone Number is required
                </mat-error> 
                <mat-error *ngIf="publisherProfileForm.controls['phoneNumber'].hasError('invalidPhNumber')">
                  Your Phone Number is invalid.
                </mat-error>
                <mat-error *ngIf="publisherProfileForm.controls['phoneNumber'].hasError('countryCodeMissing')">
                  Include Country Code (ex: +1, +91)
                </mat-error></div>         
  
                  <div class="col-md-2 pr-0 mt-2 pl-1">
                     <label class="fs11 fw600" *ngIf="isPhoneNumberVerified == false" >
                       <a href="javascript:void(0)" style= "color:#007bff!important" [ngClass]="{'disabled':currentTab != 2 }"  (click) = "requestOTP()">Verify</a>
                      </label>
                      <i *ngIf="isPhoneNumberVerified == true" class = "icon-18 gColor"></i>
                       <!--<mat-icon class=" error_2_icon bgGColor wColor fs12 fw" role="img" style="" aria-hidden="true">done</mat-icon>-->
                  </div>
          </div>
      <!---
          <label class="fs11" for="customCheck1" *ngIf = "isPhoneNumberVerified == false">
            <a href="javascript:void(0)" style= "color: red" [ngClass]="{'disabled':(currentTab != 2 && !editBusinessAddress) }"  (click) = "requestOTP()">Your phone Number is not verified. Please click here to verify</a>
          </label>-->

          <div class="clear"></div>
          <div id="step2" class="mt-4 tac" 
                    [ngClass]="{'dBlock1':currentTab == 2 || id, 'dNone1' : currentTab != 2 && !id}">
            <button *ngIf="!id" type="button" id="prevBtn" class="primaryBtn mainColor mainBordercolr"
              [disabled]="currentTab == 2 ? false : true " (click)="prevView(-1)">Back</button>
            <button *ngIf="!id" type="button" id="nextBtn1" class="primaryBtn mainColor mainBordercolr"
              [disabled]="currentTab == 2 ? false : true " (click)="nextView(2)">Next</button>
            <button *ngIf="id && editBusinessAddress" type="button" id="saveProfileBtn" class="primaryBtn mainColor mainBordercolr"
              (click)="savePublisher()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" [ngStyle]="{'opacity': currentTab == 3 ? 1 : id ? 1 : 0.5 }">
      <div class="tab boxDiv stepsboxDiv" *ngIf="platformStatus === 'add'">
        <h2 class="boxHeading tac"
          [ngClass]="{'mainBGcolor':currentTab == 3 || id, 'mainBGcolor1' : currentTab != 3 && !id}">Add New Platform
        </h2>
        <div class="boxDivInner">
          <div class="tac" *ngIf="currentTab != 3">
            <img src="./assets/images/platform.svg" class="dNone" width="80%" height="80%" alt="Help">
          </div>
          <div class="tac mb-3" *ngIf="currentTab == 3">
            <img src="./assets/images/platformActive1.svg" class="dNone dBlock" width="80%" height="80%" alt="Help">
          </div>
          <div class="btn-group btn-group-toggle w-100 form-group" data-toggle="buttons">
            <label class="btn btn-secondary text-left webMobile" [ngClass]="{'active':currentTab == 3 || id}" (click)="selectAppType('Website')">
              <input type="radio" name="options" id="option1" autocomplete="off" checked>
              <i class="icon-20 fs20 mainiconColor float-left mt-1"></i> <span class="mainTextColor ml-2">Website</span>
            </label>
           <label class="btn btn-secondary text-left webMobile" (click)="selectAppType('MobileApp')">
              <input type="radio" name="options" id="option3" autocomplete="off">
              <i class="icon-13 mainiconColor fs20 float-left mt-1"></i> <span class="mainTextColor ml-2">Mobile
                App</span>
            </label> 
          </div>
          <form [formGroup]="publisherSite">
            <div *ngIf="typeOfAccount === 'Website'">
              <div class="form-group">
                <input class="inputBox" formControlName="siteName" placeholder="Site Name" name="Site Name" [readonly]="currentTab == 3 ? false : true ">
              </div>
              <mat-error *ngIf="publisherSite.controls['siteName'].hasError('require')" class="materror">
                Site Name is required
              </mat-error>
              <mat-error *ngIf="publisherSite.controls['siteName'].hasError('minlength')">
                Site Name should be a minimum of three characters
              </mat-error>
              <mat-error *ngIf="publisherProfileForm.controls['state'].hasError('invalidCharacters')">
                Site Name cannot contain Special Characters or Numbers
              </mat-error>

              <div class="form-group">
                <input class="inputBox" formControlName="siteLink" placeholder="Site Domain" name="Site Domain" [readonly]="currentTab == 3 ? false : true ">
              </div>
              <mat-error *ngIf="publisherSite.controls['siteLink'].hasError('require')" class="materror">
                Site Domain is required
              </mat-error>
              <mat-error *ngIf="publisherSite.controls['siteLink'].hasError('containsHttpOrHtttps')">
                Please provide valid domain and it shouldn't contain 'http:// or https://'
              </mat-error>
              <mat-error *ngIf="publisherSite.controls['siteLink'].hasError('invalidURL')">
                Invalid Domain
              </mat-error>
              <mat-error *ngIf="publisherSite.controls['siteLink'].hasError('urlNotAvailable')">
                Domain URL already exists
              </mat-error>
              <mat-select class="inputBox mb-1" placeholder="Select Market" formControlName="marketSel"
									  [(value)]="selectedMarketPlace" (selectionChange)="onMarketChange()" [disabled]="currentTab == 3 ? false : true ">
                    <mat-option value="1"><img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> US</mat-option>
                    <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2">India</mat-option>                                      
              </mat-select>
              <mat-error *ngIf="publisherSite.controls['marketSel'].hasError('require')" class="materror_2">
                Market is required.
              </mat-error>

              <mat-select class="inputBox" placeholder="Site Type" aria-label="Site Type" formControlName="siteType" [disabled]="currentTab == 3 ? false : true ">
                <div *ngFor="let option of uniqueSities">
                  <mat-option  [value]="option">
                      <label>{{option}}</label>
                  </mat-option>
                </div>                                      
              </mat-select>
              <mat-error *ngIf="publisherSite.controls['siteType'].hasError('require')">
                Site Type is required
              </mat-error>
            </div>
          </form>
          <form [formGroup]="publisherApp">
            <div *ngIf="typeOfAccount === 'MobileApp'">
              <div class="form-group">
                <input class="inputBox" formControlName="appName" placeholder="App Name" name="App Name" [readonly]="currentTab == 3 ? false : true ">
              </div>
              <mat-error *ngIf="publisherApp.controls['appName'].hasError('require')" class="materror">
                Site Name is required
              </mat-error>
              <mat-error *ngIf="publisherApp.controls['appName'].hasError('minlength')">
                Site Name should be a minimum of three characters
              </mat-error>
              <mat-error *ngIf="publisherApp.controls['appName'].hasError('invalidCharacters')">
                Site Name cannot contain Special Characters or Numbers
              </mat-error>

              <div class="form-group">
                <input class="inputBox" formControlName="appLink" placeholder="App Link" name="App Link" [readonly]="currentTab == 3 ? false : true ">
              </div>
              <mat-error *ngIf="publisherApp.controls['appLink'].hasError('require')" class="materror">
                App link is required
              </mat-error>
              <mat-error *ngIf="publisherApp.controls['appLink'].hasError('containsHttpOrHtttps')">
                Please provide valid domain and it shouldn't contain 'http:// or https://'
              </mat-error>
              <mat-error *ngIf="publisherApp.controls['appLink'].hasError('invalidURL')">
                Invalid Domain
              </mat-error>
              <mat-error *ngIf="publisherApp.controls['appLink'].hasError('urlNotAvailable')">
                App link already exists
              </mat-error>

              <mat-select class="inputBox mb-1" placeholder="Select App Type" formControlName="appType" [disabled]="currentTab == 3 ? false : true ">
                <mat-option value="Android">Android</mat-option>
                <!--mat-option value="Android">iOS</mat-option-->
              </mat-select>
              <mat-error *ngIf="publisherApp.controls['appType'].hasError('require')" class="materror_2">
                App Type is required.
              </mat-error>

              <mat-select class="inputBox mb-1" placeholder="Select Market" formControlName="marketSel"
									  [(value)]="selectedMarketPlace" (selectionChange)="onMarketChange()" [disabled]="currentTab == 3 ? false : true ">
                    <mat-option value="1"><img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> US</mat-option>
                    <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2">India</mat-option>                                      
              </mat-select>
              <mat-error *ngIf="publisherApp.controls['marketSel'].hasError('require')" class="materror_2">
                Market is required.
              </mat-error>

              <mat-select class="inputBox" placeholder="App Category" aria-label="App Category" formControlName="appCategory" [disabled]="currentTab == 3 ? false : true ">
                <div *ngFor="let option of uniqueSities">
                  <mat-option  [value]="option">
                      <label>{{option}}</label>
                  </mat-option>
                </div>                                      
              </mat-select>
              <mat-error *ngIf="publisherApp.controls['appCategory'].hasError('require')">
                App Category is required
              </mat-error>
            </div>
          </form>
          <!-- <p class="mt-3">Want to add more platforms? <a [routerLink]="['/publisher/platformCreation']"
              class="mainColor tdu">Click
              here.</a>
          </p> -->
          <div id="step3" class="mt-4 tac"
            [ngClass]="{'dBlock1':currentTab == 3 || id, 'dNone1' : currentTab != 3 && !id}">
            <button type="button" id="prevBtn1" class="primaryBtn mainColor mainBordercolr"
              [disabled]="currentTab == 3 ? false : true " (click)="prevView(-1)">Back</button>
            <button type="button" class="primaryBtn mainColor mainBordercolr" (click)="validatePlatformDetails()">Submit</button>
          </div>
        </div>
      </div>
      <div class="tab boxDiv mt-3 mb-3" *ngIf="platformStatus == 'added'">
        <h2 class="boxHeading tac bgNone bColor">Manage Platform</h2>
        <div class="p-4 tac">
          <h6 class="h6 mb-4">To view and manage all your registered platforms, click on the tab below</h6>
          <div class="tac mb-3" *ngIf="currentTab != 3">
            <img src="./assets/images/Pub_helpbgImg.svg" class="dNone" width="40%" height="40%" alt="Help">
          </div>
          <div class="tac mb-3" *ngIf="currentTab == 3">
            <img src="./assets/images/manageAssets.svg" class="dNone dBlock" width="80%" height="80%" alt="Help">
          </div>
          <div id="step3" class="mt-4 tac" *ngIf = "id && userDetails.hasPersonalProfile">
            <button type="button" class="primaryBtn mainColor mainBordercolr">
              <span [routerLink]="['/publisher/platformManage']">Manage</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>