.webMobile { padding:2px 7px!important;}
.success-icon-firstname{
	position: absolute;
    right: 45px;
    top: 288px;
}
.success-icon-lastname{
	position: absolute;
    right: 45px;
    top: 333px;
}
.success-icon-org{
	position: absolute;
    right: 45px;
    top: 380px;
}
.success-icon-add1{
	position: absolute;
    right: 45px;
    top: 255px;
}
.success-icon-add2{
	position: absolute;
    right: 45px;
    top: 300px;
}
.success-icon-sitename{
	position: absolute;
    right: 45px;
    top: 277px;
}
.success-icon-sitelink{
	position: absolute;
    right: 45px;
    top: 323px;
}
a.disabled {
	color: gray;
	cursor: not-allowed;
	text-decoration: underline;
}
.error_2_icon {
    border-radius: 50%;
    height: 15px !important;
    width: 28px !important;
    margin: 5px 5px 0px 8px;
    line-height: 15px;
    text-align: center;
    float: left;
    margin-left: 0px;
    width: 16px !important;
    height: 15px !important;
  }
  .materror{ position: relative; top: -7px !important;}
  .materror_2{position: relative; top: -5px !important;}