<manifest>
    <application>
        <meta-data
        android:name="com.doceree.androidadslibrary.ads.APPLICATION_ID"
        android:value="[your test or live key]" />
    </application>
</manifest>