<script src='https://dr15zo9o33078.cloudfront.net/script/render-header.js'></script>
<script>
    var hcpContext;
    
    function docereeLogIn(userObj) {
        if (!hcpContext) {
            hcpContext = userObj;
            if (typeof setDocereeContext === 'function') {
                setDocereeContext(hcpContext);
            }
        }
    };

    function docereeLogOut() {
        document.cookie = _docereeContext + '=; Max-Age=-99999999;';
    };
</script>