<div class="mainDiv advertiserDiv">
<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 mainBGcolor">
    <div class="fixedWidth">    
      <a *ngIf ="hasPersonalProfile" class="navbar-brand logo" routerLink="/advertiser/dashboard"><img src="assets/images/new_logo.png" width="34" height="34" alt="logo"></a>
      <a *ngIf ="!hasPersonalProfile" class="navbar-brand logo op05"><img src="assets/images/new_logo.png" width="34" height="34" alt="logo"></a>

          <div class="topInfoIcons">
              <ul>
                <li id="siteclick_9" matTooltip="Help" matTooltipClass="text-primary bgNone fs13">
                    <a *ngIf ="hasPersonalProfile && rolePermissions && rolePermissions.includes('view_support_ticket')" class="helpShowHide" (click)="toggleAskAQuestion()">
                      <span [ngClass]="{'menuActive' : showQuestionInfo}"> </span>
                      <i class="icon-1"></i>
                    </a>
                    <a *ngIf ="hasPersonalProfile && rolePermissions && !rolePermissions.includes('view_support_ticket')" class="op05">
                        <span> </span>
                        <i class="icon-1"></i>
                    </a>
                    <a *ngIf ="!hasPersonalProfile" class="op05">
                        <span> </span>
                        <i class="icon-1"></i>
                    </a>
                </li>

                <li id="siteclick_1" matTooltip="Manage Payments" matTooltipClass="text-primary bgLGRColor_2 fs13">
                    <a (click)="gotoPayments()" *ngIf = "hasPersonalProfile && rolePermissions && rolePermissions.includes('view_payment_method')">
                        <span [ngClass]="{'menuActive' : showPaymentInfo}"></span>
                        <i class="icon-9"></i>
                    </a>

                    <a *ngIf = "hasPersonalProfile && rolePermissions && !rolePermissions.includes('view_payment_method')" class="op05">
                        <span ></span>
                        <i class="icon-9"></i>
                    </a>
                    <a *ngIf ="!hasPersonalProfile" class="op05">
                        <span> </span>
                        <i class="icon-9"></i>
                    </a>
                </li>

                <li id="siteclick_8" matTooltip="Manage Accounts" matTooltipClass="text-primary bgLGRColor_2 fs13">
                    <a *ngIf ="hasPersonalProfile && rolePermissions && rolePermissions.includes('view_brand')" class="platformShowHide" (click)="toggleBrandPanel()">
                        <span [ngClass]="{'menuActive' : showBrandInfo}"></span>
                        <i class="icon-2"></i>
                    </a>
                    <a *ngIf ="hasPersonalProfile && rolePermissions && !rolePermissions.includes('view_brand')" class="op05">
                        <span></span>
                        <i class="icon-2"></i>
                    </a>
                    <a *ngIf ="!hasPersonalProfile" class="op05">
                        <span></span>
                        <i class="icon-2"></i>
                    </a>
                </li>
                <li id="siteclick_4" matTooltip="Notifications" matTooltipClass="text-primary bgLGRColor_2 fs13" >
                    <a *ngIf= "hasPersonalProfile" (click)="toggleNotification()" >
                        <span [ngClass]="{'menuActive' : showNotificationInfo}"></span>
                        <i class="icon-77 fw"></i>
                        <span *ngIf="unreadNotificationCount" class="badge">{{unreadNotificationCount}}</span>
                    </a>
                    <a *ngIf ="!hasPersonalProfile" class="op05">
                        <span></span>
                        <i class="icon-77 fw"></i>
                    </a>
                </li>
                <li matTooltip="Manage Profile" matTooltipClass="text-primary bgLGRColor_2 fs13">
                    <a  (click)="toggleProfilePanel()">
                        <span [ngClass]="{'menuActive' : showProfileInfo}"></span>
                        <i class="icon-3"></i>
                    </a>
                </li>
              </ul>
          </div>
    </div>    
</nav>
<div class="fixedWidth">
    <nav class="sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column" *ngIf = "hasPersonalProfile">
                <li id="siteclick_2" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('add_campaign')">
                <a [ngClass]="(immediateChildRoute=='audience')?'advertiser-active':'advertiser-light'" class="nav-link" routerLink="/advertiser/audience" routerLinkActive="leftMenuActive">
                    <span class="menuActive mainBGcolor"></span>
                    <i class="icon-39" [ngClass]="(immediateChildRoute=='audience')?'advertiser-active':'advertiser-light'"></i>
                    Audience
                </a>
                </li>
                <li id="siteclick_2" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('add_campaign')">
                    <a class="nav-link">
                        <span class="mainBGcolor"></span>
                        <i class="icon-39"></i>
                        Audience
                    </a>
                </li>
                <li id="siteclick_3" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('add_campaign')">
                <a [ngClass]="(immediateChildRoute=='campaignCreation')?'advertiser-active':'advertiser-light'" class="nav-link" routerLink="/advertiser/campaignCreation" routerLinkActive="leftMenuActive">
                    <span class="menuActive mainBGcolor"></span>
                    <i class="icon-6" [ngClass]="(immediateChildRoute=='campaignCreation')?'advertiser-active':'advertiser-light'"></i>
                    New Campaign
                </a>
                </li>
                <li id="siteclick_3" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('add_campaign')">
                    <a class="nav-link">
                        <span class="mainBGcolor"></span>
                        <i class="icon-6"></i>
                        New Campaign
                    </a>
                </li>
                <li id="siteclick_6" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('view_campaign')">
                    <a [ngClass]="(immediateChildRoute=='campaignManage')?'advertiser-active':'advertiser-light'" class="nav-link mainColor" routerLink="/advertiser/campaignManage" routerLinkActive="leftMenuActive">
                        <span class="menuActive mainBGcolor"></span>
                        <i [ngClass]="(immediateChildRoute=='campaignManage')?'advertiser-active':'advertiser-light'" class="icon-7 mainColor"></i>
                        Manage Campaigns
                    </a>
                </li>
                <li id="siteclick_6" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('view_campaign')">
                    <a class="nav-link mainColor">
                        <span class="mainBGcolor"></span>
                        <i class="icon-7 mainColor"></i>
                        Manage Campaigns
                    </a>
                </li>
                <li id="siteclick_7" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('view_campaign')">
                    <a [ngClass]="(immediateChildRoute=='drafts')?'advertiser-active':'advertiser-light'" class="nav-link mainColor" routerLink="/advertiser/drafts" routerLinkActive="leftMenuActive">
                        <span class="menuActive mainBGcolor"></span>
                        <i [ngClass]="(immediateChildRoute=='drafts')?'advertiser-active':'advertiser-light'" class="icon-36 mainColor"></i>
                        Drafts
                    </a>
                </li>
                <li id="siteclick_7" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('view_campaign')">
                    <a class="nav-link mainColor" >
                        <span class="mainBGcolor"></span>
                        <i class="icon-36 mainColor"></i>
                        Drafts
                    </a>
                </li>
                <li class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('view_creative_hub')">
                    <a [ngClass]="(immediateChildRoute=='creativeHUB')?'advertiser-active':'advertiser-light'" class="nav-link " routerLink="/advertiser/creativeHUB" routerLinkActive="leftMenuActive">
                        <span class="menuActive mainBGcolor"></span>
                        <i [ngClass]="(immediateChildRoute=='creativeHUB')?'advertiser-active':'advertiser-light'" class="icon-51 mainColor"></i>
                        Creative Hub
                    </a>
                </li>
                <li class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('view_creative_hub')">
                    <a class="nav-link mainColor">
                        <span class="mainBGcolor"></span>
                        <i class="icon-51 mainColor"></i>
                        Creative Hub
                    </a>
                </li>
                <li id="siteclick_5" class="nav-item" *ngIf = "rolePermissions && rolePermissions.includes('view_analytics')">
                    <a [ngClass]="(immediateChildRoute=='analytics')?'advertiser-active':'advertiser-light'" class="nav-link " routerLink="/advertiser/analytics" routerLinkActive="leftMenuActive">
                        <span class="menuActive mainBGcolor"></span>
                        <i [ngClass]="(immediateChildRoute=='analytics')?'advertiser-active':'advertiser-light'" class="icon-8 mainColor"></i>
                        Analytics
                    </a>
                </li>
                <li id="siteclick_5" class="nav-item op05" *ngIf = "rolePermissions && !rolePermissions.includes('view_analytics')">
                    <a class="nav-link mainColor">
                        <span class="mainBGcolor"></span>
                        <i class="icon-8 mainColor"></i>
                        Analytics
                    </a>
                </li>
            </ul>

            <ul class="nav flex-column op05" *ngIf = "!hasPersonalProfile">
                <li class="nav-item">
                    <a class="nav-link mainColor">
                        <span class="mainBGcolor"></span>
                        <i class="icon-6 mainColor"></i>
                        New Campaign
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mainColor">
                        <span class="mainBGcolor"></span>
                        <i class="icon-7 mainColor"></i>
                        Manage Campaigns
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mainColor" >
                        <span class="mainBGcolor"></span>
                        <i class="icon-36 mainColor"></i>
                        Drafts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mainColor">
                        <span class="mainBGcolor"></span>
                        <i class="icon-51 mainColor"></i>
                        Creative Hub
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mainColor">
                        <span class="mainBGcolor"></span>
                        <i class="icon-8 mainColor"></i>
                        Analytics
                    </a>
                </li>
            </ul>
        </div>
    </nav>
	<main role="main" [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
        <router-outlet #o="outlet"></router-outlet>
	</main>
</div>
</div>
<div class="brandShowDiv rightSlide" *ngIf="showBrand">
    <app-brands-panel (toggleBrand)="showBrand=false" [useremail]="useremail"></app-brands-panel>
</div>
<div class="rightSlide ml-4 mr-4 heigth-auto w-20" *ngIf="showProfile">
	<app-profile-panel (toggleProfile)="showProfile = false" (toggleProfileIcon)="activeProfileIcon=false"></app-profile-panel>
</div>
<div class="helpShowDiv rightSlide" *ngIf="showQuestion">
	<app-advertiser-ask-a-question (toggleAskAQuestion)="showQuestion=false" [useremail]="useremail"></app-advertiser-ask-a-question>
</div>
<div class="rightSlide notification_height" *ngIf="showNotification">
    <app-notifications-panel (toggleNotification)="showNotification=false"></app-notifications-panel>
</div>

