.heigth-auto {
    height: auto;
}
.w-20 {
    width: 20%;
}

.fa-search:before{
    content: "\e906"!important;
}
.op05{
    opacity: 0.5;
}
.badge {  
    position: absolute;  
   top: -10px;  
   right: -10px;  
   padding: 2px 5px;  
   border-radius: 50%;  
   background-color: red;  
   color: white;  
 }  
 .notification_height{
    height: 100%;
    margin-top: -50px;
}

.advertiser-light{ color:#696a6b !important;}
.advertiser-active{ color:#6b3ffc !important;}
