table {
    width: 100%;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #4086ff!important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(255, 255, 255, 0.54)!important;
  border: 1px solid lightgray!important;
}
.mat-slide-toggle.mat-disabled {
  opacity: 0.9;
}
