<ul class="nav nav-pills mt-4 tabsStyles" role="tablist">
    <li class="nav-item"> <a class="nav-link fs14 fw600 bgNone brr0" data-toggle="pill" href="#smtpTab">SMTP</a></li>
    <li class="nav-item"> <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#mailTempTab">E-Mail Template</a></li>
    <li class="nav-item"> <a class="nav-link active fs14 fw600 brr0 bgNone" data-toggle="pill" href="#userolespermTab">User Roles & Permissions</a></li>
    <li class="nav-item"> <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#countryCurrency">Country & Currency</a></li>
    <li class="nav-item"> <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#schedulePayments">Schedule Payments</a></li>
    <li class="nav-item"> <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#publisherBidRange">Publisher</a></li>
  </ul>
  <div class="tab-content mb-5">
      <div id="smtpTab" class="tab-pane">
          <!--<div class="table-responsive boxDiv mt-3">
              <table class="table table-striped tableStyles">
                  <thead>
                  <tr class="mainBGcolor wColor">
                    <th class="fs18 fw600">Category</th>
                    <th class="fs18 fw600">Host</th>
                    <th class="fs18 fw600">Port</th>
                    <th class="fs18 fw600">Secure</th>
                    <th class="fs18 fw600">User</th>
                    <th>
                      <button routerLink="/admin/config" (click)="openDialog()" class="primaryBtn brwColor float-right wColor font-weight-normal"><i class="icon-6 fs16 fw600"></i> Add SMTP</button>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>Single</td>
                        <td>gmail</td>
                        <td>549</td>
                        <td>true</td>
                        <td>xads@gmail.com</td>
                        <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
                      </tr>
                      <tr>
                        <td>Multiple</td>
                        <td>gmail</td>
                        <td>549</td>
                        <td>true</td>
                        <td>xads@gmail.com</td>
                        <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
                      </tr>
                  </tbody>
              </table>
              
            </div>-->
            <div class="table-responsive boxDiv mt-3">
            <table class="table table-striped tableStyles mat-elevation-z8" mat-table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Category Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef class="wColor"> Category </th>
                  <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>
              
                <!-- Host Column -->
                <ng-container matColumnDef="host">
                  <th mat-header-cell *matHeaderCellDef class="wColor"> Host </th>
                  <td mat-cell *matCellDef="let element"> {{element.host}} </td>
                </ng-container>
              
                <!-- Port Column -->
                <ng-container matColumnDef="port">
                  <th mat-header-cell *matHeaderCellDef class="wColor"> Port </th>
                  <td mat-cell *matCellDef="let element"> {{element.port}} </td>
                </ng-container>
              
                <!-- Secure Column -->
                <ng-container matColumnDef="secure">
                  <th mat-header-cell *matHeaderCellDef class="wColor"> Secure </th>
                  <td mat-cell *matCellDef="let element"> {{element.secure}} </td>
                </ng-container>
              
                <!-- UserName Column -->
                <ng-container matColumnDef="user">
                  <th mat-header-cell *matHeaderCellDef class="wColor"> UserName </th>
                  <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                </ng-container>
              
                <!-- UserName Column -->
                <ng-container matColumnDef="createDate">
                  <th mat-header-cell *matHeaderCellDef class="wColor"> Active state </th>
                  <td mat-cell *matCellDef="let element"> 
                      <section class="example-section">
                          <mat-slide-toggle [(ngModel)]="element.activestate"
                              class="example-margin" [color]="accent" [disabled]="true">
                          </mat-slide-toggle>
                        </section>
                  </td>
                </ng-container>
              
                <ng-container  matColumnDef="addsmtp">
                      <th mat-header-cell *matHeaderCellDef>
                        <button routerLink="/admin/config" (click)="openDialog()" class="primaryBtn brwColor float-right wColor font-weight-normal"><i class="icon-6 fs16 fw600"></i> Add SMTP</button>
                      </th>
                      <td mat-cell *matCellDef="let element" align="center"><a (click)="editSMTPDetails(element._id)" class="mainColor tdu mr-3"> Edit</a> <a  (click)="deleteSMTPDetails(element)" class="mainColor tdu">Remove</a> </td>
                </ng-container>

                <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>          
      </div>
      <div id="mailTempTab" class="tab-pane mt-4">
        email template tab 
      </div>
      <div id="userolespermTab" class="tab-pane active">
        <app-use-role-permissions></app-use-role-permissions>
      </div>
      <div id="countryCurrency" class="tab-pane">
          <app-country-currency></app-country-currency>
      </div>
      <div id="schedulePayments" class="tab-pane">
        <app-schedulepayments></app-schedulepayments>
    </div>
    <div id="publisherBidRange" class="tab-pane">
      <app-publisher-bidrange></app-publisher-bidrange>
    </div>
  </div>
  