<div  class="bgImg" style="top:60px; right:-30px; z-index:-1"><img alt="AdvanalyticsBg" src="assets/images/manageAssetsPub.png" style="width:300px; height:240px;"></div>
<div class="pt-4 mb40">
  <h1 class="h2">Manage Campaigns</h1>
  <h6 class="h6 mt-1 fwn lineheight">You can access advanced analytics regarding the duration, spends, and costs for every past and present campaign, all in one place. <br>You can also edit, pause, or delete campaigns depending on their performance</h6>
</div>

<form>
  <div class="filterSearchDiv clearfix">
    <div class="searchDiv">
      <div class="boxDiv br1 mainBordercolr">
		<div class="col-md-12">
			<div class="row">
			  <div class="col-1 searchIcon"><i class="icon-5 fs18 mainColor"></i></div>
			  <input class="br0 focus col-8 fs12 searchBox" type="text" (keyup)="searchCampaign(name.value);" name="campaign" #name [(ngModel)]='campaign' placeholder="Type a campaign/sub campaign name...">
			  <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0" (click)="searchCampaign(name.value);">Search</button>
			</div>
		</div>
      </div>
    </div>
      
    <div class="filterDiv">
      <div class="boxDiv">
        <div class="row">
          <div class="col-7 mt14">
            <a (click)="displayFilters()" class="filterShowHide mainColor h6 pl-3">
              Filter 
              <i *ngIf="!Showfilters" class="icon-48 grColor fs16 pl-2 float-right"></i>
              <i *ngIf="Showfilters" class="icon-47 grColor fs16 pl-2 float-right"></i>
            </a>
          </div>
          <div class="col-5 brl1 grColor pt-2 pb-2">
            <a (click)="displayView()" class="mainColor float-left mt-1">
              <i [ngClass]="{ 'icon-61': grid === true, 'icon-57': grid === false }" class=" fs24"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
      
    <!-- <div class="col-4 col-md-3 pt-4 mt-1">
      <div class="float-left mr-2 fw600 fs14">Showing active campaigns</div>
      <label class="switchBtn">
        <input type="checkbox" name="isChecked" [(ngModel)]="isChecked"
          (change)="filterChange(isChecked?'Active':'All')">
        <span class="sliderBtn round"></span>
      </label>
    </div> -->
  </div>
    
  <div class="filterShowDiv mt-3" [ngStyle]="{ 'display': Showfilters === true ? 'block' : 'none' }">
    <div class="boxDiv p-3" style="margin-top: -10px;">
        <div class="allInputBoxs">
            <div class="boxsInput">
              <div class="inputBox clearfix dateIcon opDetails inputBox_cle">
                <input matInput [matDatepicker]="startDate" id="startDate" name="startDate"  placeholder="From date" [(ngModel)]="sDate"
                [min]="startDateMin" [max]="startDateMax"  (dateInput)="addStartDateEvent('input', $event)" readonly>
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </div>
            </div>
            <div class="boxsInput">
              <div class="inputBox clearfix dateIcon opDetails inputBox_cle">
                <input matInput [matDatepicker]="endDate" id="endDate" name="endDate" placeholder="To date"
                  [(ngModel)]="eDate" [min]="sDate" [max]="endDateMax" (dateInput)="addEndDateEvent('input', $event)" readonly>
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </div>
            </div>
            <div class="boxsInput">
              <mat-select class="mat_option" placeholder="Filter by type" name="type" [(ngModel)]="type">
                <div *ngFor="let type of typeList; let i = index">
                  <mat-option [value]="type">
                      <label class="mb-0">{{type}}</label>
                  </mat-option>
                </div>                                      
              </mat-select>
            </div>
            <div class="boxsInput">
              <mat-select class="mat_option" placeholder="Filter by author" name="createdBy" [(ngModel)]="createdBy">
                <div *ngFor="let createdBy of filteredAdvertisers; let i = index">
                  <mat-option [value]="createdBy">
                      <label class="mb-0">{{createdBy}}</label>
                  </mat-option>
                </div>                                      
              </mat-select>
            </div>
            <div class="boxsInput">
              <mat-select class="mat_option" placeholder="Filter by status" name="status" [(ngModel)]="status">
                <div *ngFor="let status of statusList; let i = index">
                  <mat-option [value]="status">
                      <label class="mb-0">{{status}}</label>
                  </mat-option>
                </div>                                      
              </mat-select>
            </div>  
        </div>
        
        <div class="rightBts">
          <button class="primaryBtn mainColor mainBordercolr" (click)="filterCampaign();">Apply</button>
            <button class="primaryBtn mainColor mainBordercolr" (click)="clearFilters();">Clear</button>
        </div>
    </div>
  </div>
</form>

<div *ngIf="!grid" class="table-responsive boxDiv listViewTable mt14" >
  <table mat-table [dataSource]="filteredCampaigns" matSort (matSortChange)="sortData($event)" multiTemplateDataRows class="tableStyles"
    *ngIf="filteredCampaigns && filteredCampaigns.length">
    <ng-container matColumnDef="campaignName">
      <th mat-header-cell *matHeaderCellDef class="w-10" mat-sort-header="name" class="camp-aero" [matTooltip]="advertiser_manage_campaigns_campaign">Campaign </th>
      <td mat-cell *matCellDef="let element" class="w-10">{{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="status" class="camp-aero"> 
        Status
        <span tooltip-class="text-left" theme="light" placement="bottom" tooltip="
          <div class='tooltipIconText'>
            <i class='icon-17 fs11 text-danger'></i><span class='ml-2'>Error</span>
          </div> 
          <div class='tooltipIconText'>
            <i class='icon-60 fs11 text-warning'></i><span class='ml-2'>Under review</span>
          </div>
          <div class='tooltipIconText'>
            <i class='icon-18 fs11 text-success'></i><span class='ml-2'>Active</span>
          </div>
          <div class='tooltipIconText'>
            <i class='icon-58 fs11 text-primary'></i><span class='ml-2'>Paused</span>
          </div>
          <div class='tooltipIconText'>
            <i class='icon-65 fs11 text-info'></i><span class='ml-2'>Recently completed</span>
          </div>
          <div class='tooltipIconText'>
            <i class='icon-18 fs11 text-muted'></i><span class='ml-2'>Completed</span>
          </div>
        ">
        <i [matTooltip]="advertiser_manage_campaigns_status" class="icon-78 fs9 wdColor tradMak"></i>
        </span>
      </th>
      <td mat-cell *matCellDef="let element" class="">
      <span tooltip-class="text-left" theme="light" tooltip="{{element.status}}" placement="bottom">
        <i *ngIf="element.status === SubcampaignStatus.error" class="icon-17 fs14 text-danger"></i>
        <i *ngIf="element.status === SubcampaignStatus.underReview" class="icon-60 fs14 text-warning"></i>
        <i *ngIf="element.status === SubcampaignStatus.approved" class="icon-18 fs14 text-success"></i>
        <i *ngIf="element.status === SubcampaignStatus.paused" class="icon-58 fs14 text-primary"></i>
        <i *ngIf="element.status === SubcampaignStatus.recentlyCompleted" class="icon-65 fs14 text-info"></i>
        <i *ngIf="element.status === SubcampaignStatus.completed" class="icon-18 fs14 text-muted"></i>
      </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="campImage" class="w-10">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" class="">
        <div>
            <div class="blank_img"></div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="brandName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="brandName" class="camp-aero"> Brand </th>
      <td mat-cell *matCellDef="let element" class="">{{element.brandName}} </td>
    </ng-container>
    <ng-container matColumnDef="From date" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="startDate" class="camp-aero" [matTooltip]="advertiser_manage_campaigns_from_date"> From Date </th>
      <td mat-cell *matCellDef="let element" class="">
        {{element.startDate | date: 'd MMM yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="To date" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="endDate" class="camp-aero" [matTooltip]="advertiser_manage_campaigns_to_date"> To Date </th>
      <td mat-cell *matCellDef="let element" class="">
        {{element.endDate | date: 'd MMM yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="Spend">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="campaingSpend" class="camp-aero" [matTooltip]="advertiser_manage_campaigns_spends"> Spend </th>
      <td mat-cell *matCellDef="let element" class="">
          {{(element.campaingSpend && element.campaingSpend > 0) ? (currencySymbol+(element.campaingSpend|number:'1.0-0')) : '-'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="Reach" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="campaingReach" class="camp-aero" [matTooltip]="advertiser_manage_campaigns_reach"> Reach </th>
      <td mat-cell *matCellDef="let element" class="">
          {{(element.campaingReach && element.campaingReach > 0) ? (element.campaingReach| number:'.0-1') : '-'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef class="">
      </th>
      <td mat-cell *matCellDef="let element" class="">
        <a class="mainColor tdu ml-3" (click)="toggleExpand(element)"><i class="icon-48 fs20 grColor"></i></a>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="wColor fs15 text-wrap"></th>
      <td mat-cell *matCellDef="let element" class="dropdown pl-4 text-right">
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf = "element.assetStatus !== 'inactive'">
          <!--<i class="icon-59 fs18 mainColor fw"></i>-->
          <button class="dropboxIcons br0 bgNone publisherDiv" *ngIf = "rolePermissions && rolePermissions.includes('view_analytics')">
            <i class="icon-27 fs16 mainColor" (click)="navigateToCampaignAnalytics(element.brandId, element._id)"></i>
          </button>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf = "rolePermissions && rolePermissions.includes('edit_campaign')" class="dropboxIcons br0 bgNone publisherDiv">
            <i class="icon-25 fs16 mainColor" (click)="editCampaign(element._id, element.brandId, element.name)"></i>
          </button>
          <button *ngIf = "rolePermissions && rolePermissions.includes('delete_campaign')" class="dropboxIcons br0 bgNone publisherDiv">
            <i class="icon-26 fs16 mainColor" (click)="deleteCampaign(element._id)"></i>
          </button>
          <button class="dropboxIcons br0 bgNone publisherDiv" *ngIf = "rolePermissions && rolePermissions.includes('view_analytics')">
            <i class="icon-27 fs16 mainColor" (click)="navigateToCampaignAnalytics(element.brandId, element._id)"></i>
          </button>
        </mat-menu>
      </td>
    </ng-container>
  
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element; let i = dataIndex;" [ngClass]="{hideRow: !element.showExpand}" [attr.colspan]="columnsToDisplay.length">
        <div *ngIf="element.showExpand" class="manage-element-detail">
          <div class="w-100 br1 brr4 brCColor " *ngIf="element.filteredSubCampaign &&element.filteredSubCampaign.length" style="border-top: 0px !important;">
            <table class="table fs12 " matSort (matSortChange)="sortSubCampaignData($event, i)">
              <thead>
                <tr class="table-light">
                  <th mat-sort-header="creativeType" [matTooltip]="advertiser_analytics_behaviour_top_campaigns">Type</th>
                  <th class="w-10" mat-sort-header="name" [matTooltip]="advertiser_manage_campaigns_campaign">Sub-campaign Name</th>
                  <th mat-sort-header="status" [matTooltip]="advertiser_manage_campaigns_status">Status</th>
                  <th mat-sort-header="operationalDetails.startDate" [matTooltip]="advertiser_manage_campaigns_from_date">From Date</th>
                  <th mat-sort-header="operationalDetails.endDate" [matTooltip]="advertiser_manage_campaigns_to_date">To Date</th>
                  <th mat-sort-header="transactionalData[0].TotalAmount" [matTooltip]="advertiser_manage_campaigns_spends">Spends</th>
                  <th mat-sort-header="transactionalData[0].reachCount" [matTooltip]="advertiser_manage_campaigns_reach">Reach</th>
                  <th mat-sort-header="transactionalData[0].Clicks" [matTooltip]="publisher_manage_assets_lifetime_clicks">Click</th>
                  <th mat-sort-header="transactionalData[0].Impressions" [matTooltip]="publisher_manage_assets_lifetime_impressions">Impressions</th>
                  <th mat-sort-header="transactionalData[0].CTR" [matTooltip]="advertiser_manage_campaigns_ctr">CTR</th>
                  <th mat-sort-header="transactionalData[0].CPM" [matTooltip]="advertiser_manage_campaigns_cpm">CPM</th>
                  <th mat-sort-header="transactionalData[0].CPC" [matTooltip]="advertiser_manage_campaigns_cpc">CPC</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subCampaign of element.filteredSubCampaign; let even=even" [ngClass]="{eeeBG: even}">
                  <td *ngIf="subCampaign.creativeType === 'Banner'"><i class="icon-12 fs18 mainColor fw600" style="margin-top:4px; display:block;"></i></td>
                  <td *ngIf="subCampaign.creativeType === 'Video'"><i class="icon-14 fs18 mainColor fw600" style="margin-top:4px; display:block;"></i></td>
                  <td class="w-10"><a>{{subCampaign.name}}</a></td>
                  <td>
                    <span tooltip-class="text-left" theme="light" tooltip="{{subCampaign.status}}" placement="bottom" style="margin-left:8px;">
                      <i *ngIf="subCampaign.status === SubcampaignStatus.error" class="icon-17 fs14 text-danger"></i>
                      <i *ngIf="subCampaign.status === SubcampaignStatus.underReview" class="icon-60 fs14 text-warning"></i>
                      <i *ngIf="subCampaign.status === SubcampaignStatus.approved" class="icon-18 fs14 text-success"></i>
                      <i *ngIf="subCampaign.status === SubcampaignStatus.paused" class="icon-58 fs14 text-primary"></i>
                      <i *ngIf="subCampaign.status === SubcampaignStatus.recentlyCompleted" class="icon-65 fs14 text-info"></i>
                      <i *ngIf="subCampaign.status === SubcampaignStatus.completed" class="icon-18 fs14 text-muted"></i>
                    </span>
                  </td>
                  <td>{{subCampaign.operationalDetails.startDate | date: 'd MMM yyyy'}}</td>
                  <td>{{subCampaign.operationalDetails.endDate | date: 'd MMM yyyy'}}</td>
                  <td>{{(subCampaign.transactionalData.length > 0) ? (currencySymbol+(subCampaign.transactionalData[0].TotalAmount|number: '1.0-0')) : '-'}}</td>
                  <td>{{(subCampaign.transactionalData.length > 0) ? subCampaign.transactionalData[0].reachCount : '-'}}</td>
                  <td>{{(subCampaign.transactionalData.length > 0) ? subCampaign.transactionalData[0].Clicks : '-'}}</td>
                  <td>{{(subCampaign.transactionalData.length > 0) ? subCampaign.transactionalData[0].Impressions : '-'}}</td>
                  <!--clicks ÷ impressions = CTR-->
                  <td>{{(subCampaign.transactionalData.length > 0 && (subCampaign.transactionalData[0].Impressions != null && subCampaign.transactionalData[0].Impressions > 0 && subCampaign.transactionalData[0].Clicks != null)) ? ((((subCampaign.transactionalData[0].Clicks/subCampaign.transactionalData[0].Impressions) * 100)|number: '1.0-0') + '%') : '-'}}</td>
                  <td>{{(subCampaign.transactionalData.length > 0 && subCampaign.transactionalData[0].CPM != null) ? (currencySymbol+(subCampaign.transactionalData[0].CPM|number: '1.0-0')) : '-'}}</td>
                  <td>{{(subCampaign.transactionalData.length > 0 && subCampaign.transactionalData[0].CPC != null) ? (currencySymbol+(subCampaign.transactionalData[0].CPC|number: '1.0-0')) : '-'}}</td>
                  <td class="dropdown">
                    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf = "subCampaign.status != SubcampaignStatus.completed">
                        <i class="icon-59 fs18 mainColor fw"></i>
                    </button>
                    <button *ngIf = "rolePermissions && rolePermissions.includes('view_analytics') && (subCampaign.status === SubcampaignStatus.completed)" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                      <i class="icon-27 fs16 mainColor" (click)="navigateToSubCampaignAnalytics(element.brandId, element._id, subCampaign._id)"></i>
                    </button>
                    <mat-menu #menu="matMenu">

                      <button *ngIf = "rolePermissions && rolePermissions.includes('edit_campaign')" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                          <i class="icon-25 fs16 mainColor" (click)="editSubCampaign(element.brandId, element._id, subCampaign._id)"></i>
                      </button>

                      <button *ngIf="subCampaign.status === 'Paused' && rolePermissions && rolePermissions.includes('edit_campaign')" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                          <i  class="icon-29 fs16 mainColor" (click)="changedStatusToApprove(subCampaign, SubcampaignStatus.approved)"></i>
                      </button>

                      <button *ngIf="subCampaign.status === 'Active' && rolePermissions && rolePermissions.includes('edit_campaign')"class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                          <i  class="icon-28 fs16 mainColor" (click)="changedStatusToApprove(subCampaign, SubcampaignStatus.paused)"></i>
                      </button>

                      <button *ngIf = "subCampaign.status != SubcampaignStatus.recentlyCompleted && rolePermissions && rolePermissions.includes('delete_campaign')" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                          <i class="icon-26 fs16 mainColor" (click)="changedStatusToApprove(subCampaign, SubcampaignStatus.recentlyCompleted)"></i><!--deleteSubCampaign(subCampaign._id)-->
                      </button>

                      <button *ngIf = "rolePermissions && rolePermissions.includes('view_analytics')" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                          <i class="icon-27 fs16 mainColor" (click)="navigateToSubCampaignAnalytics(element.brandId, element._id, subCampaign._id)"></i>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="mainBGcolor wColor"></tr>
    <tr mat-row *matRowDef="let element; let even = even; columns: columnsToDisplay;" class="manage-element-row"
      [class.manage-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="manage-detail-row"></tr>
  </table>
</div>

<div *ngIf="grid" class="row mt-3 gridview">
  <div class="col-md-12" *ngIf="filteredCampaigns && filteredCampaigns.length">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let element of filteredCampaigns; first as isFirst;" [expanded]="isFirst">
        <mat-expansion-panel-header class="mainBGcolor wColor">
          <mat-panel-title>
            <span>Campaign: {{element.name}}, Brand: {{element.brandName}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row" *ngIf="element.filteredSubCampaign && element.filteredSubCampaign.length">
          <div class="col-md-3 mb-3" *ngFor="let subCampaign of element.filteredSubCampaign">
            <div class="boxDiv brr0 p-2">
              <div class="eeeBG mh-100 gridCampaignsTopDiv pb-4">
                <div class="position-relative mb-4">
                  <div class="position-absolute w-100">
                    <div class="row">
                      <div class="col-6 pt-2">
                        <a class="ml-2">
                          <i *ngIf="subCampaign.creativeType === 'Banner'" class="icon-12 fs20 mainColor fw600"></i>
                          <i *ngIf="subCampaign.creativeType === 'Video'" class="icon-14 fs20 mainColor fw600"></i></a>
                      </div>
                      <div class="col-6 dropdown">
                        <button class="float-right" mat-icon-button [matMenuTriggerFor]="menu" *ngIf = "subCampaign.status != SubcampaignStatus.recentlyCompleted && subCampaign.status != SubcampaignStatus.completed">
                          <i class="icon-59 fs18 mainColor fw"></i>
                        </button>
                        <button class="float-right" *ngIf = "rolePermissions && rolePermissions.includes('view_analytics') && (subCampaign.status === SubcampaignStatus.recentlyCompleted || subCampaign.status === SubcampaignStatus.completed)" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                          <i class="icon-27 fs16 mainColor" (click)="navigateToSubCampaignAnalytics(element.brandId, element._id, subCampaign._id)"></i>
                        </button>
                          <mat-menu #menu="matMenu">
      
                            <button *ngIf = "rolePermissions && rolePermissions.includes('edit_campaign')" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                                <i class="icon-25 fs16 mainColor" (click)="editSubCampaign(element.brandId, element._id, subCampaign._id)"></i>
                            </button>
      
                            <button *ngIf="subCampaign.status === 'Paused' && rolePermissions && rolePermissions.includes('edit_campaign')" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                                <i  class="icon-29 fs16 mainColor" (click)="changedStatusToApprove(subCampaign, 'Active')"></i>
                            </button>
      
                            <button *ngIf="subCampaign.status === 'Active' && rolePermissions && rolePermissions.includes('edit_campaign')"class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                                <i  class="icon-28 fs16 mainColor" (click)="changedStatusToApprove(subCampaign, 'Paused')"></i>
                            </button>
      
                            <button *ngIf = "rolePermissions && rolePermissions.includes('delete_campaign')" class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                                <i class="icon-26 fs16 mainColor" (click)="changedStatusToApprove(subCampaign, SubcampaignStatus.recentlyCompleted)"></i><!--deleteSubCampaign(subCampaign._id)-->
                            </button>
      
                            <button class="dropboxIcons br0 bgNone publisherDiv" [ngClass]="{'': element.isApproved, '': !element.isApproved}">
                              <a routerLink="/advertiser/brandAnalytics" ><i class="icon-27 fs16 mainColor"></i></a>
                            </button>
                          </mat-menu>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <!--<slideshow 
                      *ngIf="subCampaign.creativeType === 'Banner'"
                      [height]= "'148px'"
                      [autoPlay]= "false"
                      [showArrows]= "subCampaign.imageUrls.length > 1"
                      [arrowSize]= "'10px'"
                      [imageUrls]= "subCampaign.imageUrls"
                      [lazyLoad]= "subCampaign.imageUrls.length > 1"
                      [backgroundSize] = "'contain'"
                      [autoPlayWaitForLazyLoad]="true">
                  </slideshow>-->
                  <app-carouselshow *ngIf="subCampaign.creativeType === 'Banner'" [height]="'148px'" [imageUrls]="subCampaign.imageUrls"></app-carouselshow>
                </div>
                <video class="sub-camp-vid" *ngIf="subCampaign.creativeType === 'Video'" controls>
                  <source src="{{subCampaign.imageUrls[0]}}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="mt-2 mb-2 ellipse">
                <span tooltip-class="text-left" theme="light" tooltip="{{subCampaign.status}}" placement="bottom">
                  <i *ngIf="subCampaign.status === SubcampaignStatus.error" class="icon-17 fs14 text-danger"></i>
                  <i *ngIf="subCampaign.status === SubcampaignStatus.underReview" class="icon-60 fs14 text-warning"></i>
                  <i *ngIf="subCampaign.status === SubcampaignStatus.approved" class="icon-18 fs14 text-success"></i>
                  <i *ngIf="subCampaign.status === SubcampaignStatus.paused" class="icon-58 fs14 text-primary"></i>
                  <i *ngIf="subCampaign.status === SubcampaignStatus.recentlyCompleted" class="icon-65 fs14 text-info"></i>
                  <i *ngIf="subCampaign.status === SubcampaignStatus.completed" class="icon-18 fs14 text-muted"></i>
                </span>
                <span class="ml-2 smallHeadding">{{subCampaign.name}}</span>
                <h6 class="mt-1 fs11">{{subCampaign.operationalDetails.startDate | date: 'd MMM yyyy'}} -
                  {{subCampaign.operationalDetails.endDate | date: 'd MMM yyyy'}}</h6>
              </div>
              <div class="row">
                <div class="col-3">
                  <p class="grDColor mb-0 fs10">Spends</p>
                  <p><strong>{{(subCampaign.transactionalData.length > 0) ? (currencySymbol+(subCampaign.transactionalData[0].TotalAmount | number:'1.0-0')) : '-'}}</strong></p>
                </div>
                <div class="col-5">
                  <p class="grDColor mb-0 fs10">Impressions</p>
                  <p><strong>{{(subCampaign.transactionalData.length > 0) ? subCampaign.transactionalData[0].Impressions : '-'}}</strong></p>
                </div>
                <!--<div class="col-4">
                  <p class="grColor mb-0 fs13">Reach</p>
                  <p><strong>{{(subCampaign.transactionalData.length > 0) ? subCampaign.transactionalData[0].reachCount : '-'}}</strong></p>
                </div>-->
                <div class="col-4">
                  <p class="grDColor mb-0 fs10">Clicks</p>
                  <p><strong>{{(subCampaign.transactionalData.length > 0) ? subCampaign.transactionalData[0].Clicks : '-'}}</strong></p>
                </div>
              </div>
              <!--<div class="row">
                  <div class="col-4">
                    <p class="grColor mb-0 fs13">Views</p>
                    <p><strong>{{(subCampaign.transactionalData.length > 0) ? subCampaign.transactionalData[0].Views : '-'}}</strong></p>
                  </div>
                  <div class="col-4">
                    <p class="grColor mb-0 fs13">Impressions</p>
                    <p><strong>{{(subCampaign.transactionalData.length > 0) ? subCampaign.transactionalData[0].Impressions : '-'}}</strong></p>
                  </div>
              </div>-->
              <hr class="mt-0 mb-2">
              <div class="row">
                <div class="col-4">
                  <p class="grDColor mb-0 fs10">CPC</p>
                  <p class="mb-0"><strong>{{(subCampaign.transactionalData.length > 0 && subCampaign.transactionalData[0].CPC != null) ? (currencySymbol+(subCampaign.transactionalData[0].CPC | number:'1.0-0')) : '-'}}</strong></p>
                </div>
                <div class="col-4">
                  <p class="grDColor mb-0 fs10">CPM</p>
                  <p class="mb-0"><strong>{{(subCampaign.transactionalData.length > 0 && subCampaign.transactionalData[0].CPM != null) ? (currencySymbol+(subCampaign.transactionalData[0].CPM | number:'1.0-0')) : '-'}}</strong></p>
                </div>
                <div class="col-4">
                  <p class="grDColor mb-0 fs10">CTR</p>
                  <p class="mb-0"><strong>{{(subCampaign.transactionalData.length > 0 && (subCampaign.transactionalData[0].Impressions != null && subCampaign.transactionalData[0].Impressions > 0 && subCampaign.transactionalData[0].Clicks != null)) ? ((((subCampaign.transactionalData[0].Clicks/subCampaign.transactionalData[0].Impressions) * 100)| number:'.0-1') + '%') : '-'}}</strong></p>
                </div>
                <!--<div class="col-4">
                  <p class="grColor mb-0 fs13">CPV</p>
                  <p><strong>{{(subCampaign.transactionalData.length > 0 && subCampaign.transactionalData[0].CPV != null) ? (subCampaign.transactionalData[0].CPV| number:'.0-1') : '-'}}</strong></p>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="boxDiv brtrr0 brtlr0 col"*ngIf="filteredCampaigns && !filteredCampaigns.length">
  <p class="text-mutted  pl-0 pt-3 grDColor">No Records found !</p>
</div>
