table {
  width: 100%;
}

tr.manage-detail-row {
  height: 0;
}

tr.manage-element-row:not(.manage-expanded-row):hover {
  background: #f5f5f5;
}

tr.manage-element-row:not(.manage-expanded-row):active {
  background: #efefef;
}

.manage-element-row td {
  border-bottom-width: 0;
}

.manage-element-detail {
  overflow: hidden;
  display: flex;
}

.manage-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.manage-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.manage-element-description {
  padding: 16px;
}

.manage-element-description-attribution {
  opacity: 0.5;
}

.table {
  margin-bottom: 0;
}

.mat-table {
  font-family: 'Work Sans', sans-serif !important;
}

th.mat-header-cell {
  text-align: left;
  color: #fff;
}

.mat-sort-header-button {
  font-weight: 500;
}

td.mat-cell {
  padding: 0px;
}

input.mat-input-element {
  border-radius: 4px;
  width: 79% !important;
  border: none;
  padding: 0px 5px;
  margin: 0 !important;
  background: transparent;
  color: #333;
  position: relative;
  top: -6px;
}

.mat-expansion-panel-header-title {
  color: white !important;
}

.mat-expansion-panel {
  margin-bottom: 5px;
}

.mat-expansion-panel-spacing {
  margin: 0px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding: 15px !important;
}

.mat-expansion-panel {
  background: transparent !important;
  box-shadow: 0 0 0 -0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important;
}

.mat-expansion-panel-header {
  height: 30px !important;
  border-radius: 4px; padding-left: 15px !important; padding-right: 15px !important;
}

.sub-camp-vid {
  width: 100%;
  height: 165px !important;
  margin-top: -15px;
}

.mat_option {
  border-radius: 4px !important;
  width: 100% !important;
  border: 1.5px solid #eeeeeebd !important;
  font-size: 12px !important;
  padding: 8px 15px !important;
  margin: 0 !important;
}

.w-10 {
  width: 10% !important;
}

.fw-normal {
  font-weight: normal !important;
}

.blank_img {
  background: #d3dfe2;
  width: 30px;
  height: 30px;
}

::ng-deep .camp-aero .mat-sort-header-arrow {
  color: #ccc !important;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}

.ellipse {
  white-space: nowrap;
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallHeadding {
  font: 600 12px "Work Sans", sans-serif !important
}

.mat-expansion-panel-header {
  font-size: 12px !important;
  font-weight: 600 !important
}

.hideRow {
  display: none;
}


.br1 {
  border-width: 0.8px !important;
  border-style: solid !important;
}

.table thead th {
  border-bottom: 0.8px solid #ccc;
  border-top: 0.8px solid #ccc !important;
  border-radius: 10px !important;
}
mat-option label { margin-bottom: .0rem !important;;}
/*
.table thead th {
  border-bottom: 0.8px solid #ccc;
  border-top: 0.8px solid #ccc !important;
  border-radius: 10px !important;
}

.table td,
.table th {
  border-top: 0.8px solid #ccc !important;
}*/
input.mat-input-element{}