<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img alt="Doceree Logo" src="assets/DocereeIcon.PNG" /></span>
    <span class="spacer"></span>
    <a class="mat-button mr-1" color="title-headline" href="/register">Sign Up</a>
    |  <a class="ml-1 mat-button" href="/login">Log In</a>
  </mat-toolbar-row>
</mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Register</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span>
                <span class="sr-only">(error)</span>
                <div *ngIf="status === true" class="alert alert-success pl-3">
                    <mat-icon class="pt-2" *ngIf="message">done</mat-icon> {{ message }}
                </div>
                <div *ngIf="status === false" class="alert-danger pl-3">
                    <mat-icon class="pt-2" *ngIf="message">error</mat-icon> {{ message }}
                </div>
              </div>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName" placeholder="First Name" />
                <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">
                  First Name is required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName" placeholder="Last Name" />
                <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">
                  Last Name is required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" validateEmail placeholder="Email" />
                <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                  Email is required
                </mat-error>
                <mat-error *ngIf="registerForm.controls['email'].hasError('pattern')">
                  Enter a valid email address
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'"
                   minlength="6" required/>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                  Password is required
                </mat-error>
                <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                  Password must be at least 6 characters
                </mat-error>
                <mat-error *ngIf="registerForm.controls['password'].hasError('firstNameOrLastExists')">
                  Password should not contain first name or last name
                </mat-error>
                <mat-error *ngIf="registerForm.controls['password'].hasError('first4CharsExists')">
                    Password should not contain first 4 chars of first name or last name
                  </mat-error>
                <mat-error *ngIf="registerForm.controls['password'].hasError('validPassword')">
                  Password should contain uppercase, lowercase, numbers and special characters(!@#$&_)
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                [type]="confirmHide ? 'password' : 'text'" minlength="6" required/>
                <!--<mat-icon matSuffix (click)="confirmHide = !confirmHide">{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                  Confirm Password is required
                </mat-error>
                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('mustMatch')">
                  Passwords must match
                </mat-error>
              </mat-form-field>
              <div class="form-group">
                <app-password-strength-bar [passwordToCheck]="registerForm.controls['password'].value"
                  [barLabel]="barLabel">
                </app-password-strength-bar>
              </div>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>Select</mat-label>
                <mat-select formControlName="userType" placeholder="Select">
                  <mat-option value="">Select Usertype</mat-option>
                  <mat-option value="publisher">Publisher</mat-option>
                  <mat-option value="advertiser">Advertiser</mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.controls['userType'].hasError('required')">
                  Usertype is required
                </mat-error>
              </mat-form-field>
              <div class="form-group">
                <app-captcha-comp (captchatxt)="getCaptchaValue($event)"></app-captcha-comp>
                <input type="text" formControlName="captchaInput" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.captchaInput.errors }"
                  placeholder="Please type above captcha here!" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" [disabled]="captchaValue != f.captchaInput.value || !registerForm.valid">
                  Register
                </button>
                <span *ngIf="loading" class="spinner-grow spinner-grow-sm pl-2" role="status"
                  aria-hidden="true">Loading...</span>
                <a [routerLink]="['/login']" class="btn btn-link">Sign In</a>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
