.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/*.container {
  padding: 10px;
}*/

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 1px 0px 10px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
.registrationForm .logininputBox{    border: 1px solid #cbcbcb;  padding: 7px 15px; margin: 10px 0px !important;  font-size: 12px;  border-radius: 5px;
  background: transparent !important;}
  .password_icon{ position: absolute;right: -15px;top: 15px;}
  .invalidfeedback{ font-size: 11px; border: none; margin-top:5px;}
  .captcha { background: transparent;}
  .captcha_ref{ position: absolute; top: 0px;}
  .registrationForm .regloginBtl{ font-weight: bold; padding: 6px 30px;}
  .captcha_mt{ margin-top: 10px;}
  .rlFooter, a , p { font-size: 11px !important;}
  .h6{ font-weight: normal;}
  .text1{ font-size: 11px; line-height: 25px; font-weight: 600;;}  
.container_1 {display: block;position: relative;padding-left: 30px;margin-bottom: 12px;cursor: pointer;font-size: 11px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

/* Hide the browser's default radio button */
.container_1 input {position: absolute;opacity: 0;cursor: pointer;}
/* Create a custom radio button */
.checkmark_1 {position: absolute;top: -10px !important;left: -8px;height: 46px;width: 46px; background:url(/assets/registration-icons/play.svg) left top no-repeat;border-radius: 50%;}
/* On mouse-over, add a grey background color */
/* When the radio button is checked, add a blue background */
.container_1 input:checked ~ .checkmark_1 { background:url(/assets/registration-icons/play-hover.svg) left top no-repeat;
  }
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_1:after {content: "";position: absolute;display: none;}
label{ float:left; margin-right:10px;}
.container_2 {display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 11px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
/* Hide the browser's default radio button */
.container_2 input {position: absolute;opacity: 0;cursor: pointer;}
/* Create a custom radio button */
.checkmark_2 {position: absolute;top: 0;left: 0;height: 26px;width: 26px; background:url(/assets/registration-icons/plus.png) left top no-repeat;border-radius: 50%;}
/* On mouse-over, add a grey background color */
/* When the radio button is checked, add a blue background */
.container_2 input:checked ~ .checkmark_2 { background:url(/assets/registration-icons/plus-hover.png) left top no-repeat;}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_2:after {content: "";position: absolute;display: none;}
label{ float:left; margin-right:10px;}
.container_3 {display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 11px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

/* Hide the browser's default radio button */
.container_3 input {position: absolute;opacity: 0;cursor: pointer;}

/* Create a custom radio button */
.checkmark_3 {position: absolute;top: -10px !important;left: -8px;height: 46px;width: 46px;  background:url(/assets/registration-icons/share.svg) left top no-repeat;border-radius: 50%;}
/* On mouse-over, add a grey background color */
/* When the radio button is checked, add a blue background */
.container_3 input:checked ~ .checkmark_3 { background:url(/assets/registration-icons/share-hover.svg) left top no-repeat;}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_3:after {content: "";position: absolute;display: none;}
  