<div class="bodyBg">
  <div class="mainDiv container advertiserDiv">
    <div class="row">
      <div class="col-md-6">
        <div class="reglogo">
          <div>
            <a target="_blank" href="http://doceree.com/">
              <img src="./assets/images/logo2.png" width="242" height="59" alt="" />
            </a>
          </div>
        </div>
        <div class="col-md-10" *ngIf="registrationSuccess === false">       
          <h3 class="h4">CREATE ACCOUNT​</h3>
            <h1 class="h3" style="padding-bottom: 30px;">You are just two steps away​</h1>
        </div>
        <div class="col-md-9">
          <div class="registrationForm" *ngIf="registrationSuccess === false">        
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="invalidfeedback" *ngIf="errorMsg">
                {{ errorMsg }}
              </div>

          <div class="row mb-2" style="margin-bottom:0px !important;">
            <label class="col-form-label formLabel pwds text-dark" style="margin-top: -3px; text-transform: none;">Are you a:</label>
            
            <label class="container_1"><span class="text1" for="media-agency" style="padding-left: 5px;;">Advertiser</span> 
              <input id="media-agency" type="radio" value="media-agency" name="userType" formControlName="userType" checked="checked" (click)="selectIcon()">
              <span class="checkmark_1"></span>
            </label>
                        
          <!-- <label class="container_2"><span class="text1" for="brand">Brand</span> 
              <input id="brand" type="radio" value="brand" name="userType" formControlName="userType" (click)="selectIcon()">
              <span class="checkmark_2"></span>
            </label>--> 
                        
            <label class="container_3"><span class="text1"  for="publisher">Publisher</span>
              <input id="publisher" type="radio" value="publisher" name="userType" formControlName="userType" (click)="selectIcon()">
              <span class="checkmark_3"></span>
            </label>
                    
          </div>
          <div class="row invalidfeedback" *ngIf="submitted && !iconSelected">
              <div class="col">
                Atleast one option must be selected.
              </div>
          </div>
              <div class="row">
                <div class="col">
                  <input type="text" formControlName="email" class="form-control logininputBox mb-1 registrationInput"
                    placeholder="Enter your business email" name="email">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="invalidfeedback" *ngIf="submitted && registerForm.controls['email'].hasError('pattern')">
                    Enter a valid email address
                  </div>
                  <div class="invalidfeedback" *ngIf="submitted && registerForm.controls['email'].hasError('required')">
                    Email address is required
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <input type="password" formControlName="password"
                    class="form-control logininputBox registrationInput mb-1" placeholder="Password" name="pswd"
                    [type]="pwdHide ? 'password' : 'text'" minlength="8">
                </div>

                <div class="col-sm-6">
                  <input type="password" formControlName="confirmPassword"
                    class="form-control logininputBox registrationInput mb-1" placeholder="Confirm Password"
                    name="confirmPassword" [type]="pwdHide ? 'password' : 'text'" minlength="6">

                  <mat-icon matSuffix (click)="pwdHide = !pwdHide" class="password_icon">
                    {{pwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
                <span class="pwds text-dark" style="font-size: 11px !important; text-transform: unset;" *ngIf="!submitted">
                  Password must be 8 characters long and must include a capital letter, a small letter, with a number and a symbol.
                </span>
              </div>

              <div class="row">
                <div class="col">
                  <div class="invalidfeedback"
                    *ngIf="submitted && registerForm.controls['password'].hasError('required')">
                    Password is required
                  </div>
                  <div class="invalidfeedback"
                    *ngIf="submitted && registerForm.controls['password'].hasError('minlength')">
                    Password must be at least 8 characters
                  </div>
                  <div class="invalidfeedback"
                    *ngIf="submitted && registerForm.controls['password'].hasError('validPassword')">
                    Password should contain uppercase, lowercase, numbers and special characters
                  </div>
                  <div class="invalidfeedback"
                    *ngIf="submitted && registerForm.controls['confirmPassword'].hasError('required')">
                    Confirm password is required
                  </div>                  
                  <div class="invalidfeedback" *ngIf="submitted && passwordMismatchMsg">
                    {{ passwordMismatchMsg }}
                  </div>
                </div>
              </div>

              <div class="row captcha_mt">
                <div class="col-sm-6 ">
                  <span>
                    <app-captcha-comp (captchatxt)="getCaptchaValue($event)"></app-captcha-comp>
                  </span>
                </div>

                <div class="col-sm-6">
                  <input type="text" formControlName="captchaInput" class="form-control logininputBox registrationInput"
                    placeholder="Enter captcha here!" />
                </div>
              </div>
              <div class="row captcha_mt">
                <div class="col-sm-6">
                  <div class="invalidfeedback captcha" *ngIf="submitted && captchaMismatchMsg">
                    {{ captchaMismatchMsg }}
                  </div>
                  <div class="invalidfeedback"
                    *ngIf="submitted && registerForm.controls['captchaInput'].hasError('required')">
                    Captcha is required
                  </div>
                </div>
              </div>

              <button _ngcontent-brs-c3="" class="btn mainBGcolor regloginBtl" type="submit" style="margin: 20px 0px;">
                Register​</button>

              <!---
                <button type="submit" class="btn mainBGcolor regloginBtl" [disabled]="captchaValue != registerForm.controls['captchaInput'].value || !registerForm.valid">
                  Go to Doceree
                </button>-->

              <h6 class="h6 mt-2 ">Already have an account? <a href="./login" class="mainColor fw600">Click here</a> to
                login.</h6>
            </form>
          </div>
          <div class="registrationForm" *ngIf="registrationSuccess===true">
            <h3 class="h4">REGISTRATION SUCCESSFUL</h3>
            <h1 class="h2">Unlock the Power</h1>
            <p class="mt-4 mb-2">An email with instructions to activate your account has been sent to your email
              address.
            </p>
            <button class="btn mainBGcolor regloginBtl   " (click)="reGenerateTokenOfUser(registerForm.value.email)">
              Resend Mail
            </button>
          </div>
        </div>

        <footer class="rlFooter ml-3">
          <div class="clearfix">
            <a target="_blank" href="https://doceree.com/">Home</a>
            <a target="_blank" href="https://doceree.com/about-us/">About us</a>
            <a target="_blank" href="https://doceree.com/media-agencies/">Media Agencies</a>
            <a target="_blank" href="https://doceree.com/brands/">Brands</a>
            <a target="_blank" href="https://doceree.com/publishers/">Publishers</a>
            <a target="_blank" href="https://doceree.com/how-it-works/">How it works</a>
            <a target="_blank" href="https://doceree.com/blog/">Blog</a>
            <a target="_blank" href="https://support.doceree.com/hc/en-us">FAQs</a>
          </div>
          <p>Copyright 2020 | Doceree Inc.</p>
        </footer>


      </div>



      <div class="col-md-6 mt-3">
        <img src="./assets/images/laptop-3.png" style="width: 90%;height:700px; float: right;" alt="" />
      </div>



    </div>
  </div>
</div>