<div class="bodyBg">
  <div class="mainDiv container advertiserDiv">
    <div class="row">
      <div class="col-md-6">
        <div class="reglogo">
          <div>
            <a target="_blank" href="http://doceree.com/">
              <img src="./assets/images/logo2.png" width="242" height="59" alt="" />
            </a>
          </div>
        </div>
        <div class="registrationForm" *ngIf="isTokenValid === true">
          <div *ngIf="!formSubmitSuccess">
            <h3 class="h4">RESET PASSWORD</h3>
            <h1 class="h2">Unlock the Power</h1>
            <form [formGroup]="resetForm" (ngSubmit)="updatePwd()">
              <div class="invalidfeedback mt-4" *ngIf="errorMessage">
                    {{ errorMessage }}
              </div>
              <div class="row mt-4">
                <div class="col-sm-12">
                  <div class="invalidfeedback" *ngIf="submitted && resetForm.controls['password'].hasError('required')">
                    Password is required
                  </div>
                  <div class="invalidfeedback" *ngIf="submitted && resetForm.controls['password'].hasError('minlength')">
                    Password must be at least 8 characters
                  </div>
                  <div class="invalidfeedback" *ngIf="submitted && resetForm.controls['password'].hasError('validPassword')">
                    Password should contain uppercase, lowercase, numbers and special characters
                  </div>
                  <div class="invalidfeedback" *ngIf="submitted && resetForm.controls['confirmPassword'].hasError('mustMatch')">
                    Password must match
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <input type="password" formControlName="password" class="form-control logininputBox form-control_bg_tr mb-1" placeholder="New Password" [type]="pwdHide ? 'password' : 'text'" minlength="8"  title="Password Policy:
                  01. Password must contain atleast 8 characters.
                  02. Password must contain atleast 1 special characters.
                  03. Password must contain atleast 1 lowercase alphabet.
                  04. Password must contain atleast 1 uppercase alphabet.
                  04. Password must contain atleast 1 numeric value.">
                  <mat-icon matSuffix (click)="pwdHide = !pwdHide" style="float:right; margin:-34px 10px -34px 0;">{{pwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
                <div class="col-sm-6">
                  <input type="password" formControlName="confirmPassword" class="form-control logininputBox  form-control_bg_tr mb-1" placeholder="Re-Enter New Password" [type]="confirmPwdHide ? 'password' : 'text'" minlength="6">
                  <mat-icon matSuffix (click)="confirmPwdHide = !confirmPwdHide" style="float:right; margin:-34px 10px -34px 0;">{{confirmPwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
              </div>
              <p class="mb-0">
                <app-password-strength-bar [passwordToCheck]="resetForm.controls['password'].value" [barLabel]="barLabel" ></app-password-strength-bar>
              </p>
              <div *ngIf="!hasSecurityQuestions">
                <p>Please provide the answers to security questions</p>
               
              
                <div class="row">
                  <div class="col-sm-7">
                      <div class="invalidfeedback" *ngIf="submitted && resetForm.controls['securityQuestion1'].hasError('required')">
                          Please select security question
                      </div>
                    <mat-select class="form-control logininputBox form-control_bg_tr "  formControlName="securityQuestion1"  placeholder="Select security question 1" required>
                      <mat-option *ngFor="let option of security_questions" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-select>
                  </div>
                  
                  <div class="col-sm-5">
                      <div class="invalidfeedback" *ngIf="submitted && resetForm.controls['securityAnswer1'].hasError('required')">
                          Please provide answer
                      </div>
                      <input matInput type="text" class="form-control logininputBox form-control_bg_tr" placeholder="Please enter answer" formControlName="securityAnswer1" >
                  </div>
                </div>
              
              
                <div class="row">
                  <div class="col-sm-7">
                      <div class="invalidfeedback" *ngIf="submitted && resetForm.controls['securityQuestion2'].hasError('required')">
                          Please select security question
                      </div>
                    <mat-select class="form-control logininputBox form-control_bg_tr" formControlName="securityQuestion2" placeholder="Select security question 2" required>
                      <mat-option *ngFor="let option of security_questions2" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-sm-5">
                      <div class="invalidfeedback" *ngIf="submitted && resetForm.controls['securityAnswer2'].hasError('required')">
                    Please provide answer
                </div>
                      <input matInput type="text" class="form-control logininputBox form-control_bg_tr" placeholder="Please enter answer" formControlName="securityAnswer2">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn mainBGcolor regloginBtl mt-2">Reset</button>
              <h6 class="h6 mt-2">Already have an account? <a href="./login" class="mainColor fw600">Click here</a> to login.</h6>
            </form>
          </div>
          <div *ngIf="formSubmitSuccess">
            <h3 class="h4">RESET PASSWORD</h3>
            <h1 class="h2">Unlock the Power</h1>
            <p class="mt-4 mb-2">
              Your password updated succesfully. Click the button below to login.
            </p>
            <div>
              <a href="/login" class="btn mainBGcolor regloginBtl mt-4 wColor">Go to login</a>
            </div>
          </div>
        </div>
        <div class="registrationForm" *ngIf="isTokenValid === false">
            <h3 class="h4">RESET PASSWORD</h3>
            <h1 class="h2">Unlock the Power</h1>
            <p class="mt-4 mb-2">
                {{errorMessage}}
            </p>
            <div>
              <a href="/login" class="btn mainBGcolor regloginBtl mt-4 wColor">Go to login</a>
            </div>
        </div>
        <footer class="rlFooter">
          <div class="clearfix">
            <a target="_blank" href="https://doceree.com/">Home</a>
            <a target="_blank" href="https://doceree.com/about-us/">About us</a>  
            <a target="_blank" href="https://doceree.com/media-agencies/">Media Agencies</a>
            <a target="_blank" href="https://doceree.com/brands/">Brands</a>
            <a target="_blank" href="https://doceree.com/publishers/">Publishers</a>
            <a target="_blank" href="https://doceree.com/how-it-works/">How it works</a>
            <a target="_blank" href="https://doceree.com/blog/">Blog</a>
            <a target="_blank" href="https://support.doceree.com/hc/en-us">FAQs</a>
          </div>
          <p>Copyright 2020 | Doceree Inc.</p>
        </footer>
      </div>
      <div class="col-md-6 mt-3">
        <img src="./assets/images/laptop.jpg" style="width:84.9%; height:100%" alt="" class="lapImg" />
      </div>
    </div>
  </div>
</div>
