<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img alt="Doceree Logo" src="assets/DocereeIcon.PNG" /></span>
    <span class="spacer"></span>
    <a class="mat-button mt-1" color="title-headline" href="/register">Sign Up</a>
    | <a class="mt-1 mat-button" href="/login">Log In</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="pt-1">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-6 offset-sm-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <div class="row mt-3"></div>
          <mat-card-content>

            <form *ngIf="message !== 'INVALID_TOKEN'" [formGroup]="resetForm" (ngSubmit)="updatePwd()" class="form">
              <div class="alert-success" role="alert" *ngIf="status===true">
                <mat-icon class="pt-2" *ngIf="message">done</mat-icon> {{ message }}
              </div>
              <div class="alert-danger" role="alert" *ngIf="status===false">
                 <mat-icon class="pt-2" *ngIf="message">error</mat-icon> {{ message }}
              </div>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="password" placeholder="Password" minlength="6"
                  maxlength="26" required [type]="hide ? 'password' : 'text'" />
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="resetForm.controls['password'].hasError('minlength')">
                    Password must be at least 6 characters
                  </mat-error>
                  <mat-error *ngIf="resetForm.controls['password'].hasError('validPassword')">
                    Password should contain uppercase, lowercase, numbers and special characters(!@#$&_)
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-element">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" placeholder="Confirm Password"
                  minlength="6" maxlength="26" required  [type]="confirmHide ? 'password' : 'text'"/>
                  <mat-icon matSuffix (click)="confirmHide = !confirmHide">{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('required')">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('minlength')">
                    Password must be at least 6 characters
                  </mat-error>
                  <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('validPassword')">
                    Password should contain uppercase, lowercase, numbers and special characters(!@#$&_)
                  </mat-error>
                  <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('mustMatch')">
                    Passwords must match
                  </mat-error>
              </mat-form-field>

                <mat-divider *ngIf="!checkQuestions"></mat-divider>
                  <div class="form-group" *ngIf="!checkQuestions">
                    <mat-select formControlName="securityQuestion1" placeholder="Select security question 1">
                      <mat-option *ngFor="let option of security_questions" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-select>
                    <mat-form-field>
                      <input class="col-sm-12" matInput formControlName="securityAnswer1">
                      <mat-error *ngIf="resetForm.controls['securityAnswer1'].hasError('required')">
                        Security question 1 is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="form-group" *ngIf="!checkQuestions">
                    <mat-select formControlName="securityQuestion2" placeholder="Select security question 2">
                      <mat-option *ngFor="let option of security_questions" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-select>
                    <mat-form-field>
                      <input class="col-sm-12" matInput formControlName="securityAnswer2">
                      <mat-error *ngIf="resetForm.controls['securityAnswer2'].hasError('required')">
                        Security question 2 is required
                      </mat-error>
                    </mat-form-field>
                  </div>

              <div class="row">
                <div class="col-sm-8"><button mat-raised-button class="btn btn-primary" type="submit">
                    Submit
                  </button>
                </div>
              </div>
            </form>
            <div *ngIf="message === 'INVALID_TOKEN'" class="alert alert-danger">Token has been expired</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
