<div class="custom-dialog info advertiserDiv">
  <div class="modal-content">
        <div class="modal-header mainBGcolor wColor p-2">
            <h4 class="modal-title fs14">Terms and Conditions</h4>
          </div>
         <div class="modal-body p-4">
             <mat-dialog-content><p>Doceree to produce the instructions </p></mat-dialog-content>
        </div>
        <div class="modal-footer border-0 pt-0">            
            <mat-dialog-actions class="mb-0">
                <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">OK</button>
            </mat-dialog-actions>
        </div>
      </div>
  </div>