.w80{ width: 79%; margin: auto;}
.overflow3{ overflow-y: auto;}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey; 
    border-radius: 4px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: #e0e0e0;; 
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0; 
  }
  .hover tr td a:hover{ text-decoration: underline !important;}
