<div class="platformShowDiv rightSlide advertiserDiv">
  <div class="bgLGRColor p-3">
      <p class="mb-1">Now viewing</p>
    <div *ngIf = "watchingBrand">
      <p class="fs14 fw600 mb-0">{{watchingBrand.brandName}}</p>
    </div>
  </div>

  <div fxLayout = "column"
  fxLayout.xs="column"
  fxLayoutAlign="space-around start"> 

  <div *ngIf="clientBrandsUS && clientBrandsUS.length" class="item item-1" fxFlex="60%" style="width:100%;">
      <div class="mt-4 pl-3 pr-3 pb-2 pt-2 mb-1" style="border-bottom: 1px solid #BC63DE;" *ngIf="totalZones > 1">
        <img src="assets/flag/usa-flag.svg" width="18" class="img-fluid">  <span class="pl-2 fs13 fw600">US</span>
      </div>
        <div class="table-responsive w80 overflow3" [style.height.px]="usOverlayHt">
          <div *ngFor="let clientBrand of clientBrandsUS; let i = index">  
          <div class="pt-2 pb-2 mb-1" style="border-bottom: 0.3px solid #e2e2e2;">
            <p class="fs12 fw600 mt-2 mb-0">{{clientBrand.clientName}}</p>
          </div>
          <table class="table mb-0 hover">
            <tbody class="fs12">
              <tr class="ml-2 p-4" *ngFor="let brand of clientBrand.brands" >
                <td width="20%" class="br0 p-0 pt-1 pb-1"><img src="assets/images/platformRightImg.svg" class="img-fluid " alt="Brand"></td>
                <td *ngIf="!brand.isWatching || brand.zone !== selectedMarketPlace" (click) = "switchToBrand(brand, false)" class="br0 pt-1 pb-1"><a class="">{{brand.brandName}}</a></td>
                <td *ngIf="brand.isWatching && brand.zone === selectedMarketPlace" (click) = "switchToBrand(brand, true)" class="br0 pt-1 pb-1"><a class="">{{brand.brandName}}</a></td>
                <td *ngIf="brand.isWatching && brand.zone === selectedMarketPlace" class="br0 text-right pt-1 pb-1 fs10">VIEWING</td>
              </tr>
            </tbody>
          </table>
         </div>
        </div>
  </div>

   <div *ngIf="clientBrandsInd && clientBrandsInd.length" class="item item-2" fxFlex="indiaFlexPart" style="width: 100%;">
      <div class="mt-4 pl-3 pr-3 pb-2 pt-2 mb-1" style="border-bottom: 1px solid #BC63DE;" *ngIf="totalZones > 1">
        <img src="assets/flag/indian-flag.svg" width="18" class="img-fluid">  <span class="pl-2 fs13 fw600">India</span>
      </div>
        <div class="table-responsive w80 overflow3" [style.height.px]="indiaOverlayHt">
          <div *ngFor="let clientBrand of clientBrandsInd; let j = index">  
            <div class="pt-2 pb-2 mb-1" style="border-bottom: 0.3px solid #e2e2e2;">
              <p class="fs12 fw600 mt-2 mb-0">{{clientBrand.clientName}}</p>
            </div>
            <table class="table mb-0 hover">
              <tbody class="fs12">
                <tr class="ml-2 p-4" *ngFor="let brand of clientBrand.brands" >
                  <td width="20%" class="br0 p-0 pt-1 pb-1"><img src="assets/images/platformRightImg.svg" class="img-fluid " alt="Brand"></td>
                  <td *ngIf="!brand.isWatching || brand.zone !== selectedMarketPlace" (click) = "switchToBrand(brand, false)" class="br0 pt-1 pb-1"><a class="">{{brand.brandName}}</a></td>
                  <td *ngIf="brand.isWatching && brand.zone === selectedMarketPlace" (click) = "switchToBrand(brand, true)" class="br0 pt-1 pb-1"><a class="">{{brand.brandName}}</a></td>
                  <td *ngIf="brand.isWatching && brand.zone === selectedMarketPlace" class="br0 text-right pt-1 pb-1 fs10">VIEWING</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div> 
  </div>
 
  
  <div class="" *ngIf="brands && !brands.length">
    <span class="text-center pl-2 fs12">No records found!</span>
  </div>
  <div class="divBottom" *ngIf = "rolePermissions && rolePermissions.includes('view_brand')">
    <button class="primaryBtn mainBGcolor mainBordercolr wColor pt-1 fs12" (click) = "gotoManageAccounts()">Manage accounts</button>
  </div>
</div>
