<div *ngIf="userDetails.isVisitedDashboard == false">
  <div id="overlay_bg">
    <div class="fixedWidth">

      <div id="overlay_1">
        <div class="overlay_box_1 right">
          <img src="assets/Arrows-01.svg" width="40" height="40">
          <ul style="padding-left: 10px;">
            <li>Click here to add <br> your payment method.</li>
          </ul>
          <button (click)="scrollToNext()" class="overlay_button_border"
            style="float: right; margin-right: 0px;">Next</button>
        </div>
      </div>

      <div id="overlay_10" style="display: none; margin-top: 100px;">
        <div class="overlay_box_2 left">
          <div class="overlay_box_2_text" style="margin-left: 0px; margin-right: 0px;">Are you sure you want <br>to skip
            the tutorial?</div>
          <button (click)="scrollToNext()" class="overlay_button_border ">Continue</button>
          <button (click)="skip()" class="overlay_button_border ">Skip it</button>
        </div>
      </div>

      <div id="overlay_2" style="display: none;">
        <div class="overlay_box_2 left">
          <img src="assets/Arrows-03.svg" style="width: 38px; height: 38px;">
          <div class="overlay_box_2_text">2. Create your own <br>target audience here.</div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style="float: right; margin-right:-1px;">Next</button>
        </div>
      </div>

      <div id="overlay_3" style="display: none;">
        <div class="overlay_box_2 left">
          <img src="assets/Arrows-03.svg" style="width: 38px; height: 38px;">
          <div class="overlay_box_2_text">3. You’re ready to <br>create your first campaign now.</div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style="float: right; margin-right:-1px;">Next</button>
        </div>
      </div>

      <div id="overlay_4" style="display: none;">
        <div class=" overlay_box_3">
          <img src="assets/Arrows-01.svg" width="50" height="50" style="margin-left: -15px;">
          <div class="overlay_box_2_text" style="position: absolute;right: -61px;width: 257px;margin-top: 1px;">4. You can view all account notifications here. You will also be updated about your campaign approval status here, within 24 hours of submission.
          </div>
          <div style="clear: both; height:40px;"></div>
          <button (click)="scrollToNext()" class="overlay_button_border"
            style="margin-right:-57px; float: right !important; margin-top:32px;">Next</button>
        </div>
      </div>

      <div id="overlay_5" style="display: none;">
        <div class="overlay_box_4 left">
          <img src="assets/Arrows-02.svg" width="30" height="30">
          <div class="overlay_box_4_text" style="margin-left: 13px; width: 300px;">5. The analytics tab is where you monitor all your <br>campaigns. Performance data can be filtered according to campaign, brand, or company.
          </div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style="float: right; margin-right:4px;">Next</button>
        </div>
      </div>

      <div id="overlay_6" style="display: none;">
        <div class="overlay_box_5">
          <img src="assets/Arrows-03.svg" style="height:31px; width: auto; ">
          <div class="overlay_box_5_text">6. Optimize all your active <br>campaigns in real time, from here
          </div>
          <div style="clear: both; height:30px;"></div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style=" position: absolute; right: -179px;">Next</button>
        </div>
      </div>

      <div id="overlay_7" style="display: none;">
        <div class="overlay_box_6 left" style="margin-top: 6% !important;">
          <img src="assets/Arrows-04.svg" style="height: 40px; width: auto;">
          <div class="overlay_box_6_text">
            7. All your saved campaigns and <br>creatives have been stored in these tabs.
          </div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style="float: right; margin-right: 0px;">Next</button>
        </div>
      </div>

      <div id="overlay_8" style="display: none;">
        <div class="overlay_box_7 right">
          <img src="assets/Arrows-01.svg" width="40" height="40">
          <div class="overlay_box_7_text">
            8. Switch between brands from this tab.
          </div>
          <button (click)="scrollToNext()" class="overlay_button_border"
            style="float: right; margin-right: 0px;">Next</button>
        </div>
      </div>

      <div id="overlay_9" style="display: none;">
        <div class="overlay_box_8 right">
          <img src="assets/Arrows-01.svg" width="40" height="40">
          <div class="overlay_box_8_text">
            9. Access our help desk for FAQs, or write to <br>us with additional queries from this tab.
          </div>
          <button (click)="skip()" id="skipTutorial" class="overlay_button_border"
            style="float: right; margin-right:-5px;">Done</button>
        </div>
      </div>

    </div>

  </div>
  <div id="skipButton" style="margin:auto; width: 200px;"> <button (click)="scrollToSkip()" class="overlay_button_border "
    style="position: fixed;bottom: 13%;z-index: 99999999;">Skip tutorial </button></div>
</div>
<div  class="bgImg" style="top:0px; right:-160px; z-index:-1">
    <img alt="AdvanalyticsBg" src="assets/images/dashboard.svg" style="width:430px; height:273px;">
  </div>
  <div class="row">
  <div class="col-md-7 pt-4 mb40">
    <h1 class="h2" *ngIf="userDetailsTemplate && userDetailsTemplate.lastLogoutTime">
      Welcome back, {{ userDetailsTemplate.first_name && userDetailsTemplate.last_name ? userDetailsTemplate.first_name + ' ' + userDetailsTemplate.last_name  : userDetailsTemplate.email }}
    </h1>
    <h1 class="h2" *ngIf="userDetailsTemplate && !userDetailsTemplate.lastLogoutTime">
      Welcome {{ userDetailsTemplate.first_name && userDetailsTemplate.last_name ? userDetailsTemplate.first_name + ' ' + userDetailsTemplate.last_name  : userDetailsTemplate.email }}
    </h1>
    <h6 class="h6 mt-1 fwn lineheight" *ngIf="userDetailsTemplate && userDetailsTemplate.lastLogoutTime">Here’s all the activity your campaigns have logged since you last visited us on
      {{ userDetailsTemplate.lastLogoutTime | date: 'd MMM yyyy'}} at
      {{ userDetailsTemplate.lastLogoutTime | date: 'h:mm a'}}.
    </h6>
  </div>

  <div class="col-md-3 pt-4 mb40" *ngIf="marketSelectionDisplay">   
    <div class="row">
      <div class="col-md-3 fs13 fw600 mr-1 mt14">Market</div>
      <div class="w97 fs13  fw600 market_box mt9">
        <mat-form-field class="mat-form-field">        
          <mat-select [(value)]="marketSelection" (selectionChange)="updateMarketSelection()">
          <mat-select-trigger *ngIf="marketSelection && marketSelection === '1'">
            <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> <span class="market_trigger fs11">US</span>
          </mat-select-trigger>
          <mat-select-trigger *ngIf="marketSelection && marketSelection === '2'">
            <img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"><span class="market_trigger fs11">India</span> 
          </mat-select-trigger>
            <mat-option value="1"> <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> US</mat-option>
            <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"> India</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  </div>
  <div class="cardDiv clearfix mb-0">
    <div class="bigCard">
      <div class="boxDiv">
        <div class="p1015 bgLGColor">
          <div class="clearfix">
            <h6 class="fs12 float-left mt-1 mb-0">Spend <i [matTooltip]="advertiser_dashboard_spends" class="icon-78 tradMak fs12 wdColor"></i></h6>
            <div class="float-right wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData.increasedSpends >= 0,
              'bgRColor':cardsData.increasedSpends < 0
            }"><i class="icon-48" [ngClass]="{
              'icon-47':cardsData.increasedSpends >= 0,
              'icon-48':cardsData.increasedSpends < 0
            }"></i> {{ cardsData.increasedSpends ? (cardsData.increasedSpends| number:'.0-0') : 0 }}%</div>
          </div>
          <div class="clearfix">
            <div class="float-left"><i class="icon-22 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0 mt-1">
              {{ cardsData.totalSpends | currency : currencySymbol:true:'1.0-0' }}</h2>
          </div>
        </div>
        <hr class="m-0">
        <div class="p1015">
          <div class="clearfix">
            <div class="float-left"><i class="icon-40 op5 fs24 mainColor"></i></div>
            <div class="float-right wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData.increasedClicks >= 0,
              'bgRColor':cardsData.increasedClicks < 0
            }"><i class="icon-48" [ngClass]="{
              'icon-47':cardsData.increasedClicks >= 0,
              'icon-48':cardsData.increasedClicks < 0
            }"></i> {{ cardsData.increasedClicks ? (cardsData.increasedClicks | number:'.0-0') : 0  }}%</div>
          </div>
          <div class="clearfix">
            <h6 class="fs12 mt-1 float-left mb-0">Clicks <i [matTooltip]="advertiser_dashboard_clicks" class="icon-78 tradMak fs12 grColor"></i></h6>
            <h2 class="fw float-right fs16 mb-0">{{ cardsData.totalClicks ? cardsData.totalClicks : '-' }}</h2>
          </div>
        </div>
        <hr class="m-0">
        <div class="p1015">
          <div class="clearfix">
            <div class="float-left"><i class="icon-41 op5 fs24 mainColor"></i></div>
            <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData.increasedCPC >= 0,
              'bgRColor':cardsData.increasedCPC < 0
            }"><i class="icon-47" [ngClass]="{
              'icon-47':cardsData.increasedCPC >= 0,
              'icon-48':cardsData.increasedCPC < 0
            }"></i> {{ cardsData.increasedCPC ? (cardsData.increasedCPC | number:'.0-0') : 0 }}%</div>
          </div>
          <div class="clearfix">
            <h6 class="fs12 mt-1 float-left mb-0">CPC <i [matTooltip]="advertiser_dashboard_cpc" class="icon-78 tradMak fs12 grColor"></i></h6>
            <h2 class="fw float-right fs16 mb-0">{{ cardsData.totalCPC | currency : currencySymbol:true:'1.0-0' }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="smallAllCards">
      <div class="row">
        <div class="smallCard">
          <div class="boxDiv">
            <div class="p1015 clearfix">
              <h6 class="fs12 float-left mt-1 mb-0">Impressions <i [matTooltip]="advertiser_dashboard_impressions" class="icon-78 tradMak fs12 grColor"></i></h6>
              <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
                'bgGColor':cardsData.increasedImpressions >= 0,
                'bgRColor':cardsData.increasedImpressions < 0
              }"><i class="icon-47" [ngClass]="{
                'icon-47':cardsData.increasedImpressions >= 0,
                'icon-48':cardsData.increasedImpressions < 0
              }"></i> {{cardsData.increasedImpressions ? (cardsData.increasedImpressions | number:'.0-0') : 0 }}%</div>
            </div>
            <hr class="m-0">
            <div class="p1015 clearfix">
              <div class="float-left"><i class="icon-21 op5 fs24 mainColor"></i></div>
              <h2 class="fw float-right fs16 mb-0">{{ cardsData.totalImpressions ? cardsData.totalImpressions: '-' }}</h2>
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-2 mb-3 pl-2 pr-2">
          <div class="boxDiv">
            <div class="p1015 clearfix">
              <h6 class="fs12 float-left mt-1 mb-0">Views</h6>
              <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
                'bgGColor':cardsData.increasedViews >= 0,
                'bgRColor':cardsData.increasedViews < 0
              }"><i class="icon-47" [ngClass]="{
                'icon-47':cardsData.increasedViews >= 0,
                'icon-48':cardsData.increasedViews < 0
              }"></i> {{ cardsData.increasedViews ? (cardsData.increasedViews | number:'.0-0') : 0}}%</div>
            </div>
            <hr class="m-0">
            <div class="p1015 clearfix">
              <div class="float-left"><i class="icon-45 op5 fs24 mainColor"></i></div>
              <h2 class="fw float-right fs16 mb-0">{{ cardsData.totalViews ? cardsData.totalViews: '-' }}</h2>
            </div>
          </div>
        </div>
        -->
        <div class="smallCard">
          <div class="boxDiv">
            <div class="p1015 clearfix">
              <h6 class="fs10 float-left mt-1 mb-0">Active Campaigns <i [matTooltip]="advertiser_dashboard_campaigns" class="icon-78 tradMak fs12 grColor"></i></h6>
              <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
                'bgGColor':cardsData.increasedActiveCampaigns >= 0,
                'bgRColor':cardsData.increasedActiveCampaigns < 0
              }"><i class="icon-47" [ngClass]="{
                'icon-47':cardsData.increasedActiveCampaigns >= 0,
                'icon-48':cardsData.increasedActiveCampaigns < 0
              }"></i> {{ cardsData.increasedActiveCampaigns ? (cardsData.increasedActiveCampaigns | number:'.0-0') : 0 }}%</div>
            </div>
            <hr class="m-0">
            <div class="p1015 clearfix">
              <div class="float-left"><i class="icon-45 op5 fs24 mainColor"></i></div>
              <h2 class="fw float-right fs16 mb-0">
                {{ cardsData.totalActiveCampaigns ? cardsData.totalActiveCampaigns : '-' }}</h2>
            </div>
          </div>
        </div>
        <div class="smallCard">
          <div class="boxDiv">
            <div class="p1015 clearfix">
              <h6 class="fs12 float-left mt-1 mb-0">Outstanding Dues <i [matTooltip]="advertiser_dashboard_outstanding_amt" class="icon-78 tradMak fs12 grColor"></i></h6>
            </div>
            <hr class="m-0">
            <div class="p1015 clearfix">
              <div class="float-left"><i class="icon-40 op5 fs24 mainColor"></i></div>
              <h2 class="fw float-right fs16 mb-0">{{ cardsData.outstandingAmt?.total | currency : currencySymbol:true:'1.0-0' }}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="smallCard">
          <div class="boxDiv">
            <div class="p1015 clearfix">
              <h6 class="fs12 float-left mt-1 mb-0">CPM <i [matTooltip]="advertiser_dashboard_cpm" class="icon-78 tradMak fs12 grColor"></i></h6>
              <div class="float-right wColor bgpr fs10" [ngClass]="{
                'bgGColor':cardsData.increasedCPM >= 0,
                'bgRColor':cardsData.increasedCPM < 0
              }"><i class="icon-48" [ngClass]="{
                'icon-47':cardsData.increasedCPM >= 0,
                'icon-48':cardsData.increasedCPM < 0
              }"></i> {{cardsData.increasedCPM ? (cardsData.increasedCPM | number:'.0-0') : 0}}%</div>
            </div>
            <hr class="m-0">
            <div class="p1015 clearfix">
              <div class="float-left"><i class="icon-46 op5 fs24 mainColor"></i></div>
              <h2 class="fw float-right fs16 mb-0">{{ cardsData.totalCPM | currency : currencySymbol:true:'1.0-0' }}</h2>
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-2 mb-3 pl-2 pr-2">
          <div class="boxDiv">
            <div class="p1015 clearfix">
              <h6 class="fs12 float-left mt-1 mb-0">CPV</h6>
              <div class="float-right bgRColor wColor bgpr fs10" [ngClass]="{
                'bgGColor':cardsData.increasedCPV >= 0,
                'bgRColor':cardsData.increasedCPV < 0
              }"><i class="icon-48" [ngClass]="{
                'icon-47':cardsData.increasedCPV >= 0,
                'icon-48':cardsData.increasedCPV < 0
              }"></i> {{ cardsData.increasedCPV ? (cardsData.increasedCPV | number:'.0-0') : 0 }}%</div>
            </div>
            <hr class="m-0">
            <div class="p1015 clearfix">
              <div class="float-left"><i class="icon-46 op5 fs24 mainColor"></i></div>
              <h2 class="fw float-right fs16 mb-0">{{ cardsData.totalCPV | currency : 'USD':true:'1.0-0' }}</h2>
            </div>
          </div>
        </div>
        -->
        <div class="smallCard">
          <div class="boxDiv">
            <div class="p1015 clearfix">
              <h6 class="fs12 float-left mt-1 mb-0">Reach <i [matTooltip]="advertiser_dashboard_reach" class="icon-78 tradMak fs12 grColor"></i></h6>
              <div class="float-right bgRColor wColor bgpr fs10" [ngClass]="{
                'bgGColor':cardsData.increasedReach >= 0,
                'bgRColor':cardsData.increasedReach < 0
              }"><i class="icon-48" [ngClass]="{
                'icon-47':cardsData.increasedReach >= 0,
                'icon-48':cardsData.increasedReach < 0
              }"></i> {{ cardsData.increasedReach ? (cardsData.increasedReach | number:'.0-0') : 0 }}%</div>
            </div>
            <hr class="m-0">
            <div class="p1015 clearfix">
              <div class="float-left"><i class="icon-24 op5 fs24 mainColor"></i></div>
              <h2 class="fw float-right fs16 mb-0">{{ cardsData.totalReach ? (cardsData.totalReach | number:'.0-0') : '-' }}</h2>
            </div>
          </div>
        </div>
        <div class="smallCard">
          <div class="boxDiv">
            <div class="p1015 clearfix">
              <h6 class="fs12 float-left mt-1 mb-0">CTR <i [matTooltip]="advertiser_dashboard_ctr" class="icon-78 tradMak fs12 grColor"></i></h6>
              <div class="float-right bgRColor wColor bgpr fs10" [ngClass]="{
                'bgGColor':cardsData.increasedCTR >= 0,
                'bgRColor':cardsData.increasedCTR < 0
              }"><i class="icon-48" [ngClass]="{
                'icon-47':cardsData.increasedCTR >= 0,
                'icon-48':cardsData.increasedCTR < 0
              }"></i> {{cardsData.increasedCTR ? (cardsData.increasedCTR | number:'.0-0') : 0}}%</div>
            </div>
            <hr class="m-0">
            <div class="p1015 clearfix">
              <div class="float-left"><i class="icon-32 op5 fs24 mainColor"></i></div>
              <h2 class="fw float-right fs16 mb-0">
                {{ cardsData.totalCTR ? (cardsData.totalCTR | number:'.0-0') +'%' : '-' }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt14" *ngIf="showCampaign">
    <div class="col-md-6 pr-0">
      <!-- <app-dashboard-active-campaigns></app-dashboard-active-campaigns> -->
      <div class="boxDiv">
        <div class="mainBGcolor w-100 pl-2 pr-2 stptb clearfix">
          <h5 class="fs14 wColor float-left m68 ml-2">Active Campaigns</h5>
          <div class="float-right">
            <div class="br1 brr4 brCColor clearfix">
              <pagination-template #api1="paginationApi" id="first" class="custom-page-controls" (pageChange)="p = $event">
                <a (click)="api1.previous()" class="float-left pagination-previous" [class.disabled]="api1.isFirstPage()"><i
                    class="icon-49 fs14 wColor" style="display:inline-block;"></i></a>
                <a (click)="api1.next()" class="float-left brl1 brCColor"><i class="icon-50 fs14 wColor" style=" display:inline-block;"></i></a>
              </pagination-template>
            </div>
          </div>
        </div>

        <div class="p-2" *ngIf="filteredRecentList && filteredRecentList.length > 0">
          <div class="row" *ngFor="let element of filteredRecentList | paginate: { itemsPerPage: 1, currentPage: p, totalItems: filteredRecentList.length, id: 'first' }">
            <div class="col-md-8">
              <p class="fw600 pl-2">{{ element.name }}</p>
              <div *ngIf="element.creativeType === 'Banner'">
                <!--<slideshow [height]="height" [minHeight]="'350px'" [autoPlay]="false"
                  [showArrows]="element.imageUrls.length > 1" [arrowSize]="'10px'" [imageUrls]="element.imageUrls"
                  [lazyLoad]="element.imageUrls.length > 1" [autoPlayWaitForLazyLoad]="false" [backgroundSize]="'contain'">
                </slideshow>-->
                <app-carouselshow [height]="'350px'" [imageUrls]="element.imageUrls"></app-carouselshow>
              </div>
              <div *ngIf="element.creativeType === 'Video'">
                <video controls class="videoBox w-100">
                  <source src="{{element.imageUrls[0]}}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div class="col-md-4">
              <p class="fw600">Lifetime data</p>
              <div class="br1 brr4 brCColor">
                <div class="p-2">
                  <div class="clearfix">
                    <h6 class="fs12 float-left">Spends <i [matTooltip]="advertiser_dashboard_active_campaigns_spends" class="icon-78 tradMak fs12 grColor"></i></h6>
                  </div>
                  <div class="clearfix">
                    <div class="float-left mt-1"><i class="icon-22 op5 fs24 mainColor"></i></div>
                    <h2 class="float-right fs16 fw mb-0">{{ element?.spends | currency: currencySymbol:true:'1.0-0' }}</h2>
                  </div>
                </div>
                <hr class="m-0">
                <div class="p-2">
                  <div class="clearfix">
                    <h6 class="fs12 float-left">Impressions <i [matTooltip]="advertiser_dashboard_active_campaigns_impressions" class="icon-78 tradMak fs12 grColor"></i></h6>
                  </div>
                  <div class="clearfix">
                    <div class="float-left mt-1"><i class="icon-21 op5 fs24 mainColor"></i></div>
                    <h2 class="float-right fs16 fw mb-0">{{ element?.impressions ? element?.impressions : '-' }}</h2>
                  </div>
                </div>
                <hr class="m-0">
                <div class="p-2">
                  <div class="clearfix">
                    <h6 class="fs12 float-left">Clicks <i [matTooltip]="advertiser_dashboard_active_campaigns_clicks" class="icon-78 tradMak fs12 grColor"></i></h6>
                  </div>
                  <div class="clearfix">
                    <div class="float-left mt-1"><i class="icon-64 op5 fs24 mainColor"></i></div>
                    <h2 class="float-right fs16 fw mb-0">{{ element?.clicks ? element?.clicks : '-' }}</h2>
                  </div>
                </div>
                <hr class="m-0">
                <div class="p-2">
                  <div class="clearfix">
                    <h6 class="fs12 float-left">CTR <i [matTooltip]="advertiser_dashboard_active_campaigns_ctr" class="icon-78 tradMak fs12 grColor"></i></h6>
                  </div>
                  <div class="clearfix">
                    <div class="float-left mt-1"><i class="icon-30 op5 fs24 mainColor"></i></div>
                    <h2 class="float-right fs16 fw mb-0">{{ element.CTR > 0 ? (element.CTR | number:'.0-1') +'%' : '-' }}</h2>
                  </div>
                </div>
                <hr class="m-0">
                <div class="p-2">
                  <div class="clearfix">
                    <h6 class="fs12 float-left" *ngIf='element?.CPC > 0'>CPC</h6>
                    <h6 class="fs12 float-left" *ngIf='element?.CPM > 0'>CPM <i [matTooltip]="advertiser_dashboard_cpm" class="icon-78 tradMak fs12 grColor"></i></h6>
                  </div>
                  <div class="clearfix">
                    <div class="float-left mt-1"><i class="icon-33 op5 fs24 mainColor"></i></div>
                    <h2 class="float-right fs16 fw mb-0" *ngIf='element?.CPC > 0'>{{ element?.CPC > 0 ? (element?.CPC | currency:currencySymbol:true:'1.0-0') : 0 }}</h2>
                    <h2 class="float-right fs16 fw mb-0" *ngIf='element?.CPM > 0'>{{ element?.CPM > 0 ? (element?.CPM | currency:currencySymbol:true:'1.0-0') : 0 }}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls> -->
        </div>
        <div class="p-2 fs13 text-center" *ngIf="filteredRecentList && filteredRecentList.length === 0">No active campaigns found!
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <app-dashboard-recent-campaigns></app-dashboard-recent-campaigns> -->
      <div class="table-responsive boxDiv ">
       <div class="mainBGcolor pl-2 pr-2 pt-0 pb-1 clearfix" style="width:94.3% !important; position: absolute;border-top-left-radius: 4px; border-top-right-radius: 4px; " >
          <h5 class="fs14 wColor float-left m68 mt-1 ml-2">Recent Campaigns</h5>
          <a routerLink="/advertiser/campaignManage" *ngIf = "rolePermissions && rolePermissions.includes('view_campaign')" class="primaryBtn brwColor float-right wColor font-weight-normal primaryBtnstrip-p fs12" style="margin-top: 4px !important;">View all</a>
          <div class="float-right mr-2 mt-1">
            <div class="br1 brr4 brCColor clearfix">
              <pagination-template #api="paginationApi" class="custom-page-controls" (pageChange)="pRecent = $event"
                id="second">
                <a (click)="api.previous()" class="float-left" [class.disabled]="api.isFirstPage()"><i
                    class="icon-49 fs14 wColor" style="display:inline-block;"></i></a>
                <a (click)="api.next()" class="float-left brl1 brCColor"><i class="icon-50 fs14 wColor" style=" display:inline-block;"></i></a>
              </pagination-template>
            </div>
          </div>
        </div>
        <div class="recentthtd">
        <table class="table table-striped tableStyles recentthtd" style="margin-top: 27px !important;">
          <thead >
            <tr *ngIf="filteredRecentList && filteredRecentList.length > 0">
              <th scope="col" class="fw600" style="width: 30% !important;" >Campaign</th>
              <th scope="col" class="fw600">Date</th>
              <th scope="col" class="fw600 text-right">Spend</th>
              <th scope="col" class="fw600 text-right">Clicks</th>
              <th scope="col" class="fw600 text-right">Impressions</th>
              <th scope="col" class="fw600 text-right">CTR</th>
            </tr>
          </thead>
          <tbody *ngIf="filteredRecentList && filteredRecentList.length > 0">
            <tr *ngFor="let item of filteredRecentList | paginate: { itemsPerPage: 8, currentPage: pRecent, totalItems: recentCampaignsList.length , id: 'second' }">
              <!--<td><a class="mainColor tdu" style="text-decoration: underline !important;" (click)="editSubCampaign(brand.brandId, camp.campaignId, camp.subCampaignId)">{{ camp.name }}</a></td>-->
              <td style=" padding: 10px !important;">
                <a *ngIf = "rolePermissions && rolePermissions.includes('view_analytics')" class="mainColor tdu mb-5 mt-4" style="text-decoration: underline !important; " (click)="viewCampaignAnalytics(item)">{{ item.name }}</a>
                <span *ngIf = "rolePermissions && !rolePermissions.includes('view_analytics')" class="tdu">{{ item.name }}</span>
              </td>
              <!--<td class="col-md-3"><div class="ellipseTD">{{item.name}}</div></td>-->
              <td class="text-center">{{item.date | date: 'd MMM yyyy' }}</td>
              <td class="text-right">{{item.spends | currency : currencySymbol:true:'1.0-0'}}</td>
              <td class="text-right">{{ item.clicks ? item.clicks : '-'}}</td>
              <td class="text-right">{{ item.impressions ? item.impressions : '-'}}</td>
              <td class="text-right">{{ item.CTR > 0 ? (item.CTR | number:'.0-0') +'%' : '-'}}</td>
            </tr>
            <!-- <pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls> -->
          </tbody>
       
        </table>
      </div>
      <div class="p-2 fs13 text-center" *ngIf="filteredRecentList && filteredRecentList.length === 0">No recent campaigns found!
      </div>
      </div>
    </div>
  </div>

  <div class="boxDiv mt16 mb-5">
    <div class="mainBGcolor w-100 pl-2 pr-2 pt-0 pb-1 clearfix">
      <form [formGroup]="saveFilterForm">
        <div class="row">
          <div class="col-4">
            <h5 class="fs14 ml-2 fw600 wColor float-left mt-2">Performance Tracking <i [matTooltip]="advertiser_dashboard_performance_tracking" class="icon-78 tradMak fs12 wdColor"></i></h5>
          </div>
          <div class="col-8">
            <div class="row">
              <div style="float:left; width:500px;" class="dateIconNew">
                <div class="row dateIcon" style="float:right; width:480px;">
                  <div class="col-4 mt-1">
                    <div class="inputBox clearfix">
                      <input matInput [matDatepicker]="startDate" [max]="todayDate"
                        formControlName="startDate" (dateInput)="addStartDateEvent('input', $event)"
                        placeholder="From date" class="dateInputBox">
                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                    </div>
                  </div>
                  <div class="col-1 p-0">
                    <p class="pt-2 mb-0 text-center wColor">to</p>
                  </div>
                  <div class="col-4 mt-1">
                    <div class="inputBox clearfix">
                      <input matInput [matDatepicker]="endDate" [min]="endDateMin" [max]="todayDate"
                        formControlName="endDate" (dateInput)="addEndDateEvent('input', $event)"
                        placeholder="To date" class="dateInputBox">
                      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                      <mat-datepicker #endDate></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3 pl-0 mt-1">
                <mat-select class="inputBox wColor spanColor" formControlName="duration"
                  (selectionChange)="onSelectDuration($event.value)" placeholder="Select Duration">
                  <div *ngFor="let option of filteredDuration; let i = index">
                    <mat-option [value]="option.value">
                      <label>{{option.name}}</label>
                    </mat-option>
                  </div>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="pt-3">
      <div id="performanceTrackingLineChart" style="width:973px; height:350px;">
        <img *ngIf="performanceTrackingResults && performanceTrackingResults.data && !performanceTrackingResults.data.length" src="../assets/images/graph/adv-conversion-result.jpg"
        alt="loading" style="width:973px; height:350px; margin-left: 15px;">
        <p style="position: relative; word-break: break-all; top:-213px;width: 400px; margin: auto !important;text-align: center;">You will start seeing analytics data once your campaign starts receiving views, impressions and clicks.</p>
      </div>

      <div class="graphchartDiv mt-4" *ngIf="performanceTrackingResults && performanceTrackingResults.summary">
        <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <div class="col-md-3 mr-0 pr-0">
                <mat-button-toggle-group [(ngModel)]="toggleSpends" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="Spends" (click)="twoToggle('Spends')">
                      <p><span class="spanDots spendsColor"></span>Spends
                        <strong>{{currencySymbol}}{{performanceTrackingResults.summary.spends | number : '1.2-2'}}</strong>
                      </p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor mr-0 pl-0 pr-0">
                <mat-button-toggle-group [(ngModel)]="toggleCPM" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CPM" (click)="twoToggle('CPM')">
                      <p><span class="spanDots CPMColor"></span>CPM
                        <strong>{{currencySymbol}}{{performanceTrackingResults.summary.cpm | number : '1.2-2'}}</strong>
                      </p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor mr-0 pl-0 pr-0">
                <mat-button-toggle-group [(ngModel)]="toggleCTR" class="br0 brr0 bgNone w-100" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CTR" (click)="twoToggle('CTR')">
                      <p><span class="spanDots CTRColor"></span>CTR
                        <strong
                          *ngIf="performanceTrackingResults.summary.ctr">{{performanceTrackingResults.summary.ctr | number : '1.2-2'}}%</strong>
                        <strong *ngIf="!performanceTrackingResults.summary.ctr">0.00%</strong>
                      </p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-3 brl1 grColor mr-0 pl-0 pr-0">
                <mat-button-toggle-group [(ngModel)]="toggleCPC" class="br0 bgNone w-100 brr0" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="w-100" value="CPC" (click)="twoToggle('CPC')">
                      <p><span class="spanDots CPCColor"></span>CPC
                        <strong>{{currencySymbol}}{{performanceTrackingResults.summary.cpc | number : '1.2-2'}}</strong></p>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
        </div>
      </div>
    </div>
  </div>
