.recentthtd .tableStyles th {
    padding: 10px 15px !important
}

.recentthtd .tableStyles td {
    padding: 0 15px !important
}

.br1 {
    border-width: 0.8px !important;
    border-style: solid !important;
}

.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-radius: 4px !important;
}
.noChartData-1{position: relative;left: 27px; top: -10px;}
.mat-progress-spinner circle, .mat-spinner circle { stroke:#16c0f0!important;}
#overlay_bg{height: -webkit-fill-available; width: 100% !important; position: fixed; top: 0px;background:url(/assets/over_bg.png) left top repeat; z-index:9999 !important; display: block; background-size:cover; left: 0px;}
.overlay_co_main{ width: auto; overflow: hidden;}
//.left{ float: left;}
.right{ float: right;}

//.overlay_box_1, .overlay_box_3 { margin-top:55px; z-index:999999 !important;}
.overlay_box_1 { margin-top:55px; margin-right:125px !important;}
ul{list-style: none; padding: 0px; margin: 0px;}
li{ color: #fff;; font-size: 11px; list-style: decimal; line-height:12px; margin-bottom: 4px;}

.overlay_button_border{ padding: 0x 3px; margin:5px; font-size: 10px; background-color: transparent; border: 0.5px solid #fff !important; border-radius: 3px; color:#fff !important; float: left;}




//.overlay_box_2{ margin-left: 57px; margin-top:80px; z-index:999999 !important;}

.overlay_box_2_text{ color: white !important; font-size: 11px; margin-left: 29px; margin-top: -7px; }
.overlay_box_2_button_bor{ padding: 0x 3px; margin:5px; font-size: 10px; background-color: transparent; border: 1px solid #fff !important; border-radius: 5px; color:#fff !important; float: left; }


//.overlay_box_3 img{ margin-left: 117px;}
.overlay_box_3{ margin-top: 57px;}

//.overlay_box_4{ width:35%!important; margin-top: 34%; padding-left: 58px;}
.overlay_box_4_text{ color: white !important; font-size: 11px;  }


.overlay_box_5{}
.overlay_box_5_text{ color: white !important; font-size: 11px; position: absolute; right: -171px; width: auto;  }


.overlay_box_6{ margin-top: 15%; }
.overlay_box_6_text{ color: white !important; font-size: 11px; margin-left: 60px; }

.overlay_box_7{ width: 117px;}
.overlay_box_7_text{ color: white !important; font-size: 11px; }

.overlay_box_8{  }
.overlay_box_8_text{ color: white !important; font-size: 11px; }
.dateIcon .inputBox{ padding: 2px 10px !important;}
//.mat-select{ padding: 4px 10px !important;}
.market_box{border-radius:35px; border:1px solid #BC63DE; padding:0px 10px; height: 25px;}
.mat-form-field{position: relative; top: -13px; width: 100% !important;}
.w97{ width: 97px;}