<div *ngIf="userDetails.isVisitedDashboard == false">
  <div id="overlay_bg">
    <div class="fixedWidth">

      <div id="overlay_1">
        <div class="overlay_box_1 right">
          <img src="assets/Arrows-01.svg" width="40" height="40">
          <ul style="padding-left: 10px;">
            <li>Click here to add <br> your payment method.</li>
          </ul>
          <button (click)="scrollToNext()" class="overlay_button_border"
            style="float: right; margin-right: 0px;">Next</button>
        </div>
      </div>

      <div id="overlay_10" style="display: none; margin-top: 100px;">
        <div class="overlay_box_2 left">
          <div class="overlay_box_2_text" style="margin-left: 0px; margin-right: 0px;">Are you sure you want <br>to skip
            the tutorial?</div>
          <button (click)="scrollToNext()" class="overlay_button_border ">Continue</button>
          <button (click)="skip()" class="overlay_button_border ">Skip it</button>
        </div>
      </div>

      <div id="overlay_2" style="display: none;">
        <div class="overlay_box_2 left">
          <img src="assets/Arrows-03.svg" style="width: 38px; height: 38px;">
          <div class="overlay_box_2_text">2. Create your own <br>target audience here.</div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style="float: right; margin-right:-1px;">Next</button>
        </div>
      </div>

      <div id="overlay_3" style="display: none;">
        <div class="overlay_box_2 left">
          <img src="assets/Arrows-03.svg" style="width: 38px; height: 38px;">
          <div class="overlay_box_2_text">3. You’re ready to <br>create your first campaign now.</div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style="float: right; margin-right:-1px;">Next</button>
        </div>
      </div>

      <div id="overlay_4" style="display: none;">
        <div class=" overlay_box_3">
          <img src="assets/Arrows-01.svg" width="50" height="50" style="margin-left: -15px;">
          <div class="overlay_box_2_text" style="position: absolute;right: -61px;width: 257px;margin-top: 1px;">4. You can view all account notifications here. You will also be updated about your campaign approval status here, within 24 hours of submission.
          </div>
          <div style="clear: both; height:40px;"></div>
          <button (click)="scrollToNext()" class="overlay_button_border"
            style="margin-right:-57px; float: right !important; margin-top:32px;">Next</button>
        </div>
      </div>

      <div id="overlay_5" style="display: none;">
        <div class="overlay_box_4 left">
          <img src="assets/Arrows-02.svg" width="30" height="30">
          <div class="overlay_box_4_text" style="margin-left: 13px; width: 300px;">5. The analytics tab is where you monitor all your <br>campaigns. Performance data can be filtered according to campaign, brand, or company.
          </div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style="float: right; margin-right:4px;">Next</button>
        </div>
      </div>

      <div id="overlay_6" style="display: none;">
        <div class="overlay_box_5">
          <img src="assets/Arrows-03.svg" style="height:31px; width: auto; ">
          <div class="overlay_box_5_text">6. Optimize all your active <br>campaigns in real time, from here
          </div>
          <div style="clear: both; height:30px;"></div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style=" position: absolute; right: -179px;">Next</button>
        </div>
      </div>

      <div id="overlay_7" style="display: none;">
        <div class="overlay_box_6 left" style="margin-top: 6% !important;">
          <img src="assets/Arrows-04.svg" style="height: 40px; width: auto;">
          <div class="overlay_box_6_text">
            7. All your saved campaigns and <br>creatives have been stored in these tabs.
          </div>
          <button (click)="scrollToNext()" class="overlay_button_border "
            style="float: right; margin-right: 0px;">Next</button>
        </div>
      </div>

      <div id="overlay_8" style="display: none;">
        <div class="overlay_box_7 right">
          <img src="assets/Arrows-01.svg" width="40" height="40">
          <div class="overlay_box_7_text">
            8. Switch between brands from this tab.
          </div>
          <button (click)="scrollToNext()" class="overlay_button_border"
            style="float: right; margin-right: 0px;">Next</button>
        </div>
      </div>

      <div id="overlay_9" style="display: none;">
        <div class="overlay_box_8 right">
          <img src="assets/Arrows-01.svg" width="40" height="40">
          <div class="overlay_box_8_text">
            9. Access our help desk for FAQs, or write to <br>us with additional queries from this tab.
          </div>
          <button (click)="skip()" id="skipTutorial" class="overlay_button_border"
            style="float: right; margin-right:-5px;">Done</button>
        </div>
      </div>

    </div>

  </div>
  <div id="skipButton" style="margin:auto; width: 200px;"> <button (click)="scrollToSkip()" class="overlay_button_border "
    style="position: fixed;bottom: 13%;z-index: 99999999;">Skip tutorial </button></div>
</div>
<div  class="bgImg" style="top:0px; right:-160px; z-index:-1">
  <img alt="AdvanalyticsBg" src="assets/images/dashboard.svg" style="width:430px; height:273px;">
</div>
<div class="row">
<div class="col-md-7 pt-4 mb40"> 
    <h1 class="h2" *ngIf="userDetailsTemplate && userDetailsTemplate.lastLogoutTime">
        Welcome back, {{ userDetailsTemplate.first_name && userDetailsTemplate.last_name ? userDetailsTemplate.first_name + ' ' + userDetailsTemplate.last_name  : userDetailsTemplate.email }}
    </h1>
    <h1 class="h2" *ngIf="userDetailsTemplate && !userDetailsTemplate.lastLogoutTime">
        Welcome {{ userDetailsTemplate.first_name && userDetailsTemplate.last_name ? userDetailsTemplate.first_name + ' ' + userDetailsTemplate.last_name  : userDetailsTemplate.email }}
    </h1>
    <h6 class="h6 fwn lineheight" *ngIf="userDetailsTemplate && userDetailsTemplate.lastLogoutTime">Here’s all the activity your campaigns have logged since you last visited us on
      {{ userDetailsTemplate.lastLogoutTime | date: 'd MMM yyyy'}} at
      {{ userDetailsTemplate.lastLogoutTime | date: 'h:mm a'}}.
    </h6>
</div>
<!-- <div class="col-md-2 pt-4 mb40">   
  <div class="row">
    <div class="col-md-5 fs13 mt-2 fw600">Market</div>
    <div class="col-md-6 market market_box">
      <mat-form-field class="market_mat-form-field">    
        <select matNativeControl required class="fs13 market_select">         
          <option value="1">US</option>
          <option value="2">India</option>     
        </select>
      </mat-form-field>    
          
    </div>
  </div>   
</div> -->
<div class="col-md-3 pt-4 mb40" *ngIf="marketSelectionDisplay">   
  <div class="row">
    <div class="col-md-3 fs13 fw600 mr-1 mt14">Market</div>
    <div class="w97 fs13  fw600 market_box mt9">
      <mat-form-field class="mat-form-field">        
        <mat-select [(value)]="marketSelection" (selectionChange)="updateMarketSelection()">
        <mat-select-trigger *ngIf="marketSelection && marketSelection === '1'">
          <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> <span class="market_trigger fs11">US</span>
        </mat-select-trigger>
        <mat-select-trigger *ngIf="marketSelection && marketSelection === '2'">
          <img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"><span class="market_trigger fs11">India</span> 
        </mat-select-trigger>
          <mat-option value="1"> <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> US</mat-option>
          <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"> India</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
</div>

<div class="cardDiv clearfix mb10">
  <div class="bigCard">
    <div class="boxDiv">
      <div class="p1015 bgLGColor">
        <div class="clearfix">
          <h6 class="fs12 float-left mt-1 mb-0">Spends <i [matTooltip]="advertiser_dashboard_spends" class="icon-78 tradMak fs12 wdColor"></i></h6>
          <div class="float-right wColor bgpr fs10" [ngClass]="{
            'bgGColor': cardsData && cardsData.spends?.change >= 0,
            'bgRColor': cardsData && cardsData.spends?.change < 0
          }"><i class="icon-48" [ngClass]="{
            'icon-47': cardsData && cardsData.spends?.change >= 0,
            'icon-48': cardsDcardsData && cardsDataata.spends?.change < 0
          }"></i> {{ (cardsData && cardsData.spends?.change) ? (cardsData.spends?.change | number:'.0-0') : 0 }}%</div>
        </div>
        <div class="clearfix">
          <div class="float-left mt-1"><i class="icon-22 op5 fs24 mainColor"></i></div>
          <h2 class="fw float-right fs16 mb-0 mt-1">
            {{currencySymbol}}{{ cardsData.spends?.total | number : '1.0-0' }}
          </h2>
        </div>
      </div>
      <hr class="m-0">
      <div class="p1015">
        <div class="clearfix">
          <div class="float-left"><i class="icon-40 op5 fs24 mainColor"></i></div>
          <div class="float-right wColor bgpr fs10" [ngClass]="{
            'bgGColor':cardsData && cardsData.clicks?.change >= 0,
            'bgRColor':cardsData && cardsData.clicks?.change < 0
          }"><i class="icon-48" [ngClass]="{
            'icon-47':cardsData && cardsData.clicks?.change >= 0,
            'icon-48':cardsData && cardsData.clicks?.change < 0
          }"></i> {{ (cardsData && cardsData.clicks?.change) ? (cardsData.clicks?.change | number:'.0-0') : 0  }}%</div>
        </div>
        <div class="clearfix">
          <h6 class="fs12 mt-1 float-left mb-0">Clicks <i [matTooltip]="advertiser_dashboard_clicks" class="icon-78 tradMak fs12 grColor"></i></h6>
          <h2 class="fw float-right fs16 mb-0">{{ cardsData.clicks?.total ? cardsData.clicks?.total : '-' }}</h2>
        </div>
      </div>
      <hr class="m-0">
      <div class="p1015">
        <div class="clearfix">
          <div class="float-left"><i class="icon-41 op5 fs24 mainColor"></i></div>
          <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
            'bgGColor':cardsData && cardsData.avgCPC?.change >= 0,
            'bgRColor':cardsData && cardsData.avgCPC?.change < 0
          }"><i class="icon-47" [ngClass]="{
            'icon-47':cardsData && cardsData.avgCPC?.change >= 0,
            'icon-48':cardsData && cardsData.avgCPC?.change < 0
          }"></i> {{ (cardsData && cardsData.avgCPC?.change) ? (cardsData.avgCPC?.change | number:'.0-0') : 0 }}%</div>
        </div>
        <div class="clearfix">
          <h6 class="fs12 mt-1 float-left mb-0">CPC <i [matTooltip]="advertiser_dashboard_cpc" class="icon-78 tradMak fs12 grColor"></i></h6>
          <h2 class="fw float-right fs16 mb-0">{{currencySymbol}}{{ cardsData.avgCPC?.total | number:'1.0-0' }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="smallAllCards">
    <div class="row">
      <div class="smallCard">
        <div class="boxDiv">
          <div class="p1015 clearfix">
            <h6 class="fs12 float-left mt-1 mb-0">Impressions <i [matTooltip]="advertiser_dashboard_impressions" class="icon-78 tradMak fs12 grColor"></i></h6>
            <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData && cardsData.impressions?.change >= 0,
              'bgRColor':cardsData && cardsData.impressions?.change < 0
            }"><i class="icon-47" [ngClass]="{
              'icon-47':cardsData && cardsData.impressions?.change >= 0,
              'icon-48':cardsData && cardsData.impressions?.change < 0
            }"></i> {{(cardsData && cardsData.impressions?.change) ? (cardsData.impressions?.change | number:'.0-0') : 0 }}%</div>
          </div>
          <hr class="m-0">
          <div class="p1015 clearfix">
            <div class="float-left"><i class="icon-21 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0">{{ (cardsData && cardsData.impressions?.total) ? cardsData.impressions?.total : '-' }}</h2>
          </div>
        </div>
      </div>
      <!--
      <div class="smallCard">
        <div class="boxDiv">
          <div class="p1015 clearfix">
            <h6 class="fs12 float-left mt-1 mb-0">Views</h6>
            <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData.views?.change >= 0,
              'bgRColor':cardsData.views?.change < 0
            }"><i class="icon-47" [ngClass]="{
              'icon-47':cardsData.views?.change >= 0,
              'icon-48':cardsData.views?.change < 0
            }"></i> {{ cardsData.views?.change ? (cardsData.views?.change | number:'.0-0') : 0}}%</div>
          </div>
          <hr class="m-0">
          <div class="p1015 clearfix">
            <div class="float-left"><i class="icon-45 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0">{{ cardsData.views?.total ? cardsData.views?.total: '-' }}</h2>
          </div>
        </div>
      </div>
      -->
      <div class="smallCard">
        <div class="boxDiv">
          <div class="p1015 clearfix">
            <h6 class="fs12 float-left mt-1 mb-0">Active Campaigns <i [matTooltip]="advertiser_dashboard_campaigns" class="icon-78 tradMak fs12 grColor"></i></h6>
            <div class="float-right bgGColor wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData && cardsData.activeCampaigns?.change >= 0,
              'bgRColor':cardsData && cardsData.activeCampaigns?.change < 0
            }"><i class="icon-47" [ngClass]="{
              'icon-47':cardsData && cardsData.activeCampaigns?.change >= 0,
              'icon-48':cardsData && cardsData.activeCampaigns?.change < 0
            }"></i> {{ (cardsData && cardsData.activeCampaigns?.change) ? (cardsData.activeCampaigns?.change | number:'.0-0') : 0 }}%</div>
          </div>
          <hr class="m-0">
          <div class="p1015 clearfix">
            <div class="float-left"><i class="icon-45 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0">
              {{ (cardsData && cardsData.activeCampaigns?.total) ? cardsData.activeCampaigns?.total : '-' }}</h2>
          </div>
        </div>
      </div>
      <div class="smallCard">
        <div class="boxDiv">
          <div class="p1015 clearfix">
            <h6 class="fs12 float-left mt-1 mb-0" >Outstanding Dues <i [matTooltip]="advertiser_dashboard_outstanding_amt" class="icon-78 tradMak fs12 grColor"></i></h6>
          </div>
          <hr class="m-0">
          <div class="p1015 clearfix">
            <div class="float-left"><i class="icon-40 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0">{{currencySymbol}}{{ cardsData.outstandingAmt?.total | number: '1.0-0' }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-0">
      <div class="smallCard">
        <div class="boxDiv">
          <div class="p1015 clearfix">
            <h6 class="fs12 float-left mt-1 mb-0">CPM <i [matTooltip]="advertiser_dashboard_cpm" class="icon-78 tradMak fs12 grColor"></i></h6>
            <div class="float-right wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData && cardsData.avgCPM?.change >= 0,
              'bgRColor':cardsData && cardsData.avgCPM?.change < 0
            }"><i class="icon-48" [ngClass]="{
              'icon-47':cardsData && cardsData.avgCPM?.change >= 0,
              'icon-48':cardsData && cardsData.avgCPM?.change < 0
            }"></i> {{(cardsData && cardsData.avgCPM?.change) ? (cardsData.avgCPM?.change | number:'.0-0') : 0}}%</div>
          </div>
          <hr class="m-0">
          <div class="p1015 clearfix">
            <div class="float-left"><i class="icon-46 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0">{{currencySymbol}}{{ cardsData.avgCPM?.total | number: '1.0-0' }}</h2>
          </div>
        </div>
      </div>
      <!--
      <div class="smallCard">
        <div class="boxDiv">
          <div class="p1015 clearfix">
            <h6 class="fs12 float-left mt-1 mb-0">CPV</h6>
            <div class="float-right bgRColor wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData.avgCPV?.change >= 0,
              'bgRColor':cardsData.avgCPV?.change < 0
            }"><i class="icon-48" [ngClass]="{
              'icon-47':cardsData.avgCPV?.change >= 0,
              'icon-48':cardsData.avgCPV?.change < 0
            }"></i> {{ cardsData.avgCPV?.change ? (cardsData.avgCPV?.change | number:'.0-0') : 0 }}%</div>
          </div>
          <hr class="m-0">
          <div class="p1015 clearfix">
            <div class="float-left"><i class="icon-46 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0">{{ cardsData.avgCPV?.total | currency : 'USD':'symbol':'1.0-0' }}</h2>
          </div>
        </div>
      </div>
      -->
      <div class="smallCard">
        <div class="boxDiv">
          <div class="p1015 clearfix">
            <h6 class="fs12 float-left mt-1 mb-0">Reach <i [matTooltip]="advertiser_dashboard_reach" class="icon-78 tradMak fs12 grColor"></i></h6>
            <div class="float-right bgRColor wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData && cardsData.reach?.change >= 0,
              'bgRColor':cardsData && cardsData.reach?.change < 0
            }"><i class="icon-48" [ngClass]="{
              'icon-47':cardsData && cardsData.reach?.change >= 0,
              'icon-48':cardsData && cardsData.reach?.change < 0
            }"></i> {{ (cardsData && cardsData.reach?.change) ? (cardsData.reach?.change | number:'.0-0') : 0 }}%</div>
          </div>
          <hr class="m-0">
          <div class="p1015 clearfix">
            <div class="float-left"><i class="icon-24 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0">
              {{ (cardsData && cardsData.reach?.total) ? (cardsData.reach?.total | number:'.0-0') : '-' }}</h2>
          </div>
        </div>
      </div>
      <div class="smallCard">
        <div class="boxDiv">
          <div class="p1015 clearfix">
            <h6 class="fs12 float-left mt-1 mb-0">CTR <i [matTooltip]="advertiser_dashboard_ctr" class="icon-78 tradMak fs12 grColor"></i></h6>
            <div class="float-right bgRColor wColor bgpr fs10" [ngClass]="{
              'bgGColor':cardsData && cardsData.CTR?.change >= 0,
              'bgRColor':cardsData && cardsData.CTR?.change < 0
            }"><i class="icon-48" [ngClass]="{
              'icon-47':cardsData && cardsData.CTR?.change >= 0,
              'icon-48':cardsData && cardsData.CTR?.change < 0
            }"></i> {{(cardsData && cardsData.CTR?.change) ? (cardsData.CTR?.change | number:'.0-0') : 0}}%</div>
          </div>
          <hr class="m-0">
          <div class="p1015 clearfix">
            <div class="float-left"><i class="icon-32 op5 fs24 mainColor"></i></div>
            <h2 class="fw float-right fs16 mb-0">
              {{ (cardsData && cardsData.CTR?.total) ? (cardsData.CTR?.total | number:'.0-0') +'%' : '-' }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="table-responsive boxDiv mtb40" *ngIf="clientsData && clientsData.length === 0">
  <div class="mainBGcolor w-100 p-2 clearfix">
    <div class="text-center">No data available!</div>
  </div>
</div>

<div class="row" *ngIf="clientsData && clientsData.length === 1">
  <div class="col-md-10">
    <div class="table-responsive boxDiv mb-4">
      <div class="boxDiv" *ngFor="let client of clientsData ">
        <div class="mainBGcolor pr-2 pl-2 pt-1 pb-1 clearfix">
          <div class="fs12 fw600 wColor tableDivWidth text-left" style="width: 25%;">{{ client.clientName }}</div>
          <div class="fs12 fw600 wColor text-center tableDivWidth"> Active Campaigns</div>
          <div class="fs12 fw600 wColor text-center tableDivWidth"> Spends</div>
          <div class="fs12 fw600 wColor text-center tableDivWidth"> Reach</div>
          <div class="fs12 fw600 wColor"></div>
        </div>

        <div *ngFor="let brand of client.brandData ; let i = index" >
          <div class="p-2 table tableStyles  clearfix">
            <div class="tableDivWidth fs12 text-left" style="width: 25%;"><a (click)="filterResults(brand)">{{brand.brandName }}</a></div>
            <div class="tableDivWidth fs12 text-center"> {{brand.activeSubCampaignsDetails.length}}</div>
            <div class="tableDivWidth fs12 text-center"> {{currencySymbol}}{{brand.spends?.total | number: '1.0-0'}}</div>
            <div class="tableDivWidth fs12 text-center"> {{brand.reach?.total ? brand.reach?.total: '-'}}</div>
            <div class="tableDivWidth text-right float-right"> <button type="button" class="btn bgNone p-0" data-toggle="collapse"
                (click)="hideme[brand.brandId] = !hideme[brand.brandId]">
                <i class="icon-48 fs16 grColor" *ngIf='!hideme[brand.brandId]'></i>
                <i class="icon-47 fs16 grColor" *ngIf='hideme[brand.brandId]'></i>
              </button></div>

 <div [hidden]="!hideme[brand.brandId]" class="collapse" class="col-md-12 p-0 mb-3 mt-6 brr1 bgLGRColor">
  <table id="brand.brand" class="table table-striped fs12" >
    <thead>
      <tr>
        <th scope="col" class="fw600 text-left">Campaign Name</th>
        <th scope="col" class="fw600 text-right">Spends</th>
        <th scope="col" class="fw600 text-right">Impressions</th>
        <th scope="col" class="fw600 text-right">Clicks</th>
        <th scope="col" class="fw600 text-right">CTR</th>
        <th scope="col" class="fw600 text-right">CPC</th>
        <th scope="col" class="fw600 text-right">CPM</th>
        <!-- <th scope="col" class="fw600">CPV</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let camp of brand.activeSubCampaignsDetails">
        <!--<td><a class="mainColor tdu" style="text-decoration: underline !important;" (click)="editSubCampaign(brand.brandId, camp.campaignId, camp.subCampaignId)">{{ camp.name }}</a></td>-->
        <td class="text-left">{{ camp.name }}</td>
        <td class="text-right">{{ camp.spends > 0 ? (currencySymbol+(camp.spends | number:'1.0-0')) : '-' }}</td>
        <td class="text-right">{{ camp.impressions > 0 ? camp.impressions : '-' }}</td>
        <td class="text-right">{{ camp.clicks > 0 ? camp.clicks : '-' }}</td>
        <td class="text-right">{{ camp.CTR > 0 ? (camp.CTR | number:'.0-0') +'%': '-' }}</td>
        <td class="text-right">{{ camp.CPC > 0 ? (currencySymbol+(camp.CPC | number:'1.0-0')) : '-' }}</td>
        <!-- <td class="text-center">{{ camp.CPV > 0 ? (camp.CPV | currency : 'USD':'symbol':'1.0-0') : '-'}}</td> -->
        <td class="text-right">{{ camp.CPM > 0 ? (currencySymbol+(camp.CPM | number:'1.0-0')) : '-' }}</td>
      </tr>
      <tr *ngIf="brand.activeSubCampaignsDetails && !brand.activeSubCampaignsDetails.length">
        <td class='text-center' colspan='7'>No records found!</td>
      </tr>
    </tbody>
  </table>
</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="clientsData && clientsData.length > 1">
  <div class="mb-2" *ngFor="let client of clientsData">
    <h4 class="fw fs15 mb-2">{{client.clientName}}</h4>
    <div class="row ">
      <div class="col-md-5 mb-2 pr-0" *ngFor="let brand of client.brandData">
        <div class="boxDiv">
          <div class="mainBGcolor w-100 pt-1 pb-1 pl-3 pr-3 clearfix">
            <h5 class="fs14 float-left"><a class="wColor">{{brand.brandName}}</a></h5><!--(click)="filterResults(brand.brandId)"-->
            <p class="wColor float-right mb-0">{{ brand.activeSubCampaignsDetails.length ? brand.activeSubCampaignsDetails.length : 0}} active campaigns
            </p>
          </div>
          <table class="table table-striped tableStyles">
            <thead>
              <tr>
                <th scope="col" class="fw600">Campaign Name</th>
                <th scope="col" class="fw600">Spends</th>
                <th scope="col" class="fw600">Impressions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let camp of brand.activeSubCampaignsDetails">
                <!--<td><a class="mainColor tdu" style="text-decoration: underline !important;" (click)="editSubCampaign(brand.brandId, camp.campaignId, camp.subCampaignId)">{{ camp.name }}</a></td>-->
                <td>{{ camp.name }}</td>
                <td class="text-center">{{ camp.spends > 0 ? (currencySymbol+(camp.spends | number:'1.0-0')) : '-' }}</td>
                <td class="text-center">{{ camp.impressions > 0 ? camp.impressions : '-' }}</td>
              </tr>
              <tr *ngIf="brand.activeSubCampaignsDetails && !brand.activeSubCampaignsDetails.length">
                <td class="text-center" colspan='3'>No records found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
