<!-- <div class="row" *ngIf="filteredInvoiceList && filteredInvoiceList.length">
  <div class="col-md-2">
    <div class="boxDiv mt-3">
      <a (click)="toggleSearch();" class="filterShowHide mainColor h6 p-3 dBlock1 mb-0">Filter <i
          class="icon-48 grColor fs18 float-right"></i></a>
    </div>
  </div>
  <div class="col-md-10"></div>
</div>
<div class="filterShowDiv mt-2" *ngIf="show">
  <div class="boxDiv p-3">
    <div class="allInputBoxs">
      <div class="boxsInput selectWrapper" style="width:22%">
        <select class="inputBox">
          <option>Brand</option>
        </select>
      </div>
      <div  class="boxsInput" style="width:22%">
        <div class="inputBox clearfix p-1">
          <input class="bgNone br0 float-left pt-1" style="width:60%" placeholder="dd/mm/yyyy">
          <i class="icon-23 fs20 float-right mr-1"></i>
        </div>
      </div>
      <div  class="boxsInput" style="width:22%">
        <div class="inputBox clearfix p-1">
          <input class="bgNone br0 float-left pt-1" style="width:60%" placeholder="dd/mm/yyyy">
          <i class="icon-23 fs20 float-right mr-1"></i>
        </div>
      </div>
      <div class="boxsInput selectWrapper" style="width:22%">
        <select class="inputBox">
          <option>Pending</option>
          <option>Paid</option>
        </select>
      </div>
      </div>
      <div class="rightBts">
        <button class="primaryBtn mainColor mainBordercolr float-right">Apply</button>
      </div>
    
  </div>
</div> -->
<div class="table-responsive boxDiv mt-3">
  <table multiTemplateDataRows mat-table [dataSource]="filteredInvoiceList" class="table table-striped tableStyles"
    *ngIf="filteredInvoiceList && filteredInvoiceList.length" style="border-bottom: 1px solid #000000;">
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element" align="text-center"> {{element.invoiceDate | date: 'd MMM yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="Invoice number">
      <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="Payment method">
      <th mat-header-cell *matHeaderCellDef> Payment Method </th>
      <td mat-cell *matCellDef="let element"> {{element.accountType}} </td>
    </ng-container>
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{currencySymbol}}{{element.amount | number:'1.0-0'}}</td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> <span style="display:inline-block; margin-top:5px">{{element.invoiceStatus}} </span>
          <button type="button"
          class="btn bgNone p-0 collapsed rightArrow" data-toggle="collapse" data-target="#hdfcBank" aria-expanded="false">
          <i class="icon-48 fs20 grColo"></i>
        </button> </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">

      <td colspan="6" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="row" class="invoiceelement-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="col-md-6">
            <h3 class="fs14 fw600 mt-3">{{element.invoiceNumber}}</h3>
          </div>
          <div class="col-md-6 text-right">
            <button (click)="downloadInvoce(element._id);"
              class="primaryBtn mainColor mainBordercolr  mb-3">
              <i class="icon-35 fs18 fw600 float-left"></i> Download
            </button>
            <button (click)="emailInvoice(element._id);"
              class="primaryBtn mainColor mainBordercolr lh16 mb-3">
              <i class="icon-15 fs15 fw600 float-left mr-2"></i> Email
            </button>
          </div>
        </div>
        <div class="br1 brr4 brCColor invoiceelement-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <table class="table">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Campaign</th>
                <th>Duration</th>
                <th class="text-right">AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subcampaignDetails of element.items">
                <td>{{element.brandName}}</td>
                <td>{{subcampaignDetails.campaignName}}</td>
                <td>{{subcampaignDetails.startDate | date: 'd MMM yyyy'}}-{{subcampaignDetails.endDate | date: 'd MMM yyyy'}}</td>
                <td align="right">{{currencySymbol}}{{subcampaignDetails.amount | number:'1.0-0'}}</td>
              </tr>
              <tr>
                <td colspan="4" class="p-0">
                  <hr>
                </td>
              </tr>
              <tr class="eeeBG">
                <td colspan="3">&nbsp;</td>
                <td>Sub-total <span class="float-right">{{currencySymbol}}{{element.amount | number:'1.0-0' }}</span></td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
                <td>Taxes <span class="float-right">{{currencySymbol}}{{element.tax | number:'1.0-0' }}</span></td>
              </tr>
              <tr class="eeeBG">
                <td colspan="3">Funding Source: <strong>{{element.accountNumber}} {{element.accountType}}</strong></td>
                <td><strong>Total</strong> <span
                    class="float-right"><strong>{{currencySymbol}}{{element.tax | number:'1.0-0' }}</strong></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mainBGcolor wColor text-center"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns; let even = even;"
      [class.invoiceexpanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];let even = even;" class="invoicedetail-row"></tr>

  </table>
</div>
  <div class="boxDiv col" *ngIf="loaded && filteredInvoiceList && !filteredInvoiceList.length">
    <p class="pt-3"> No records found!</p>
  </div>