table {
    width: 100%;
  }
  
  tr.invoicedetail-row {
    height: 0;
  }
  
  tr.invoiceelement-row:not(.invoiceexpanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.invoiceelement-row:not(.invoiceexpanded-row):active {
    background: #efefef;
  }
  
  .invoiceelement-row td {
    border-bottom-width: 0;
  }
  
  .invoiceelement-detail {
    overflow: hidden;
    display: flex;
	  margin:15px 15px 15px 0;
  }
  
  .invoiceelement-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .invoiceelement-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .invoiceelement-description {
    padding: 16px;
  }
  
  .invoiceelement-description-attribution {
    opacity: 0.5;
  }
  
.table {
    margin-bottom: 0;
  }
  
 th.mat-header-cell {
    text-align: left;
    color: #fff; 
	 border:noe;
  }
  td.mat-cell {
    padding:0px !important;
	  border:none; padding-left: 7px !important;
  }
  input.mat-input-element {
      border-radius: 4px;
      width: 100%;
      border: 1px solid #ccc;
      padding: 10px 15px;
      margin: 0;
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
      font-size:14px;
  }
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type { padding-left:15px!important;}
.mat-table { font-family:'Work Sans', sans-serif!important;}
.rightArrow { float:right; margin:0 10px 0 0}
.lh15{ line-height: 15px;}  