<div class="table-responsive boxDiv mt-3" *ngIf="pageView=='ListView'">
  <table class="table table-striped tableStyles" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef class="fs18 fw600"> Saved Countries </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="pr-3 text-center"> Address </th>
        <td mat-cell *matCellDef="let element" width="25%" class="pr-3 text-center"> {{element.address.addressLine1}}, {{element.address.addressLine2}},
          {{element.address.city}}, {{element.address.state}}, {{element.address.zipcode}} </td>
    </ng-container>
    <ng-container matColumnDef="typeOfTax">
        <th mat-header-cell *matHeaderCellDef> Tax </th>
        <td mat-cell *matCellDef="let element"> {{element.typeOfTax}} </td>
    </ng-container>
    <ng-container matColumnDef="percentageOfTax">
        <th mat-header-cell *matHeaderCellDef> Tax% </th>
        <td mat-cell *matCellDef="let element"> {{element.percentageOfTax}} </td>
    </ng-container>
    <ng-container matColumnDef="taxNumber">
        <th mat-header-cell *matHeaderCellDef> Registration No. </th>
        <td mat-cell *matCellDef="let element"> {{element.taxRegistrationNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="addcountry">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <button class="primaryBtn brwColor float-right wColor font-weight-normal" (click)="renderAddView()"><i class="icon-6 fs16 fw600"></i> Add Country</button>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <a class="mainColor tdu mr-3" (click)="renderEditView(element._id)"><i class="icon-25 fs16 fw600"></i></a>
          <a class="mainColor tdu ml-3" (click)="removeCountryTax(element._id)"><i class="icon-26 fs16 fw600"></i></a>
        </td>
    </ng-container>
    <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="grColor m-4" *ngIf="dataSource && !dataSource.length">
    <strong>No Records found !</strong>
  </div>
</div>

<div class="boxDiv ovi mb-3 mt-3 w-75" *ngIf="pageView==='AddView' || pageView==='EditView'">
  <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
    <div class="row">
      <div class="col-md-4 mt-2">
        <a class="wColor ttu fs14" (click)="renderListView()">
          <i class="icon-49 fs14 fw600"></i> Back
        </a>
      </div>
      <div class="col-md-8" *ngIf="pageView==='AddView'">
        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add a new country</h5>
      </div>
      <div class="col-md-8" *ngIf="pageView==='EditView'">
          <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit country</h5>
        </div>
    </div>
  </div>
  <div class="p-4">
    <form [formGroup]="countryTaxForm">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group row text-center text-danger" *ngIf="errorMessage">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <strong><i class="icon-17" style="padding-right:7px;"></i>{{errorMessage}}</strong>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label formLabel">Name <i class="icon-16 fs16 grColor"></i></label>
            <div class="col-sm-8">
                <input type="text" id="country" placeholder="Country" aria-label="Country" matInput formControlName="country" [matAutocomplete]="country"  autocomplete="off">
                <mat-autocomplete #country="matAutocomplete">
                  <mat-option *ngFor="let option of filteredCountries | async" [value]="option.countryName">
                    {{option.countryName}}
                  </mat-option>
                </mat-autocomplete>
                <app-field-error-display [displayError]="isFieldValid('country')" errorMsg="Country is required">
                </app-field-error-display>
            </div>
          </div>
          <div class="form-group row" formGroupName="address">
            <label class="col-sm-4 col-form-label formLabel">Address <i class="icon-16 fs16 grColor"></i></label>
            <div class="col-sm-8">
              <input type="text" class="inputBox" id="addressLine1" name="addressLine1" formControlName="addressLine1" placeholder="Address Line 1" autocomplete="off">
              <div class="mb-3">
                <app-field-error-display [displayError]="isFieldValid('address.addressLine1')" errorMsg="Address Line1 is required">
                </app-field-error-display>
              </div>
              <input type="text" class="inputBox" id="addressLine2" name="addressLine2" formControlName="addressLine2" placeholder="Address Line 2" autocomplete="off">
              <div class="mb-3">
                <app-field-error-display [displayError]="isFieldValid('address.addressLine2')" errorMsg="Address Line2 is required">
                </app-field-error-display>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                  <input type="text" placeholder="City" aria-label="City" matInput formControlName="city"
                  [matAutocomplete]="city" (blur)="onChangeCity()" (keyup) = "onChangeCityString()" autocomplete="off">
                  <mat-autocomplete #city="matAutocomplete">
                    <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                  <app-field-error-display [displayError]="isFieldValid('address.city')" errorMsg="City is required">
                  </app-field-error-display>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                      <input type="text" placeholder="State" aria-label="State" matInput formControlName="state" [matAutocomplete]="state" autocomplete="off">
                      <mat-autocomplete #state="matAutocomplete">
                        <mat-option *ngFor="let option of filteredStates | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                      <app-field-error-display [displayError]="isFieldValid('address.state')" errorMsg="State is required">
                      </app-field-error-display>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="inputBox" id="zipcode" formControlName="zipcode" placeholder="Zip Code" autocomplete="off">
                  <app-field-error-display [displayError]="isFieldValid('address.zipcode')" errorMsg="Zip Code is required">
                  </app-field-error-display>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label formLabel">Tax <i class="icon-16 fs16 grColor"></i></label>
            <div class="col-sm-8">
              <input type="text" class="inputBox" id="typeOfTax" name="typeOfTax" formControlName="typeOfTax" placeholder="Tax" autocomplete="off">
              <app-field-error-display [displayError]="isFieldValid('typeOfTax')" errorMsg="Tax is required">
              </app-field-error-display>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label formLabel">Tax % <i class="icon-16 fs16 grColor"></i></label>
            <div class="col-sm-8">
              <input type="text" class="inputBox" id="percentageOfTax" name="percentageOfTax" formControlName="percentageOfTax" placeholder="Tax %" autocomplete="off">
              <app-field-error-display [displayError]="isFieldValid('percentageOfTax')" errorMsg="Tax % is required">
              </app-field-error-display>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label formLabel">Registration Number <i class="icon-16 fs16 grColor"></i></label>
            <div class="col-sm-8">
              <input type="text" class="inputBox" id="taxNumber" name="taxNumber" formControlName="taxRegistrationNumber" placeholder="Registration Number" autocomplete="off">
              <app-field-error-display [displayError]="isFieldValid('taxRegistrationNumber')" errorMsg="Registration Number is required">
                </app-field-error-display>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-3 clearfix">
          <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onSubmit()" *ngIf="pageView==='AddView'">
              Save
          </button>
          <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onEditSubmit()" *ngIf="pageView==='EditView'">
              Save
          </button>
      </div>
    </form>
  </div>
</div>
