.tableStyles th { padding:.75rem!important; border:none!important}
.mat-form-field-infix { border-top:0!important; padding:0!important; margin:0!important}
.tableStyles td { padding:.75rem!important;}
.nameCardDetails{
    position: absolute;
    top: 20px;
    left: 28px;
    font-size: 10px;
}
.nameCardDetails .row{
    margin: 0px!important;
}
.mat-option-text{ margin-top: 9px !important;}
.pubhc{color:#4e70ef}