<div class="boxDiv  mt-2 mb-2 checkbox1">
  <div class="mainBGcolor w-100 pl-2 pr-2 clearfix">
    <div class="row">
      <div class="col-md-8" *ngIf="show">
        <h5 class="fs14 fw600 wColor float-left stptb pl-2">Account/s that will be credited</h5>
      </div>
      <div class="col-md-8 stptb" *ngIf="!show">
        <a (click)="toggleAddAccount('listView')" class="wColor ttu fs12">
          <i class="icon-49 fs12 fw600 float-left" style="margin:3px 10px 0 0"></i> Back
        </a>
      </div>
      <div class="col-md-4">
        <a *ngIf="show" (click)="toggleAddAccount('addView')"
          class="stripprimaryBtn brwColor float-right wColor font-weight-normal mt-1">
          <i class="icon-6 fs10 fw600"></i> Add Account
        </a>
      </div>
    </div>
  </div>
  <div class="table-responsive" *ngIf="pageView === 'listView'">
    <table class="table table-striped tableStyles brr0">
      <!--<thead>
        <tr class="bgGRColor">
          <th class="text-left">Bank Name</th>
          <th class="text-left">Account Number</th>
          <th class="text-center">SWIFT Code</th>
          <th class="text-center">Platforms</th>
          <th colspan="2"></th>
        </tr>
      </thead>-->
      <tr class="row">
        <div *ngIf="status === true" class="alert alert-success pl-3">
          <mat-icon class="pt-2" *ngIf="message">done</mat-icon> {{ message }}
        </div>
        <div *ngIf="status === false" class="alert-danger pl-3">
          <mat-icon class="pt-2" *ngIf="message">error</mat-icon> {{ message }}
        </div>
      </tr>        
      <tr *ngFor='let data of dataSource'>
        <td class="text-left">{{data.bankName}}</td>
        <td class="text-left">{{data.accountNumber | mask:4}}</td>
        <td class="text-left">{{data.swiftCode}}</td>
        <td class="text-left">{{data.platforms.length ? ( data.platforms.length === 1 ? data.platforms.length + ' platform' : data.platforms.length + ' platforms' ) : '-' }}</td>
        <td><a (click)="editAccountView(data._id)" class="mainColor tdu">Edit</a></td>
        <td><a (click)="deleteAccount(data._id);" class="mainColor tdu">Remove</a></td>
      </tr>
      <tr *ngIf='dataSource && !dataSource.length'>
        <td colspan="6">You are yet to link a bank account to your Doceree account. Please provide your bank details at the earliest so we can deposit your earnings directly into your account each month.</td>
      </tr>
    </table>
  </div>
    <div class="p-4" *ngIf="pageView === 'editView' || pageView === 'addView'" >
      <form [formGroup]="addAccountForm"
        (ngSubmit)="pageView === 'editView' ? updateAccount(editId) : onSubmit()">
          <div class="row">
            <!--<div class="col-md-4 mt-3"><img src="assets/images/addAccountIMG.svg" alt="Add Account"
                class="img-fluid"></div>-->              
            <div class="col-md-4">
                <img src="assets/images/addAccountIMG.svg" alt="Add Account" class="img-fluid">
                <div class="nameCardDetails">
                  <div class="row">
                      {{(editData && editData.accountHolderName) ? editData.accountHolderName : ''}}
                  </div>
                  <div class="row">
                    {{(editData && editData.accountNumber) ? editData.accountNumber : ''}}
                  </div>
                  <div class="row" *ngIf="zone === '1'">
                    {{(editData && editData.swiftCode) ? editData.swiftCode : ''}}
                  </div>
                  <div class="row" *ngIf="zone === '2'">
                    {{(editData && editData.ifsc) ? editData.ifsc : (editData.swiftCode) ? editData.swiftCode : ''}}
                  </div>
                </div>
              </div>
            <div class="col-md-8">
              <!-- <div class="form-group row">
                <div *ngIf="status === true" class="alert alert-success pl-3">
                  <mat-icon class="pt-2" *ngIf="message">done</mat-icon> {{ message }}
                </div>
                <div *ngIf="status === false" class="alert-danger pl-3">
                  <mat-icon class="pt-2" *ngIf="message">error</mat-icon> {{ message }}
                </div>
              </div> -->
              <div *ngIf="zone === '2'" class="fs13 pubhc mb-1"><strong> Entity Details</strong></div>
              <div class="form-group row">
                <label class="col-sm-5 col-form-label formLabel">Entity Name <!--<i [matTooltip]="publisher_payments_bank_details_entity_name" class="icon-78 tradMak grColor fs12"></i>--></label>
                <div class="col-sm-7">
                  <input type="text" class="inputBox" formControlName="accountHolderName"
                    [(ngModel)]="editData.accountHolderName">
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountHolderName'].hasError('required')">
                  Entity Name is required
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountHolderName'].hasError('pattern')">
                  Entity Name can only contain characters
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountHolderName'].hasError('whitespace')">
                  Entity Name should contain atleast 3 letters
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label formLabel"><span *ngIf="zone === '1'">Tax ID</span><span *ngIf="zone === '2'">Entity PAN</span></label>
                <div class="col-sm-7">
                  <input type="text" class="inputBox" formControlName="taxNumber"
                    [(ngModel)]="editData.taxNumber">
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['taxNumber'].hasError('required')">
                  Tax ID is required
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['taxNumber'].hasError('whitespace')">
                  Tax ID cannot contain space
                </div> 
              </div>

              <div *ngIf="zone === '2'">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label formLabel">Entity Address <!--<i [matTooltip]="publisher_payments_bank_details_entity_name" class="icon-78 tradMak grColor fs12"></i>--></label>
                  <div class="col-sm-7">
                    <input type="text" class="inputBox" formControlName="accountHolderAddress"
                      [(ngModel)]="editData.accountHolderAddress">
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['accountHolderAddress'].hasError('required')">
                    Entity Address is required
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['accountHolderAddress'].hasError('whitespace')">
                    Entity Address should contain atleast 3 letters
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-5 col-form-label formLabel">Entity CIN <!--<i [matTooltip]="publisher_payments_bank_details_entity_name" class="icon-78 tradMak grColor fs12"></i>--></label>
                  <div class="col-sm-7">
                    <input type="text" class="inputBox" formControlName="accountHolderCIN"
                      [(ngModel)]="editData.accountHolderCIN">
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['accountHolderCIN'].hasError('required')">
                    Entity CIN is required
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-5 col-form-label formLabel"> GSTIN <!--<i [matTooltip]="publisher_payments_bank_details_entity_name" class="icon-78 tradMak grColor fs12"></i>--></label>
                  <div class="col-sm-7">
                    <input type="text" class="inputBox" formControlName="accountHolderGSTIN"
                      [(ngModel)]="editData.accountHolderGSTIN">
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['accountHolderGSTIN'].hasError('required')">
                    Entity GSTIN is required
                  </div>
                </div>

              </div>

              <div *ngIf="zone === '2'" class="mt-4 fs13 pubhc mb-1 "><strong> Bank Details</strong></div>
              <div class="form-group row">
                <label class="col-sm-5 col-form-label formLabel">Bank Name</label>
                <div class="col-sm-7">
                  <input type="text" class="inputBox" formControlName="bankName"
                    [(ngModel)]="editData.bankName">
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['bankName'].hasError('required')">
                  Bank name is required
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['bankName'].hasError('pattern')">
                  Bank name can only contain alphanumeric characters
                </div>               
              </div>

              <div class="form-group row" *ngIf="zone === '2'">
                <label class="col-sm-5 col-form-label formLabel">Branch Address</label>
                <div class="col-sm-7">
                  <input type="text" class="inputBox" formControlName="bankAddress"
                    [(ngModel)]="editData.bankAddress">
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['bankAddress'].hasError('required')">
                  Bank Address is required
                </div>            
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label formLabel">Bank Country</label>
                <div class="col-sm-7">
                  <input type="text" class="inputBox" matInput formControlName="bankCountry"
                  [matAutocomplete]="bankCountry" [readonly]= true >
                  <mat-autocomplete #bankCountry="matAutocomplete">
                    <mat-option *ngFor="let option of filteredBankCountries | async" [value]="option">
                    {{option}}
                    </mat-option>
                  </mat-autocomplete>    
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                *ngIf="submitted && addAccountForm.controls['bankCountry'].hasError('required')">
                Bank Country is required
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['bankCountry'].hasError('pattern')">
                  Bank Country can only contain alphanumeric characters
                </div>  
              </div>
              <div class="form-group row">
                <label class="col-sm-5 col-form-label formLabel">Account Number</label>
                <div class="col-sm-7">
                  <input type="text" class="inputBox" appNumbersOnly formControlName="accountNumber"
                    [(ngModel)]="editData.accountNumber" 
                    pattern="^[0-9]*" *ngIf="pageView === 'addView'">
                  <input type="text" class="inputBox" appNumbersOnly formControlName="accountNumber"
                    [(ngModel)]="editData.accountNumber" 
                    pattern="^[0-9|X]*" *ngIf="pageView === 'editView'" [readonly]="true">
                  </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('required')">
                  Account number is required
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('pattern')">
                  Account number can only contain numeric characters
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('whitespace')">
                  Account number contain atleast 3 numbers
                </div>
                <!--
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('minlength')">
                  Account number should atleast 13 characters.
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('maxlength')">
                  Account number should a maximum 17 characters.
                </div>
                -->
              </div>

              <div *ngIf="zone === '2'">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label formLabel">IFSC Code</label>
                  <div class="col-sm-7">
                    <input type="text" class="inputBox" formControlName="ifsc"
                      [(ngModel)]="editData.ifsc">
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['ifsc'].hasError('required')">
                    Account IFSC is required
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['ifsc'].hasError('pattern')">
                    Account IFSC can only contain numeric characters
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['ifsc'].hasError('whitespace')">
                    Account IFSC contain atleast 3 numbers
                  </div>
                  <!--
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('minlength')">
                    Account number should atleast 13 characters.
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('maxlength')">
                    Account number should a maximum 17 characters.
                  </div>
                  -->
                </div>

                <div class="form-group row">
                  <label class="col-sm-5 col-form-label formLabel">Swift Code</label>
                  <div class="col-sm-7">
                    <input type="text" class="inputBox" formControlName="swiftCode"
                      [(ngModel)]="editData.swiftCode">
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['swiftCode'].hasError('required')">
                    Account swift code is required
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['swiftCode'].hasError('pattern')">
                    Account swift code can only contain numeric characters
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['swiftCode'].hasError('whitespace')">
                    Account swift code contain atleast 3 numbers
                  </div>
                  <!--
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('minlength')">
                    Account number should atleast 13 characters.
                  </div>
                  <div class="col-sm-7 fs13 offset-md-5 text-danger"
                    *ngIf="submitted && addAccountForm.controls['accountNumber'].hasError('maxlength')">
                    Account number should a maximum 17 characters.
                  </div>
                  -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label formLabel">Account Type</label>
                <div class="col-sm-7">
                  <input type="text" class="inputBox" matInput formControlName="accountType"
                  [matAutocomplete]="accountType">
                  <mat-autocomplete #accountType="matAutocomplete">
                    <mat-option *ngFor="let option of filteredAccountTypes | async" [value]="option">
                    {{option}}
                    </mat-option>
                  </mat-autocomplete>      
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                *ngIf="submitted && addAccountForm.controls['accountType'].hasError('required')">
                Account Type is required
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['accountType'].hasError('pattern')">
                  Account Type can only contain alphanumeric characters
                </div>  
              </div>
              <div class="form-group row" *ngIf="zone === '1'">
                <label class="col-sm-5 col-form-label formLabel">Routing Number​</label>
                <div class="col-sm-7">
                  <input type="text" class="inputBox" formControlName="swiftCode"
                    [(ngModel)]="editData.swiftCode">
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['swiftCode'].hasError('required')">
                  Routing number is required
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['swiftCode'].hasError('whitespace')">
                  Routing number cannot contain space
                </div>
                <!--
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['swiftCode'].hasError('minlength')">
                  Swift code should atleast 4 characters.
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['swiftCode'].hasError('maxlength')">
                  Swift code should a maximum 9 characters.
                </div>
                -->
              </div>
              
              <div class="form-group row">
                <label class="col-sm-5 col-form-label formLabel">Select Platforms</label>
                <div class="col-sm-7 paymentPub">
                  <mat-select placeholder="Select Platform" formControlName="platforms"
                    multiple required class="inputBox" (selectionChange)="callOnPlatformChange($event.value)">
                    <div *ngFor="let item of platForms" class="matoptiontext">
                      <mat-option [value]="item._id"><label>{{ item.name }}</label></mat-option>
                    </div>
                  </mat-select>
                </div>
                <div class="col-sm-7 fs13 offset-md-5 text-danger"
                  *ngIf="submitted && addAccountForm.controls['platforms'].hasError('required')">
                  Platform is required.
                </div> 
              </div>
              <div class="row" style="margin-top: 5px;">
                <mat-chip-list #chipList class="col-sm-12">
                  <mat-chip *ngFor="let item of this.editData.platforms;let i = index">
                        {{getPlatformName(item)}}
                    <mat-icon matChipRemove class="closeBtn" (click)="removePlatform(item)">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div class="form-group row mt-4">               
                <div class="col-sm-12">
                  <button class="primaryBtn mainColor mainBordercolr float-right" data-toggle="modal"
                    data-target="#exampleModalCenter">Save</button>
                </div>
                <div class="col-sm-12 mt-3">
                    <label class="col-form-label formLabel fs13" style="font-size: 10px !important;">Doceree stores all your sensitive payment information on our secure servers, increasing security of your information and reducing threat of identity theft. If you still have any concerns, please read our <a href="https://support.doceree.com/hc/en-us/sections/360006738734-Data-Security-and-Privacy" style="text-decoration: underline;" target="_blank">FAQs</a> or raise a ticket in the support section and our team will get back to you. </label>
                  </div>
              
              </div>
            </div>
          </div>            
      </form>
    </div>
</div>