<div class="info " >
    <form [formGroup]="publisherBillForm" (ngSubmit)="onSubmit()">
	<div class="modal-content p-2">
		<div class="mainBGcolor p-2 fs13" style="text-align: center">
			Enter Payment Details
		</div>
		<div class="modal-body p-2">
			<mat-dialog-content>
        <div class="row">
          <div class="col-sm-6">
            <label for="transactionNumber" class="col-sm-3 l formLabel">Transaction Number</label>
          </div>
          <div class="col-sm-6">
            <input type="text" formControlName="transactionNumber" class="form-control logininputBox loginInput form-control_bg_tr mb-0 " />
          </div>
        </div> 
        <div class="row">
          <div class="col-sm-6">
            <label for="date" class="col-sm-3 l formLabel">Date of Transaction</label>
          </div>
          <div class="col-sm-6">
          <div class="inputBox dateIcon opDetails inputBox_cle " >
            <input matInput [matDatepicker]="transactionDate" [min]="transactionDateMin" [max]="transactionDateMax" formControlName="transactionDate"  placeholder="Transaction Date" readonly>
            <mat-datepicker-toggle matSuffix [for]="transactionDate" ></mat-datepicker-toggle>
            <mat-datepicker #transactionDate></mat-datepicker>
          </div>
          </div>
        </div> 
			</mat-dialog-content>
		</div>
		<div class="modal-footer pt-0 float-right">            
			<mat-dialog-actions class="mb-0">
				<button type= "submit" class="primaryBtn mainColor mainBordercolr advertColor fs12">Update Transaction</button>
				<button class="primaryBtn mainColor mainBordercolr advertColor fs12 mr-0"  [mat-dialog-close]="true" color="warn" >Cancel</button>
			</mat-dialog-actions>
		</div>
  </div>
</form>
</div>