  .custom-dialog {
      margin: -16px;
      overflow: hidden;
      padding: 10px   12px 25px 12px;
  }

  .custom-dialog.info{
    background:#F1F8E9;
  }

  .custom-dialog.warn{
    background: #FFEBEE;
  }
  .modal-footer{ border-top: 0px;}

  
.advertColor {
  color: #6b3ffc;
  border-color: #6b3ffc;
  background: transparent;
}

.advertColor:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(to right, #b260e4, #6b3ffc) !important;
  color: white !important;
}

.pubColor {
  color: #6b3ffc;
  background: transparent;
  border-color: #4e70ef !important;
}

.pubColor:hover {
  background-image: linear-gradient(to right, #41ccf1, #4e70ef) !important;
  color: white !important;
  border-color: white;
}

.pubColor:active {
  background-image: linear-gradient(to right, #41ccf1, #4e70ef) !important;
  color: white !important;
}