<!--<div class="custom-dialog info">
	<h2 mat-dialog-title>Your session is about to expire.</h2>
	<mat-dialog-content>
		<p>
			Please click Yes to continue this session in <b>{{timer}}</b> seconds
		</p>
	</mat-dialog-content>
	<mat-dialog-actions style = "align-content:end">
		<button mat-button mat-raised-button  [mat-dialog-close]="true">Yes</button>
		<button mat-raised-button (click)="onClose()" color="warn">No(<b>{{timer}}</b>)</button>
	</mat-dialog-actions>
</div> -->

<div class="info " style="overflow: hidden; margin:17px !important; padding: 20px;">
	<div class="modal-content p-2">
		<div class="mainBGcolor p-2 fs13" style="text-align: center">
			Your session is about to expire.
		</div>
		<div class="modal-body p-2">
			<mat-dialog-content>
				<p>
					Please click Yes to continue this session in <b>{{timer}}</b> seconds.
				</p>   
			</mat-dialog-content>
		</div>
		<div class="modal-footer pt-0 float-right">            
			<mat-dialog-actions class="mb-0">
				<button class="primaryBtn mainColor mainBordercolr advertColor fs12"  [mat-dialog-close]="true" [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher' >Yes</button>
				<button class="primaryBtn mainColor mainBordercolr advertColor fs12 mr-0"  (click)="onClose()" color="warn" [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher'>No (<b>{{timer}}</b>)</button>
			</mat-dialog-actions>
		</div>
	</div>
</div>
