.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  width: 100% !important;
}

.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  max-height: 65vh;
  padding:0px 40px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.modal-footer {
  justify-content: center;
}

.height120 {
  height: 135px !important;
}
.top0{ position: relative;
    top: 0px;}

.slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 1rem 0;
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: blue;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: red;
		}
	
}

//.slide h6{ line-height: 0px !important; font-weight:bold;}
.modal-content{ width: 70% !important;}
.slide img{ width: 100% !important; height: auto !important;}
.small2{ position: relative; top: -10px;}

