<div class="custom-dialog advertiserDiv">

  <div class="modal-content">
         <div class="modal-body pl-5 pt-5 pr-5 pb-4">
             <mat-dialog-content>

              <ngx-slick-carousel *ngIf="usertype === 'advertiser'" init-onload=true class="carousel"
              #slickModal="slick-carousel" [config]="slideConfig"
              (init)="slickInit($event)" (afterChange)="afterChange($event)">
                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/whiteImage.png" class="height120" style="width: 58% !important;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h6>Welcome to</h6>
                    <h5>DOCEREE FOR ADVERTISERS</h5> 
                    <small style="margin-top: 10px;">Physician marketing is now precision marketing</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                  </div>-->
                </div>

                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/advWalkthrough2.png" class="height120" style="    height: 100% !important;
                    width: 60% !important;margin: auto;margin-top: 2%;" alt="Walkthrough Image">
                  </div>                  <div style="text-align: center;">
                    <h5 class="mt-4">BECOME AN ADVERTISER</h5> 
                    <small class="height120">An integrated interface, which gives you access to a huge <br>publisher network where you can easily manage multiple<br> brands, multiple campaigns</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                  </div>-->
                </div>

                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/advWalkthrough3.png" class="height120" style="height: 100% !important;
                    width: 49% !important;margin: auto;margin-top: 2%;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h5 class="mt-4">PRECISION TARGET YOUR PHYSICIAN AUDIENCE</h5>
                    <small class="height120">Use intelligent targeting tools to advertise to your <br>audiences on multiple platforms.</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                  </div>-->
                </div>

                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/advWalkthrough4.png" class="height120" style="height: 100% !important;
                    width: 61% !important;margin: auto;margin-top: 2%;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h5 class="mt-4">MONITOR AND OPTIMIZE YOUR CAMPAIGNS</h5> 
                    <small class="height120">Pause, stop or edit campaigns in real-time with ability to change the <br>messaging and budgets on the go, based on audience response.</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                  </div>-->
                </div>

                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/advWalkthrough5.png" class="height120" style="height: 100% !important;
                    width: 65% !important;margin: auto;margin-top: 2%;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h5 class="mt-4">MEASURE THE IMPACT</h5> 
                    <small class="height120">Integrated singular dashboard for all brands, to review <br>impact of every dollar spent.</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                  </div>-->
                </div>
              
                

              </ngx-slick-carousel>


              <ngx-slick-carousel *ngIf="usertype === 'publisher'" init-onload=true class="carousel"
              #slickModal="slick-carousel" [config]="slideConfig"
              (init)="slickInit($event)" (afterChange)="afterChange($event)">
                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/whiteImage.png" class="height120" style="height: 130px !important; width: 100%;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h6 >Welcome to</h6 >
                    <h5 style="margin-top: 10px;">DOCEREE FOR PUBLISHERS</h5> <br>
                    <p style="line-height: 0px;">Physician marketing is now precision marketing</p>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4" sty>
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                 </div>-->
                </div>

                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/pubWalkthrough2.png" class="height120" style="height: 100% !important;width: 66% !important;                margin: auto;
                    margin-top: 27px;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h5 class="mt-4">BECOME A PUBLISHER PARTNER</h5> 
                    <small>A publisher network where you can register multiple platforms<br> and multiple advertising inventories.</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                 </div>-->
                </div>

                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/pubWalkthrough3.png" class="height120" style="height: 100% !important;
                    width: 61% !important;margin: auto;margin-top: 3%;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h5 class="mt-4">EARN PREMIUM PRICING</h5>
                    <small class="height120">Every click, impression and view recorded on your platform <br>gets you higher CPM/CPC.</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                 </div>-->
                </div>

                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/pubWalkthrough4.png" class="height120" style="height: 100% !important;
                    width: 63% !important;margin: auto;margin-top: 20px;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h5 class="mt-4">OPTIMIZE YOUR INVENTORY UTILIZATION</h5>
                    <small class="height120">Monetize your unutilized ad inventory with specialty and generic pharmaceutical advertisers’ who are looking to reach engaged physician audiences on your platform.</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                 </div>-->
                </div>

                <div class="slide" ngxSlickItem>
                  <div>
                    <img src="../../../assets/images/walkthrough/pubWalkthrough5.png" class="height120" style="    height: 100% !important;
                    width: 62% !important;margin: auto;margin-top: 2%;" alt="Walkthrough Image">
                  </div>
                  <div style="text-align: center;">
                    <h5>COMPLETE TRANSPARENCY  <br>AND NO ACCOUNTING HASSLES</h5>
                    <small class="height120">Paid through a transparent billing process, <br>credited in your account every month</small>
                  </div>
                  <!--<div class="modal-footer border-0 pt-0 mt-4">
                    <mat-dialog-actions align="center" class="mb-0">
                        <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                    </mat-dialog-actions>
                 </div>-->
                </div>

              </ngx-slick-carousel>
              <div class="modal-footer border-0 pt-0 " style="position: relative; top: -23px;">
                <mat-dialog-actions align="center" class="mb-2 ">
                    <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">Get Started</button>
                </mat-dialog-actions>
            </div>
            </mat-dialog-content>

  
        </div>
      
      </div>
  </div>
