<div class="custom-dialog info advertiserDiv" style="background: transparent!important;">
  <div class="modal-content">
        <div class="modal-header mainBGcolor wColor pl-2 pr-2 pt-1 pb-1">
            <h4 *ngIf="!hubReadOnly" class="modal-title fs14">Add a creative</h4>
            <h4 *ngIf="hubReadOnly" class="modal-title fs14">Add assets to {{existingCreativeHub.name}}</h4>
        </div>
        <div class="modal-body p-4 statusBarDiv">
            <mat-dialog-content>
                <form [formGroup]="addCreativeForm">
                  <div class="row form-group m-1">
                    <div class="col-md-3 pl-0">
                      <!-- <label *ngIf="creativeType == 'image'" class="col-form-label formLabel">Select dimension</label>
                      <label *ngIf="creativeType == 'video'" class="col-form-label formLabel">Drop Video here</label> -->
                      <label class="col-form-label formLabel">Specifications</label>
                      <div>
                        <p class="mt-4 grColor mb-0">Fomat :</p>
                        <p class="grColor">.PNG, .JPEG, .GIF</p>
                      </div>
                      <div>
                        <p class="grColor mb-0">Resolution :</p>
                        <p class="grColor">File size: max. {{configuredFileSizes}}</p>
                      </div>
                      <div></div>
                    </div>


                    <div class="col-md-9" *ngIf="creativeType == 'image'">
                      <div>
                        <p style="margin:10px 0 3px -10px!important"> Web Creatives</p>
                       
                        <img getDimensions [src]="imgURL" style="position: absolute; visibility: hidden; display:none">
                      </div>
                      <input type="file" style="display: none" onclick="this.value=null;" #file (change)="selectFile($event)" accept='image/*' multiple>
                      <div class="newAssets">
                        <div class="row">
                          <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-6 prl_mtb" *ngFor="let banner of webBanners" (click)="openFileSelectionDialog(banner)">
                            <a class="bannerBoxes tac w-100">
                              <i class="icon-18 fs14 text-success mr-1 mt-1" style="float:right" *ngIf="banner.uploadStatus"></i>
                              <div class="p-2">
                                <span class="bgGRColor acBGColor " [ngClass]="banner.name.toLowerCase() | trim">&nbsp;
                                </span>
                              </div>
                              <small class="">{{banner.size}}
                              </small>
                              <small class="">{{banner.name}}
                              </small>
                            </a>
                          </div>
                        </div>                       
                        <p style="margin:20px 0 3px -10px!important"> App Creatives</p>
                        <div class="row">
                          <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-6 prl_mtb" *ngFor="let banner of appBanners" (click)="openFileSelectionDialog(banner)">
                            <a class="bannerBoxes tac w-100">
                              <i class="icon-18 fs14 text-success mr-1 mt-1" style="float:right" *ngIf="banner.uploadStatus"></i>
                              <div class="p-2">
                                <span class="bgGRColor acBGColor " [ngClass]="banner.name.toLowerCase() | trim">&nbsp;
                                </span>
                              </div>
                              <small class="">{{banner.size}}
                              </small>
                              <small class="">{{banner.name}}
                              </small>
                            </a>
                          </div>
                        </div>
                        <mat-error *ngIf="addCreativeForm.controls['creativeName'].hasError('isAtLeastOneImage')">
                          Atleast one image must be upload.
                        </mat-error>
                      </div>
                    </div>
                    
                    <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12 videoFileUpload"  *ngIf="creativeType == 'video'">
                      <file-drop class="minh-200" *ngIf="videoState == 'before'" (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                        <!-- dropZoneLabel="Drop files here"-->
                        <span class="dragUpload">
                          <i class="icon-52 fs14 fw600"></i> Drag to upload
                        </span>
                      </file-drop>
                      <div *ngIf="videoState == 'normal'">
                        <video controls class="videoBox width-100" *ngIf="uploadedVideoUrl">
                          <source src="{{creativeHub.creativeDetails[0].url}}" type="video/mp4">
                        </video>
                        <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
                        <!-- <span>{{creativeHub.creativeDetails[0]}}</span> -->
                        <button class="mt-2" (click)="cancelVideoToS3();">Cancel</button>
                        <!-- <button class="float-right" (click)="uploadVideoToS3();">Upload</button> -->
                      </div>
                      <div class="text-danger mt-2" *ngIf="isVideoUrl">
                        Video not uploaded.
                      </div>
                    </div>
                    <div class="form-group col-md-4 grColor" *ngIf="creativeType == 'video'">
                        <p class="m-0"><strong>Specifications Format:</strong> .MP4, .3GP, .FLV, .AVI files</p>
                        <p class="m-0"><strong>Resolution:</strong> min. 720p</p>
                        <p class="m-0"><strong>Size:</strong> max. 2.3GB</p>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-3">
                      <label class="col-form-label formLabel">&nbsp;</label>
                    </div>  
                    <div class="col-md-5 alternate-theme" style="position: relative">
                      <mat-progress-bar style="position: absolute; width:88%;
                      margin: 0;
                      top: 50%;
                      left: 50%;
                      -ms-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%);height: 8px!important;"
                      *ngIf="progressBarInit"
                        class="example-margin center"
                        [color]="progressBarColor"
                        [mode]="progressBarMode"
                        [value]="progressBarValue">
                      </mat-progress-bar>
                    </div>
                    <div class="col-md-2 alternate-theme pl-0" *ngIf="allFilesUploaded">
                      <a mat-button color="primary" [matMenuTriggerFor]="menu" style="text-align:left; padding:0;">
                        <i class="icon-59 fs18 mainColor fw600"></i>
                        <mat-icon style="font-size: 14px" *ngIf="atleastOneFailed" color="warn">error_outline</mat-icon>
                      </a>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let fileTracker of filesUploadTracker">

                          <span *ngIf="fileTracker.uploadStatus === 'success'">
                              <i class="icon-18 fs14 text-success mr-2"></i>
                          </span>
                          <span *ngIf="fileTracker.uploadStatus === 'failed'" [matTooltip]="fileTracker.reason">
                              <mat-icon color="warn">highlight_off</mat-icon>
                          </span>
                          <span>{{fileTracker.name}}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-3">
                      <label class="col-form-label formLabel">Creative Name</label>
                    </div>
                    <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                      <input class="inputBox" [readonly]="hubReadOnly" formControlName="creativeName" placeholder="Enter Creative Name" name="creativeName"/>
                      <mat-error *ngIf="addCreativeForm.controls['creativeName'].hasError('require')">
                        Creative Name is required
                      </mat-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-3">
                      <label class="col-form-label formLabel">Section Name</label>
                    </div>
                    <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                        <input [readonly]="hubReadOnly" formControlName="sectionName" placeholder="Enter Section Name" name="sectionName" matInput [matAutocomplete]="sectionName" class="inputBox">
                        <mat-autocomplete #sectionName="matAutocomplete">
                          <mat-option *ngFor="let option of uniqueSectionNames" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="addCreativeForm.controls['sectionName'].hasError('require')">
                          Section Name is required
                        </mat-error>
                    </div>
                  </div>
                </form>
                <div class="form-group row slideCards" *ngIf="creativeType === creativeHubdata.creativeType && allFilesUploaded">
                    <div class="col-md-3">
                      <label class="col-form-label formLabel">&nbsp;</label>
                    </div>  
                    <mat-card class="col-sm-8 newAssets ml-3 maxWidth350" style="border-radius: 4px !important;">
                      <div class="row">
                        <ngx-slick-carousel init-onload=true lazy-load='ondemand' class="carousel lazy"
                        #slickModal="slick-carousel"
                        [config]="slideConfig"
                        (init)="slickInit($event)" style="z-index: 2; top: 5px;" >
                          <div class="slide mr-2" *ngFor="let banner of creativeHub.creativeDetails | slice: creativeDetailsInitialSize; let i = index" ngxSlickItem>
                              <div class="hoverWrapper">
                                  <a class="bannerBoxes tac w-100" style="position:relative;">
                                    <span style="margin-top:10px; min-height:20px!important">
                                        <img style="max-height:20px; max-width:70px; inline-size:auto;" [ngClass]="banner.resolution.toLowerCase() | trim" [src]="_DomSanitizer.bypassSecurityTrustUrl(banner.url)">
                                      </span>    
                                    <div>
                                      <small class="grColor">{{banner.dimensions}}</small>
                                      <small class="grColor">{{banner.resolution}}</small>
                                    </div>
                                  </a>
                              </div>
                          </div>
                        </ngx-slick-carousel>
                  </div>
                  </mat-card>
                </div>
            </mat-dialog-content>
        </div>
        <div class="modal-footer border-0 pt-0">
            <mat-dialog-actions class="mb-0">
                <button class="primaryBtn mainColor mainBordercolr" (click)="saveCreativeHub()">Add</button>
                <button class="primaryBtn mainColor" [mat-dialog-close]="false" >Cancel</button>
              </mat-dialog-actions>
        </div>
      </div>
  </div>

