.custom-dialog.info{
  background:#F1F8E9;
}

.custom-dialog.warn{
  background: #FFEBEE;
}
/*.mainBordercolr{
    border-color:#4e6def !important;
}
.primaryBtn:hover{
    background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc) !important
}
.mainBGcolor {
    background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc) !important;
}
.mainColor {
    color:#4e6def !important;
}
.mainBordercolr {
    border-color:#4e6def !important;
}*/
.custom-dialog.info{
    background:#ffffff !important;
}
/*.boxactive{
    background: #20d87c !important
}*/
.minh-200 {
    min-height: 200px;
}
.width-100 {
    width: 100%;
}

.newAssets .bannerBoxes .square { width:25px; height:25px;}
.newAssets .bannerBoxes .smallsquare { width:20px; height:20px;}
.newAssets .bannerBoxes .banner { width:50%; height:20px;}
.newAssets .bannerBoxes .leaderboard { width:50%; height:20px;}
.newAssets .bannerBoxes .inlinerectangle { width:35px; height:25px;}
.newAssets .bannerBoxes .largerectangle	{ width:35px; height:30px;}
.newAssets .bannerBoxes .skyscraper { width:8px; height:35px;}
.newAssets .bannerBoxes .wideskyscraper { width:12px; height:35px;}
.newAssets .bannerBoxes .half-pagead { width:16px; height:35px;}
.newAssets .bannerBoxes .largeleaderboard { width:50%; height:20px;}
.newAssets .bannerBoxes .wh11px { width:200px; height:20px;}
.newAssets .bannerBoxes small { font-size:11px!important; line-height:15px; color:#bcbcbc;}
.maxWidth350 {
  width: 350px!important;
}

.slideCards .newAssets .bannerBoxes { min-height:68px!important}

.boxactive{
    border-color:#555f88 !important;
    background: #555f88 !important;
}

.hoverWrapper:hover #hoverShow1{
  visibility: visible;
 }

 .hoverWrapper #hoverShow1 {
  visibility: hidden;
  float: left;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;

  .mat-icon {
     width: 16px !important;
     height: 16px !important;
     line-height: 16px !important;
  }
  .material-icons {
     font-size: 16px !important;
  }
}

.slick-slider {
  width: 90%;
  margin: auto;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}


.prev-slide:hover {
  background-position: 0px -53px;
  color: #854bf3b3;
}

.next-slide:hover {
  background-position: -24px -53px;
  color: #854bf3b3;
}

.cardFocus{
  background: #d0d0d0;
}

.slick-prev:before, .slick-next:before {
  color: #d5b1f4;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.slick-slide img {
  display: initial;
}

.newAssets .bannerBoxes .largebanner { width:59%; height:21px;}
.newAssets .bannerBoxes .mediumrectangle { width:56%; height:38px;}
.newAssets .bannerBoxes .full-sizebanner { width:61%; height:18px;}
@import '~@angular/material/theming';
@include mat-core();

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $my-app-warn:    mat-palette($mat-deep-orange);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $my-app-warn);

  @include angular-material-theme($alternate-theme);
}
