<div  class="bgImg" style="top:50px; right:-30px; z-index:-1">
  <img alt="AdvanalyticsBg" src="assets/images/ManagePlatformsPub.png" style="width:300px; height:200px;">
</div>

<div class="pt-4 mb12">
  <h1 class="h2">Manage Accounts</h1>
  <h6 class="h6 mt-1 fwn lineheight">You can keep track of all your existing brands and the users associated with your account, all in one place. <br>You can also add new brands and users, and assign them roles here</h6>
</div>

<ul class="nav nav-pills tabsStyles w-100" role="tablist">
  <li class="nav-item" (click) = "changeTab('accounts')" *ngIf = "rolePermissions && rolePermissions.includes('view_brand')"> 
    <a class="nav-link fs14 fw600 brr0 bgNone" [ngClass]="{'active': activeIcon !== 'notifications'}" data-toggle="pill" href="#accountsTab" >Accounts</a> 
  </li>
  <li class="nav-item" (click) = "changeTab('users')" *ngIf = "rolePermissions && rolePermissions.includes('view_user')"> 
    <a class="nav-link fs14 fw600 bgNone brr0" [ngClass]="{'active': activeIcon === 'notifications'}" data-toggle="pill" href="#usersTab">Users</a> 
  </li>
</ul>
<div class="tab-content mb-5 mt-3">

  <div id="accountsTab" class="tab-pane" [ngClass]="{'active': activeIcon !== 'notifications'}">
    <div class="boxDiv ovi w-100" *ngIf = "rolePermissions && rolePermissions.includes('add_brand')">
      <div class="mainBGcolor brrTL4TR4">
        <h5 class="fs14 fw600 wColor  pl-3 pr-3 stptb5" *ngIf=" actionState === 'addBrand' ">Add New Account</h5>
        <h5 class="fs14 fw600 wColor  pl-3 pr-3 stptb" *ngIf="actionState === 'editBrand' ">Edit New Account</h5>
      </div>
      <form [formGroup]="addAccountForm">
        <div class="mt14 pl-4 pr-4">
          <label for="" class="mb-2 fs12">Add new accounts or brands here</label>
			    <div class="row" >
           <div *ngIf="advertiserProfile && advertiserProfile.advertiserType !== 'Client'" class=" w16 ml-1 mr-1 ">
             <mat-select class="inputBox" placeholder="Market" formControlName="marketSel"
            (selectionChange)="onSelectedMarketPlace()">
            <mat-select-trigger *ngIf="addAccountForm.get('marketSel').value && addAccountForm.get('marketSel').value === '1'">
              <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-1"> US
            </mat-select-trigger>
            <mat-select-trigger *ngIf="addAccountForm.get('marketSel').value && addAccountForm.get('marketSel').value === '2'">
              <img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-1"> India
            </mat-select-trigger>
              <mat-option value="1"> <img src="assets/flag/usa-flag.svg" width="18" class="img-fluid mr-2"> US</mat-option>
              <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="18" class="img-fluid mr-2"> India</mat-option>
            </mat-select>
            <mat-error *ngIf="addAccountForm.controls['marketSel'].hasError('require')">
              Market place is required.
            </mat-error>
          </div>

           <div class=" w30 ml-1 mr-1" *ngIf="advertiserProfile && advertiserProfile.advertiserType !== 'Client'" >
            <div class="inputwidth" *ngIf="advertiserProfile && advertiserProfile.advertiserType !== 'Client'">
              <input class="inputBox" type="text" placeholder="Client" matInput formControlName="client"
                [matAutocomplete]="client">
              <mat-autocomplete #client="matAutocomplete">
                <mat-option *ngFor="let option of filteredClients | async" [value]="option.client" (onSelectionChange)="getBrandsMetadata(option._id)">
                {{option.client}}
                </mat-option>
              </mat-autocomplete>
              <li *ngIf="addAccountForm.controls['client'].hasError('require')" class="">
                <mat-error >
                    <i class="icon-17 fs12 fw600"></i>  Client is required.
                </mat-error>
              </li>
              </div>

              <div style="clear: both;"></div>
              <div class="form-group inputwidth mt-2" *ngIf="advertiserProfile && advertiserProfile.advertiserType !== 'Client'">
                <input type="text" class="inputBox" placeholder="Client Type" matInput formControlName="typeOfOrganization"
                  [matAutocomplete]="typeOfOrganization" [readonly] = "isClientTypeReadOnly">
                <mat-autocomplete #typeOfOrganization="matAutocomplete">
                  <mat-option *ngFor="let option of filteredTypeOfOrganizations | async" [value]="option">
                  {{option}}
                  </mat-option>
                </mat-autocomplete>
                <li *ngIf="addAccountForm.controls['typeOfOrganization'].hasError('require')" class="">
                  <mat-error >
                      <i class="icon-17 fs12 fw600"></i>  Client Type is required.
                  </mat-error>
                </li>
                </div>
              
          </div>
           <div class="w30" *ngIf="advertiserProfile && advertiserProfile.advertiserType !== 'Client'" >
             <div class="form-group  pr-1 pl-1" >
            <input type="text" class="inputBox" placeholder="Account / Brand" matInput formControlName="brand"
            [matAutocomplete]="brand" (blur) = 'checkBrandNameAvailablity()'>
            <mat-autocomplete #brand="matAutocomplete"  (optionSelected)="getTherapeuticData($event)">
              <mat-option *ngFor="let option of filteredBrands | async" [value]="option">
              {{option}}
              </mat-option>
            </mat-autocomplete>
            <li *ngIf="addAccountForm.controls['brand'].hasError('require')" class="">
              <mat-error >
                  <i class="icon-17 fs12 fw600"></i>  Brand is required
              </mat-error>
          </li>
          </div>
       
        <div class="form-group  ml-1 mr-1" >
          <input type="text" class="inputBox" placeholder="Therapeutic Area" matInput formControlName="therapeuticArea"
            [matAutocomplete]="therapeuticArea">
          <mat-autocomplete #therapeuticArea="matAutocomplete">
            <mat-option *ngFor="let option of filteredTherapeuticAreas | async" [value]="option">
            {{option}}
            </mat-option>
          </mat-autocomplete>
          <li *ngIf="addAccountForm.controls['therapeuticArea'].hasError('require')" class="">
            <mat-error >
                <i class="icon-17 fs12 fw600"></i>  Therapeutic area is required.
            </mat-error>
        </li>
          </div>
        </div>
        
        <div class="w31" *ngIf="advertiserProfile && advertiserProfile.advertiserType === 'Client'" >
          <div class="form-group  pr-1 pl-1 brand" >
         <input type="text" class="inputBox" placeholder="Account / Brand" matInput formControlName="brand"
         [matAutocomplete]="brand" (blur) = 'checkBrandNameAvailablity()'>
         <mat-autocomplete #brand="matAutocomplete"  (optionSelected)="getTherapeuticData($event)">
           <mat-option *ngFor="let option of filteredBrands | async" [value]="option">
           {{option}}
           </mat-option>
         </mat-autocomplete>
         <li *ngIf="addAccountForm.controls['brand'].hasError('require')" class="">
           <mat-error >
               <i class="icon-17 fs12 fw600"></i>  Brand is required
           </mat-error>
       </li>
       </div>
    
     <div class="form-group  ml-1 mr-1 brand" >
       <input type="text" class="inputBox" placeholder="Therapeutic Area" matInput formControlName="therapeuticArea"
         [matAutocomplete]="therapeuticArea">
       <mat-autocomplete #therapeuticArea="matAutocomplete">
         <mat-option *ngFor="let option of filteredTherapeuticAreas | async" [value]="option">
         {{option}}
         </mat-option>
       </mat-autocomplete>
       <li *ngIf="addAccountForm.controls['therapeuticArea'].hasError('require')" class="">
         <mat-error >
             <i class="icon-17 fs12 fw600"></i>  Therapeutic area is required.
         </mat-error>
     </li>
       </div>
     </div>

            <!-- <div class="row form-group inputwidth pr-1 pl-1">              
              <div class="col pr-0">
                <mat-select class="inputBox mat-form-field" placeholder="Select Market" formControlName="marketSel"
                  [(value)]="marketSelection" (selectionChange)="setZone()">              
                    <mat-option value="1"><img src="assets/flag/usa-flag.svg" width="27" class="img-fluid mr-2">US</mat-option>
                    <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="27" class="img-fluid mr-2">India</mat-option>                                     
                </mat-select>
                <mat-error *ngIf="addAccountForm.controls['marketSel'].hasError('require')">
                  Market is required.
                </mat-error>
              </div>
              </div> -->
            <div>
            <button *ngIf="actionState === 'addBrand'" class="primaryBtn mainColor mainBordercolr"
            [ngClass]="{'w54': advertiserProfile && advertiserProfile.advertiserType !== 'Client',
            'w11': advertiserProfile && advertiserProfile.advertiserType === 'Client'}"
             (click) = "addAccount()">Add</button>
            <button *ngIf="actionState === 'editBrand'" class="primaryBtn mainColor mainBordercolr" (click) = "updateBrand()">Save</button>
            <button *ngIf="actionState === 'editBrand'" class="primaryBtn grColor mainBordercolr ml-1" (click) = "cancelEditBrand()">
              Cancel
            </button>
            </div>
          </div>
        </div>	
        <ul class="list-group p-2">       
     
            <li *ngIf="addAccountForm.controls['brand'].hasError('nameNotAvailable')">
                <mat-error >
                    <i class="icon-17 fs12 fw600"></i>  A Brand with this name already exists
                </mat-error>
            </li>
            <li *ngIf="addAccountForm.controls['brand'].hasError('lessLength')">
                <mat-error >
                    <i class="icon-17 fs12 fw600"></i> Atleast 3 characters required in Brand Name field
                </mat-error>
            </li>          
          </ul>
      </form>
    </div>
      
    <div class="filterSearchDiv clearfix mt-3">
        <div class="searchDiv">
          <div class="boxDiv br1 mainBordercolr">
            <div class="col-md-12">
              <div class="row">
                <div class="col-1 searchIcon"><i class="icon-5 fs18 mainColor"></i></div>
                <input class="br0 focus col-8 fs12 searchBox" type="text" (keyup)="searchBrand();"
                name="brand" #name [(ngModel)]='brand' placeholder="Search for a brand">
                <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0" (click)="searchBrand();">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div class="filterDiv" style="width:410px; margin-left:40px;">
          <div class="row boxDiv">
              <div class="col-6" style="padding-top:3px; padding-bottom:3px">
                <mat-select class="mat_option" placeholder="Client" name="client" [(ngModel)]="client" (selectionChange)="callOnSelectUserOrClient()">
                  <div *ngFor="let client of filterBrandClients; let i = index">
                    <mat-option [value]="client">
                        <label>{{client}}</label>
                    </mat-option>
                  </div>                                      
                </mat-select>
              </div>
              <div class="col-6 grColor brl1" style="padding-top:3px; padding-bottom:3px" *ngIf="users && users.length && rolePermissions && rolePermissions.includes('view_user')">
                <mat-select class="mat_option" placeholder="User" name="sortBy" [(ngModel)]="user"(selectionChange)="callOnSelectUserOrClient()">
                  <div *ngFor="let user of users; let i = index">
                    <mat-option [value]="user">
                        <label>{{user.fullName}}</label>
                    </mat-option>
                  </div>                                      
                </mat-select>
              </div>
            </div>
        </div>
      </div>
      
    <div class="table-responsive boxDiv w-100 mt14 manageAccountDiv"  *ngFor = "let advertiserBrands of filterdAdvertiserBrandsDataSource">
      <table class="table table-striped tableStyles" mat-table [dataSource]="advertiserBrands.filteredBrands" multiTemplateDataRows>
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef class="wColor fs18 fw600 w20" > {{advertiserBrands.clientName}} </th>
          <td mat-cell *matCellDef="let element" class="w20"> {{element.brandName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="typeOfOrganization">
          <th mat-header-cell *matHeaderCellDef class="wColor"  style="width: 20% !Important;" > Type of Organization </th>
          <td mat-cell *matCellDef="let element"  style="width: 20% !Important;"> {{advertiserBrands.clientType}} </td>
        </ng-container>
        
        <ng-container matColumnDef="therapeuticArea">
          <th mat-header-cell *matHeaderCellDef class="wColor w20" > Therapeutic Area </th>
          <td mat-cell *matCellDef="let element"  class="w20" > {{element.brandType}} </td>
        </ng-container>

        <ng-container matColumnDef="market">
          <th [style.display]="showMarketColumn" mat-header-cell *matHeaderCellDef class="wColor w10"  > Market </th>
          <td [style.display]="showMarketColumn" mat-cell *matCellDef="let element"  class="w10"  > 
            <img *ngIf="(element && element.zone === '1')" src="assets/flag/usa-flag.svg" width="18" class="img-fluid mr-2">
            <img *ngIf="(element && element.zone === '2')" src="assets/flag/indian-flag.svg" width="18" class="img-fluid mr-2">
            {{(element && element.zone === '1') ? 'US':'India'}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="wColor w20"></th>
          <td mat-cell *matCellDef="let element" class="text-center w20">
            <!-- <div>
              <a (click)="editBrand(advertiserBrands.clientName, element)" class="mainColor tdu">
                  <i class="icon-25 fs14 fw600"></i> 
                </a>
                <a (click)="deactivateBrand(element._id)" class="mainColor tdu ml-4">
                  <i class="icon-26 fs14 fw600"></i>
              </a>
            </div> -->
            <button *ngIf= "!element.isWatching || (element.isWatching && element.zone != marketSelection)" class="primaryBtn mainColor mainBordercolr fs12" (click) = "switchToBrand(element.brandId, element.zone)">Switch to</button>
            <button *ngIf= "element.isWatching && element.zone == marketSelection" class="primaryBtn mainColor mainBordercolr fs12"> Viewing</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef class="wColor fs18 fw600"  style="width: 10% !Important;"></th>
          <td mat-cell *matCellDef="let element" class="text-right"  style="width: 10% !Important;"><i class="icon-48 fs20 grColor"></i></td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description p-2">
                  <div class="row p-2" *ngIf="element.userList.length">
                      <div class="col-lg-1 col-md-1 col-sm-4 col-xs-11 fw600 text-left pl-0">
                        Users
                      </div>
                      <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-11 p-0 user"  style="border: 0.4px solid #dee2e6; border-radius: 4px; padding: 1px !important;">
                          <table class="table table-borderless tableStyles tableInner">
                              <tbody>
                                <tr *ngFor = "let user of element.filteredUsers">
                                  <td class="w31" *ngIf="user.firstName || user.lastName" >{{user.firstName}} {{user.lastName}}</td>
                                  <td class="w30" *ngIf="!user.firstName && !user.lastName">{{user.email}}</td>
                                  <td class="w30">
                                    <div *ngIf = "!user.isLoggedinUser">
                                      <input type="text" class="inputBox" placeholder="User Role" matInput [(ngModel)]="user.userRole"
                                        [matAutocomplete]="userRole">
                                      <mat-autocomplete #userRole="matAutocomplete" (optionSelected) = "updateBrandRoleOfAdvertiserUser(user.email, element.brandId, user.userRole)">
                                        <mat-option *ngFor="let option of filteredUserRolesPermissions | async" [value]="option.roleName">
                                          {{option.roleName}}
                                        </mat-option>
                                      </mat-autocomplete>
                                    </div>
                                    <div *ngIf = "user.isLoggedinUser">{{user.userRole}}</div>
                                  </td>
                                  <td class="">
                                    <a class="text-primary mainColor" *ngIf = "!user.isLoggedinUser" (click) = "openDeleteCofirmDialog(user.email, element.brandId, 'advertiserUserBrand')">
                                      <i class="icon-26 fs14 fw600"></i>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- <div class="row p-2">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-11 mt-1 fw600">
                      Payment methods
                    </div>
                    <div class="boxDiv col-lg-6 col-md-6 col-sm-6 col-xs-10">
                        <table class="table table-borderless table-responsive" *ngIf = "element.paymentMethods.length">
                            <thead>
                             
                            </thead>
                            <tbody>
                              <tr *ngFor = "let payment of element.paymentMethods">
                                <td class="w-15"><img [src]="(payment.cardType === 'Visa') ? 
                                    'assets/images/visaImg.png' : (payment.cardType === 'MasterCard') ? 
                                    'assets/images/masterCardImg.png' : 'assets/images/hmImg.png'  " class="img-fluid" alt="VIsa">
                                </td>
                                <td><strong>{{payment.cardNumber}}</strong></td>
                                <td>Exp date <strong>{{payment.expiryDate}}</strong></td>
                                <td class="ml-4">
                                  <a class="text-primary" routerLink="/advertiser/payments">
                                    <strong>Edit</strong>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                        <div class="p-2" *ngIf = "!element.paymentMethods.length">No payment methods for this brand.</div>
                    </div>
                  </div> -->
              </div>
            </div>
          </td>
        </ng-container>
        <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>      
    <div class="boxDiv grColor p-3 mt-2 ng-star-inserted" *ngIf="filterdAdvertiserBrandsDataSource && !filterdAdvertiserBrandsDataSource.length">
      <p class="fs12 mb-0">No Records found !</p>
      </div>
  </div>

  <div id="usersTab" class="tab-pane" [ngClass]="{'active': activeIcon === 'notifications'}">
    <div class="boxDiv ovi w-100" *ngIf = "rolePermissions && rolePermissions.includes('add_user')">
      <div class="mainBGcolor brrTL4TR4">
        <h5 class="fs14 fw600 wColor pl-3 pr-3 stptb5" *ngIf="actionState === 'addUser' ">Add New User</h5>
        <h5 class="fs14 fw600 wColor mt-1 pl-2" *ngIf="actionState === 'editUser' ">Edit New User</h5>
      </div>
      <form [formGroup]="addUserForm">
    <div class="pt-1 pl-4 pr-4 mt14">
        <div class="row pt-1 pl-1">
          <div class="form-group inputwidth pl-1 pr-1">
            <input type="text" class="inputBox" placeholder="Email" matInput formControlName="email"
              [matAutocomplete]="email">
            <mat-autocomplete #email="matAutocomplete">
              <mat-option *ngFor="let option of adertiserUserList" [value]="option.email">
                {{option.email}}
              </mat-option>
            </mat-autocomplete>
            <li *ngIf="addUserForm.controls['email'].hasError('require')" class="">
              <mat-error >
                  <i class="icon-17 fs12 fw600"></i>  Email is required.
              </mat-error>
          </li>
          </div>

          <div class="form-group inputwidth pl-1 pr-1">
            <input type="text" class="inputBox" placeholder="Role" matInput formControlName="role"
              [matAutocomplete]="role">
            <mat-autocomplete #role="matAutocomplete">
              <mat-option *ngFor="let option of filteredUserRolesPermissions | async" [value]="option.roleName">
                {{option.roleName}}
              </mat-option>
            </mat-autocomplete>
            <li *ngIf="addUserForm.controls['role'].hasError('require')" class="">
              <mat-error >
                  <i class="icon-17 fs12 fw600"></i>  Role is required.
              </mat-error>
          </li>
          </div>

          <div class="form-group inputwidth pl-1 pr-1" *ngIf = "advertiserProfile && advertiserProfile.advertiserType !== 'Client'">
            <input type="text" class="inputBox" placeholder="Client" matInput formControlName="client"
              [matAutocomplete]="client">
            <mat-autocomplete #client="matAutocomplete">
              <mat-option *ngFor="let option of filteredUserClients | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <li *ngIf="addAccountForm.controls['client'].hasError('require')" class="">
              <mat-error >
                  <i class="icon-17 fs12 fw600"></i>  Client is required.
              </mat-error>
          </li>
          </div>

          <div class="form-group inputwidth pl-1 pr-1" *ngIf = "advertiserProfile && advertiserProfile.advertiserType !== 'Client'">
            <input type="text" class="inputBox" placeholder="Brand" matInput formControlName="brand"
              [matAutocomplete]="brand">
            <mat-autocomplete #brand="matAutocomplete">
              <mat-option *ngFor="let option of selectedBrands" [value]="option.brandName">
                {{option.brandName}}
              </mat-option>
            </mat-autocomplete>
          </div>

          <div class="form-group inputwidth pl-1 pr-1" *ngIf = "advertiserProfile && advertiserProfile.advertiserType === 'Client'">
            <input type="text" class="inputBox" placeholder="Brand" matInput formControlName="brand"
              [matAutocomplete]="brand">
            <mat-autocomplete #brand="matAutocomplete">
              <mat-option *ngFor="let option of selectedClientBrands" [value]="option.brandName">
                {{option.brandName}}
              </mat-option>
            </mat-autocomplete>
            <li *ngIf="addUserForm.controls['brand'].hasError('require')" class="">
              <mat-error >
                  <i class="icon-17 fs12 fw600"></i>  Brand area is required.
              </mat-error>
          </li>
          </div>

          <div class="inputwidth1 mt-1 pr-0">
            <button *ngIf="actionState === 'addUser'" class="primaryBtn mainColor mainBordercolr ml-4" (click) = "addUser()">Add</button>
            <button *ngIf="actionState === 'editUser'" class="primaryBtn mainColor mainBordercolr" (click) = "updateUser()">Save</button>
            <button *ngIf="actionState === 'editUser'" class="primaryBtn grColor mainBordercolr ml-1" (click) = "cancelEditUser()">
                Cancel
            </button>
          </div>
        </div>
    </div>    
        <ul class="list-group p-2">
          <li *ngIf="errMsg" class="">
              <mat-error >
                  <i class="icon-17 fs12 fw600"></i> <strong> {{errMsg}} </strong>
              </mat-error>
          </li>           
      
        </ul>
      </form>
    </div>
    <div class="boxDiv ovi w-100 mt14 account-user">
      <div class="mainBGcolor brrTL4TR4 pl-3 pr-3 stptb">
        <h5 class="fs14 fw600 wColor ">Existing Users</h5>
      </div>
      <ul class="list-group p-2">
        <li *ngIf="userDeleteMsg" class="">
          <mat-error>
            <i class="icon-17 fs12 fw600"></i> <strong>{{userDeleteMsg}}</strong>
          </mat-error>
        </li>
      </ul>
      <div class="row pl-3 pr-3 pt-2 pb-2" *ngIf="adertiserUsers && adertiserUsers.length">
        <div class="col-6 mb-3" *ngFor = "let adertiserUser of adertiserUsers">
          <mat-accordion class=" ovi w-100 mb-3 pt-3 pb-3" >
            <mat-expansion-panel style="box-shadow: none;border: 1.5px solid #eeeeeebd !important;" >
              <mat-expansion-panel-header class="bgBlue min-h75 " style="color: #000 !important;">
                <mat-panel-title style="width:200px;">
                 <div class="avatar"> <img src="assets/images/avatar.svg" alt="Avatar" class="avatar"></div>                 
                  <div class="row pl-4 mt-3">
                    <div class="ml-3" *ngIf="adertiserUser.firstName">
                      <span class="pt-3 fs13">{{adertiserUser.firstName}} {{adertiserUser.lastName}}</span>
                    </div>
                    <div class="ml-3" *ngIf="!adertiserUser.firstName">
                      <span class="text-break fs12">{{adertiserUser.email}}</span>
                    </div>
                  </div>
                </mat-panel-title>
               <div style="float: right; padding: 0px; margin: 0px;">
                  <mat-panel-description class="pt-3" *ngIf="adertiserUser.email !== userEmail">   
                      <a *ngIf = "adertiserUser.status.toLowerCase() !== 'active'" (click)="reGenerateTokenOfUser(adertiserUser.email)" class="mainColor tdu ml-2">
                        <span class=" primaryBtn mainColor mainBordercolr fs12">Resend Mail</span></a>
                          <a (click)="checkBrandAdminUserRole(adertiserUser.email, null, 'advertiserUser')" class="mainColor tdu ml-2">
                             <i class="icon-26 fs16 mainColor"></i></a>
                    </mat-panel-description>
              </div>
              </mat-expansion-panel-header>
              <div class="mt-m30">
                <div class="table-responsive usersExistingDiv">
                    <table class="tableStyles">
                        <thead>
                          <tr>
                            <th class="fw600">&nbsp;</th>
                            <th class="w-30 fw600">&nbsp;</th>
                            <th class="fw600">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let brand of adertiserUser.brands">
                            <td class="">{{brand.brandName}}</td>
                            <td>
                              <div class="mt-2" *ngIf="adertiserUser.isLoggedInUser">
                                <label for="uerRole">{{brand.userRole}}</label>
                              </div>
                              <div *ngIf="!adertiserUser.isLoggedInUser">
                                <input class="inputBox" type="text" placeholder="User Role" matInput [(ngModel)]="brand.userRole"
                                  [matAutocomplete]="userRole">
                                <mat-autocomplete #userRole="matAutocomplete" (optionSelected) = "updateBrandRoleOfAdvertiserUser(adertiserUser.email, brand.brandId, brand.userRole)">
                                  <mat-option *ngFor="let option of filteredUserRolesPermissions | async" [value]="option.roleName">
                                    {{option.roleName}}
                                  </mat-option>
                                </mat-autocomplete>
                              </div>
                            </td>
                            <td class="" *ngIf="!adertiserUser.isLoggedInUser">
                              <a class="text-primary" (click) = "openDeleteCofirmDialog(adertiserUser.email, brand.brandId, 'advertiserUserBrand')">
                                <i class="icon-26 fs14 fw600 mainColor"></i>
                              </a>
                            </td>
                            <td *ngIf="brand.userRole === 'Admin'">
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="boxDiv grColor p-4 mt-2 ng-star-inserted" *ngIf="adertiserUsers && !adertiserUsers.length">No Records found !</div>
    </div>
  </div>

</div>
