
.w-100{
    width:100%;
}
table {
	width: 100%;
	td {
		vertical-align: center !important
	}
	margin-bottom: 0em !important;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}
.w-30 {
	width: 30%;
}
.w-15 {
	width: 15%;
}
.mt-m30 {
    margin-top: -30px !important;
}
.avatar {
	vertical-align: middle;
	width: 45px !important;
	height: 45px !important;
	border-radius: 50%;
  }
  .min-h75{
	  height: 75px !important;
  }

td.mat-cell, td.mat-footer-cell { padding:0 15px!important}

.mat_option{
    border-radius: 4px;
    width: 100%;
    padding: 12px 0px;
    margin: 0;
	font-size: 15px;
}
.grey_border {
	border: #b9b2b2 1px solid
}
.manageAccountDiv .tableStyles th { padding:6px 15px!important}
.manageAccountDiv .tableStyles td { padding:0 15px!important}
.usersExistingDiv .tableStyles td { padding:7px 30px!important}
.manageAccountDiv .tableInner td { padding:8px 15px!important}
.mat-expansion-indicator::after{ color: #000 !important;}
.w16{ width: 19%;}
.w30{ width: 33%;}
.w54{ width:54px !important; margin-left: 40px; margin-top: 44px;} 
.w11{ width:54px !important; margin-top: 3px; margin-left: 30px;}
.w31{ width: 51%;}
.brand{float: left; width: 49% !important;}
.w10{width: 10% !important;}
.w20{width: 20% !important;}
.user tr td:nth-child(2){ padding-left: 28px !important;}
