<div class="table-responsive boxDiv mt-3" *ngIf="pageView=='ListView'">
  <table class="table table-striped tableStyles text-center" mat-table [dataSource]="bidRangeDataSource">
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef class="fs18 fw600 text-left"> Countries </th>
        <td mat-cell *matCellDef="let element" class="text-left"> {{element.country}} </td>
    </ng-container>
    <ng-container matColumnDef="cpm">
        <th mat-header-cell *matHeaderCellDef> CPM </th>
        <td mat-cell *matCellDef="let element" class="text-left"> {{element.currencySymbol}}{{element.cpm.min}} - {{element.currencySymbol}}{{element.cpm.max}} </td>
    </ng-container>
    <ng-container matColumnDef="cpc">
        <th mat-header-cell *matHeaderCellDef> CPC </th>
        <td mat-cell *matCellDef="let element" class="text-left"> {{element.currencySymbol}}{{element.cpc.min}} - {{element.currencySymbol}}{{element.cpc.max}} </td>
    </ng-container>
    <ng-container matColumnDef="cpv">
        <th mat-header-cell *matHeaderCellDef> CPV </th>
        <td mat-cell *matCellDef="let element" class="text-left"> {{element.currencySymbol}}{{element.cpv.min}} - {{element.currencySymbol}}{{element.cpv.max}} </td>
    </ng-container>
    <ng-container matColumnDef="addbidrange">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <button class="primaryBtn brwColor float-right wColor font-weight-normal" (click)="renderAddView()">
			<i class="icon-6 fs16 fw600"></i> New bid range
		  </button>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center" width="25%">
          <a class="mainColor tdu mr-3" (click)="renderEditView(element._id)"><i class="icon-25 fs16 fw600"></i></a>
          <a class="mainColor tdu ml-3" (click)="removeBidRange(element._id)"><i class="icon-26 fs16 fw600"></i></a>
        </td>
    </ng-container>
    <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="grColor m-4" *ngIf="bidRangeDataSource && !bidRangeDataSource.length">
    <strong>No Records found !</strong>
  </div>
</div>

<div class="boxDiv ovi mb-3 mt-3 w-75" *ngIf="pageView==='AddView' || pageView==='EditView'">
    <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
      <div class="row">
        <div class="col-md-4 mt-2">
          <a class="wColor ttu fs14" (click)="renderListView()">
            <i class="icon-49 fs14 fw600"></i> Back
          </a>
        </div>
        <div class="col-md-8" *ngIf="pageView==='AddView'">
          <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add a new bid range</h5>
        </div>
        <div class="col-md-8" *ngIf="pageView==='EditView'">
            <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit bid range</h5>
          </div>
      </div>
    </div>
    <div class="p-4">
      <form [formGroup]="bidRangeForm">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group row text-center text-danger" *ngIf="errorMessage">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <strong><i class="icon-17" style="padding-right:7px;"></i>{{errorMessage}}</strong>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label formLabel">Country</label>
              <div class="col-sm-8">
                <input type="text" matInput class="inputBox" formControlName="country" [matAutocomplete]="autocountry"
                  name="country" placeholder="Select a Country" aria-label="Select a Country" autocomplete="off">
                <mat-autocomplete #autocountry="matAutocomplete">
                  <mat-option *ngFor="let countriesCurrency of filteredCountries | async" [value]="countriesCurrency.countryName">
                    {{countriesCurrency.countryName}}
                  </mat-option>
                </mat-autocomplete>
                <app-field-error-display [displayError]="isFieldValid('country')" errorMsg="Country is required">
                </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label formLabel">Currency</label>
              <div class="col-sm-8">
                  <input type="text" matInput class="inputBox" formControlName="currencySymbol" [matAutocomplete]="autocurrency"
                   name="currencySymbol" placeholder="Select a Currency" aria-label="Select a Currency" autocomplete="off">
                   <mat-autocomplete #autocurrency="matAutocomplete">
                    <mat-option *ngFor="let countriesCurrency of filteredCountries | async" [value]="countriesCurrency.symbol">
                      {{countriesCurrency.symbol}}
                    </mat-option>
                  </mat-autocomplete>
                  <app-field-error-display [displayError]="isFieldValid('currencySymbol')" errorMsg="Currency is required">
                  </app-field-error-display>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label formLabel">Bid Range</label>
              <div class="col-sm-8">
                <div class="form-group row" formGroupName="cpm">
                  <label class="col-sm-2 col-form-label formLabel">CPM</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-5">
                          <input type="text" class="inputBox" id="cpmmin" name="min" formControlName="min"
                          placeholder="{{currencySymbol}}" autocomplete="off">
                      </div>
                      <div class="col-sm-2"><p class="mt-2">-</p></div>
                      <div class="col-sm-5">
                        <input type="text" class="inputBox" id="cpmmax" name="max" formControlName="max"
                        placeholder="{{currencySymbol}}" autocomplete="off">
                      </div>
                    </div>
                    <div class="row">
                      <app-field-error-display [displayError]="isFieldValid('cpm.min')" errorMsg="Min value required">
                      </app-field-error-display>
                    </div>
                    <div class="row">
                      <app-field-error-display [displayError]="isFieldValid('cpm.max')" errorMsg="Max value required">
                      </app-field-error-display>
                    </div>
                  </div>
                </div>
                <div class="form-group row" formGroupName="cpc">
                  <label class="col-sm-2 col-form-label formLabel">CPC</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-5">
                        <input type="text" class="inputBox" id="cpcmin" name="min" formControlName="min"
                        placeholder="{{currencySymbol}}" autocomplete="off">
                      </div>
                      <div class="col-sm-2"><p class="mt-2">-</p></div>
                      <div class="col-sm-5">
                        <input type="text" class="inputBox" id="cpcmax" name="max" formControlName="max"
                        placeholder="{{currencySymbol}}" autocomplete="off">
                      </div>
                    </div>
                    <div class="row">
                        <app-field-error-display [displayError]="isFieldValid('cpc.min')" errorMsg="Min value required">
                        </app-field-error-display>
                    </div>
                    <div class="row">
                        <app-field-error-display [displayError]="isFieldValid('cpc.max')" errorMsg="Max value required">
                        </app-field-error-display>
                    </div>
                  </div>
                </div>
                <div class="form-group row" formGroupName="cpv">
                  <label class="col-sm-2 col-form-label formLabel">CPV</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-5">
                        <input type="text" class="inputBox" id="cpvmin" name="min" formControlName="min"
                        placeholder="{{currencySymbol}}" autocomplete="off">
                      </div>
                      <div class="col-sm-2"><p class="mt-2">-</p></div>
                      <div class="col-sm-5">
                        <input type="text" class="inputBox" id="cpvmax" name="max" formControlName="max"
                        placeholder="{{currencySymbol}}" autocomplete="off">
                      </div>
                    </div>
                    <div class="row">
                        <app-field-error-display [displayError]="isFieldValid('cpv.min')" errorMsg="Min value required">
                        </app-field-error-display>
                    </div>
                    <div class="row">
                        <app-field-error-display [displayError]="isFieldValid('cpv.max')" errorMsg="Max value required">
                        </app-field-error-display>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mt-3 clearfix">
            <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onSubmit()" *ngIf="pageView==='AddView'">
                Save
            </button>
            <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onEditSubmit()" *ngIf="pageView==='EditView'">
                Save
            </button>
        </div>
      </form>
    </div>
</div>
