<div class="pt-3 mb40">
  <h1 class="h2">Platform Details</h1>
  <h6 class="h6">Add HCP Script to Platforms</h6>
</div> 
<div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
  <div class="row">
    <div class="col-md-4 mt-2">
      <a class="wColor ttu fs14" routerLink="/admin/publisher">
        <i class="icon-49 fs14 fw600"></i> Back
      </a>
    </div>
    <div class="col-md-8">
      <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add HCP Script</h5>
    </div>
  </div>
</div>

<div>
  <div class="boxDiv mt-3">		  
      <div class="row">
        <div class="col-md-8" >
      <form [formGroup]="platformFormGroup">
          <div class="row form-group">
              <label for="name" class="col-sm-3 col-form-label formLabel">Name <i [matTooltip]="publisher_asset_creation_basics_page_url" class="icon-17 fs12 grColor tradMak"></i> </label>
              <div class="col-sm-5">
                <input class="inputBox" formControlName="name" placeholder="Platform Name" name="name">
                <mat-error *ngIf="platformFormGroup.controls['name'].hasError('require')">
                  Platform Name is required
                </mat-error>
                <mat-error *ngIf="platformFormGroup.controls['name'].hasError('invalidCharacters')">
                  Platform Name cannot contain Special Characters or Numbers
                </mat-error>
              </div>
          </div>
          <div class="row form-group">
              <label for="name" class="col-sm-3 col-form-label formLabel">Platform Type <i [matTooltip]="publisher_asset_creation_basics_page_url" class="icon-17 fs12 grColor tradMak"></i> </label>
              <div class="col-sm-5">
                <input class="inputBox" formControlName="platformType" placeholder="Platform Type" name="platformType">
                <mat-error *ngIf="platformFormGroup.controls['platformType'].hasError('require')">
                  Platform Type is required
                </mat-error>
                <mat-error *ngIf="platformFormGroup.controls['platformType'].hasError('invalidCharacters')">
                  Platform Type cannot contain Special Characters or Numbers
                </mat-error>
              </div>
          </div>
          <div class="row form-group">
              <label for="name" class="col-sm-3 col-form-label formLabel">Type of Site <i [matTooltip]="publisher_asset_creation_basics_page_url" class="icon-17 fs12 grColor tradMak"></i> </label>
              <div class="col-sm-5">
                <input class="inputBox" [readonly] = true formControlName="typeOfSite" placeholder="Type of Site" name="typeOfSite">
                <mat-error *ngIf="platformFormGroup.controls['typeOfSite'].hasError('require')">
                  Type of Site is required
                </mat-error>
                <mat-error *ngIf="platformFormGroup.controls['typeOfSite'].hasError('invalidCharacters')">
                  Type of Site cannot contain Special Characters or Numbers
                </mat-error>
              </div>
          </div>
          <div class="row form-group">
            <label for="name" class="col-sm-3 col-form-label formLabel">Domain URL<i [matTooltip]="publisher_asset_creation_basics_page_url" class="icon-17 fs12 grColor tradMak"></i> </label>
            <div class="col-sm-5">
              <input class="inputBox" [readonly] = true formControlName="domainUrl" placeholder="Domain URL" name="domainUrl">
              <mat-error *ngIf="platformFormGroup.controls['domainUrl'].hasError('require')">
                Type of Site is required
              </mat-error>
              <mat-error *ngIf="platformFormGroup.controls['domainUrl'].hasError('invalidCharacters')">
                Type of Site cannot contain Special Characters or Numbers
              </mat-error>
            </div>
        </div>
          <div class="row form-group">
              <label for="name" class="col-sm-3 col-form-label formLabel">Description <i [matTooltip]="publisher_asset_creation_basics_page_url" class="icon-17 fs12 grColor tradMak"></i> </label>
              <div class="col-sm-5">
                <textarea class="inputBox" id="description" [readOnly] formControlName="description" class="w-100 br0" name="description" style="height:120px; padding: 5px;"></textarea>
                <mat-error *ngIf="platformFormGroup.controls['description'].hasError('require')">
                  Type of Site is required
                </mat-error>
                <mat-error *ngIf="platformFormGroup.controls['description'].hasError('invalidCharacters')">
                  Type of Site cannot contain Special Characters or Numbers
                </mat-error>
              </div>
          </div>
          <div class="row form-group">
              <label for="name" class="col-sm-3 col-form-label formLabel">isHCPUploaded <i [matTooltip]="publisher_asset_creation_basics_page_url" class="icon-17 fs12 grColor tradMak"></i> </label>
              <div class="col-sm-5">
                <input class="inputBox" [readOnly] formControlName="isHCPUploaded" placeholder="Type of Site" name="isHCPUploaded">
                <mat-error *ngIf="platformFormGroup.controls['isHCPUploaded'].hasError('require')">
                  Type of Site is required
                </mat-error>
              </div>
          </div>
          <div class="row form-group">
              <label for="name" class="col-sm-3 col-form-label formLabel">HCP Script <i [matTooltip]="publisher_asset_creation_basics_page_url" class="icon-17 fs12 grColor tradMak"></i> </label>
              <div class="col-sm-5">
                  <textarea class="inputBox" id="hcpScript" formControlName="hcpScript" class="w-100 br0" name="hcpScript" style="height:120px; padding: 5px;"></textarea>
              </div>
          </div>
          <div class="mt-4">
							<button (click)="fillTheForm()"  class="primaryBtn mainColor mainBordercolr previous-step" >Reset</button>
						<!--	<button  *ngIf = "!this.platformId" class="primaryBtn mainColor mainBordercolr next-step ml-2" matStepperNext
								(click)="nextStepFromDoctorVerificationAPI()">Next</button> -->
							<button  type="button"
								class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="updatePlatform()"
                >Save & Submit</button>
                <button  type="button"
								class="primaryBtn mainColor mainBordercolr next-step float-right" (click)="sendNotification()"
								>Send Notification</button>
						</div>
      </form>
    </div>
  </div>
</div>	  
</div>