<div class="custom-dialog info">
  <h2 mat-dialog-title>Instructions to include Banner API on your platform</h2>
  <mat-dialog-content>
    Doceree to produce the instructions 
  </mat-dialog-content>
  <mat-dialog-actions class="float-right">
    <button mat-button mat-raised-button  [mat-dialog-close]="true">OK</button>
  </mat-dialog-actions>
</div>