<div class="pt-3 pb-2 mb-3">
  <h1 class="h2 mb-2">Support</h1>
  <h6 class="h6 fwn lineheight">Check updates and resolve customer issues</h6>
</div>
	
<div class="row" *ngIf = "ticket">
    <div class="col-md-7 mb-4">
      <form [formGroup]="editTicketForm">
        <div class="boxDiv">
        <h2 class="fs18 fw600 p-3"><a class="" routerLink="/admin/support"><i class="icon-49 fs20 fw600 grColor mt-1 text-primary"></i></a> {{ticket.ticketId}} {{userDetails.firstName}} {{userDetails.lastName}}</h2>
        <hr class="m-0">
        
        <div class="msg_history p-3">
          <div>
            <div *ngFor="let thisComment of ticket.comments">
              <div class="outgoing_msg" *ngIf="thisComment.commentBy !== userEmail">
                <div class="incoming_msg_img float-right"> 
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="w-100">
                </div>
                <div class="received_msg">
                  <div class="sent_msg">
                    <p>{{thisComment.comment}}</p>
                    <span class="time_date">{{thisComment.commentTime | date:'medium'}}</span>
                  </div>
                </div>
              </div>
              <div class="incoming_msg" *ngIf="thisComment.commentBy === userEmail">
                <div class="incoming_msg_img"> 
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="w-100"> 
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{thisComment.comment}}</p>
                    <span class="time_date">{{thisComment.commentTime | date:'medium'}}</span>
                  </div>
                </div>
              </div>
          </div>
          </div>
          
          <div class="mt-5 ml-5">
            <button class="primaryBtn mainColor mainBordercolr" (click) = "updateSuportTicket('status')">Mark solved</button>
            <button class="primaryBtn mainColor mainBordercolr" (click) = "updateSuportTicket('priority')">Flag urgent</button>
          </div> 
        </div>
        <div class="type_msg mt-3">
          <div class="input_msg_write p-1">
            <input type="text" class="ml-3" placeholder="Type your reply here..." formControlName="comment"/>
            <button type="button" class="msg_send_btn primaryBtn wColor mainBGcolor br0" (click) = "updateSuportTicket('reply')">Reply</button>
          </div>
          <mat-error class ="p-4" *ngIf="commentMsg">
            {{commentMsg}}
          </mat-error>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-5">
    <div class="table-responsive boxDiv">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs20 fw600 wColor float-left mt-1">Ticket details</h5>
      </div>
      <div class="">
        <table class="table mb-0">
          <tbody>
          <tr>
            <td class="br0">Ticket ID</td>
            <td align="right" class="br0"><div class="float-right">{{ticket.ticketId}}</div></td>
          </tr>
          <tr>
            <td>Ticket Status</td>
            <td align="right"><div class="float-right">{{ticket.status}}</div></td>
          </tr>
          <tr>
            <td>Assigned to</td>
            <td align="right"><div class="float-right">{{ticket.latestAssignedUser.email}}</div></td>
          </tr>
          <tr>
            <td>Date created</td>
            <td align="right"><div class="float-right">{{ticket.created.at | date:'medium'}}</div></td>
          </tr>
          <tr>
            <td>Ticket type</td>
            <td align="right"><div class="float-right">{{ticket.ticketType}}</div></td>
          </tr>
          </tbody>
        </table>
      </div>	
    </div>
    
    <div class="table-responsive boxDiv mt-3 mb-5">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs20 fw600 wColor float-left mt-1">User details</h5>
      </div>
      <div class="">
        <table class="table mb-0">
          <tbody>
          <tr>
            <td class="br0">Account ID</td>
            <td align="right" class="br0">{{ticket.email}}</td>
          </tr>
          <tr>
            <td >Account type</td>
            <td align="right">{{ticket.userType}}</td>
          </tr>
          <tr>
            <td >Organization</td>
            <td align="right">{{ticket.orgName}}</td>
          </tr>
          <tr>
            <td >Plan expires on</td>
            <td align="right">-</td>
          </tr>
          </tbody>
        </table>
      </div>	
    </div>
  </div>
</div>
