<div class="pt-3 pb-2 mb-4">
    <h1 class="h2 mb-2">Performance Analytics</h1>
    <h6 class="h6">How your advertisers and publishers are using your platform</h6>
  </div>
  
  <div class="row">
    <div class="col-8 col-md-5">
    <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
		<div class="col-sm-12">
      		<div class="row">
				<div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
				<input class="br0 focus col-8 pt-3 pb-3" type="text" placeholder="Type a name...">	
				<button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
			</div>	
		</div>
    </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="boxDiv br1 mainBordercolr pt-2 pb-1  filterDiv">
        <a (click)="displayFilters()" class="filterShowHide mainColor h6 pl-2  dBlock1 mb-0">
          Filter
          <i class="icon-48 grColor fs16 pr-1 float-right" *ngIf="!showfilters"></i>
          <i class="icon-47 grColor fs16 pr-1 float-right" *ngIf="showfilters"></i>
        </a>
      </div>
    </div>
  </div>
  
  <div class="filterShowDiv mt-2" [ngStyle]="{ 'display': showfilters === true ? 'block' : 'none' }">
    <form [formGroup]="filterForm">
      <div class="boxDiv analyticsFilter pt-2" style="overflow:inherit; width:90%">
        <div class="brrTL4TR4 p-2 clearfix">
          <div class="allInputBoxs w-100">
            <div class="boxsInput">
              <div class="inputBox dateIcon opDetails inputBox_cle " >
                <input matInput [matDatepicker]="startDate" [min]="startDateMin" [max]="startDateMax" formControlName="startDate" (dateInput)="addStartDateEvent('input', $event)" placeholder="From date" readonly>
                <mat-datepicker-toggle matSuffix [for]="startDate" ></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </div>
            </div>
          <div class="float-left p-2">
              <p class="grColor pt-1 mb-0 text-center">to</p>
            </div>
          <div class="boxsInput">
              <div class="inputBox dateIcon opDetails inputBox_cle">
                <input matInput [matDatepicker]="endDate" [min]="startDate" [max]="startDateMax" formControlName="endDate" placeholder="To date"
                  (dateInput)="addEndDateEvent('input', $event)" readonly>
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </div>
            </div>
              
              <div class="boxsInput">
                <mat-select class="mat_option" formControlName="duration" (selectionChange)="onSelectDuration($event.value)"
                  placeholder="Select Duration">
                  <mat-option *ngFor="let option of filteredDuration" [value]="option.value">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </div>
          </div>
        </div>
  
        <div class="pl-2 pr-2 pt-1 pb-3 clearfix">
          <div class="float-right mt-3" style="width:71%">
              <div class="row">
                <div class="col-md-2 pl-2 pr-2 mt-2">
                    <button class="primaryBtn mainColor mainBordercolr" color="accent" (click)="pdfBuilder()" [disabled]="!enableOverviewTab && !enableAudienceTab && !enableBehaviorTab && !enableConversionTab">
                        <i class="icon-35 fs16 fw600 float-left"></i>PDF
                    </button>
                </div>
                <div class="col-md-4 mt-1">
                 <!-- <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0" (click)="applyFilter(activeTab)">Apply</button> -->
                 <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0" (click)="getAnalytics()">Apply</button>
                 
                  <button class="primaryBtn wColor mainBordercolr mainBGcolor m-0 ml-2" (click)="clearFilter(activeTab)">Clear</button>
                </div>
              </div>
          </div>  
        </div>
      </div>
    </form>
  </div>

  <div class="row mt-4">
    <div class="col-md-2 mb-3 pl-2 pr-2">
      <div class="boxDiv">
        <div class="p-3">
          <div class="clearfix">
            <div class="float-left"><i class="icon-41 op5 fs30 mainColor"></i></div>
            <div class="float-right bgGColor brr4 wColor p-1 fs14"><i class="icon-47"></i> 22%</div>
          </div>
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">Publishers</h6>
            <h2 class="fw float-right fs16 mb-0">52,455</h2>
          </div>
        </div>
        <hr class="m-0">
        <div class="p-3">
          <div class="clearfix">
            <div class="float-left"><i class="icon-40 op5 fs30 mainColor"></i></div>
            <div class="float-right bgGColor brr4 wColor p-1 fs14"><i class="icon-48"></i> 22%</div>
          </div>
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">Advertisers</h6>
            <h2 class="fw float-right fs16 mb-0">27,213</h2>
          </div>
        </div>
        <hr class="m-0">
        <div class="p-3 bgLGColor">
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">totale Users</h6>
            <h2 class="fw float-right fs16 mb-0">79,668</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 mb-3 pl-2 pr-2">
      <div class="boxDiv">
        <div class="p-3">
          <div class="clearfix">
            <div class="float-left"><i class="icon-42 op5 fs30 mainColor"></i></div>
            <div class="float-right bgRColor brr4 wColor p-1 fs14"><i class="icon-48"></i> 22%</div>
          </div>
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">Assets</h6>
            <h2 class="fw float-right fs16 mb-0">62,121</h2>
          </div>
        </div>
        <hr class="m-0">
        <div class="p-3">
          <div class="clearfix">
            <div class="float-left"><i class="icon-43 op5 fs30 mainColor"></i></div>
            <div class="float-right bgGColor brr4 wColor p-1 fs14"><i class="icon-48"></i> 22%</div>
          </div>
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">Campaigns</h6>
            <h2 class="fw float-right fs16 mb-0">52,355</h2>
          </div>
        </div>
        <hr class="m-0">
        <div class="p-3 bgLGColor">
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">% utilization</h6>
            <h2 class="fw float-right fs16 mb-0">76%</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 mb-3 pl-2 pr-2">
      <div class="boxDiv">
        <div class="p-3">
          <div class="clearfix">
            <div class="float-left"><i class="icon-22 op5 fs30 mainColor"></i></div>
            <div class="float-right bgRColor brr4 wColor p-1 fs14"><i class="icon-48"></i> 22%</div>
          </div>
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">Earnings</h6>
            <h2 class="fw float-right fs16 mb-0">$1,64,315</h2>
          </div>
        </div>
        <hr class="m-0">
        <div class="p-3">
          <div class="clearfix">
            <div class="float-left"><i class="icon-44 op5 fs30 mainColor"></i></div>
            <div class="float-right bgGColor brr4 wColor p-1 fs14"><i class="icon-48"></i> 22%</div>
          </div>
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">Spends</h6>
            <h2 class="fw float-right fs16 mb-0">$3,34,621</h2>
          </div>
        </div>
        <hr class="m-0">
        <div class="p-3 bgLGColor">
          <div class="clearfix">
            <h6 class="fs14 mt-1 float-left">Commission</h6>
            <h2 class="fw float-right fs16 mb-0">$170k</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="boxDiv mb-3">
        <div class="p-2 clearfix">
          <h6 class="fs14 float-left mt-1">No. of HCPs</h6>
          <div class="float-right bgGColor brr4 wColor p-1 fs14"><i class="icon-47"></i> 22%</div>
        </div>
        <hr class="m-0">
        <div class="p-3 clearfix">
          <div class="float-left"><i class="icon-45 op5 fs30 mainColor"></i></div>
          <h2 class="fw float-right fs18 mt-1 mb-0">48,178</h2>
        </div>
      </div>
      <div class="boxDiv mb-3">
        <div class="p-2 clearfix">
          <h6 class="fs14 float-left mt-1">Avg response time</h6>
          <div class="float-right bgRColor brr4 wColor p-1 fs14"><i class="icon-48"></i> 22%</div>
        </div>
        <hr class="m-0">
        <div class="p-3 clearfix">
          <div class="float-left"><i class="icon-46 op5 fs30 mainColor"></i></div>
          <h2 class="fw float-right fs18 mt-1 mb-0">2 hrs <small class="fs14">/ticket</small></h2>
        </div>
      </div>
    </div>
    
  </div>

  <ul class="nav nav-pills mt-4 tabsStyles" role="tablist">
    <li class="nav-item"> <a class="nav-link active fs18 fw600 brr0 bgNone" data-toggle="pill" href="#advertisersTab">Advertisers</a> </li>
    <li class="nav-item"> <a class="nav-link fs18 fw600 brr0 bgNone" data-toggle="pill" href="#publishersTab">Publishers</a> </li>
    <li class="nav-item"> <a class="nav-link fs18 fw600 bgNone brr0" data-toggle="pill" href="#impactTab">Impact</a> </li>
    <li class="nav-item"> <a class="nav-link fs18 fw600 bgNone brr0" data-toggle="pill" href="#hcpsTab">HCPs</a> </li>
    <li class="nav-item"> <a class="nav-link fs18 fw600 bgNone brr0" data-toggle="pill" href="#bidsTab">Bids</a> </li>
    <li class="nav-item"> <a class="nav-link fs18 fw600 bgNone brr0" data-toggle="pill" href="#vouchersTab">Vouchers</a> </li>
  </ul>

  <div class="tab-content mb-5">
    <div id="advertisersTab" class="tab-pane active">
      <div class="boxDiv mb-3 mt-3">
        <div class="mainBGcolor w-100 p-2 clearfix">
          <h5 class="fs13 fw600 wColor float-left pl-2">Advertiser Types & usage <i [matTooltip]="" class="icon-78 tradMak fs12 wdColor"></i></h5>
        </div>
          <div class="p-3">
            <div id="advertiserAdvertiserTypesPieChart" class="specializations" style="width:1100px; height:350px;">
              <div class="graphLoading text-center" *ngIf="!analyticsGraphsDataTemp">
                  <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
              </div>
              <p *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.brandAndTherapeuticData.length > 0"
              class="noChartData tac">Not enough data to plot graph</p>
            </div>
          </div>
      </div>
      <div class="boxDiv mb-3 mt-3">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs13 fw600 wColor float-left pl-2">Brands & Therapeutic areas <i [matTooltip]="" class="icon-78 tradMak fs12 wdColor"></i></h5>
      </div>
        <div class="p-3">
          <div id="advertiserBrandAndTherapeuticStackedBarChart" class="specializations" style="width:1100px; height:350px;">
            <div class="graphLoading text-center" *ngIf="!analyticsGraphsDataTemp">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
            <p *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.brandAndTherapeuticData.length > 0"
            class="noChartData tac">Not enough data to plot graph</p>
          </div>
        </div>
    </div>
    <div class="boxDiv mb-3 mt-3">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs13 fw600 wColor float-left pl-2">Location <i [matTooltip]="" class="icon-78 tradMak fs12 wdColor"></i></h5>
      </div>
        <div class="p-3">
          <div id="advertiserLocationChart" class="specializations" style="width:1100px; height:350px;">
            <div class="graphLoading text-center" *ngIf="!analyticsGraphsDataTemp">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
            <p *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.brandAndTherapeuticData.length > 0"
            class="noChartData tac">Not enough data to plot graph</p>
          </div>
        </div>
    </div>
    <div class="boxDiv mb-3 mt-3">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs13 fw600 wColor float-left pl-2">Top Brands <i [matTooltip]="" class="icon-78 tradMak fs12 wdColor"></i></h5>
      </div>
        <div class="p-3">
          <div id="advertiserTopBrandsBubbleChart" class="specializations" style="width:1100px; height:350px;">
            <div class="graphLoading text-center" *ngIf="!analyticsGraphsDataTemp">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
            <p *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.topBrands.length > 0"
            class="noChartData tac">Not enough data to plot graph</p>
          </div>
        </div>
    </div>
    <div class="boxDiv mb-3 mt-3">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs13 fw600 wColor float-left pl-2">Top SubCampaigns <i [matTooltip]="" class="icon-78 tradMak fs12 wdColor"></i></h5>
        <div>
          <button type="button" class="pull-right primaryBtn" (click)="showAdvertiserTopSubCampaignsData()">Show Data Tables</button>
        </div>
      </div>
        <div class="p-3">
          <div *ngIf="showAdvertiserTopSubcampaignTableData == false" id="advertiserTopSubCampaignsScatterChart" class="specializations" style="width:1100px; height:350px;">
            <div class="graphLoading text-center" *ngIf="!analyticsGraphsDataTemp">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
            <p *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.topSubCampaigns.length > 0"
            class="noChartData tac">Not enough data to plot graph</p>
          </div>
          <div *ngIf="showAdvertiserTopSubcampaignTableData == true">
            <div class="col-md-4" style="height:250px; overflow:auto;">
              <table class="table fs12">
                  <tr style="color: #2cc2ec">
                      <th>Sub Campaign</th>
                      <th style="text-align: center">Spends</th>
                      <th style="text-align: center">Reach</th>
                  </tr>
                  <ng-container *ngFor="let item of advertiserTopSubcampaignTableData1">
                      <tr>
                          <td>{{item.subCampaignName}}</td>
                          <td style="text-align: center">{{item.spends | number : '1.2-2'}}</td>
                          <td style="text-align: center">{{item.reach}}</td>
                      </tr>
                  </ng-container>
              </table>
            </div>
            <div class="col-md-4" style="height:250px; overflow:auto;">
              <table class="table fs12">
                  <tr style="color: #2cc2ec">
                      <th>Sub Campaign</th>
                      <th style="text-align: center">Spends</th>
                      <th style="text-align: center">Reach</th>
                  </tr>
                  <ng-container *ngFor="let item of advertiserTopSubcampaignTableData2">
                      <tr>
                          <td>{{item.subCampaignName}}</td>
                          <td style="text-align: center">{{item.spends | number : '1.2-2'}}</td>
                          <td style="text-align: center">{{item.reach}}</td>
                      </tr>
                  </ng-container>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="boxDiv mb-3 mt-3">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs13 fw600 wColor float-left pl-2">Trends <i [matTooltip]="" class="icon-78 tradMak fs12 wdColor"></i></h5>
      </div>
        <div class="p-3">
          <div id="advertiserTrendsLineChart" class="specializations" style="width:1100px; height:350px;">
            <div class="graphLoading text-center" *ngIf="!analyticsGraphsDataTemp">
                <img src="../assets/images/graphLoading.gif" alt="loading" width="10%" height="50%">
            </div>
            <p *ngIf="analyticsGraphsDataTemp && !analyticsGraphsDataTemp.topSubCampaigns.length > 0"
            class="noChartData tac">Not enough data to plot graph</p>
          </div>
        </div>
    </div>
  
    </div>
    <div id="publishersTab" class="tab-pane">
      <div class="row mt-3">
        <div class="col-md-8">
          <div class="table-responsive boxDiv">
            <div class="mainBGcolor w-100 p-2 clearfix">
              <div class="row">
                <div class="col-md-4">
                  <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Top Advertisers</h5>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-4 pl-2 pr-2">
                      <div class="br1 brwColor p-1 brr4 clearfix">
                        <input class="bgNone br0 wColor float-left" style="width:80%" placeholder="dd/mm/yyyy">
                        <i class="icon-23 fs20 wColor float-right"></i>
                      </div>
                    </div>
                    <div class="col-1 pl-0 pr-0"><p class="wColor pt-1 mb-0 text-center">to</p></div>
                    <div class="col-4 pl-2 pr-2">
                      <div class="br1 brwColor p-1 brr4 clearfix">
                        <input class="bgNone br0 wColor float-left" style="width:80%" placeholder="dd/mm/yyyy">
                        <i class="icon-23 fs20 wColor float-right"></i>
                      </div>
                    </div>
                    <div class="col-3">
                      <select class="inputBox wColor brwColor bgNone cPointer p-1">
                        <option class="mainBGcolor">Last 6 months</option>
                        <option class="mainBGcolor">Last 3 months</option>
                        <option class="mainBGcolor">Last 1 Year</option>
                        <option class="mainBGcolor">Last 2 Year</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-striped tableStyles text-center">
              <thead>
              <tr>
                <th class="fw600 text-left">Advertiser</th>
                <th class="fw600">Therapeutic  Area</th>
                <th class="fw600">Total  Spends</th>
                <th class="fw600">No. of  campaigns</th>
                <th class="fw600">Reach</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                <td class="text-left">Rothberg</td>
                <td>Surgery</td>
                <td>$470</td>
                <td>470</td>
                <td>470</td>
                </tr>
                <tr>
                <td class="text-left">Rothberg</td>
                <td>Surgery</td>
                <td>$470</td>
                <td>470</td>
                <td>470</td>
                </tr>
                <tr>
                <td class="text-left">Rothberg</td>
                <td>Surgery</td>
                <td>$470</td>
                <td>470</td>
                <td>470</td>
                </tr>
                <tr>
                <td class="text-left">Rothberg</td>
                <td>Surgery</td>
                <td>$470</td>
                <td>470</td>
                <td>470</td>
                </tr>
                <tr>
                <td class="text-left">Rothberg</td>
                <td>Surgery</td>
                <td>$470</td>
                <td>470</td>
                <td>470</td>
                </tr>
                <tr>
                <td class="text-left">Rothberg</td>
                <td>Surgery</td>
                <td>$470</td>
                <td>470</td>
                <td>470</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="boxDiv mb-3 mt-3">
            <div class="mainBGcolor w-100 p-2">
              <h5 class="fs20 fw600 wColor mt-1 pl-2">Top Compaigns</h5>
            </div>
            <div class="p-2"> <img src="./assets/images/chart12.jpg" class="img-fluid" alt="chart"></div>
          </div>
        </div>
      </div>
      <div class="boxDiv mb-3 mt-3">
        <div class="mainBGcolor w-100 p-2 clearfix">
          <div class="row">
            <div class="col-md-10">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Brands &amp; Therapeutic areas</h5>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-2 pl-0 pr-0"><i class="icon-31 fs30 wColor"></i></div>
                <div class="col-10">
                  <select class="inputBox wColor brwColor bgNone cPointer p-1">
                    <option class="mainBGcolor">Last 6 months</option>
                    <option class="mainBGcolor">Last 3 months</option>
                    <option class="mainBGcolor">Last 1 Year</option>
                    <option class="mainBGcolor">Last 2 Year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-5"> <div #lineChart></div> <img src="./assets/images/chart11.png" class="img-fluid" alt="chart"></div>
      </div>
    </div>
    <div id="impactTab" class="tab-pane fade">
      <div class="boxDiv mb-3 mt-3">
        <div class="mainBGcolor w-100 p-2 clearfix">
          <div class="row">
            <div class="col-md-10">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Brands &amp; Therapeutic areas</h5>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-2 pl-0 pr-0"><i class="icon-31 fs30 wColor"></i></div>
                <div class="col-10">
                  <select class="inputBox wColor brwColor bgNone cPointer p-1">
                    <option class="mainBGcolor">Last 6 months</option>
                    <option class="mainBGcolor">Last 3 months</option>
                    <option class="mainBGcolor">Last 1 Year</option>
                    <option class="mainBGcolor">Last 2 Year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-5"> <div #barChart></div><img src="./assets/images/chart11.png" class="img-fluid" alt="chart"></div>
      </div>
    </div>
    <div id="hcpsTab" class="tab-pane fade">
      <div class="boxDiv mb-3 mt-3">
        <div class="mainBGcolor w-100 p-2 clearfix">
          <div class="row">
            <div class="col-md-10">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Brands &amp; Therapeutic areas</h5>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-2 pl-0 pr-0"><i class="icon-31 fs30 wColor"></i></div>
                <div class="col-10">
                  <select class="inputBox wColor brwColor bgNone cPointer p-1">
                    <option class="mainBGcolor">Last 6 months</option>
                    <option class="mainBGcolor">Last 3 months</option>
                    <option class="mainBGcolor">Last 1 Year</option>
                    <option class="mainBGcolor">Last 2 Year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-5"> <img src="./assets/images/chart11.png" class="img-fluid" alt="chart"></div>
      </div>
    </div>
    <div id="bidsTab" class="tab-pane fade">
      <div class="boxDiv mb-3 mt-3">
        <div class="mainBGcolor w-100 p-2 clearfix">
          <div class="row">
            <div class="col-md-10">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Brands &amp; Therapeutic areas</h5>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-2 pl-0 pr-0"><i class="icon-31 fs30 wColor"></i></div>
                <div class="col-10">
                  <select class="inputBox wColor brwColor bgNone cPointer p-1">
                    <option class="mainBGcolor">Last 6 months</option>
                    <option class="mainBGcolor">Last 3 months</option>
                    <option class="mainBGcolor">Last 1 Year</option>
                    <option class="mainBGcolor">Last 2 Year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-5"> <img src="./assets/images/chart11.png" class="img-fluid" alt="chart"></div>
      </div>
    </div>
    <div id="vouchersTab" class="tab-pane fade">
      <div class="boxDiv mb-3 mt-3">
        <div class="mainBGcolor w-100 p-2 clearfix">
          <div class="row">
            <div class="col-md-10">
              <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Brands &amp; Therapeutic areas</h5>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-2 pl-0 pr-0"><i class="icon-31 fs30 wColor"></i></div>
                <div class="col-10">
                  <select class="inputBox wColor brwColor bgNone cPointer p-1">
                    <option class="mainBGcolor">Last 6 months</option>
                    <option class="mainBGcolor">Last 3 months</option>
                    <option class="mainBGcolor">Last 1 Year</option>
                    <option class="mainBGcolor">Last 2 Year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-5"> <img src="./assets/images/chart11.png" class="img-fluid" alt="chart"></div>
      </div>
    </div>
    </div>
