    <!--<div class="bgImg" style="bottom:-70px;"><img src="assets/images/groupImg.png" width="300" height="300"
    alt="AdvanalyticsBg"> </div>-->


      <div class="bgImg" style="bottom:-100px; right:-100px; z-index:999">
        <img src="assets/images/adv_thanksBgImg.svg" width="300" height="300" alt="AdvanalyticsBg"
          style="width:560px; height:330px;">
      </div>
    <div class="pt-3 pb-2 mb-2">
        <h1 class="h2 mb-2"><i class="icon-18 gColor fs20"></i> Thank you for signing up!</h1>
        <h6 class="h6" style="margin-left:33px !important">Your platform is now ready to host ads and earn money for you</h6>
    </div>


  <div class="col-md-12 fs14 pl4"><strong class="pub_color">1. ADD PLATFORM</strong>
      <div class="row"> <div class="w18 pl-pr pl-3" >  
      <div class="mt-3 "> 
        <img src="assets/images/thanksinfo/pub_1.png" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
        <h5 class=" fs11 pub_color mb-1 "><strong>BASIC</strong></h5>
        <h6 class="h6 fwn">Enter the website name and its description</h6>
    </div>
 </div>

 <div class="w20 pl-pr">
  <div class="mt-3 "> 
    <img src="assets/images/thanksinfo/pub_2.png" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
    <h5 class="  fs11 pub_color mb-1 "><strong>CONSTRAINTS</strong></h5>
    <h6 class="h6 fwn">Select the category of advertisers to be excluded</h6>
  </div>
   </div>
  
   <div class="w20 pl-pr">
    <div class="mt-3 "> 
      <img src="assets/images/thanksinfo/pub_3.png" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
      <h5 class="  fs11 pub_color mb-1 "><strong>PLATFORM INTEGRATION</strong></h5>
      <h6 class="h6 fwn">Integrate your website with Doceree’s ad server</h6>
    </div>
     </div>

     <div class="w25 pl-pr">
      <div class="mt-3 "> 
        <img src="assets/images/thanksinfo/pub_4.png" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
        <h5 class="  fs11 pub_color mb-1 "><strong>AUDIENCE IDENTIFICATION</strong></h5>
        <h6 class="h6 fwn">Help our HCP validation engine (ESPYIAN<sup>TM</sup>) to identify your visitors</h6>
      </div>
       </div>

  </div>
</div>



<div class="fs14 mt-5 pl4"><strong class="pub_color">2. ADD MULTIPLE SLOTS</strong>
  <div class="row">
       <div class="w20 pl-pr pl-3">
        <div class="mt-3 "> 
          <img src="assets/images/thanksinfo/pub_5.png" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
          <h5 class="  fs11 pub_color mb-1 "><strong>BASIC</strong></h5>
          <h6 class="h6 fwn">Enter the slot name and its description</h6>
        </div>
         </div>

         <div class="w20 pl-pr">
          <div class="mt-3 "> 
            <img src="assets/images/thanksinfo/pub_6.png" class="mb-3" width="80" height="80" alt="AdvanalyticsBg">
            <h5 class="  fs12 pub_color mb-1 "><strong>SELECT BID RANGE</strong></h5>
            <h6 class="h6 fwn">Enter your expected CPC/CPM bid range for the Ad slot</h6>
          </div>
           </div>
  
  </div>
 </div>



<div class="col-md-12 mt-2 " style="z-index: 999; ">
  <!---<h6 class="h6 mainColor float-left mt-2 mr-3">Add your first site!</h6>-->
  <button type="button" (click)="navigate()" class="mr-3 primaryBtn mainColor mainBordercolr mt-3" style=" float: right; margin-right:18% !important;">Add your first
    platform!</button>
</div>