.dashBoardTable .tableStyles th { padding:10px 15px!important}
.dashBoardTable .tableStyles td { padding:7px 15px!important}
#overlay_bg{height: -webkit-fill-available; width: 100% !important; height: 100%; position: fixed; top: 0px;background:url(/assets/over_bg.png) left top repeat; z-index:9999 !important; display: block; background-size:cover; left: 0px;}
.overlay_co_main{ width: auto; overflow: hidden;}
.right{ float: right;}

ul{list-style: none; padding: 0px; margin: 0px;}
li{ color: #fff;; font-size: 11px; list-style: decimal; line-height:12px; margin-bottom: 4px;}
.overlay_button_border{ padding: 0x 3px; margin:5px; font-size: 10px; background-color: transparent; border: 0.5px solid #fff !important; border-radius: 3px; color:#fff !important; float: left;}

#overlay_1{margin-top: 54px; margin-right: 100px;}
.overlay_box_2_text{ color: white !important; font-size: 11px; margin-left: 24px; width: 300px;}
.overlay_box_2_button_bor{ padding: 0x 3px; margin:5px; font-size: 10px; background-color: transparent; border: 1px solid #fff !important; border-radius: 5px; color:#fff !important; float: left; }
.overlay_box_3_text{color: white !important; font-size: 11px; position: absolute;right: -61px;width: 257px;margin-top: 1px;}

.overlay_box_4_text{ color: white !important; font-size: 11px; margin-left: 13px; width: 300px; }
.overlay_box_5{}
.overlay_box_5_text{ color: white !important; font-size: 11px; position: absolute; right: -284px; width: 300px; }

.overlay_box_6{ margin-top: 15%; }
.overlay_box_6_text{ color: white !important; font-size: 11px; margin-left: 46px; margin-top: 2% !important; width: 278px;}

.overlay_box_7{ width: 209px;}
.overlay_box_7_text{ color: white !important; font-size: 11px; }

.overlay_box_8{  }
.overlay_box_8_text{ color: white !important; font-size: 11px; }