
<div class="custom-dialog info advertiserDiv">
    <div class="modal-content">
        <div class="modal-body p-4">
            <h4 class="dialog-title">Approve credit line</h4>
            <mat-dialog-content class="mt-4">
            <form [formGroup]="approvedCreditLineForm">
              <div class="row">
                <div class="form-group col-6">
                  <input type="number" class="inputBox" formControlName="approvedCreditLimit" placeholder="Enter your Credit Limit" name="approvedCreditLimit" formControlName="approvedCreditLimit"/>
                </div>
              </div>
              <ul class="list-group p-2">
                <li *ngIf="isSubmitted && approvedCreditLineForm.controls['approvedCreditLimit'].hasError('required')">
                  <mat-error >
                      <i class="icon-17 fs14 fw600"></i> Credit Limit is required.
                  </mat-error>
                </li>
              </ul>
            </form>
          </mat-dialog-content>
      </div>
      <div class="modal-footer border-0 pt-0">            
          <mat-dialog-actions class="mb-0">
            <button mat-button mat-raised-button class="primaryBtn mainColor mainBordercolr" (click)="approveCreditLine()" >Approve</button>
            <button mat-raised-button [mat-dialog-close]="false" class="primaryBtn mainColor mainBordercolr">Close</button>
          </mat-dialog-actions>
      </div>
    </div>
</div>
