.custom-dialog {
    margin: -16px;
    overflow: hidden;
    /*padding: 10px 12px 25px 12px;*/
}


.advertColor {
    color: #6b3ffc;
    border-color: #6b3ffc;
    background: transparent;border: 1px solid #6b3ffc;border-radius: 13px;
    padding: 3px 17px 1px 17px !important;font-size: 13px;font-weight: 500;
}

.advertColor:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(to right, #b260e4, #6b3ffc) !important;
    color: white !important;
}

.pubColor {
    color: #6b3ffc;
    background: transparent;
    border-color: #4e70ef !important;border: 1px solid #4e70ef;border-radius: 13px;
    padding: 3px 17px 1px 17px !important;font-size: 13px;font-weight: 500;
}

.pubColor:hover {
    background-image: linear-gradient(to right, #41ccf1, #4e70ef) !important;
    color: white !important;
    border-color: white;
}

.pubColor:active {
    background-image: linear-gradient(to right, #41ccf1, #4e70ef) !important;
    color: white !important;
}