<div class="custom-dialog info advertiserDiv" style="width: 84%; margin: auto;">
  <div class="modal-content">
        <!--<div class="modal-header mainBGcolor wColor p-2">
            <h4 class="modal-title fs14">{{title}}</h4>
          </div>-->
         <div class="modal-body ">
             <h4 class="modal-title fs12 ml-0 pb-0 t_justify">{{title}}</h4>
             <mat-dialog-content> </mat-dialog-content>
        </div>
        <div class="modal-footer border-0 pt-0">            
            <mat-dialog-actions class="mb-0">
              <button [mat-dialog-close]="true" class=" mainColor mainBordercolr fs11"
              [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher' >Yes</button>
              <button [mat-dialog-close]="false" color="warn" class="primaryBtn mainColor mainBordercolr fs11" [class.advertColor] = 'isAdvertiser' [class.pubColor] = 'isPublisher'>No</button>
            </mat-dialog-actions>
        </div>
      </div>
  </div>


  <!----for advertiser code start here--->

  <!---<div class="custom-dialog info advertiserDiv" style="width: 84%; margin: auto;">
    <div class="modal-content">
         <div class="modal-header mainBGcolor wColor p-2">
              <h4 class="modal-title fs14">{{title}}</h4>
            </div>
           <div class="modal-body ">
               <h4 class="modal-title fs14 ml-0">{{title}}</h4>
               <mat-dialog-content> </mat-dialog-content>
          </div>
          <div class="modal-footer border-0 pt-0">            
              <mat-dialog-actions class="mb-0">
                <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr" >Yes</button>
                <button [mat-dialog-close]="false" color="warn" class="primaryBtn mainColor mainBordercolr">No</button>
              </mat-dialog-actions>
          </div>
        </div>
    </div>--->