table {
    width: 100%;
  }
  
  tr.drafts-detail-row {
    height: 0;
  }
  
  tr.drafts-element-row:not(.drafts-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.drafts-element-row:not(.drafts-expanded-row):active {
    background: #efefef;
  }
  
  .drafts-element-row td {
    border-bottom-width: 0;
  }
  
  .drafts-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .drafts-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .drafts-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .drafts-element-description {
    padding: 16px;
  }
  
  .drafts-element-description-attribution {
    opacity: 0.5;
  }
  
.table {
    margin-bottom: 0;
  }
  
th.mat-header-cell {
    text-align: left;
    color: #fff;
}
td.mat-cell {
    padding:10px 0.75rem !important;
}
input.mat-input-element {
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0;    
    font-size: 14px;
}
.mat-expansion-panel-header-title{
    color : white !important;
} 
.mat-expansion-panel {
    margin-bottom: 5px;
}
.mat-expansion-panel-spacing {
    margin: 0px;
}  