<div class="pt-3 pb-2 mb-4">
  <h1 class="h2 mb-2">Advertisers</h1>
  <h6 class="h6">An overview of all your advertisers in one place</h6>
</div>

<div class="row">
  <div class="col-8 col-md-5">
    <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
		<div class="col-sm-12">
		  <div class="row">
			<div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
			<input class="br0 focus col-8 pt-3 pb-3" type="text" (keyup)="searchCampaign(name.value);"
			  name="campaign" #name [(ngModel)]='campaign' placeholder="Type a campaign name...">
			<button (click)="searchCampaign(name.value);" type="button"
			  class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
		  </div>
    	</div>
	</div>	
  </div>
  <div class="col-4 col-md-2">
    <div class="boxDiv mt-2 w-75">
      <a (click)="toggleSearch();" class="filterShowHide mainColor h6 p-3 dBlock1 mb-0">Filter <i
          class="icon-48 grColor fs18 float-right"></i></a>
    </div>
  </div>
</div>

<div class="filterShowDiv mt-2" *ngIf="show">
  <div class="boxDiv">
    <div class="bgLGRColor pt-4 pl-4 pr-4 pb-2">
      <div class="row">

        <div class="col-md-3 form-group selectWrapper">
          <select class="inputBox" name="typeOfUser" [(ngModel)]='typeOfUser' placeholder="Filter by type">
            <option>Filter by type</option>
            <option>Client</option>
            <option>Agency</option>
          </select>
        </div>
        <div class="col-md-3 form-group selectWrapper">
          <select class="inputBox"  name="brand" [(ngModel)]='brand'>
            <option>Filter by brand</option>
            <option>brand 1</option>
            <option>brand 2</option>
            <option>brand 3</option>
          </select>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-5">
              <p class="pt-1 mb-0 text-center">Member since</p>
            </div>
            <div class="col-md-7 form-group">
              <div class="inputBox clearfix p-2 dateIcon">
                <input matInput style="width:70%" [matDatepicker]="startDate" id="startDate" name="startDate" placeholder="mm/dd/yyyy"
                  [readonly]="true" [(ngModel)]="sDate" class="bgNone br0 float-left pt-1">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="primaryBtn wColor mainBordercolr mainBGcolor float-right" 
          (click)="searchSubCampaign(typeOfUser, brand, sDate)">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive boxDiv mt-3">
  <!-- <table multiTemplateDataRows mat-table [dataSource]="filteredCampaigns"
      *ngIf="filteredCampaigns && filteredCampaigns.length">
      <ng-container matColumnDef="Company Name">
        <th mat-header-cell *matHeaderCellDef> Campaign </th>
        <td mat-cell *matCellDef="let element" align="text-center">{{element.campaign}} </td>
      </ng-container>
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef> Date created </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCreated | date: 'dd/MM/yyyy' }} </td>
      </ng-container>
      <ng-container matColumnDef="lastSaved">
        <th mat-header-cell *matHeaderCellDef> Last saved </th>
        <td mat-cell *matCellDef="let element"> {{element.lastSaved | date: 'dd/MM/yyyy' }} </td>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef> Created by </th>
        <td mat-cell *matCellDef="let element"> {{element.createdBy }} </td>
      </ng-container>
      <ng-container matColumnDef="editdelete">
        <th mat-header-cell *matHeaderCellDef class="text-center">
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <a class="mainColor tdu mr-3" (click)="editCampaign(element._id, element.brandId, element.campaign)"><i
              class="icon-25 fs16 fw600"></i></a>
          <a class="mainColor tdu ml-3" (click)="deleteCampaign(element._id)">
            <i class="icon-26 fs16 fw600"></i>
          </a>
          <a class="mainColor tdu ml-3"><i class="icon-48 fs20 grColor"></i></a>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="drafts-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="w-100 br1 brr4 brCColor">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th class="fw600">Type</th>
                    <th class="fw600">Sub-campaign</th>
                    <th class="fw600">Date created</th>
                    <th class="fw600">Last saved</th>
                    <th class="fw600">Created by</th>
                    <th class="fw600">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subcampaign of element.subDomainDetails; let even=even" [ngClass]="{eeeBG: even}">
                    <td *ngIf="subcampaign.creativeType === 'Banner'"><i class="icon-12 fs40 mainColor fw600"></i>
                    </td>
                    <td *ngIf="subcampaign.creativeType === 'Video'"><i class="icon-14 fs40 mainColor fw600"></i>
                    </td>
                    <td><a class="mainColor tdu">{{subcampaign.name}}</a></td>
                    <td>{{subcampaign.created.at | date: 'dd/MM/yyyy'}}</td>
                    <td>{{subcampaign.modified.at | date: 'dd/MM/yyyy'}}</td>
                    <td>{{element.createdBy}}</td>
                    <td>
                      <a (click)="editSubCampaign(element.brandId, element._id, subcampaign._id)" class="mr-3"><i
                          class="icon-25 fs18 mainColor fw600"></i></a>
                      <a (click)="deleteSubCampaign(subcampaign._id)"><i
                          class="icon-26 fs18 mainColor fw600"></i></a>
                    </td>
                  </tr>
                  <tr *ngIf='element.subDomainDetails.length === 0'>
                    <td colspan=6 align="center">No records found</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mainBGcolor wColor text-center"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns; let even = even;"
        [class.drafts-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];let even = even;" class="drafts-detail-row"></tr>
    </table>
    <table *ngIf="filteredCampaigns && filteredCampaigns.length === 0">
      <tr>
        <td colspan="9">No records found!</td>
      </tr>
    </table> -->
  <table multiTemplateDataRows mat-table [dataSource]="filteredCampaigns"
    class="tableStyles">
    <ng-container matColumnDef="Company Name">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Company Name </th>
      <td mat-cell *matCellDef="let element">{{element.businessName}} </td>
    </ng-container>
    <ng-container matColumnDef="Type of user">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Type of user </th>
      <td mat-cell *matCellDef="let element">{{element.advertiserType}} </td>
    </ng-container>
    <ng-container matColumnDef="Member since">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Member since </th>
      <td mat-cell *matCellDef="let element">{{element.created.at | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="Brands">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Brands </th>
      <td mat-cell *matCellDef="let element">{{element.subCampaignInfo.length}}</td>
    </ng-container>
    <ng-container matColumnDef="Active campaigns">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Active campaigns </th>
      <td mat-cell *matCellDef="let element"> {{element.subCampaignInfo.length}} </td>
    </ng-container>
    <ng-container matColumnDef="Spends">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Spends <i class="icon-16 fs12 wColor"></i></th>
      <td mat-cell *matCellDef="let element"> </td>
    </ng-container>
    <ng-container matColumnDef="Accounts Linked">
      <th mat-header-cell *matHeaderCellDef class="wColor"> Accounts Linked </th>
      <td mat-cell *matCellDef="let element" class="text-center"> <i class="icon-48 fs20 grColor"></i></td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="drafts-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="table-responsive br1 brr4 brCColor">
            <table class="table table-striped tableStyles">
              <thead>
                <tr>
                  <th class="fw600 text-left">Client</th>
                  <th class="fw600 brr1 brCColor">Type of Organization</th>
                  <th class="fw600">Brand</th>
                  <th class="fw600 brr1 brCColor">Therapeutic Area</th>
                  <th class="fw600">Active Campaigns</th>
                  <th class="fw600">Spends</th>
                  <th class="fw600">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>GSK</td>
                  <td class="brr1 brCColor" align="right">Pharmaceutical</td>
                  <td><a href="#" class="mainColor fw600">Dr. Smart</a></td>
                  <td class="brr1 brCColor" align="right">Endocrinology</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="brr1 brCColor" align="right"></td>
                  <td><a href="#" class="mainColor fw600">Cervarix</a></td>
                  <td class="brr1 brCColor" align="right">Gynaecology</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="brr1 brCColor" align="right"></td>
                  <td><a href="#" class="mainColor fw600">Calcico-XD</a></td>
                  <td class="brr1 brCColor" align="right">Orthopaedics</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr>
                  <td>Dr. Reddy</td>
                  <td class="brr1 brCColor" align="right">Pharmaceutical</td>
                  <td><a href="#" class="mainColor fw600">Crocin</a></td>
                  <td class="brr1 brCColor" align="right">Endocrinology</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mainBGcolor wColor text-center"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns; let even = even;"
      [class.drafts-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];let even = even;" class="drafts-detail-row"></tr>
  </table>
</div>