.mat-form-field-wrapper{
    padding: 0px!important;
}
.mat-form-field-infix{
    padding: 0px;
    padding-bottom: 13px;
}
.form-control{
    border: none !important;
}

.table {
  margin-bottom: 0;
}

th.mat-header-cell {
  text-align: left;
  color: #fff;
}
input.mat-input-element {
	border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px 15px;
	margin: 0;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}
