<div class="table-responsive boxDiv mt-3" *ngIf="pageView=='ListView'">
  <table class="table table-striped tableStyles" mat-table [dataSource]="adminUserList">
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef class="fs18 fw600"> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef class="pr-3 text-center"> Last Name </th>
        <td mat-cell *matCellDef="let element" width="25%" class="pr-3 text-center"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.userStatus}} </td>
    </ng-container>
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
    </ng-container>
    <ng-container matColumnDef="adduser">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <button class="primaryBtn brwColor float-right wColor font-weight-normal" (click)="renderDeleteView()"><i class="icon-53 fs16 fw600"></i> Delete User</button>
          <button class="primaryBtn brwColor float-right wColor font-weight-normal" (click)="renderAddView()"><i class="icon-6 fs16 fw600"></i> Add User</button>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <a class="mainColor tdu mr-3" (click)="renderEditView(element._id)"><i class="icon-25 fs16 fw600"></i></a>
          <a class="mainColor tdu ml-3" (click)="removeUser(element._id)"><i class="icon-26 fs16 fw600"></i></a>
        </td>
    </ng-container>
    <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="grColor m-4" *ngIf="adminUserList && !adminUserList.length">
    <strong>No Records found !</strong>
  </div>
</div>

<div class="boxDiv ovi mb-3 mt-3 w-75" *ngIf="pageView==='AddView' || pageView==='EditView'">
  <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
    <div class="row">
      <div class="col-md-4 mt-2">
        <a class="wColor ttu fs14" (click)="renderListView()">
          <i class="icon-49 fs14 fw600"></i> Back
        </a>
      </div>
      <div class="col-md-8" *ngIf="pageView==='AddView'">
        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add User</h5>
      </div>
      <div class="col-md-8" *ngIf="pageView==='EditView'">
          <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Edit User</h5>
        </div>
    </div>
  </div>
  <div class="p-4">
    <form [formGroup]="adminUserForm">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group row text-center text-danger" *ngIf="errorMessage">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <strong><i class="icon-17" style="padding-right:7px;"></i>{{errorMessage}}</strong>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label formLabel">Email </label>
            <div class="col-sm-8">
                <input type="text" class="inputBox" formControlName="email" name="email" placeholder="Enter email address">
                <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Email is required">
                </app-field-error-display>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label formLabel">User Role </label>
            <div class="col-sm-8">
              <input type="text" matInput class="inputBox" id="userRole" name="userRole" autocomplete="off"
               formControlName="userRole" placeholder="User Role" [matAutocomplete]="autouserrole">
              <mat-autocomplete #autouserrole="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let userRolesPermission of filteredUserRolesPermissions | async" [value]="userRolesPermission">
                  {{userRolesPermission.roleName}}
                </mat-option>
              </mat-autocomplete>
              <app-field-error-display [displayError]="isFieldValid('userRole')" errorMsg="User role is required">
              </app-field-error-display>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-3 clearfix">
          <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onSubmit()" *ngIf="pageView==='AddView'">
              Save
          </button>
          <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onEditSubmit()" *ngIf="pageView==='EditView'">
              Save
          </button>
      </div>
    </form>
  </div>
</div>


<div class="boxDiv ovi mb-3 mt-3 w-75" *ngIf="pageView==='DeleteView' || pageView==='DeleteDetailsView'">
  <div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
    <div class="row">
      <div class="col-md-4 mt-2">
        <a class="wColor ttu fs14" (click)="renderListView()">
          <i class="icon-49 fs14 fw600"></i> Back
        </a>
      </div>
      <div class="col-md-8" >
        <h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Delete User</h5>
      </div>
  </div>
  </div>
  <div class="p-4" *ngIf="pageView==='DeleteView'">
    <form [formGroup]="deleteUserForm">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group row text-center text-danger" *ngIf="errorMessage">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <strong><i class="icon-17" style="padding-right:7px;"></i>{{errorMessage}}</strong>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label formLabel">Email </label>
            <div class="col-sm-8">
                <input type="text" class="inputBox" formControlName="email" name="email" placeholder="Enter email address">
                <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Email is required">
                </app-field-error-display>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-3 clearfix">
          <button class="primaryBtn mainColor mainBordercolr float-right" (click)="onSearch()">
              Search
          </button>
      </div>
    </form>
  </div>
  <div class="p-4" *ngIf="pageView==='DeleteDetailsView'">
      <div *ngIf="deleteUserDetails && deleteUserDetails.length == 0">
        No records found!
        <div class="form-group mt-3 clearfix">
          <button class="primaryBtn mainColor mainBordercolr float-right" (click)="pageView ='DeleteView'">
              Back
          </button>
        </div>
      </div>
    <div *ngIf="deleteUserDetails && deleteUserDetails.length > 0">
        <div class="row">
          <label>Email :</label>{{deleteUserDetails[0].email}}
        </div>
        <div class="row">
          <label>UserType : </label>{{deleteUserDetails[0].userType}}
        </div>
        <div class="form-group mt-3 clearfix" >
            <button class="primaryBtn mainColor mainBordercolr float-right" (click)="deletUser()">
                Delete
            </button>
        </div>
    </div>
  </div>
</div>
