<div class="custom-dialog info advertiserDiv">
  <div class="modal-content">
        <div class="modal-header mainBGcolor wColor p-2">
            <h4 class="fs14 modal-title">Upload creative</h4>
          </div>
         <div class="modal-body p0">
             <mat-dialog-content class="p4">
                <div class="form-group clearfix" *ngIf = "creativeType === 'image'" style="margin: auto;">
                  <div class="float-left pl-0">
                      <button class="mainColor bgNone mr-0 br0 fs13" (click) = "cancelFromLocal()">
                          <i class="icon-52 fs14 fw600 float-left" style="margin:1px 10px 0 0"></i> Upload creatives
                      </button>
                  </div>
                  <div class="float-left"><p class="grColor mb-0 ml-3 mr-3">or</p></div>
                  <div class="float-left">
                    <button class="mainColor bgNone mr-0 br0 fs13 " (click) = "getBannerCreatives()">
                        <i class="icon-52 fs14 fw600 float-left" style="margin:1px 10px 0 0"></i> Upload from Creative Hub
                    </button>
                  </div>
                </div>
                 
                <div *ngIf = "creativeHubs && creativeHubs.length" class="newAssets row">
                    <div class="mb-3 col-md-4" *ngFor = "let creativeHub of creativeHubs"
                    [ngClass]="{'commonImg' : (creativeHub.size == '250 x 250' || creativeHub.size == '200 x 200' || creativeHub.size == '300 x 250' || creativeHub.size == '336 x 280'),
                    'widthImg' : (creativeHub.size == '468 x 60' || creativeHub.size == '728 x 90' || creativeHub.size == '970 x 90'),
                    'heightImg' : (creativeHub.size == '120 x 600' || creativeHub.size == '160 x 600' || creativeHub.size == '300 x 600')}">
                    <a (click) = "selectCreative(creativeHub)" class="bannerBoxes tac w-100">
                        <img *ngIf = "creativeType === 'image'" class="imageBox" [src]="creativeHub.url" alt="Img">
                        <video *ngIf = "creativeType === 'video'" controls class="videoBox">
                            <source src="{{creativeHub.url}}" type="video/mp4">
                        </video>
                    </a>
                  </div>
                </div>
                <div class="grColor m-4 p-4 fs14" *ngIf = "creativeType === 'image' && creativeHubs && !creativeHubs.length">
                  <strong>No creative hub of selected size !</strong>
                </div>
                <div class=" fs14 grColor m-4 p-4" *ngIf = "creativeType === 'video' && creativeHubs && !creativeHubs.length">
                    <strong>No creative hub of type video !</strong>
                  </div>
              </mat-dialog-content>
        </div>
        <div class="modal-footer border-0 mb-3 ">            
            <button (click) = "cancelDailog()" class="primaryBtn mainColor mainBordercolr fs11">Close</button>
        </div>
      </div>
  </div>
