.commonImg .imageBox {
    width:110px;
    height:110px;
    object-fit:contain;
}

.heightImg .imageBox {
    width:100px;
    height:160px;
    object-fit:contain;
}

.widthImg.col-md-4 { flex: 0 0 50%!important; max-width: 50%!important;}

.widthImg .imageBox {
    width:190px;
    height:60px;
    object-fit:contain;
}

.newAssets .bannerBoxes { min-height:inherit!important; padding:0px!important;}
.videoBox {
    max-height: 150px;
    min-height: 150px;
}