
<div class="custom-dialog info advertiserDiv">
  <div class="modal-content">
        <!--<div class="modal-header mainBGcolor wColor p-2">
            <h4 class="modal-title fs14">For your security - add password to continue</h4>
          </div>-->
         <div class="modal-body p-4">
             <h4 class="modal-title fs14">For security purposes, please enter your password to continue</h4>
             <mat-dialog-content>
              <form [formGroup]="confirmPasswordForm">
                <div class="row">
                  <div class="form-group col-6">
                    <input type="password" class="inputBox" formControlName="password" placeholder="Enter your password" name="password" formControlName="password"/>
                  </div>
                </div>
                <ul class="list-group p-2">
                  <li *ngIf="confirmPasswordForm.controls['password'].hasError('require')">
                    <mat-error >
                        <i class="icon-17 fs14 fw600"></i> Password is required.
                    </mat-error>
                  </li>
                  <li *ngIf="passErrMsg" class="">
                    <mat-error >
                        <i class="icon-17 fs14 fw600"></i>  {{passErrMsg}}
                    </mat-error>
                  </li>
                </ul>
              </form>
            </mat-dialog-content>
        </div>
        <div class="modal-footer border-0 pt-0">            
            <mat-dialog-actions class="mb-0">
              <button mat-button mat-raised-button (click) = checkPassword() class="primaryBtn mainColor mainBordercolr">Continue</button>
              <button mat-raised-button [mat-dialog-close]="false" class="primaryBtn mainColor mainBordercolr">Cancel</button>
            </mat-dialog-actions>
        </div>
      </div>
  </div>
