<div class="m-minus-24 advertiserDiv" style="width:650px; margin:0 auto;">
  <div class="modal-content">
        <div class="modal-header mainBGcolor wColor p-2">
            <h4 class="modal-title fs14">Preview</h4>
          </div>
         <div class="modal-body p-4">
             <div style="width:600px; height:300px; text-align:center; vertical-align:middle; display: table-cell"><img [src]='imgUrl' [width]='imgWidth' [height]='imgHeight' style="max-width:100%; max-height:100%; inline-size: auto;"></div>
        </div>
        <div class="modal-footer border-0 pt-0 pb-3">
            <button type="button" class="primaryBtn mainColor mainBordercolr" (click)="onSubmit()" cdkFocusInitial>{{buttonText}}</button>
        </div>
      </div>
  </div>
