.cropperTitle{
    color: #fff;
    background: #4e6def;
    background-image: linear-gradient(to right, #18c0f0, #4e6def) !important;
    text-align: center;
    margin: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }