<div  class="bgImg" style="top:40px; right:-20px; z-index:-1"><img alt="AdvanalyticsBg" height="300" src="assets/images/AdvpaymentsBg.png" style="width:350px; height:250px;"></div>

<div class="row">
  <div class="col-md-7">
    <div class="pt-4 mb40">
      <h1 class="h2">Manage Payments</h1>
      <h6 class="h6 mt-1 fwn lineheight">You can view the transaction history for your platform/s and edit bank details here</h6>
    </div>
  </div>
  <div class="col-md-3 pt-4 mb40 pl-0" *ngIf="marketSelectionDisplay && !editMode"> 
    <div class="row">
      <div class="col-md-3 fs13 fw600 mr-2 mt14" >Market</div>
      <div class=" w97 fs13 fw600 market_box mt9">
        <mat-form-field class="mat-form-field">     
          <mat-select [(value)]="marketSelection" (selectionChange)="setZone()">
            <mat-select-trigger *ngIf="marketSelection && marketSelection === '1'">
              <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> <span class="market_trigger fs11">US</span>
            </mat-select-trigger>
            <mat-select-trigger *ngIf="marketSelection && marketSelection === '2'">
              <img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"> <span class="market_trigger fs11">India</span>
            </mat-select-trigger>
            <mat-option value="1"> <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> US</mat-option>
            <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"> India</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
</div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="boxDiv mb-2">
      <div class="bgLGRColor p-2">
        <p class="mb-0 ml-2">Your Earnings <i [matTooltip]="publisher_payments_your_earnings" class="icon-78 tradMak grColor fs12"></i></p>
      </div>
      <div class="p-3">
        <div class="row">
          <div class="col-2"><i class="icon-22 op5 fs40 mainColor"></i></div>
          <div class="col-10">
            <span *ngIf="totalPendingAmout < 0">
              <p>Loading...</p>
            </span>
            <span *ngIf="totalPendingAmout >= 0">
              <h3 class="fs14"><strong>{{currencySymbol}}{{ totalPendingAmout | number: '.0-0'}}</strong></h3>
            </span>
            <h6 class="grColor fs11 mt-1">We’ll credit the next payment for your platform/s on {{paymentCreditedOn| date: 'd MMM yyyy'}}.​</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 paymenttab">
    <mat-tab-group animationDuration="0ms" class="nav nav-pills mt-3 paymentTabs" role="tablist" [selectedIndex]="selectedTab" (selectedIndexChange)="selectTab($event)">
      <mat-tab label="Bank Details" class="nav-item">
        <app-bank-details #bankDetialsComponent *ngIf="selectedTab === 0" (editModeOn)="editMode = true" (editModeOff)="editMode = false"></app-bank-details>
      </mat-tab>
      <mat-tab label="Payments Received" class="nav-item">
        <app-payments-received #paymentsComponent *ngIf="selectedTab === 1"></app-payments-received>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-md-3">&nbsp;</div>
</div>
