.my-select-panel-class {
    width:20px;
    max-width:20px;
    background-color: red;
    font-size: 10px;
}
.mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;
}

table {
    width: 100%;
  }
  
  tr.invoicedetail-row {
    height: 0;
  }
  
  tr.invoiceelement-row:not(.invoiceexpanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.invoiceelement-row:not(.invoiceexpanded-row):active {
    background: #efefef;
  }
  
  .invoiceelement-row td {
    border-bottom-width: 0;
  }
  
  .invoiceelement-detail {
    overflow: hidden;
    display: flex;
	  margin:15px 15px 15px 0;
  }
  
  .invoiceelement-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .invoiceelement-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .invoiceelement-description {
    padding: 16px;
  }
  
  .invoiceelement-description-attribution {
    opacity: 0.5;
  }
  
.table {
    margin-bottom: 0;
  }
  
 th.mat-header-cell {
    text-align: left;
    color: #fff; 
	font:500 16px 'Work Sans', sans-serif!important;
	 border:noe;
  }
  td.mat-cell {
    padding:0px !important;
	  border:none;
  }
  input.mat-input-element {
      border-radius: 4px;
      width: 100%;
      border: 1px solid #ccc;
      padding: 10px 15px;
      margin: 0;
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
      font-size:14px;
  }
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type { padding-left:15px!important;}
.mat-table { font-family:'Work Sans', sans-serif!important;}

.mat-tab-label, .mat-tab-link { font:600 14px "Work Sans", sans-serif !important!important;}
.market_box{border-radius:35px; border:1px solid #41ccf1; padding:0px 10px; height: 25px;}
.w97{ width: 97px;}
.mat-form-field{position: relative; top: -13px; width: 100% !important;}