<h1 mat-dialog-title>HCP Upload </h1>
<div mat-dialog-content style="background-color:#e8e8ea; padding: 10px">

  <div *ngIf='headerError' class="example-box text-danger"><strong>{{headerError}}</strong></div>
  <div *ngIf="!listView">
    <div class="example-container">
      <h5>System Headers</h5>
      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="systemHeaders" 
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of systemHeaders" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h5>Final Headers</h5>

      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="example-container">
      <h5>CSV Headers</h5>

      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
  <div class="table-responsive boxDiv mt-3" *ngIf="listView">
    <table class="table table-striped" mat-table [dataSource]="hcpRecordsForList">

      <ng-container matColumnDef="regNumber">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> Registration Number </th>
        <td mat-cell *matCellDef="let element"> {{element.registrationNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> Date of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>
      <ng-container matColumnDef="pincode">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> Pincode </th>
        <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
      </ng-container>
      <ng-container matColumnDef="enableAds">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> Enable Ads </th>
        <td mat-cell *matCellDef="let element"> {{element.enableAds}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="fs14 fw600"> Status </th>
        <td mat-cell *matCellDef="let element">
          <strong class="text-success" *ngIf="element.isValid">
            <i class="icon-18 fs16"></i>
          </strong>
          <strong class="text-danger" *ngIf="!element.isValid">
            <i class="icon-65 fs16"></i> &nbsp; &nbsp;
            <a href="#" matTooltip="{{element.errMessege}}" matTooltipClass="text-danger bgLGRColor fs14">
              <i class="icon-59 fs18 mainColor fw"></i>
            </a>
          </strong>
        </td>
      </ng-container>

      <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedHcpCsvColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedHcpCsvColumns;"></tr>

    </table>  
    <div class="boxDiv brtrr0 brtlr0 col" *ngIf="plateformsDataSource && !plateformsDataSource.length">
      <p class="text-mutted  pl-0 pt-3 grDColor">No Records found !</p></div>

  </div>
</div>
<div mat-dialog-actions class="float-right">
  <p *ngIf="listView" class="m-4 text-primary fs16">Total {{hcpRecordsForList.length}} records found. {{hcpRecordsForUpload.length}} valid records found. Only valid records are accepted.</p>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button *ngIf="!listView" mat-button cdkFocusInitial (click)="saveHeaders()">Save</button>
  <button *ngIf="listView" mat-button cdkFocusInitial (click)="uploadHCPDetails()">Close</button>
</div>
