<div class="mainDiv adminDiv">
	<div class="bgImg" style="background:url(assets/images/admindashboardBGImg.png) no-repeat 270px 10px;">
	</div>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 mainBGcolor">
		<a class="navbar-brand col-md-1 mr-0 pb-2 logo" routerLink="/admin/dashboard">
			<img src="assets/images/logo.png" width="45" height="45" alt="logo">
		</a>
		<div class="col-3 col-md-9 searchBar" style="max-width:1120px; flex:0 0 1060px; margin-left:10px; padding-right:0;">
			<i class="icon-5 fs18 wColor fa-search"></i>
			<input class="form-control form-control-dark" type="text" placeholder="Start typing here…"
				aria-label="Search">
		</div>
		<div>
			<div class="w97 fs13  fw600 market_box mt9">
			<mat-form-field class="mat-form-field">        
				<mat-select [(value)]="marketSelection" (selectionChange)="updateMarketSelection()">
				<mat-select-trigger *ngIf="marketSelection && marketSelection === '1'">
				<img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> <span class="market_trigger fs11">US</span>
				</mat-select-trigger>
				<mat-select-trigger *ngIf="marketSelection && marketSelection === '2'">
				<img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"><span class="market_trigger fs11">India</span> 
				</mat-select-trigger>
				<mat-option value="1"> <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> US</mat-option>
				<mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"> India</mat-option>
				</mat-select>
			</mat-form-field>
			</div>
			
		</div>
		<div class="col-9 col-md-2 topInfoIcons" style="max-width:170px">
			<ul>
				<li class="col-6 pl-4 pr-4">
					<a routerLink="/login" class="float-right">
						<i class="icon-3"></i>
					</a>
				</li>
				<li class="col-6 pl-4 pr-4">
					<a (click)="logout()"><i class="icon-4"></i></a>
				</li>
				
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-1 d-none d-md-block px-0 sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link mainColor " routerLink="/admin/config" routerLinkActive="leftMenuActive">
								<span class="menuActive mainBGcolor"></span>
								<i class="icon-40 mainColor"></i>
								Configuration
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mainColor" routerLink="/admin/advertiser"
								routerLinkActive="leftMenuActive">
								<span class="menuActive mainBGcolor"></span>
								<i class="icon-40 mainColor"></i>
								Advertisers
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mainColor" routerLink="/admin/publisher"
								routerLinkActive="leftMenuActive">
								<span class="menuActive mainBGcolor"></span>
								<i class="icon-41 mainColor"></i>
								Publishers
							</a>
						</li>
						<li class="nav-item">
								<a class="nav-link mainColor" routerLink="/admin/campaigns"
									routerLinkActive="leftMenuActive">
									<span class="menuActive mainBGcolor"></span>
									<i class="icon-9 mainColor"></i>
									Campaigns
								</a>
							</li>
						<li class="nav-item">
							<a class="nav-link mainColor" routerLink="/admin/analytics"
								routerLinkActive="leftMenuActive">
								<span class="menuActive mainBGcolor"></span>
								<i class="icon-8 mainColor"></i>
								Analytics
							</a>
						</li>
						<li class="nav-item">
							<!--<a class="nav-link mainColor" routerLink="/admin/support" routerLinkActive="leftMenuActive"> -->
							<a class="nav-link mainColor" routerLink="/admin/interestedusers" routerLinkActive="leftMenuActive">
								<span class="menuActive mainBGcolor"></span>
								<i class="icon-1 mainColor"></i>
								Interested Users
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mainColor" routerLink="/admin/payments"
								routerLinkActive="leftMenuActive">
								<span class="menuActive mainBGcolor"></span>
								<i class="icon-9 mainColor"></i>
								Payments
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mainColor " routerLink="/admin/settings"
								routerLinkActive="leftMenuActive">
								<span class="menuActive mainBGcolor"></span>
								<i class="icon-10 mainColor"></i>
								Settings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mainColor" routerLink="/admin/creditline"
								routerLinkActive="leftMenuActive">
								<span class="menuActive mainBGcolor"></span>
								<i class="icon-74 mainColor"></i>
								Credit Line
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-3">
			   <div class="mainContentDiv">
					   <router-outlet></router-outlet>
			   </div>
			</main>
			<!--<main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-5">
		<div class="pt-3 pb-2 mb-4">
			<h1 class="h2 mb-2">Settings</h1>
			<h6 class="h6">Manage users and track your receipts</h6>
		</div>

		<ul class="nav nav-pills mt-4 tabsStyles" role="tablist">
			<li class="nav-item"> <a class="nav-link active fs18 fw600 brr0 bgNone" data-toggle="pill" href="#countriesTab">Countries</a></li>
			<li class="nav-item"> <a class="nav-link fs18 fw600 bgNone brr0" data-toggle="pill" href="#bidsTab">Bids</a></li>
			<li class="nav-item"> <a class="nav-link fs18 fw600 bgNone brr0" data-toggle="pill" href="#UsersTab">Users</a></li>
		</ul>
		<div class="tab-content mb-5">
			<div id="countriesTab" class="tab-pane active">
				<div class="table-responsive boxDiv mt-3">
					<table class="table table-striped tableStyles">
					  <thead>
						<tr class="mainBGcolor wColor">
							<th class="fs18 fw600">Saved Countries</th>
							<th class="text-center">Address</th>
							<th>Tax</th>
							<th>Tax %</th>
							<th>Registration No.</th>
							<th>Bid Range</th>
							<th>
								<a href="#" class="primaryBtn brwColor float-right wColor font-weight-normal"><i class="icon-6 fs16 fw600"></i> Add country</a>
							</th>
						</tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td>India</td>
							  <td width="25%" class="text-center">352 Global Heights, Bandra Kurla Complex, Mumbai</td>
							  <td>GST</td>
							  <td>18%</td>
							  <td>GSTIN2398572HT7</td>
							  <td>INR 100 - 1000</td>
							  <td align="center"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
					  </tbody>
				</table>
				</div>

				<div class="boxDiv ovi mb-3 mt-3 w-75">
					<div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
						<div class="row">
							<div class="col-md-4 mt-2">
								<a href="#" class="wColor ttu fs14">
									<i class="icon-49 fs14 fw600"></i> Back
								</a>
							</div>
							<div class="col-md-8">
								<h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add a new country</h5>
							</div>
						</div>
					</div>
					<div class="p-4">
						<div class="row">
							<div class="col-md-10">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label formLabel">Name <i class="icon-16 fs16 grColor"></i></label>
									<div class="col-sm-8">
										<input type="text" class="inputBox" id="" placeholder="Crocin Cold & Flu">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label formLabel">Address <i class="icon-16 fs16 grColor"></i></label>
									<div class="col-sm-8">
										<input type="text" class="inputBox mb-3" id="" placeholder="Address Line 1">
										<input type="text" class="inputBox mb-3" id="" placeholder="Address Line 2">
										<input type="text" class="inputBox mb-3" id="" placeholder="City">
										<input type="text" class="inputBox mb-3" id="" placeholder="Address Line 2">
										<div class="row">
											<div class="col-sm-8 selectWrapper selectWrapper2">
												<select class="inputBox">
													<option>State</option>
													<option>State 1</option>
													<option>State 2</option>
													<option>State 3</option>
												</select>
											</div>
											<div class="col-sm-4">
												<input type="text" class="inputBox" id="" placeholder="Zip Code">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label formLabel">Tax <i class="icon-16 fs16 grColor"></i></label>
									<div class="col-sm-8">
										<input type="text" class="inputBox" id="" placeholder="Increase visibility">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label formLabel">Tax % <i class="icon-16 fs16 grColor"></i></label>
									<div class="col-sm-8">
										<input type="text" class="inputBox" id="" placeholder="Increase visibility">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label formLabel">Registration Number <i class="icon-16 fs16 grColor"></i></label>
									<div class="col-sm-8">
										<input type="text" class="inputBox" id="" placeholder="Increase visibility">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group mt-3 clearfix">
							<button class="primaryBtn mainColor mainBordercolr float-right" data-toggle="modal" data-target="#exampleModalCenter">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div id="bidsTab" class="tab-pane fade">
				<div class="table-responsive boxDiv mt-3">
					<table class="table table-striped tableStyles text-center">
					  <thead>
						<tr class="mainBGcolor wColor">
							<th class="fs18 fw600 text-left">Countries</th>
							<th>CPM</th>
							<th>CPC</th>
							<th>CPV</th>
							<th class="text-left">
								<a href="#" class="primaryBtn brwColor float-right wColor font-weight-normal"><i class="icon-6 fs16 fw600"></i> New bid range</a>
							</th>
						</tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td class="text-left">India</td>
							  <td>₹200 - ₹20,000</td>
							  <td>₹2 - ₹20</td>
							  <td>₹2 - ₹20</td>
							  <td width="20%"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td class="text-left">India</td>
							  <td>₹200 - ₹20,000</td>
							  <td>₹2 - ₹20</td>
							  <td>₹2 - ₹20</td>
							  <td width="20%"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td class="text-left">India</td>
							  <td>₹200 - ₹20,000</td>
							  <td>₹2 - ₹20</td>
							  <td>₹2 - ₹20</td>
							  <td width="20%"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td class="text-left">India</td>
							  <td>₹200 - ₹20,000</td>
							  <td>₹2 - ₹20</td>
							  <td>₹2 - ₹20</td>
							  <td width="20%"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td class="text-left">India</td>
							  <td>₹200 - ₹20,000</td>
							  <td>₹2 - ₹20</td>
							  <td>₹2 - ₹20</td>
							  <td width="20%"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td class="text-left">India</td>
							  <td>₹200 - ₹20,000</td>
							  <td>₹2 - ₹20</td>
							  <td>₹2 - ₹20</td>
							  <td width="20%"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td class="text-left">India</td>
							  <td>₹200 - ₹20,000</td>
							  <td>₹2 - ₹20</td>
							  <td>₹2 - ₹20</td>
							  <td width="20%"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
						  <tr>
							  <td class="text-left">India</td>
							  <td>₹200 - ₹20,000</td>
							  <td>₹2 - ₹20</td>
							  <td>₹2 - ₹20</td>
							  <td width="20%"><a href="#" class="mainColor tdu mr-3">Edit</a> <a href="#" class="mainColor tdu">Remove</a></td>
						  </tr>
					  </tbody>
				</table>
				</div>

				<div class="boxDiv ovi mb-3 mt-3 w-75">
					<div class="mainBGcolor brrTL4TR4 w-100 p-2 clearfix">
						<div class="row">
							<div class="col-md-4 mt-2">
								<a href="#" class="wColor ttu fs14">
									<i class="icon-49 fs14 fw600"></i> Back
								</a>
							</div>
							<div class="col-md-8">
								<h5 class="fs20 fw600 wColor float-left mt-1 pl-2">Add a new bid range</h5>
							</div>
						</div>
					</div>
					<div class="p-4">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label formLabel">Country</label>
									<div class="col-sm-8 selectWrapper selectWrapper2">
										<select class="inputBox">
											<option>Select a Country</option>
											<option>India</option>
											<option>USA</option>
											<option>UK</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label formLabel">Currency</label>
									<div class="col-sm-8 selectWrapper selectWrapper2">
										<select class="inputBox">
											<option>Select a Currency</option>
											<option>INR</option>
											<option>USD</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label formLabel">Bid Range</label>
									<div class="col-sm-8">
										<div class="form-group row">
											<label class="col-sm-2 col-form-label formLabel">CPM</label>
											<div class="col-sm-10">
												<div class="row">
													<div class="col-sm-5"><input type="text" class="inputBox" id="" placeholder="$"></div>
													<div class="col-sm-2"><p class="mt-2">-</p></div>
													<div class="col-sm-5"><input type="text" class="inputBox" id="" placeholder="$"></div>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label formLabel">CPC</label>
											<div class="col-sm-10">
												<div class="row">
													<div class="col-sm-5"><input type="text" class="inputBox" id="" placeholder="$"></div>
													<div class="col-sm-2"><p class="mt-2">-</p></div>
													<div class="col-sm-5"><input type="text" class="inputBox" id="" placeholder="$"></div>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label formLabel">CPV</label>
											<div class="col-sm-10">
												<div class="row">
													<div class="col-sm-5"><input type="text" class="inputBox" id="" placeholder="$"></div>
													<div class="col-sm-2"><p class="mt-2">-</p></div>
													<div class="col-sm-5"><input type="text" class="inputBox" id="" placeholder="$"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group mt-3 clearfix">
							<button class="primaryBtn mainColor mainBordercolr float-right" data-toggle="modal" data-target="#exampleModalCenter">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div id="UsersTab" class="tab-pane fade">
				<div class="boxDiv mb-5 mt-3 ovi">
					<div class="mainBGcolor w-100 p-2 brrTL4TR4">
						<h5 class="fs20 fw600 wColor mt-1 pl-2">Add new user</h5>
					</div>
					<div class="p-4">
						<p class="fs15">Everyone who works on your brands can have a different role depending on what they need to work on.</p>

						<div class="mt-4">
							<div class="row">
								<div class="col-md-8">
									<div class="br1 brCColor brr4">
										<div class="row">
											<div class="col-md-8">
												<input class="inputBox br0 focus col-7 pt-3 pb-3" type="text" placeholder="Enter email address">
											</div>
											<div class="col-md-4 adminUssersTab">
												<i class="icon-47 downArrow grColor"></i>
											  	<select class="boxSelect br0" multiple="multiple" style="display: none;">
													<option value="AL">All Access</option>
													<option value="AK">Payments</option>
													<option value="AZ">Analytics</option>
													<option value="AZ">User Management</option>
											  	</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="clearfix">
										<button class="primaryBtn mainColor mainBordercolr float-right">Add User</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="mainBGcolor w-100 p-2 brr4">
					<h5 class="fs20 fw600 wColor mt-1 pl-2">Existing users </h5>
				</div>
				<div id="accordion">
					<div class="row mt-2">
						<div class="col-md-6">
							<div class="card expandColaps mt-3 boxDiv">
								<div class="card-header p-0 br0" id="heading1">
									<table class="table tableStyles">
										<thead>
											<tr class="fffBG">
												<th class="br0"> <div class="mainBGcolor rounded-circle p-4"></div></th>
												<th class="br0" width="45%">Christoph Niemann</th>
												<th class="br0"><a href="#" class="mainColor tdu mr-3">Edit</a></th>
												<th class="br0"><a href="#" class="mainColor tdu mr-3">Remove</a></th>
												<th class="br0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><i class="icon-48 grColor fs20 pl-2 float-right mt-1"></i></button>
												</th>
											</tr>
										</thead>
									</table>
								</div>
								<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
								  <div class="card-body p-0">
									<table class="table tableStyles brr0">
									<tbody>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Payment <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Analytics <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Support <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
									</tbody>
								</table>
								  </div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card expandColaps mt-3 boxDiv">
								<div class="card-header p-0 br0" id="heading2">
									<table class="table tableStyles">
										<thead>
											<tr class="fffBG">
												<th class="br0"> <div class="mainBGcolor rounded-circle p-4"></div></th>
												<th class="br0" width="45%">Randolph Correia</th>
												<th class="br0"><a href="#" class="mainColor tdu mr-3">Edit</a></th>
												<th class="br0"><a href="#" class="mainColor tdu mr-3">Remove</a></th>
												<th class="br0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><i class="icon-48 grColor fs20 pl-2 float-right mt-1"></i></button>
												</th>
											</tr>
										</thead>
									</table>
								</div>
								<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
								  <div class="card-body p-0">
									<table class="table tableStyles brr0">
									<tbody>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Payment <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Analytics <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Support <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
									</tbody>
								</table>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-6">
							<div class="card expandColaps mt-3 boxDiv">
								<div class="card-header p-0 br0" id="heading3">
									<table class="table tableStyles">
										<thead>
											<tr class="fffBG">
												<th class="br0"> <div class="mainBGcolor rounded-circle p-4"></div></th>
												<th class="br0" width="45%">Diana King</th>
												<th class="br0"><a href="#" class="mainColor tdu mr-3">Edit</a></th>
												<th class="br0"><a href="#" class="mainColor tdu mr-3">Remove</a></th>
												<th class="br0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3"><i class="icon-48 grColor fs20 pl-2 float-right mt-1"></i></button>
												</th>
											</tr>
										</thead>
									</table>
								</div>
								<div id="collapse3" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
								  <div class="card-body p-0">
									<table class="table tableStyles brr0">
									<tbody>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Payment <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Analytics <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Support <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
									</tbody>
								</table>
								  </div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card expandColaps mt-3 boxDiv">
								<div class="card-header p-0 br0" id="heading4">
									<table class="table tableStyles">
										<thead>
											<tr class="fffBG">
												<th class="br0"> <div class="mainBGcolor rounded-circle p-4"></div></th>
												<th class="br0" width="45%">Shruti Iyer</th>
												<th class="br0"><a href="#" class="mainColor tdu mr-3">Edit</a></th>
												<th class="br0"><a href="#" class="mainColor tdu mr-3">Remove</a></th>
												<th class="br0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4"><i class="icon-48 grColor fs20 pl-2 float-right mt-1"></i></button>
												</th>
											</tr>
										</thead>
									</table>
								</div>
								<div id="collapse4" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
								  <div class="card-body p-0">
									<table class="table tableStyles brr0">
									<tbody>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Payment <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Analytics <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
										<tr>
											<td width="13%">&nbsp;</td>
											<td colspan="3">Support <i class="icon-16 fs14 grColor"></i></td>
											<td align="right"><a href="#" class="mr-3"><i class="icon-26 fs18 mainColor fw"></i></a></td>
										</tr>
									</tbody>
								</table>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>-->
		</div>
	</div>
</div>