<div class="bodyBg">
  <div class="mainDiv container" [ngClass]="{'advertiserDiv': this.router.url === advertiserURL, 
  'publisherDiv':this.router.url === publisherURL}">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <div *ngIf="router.url === advertiserURL">
            <a href="http://doceree.com/"><img src="./assets/images/logo1.png" width="234" height="66" alt="" /></a>
          </div>
          <div *ngIf="router.url === publisherURL">
            <a href="http://doceree.com/publisher/"><img src="./assets/images/logo2.png" width="234" height="66"
                alt="" /></a>
          </div>
          <nav class="navbar navbar-default togleMenu">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed toggleBtn" data-toggle="collapse"
                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <img src="./assets/images/togleIcon.jpg" width="34" height="23" alt="" />
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse menuExpand" aria-expanded="false" style="height: 1px;">
              <ul class="nav navbar-nav">
                <li><a href="http://doceree.com/">Home</a></li>
                <li><a href="http://doceree.com/about-doceree/">About Doceree</a></li>
                <li><a href="http://doceree.com/espyian/">About ESPYIANTM</a></li>
                <li><a href="http://doceree.com/features/">Features</a></li>
                <li> <a href="http://doceree.com/faq/">FAQs</a></li>
                <!-- <li><a href="#">Contact Us</a></li> -->
                <li><a href="http://doceree.com/careers/">Careers</a></li>
                <li><a href="http://doceree.com/blog/">Blog</a></li>
                <!--<li> <a href="#">Terms & Conditions</a></li> -->
                <!-- <li><a href="#">Privacy Policy</a></li> -->
                <!-- <li><a href="#">Disclaimer</a></li> -->
              </ul>
            </div>
          </nav>
        </div>

        <div class="registrationForm">
          <h3 class="h3">REGISTRATION SUCCESSFUL</h3>
          <h1 class="h1">Unlock the Power</h1>
          <p class="mt-4">An email with instructions to activate your account has been sent to your email address.</p>
        </div>

        <footer class="rlFooter">
          <div class="clearfix">
            <a href="http://doceree.com/">Home</a>
            <a href="http://doceree.com/about-doceree/">About Doceree</a>
            <a href="http://doceree.com/espyian/">About ESPYIANTM</a>
            <a href="http://doceree.com/features/">Features</a>
            <a href="http://doceree.com/faq/">FAQs</a>
            <!-- <a href="#">Contact Us</a> -->
            <a href="http://doceree.com/careers/">Careers</a>
            <a href="http://doceree.com/blog/">Blog</a>
            <!-- a href="#">Terms & Conditions</a> -->
            <!--<a href="#">Privacy Policy</a> -->
            <!-- <a href="#">Disclaimer</a> -->
          </div>

          <p class="mt-3">Copyright 2020 | Doceree Inc.</p>
        </footer>
      </div>
      <div class="col-md-6" *ngIf="router.url === advertiserURL">
        <img src="./assets/images/laptop.jpg" style="width:80%; height:100%" alt="" />
      </div>
      <div class="col-md-6" *ngIf="router.url === publisherURL">
        <img src="./assets/images/publisher_laptop.png" style="width:80%; height:100%" alt="" />
      </div>
    </div>
  </div>
</div>