<div class="pt-3 pb-2 mb-4">
  <h1 class="h2 mb-2">Manage payments</h1>
  <h6 class="h6">Add or edit existing payment methods and view your payment history</h6>
</div>

<div class="br2 brr4 brCColor">
  <table class="table">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Campaign</th>
        <th class="text-right">AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hero Banner</td>
        <td>1056 x 281</td>
        <td align="right">₹25,400</td>
      </tr>
      <tr class="eeeBG">
        <td>Lrec footer</td>
        <td>253 x 128</td>
        <td align="right">₹32,400</td>
      </tr>
      <tr>
        <td colspan="3" class="p-0">
          <hr>
        </td>
      </tr>
      <tr class="eeeBG">
        <td colspan="2">&nbsp;</td>
        <td>Sub-total <span class="float-right">₹57,800</span></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td>Taxes <span class="float-right">₹5,780</span></td>
      </tr>
      <tr class="eeeBG">
        <td colspan="2">Paid to: <strong>30007</strong></td>
        <td><strong>Total</strong> <span class="float-right"><strong>₹63,580</strong></span></td>
      </tr>
    </tbody>
  </table>
</div>