<div class="pt-3 pb-2 mb-4">
  <h1 class="h2 mb-2">Advertisers</h1>
  <h6 class="h6">An overview of all your advertisers in one place</h6>
</div>

<div class="row">
  <div class="col-8 col-md-5">
    <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
		<div class="col-sm-12">
		  <div class="row">
			<div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
			<input class="br0 focus col-8 pt-3 pb-3" type="text" (keyup)="searchAdvertiser(name.value);"
			  name="advertiser" #name placeholder="Type a Advertiser name...">
			<button (click)="searchAdvertiser(name.value);" type="button"
			  class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
		  </div>
    	</div>
	</div>	
  </div>
 
</div>

<div class="table-responsive boxDiv">
  <div class="mainBGcolor w-100 p-2 clearfix">
    <h5 class="fs16 wColor float-left m68">Top Advertisers</h5>
    <a href="javascript: void(0)" routerLink = "/admin/dashboard" class="primaryBtn brwColor float-right wColor font-weight-normal">Back</a>
  </div>
  <table class="table table-striped tableStyles" mat-table [dataSource]="topAdvertisersList" multiTemplateDataRows matSort (matSortChange)="sortTopAdvertisers($event)">
    <ng-container matColumnDef="Advertiser">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Advertiser">Advertiser</th>
      <td mat-cell *matCellDef="let element"> {{element.advertiser}} </td>
    </ng-container>
    <ng-container matColumnDef="Spends">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Spends"> Spends</th>
      <td mat-cell *matCellDef="let element"> ${{ element.totalAmount | number : '1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="Active campaigns">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Active campaigns" > Active Campaigns</th>
      <td mat-cell *matCellDef="let element"  class="gColor"> 
        {{ element.activeCampaigns}} 
      </td>
    </ng-container>
    <ng-container matColumnDef="This Week">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="This Week" > This Week</th>
      <td mat-cell *matCellDef="let element"  class="gColor"> 
        {{ element.thisWeek | number : '1.2-2' }}%
      </td>
    </ng-container>
    <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="topAdvColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: topAdvColumns;"></tr>
</table>
</div>