<div class="bodyBg">
  <div class="mainDiv container advertiserDiv">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-10">
          <div class="reglogo">
            <div>
              <a target="_blank" href="http://doceree.com/">
                <img src="./assets/images/logo2.png" width="242" height="59" alt="" />
              </a>
            </div>
            
          </div>
          <div *ngIf="tokenType !== 'addUser'">
            <div class="registrationForm" *ngIf="isTokenValid">
              <h3 class="h4">ACCOUNT ACTIVATED</h3>
              <h1 class="h3">You are almost there​</h1>
              <p>
                Your account is now active and ready to start working. Click the button below to login.
              </p>
              <div>
                <a href="/login" class="btn mainBGcolor regloginBtl mt-4 wColor">Login</a>
              </div>
            </div>
            <div class="registrationForm" *ngIf="!isTokenValid">
              <!-- <h3 class="h4">UNKNOWN ERROR OCCURED</h3> -->
              <h1 class="h2">Unlock the Power</h1>
              <p>{{errorMessage}}</p>
              <div>
                <a href="/login" class="btn mainBGcolor regloginBtl mt-4 wColor">Go to login</a>
              </div>
            </div>
          </div>
          <div *ngIf="tokenType === 'addUser'">
            <div class="registrationForm" *ngIf="isTokenValid">
              <div *ngIf="!formSubmitSuccess">
                <h3 class="h4">GET STARTED</h3>
                <h1 class="h2">Unlock the Power</h1>
                <p class="mt-4">Fill in your details to get instant access.</p>
                <form [formGroup]="activateUserForm" (ngSubmit)="updatePwd()">
                  <div class="invalidfeedback" *ngIf="formErrorMsg">
                    {{ formErrorMsg }}
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="invalidfeedback" *ngIf="submitted && activateUserForm.controls['email'].hasError('pattern')">
                        Enter a valid email address
                      </div>
                      <div class="invalidfeedback" *ngIf="submitted && activateUserForm.controls['email'].hasError('required')">
                        Email address is required
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="invalidfeedback" *ngIf="submitted && activateUserForm.controls['password'].hasError('required')">
                        Password is required
                      </div>
                      <div class="invalidfeedback" *ngIf="submitted && activateUserForm.controls['password'].hasError('minlength')">
                        Password must be at least 8 characters
                      </div>
                      <div class="invalidfeedback" *ngIf="submitted && activateUserForm.controls['password'].hasError('minlength')">
                        Password should contain uppercase, lowercase, numbers and special characters
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="text" formControlName="email" class="form-control logininputBox mb-1 form-control_bg_tr" placeholder="Email Address" name="email" [attr.disabled]="true">
                    </div>
                    <div class="col-sm-6">
                      <input type="password" formControlName="password" class="form-control logininputBox mb-1 form-control_bg_tr" placeholder="Password" name="pswd" [type]="pwdHide ? 'password' : 'text'" minlength="8">
                      <mat-icon matSuffix (click)="pwdHide = !pwdHide" style="float:right; margin:-34px 10px -34px 0;">{{pwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                  </div>
                  <p class="mb-0">
                    <app-password-strength-bar [passwordToCheck]="activateUserForm.controls['password'].value" [barLabel]="barLabel"></app-password-strength-bar>
                  </p>
                  <div class="row mb-2">
                    <label class="col-form-label formLabel pwds">Type of user:</label>
                    <div class="mr-2 ml-2">
                      <input id="advertiser" type="radio" value="advertiser" name="userType" formControlName="userType" [attr.disabled]="true">
                      <label class="col-form-label formLabel" style="font-size: 14px !important; margin-left: 10px; font-weight: 500;"
                      for="advertiser">Advertiser</label>
                    </div>
                    <div>
                      <input id="publisher" type="radio" value="publisher" name="userType" formControlName="userType" [attr.disabled]="true">
                      <label class="col-form-label formLabel" style="font-size: 14px !important; margin-left: 10px; font-weight: 500;"
                      for="publisher">Publisher</label>
                    </div>
                  </div>
                  <!-- Captch Component starts here-->
                  <!-- <p class="mb-0">Enter Captcha</p> -->
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="text" formControlName="captchaInput" class="form-control logininputBox form-control_bg_tr" placeholder="Please enter captcha here!" />
                    </div>
                    <div class="col-sm-6">
                      <app-captcha-comp (captchatxt)="getCaptchaValue($event)"></app-captcha-comp>
                    </div>
                  </div>
                  <button type="submit" class="btn mainBGcolor regloginBtl" [disabled]="captchaValue != activateUserForm.controls['captchaInput'].value || !activateUserForm.valid">
                    Go to Doceree
                  </button>
                  <h6 class="h6 mt-2">Already have an account? <a href="./login">Click here to login.</a></h6>
                </form>
              </div>
              <div *ngIf="formSubmitSuccess">
                <h3 class="h4">ACCOUNT ACTIVATED</h3>
                <h1 class="h2">Unlock the Power</h1>
                <p class="mt-4 mb-2">
                  Your account is now active and ready to start transacting. Click the button below to login.
                </p>
                <div>
                  <a href="/login" class="btn mainBGcolor regloginBtl mt-4 wColor">Go to login</a>
                </div>
              </div>
            </div>
            <div class="registrationForm" *ngIf="!isTokenValid">
              <!-- <h3 class="h4">UNKNOWN ERROR OCCURED</h3> -->
              <h1 class="h2">Unlock the Power</h1>
              <p class="mt-4 mb-2">{{errorMessage}}</p>
              <div>
                <a href="/login" class="btn mainBGcolor regloginBtl mt-4 wColor">Go to login</a>
              </div>
            </div>
          </div>    </div>  
        </div>
        <footer class="rlFooter">
          <div class="clearfix">
            <a target="_blank" href="https://doceree.com/">Home</a>
            <a target="_blank" href="https://doceree.com/about-us/">About us</a>  
            <a target="_blank" href="https://doceree.com/media-agencies/">Media Agencies</a>
            <a target="_blank" href="https://doceree.com/brands/">Brands</a>
            <a target="_blank" href="https://doceree.com/publishers/">Publishers</a>
            <a target="_blank" href="https://doceree.com/how-it-works/">How it works</a>
            <a target="_blank" href="https://doceree.com/blog/">Blog</a>
            <a target="_blank" href="https://support.doceree.com/hc/en-us">FAQs</a>
          </div>
          <p>Copyright 2020 | Doceree Inc.</p>
        </footer>
     
      <div class="col-md-6 mt-3">
        <img src="./assets/images/laptop-1.png" style="width:82.6%; height:100%" alt="" class="lapImg" />
      </div>
    </div>
  </div>
</div>
