<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img alt="Doceree Logo" src="assets/DocereeIcon.PNG" /></span>
    <span class="spacer"></span>
    <a class="mat-button mr-1" color="title-headline" href="/register">Sign Up</a>
    | <a class="ml-1 mat-button" href="/login">Log In</a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="pt-1">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-6 offset-sm-3">
        <mat-card>
          <mat-card-content>
            <div class="alert-success" role="alert" *ngIf="status===true && message && !user ">
              <mat-icon class="pt-2" *ngIf="message">done</mat-icon> {{ message }}
            </div>
            <div class="alert-danger" role="alert" *ngIf="status===false && message">
              <mat-icon class="pt-2" *ngIf="message">error</mat-icon> {{ message }}
            </div>
            <form *ngIf="!submitted && status===true && user" [formGroup]="activateUserForm"
              (ngSubmit)="updateUser()" class="form">
              <div class="form-group" *ngIf="!user.hasPersonalProfile">
                <mat-form-field appearance="outline" class="form-element">
                  <mat-label>Firstname</mat-label>
                  <input matInput formControlName="firstName" placeholder="First Name" required />
                  <mat-error *ngIf="activateUserForm.controls['firstName'].hasError('required')">
                    Firstname is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-element">
                  <mat-label>Lastname</mat-label>
                  <input matInput formControlName="lastName" placeholder="Last Name" required />
                  <mat-error *ngIf="activateUserForm.controls['lastName'].hasError('required')">
                    Lastname is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group" *ngIf="!user.hasPassword">
                <mat-form-field appearance="outline" class="form-element">
                  <mat-label>New Password</mat-label>
                  <input matInput formControlName="password" placeholder="Password" minlength="6" maxlength="26"
                    required [type]="hide ? 'password' : 'text'" />
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="activateUserForm.controls['password'].hasError('required')">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="activateUserForm.controls['password'].hasError('minlength')">
                    Password must be at least 6 characters
                  </mat-error>
                  <mat-error *ngIf="activateUserForm.controls['password'].hasError('validPassword')">
                    Password should contain uppercase, lowercase, numbers and special characters(!@#$&_)
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-element">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="confirmPassword" placeholder="Confirm Password" minlength="6"
                    maxlength="26" required [type]="confirmHide ? 'password' : 'text'" />
                  <mat-icon matSuffix (click)="confirmHide = !confirmHide">
                    {{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="activateUserForm.controls['confirmPassword'].hasError('required')">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="activateUserForm.controls['confirmPassword'].hasError('minlength')">
                    Password must be at least 6 characters
                  </mat-error>
                  <mat-error *ngIf="activateUserForm.controls['confirmPassword'].hasError('validPassword')">
                    Password should contain uppercase, lowercase, numbers and special characters(!@#$&_)
                  </mat-error>
                  <mat-error *ngIf="activateUserForm.controls['confirmPassword'].hasError('mustMatch')">
                    Passwords must match
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-divider *ngIf="!user.hasSecurityQuestions"></mat-divider>
              <div class="form-group" *ngIf="!user.hasSecurityQuestions">
                <mat-select formControlName="securityQuestion1" placeholder="Select security question 1">
                  <mat-option *ngFor="let question of security_questions" [value]="question">
                    {{question}}
                  </mat-option>
                </mat-select>
                <mat-form-field>
                  <input matInput formControlName="securityAnswer1" placeholder="Security Answer">
                  <mat-error *ngIf="activateUserForm.controls['securityAnswer1'].hasError('required')">
                    Security question 1 is required
                  </mat-error>
                </mat-form-field>
                <mat-select formControlName="securityQuestion2" placeholder="Select security question 2">
                  <mat-option *ngFor="let question of security_questions" [value]="question">
                    {{question}}
                  </mat-option>
                </mat-select>
                <mat-form-field>
                  <input matInput formControlName="securityAnswer2" placeholder="Security Answer">
                  <mat-error *ngIf="activateUserForm.controls['securityAnswer2'].hasError('required')">
                    Security question 2 is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row" *ngIf='!user.hasSecurityQuestions || !user.hasPassword || !user.hasPersonalProfile'>
                <div class="col-sm-8"><button mat-raised-button class="btn btn-primary" type="submit">
                    Submit
                  </button>
                </div>
              </div>
            </form>
            <!--<div class="alert-success" role="alert" *ngIf="status===true && profileSetUp === false">
              <mat-icon class="pt-2" *ngIf="message">done</mat-icon> {{ message }}
            </div>
            <div class="alert-danger" role="alert" *ngIf="status===false">
              <mat-icon class="pt-2" *ngIf="message">error</mat-icon> {{ message }}
            </div> -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
