@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb 	{ background-color: #4086ff!important;}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar 	{ background-color: rgba(123, 122, 245, 0.54)!important;}
@font-face 												{ font-family:'Material Icons'; font-style:normal; font-weight:400;
  src: url(https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');}
.material-icons 										{ font-family:'Material Icons'; font-weight:normal; font-style:normal; font-size:24px;
														  line-height:1;letter-spacing:normal; text-transform:none; display:inline-block;
														  white-space:nowrap; word-wrap:normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased;}

/********** Start Here Default CSS **********/

HTML, BODY 										{ border:0; margin:0; padding:0 ; background:#f4f4f4!important;
												  font:100%/100.1% 'Work Sans', sans-serif!important; height:100%;}
H1, H2, H3, H4, H5, H6, DIV, FORM, P, UL, OL 	{ margin:0; padding:0; font-weight:normal;}
.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6                          { margin-bottom:0!important;}
p 												{ font:13px 'Work Sans'; color:#333; margin:0 0 12px 0!important;}
th, td											{ vertical-align: middle!important;}
img 											{ border:0;}
li 												{ list-style-type:none;}
a 												{ color:#333!important; text-decoration:none; outline:0 none; cursor:pointer;}
a:hover 										{ text-decoration:none!important; color:#000}
.fs7 											{ font-size:7px!important;}
.fs8 											{ font-size:8px!important;}
.fs9 											{ font-size:9px!important;}
.fs10 											{ font-size:10px!important;}
.fs11 											{ font-size:11px!important;}
.fs12 											{ font-size:12px!important;}
.fs13 											{ font-size:13px!important;}
.fs14 											{ font-size:14px!important;}
.fs15 											{ font-size:15px!important;}
.fs16 											{ font-size:16px!important;}
.fs18 											{ font-size:18px!important;}
.fs20 											{ font-size:20px!important;}
.fs22 											{ font-size:22px!important;}
.fs24 											{ font-size:24px!important;}
.fs26 											{ font-size:26px!important;}
.fs28 											{ font-size:28px!important;}
.fs30 											{ font-size:30px!important;}
.fs32 											{ font-size:32px!important;}
.fs40 											{ font-size:40px!important;}
.fs80 											{ font-size:80px!important;}
.lh24											{ line-height:24px!important;}
.lh25											{ line-height:25px!important;}
.lh26											{ line-height:26px!important;}
.lh16											{ line-height:16px!important;}
.lh36											{ line-height:36px!important;}
.fw												{ font-weight:bold!important;}
.fwn										    { font-weight:normal !important;}
.lineheight                                     { line-height: 16px !important;}
.fw600											{ font-weight:600!important;}
.ml50											{ margin-left:50%!important;}
.ttu 											{ text-transform:uppercase;}
/*.tdu											{ text-decoration:underline!important;}*/
.tac 											{ text-align:center; display:block!important;}
.tar 											{ text-align:right!important;}
.tal 											{ text-align:left!important;}
.mauto 											{ margin:0 auto;}
.ul												{ list-style-type:disc!important;}
.ovi											{ overflow:inherit!important;}
.ovh											{ overflow:hidden!important;}
.clear 											{ clear:both !important;}
.cPointer										{ cursor:pointer!important}
.op1											{ opacity:0.1!important;}
.op2											{ opacity:0.2!important;}
.op4											{ opacity:0.4!important;}
.op5											{ opacity:0.5!important;}
.op6											{ opacity:0.6!important;}
.op7											{ opacity:0.7!important;}
.dNone1											{ display:none!important;}
.dBlock1										{ display:block!important;}
.bColor											{ color:#000!important;}
.bluColor										{ color:#1badbb!important;}
.gColor											{ color:#1ccc7b!important;}
.lgColor										{ color:#aed82e!important;}
.wColor											{ color:#fff!important;}
.wdColor	                                    { color:#eaeaea!important;}
.rColor											{ color:#ea736b!important;}
.oColor											{ color:#ff9200!important;}
.grColor										{ color:#bcbcbc!important;}
.grDColor                                       { color:#6b6b6b!important;}
.bgGColor										{ background:#73c06a!important;}
.bgRColor										{ background:#f27670!important;}
.bgGRColor										{ background:#ccc!important;}
.bgLGRColor										{ background:#f9f9f9!important;}
.bgLGRColor_2								    { background:#f4f4f4!important;}
.eeeBG											{ background:#eee!important;}
.fffBG											{ background:#fff!important;}
.bgNone											{ background:transparent!important}
.bgNone:hover									{ background:transparent!important}
.br0                	                        { border:none!important;}
.br1                	                        { border-width:1px!important; border-style:solid!important;}
.brl1                	                        { border-left-width:1px!important; border-left-style:solid!important;}
.brr1                	                        { border-right-width:1px!important; border-right-style:solid!important;}
.br2                	                        { border-width:2px!important; border-style:solid!important;}
.brwColor										{ border-color:#fff!important}
.brCColor										{ border-color:#ccc!important}
.brr4											{ border-radius:4px!important;}
.brt0											{ border-top:0px!important;}
.brb0											{ border-bottom:0px!important;}
.brrTL4TR4										{ border-radius:4px 4px 0 0!important;}
.brr0											{ border-radius:0!important;}
.h1												{ font-size:40px; font-weight:800; margin:0 0 10px 0;}
.h2												{ font-size:28px!important; font-weight:600!important; margin:0!important;}
.h3												{ font-size:25px; font-weight:700; margin:0;}
.h6												{ font-size:12px!important;}
:focus, .focus									{ box-shadow:0 0 0 0 rgba(0,123,255,.25)!important; outline:0!important; }
.boxshadowNone                                  { box-shadow:none!important}
::placeholder 									{ color:#ccc;}
.success-snackbar 								{ background:green;}
.error-snackbar 								{ background:red;}
.mh30											{ min-height:45px;}
.ml88                                           { margin-left:88px!important;}
.bgpr											{ padding:1px 3px; border-radius:5px}
.bgpr1											{ padding:3px 3px; border-radius:4px}
.p1015                                          { padding:10px}
.p1                                             { padding:1px}
.p815                                           { padding:6px 10px}
.mt3                                            { margin-top:3px}
.mt2                                            { margin-top:2px}
.mtb40                                          { margin-top:40px; margin-bottom:40px}
.ml15                                           { margin-left:15px;}
.mb40                                           { margin-bottom:27px!important}

.mb17                                           { margin-bottom:17px!important}
.mb12                                           { margin-bottom:12px!important}
.mb19                                           { margin-bottom:19px!important}
.mb22                                           { margin-bottom:22px!important}
.mt40                                           { margin-top:40px!important}
.mt10                                           { margin-top:10px!important}
.mb30                                           { margin-bottom:30px!important}
.mt30                                           { margin-top:30px!important}
.mt27                                           { margin-top:27px!important}
.mt10                                           { margin-top:10px!important}
.mb10                                           { margin-bottom:10px!important}
.brtrr0                                         {border-top-right-radius: 0px!important;}
.brtlr0                                         {border-top-left-radius: 0px!important;}
.mt9                                            { margin-top: 9px;}
.mt13                                           { margin-top: 13px;} 
.mt14                                           { margin-top: 14px;} 
.mt16                                           { margin-top: 16px;}
.stptb                                          { padding-top: 5.5px; padding-bottom: 5.5px;}
.stptb5                                         { padding-top: 5px; padding-bottom: 5px;}
//h6 { font: normal !important;}


/********** End Here Default CSS **********/



/********** Start Here Common CSS **********/

.fixed-top										{ height:50px;}
.fixedWidth .logo 								{ margin:0; float:left; width:75px; padding:12px 0 15px 0; height:34px; text-align:center;}
.fixedWidth                                     { width:1170px; margin:0 auto;}      
.mainDiv										{ position:relative; min-height:100vh; margin:0; background:#f4f4f4; width:100%}
.mainDiv .bgImg						        	{ position:fixed; right:0; bottom:-15px;}
.topInfoIcons ul                                { float:right;}
.topInfoIcons li								{ float:left; padding:3px 20px; margin:15px 0 0 0; border-left:1px solid rgba(255, 255, 255, 0.3);}
.topInfoIcons li:first-child					{ border:none;}
.topInfoIcons a 								{ position:relative;}
.topInfoIcons a .menuActive						{ background:#fff; border-radius:0 0 100px 100px; width:60px; height:30px; display:inline-block;
												  position:absolute; top:-40px; left:-20px;}
.topInfoIcons a i 								{ font-size:20px; color:#fff;}
.sidebar 										{ padding:0; width:75px!important; float:left; min-height:100vh;}
.sidebar-sticky 								{ position:fixed; top:50px; overflow-x:hidden; overflow-y:auto; width:75px;}
.sidebar .nav-link 								{ font-size:12px; text-align:center; padding:15px 0;border-bottom:1px solid #e0e0e0; 
												  position:relative; line-height:10px; margin:0 6px 0 0; }
.sidebar .nav-link i 							{ font-size:20px; display:block; margin-bottom:8px;}
.sidebar .leftMenuActive						{ opacity:1;}
.sidebar .leftMenuActive i        				{font-size:20px;}
/*.sidebar .leftMenuActive .menuActive			{ background:#999; border-radius:0 100px 100px 0; width:40px; height:80px; display:inline-block; 
												  position:absolute; top:0px; left:-33px;}*/
[role="main"] 									{ padding:50px 45px 0 45px; width:1095px; float:left; position:relative; z-index:9;}
.navbar .form-control 							{ padding:2px 0 0 50px; border-radius:4px; background:rgba(255, 255, 255, 0.12); 
												  border:1px solid #f4f4f4; color:#fff; font-size:13px;}
.navbar .form-control::placeholder				{ color:#fff;}
.searchBar										{ position:relative; margin:12px 0;}
.searchBar .fa-search							{ position:absolute; left:35px; top:11px;}

.boxDiv											{ background:#fff; box-shadow:0px 0px 6px rgba(0, 0, 0, 0.2); border-radius:4px; width:100%;
												  overflow:hidden;}
.formLabel										{ font-size:13px!important; color:#333;}
.inputBox										{ border-radius:4px!important; width:100%!important; border:1.5px solid #eeeeeebd!important; 
												  font-size:12px!important; padding:6px 15px!important; margin:0!important;}
.inputBox_cle									{padding: 7px 15px !important; height: 35px;}
//.adinputBox_cle									{padding:0px !important; height: 35px;}		  

.boxHeading										{ color:#fff; background-image:linear-gradient(to right, #e6e6e6, #bebebe); font-size:15px; 
												  font-weight:500; padding:6px 15px;}
.primaryBtn										{ background:transparent; border:1px solid #ccc; border-radius:100px; padding:4px 16px 3px 16px; 
												  font-size:13px; font-weight:500; cursor:pointer; color:#000; margin:0 5px;}
.stripprimaryBtn								{ background:transparent; border:1px solid #ccc; border-radius:100px; padding:2px 10px 1px 10px; 
													font-size:11px; font-weight:500; cursor:pointer; color:#000; margin:0 5px;}
.primaryBtnstrip-p								{ padding: 2px 10px 1px 10px !important;}																	  
/*.profileForm .inputBox							{ opacity:0.5;}*/
.profileForm .active .inputBox					{ opacity:1}
.profileForm 									{ margin:0; padding:0; width:100%; min-width:300px;}
.profileForm #step3 							{ display:none;}
.profileForm .active .dNone 					{ display:none;}
.profileForm .active .dBlock 					{ display:inline-block!important;}
.profileForm .stepDot 							{ height:10px; width:10px; margin:0; border:none; border-radius:50%; display:inline-block; 
												  z-index:1; position:relative; padding:7px;}
.adminUssersTab .inputBox						{ border:none; box-shadow:inset 0px 0px 0px rgba(0,0,0,.1); border-left:1px solid #ccc; 
												  border-radius:0; padding:16px 15px;}
.stepline										{ background:#ccc; width:50%; height:1px; display:inline-block; position:absolute; top:7px}
.stepline1										{ background:#ccc; width:50%; height:1px; display:inline-block; position:absolute; top:7px}
.customBox 										{ padding:5px 0 0 5px; font-size:12px; color:#ccc; cursor:pointer;}
.customBox a 									{ color:#ccc; text-decoration:underline;}
.customBox::before								{ background:transparent; border:1px solid #ccc!important; width:15px!important;
												  height:15px!important}
.customBox::after								{ width:15px!important; height:15px!important;}
.customcheckbox									{ min-height:1.1rem;}
.tablecustomBox 								{ padding:13px 0 0 0;}
.tablecustomBox::before							{ top:0; left:-10px;}
.tablecustomBox::after							{ top:0; left:-10px;}
.webMobile										{ background:#fff!important; border:1.5px solid #eeeeeebd!important; width:50%; 
												  color:#ccc!important; line-height:28px!important; padding:2px 19px!important; 
                                                  font-size:12px!important;}
.webMobile:hover								{ background:#fff; color:#999;}
.stepsActive 
.webMobile:not(:disabled):not(.disabled).active { background:#fff; color:#6b3ffc!important; width:50%;}
.thanksBg										{background:#efefef; padding:100px 0;}

ul.stepper 										{ padding-left:50px;}
ul.stepper .step								{ position:relative; list-style:none; padding:5px 0;}
ul.stepper .step:not(:last-of-type).active 		{ margin-bottom:1rem}
ul.stepper .step:before 						{ position:absolute; top:1rem; counter-increment:section; content:counter(section); z-index:1; 
												  height:15px; width:15px; background-image:linear-gradient(to right, #e6e6e6, #bebebe); border-radius:100%; text-indent:-30px; overflow:hidden; left:-50px;}
ul.stepper .step.active:before					{ left:-55px;}
ul.stepper .step-title 							{ margin:0; cursor:pointer; display:block; border-radius:4px; width:100%; 
												  box-shadow:0px 0px 6px rgba(0, 0, 0, 0.2);}
ul.stepper .active .step-title					{ border-radius:4px 4px 0 0;}
ul.stepper .step-new-content					{ position:relative; display:none; height:-webkit-calc(100% - 132px); height:calc(100% - 132px); 
												  overflow:visible; padding:30px; border-radius:0 0 4px 4px;}
ul.stepper>.step:not(:last-of-type):after 		{ content:''; position:absolute; top:1.9rem; left:-43px; width:.0625rem; height:100%; 
												  height:-webkit-calc(156% - 38px); height:calc(156% - 38px); background:#ccc; -webkit-transition:all .4s; -o-transition:all .4s; transition:all .4s}
ul.stepper>.step.active:not(:last-child):after 	{ height:100%; height:-webkit-calc(106% - 12px); height:calc(106% - 12px)}
ul.horizontal-fix li a 							{ padding: .84rem 2.14rem; }
.btnTabs .nav-link 								{ border:0.8px solid #ccc; padding:7px 20px; margin-right:15px; font-size:12px; font-weight:500;
												  background: transparent;}
.btnTabs .nav-link span							{ margin-top:6px; display:block;}
.btnTabs .nav-link.active						{ background:none; color:#333;}
.downArrow										{ position:absolute; top:10px; right:8%;}
.adminUssersTab .downArrow						{ top:19px; right:10%;}
.dropdownMenuUl									{ background:#fff; border:1px solid #ccc; border-radius:0 0 4px 4px; top:7px!important;
												  left:-16px!important; width:90.4%!important; padding:10px 15px; z-index:9}
.inputBox .badge								{ border:1px solid #ccc; padding:2px 10px!important; border-radius:100px; font-size:14px!important;
												  font-weight:normal!important;}
.inputBox .badge .close							{ font-weight:normal; opacity:1; line-height:inherit!important; margin-left:6px;}
.copyCode										{ border:none; width:100%; padding:6px 15px; border-radius:0 0 4px 4px; margin-top:-2px;}
.progress										{ border-radius:100px; height:22px;}
.progress-bar									{ border-radius:100px;}
.newAssets .bannerBoxes							{ border:0.8px solid #ccc; border-radius:4px; padding:0; min-height:98px;}
.newAssets .prl_mtb								{ padding-right:5px; padding-left:5px; margin-top:5px; margin-bottom:5px;}
.newAssets .bannerBoxes span 					{ display:block; margin:0 auto 8px;}
.newAssets .bannerBoxes small 					{ display:block; font-size:10px;}
.newAssets .bannerBoxes .min40px				{ min-height:40px;}
.selectWrapper 									{ background:url("./assets/images/arrowD.png") 90% 45% no-repeat; background-size:12px 7px;
												  width:100%; overflow:hidden; position:relative;}
.selectWrapper1 								{ background:url("./assets/images/arrowD.png") 94% 56% no-repeat; background-size:12px 7px;}
.selectWrapper2 								{ background:url("./assets/images/arrowD.png") 91% 56% no-repeat; background-size:12px 7px;}
.selectWrapper select 							{ background:transparent; background-image:none; -webkit-appearance:none; cursor:pointer;
												  -moz-appearance:none;}
.tableStyles									{ border-radius:4px; overflow:hidden; margin-bottom:0!important;}
.tableStyles td				                    { border:none!important; font:normal 12px 'Work Sans', sans-serif!important; color:#000;
												  padding:7px!important;}
.tableStyles th 								{ font:600 12px 'Work Sans', sans-serif!important; padding:10px 7px!important}
.tableTableStyles th 							{ border-bottom:none!important;}
.tableTableStyles td							{ border-top:1px solid #ccc; font-weight:normal;}
.tableStyles tbody tr:nth-of-type(odd)			{ background:#f9f7f7!important;}
.devploper-share .tableStyles tbody tr:nth-of-type(odd){ background:#fff !important; }
.devploper-share .mat-radio-outer-circle        {border-width: 1px !important;}
.devploper-share label                          { margin-bottom: -2px !important;}
.devploper-share .mat-radio-outer-circle        { width: 13px !important; height:13px !important; }

.advertiserDiv .mat-radio-outer-circle        {border-width: 1px !important; height:15px; width:15px;border-color: #6b3ffc !important ;}
.advertiserDiv .mat-radio-label-content       {padding-left: 5px; font-size:13px;position: relative;top: -2px;}

//.advertiserDiv .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{border-color: #007bff;}
.mat-radio-button.mat-accent .mat-radio-inner-circle{ background-color: #6b3ffc ; height: 15px; width: 15px;}



.ttableStyle tbody tr:nth-of-type(odd),
.ttableStyle thead tr:nth-of-type(odd) 			{ background:#fff!important;}
.tableStyles tr td.dropdown .dropdown-menu		{ padding:12px 15px 10px; transform:translate3d(-120px, 10px, 0px)!important;}
.gridCampaignsTopDiv .dropdown .dropdown-menu	{ padding:6px 15px 1px; transform:translate3d(-50px, 5px, 0px)!important; width:150px;}
.gridCampaignsTopDiv .dropdown
.dropdown-menu .dropdown-item:hover				{ background:transparent;}
.tableStyles tr td.dropdown
.dropdown-menu .dropdown-item					{ padding:0; line-height:0; text-align:center;}
.tableStyles tr td.dropdown
.dropdown-menu .dropdown-item:hover				{ background:transparent;}
.multiselect-dropdown .dropdown-list			{position: relative!important;}
.dash #accordion .collapsed						{ opacity:0.5;}
.datepicker-days th, .datepicker-days td 		{ padding:8px; text-align:center;}
.datepicker-days .old							{ color:#ccc;}
.datepicker-days .active						{ background:#eee; color:#6b3ffc!important; border-radius:4px; font-weight:bold;}
.datepicker-days .highlighted					{ background:#e9e9e9; color:#999;}
.rightSlide 									{ position:fixed; right:0; top:50px; width:25%; padding:0; height:100%; z-index:9;
												  background-color:#fff; box-shadow:0px 3px 5px rgba(0, 0, 0, 0.2);}
.filterDiv 										{ position:absolute; bottom:10px;}
.tabsStyles										{ border-bottom:1px solid #ccc;}
.tabsStyles .nav-link							{ color:#777; border-bottom:4px solid #f4f4f4}
.tabsStyles .active								{ border-bottom:4px solid #000}

.switchBtn 										{ position:relative; display:inline-block; width:40px; height:8px; margin:5px 0 0 5px;}
.switchBtn input 								{ opacity:0; width:0; height:0;}
.sliderBtn 										{ position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background-color:#ccc;
												  -webkit-transition:.4s; transition:.4s;}
.sliderBtn:before 								{ position:absolute; content:""; height:16px; width:16px; left:0; bottom:-3px; transition:.4s;
												  background-color:#7088ef; -webkit-transition:.4s; box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);}
.sliderBtn1:before								{ background-color:#1badbb;}
.switchBtn input:checked + .sliderBtn 			{ background:#9eaeef;}
.switchBtn input:checked + .sliderBtn:before 	{ -webkit-transform:translateX(25px); -ms-transform:translateX(25px);
												  transform:translateX(25px);}
.sliderBtn.round 								{ border-radius:34px;}
.sliderBtn.round:before 						{ border-radius:50%;}
.gridCampaignsTopDiv							{ min-height:180px; display:grid; vertical-align:middle;}
.btn-link:hover									{ text-decoration:none!important;}
.input-file-container 							{ position:relative; text-align:center;}
.js .input-file-trigger 						{ display:block; padding:60px 0; cursor:pointer; border-radius:4px; border:2px dashed #6b3ffc;}
.js .input-file 								{ position:absolute; top:0; left:0; opacity:0; padding:14px 0; cursor:pointer;}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .file-return:not(:empty):before 			{ content: "Selected file: "; font-style:normal; font-weight:normal; color:#333;}
.expandColaps .card-header .fa					{ position:absolute; right:2%; top:21px; font-size:.875rem;}
[data-toggle="collapse"] .fa:before 			{ content: "\f068";}
[data-toggle="collapse"].collapsed .fa:before 	{ content: "\f067";}

#accordion.accordionDiv .collapsed				{ background-image:linear-gradient(to right, #e6e6e6, #bebebe)!important;}
.accordionDiv .radioBtnActive					{ cursor:pointer; padding:5px 0 0 10px;}
.accordionDiv .radioBtnActive::before			{ border:1px solid #fff; padding:7px; background: transparent;}
.accordionDiv .radioBtnActive::after			{ top:0.36rem; left:-1.40rem; background:#fff; border:1px solid #b260e4; border-radius:50%; 
                                                  width:12px!important; height:12px!important;}
.accordionDiv .collapsed .radioBtnActive::after	{ top:0.40rem; left:-1.40rem; background:#fff; border:1px solid #fff; border-radius:50%}

.incoming_msg_img 								{ display:inline-block; width:6%;}
.received_msg 									{ display:inline-block; padding:0 0 0 10px; vertical-align:top; width:92%;}
.received_withd_msg  							{ background:transparent; border:1.5px solid #eeeeeebd !important; border-radius:3px; color:#646464; font-size:14px; margin:0; width:67%;
	 											  padding:5px 10px 5px 12px;}
.time_date 										{ color:#747474; display:block; font-size:12px; margin:8px 0 0;}
.sent_msg	 									{ background:transparent; border:1.5px solid #eeeeeebd !important;border-radius:3px; font-size:14px; margin:0; color:#fff; width:67%;
	 											  float:right; padding:5px 10px 5px 12px;}
.outgoing_msg									{ overflow:hidden; margin:26px 0 26px;}
.input_msg_write input 							{ background:rgba(0, 0, 0, 0) none repeat scroll 0 0; border:medium none; color:#4c4c4c;
												  font-size:15px; min-height:48px; width:100%;}
.type_msg 										{ border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn 									{ cursor:pointer; position:absolute; right:15px; top:11px;}
.blueBgGradient									{ background:#3f8cfc; background-image:linear-gradient(to right, #3f8cfc, #1badbc) !important;}
.orangeBgGradient								{ background:#faaf40; background-image:linear-gradient(to right, #faaf40, #f37871) !important;}
.parentContainer								{ width:100%; height:100%; background:rgba(255,255,255,0.5); position:fixed; top:0; left:0;
												  z-index:100;}
.overlay										{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.45); z-index:9999; width:100%; 														  height:100%;}
.overlay > .spinner								{ top:40%; left:45%;}
.mat-step-header .mat-step-header-ripple		{ position:inherit!important;}
.mat-vertical-content-container					{ margin-left:13px!important;}
.mat-vertical-content							{ padding-right:2px!important; padding-bottom:15px!important;}
.mainContentDiv									{ margin:0 auto; }
.personalIDCardDiv								{ background:url("./assets/images/profileBg.png") no-repeat; padding:0; margin:0 auto; width:210px; 
                                                  height:118px;}
.personalIDCardDiv1								{ background:url("./assets/images/profileBg1.png") no-repeat;}
.form-group										{ margin-bottom:6px!important}
.mat-error										{ margin-top:3px; display:inline-block;}
.mat-step-header:hover							{ background:transparent!important}
.mat-vertical-content .boxDiv					{ border-radius:0 0 4px 4px;}
.mat-step-icon .ng-star-inserted				{ display:none;}
.multiselect-dropdown
.dropdown-btn .dropdown-down					{ border-top:8px solid #adadad!important; border-left:8px solid transparent!important;
												  border-right:8px solid transparent!important;}
.multiselect-dropdown
.dropdown-btn .selected-item					{ background:transparent!important; color:#000!important; border-radius:100px!important;
												  padding:4px 15px 2px 15px!important}
.multiselect-dropdown
.dropdown-btn .selected-item:hover				{ box-shadow:0px 0px #fff!important;}
.mat-progress-bar-buffer						{ background:#e9ecef!important}
.mat-progress-bar								{ height:14px!important; border-radius:100px!important;}
.multiselect-item-checkbox
input[type=checkbox] + div:before 				{ border-color:#ccc!important; border-radius:4px!important}
.multiselect-item-checkbox
input[type=checkbox]:checked + div:before 		{ border-color:#337ab7!important;}
.mat-checkbox .mat-checkbox-inner-container		{ width:15px!important; height:15px!important;}
.mat-checkbox .mat-checkbox-frame				{ border-color:#ccc!important; border-radius:4px;}

.advertiserDiv .mat-checkbox-checked.mat-accent
.mat-checkbox-background,
.advertiserDiv .mat-checkbox-indeterminate.mat-accent
.mat-checkbox-background						{ background-color:#b260e4 !important; border-radius:4px;}
.mat-stepper-horizontal, .mat-stepper-vertical,
.mat-form-field, .mat-button, .mat-fab, 
.mat-flat-button, .mat-icon-button, 
.mat-mini-fab, .mat-raised-button, 
.mat-stroked-button								{ font-family:'Work Sans', sans-serif!important;}
.graphchartDiv									{ border-top:1px solid #ccc;}
.graphchartDiv p 								{ margin:0!important; padding:15px;}
.graphchartDiv1 p 								{ margin:0!important; padding:10px; float:left;}
.graphchartDiv2 p 								{ margin:0!important; padding:10px 18px; float:left;}
.graphchartDiv .col-sm-2						{ flex: 0 0 20%; max-width:20%;}
.graphchartDiv p strong 						{ margin:0 0 0 15px;}
.graphchartDiv p span 							{ margin-right:10px; width:12px; height:12px; display:inline-block; border-radius:100px; 
                                                  float:left; margin-top:2px;}
.graphchartDiv p .rcolor						{ background:#f58e82;}
.graphchartDiv p .ocolor						{ background:#f88f81;}
.graphchartDiv p .ycolor						{ background:#f3c46e;}
.graphchartDiv p .bcolor						{ background:#73e2fd;}
.graphchartDiv p .wcolor						{ background:#7e8ec7;}
.graphchartDiv p .b1color						{ background:#51c1cc;}
.graphchartDiv p .w1color						{ background:#a8b6dd;}
.graphchartDiv p .engImpcolor					{ background:#ec736b;}
.graphchartDiv p .engReccolor					{ background:#92d8f0;}
.graphchartDiv p .engViewcolor					{ background:#FFCBA4;}
.graphchartDiv p .engClickcolor					{ background:#b4a0cd;}
.graphchartDiv p .resEarncolor					{ background:#5287c6;}
.graphchartDiv p .resCPMcolor					{ background:#78c068;}
.graphchartDiv p .resCTRcolor					{ background:#9a67ab;}
.graphchartDiv p .resCPCcolor					{ background:#f37a6e;}
.graphchartDiv p .resCPVcolor					{ background:#ba7cb6;}
.graphchartDiv p .ovrValidatecolor				{ background:#ac82ba;}
.graphchartDiv p .ovrUnValidatecolor			{ background:#e7d4e7;}

.graphchartDiv p .pubbcolor						{ background:#93d8f0;}
.graphchartDiv p .pubwcolor						{ background:#cba9d0;}
.graphchartDiv p .pubb1color					{ background:#98d6d4;}
.graphchartDiv p .pubb2color					{ background:#7486c2;}
.graphchartDiv p .pubw1color					{ background:#ac82ba;}
.graphchartDiv p .pubb3color					{ background:#84d5f2;}
.graphchartDiv p .pubrcolor					    { background:#f58e82;}
.graphchartDiv p .pubycolor		    			{ background:#f3c46e;}


.selectBoxPayment .mat-form-field-infix			{ padding:10px 15px; width:280px; border:1px solid #ccc; border-radius:4px;
												  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1); }
.graphchartDiv p .spanDots                      { width:12px; height:12px; display:inline-block; border-radius:100px; float:left; margin-top:2px;}
.graphchartDiv p .spendsColor        			{ background:#5287c6;}
.graphchartDiv p .CPMColor     					{ background:#78c068;}
.graphchartDiv p .CTRColor            			{ background:#9a67ab;}
.graphchartDiv p .CPCColor             			{ background:#f37a6e;}

.mat-stepper-horizontal, .mat-stepper-vertical,
.mat-form-field-appearance-legacy
.mat-form-field-underline,
.mat-form-field.mat-form-field-invalid
.mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid
.mat-form-field-ripple.mat-accent				{ background:transparent!important}
.profileForm .mat-form-field-infix				{ border-radius:4px; border:1.5px solid #eeeeeebd; padding:8px 15px; margin:0;
												  font-size:12px; width:243px; font-family:'Work Sans', sans-serif!important;}
.profileForm .mat-form-field-wrapper,
.profileForm .mat-form-field-appearance-outline
.mat-form-field-flex							{ padding:0; margin:0!important;}
.mat-form-field-appearance-outline
.mat-form-field-outline-end,
.mat-form-field-appearance-outline
.mat-form-field-outline-start,
.mat-form-field-appearance-outline
.mat-form-field-outline-gap						{ border:none!important;}
.profileForm .mat-form-field-appearance-outline
.mat-select-arrow-wrapper						{ transform: translateY(10%);}
.mat-form-field-appearance-legacy
.mat-form-field-ripple							{ height:auto!important;}
.mat-form-field-label .ng-star-inserted			{ padding:10px 15px; line-height:24px;}
.profileForm .opDetails .mat-form-field-infix	{ width:220px}
.profileForm .opDetails1 .mat-form-field-infix	{ width:170px; border:none; box-shadow:inset 0px 0 0 rgba(0, 0, 0, .1); border-radius:0;
												  padding:0; top:-4px;}
.opDetails .mat-icon-button 		            { background:url("./assets/images/calImg.png") no-repeat 0px 0!important; border:none;
												  border-radius:0; width:21px!important; height:18px!important; } 
.dateIconNew .dateIcon .mat-icon-button 		{ width:21px!important; height:19px!important; border:none; border-radius:0; float:right;
												  background:url("./assets/images/calImg1.png") no-repeat!important; margin-top:1px;}
.dateIcon .mat-icon-button svg, 
.mat-datepicker-toggle-default-icon             { display:none!important}
.gridview .mat-expansion-panel-body 			{ padding:0px!important; margin:15px 0 0 0!important;}
.paymentTabs .mat-tab-label
.mat-tab-label-content 							{ font:600 14px "Work Sans", sans-serif !important}
.paymentTabs .mat-tab-label						{ opacity:1; min-width:inherit; height:auto; padding-bottom:11px;}
.paymentTabs .mat-ink-bar						{ height:4px; background:#6b3ffc!important;}
.mat-tab-body-content							{ overflow:inherit!important; padding:0;}
.mat-tab-group, .mat-expansion-panel-header,
.mat-checkbox, .mat-card						{ font-family:'Work Sans', sans-serif!important;}
.searchBar .form-control:focus					{ background:transparent!important; border-color:#fff!important; color:#fff!important;}
input:-internal-autofill-selected 				{ background:#fff!important;}
.tagInput										{ padding:2px 10px!important; margin:0 5px 10px 5px!important}
.parentContainer                                { width:100%; height:100%; background:rgba(255,255,255,0.5); position:fixed; top:0; left:0;
                                                  z-index:100;}
.overlay                                        { position:fixed; top:0; left:0; background:rgba(0,0,0,0.45); z-index:9999; width:100%;
                                                  height:100%;}
.overlay > .spinner                             { top:40%; left:45%;}
.bar                                            { fill:steelblue;}
.bar:hover                                      { fill:brown!important;}
.dateInputBox                                   { border:none; background:transparent; width:75px!important; margin:2px 0 0 0!important} 
.mat-select-arrow                               { margin:0!important;}
.locationMap svg g g:nth-child(3)               { display:none!important}
.devicesChat svg                                { width:330px!important; position:relative; left:-30px;}
.noChartData									{ text-align: center;display: block;padding: 105px 0; font-size: 14px;}

.boxDivInner                                    { padding:15px 30px 20px 30px;}
.stepsboxDiv                                    { margin-top:15px!important}
.stepsboxDiv                                    { background:#fff; box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2); border-radius:4px; width:90%; 
                                                  margin:0}
.stepsboxDiv.stepactive                         { width:100%; margin:0; opacity:1!important;}
.stepsboxDiv.op5.boxDivop                       { background:#fff; box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2); border-radius:4px; width:90%; 
                                                  margin-left:5px!important}
.stepsboxDiv.stepactive .inputBox               { padding:8px 15px;}
.mat-option, .mat-select                        { font-family:"Work Sans", sans-serif !important; font-size:12px!important;}
.mat-error                                      { font-size:11px;}
.mat-form-field-subscript-wrapper               { position:inherit!important; padding:0!important; margin:0!important;}
.mat-checkbox-label                             { font-size:13px;}
.mat-step-header.cdk-keyboard-focused, 
.mat-step-header.cdk-program-focused            { background:transparent!important}
.rightSlide .table                              { margin-bottom:0;}
.rightSlide .table td, .rightSlide .table th    { padding:8px 8px;}
.cardDiv                                        { margin:0; padding:0;}
.cardDiv .bigCard                               { width:160px; float:left}
.cardDiv .smallAllCards                         { width:650px; float:left; margin:0 0 0 25px;}
.cardDiv .smallAllCards .smallCard              { width:183px; margin:0 3px 3px 10px}
.cardDiv1 .smallAllCards .smallCard             { width:150px; margin:0 10px 15px 10px}
.dateIcon .dateDiv                              { float:left; width:140px;}
.dateIcon .dateTo                               { float:left; width:50px; text-align:center; margin:6px 0 0 0!important; color:#fff;}
.dateIcon .inputBox                             { border:1px solid #f9f9f9!important; color:#fff!important; padding:4px 15px !important;}
.dateIcon .dateInputBox                         { color:#fff;}
.custome .mat-select-value, 
.custome .mat-select-arrow                      { color:#fff!important}
.bigCard .p1015                                 { padding:6.6px 20px;}
.smallCard .p1015                               { padding:9px 10px;}
.creatCampaign hr                               { margin:10px 0!important}
.creatCampaign label                            { margin-bottom:0!important; line-height:17px;}
.creatCampaign .mat-icon-button                 { width:auto; height:auto; line-height:0}
.filterSearchDiv                                { margin:0; padding:0;}
.filterSearchDiv .searchDiv                     { float:left; width:397px;}
.filterSearchDiv .filterDiv                     { float:left; width:150px; margin:0 0 0 20px; position:inherit;}
.filterSearchDiv .searchBox                     { padding:14px;}
.filterSearchDiv .searchIcon                    { margin:14px 0 0 0;}
.allInputBoxs                                   { margin:0; padding:0; float:left; width:81%;}
.allInputBoxs .boxsInput                        { width:18%; margin:0 6px; float:left;}
.rightBts                                       { float:right; width:19%; margin:6px 0 0 0;}
tr.mat-header-row                               { height:auto!important;}
.tradMak                                        { position:relative; top:-5px; }
.tradMak1                                       { position:relative; top:-4px; }
.dropboxIcons                                   { float:left; margin:10px 10px 8px 10px ;}
.mat-menu-content                               { padding:0!important;}
.mat-expansion-indicator::after                 { color:#fff!important;}
.account-user .mat-expansion-indicator::after   { color:#ccc!important;}
.svgFile svg                                    { width:100px!important; height:100px!important;}
.optionBox                                      { min-width:72px!important;}
.mat-dialog-container                           { padding:0!important; overflow:inherit!important; background:transparent; 
                                                 box-shadow:0 0 0 0px rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12)!important;}
.mat-sort-header-arrow, 
.mat-sort-header-position-before 
.mat-sort-header-arrow                          { margin:0!important;}
.listViewTable .mat-sort-header-button, 
.listViewTable .tableTableStyles th             { font-size:11px!important; font-weight:600!important}
.tab-content .mat-expansion-panel-body          { padding-left:0!important; padding-right:0!important;}
.analyticsFilter .allInputBoxs .boxsInput       { width:22%}
.analyticsFilter .btn-outline-secondary         { background:transparent; color:#333; font-size:12px; border:none; padding:0;}
.analyticsFilter .btn-outline-secondary:hover, 
.analyticsFilter .show > .btn-outline-secondary.dropdown-toggle, 
.analyticsFilter .btn-outline-secondary:not(:disabled):not(.disabled).active, 
.analyticsFilter .btn-outline-secondary:not(:disabled):not(.disabled):active, 
.analyticsFilter 
.show > .btn-outline-secondary.dropdown-toggle  { background:transparent; color:#333; font-size:12px; border:none; padding-left:0;}
.tooltipIconText span                           { font-size:11px;}
.selectBrands label                             { margin:0!important;}
.selectBrands .mat-pseudo-checkbox-checked, 
.selectBrands .mat-pseudo-checkbox-indeterminate, 
.selectBrands .mat-pseudo-checkbox-checked, 
.selectBrands .mat-pseudo-checkbox-indeterminate { background:#b260e4!important}
.modal-content                                   { border:none!important; 	                                            
	                                             -webkit-box-shadow: 0 4px 10px #616161;-moz-box-shadow: 0 4px 10px #616161;box-shadow: 0 4px 10px #616161; width: fit-content !important; margin: auto;}	
.modal-title                                     { /* margin-left:20px;*/}
.ellipseTD                                       { white-space:nowrap; width:150px; overflow:hidden; text-overflow:ellipsis;}
.ellipseHeading                                  { white-space:nowrap; width:180px; overflow:hidden; text-overflow:ellipsis;}
.paymentPub .mat-form-field-wrapper              { padding:1px 0!important;}
.paymentPub .mat-form-field-infix                { padding:0!important; margin:0!important; border:0!important;}
.divBottom                                       { position:fixed; top:64px; right:0;}
.spanColor .mat-select-value-text  span          { color:#fff!important;}
.mat-sort-header-arrow                           { background:url("./assets/images/sortArrows.png") no-repeat!important; width:12px!important; 
                                                   height:18px!important; transform: translateY(0)!important; opacity:1!important;}
.mat-sort-header-arrow .mat-sort-header-indicator{ display:none!important}
.analyticsFilter .boxsInput .dropdown-menu.show  { left:-16px!important; top:27px!important; z-index:9!important; font-size:12px;}
//Advertiser Charts
#campaignTopCampaignsScatterChart text, 
#specializationStackedBarChart text,
#drawAudienceHCPArcheTypeBarChart text,
#performanceTrackingLineChart text,
#campaignsActiveCampaignsBarChart text,
#audienceFrequencyPieChart text,
#heatmap text, #behaviorDevicesDonutChart text,
#behaviorDisplayLocationStackedBarChart text,
#conversionEngagementAreaChart text,
#conversionResultLineChart text,
#overviewTopAdAssetsScatterChart text,
#audienceSpecializationStackedBarChart text,
#audienceHCPArcheTypeBarChart text               { fill:#999!important; font-size:12px; font-family:"Work Sans", sans-serif !important;}

#campaignTopCampaignsScatterChart circle         { r:8!important;}
#locationChart path                              { fill:#e0e0e0!important; stroke:#fff!important;}
#locationChart_table 
.google-visualization-table>div:first-child      { border:1px solid #ccc!important; border-radius:6px!important;}
#locationChart_table 
.google-visualization-table-table td             { vertical-align:top!important; padding:10px 15px; border:none; border-bottom:1px solid #ccc!important;}
#locationChart_table 
.google-visualization-table-table th             { padding:10px 15px; background:#fff; font-weight:600;}
#locationChart_table 
.google-visualization-table-tr-over              { background:#fff;}
#locationChart_table 
.google-visualization-table-table                { font-size:12px; font-family:"Work Sans", sans-serif !important;}
#locationChart_table 
.google-visualization-table-tr-sel               { background:#fff!important;}
#heatmap line, #heatmap path                     { stroke:#fff!important}
#behaviorheatmap line, #behaviorheatmap path     { stroke:#fff!important}
.barLabelDiv ul#strengthBar                      { margin-left:10px!important}
.barLabelDiv .point                              { width:12px!important}
.tableDivWidth                                   { width:150px; float:left; padding:0 0 0 10px}

.creativeHubCardHeader                           { margin:0;}
.creativeHubCardHeader .mat-card-header-text     { margin:0!important;}
.creativeHubCardHeader .mat-ripple-element       { background:transparent!important}
.mat-button-toggle-focus-overlay                 { background:transparent!important; border:none!important;}
.graphchartDiv .mat-button-toggle-button         { text-align:left!important;}
.graphchartDiv .mat-button-toggle-label-content  { padding:0!important;} 
.spanColor .mat-select-arrow                     { color:#fff!important;}
.viewAllCards .newAssets .slick-track            { width:100%!important;}
.creativeHubItem .mat-expansion-panel-content    { padding: 0 2px!important;}
.slick-dots                                      { display:none!important;}
.statusBarDiv .mat-progress-bar-fill::after      { background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc) !important;}
.slick-prev:before, .slick-next:before           { color:#000!important;}

.slideshow-container .arrow-container.prev:before,
.slideshow-container .arrow-container.next:before{ background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.0))!important;}
.graphLoading                                    { padding:100px 0!important}

.modal-footer                                    { padding-bottom: 4px !important;}
.password-exp .mat-form-field-flex               { width: 300px; padding: 0px !important; margin: 0px !important;}
.password-exp .mat-form-field-appearance-outline .mat-form-field-infix{ padding: 0px !important; margin: 0px !important; height: 48px;}
.password-exp .mat-icon                          { position: relative; top: -20px;}
.password-exp .mat-form-field-appearance-outline
 .mat-form-field-wrapper                         { margin: 0px !important;}
.password-exp .mat-form-field-wrapper            {padding-bottom: 0px !important;}
.t_justify                                       { text-align: justify;}
.text_break                                      { word-break: break-all;}
.hvanameField .mat-form-field-infix 			 { border-top:0!important;}
.hvanameField .mat-form-field-infix,
.hvanameField .mat-form-field-flex  			 { padding:0!important;}
.hvanameField .mat-form-field-wrapper 			 { margin:0!important; padding:0!important;}
.locationsTreeBox 								 { padding:8px 15px !important;} 
.locationsTreeBox .btn-outline-secondary         { border:none!important; color:rgba(0,0,0,.87); font-size:12px; padding:.375rem 0;}
.locationsTreeBox .dropdown-toggle::after        { font-size:17px; color:#999; right:0!important; margin-top:7px !important;}

.locationsTreeBox .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle
, .locationsTreeBox .btn-outline-secondary:hover{ background:transparent!important; color:rgba(0,0,0,.87)!important;}
.fa-caret-down:before, .fa-caret-right:before	  { content: "\e92f"!important;}
.locationsTreeBox .form-inline label 			  { font-size:12px!important;}
.locationsTreeBox .dropdown-menu 				  { right:-15px!important; left:auto!important; width:203px;}
.locationsTreeBox1 .dropdown-menu 				  { right:-15px!important; left:auto!important; width:167px;}
.locationsTreeBox1 .treeview-container 			  { height: 150px;}
.locationsTreeBox .treeview-container  			  { max-height:200px!important;}
.locationsTreeBox .row-filter input               { height: 30px;  border: 1.5px solid #eeeeeebd !important; font: 12px;}
.locationsTreeBox .dropdown-menu                  { width: 400px; margin-top: -1px;}
.locationsTreeBox .form-check label               { font-size: 12px;}
.locationsTreeBox .ng-pristine                    { font-size: 12px;}
.locationsTreeBox2 .dropdown-menu                 { width: 250px !important; margin-top: -1px;}
.locationsTreeBox3 .row-filter input              { height: 30px;  border: 1.5px solid #eeeeeebd !important; font-size: 12px !important;}
.cdk-overlay-pane .mat-pseudo-checkbox-checked    {background: #B263DE !important; }
.checkbox1 .cdk-overlay-pane .mat-pseudo-checkbox-checked {background: #16C0F0 !important; }
.cdk-overlay-pane  .mat-option .mat-pseudo-checkbox{ width: 15px !important; height: 15px !important; }
.cdk-overlay-pane .mat-pseudo-checkbox-checked::after{top:2px !important; left: 1px !important;}
.advertiserStroke svg circle                            {stroke:#B263DE}
.publisherStroke svg circle                          {stroke:#16C0F0;}
//.stripheading                                         {height: 30px; line-height:28px;}
.stripbtn                                            {padding: 0px 10px !important; height: 20px; line-height: 20px;margin-right:15px;}
/********** End Here Common CSS **********/



/********** Start Here Theme CSS **********/

/* === Start Here Publisher Theme CSS === */

.publisherDiv .mainBGcolor						{ background:#4e70ef; background-image:linear-gradient(to right, #41ccf1 , #4e70ef) !important;}
.publisherDiv .mainColor,
.publisherDiv .newAssets .boxactive .grColor,
.publisherDiv .tabsStyles .active,
.publisherDiv .webMobile.active .mainTextColor,
.publisherDiv .mat-tab-label-active             { color:#4e70ef !important;}
.publisherDiv .mainColor1,
.publisherDiv .webMobile.active .mainiconColor	{ background:-webkit-gradient(linear, 100% 0, 0 0, from(#41ccf1), to(#4e70ef));
		                                          background:-webkit-linear-gradient(top, #41ccf1, #4e70ef);
												  background:-moz-linear-gradient(top, #41ccf1, #4e70ef);
												  background:-o-linear-gradient(top, #41ccf1, #4e70ef);
	                                              background:linear-gradient(to top, #41ccf1, #4e70ef); -webkit-background-clip:text;
												  -webkit-text-fill-color: transparent;}
.publisherDiv .mainBordercolr,
.publisherDiv .btnTabs .nav-link.active,
.publisherDiv .newAssets .bannerBoxes.boxactive,
.publisherDiv .tabsStyles .active,
.publisherDiv .primaryBtn:hover,
.publisherDiv .multiselect-dropdown
.dropdown-btn .selected-item					{ border-color:#4e70ef !important;}
.publisherDiv .primaryBtn:hover					{ background:#4e70ef; background-image:linear-gradient(to right, #41ccf1 , #4e70ef) !important;
												  color:#fff !important;}
.publisherDiv .stripprimaryBtn:hover			{ background:#4e70ef; background-image:linear-gradient(to right, #41ccf1 , #4e70ef) !important; color:#fff !important;}
.publisherDiv
.custom-control-input:checked~.customBox::before{ background:#4e70ef; border-color:#4e70ef !important;}
.publisherDiv .active .mainBGcolor1,
.publisherDiv .newAssets .boxactive .acBGColor	{ background:#4e70ef; background-image:linear-gradient(to right, #41ccf1 , #4e70ef)!important;}
.publisherDiv .done .mainBGcolor1				{ background:#4e70ef; background-image:linear-gradient(to right, #41ccf1 , #4e70ef)!important;
												  opacity:0.5}
.publisherDiv .lineActive						{ background:#4e70ef;}

.publisherDiv .profileForm .stepDot.active,
.publisherDiv ul.stepper .step.active:before	{ background-image: linear-gradient(to right, #41ccf1 , #4e70ef); margin-top:-3px;
												  border:4px solid #fff; box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2); width:10px; height:10px;}
.publisherDiv .profileForm .stepDot.finish,
.publisherDiv ul.stepper .step.done:before		{ background-image: linear-gradient(to right, #41ccf1 , #4e70ef);}
.publisherDiv .bgLGColor						{ background-image:linear-gradient(to right, rgba(28,204,123,0.2), rgba(27,173,188,0.2));}


/* === End Here Publisher Theme CSS === */

/* === Start Here Advertiser Theme CSS === */

.advertiserDiv .mainBGcolor						{ background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc) !important;}
.advertiserDiv .mainColor,
.advertiserDiv .newAssets .boxactive .grColor,
.advertiserDiv .tabsStyles .active,
.advertiserDiv .webMobile.active .mainTextColor,
.advertiserDiv .mat-tab-label-active			{ color:#6b3ffc !important;}
.advertiserDiv .mainColor1,
.advertiserDiv .webMobile.active .mainiconColor	{ background:-webkit-gradient(linear, 100% 0, 0 0, from(#b260e4), to(#6b3ffc));
		                                          background:-webkit-linear-gradient(top, #b260e4, #6b3ffc);
												  background:-moz-linear-gradient(top, #b260e4, #6b3ffc);
												  background:-o-linear-gradient(top, #b260e4, #6b3ffc);
	                                              background:linear-gradient(to top, #b260e4, #6b3ffc); -webkit-background-clip: text;
												  -webkit-text-fill-color: transparent;}
.advertiserDiv .mainBordercolr,
.advertiserDiv .btnTabs .nav-link.active,
.advertiserDiv .newAssets .bannerBoxes.boxactive,
.advertiserDiv .tabsStyles .active,
.advertiserDiv .primaryBtn:hover,
.advertiserDiv .multiselect-dropdown
.dropdown-btn .selected-item					{ border-color:#6b3ffc !important;}
.advertiserDiv .primaryBtn:hover				{ background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc) !important;
												  color:#fff !important;}
.advertiserDiv .primaryBtn:focus				{ background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc) !important;
												  color:#fff !important;}
.advertiserDiv
.custom-control-input:checked~.customBox::before{ background:#4e6def; border-color:#4e6def !important;}
.advertiserDiv .active .mainBGcolor1,
.advertiserDiv .newAssets .boxactive .acBGColor	{ background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc)!important;}
.advertiserDiv .done .mainBGcolor1				{ background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc)!important; 													  opacity:0.5}
.advertiserDiv .lineActive						{ background:#6b3ffc;}
.advertiserDiv .profileForm .stepDot.active,
.advertiserDiv ul.stepper .step.active:before	{ background-image: linear-gradient(to right, #b260e4 , #6b3ffc); margin-top:-3px;
												  border:3px solid #fff; box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2); width:10px; height:10px;}
.advertiserDiv .profileForm .stepDot.finish,
.advertiserDiv ul.stepper .step.done:before		{ background-image: linear-gradient(to right, #b260e4 , #6b3ffc);}
.advertiserDiv .bgLGColor						{ background-image:linear-gradient(to right, #b260e45e, #6b3ffc8f);}

/* === End Here Advertiser Theme CSS === */

/* === Start Here Admin Theme CSS === */

.adminDiv .mainBGcolor							{ background:#1badbb; background-image:linear-gradient(to right, #1cca7f , #1badbb) !important;}
.adminDiv .mainColor,
.adminDiv .newAssets .boxactive .grColor,
.adminDiv .tabsStyles .active,
.adminDiv .webMobile.active .mainTextColor		{ color:#1badbb !important;}
.adminDiv .mainColor1,
.adminDiv .webMobile.active .mainiconColor		{ background:-webkit-gradient(linear, 100% 0, 0 0, from(#1cca7f), to(#1badbb));
		                                          background:-webkit-linear-gradient(top, #1cca7f, #1badbb);
												  background:-moz-linear-gradient(top, #1cca7f, #1badbb);
												  background:-o-linear-gradient(top, #1cca7f, #1badbb);
	                                              background:linear-gradient(to top, #1cca7f, #1badbb); -webkit-background-clip: text;
												  -webkit-text-fill-color: transparent;}
.adminDiv .mainBordercolr,
.adminDiv .btnTabs .nav-link.active,
.adminDiv .newAssets .bannerBoxes.boxactive,
.adminDiv .tabsStyles .active,
.adminDiv .primaryBtn:hover,
.adminDiv .multiselect-dropdown
.dropdown-btn .selected-item					{ border-color:#1badbb !important;}
.adminDiv .primaryBtn:hover						{ background:#1badbb; background-image:linear-gradient(to right, #1cca7f , #1badbb) !important;
												  color:#fff !important;}
.adminDiv
.custom-control-input:checked~.customBox::before{ background:#1badbb; border-color:#1badbb !important;}
.adminDiv .active .mainBGcolor1,
.adminDiv .newAssets .boxactive .acBGColor		{ background:#1badbb; background-image:linear-gradient(to right, #1cca7f , #1badbb)!important;}
.adminDiv .done .mainBGcolor1					{ background:#1badbb; background-image:linear-gradient(to right, #1cca7f , #1badbb) !important;
												  opacity:0.5}
.adminDiv .lineActive							{ background:#1badbb;}

.adminDiv .profileForm .stepDot.active,
.adminDiv ul.stepper .step.active:before		{ background-image: linear-gradient(to right, #1cca7f , #1badbb); margin-top:-3px;
												  border:3px solid #fff; box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2); width:10px; height:10px;}
.adminDiv .profileForm .stepDot.finish,
.adminDiv ul.stepper .step.done:before			{ background-image: linear-gradient(to right, #1cca7f , #1badbb);}
.adminDiv .bgLGColor							{ background-image:linear-gradient(to right, rgba(28,204,123,0.2), rgba(27,173,188,0.2));}

/* === End Here Admin Theme CSS === */

/********** End Here Theme CSS **********/



@media only screen and (max-width:1024px) {
    
    .fixedWidth { width:940px;}
    [role="main"] { width:865px;}
    .cardDiv .smallAllCards { width:590px;}
    .col-md-5 { flex: 0 0 49.666667%; max-width: 49.666667%;}
}

@media only screen and (min-width:1400px) {
    
    .fixedWidth { width:1170px!important;}
    [role="main"] { width:1095px!important;}
    .cardDiv .smallAllCards { width:650px;}
    .cardDiv .bigCard { width:160px;}
    .cardDiv .smallAllCards .smallCard { width:200px;}
    .sidebar, .sidebar-sticky { width:75px !important}
}

@media only screen and (min-width:1680px) {
    
    .fixedWidth { width:1366px!important;}
    [role="main"] { width:1206px!important;}
    .cardDiv .smallAllCards { width:630px;}
    .col-md-5 { flex: 0 0 49.666667%; max-width: 49.666667%;}
    .cardDiv .smallAllCards .smallCard, .cardDiv .bigCard { width:200px;}
    .sidebar, .sidebar-sticky { width:160px!important;}
    .sidebar .nav-link i { display:inherit; margin:-4px 10px 0 0; float:left; font-size:17px;}
    .sidebar-sticky { top:60px;}
    .fixedWidth .logo, .sidebar .nav-link{ text-align:left}
    .col-md-8 { flex: 0 0 70%!important; max-width:70%!important;}
    .col-md-4 { flex: 0 0 30%!important; max-width:30%!important;}
}

@media only screen and (min-width:1920px) {
    
    .fixedWidth { width:1600px;}
    [role="main"] { width:1200px!important;}
    .cardDiv .smallAllCards { width:630px;}
    .cardDiv .smallAllCards .smallCard, .cardDiv .bigCard { width:200px;}
    .sidebar, .sidebar-sticky { width:160px!important;}
    .sidebar .nav-link i { display:inherit; margin:-4px 10px 0 0; float:left; font-size:17px;}
    .sidebar-sticky { top:60px;}
    .fixedWidth .logo, .sidebar .nav-link{ text-align:left}
    .col-md-8 { flex: 0 0 70%!important; max-width:70%!important;}
    .col-md-4 { flex: 0 0 30%!important; max-width:30%!important;}
    .cdk-overlay-pane { width:40%!important;}
    .lapImg { width:122.8% !important;}
}


/********** Start Here Registration and Login Pages CSS **********/

.bodyBg 										{ height:100%;}
.reglogo 										{ margin:25px 0 90px 0}
.registrationForm								{ margin:0; padding:0; min-height:416px;}
.registrationForm .logininputBox				{ border-radius:0; border:1px solid #333; padding:7px 15px; margin:0 0 15px 0; font-size:12px;}
.registrationForm .regloginBtl					{ border-radius:100px; border:none; font-size:14px; font-weight:600; color:#fff; padding:6px 40px;}
.registrationForm .regloginBtl:hover			{ color:#fff!important;}
.registrationForm .h6 a:hover 					{ text-decoration:underline; color:#6b3ffc; }
.rlFooter										{ font-size:12px; margin:0; position:absolute; bottom:0;}
.rlFooter a 									{ float:left; border-left:1px solid #999; padding:0 6px; line-height:10px; margin-bottom:8px}
.rlFooter a:first-child 						{ border:none; padding-left:0;}
.rlFooter a:hover 								{ text-decoration:underline; color:#6b3ffc; }
.rlFooter p 									{ font-size:12px; color:#333; font-weight:normal}
.togleMenu 										{ display:none!important;}
.form-control.is-invalid,
.was-validated .form-control:invalid			{ background:transparent!important; border-color:#ff3939!important; margin-bottom:14px!important}
.invalidfeedback								{ color:#ff3939; border-left:5px solid #ff3939; padding:0 0 0 6px; position:relative; top:-10px; 
                                                  font-size:14px;}
.pwds											{ color:#ccc; font-weight:normal; text-transform:capitalize; margin-left:15px; font-size:13px!important}
.good											{ background:linear-gradient(to right, #b260e4 0%, #6b3ffc 100%); -webkit-background-clip: text;
												  -webkit-text-fill-color: transparent; margin:0 0 0 10px;}
.strengthBg										{ background:#eee; width:30px; height:5px; display:inline-block}
.strengthBg:first-child							{ margin:0 0 0 10px;}
.tm                                             { font-weight:400; font-size:10px; position:relative; top:-5px;}
.password-ex {}
.password-ex .mat-card-content{ padding: 0px; margin:0px;}
@media (max-width: 767px) {
	.rlFooter									{ position:inherit; display:none;}
	.reglogo									{ margin:20px 0 100px 0}
	.reglogo a 									{ float:left;}
	.togleMenu									{ display:block!important}
	.toggleBtn									{ background:transparent; border:none; margin:20px 0 0 0; float:right;}
	.menuExpand									{ position:absolute; right:0; background:#f7f7f7; top:60px; padding:15px 0; z-index:9}
	.menuExpand ul li 							{ padding:8px 15px; border-bottom:1px solid #eee;}
	.registrationForm .loginInput				{ margin-bottom:10px}
	.invalidfeedback							{ top:-70px;}
	.registrationForm 							{ min-height:inherit;}
}

/********** End Here Registration and Login Pages CSS **********/
.success-campaign-notify                        { background: linear-gradient(to right, #b260e4, #6b3ffc);color: white;position: fixed;
	                                              top: 43px;right: -21px;}
.error-campaign-notify                          { background: linear-gradient(to right, #e46060, #fc753f);color: white;position: fixed;top: 43px;right: -21px;}
.snackbar-advertiser                            { background: linear-gradient(to right, #b260e4, #6b3ffc);color: white;position: fixed;top: 43px;right: -21px; font-size: 13px;}
.snackbar-publisher                             { background: linear-gradient(to right, #41ccf1 , #4e70ef);color: white;position: fixed;top: 43px;right: -21px; font-size: 13px;}
.cdk-overlay-container                          { z-index: 1030 !important;}
.paymentSecureContent mat-dialog-content p      { color: #000;}
.paymentSecureContent mat-dialog-content p a    { color: rgba(0, 4, 255, 0.699)!important;}
.paymenttab .paymentTabs .mat-ink-bar           { height: 4px;background: #4e70ef  !important;}
.matoptiontext .mat-option-text                 { margin-top: 9px !important;}
.dropdown-toggle::after                         { display: inline-block;margin-left: .255em;vertical-align: .255em;content: "";border-top: .4em solid !important;border-right: .4em solid transparent !important;border-bottom: 0;border-left: .4em solid transparent !important;
												  color: #757575 !important; right:-0.2rem !important; margin-top:7px !important;}
.locationsTreeBox2 .dropdown-toggle::after      { display: inline-block;margin-left: .255em;vertical-align: .255em;content: "";border-top: .3em solid !important;border-right: .3em solid transparent !important;border-bottom: 0;border-left: .3em solid transparent !important;
													color: #757575 !important; right:-0.2rem !important; margin-top:7px !important;}												  
 th.mat-header-cell								{padding-top: 7px !important;padding-bottom: 7px !important;}
 .tableStyles .ng-container:nth-of-type(odd)   {  background: #f9f7f7 !important;}
 .publisher{}
.publisher .cdk-overlay-pane .mat-pseudo-checkbox-checked{ background: #4e70ef !important;}
.w97 .mat-select-arrow                         { margin-top: 3px !important;}
.market_trigger{position: relative; top: 1px;}

