<div class="pt-3 pb-2 mb-4">
    <h1 class="h2 mb-2">Credit Line</h1>
    <h6 class="h6">Manage payments, accounts and track your receipts</h6>
  </div>
  
  <ul class="nav nav-pills mt-4 tabsStyles" role="tablist">
    <li class="nav-item"> <a class="nav-link active fs14 fw600 brr0 bgNone" data-toggle="pill" href="#approvedTab" (click)="getCreditLines('Approved')">Approved</a></li>
    <li class="nav-item"> <a class="nav-link fs14 fw600 bgNone brr0" data-toggle="pill" href="#pendingTab" (click)="getCreditLines('Under-Review')">Pending</a></li>
  </ul>
  <div class="tab-content mb-5">
    <div id="approvedTab" class="tab-pane active">
      <div class="table-responsive boxDiv mt-3" *ngIf="creditLines && creditLines.length">
        <table class="table table-striped tableStyles">
          <thead>
            <tr class="mainBGcolor wColor">
              <th>Company name</th>
              <th>Type of user</th>
              <th>Organization Registered</th>
              <th>Name</th>
              <th>email</th>
              <th>Document</th>
              <th>Company Name</th>
              <th>Company Address</th>
              <th>Street Address</th>
              <th>country</th>
              <th>State</th>
              <th>City</th>
              <th>ZipCode</th>
              <th>Company Contact Name</th>
              <th>Tax Id</th>
              <th>Billing Contact Name</th>
              <th>Billing Email</th>
              <th>Phone Number</th>
              <th>Duns Number</th>
              <th>Approved credit limit</th>
              <th>Asking credit limit</th>
              <th>Credit period</th>
              <th>Valid till</th>
              <th>Comment</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let creditLine of creditLines">
                <td>{{creditLine.advertiserDetails.businessName}}</td>
                <td>{{creditLine.advertiserDetails.advertiserType}}</td>
                <td>{{creditLine.hasOrganizationRegistered}}</td>
                <td>{{creditLine.name}}</td>
                <td>{{creditLine.email}}</td>
                <td><a (click)="preview(creditLine)">Preview</a></td>
                <td>{{creditLine.companyName}}</td>
                <td>{{creditLine.companyAddress}}</td>
                <td>{{creditLine.streetAddress}}</td>
                <td>{{creditLine.country}}</td>
                <td>{{creditLine.state}}</td>
                <td>{{creditLine.city}}</td>
                <td>{{creditLine.zipCode}}</td>
                <td>{{creditLine.companyContactName}}</td>
                <td>{{creditLine.taxId}}</td>
                <td>{{creditLine.billingContactName}}</td>
                <td>{{creditLine.billingEmail}}</td>
                <td>{{creditLine.phoneNumber}}</td>
                <td>{{creditLine.dunsNumber}}</td>
                <td>{{creditLine.approvedCreditLimit}}</td>
                <td>{{creditLine.expectedIncome}}</td>
                <td>{{creditLine.startDate | date: 'MM/dd/yyyy'}}</td>
                <td>{{creditLine.startDate | date: 'MM/dd/yyyy'}}</td>
                <td>{{creditLine.comment}}</td>
                <td align="center">
                  <a class="mainColor tdu mr-3" (click)="reviewCreditLine(creditLine)">Review</a> 
                  <a class="mainColor tdu mr-3" (click)="approveCreditLine(creditLine)">Approve</a>
                  <a class="mainColor tdu" (click)="disproveCreditLine(creditLine)">Reject</a>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="col-12 grColor m-4" *ngIf="creditLines && !creditLines.length">
        <strong>No Records found !</strong>
      </div>
    </div>
    <div id="pendingTab" class="tab-pane fade">
      <div class="table-responsive boxDiv mt-3" *ngIf="creditLines && creditLines.length">
        <table class="table table-striped tableStyles">
          <thead>
          <tr class="mainBGcolor wColor">
            <th>Company name</th>
            <th>Type of user</th>
            <th>Organization Registered</th>
            <th>Name</th>
            <th>email</th>
            <th>Document</th>
            <th>Company Name</th>
            <th>Company Address</th>
            <th>Street Address</th>
            <th>country</th>
            <th>State</th>
            <th>City</th>
            <th>ZipCode</th>
            <th>Company Contact Name</th>
            <th>Tax Id</th>
            <th>Billing Contact Name</th>
            <th>Billing Email</th>
            <th>Phone Number</th>
            <th>Duns Number</th>
            <th>Asking credit limit</th>
            <th>Credit period</th>
            <th>Valid till</th>
            <th>Comment</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let creditLine of creditLines">
              <td>{{creditLine.advertiserDetails.businessName}}</td>
              <td>{{creditLine.advertiserDetails.advertiserType}}</td>
              <td>{{creditLine.hasOrganizationRegistered}}</td>
              <td>{{creditLine.name}}</td>
              <td>{{creditLine.email}}</td>
              <td><a (click)="preview(creditLine)">Preview</a></td>
              <td>{{creditLine.companyName}}</td>
              <td>{{creditLine.companyAddress}}</td>
              <td>{{creditLine.streetAddress}}</td>
              <td>{{creditLine.country}}</td>
              <td>{{creditLine.state}}</td>
              <td>{{creditLine.city}}</td>
              <td>{{creditLine.zipCode}}</td>
              <td>{{creditLine.companyContactName}}</td>
              <td>{{creditLine.taxId}}</td>
              <td>{{creditLine.billingContactName}}</td>
              <td>{{creditLine.billingEmail}}</td>
              <td>{{creditLine.phoneNumber}}</td>
              <td>{{creditLine.dunsNumber}}</td>
              <td>{{creditLine.expectedIncome}}</td>
              <td>{{creditLine.startDate | date: 'MM/dd/yyyy'}}</td>
              <td>{{creditLine.startDate | date: 'MM/dd/yyyy'}}</td>
              <td>{{creditLine.comment}}</td>
              <td align="center">
                <a class="mainColor tdu mr-3" (click)="reviewCreditLine(creditLine)">Review</a> 
                <a class="mainColor tdu mr-3" (click)="approveCreditLine(creditLine)">Approve</a>
                <a class="mainColor tdu" (click)="disproveCreditLine(creditLine)">Reject</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 grColor m-4" *ngIf="creditLines && !creditLines.length">
        <strong>No Records found !</strong>
      </div>
    </div>
  </div>
