<div class="boxDiv">
  <div class="mainBGcolor w-100 p-2 clearfix">
    <h5 class="fs16 wColor float-left m68">Active campaigns</h5>
    <div class="float-right">
      <div class="br1 brr4 brCColor clearfix">
        <pagination-template #api="paginationApi" id="first" class="custom-page-controls" (pageChange)="p = $event">
          <a (click)="api.previous()" class="float-left pagination-previous" [class.disabled]="api.isFirstPage()"><i class="icon-49 fs24 wColor"></i></a>
          <a (click)="api.next()" class="float-left brl1 brCColor"><i class="icon-50 fs24 wColor"></i></a>
        </pagination-template>        
      </div>
    </div>
  </div>
  <div class="p-2" *ngIf="activeCampaignsList && activeCampaignsList.length > 0">
    <div class="row" *ngFor="let element of activeCampaignsList | paginate: { itemsPerPage: 1, currentPage: p, totalItems: activeCampaignsList.length, id: 'first' }">
      <div class="col-md-8">
        <p>{{ element.name }}</p>
        <div *ngIf="element.creativeType === 'Banner'" class="boxDiv brr0 p-3">
            <!--<slideshow [height]="height" [minHeight]="'350px'" [autoPlay]="false"
              [showArrows]="element.imageUrls.length > 1" [arrowSize]="'10px'" [imageUrls]="element.imageUrls"
              [lazyLoad]="element.imageUrls.length > 1" [autoPlayWaitForLazyLoad]="false"
              [backgroundSize]="'contain'">
            </slideshow>-->
            <app-carouselshow [height]="'350px'" [imageUrls]="element.imageUrls"></app-carouselshow>
          </div>
          <div *ngIf="element.creativeType === 'Video'" class="boxDiv brr0 p-3">
            <video controls class="videoBox">
              <source src="{{element.imageUrls[0]}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
      </div>
      <div class="col-md-4">
        <p>Lifetime data</p>
        <div class="br1 brr4 brCColor">
          <div class="p-2">
            <div class="clearfix">
              <h6 class="h6 fs14 float-left">Spends</h6>
            </div>
            <div class="clearfix">
              <div class="float-left"><i class="icon-22 op5 fs24 mainColor"></i></div>
              <h2 class="h2 float-right fs20 mb-0">{{currencySymbol}}{{ element.spends ? element.spends : 0 }}</h2>
            </div>
          </div>
          <hr class="m-0">
          <div class="p-2">
            <div class="clearfix">
              <h6 class="h6 fs14 float-left">Impressions</h6>
            </div>
            <div class="clearfix">
              <div class="float-left"><i class="icon-21 op5 fs24 mainColor"></i></div>
              <h2 class="h2 float-right fs20 mb-0">{{ element.impressions ? element.impressions : 0 }}</h2>
            </div>
          </div>
          <hr class="m-0">
          <div class="p-2">
            <div class="clearfix">
              <h6 class="h6 fs14 float-left">Clicks</h6>
            </div>
            <div class="clearfix">
              <div class="float-left"><i class="icon-64 op5 fs24 mainColor"></i></div>
              <h2 class="h2 float-right fs20 mb-0">{{ element.clicks ? element.clicks : 0 }}</h2>
            </div>
          </div>
          <hr class="m-0">
          <div class="p-2">
            <div class="clearfix">
              <h6 class="h6 fs14 float-left">CTR</h6>
            </div>
            <div class="clearfix">
              <div class="float-left"><i class="icon-30 op5 fs24 mainColor"></i></div>
              <h2 class="h2 float-right fs20 mb-0">{{ element.CTR ? element.CTR : 0 }}%</h2>
            </div>
          </div>
          <hr class="m-0">
          <div class="p-2">
            <div class="clearfix">
              <h6 class="h6 fs14 float-left">CPC</h6>
            </div>
            <div class="clearfix">
              <div class="float-left"><i class="icon-33 op5 fs24 mainColor"></i></div>
              <h2 class="h2 float-right fs20 mb-0">{{currencySymbol}}{{ element.CPC ? element.CPC : 0 }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls> -->
  </div>
  <div class="p-2 fs13" *ngIf="activeCampaignsList && activeCampaignsList.length === 0">No active campaigns found!</div>
</div>