<div  class="bgImg" style="top:60px; z-index:-1; right:-60px"><img alt="AdvanalyticsBg" height="300" src="assets/images/settingsBG.svg" style="width:350px; height:250px;"></div>
<div class="pt-4 mb22">
    <h1 class="h2">Settings</h1>
    <h6 class="h6 mt-1 fwn lineheight">You can choose what notifications you wish to receive, and manage all other account settings, in one place</h6>
</div>
<mat-tab-group animationDuration="4ms" class="paymentTabs" style="width:65%;">
  <mat-tab class="col-9" label="Notifications" *ngIf="settingType === 'email_setings'">
    <div class="table-responsive mt14 boxDiv" >
        <table class="table table-striped tableStyles">
          <thead>
            <tr class="mainBGcolor wColor">
              <th class="wColor">Notification type</th>
              <th class="wColor text-right">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Billing alerts</td>
              <td class="text-right">
                <div class="custom-control custom-checkbox customcheckbox">
                  <input type="checkbox" class="custom-control-input" id="billingAlerts" [(ngModel)]="billingAlerts" (change) = "callOnNotificationChange()">
                  <label class="custom-control-label customBox tablecustomBox" for="billingAlerts"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Asset maintenance alerts</td>
              <td class="text-right">
                <div class="custom-control custom-checkbox customcheckbox">
                  <input type="checkbox" class="custom-control-input" id="campaignMaintainance" [(ngModel)]="campaignMaintainance" (change) = "callOnNotificationChange()">
                  <label class="custom-control-label customBox tablecustomBox" for="campaignMaintainance"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Newsletters</td>
              <td class="text-right">
                <div class="custom-control custom-checkbox customcheckbox">
                  <input type="checkbox" class="custom-control-input" id="newsLetters" [(ngModel)]="newsLetters" (change) = "callOnNotificationChange()">
                  <label class="custom-control-label customBox tablecustomBox" for="newsLetters"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Customized help & performance suggestions</td>
              <td class="text-right">
                <div class="custom-control custom-checkbox customcheckbox">
                  <input type="checkbox" class="custom-control-input" id="customizedHelpPerformance" [(ngModel)]="customizedHelpPerformance" (change) = "callOnNotificationChange()">
                  <label class="custom-control-label customBox tablecustomBox" for="customizedHelpPerformance"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Terms & policy alerts</td>
              <td class="text-right">
                <div class="custom-control custom-checkbox customcheckbox">
                  <input type="checkbox" class="custom-control-input" id="disapprovedAdsPolicy" [(ngModel)]="disapprovedAdsPolicy" (change) = "callOnNotificationChange()">
                  <label class="custom-control-label customBox tablecustomBox" for="disapprovedAdsPolicy"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Reports</td>
              <td class="text-right">
                <div class="custom-control custom-checkbox customcheckbox">
                  <input type="checkbox" class="custom-control-input" id="reports" [(ngModel)]="reports" (change) = "callOnNotificationChange()">
                  <label class="custom-control-label customBox tablecustomBox" for="reports"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Special offers</td>
              <td class="text-right">
                <div class="custom-control custom-checkbox customcheckbox">
                  <input type="checkbox" class="custom-control-input" id="specialOffers" [(ngModel)]="specialOffers" (change) = "callOnNotificationChange()">
                  <label class="custom-control-label customBox tablecustomBox" for="specialOffers"></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </mat-tab>
  <mat-tab label="Account" *ngIf="settingType === 'change_password'"><app-changepassword [param1]="hasSecurityQuestions"></app-changepassword></mat-tab>
</mat-tab-group>
