.paymentTabs .mat-tab-label{ padding-bottom: 10px !important;}
.tableStyles th {padding: 5px 15px !important;}
.table td, .table th{ padding-left: 15px !important; padding-right: 15px !important;}    