.fs7 											{ font-size:7px!important;}
.fs8 											{ font-size:8px!important;}
.fs9 											{ font-size:9px!important;}
.fs10 											{ font-size:10px!important;}
.fs11 											{ font-size:11px!important;}
.bgpr											{ padding:1px 3px; border-radius:5px}
.bgpr1											{ padding:3px 3px; border-radius:4px}
.p1015                                          { padding:10px}
.p815                                           { padding:6px 10px}
.mt3                                            { margin:3px 0 0 0}
.icon-47, .icon-48                              { float:left; margin:3px 2px 0 0;}
.primaryBtn                                     { padding:5px 20px; border-width:1px}
.m68                                            { margin:6px 0 0 8px}
.tableStyles td                                 { font-size:12px!important}
.tableStyles th                                 { font-size:13px!important}