<div class="table-responsive boxDiv">
  <div class="mainBGcolor w-100 p-2 clearfix">
    <h5 class="fs16 wColor float-left m68">Recent Campaigns</h5>
    <a routerLink="/advertiser/campaignManage" *ngIf = "rolePermissions && rolePermissions.includes('view_campaign')" class="primaryBtn brwColor float-right wColor font-weight-normal">View all</a>
    <div class="float-right mr-3">
      <div class="br1 brr4 brCColor clearfix">
        <pagination-template #api="paginationApi" class="custom-page-controls" (pageChange)="pRecent = $event" id="second">
          <a (click)="api.previous()" class="float-left" [class.disabled]="api.isFirstPage()"><i class="icon-49 fs24 wColor"></i></a>
          <a (click)="api.next()" class="float-left brl1 brCColor"><i class="icon-50 fs24 wColor"></i></a>
        </pagination-template>
      </div>
    </div>
  </div>
  <table class="table table-striped tableStyles">
    <thead>
      <tr *ngIf="recentCampaignsList && recentCampaignsList.length > 0">
        <th scope="col" class="fw600">Campaign</th>
        <th scope="col" class="fw600">Date</th>
        <th scope="col" class="fw600">Spend</th>
        <th scope="col" class="fw600">Clicks</th>
        <th scope="col" class="fw600">CTR</th>
      </tr>
    </thead>
    <tbody *ngIf="recentCampaignsList && recentCampaignsList.length > 0">
      <tr *ngFor="let item of recentCampaignsList | paginate: { itemsPerPage: 10, currentPage: pRecent, totalItems: recentCampaignsList.length , id: 'second' }">
        <td>{{item.name}}</td>
        <td>{{item.date | date: 'd MMM yyyy' }}</td>
        <td>${{item.spends}}</td>
        <td>{{item.clicks}}</td>
        <td>{{item.CTR}}%</td>
      </tr>
      <!-- <pagination-controls (pageChange)="p2 = $event" id="second"></pagination-controls> -->
    </tbody>
    <tbody *ngIf="recentCampaignsList && recentCampaignsList.length === 0">
      <tr><td colspan="5">No recent campaigns found!</td></tr>
    </tbody>
  </table>

</div>