<div  class="bgImg" style="top:30px; z-index:-1; right:-60px"><img alt="AdvanalyticsBg" height="300" src="assets/images/creativeHubBg.svg" style="width:350px; height:250px;"></div>
<div class="pt-4 mb12">
    <h1 class="h2">Creative Hub</h1>
    <h6 class="h6 mt-1 fwn lineheight">You can access all the creative assets such as display banners, for all the brands associated with your account, in one place for ease of upload</h6>
  </div>

  <ul class="nav nav-pills tabsStyles" role="tablist">
    <li class="nav-item" (click) = "initCreativeHubsByType('image')"> <a class="nav-link active fs14 fw600 brr0 bgNone" data-toggle="pill" href="#imagesTab">Images</a> </li>
    <!-- <li class="nav-item" (click) = "initCreativeHubsByType('video')"> <a class="nav-link fs14 fw600 bgNone brr0" data-toggle="pill" href="#videosTab">Videos</a> </li> -->
  </ul>
  <div class="tab-content">
    <div id="imagesTab" class="tab-pane active mt-3 mb-5">
      <div class="boxDiv ovi">
        <form [formGroup]="addImageVideoForm">
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div class="col-1 pt-3 mt-1 ml-3">
                  <i class="icon-5 fs16 mainColor fw600"></i>
                </div>
                <div class="col-10 pt-3">
                  <input formControlName="searchText" class="pt-1 br0 focus fs12 w-100" type="text" placeholder="Search for a creative" (keyup)="searchImageCreatives();">
                </div>
              </div>
            </div>

            <div class="col-8">
              <div class="row">
                <div class="col-5">
                  <div class="row">
                    <div class="col-5 mat_option">
                      <a (click)="displayFilters()" class="mainColor">
                        <span class="mt-1">Filter</span>
                        <i *ngIf="!Showfilters" class="icon-48 grColor fs18 pl-2 float-right mt-2"></i>
                        <i *ngIf="Showfilters" class="icon-47 grColor fs18 pl-2 float-right mt-2"></i>
                      </a>
                    </div>
                    <div class="col-7">
                      <mat-select class="mat_option" placeholder="Sort by" name="sortBy" formControlName="sortBy" (selectionChange)="sortCreativeByType($event.value)">
                        <div *ngFor="let option of filteredSortBy; let i = index">
                          <mat-option [value]="option">
                              <label>{{option}}</label>
                          </mat-option>
                        </div>
                      </mat-select>
                    </div>
                  </div>
                </div>
                <div *ngIf = "creativeHubIds.length && rolePermissions && rolePermissions.includes('edit_creative_hub')" class="row col-4 ">
                  <div class="col-sm-7 pl-0">
                    <input (keydown.enter)="provoked($event)" type="text" placeholder="Add to Section" matInput formControlName="sectionName" [matAutocomplete]="sectionName" class="inputBox" style="width:129%!important; border: 1.5px solid #eeeeeebd !important; height: 33px !important; margin-top:14px !important;">
                    <mat-autocomplete #sectionName="matAutocomplete">
                      <mat-option *ngFor="let option of uniqueSectionNames" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </div>
                  <div class="col-sm-5" style="margin-top: 9px;">
                    <button class="primaryBtn mainColor mainBordercolr mt-1 mr-0" (click)='addToSection()'>Add</button>
                  </div>
                </div>

                <div class="col ml-3 ">
                  <div *ngIf = "!creativeHubIds.length && rolePermissions && rolePermissions.includes('add_creative_hub')" class="  brCColor text-right pt-1 mr-3">
                    <button class="primaryBtn mainColor mainBordercolr mt-2 mr-0 fs12" data-toggle="modal" data-target="#exampleModalCenter" (click) = "addCreative('image')"><i class="icon-6 fw600"></i> Add Creative</button>
                  </div>
                  <div *ngIf = "creativeHubIds.length && rolePermissions && rolePermissions.includes('delete_creative_hub')" class=" brCColor float-right " style="margin-top: 9px !important; margin-right: 10px !important;">
                    <button class="primaryBtn mainColor mainBordercolr mt-1" data-toggle="modal" data-target="#exampleModalCenter" (click) = "openDeleteCofirmDialog()"><i class="icon-26 fs12 fw600 mt-1 mr-0"></i> Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="filterShowDiv mt-2" style="width:70%;" *ngIf="Showfilters">
        <div class="boxDiv p-3">
          <div class="row">
            <div class="col-5">
              <div class="row">
                <div class="col-6 pr-0">
                  <div class="inputBox clearfix dateIcon opDetails" style="height:34px;">
                    <input matInput [matDatepicker]="startDate" id="startDate" name="startDate" placeholder="From date" [(ngModel)]="sDate" [max]="eDate || endDateMax"  (dateInput)="addStartDateEvent('input', $event)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                  </div>
                </div>
                <div class="col-6 pr-0">
                  <div class="inputBox clearfix dateIcon opDetails" style="height:34px;">
                    <input matInput [matDatepicker]="endDate" id="endDate" name="endDate" placeholder="To date"
                      [(ngModel)]="eDate" [min]="sDate" [max] = "endDateMax" (dateInput)="addEndDateEvent('input', $event)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <mat-select class="mat_option_filter" style="margin:0px!important" placeholder="Creative size" name="type" [(ngModel)]="creativeSize">
                <div *ngFor="let creativeSize of creativeSizes; let i = index">
                  <mat-option [value]="creativeSize">
                      <label>{{creativeSize}}</label>
                  </mat-option>
                </div>
              </mat-select>
            </div>
            <div class="col-md-4 mt-1">
              <button class="primaryBtn mainColor mainBordercolr" (click)="filterImageCreatives()">Apply</button>
              <button class="primaryBtn mainColor mainBordercolr" (click)="clearFilters()">Clear</button>
            </div>
          </div>
        </div>
      </div>

<!--
<div class="mt-3" *ngIf="filteredImageCreativeHubs && filteredImageCreativeHubs.length">
          <div *ngFor = "let creativeHubItem of filteredImageCreativeHubs; let i = index">
            <div class="row">
              <div *ngFor = "let creativeHub of creativeHubItem.filteredCreatives let i = index" class="col-3 mb-3 pr-2">
                <mat-card *ngIf="!creativeHubItem.sectionName && creativeHub && creativeHub.imageUrls && creativeHub.imageUrls.length"
                class="boxDiv brr0 p-2 hoverWrapper" [class.cardFocus]="creativeHub.expanded">
                    <mat-card-header matRipple (click) = "selectCreativeHub(creativeHub)" [ngClass] = "{'selected' : creativeHub.selected}">
                      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
                          <div class="item">
                            <h4 [matTooltip]="creativeHub.name" style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 148px;">
                                <i class="icon-18 text-success" *ngIf="creativeHub.selected"></i>
                                {{creativeHub.name}}
                            </h4>
                          </div>
                          <div class="item">
                              <button mat-icon-button matTooltip="Delete creative"
                              (click)="deleteHub(creativeHub._id, creativeHub.name, $event)" id="hoverShow1">
                                  <mat-icon style="color: rgb(109, 109, 109)">delete_forever</mat-icon>
                              </button>
                          </div>
                      </mat-card-title>
                      <mat-card-subtitle>
                        Created: {{creativeHub.created.at | date: 'MM/dd/yyyy'}}
                      </mat-card-subtitle>
                    </mat-card-header>
                  <div class="" style="max-height: 220px;">
                    <slideshow
                      [height]= "height"
                      [minHeight]= "'220px'"
                      [autoPlay]= "false"
                      [showArrows]= "creativeHub.imageUrls.length > 1"
                      [arrowSize]= "'10px'"
                      [backgroundSize] = "'contain'"
                      [imageUrls]= "creativeHub.imageUrls"
                      [lazyLoad]= "creativeHub.imageUrls.length > 1"
                      [autoPlayWaitForLazyLoad]="true"
                      (onSlideLeft) = "slideLeft(creativeHub)"
                      (onSlideRight) = "slideRight(creativeHub)">
                    </slideshow>
                  </div>
                  <mat-card-content>
                    <br/>
                    <p>{{creativeHub.creativeDetails.length}} Items</p>
                  </mat-card-content>
                  <mat-card-actions>
                      <button mat-icon-button matTooltip="Add more assets"
                      (click)="addNewBanners('image', creativeHub)">
                          <mat-icon style="font-size: 26px; color: rgb(109, 109, 109)" id="hoverBlue">add_box</mat-icon>
                      </button>
                      <button mat-icon-button class="tdu mainColor" matTooltip="Download All" (click) = "downloadAllBanners(creativeHub, $event)">
                          <mat-icon style="color: rgb(109, 109, 109)">file_download</mat-icon>
                      </button>
                      <button mat-button class="tdu mainColor float-right" (click) = "showAllDimensions(creativeHub, creativeHubItem)">
                          {{creativeHub.expanded === false ? 'View All' : 'Close'}}
                      </button>
                  </mat-card-actions>
                </mat-card>
                <div class="row" style="width: fit-content;">
                  <mat-expansion-panel color="accent" [(ngModel)]="creativeHub.expanded"
                    [expanded]="creativeHub.expanded" ngDefaultControl style="width: 100vh;">

                    <div class="form-group row" style="display: block;scrollbar-width: thin;overflow: hidden;">
                      <mat-card class="col-sm-9 newAssets" style="width: 80%;
                        margin: 0 auto;
                        padding: 20px;
                        background: rgba(192, 192, 192, 0.301)">
                        <div class="form-group row">
                          <ngx-slick-carousel init-onload=true lazy-load='ondemand' class="carousel lazy"
                              #slickModal="slick-carousel"
                              [config]="slideConfig"
                              (init)="slickInit($event)" style="z-index: 2; top: 5px;" >
                            <div class="slide" *ngFor="let banner of creativeHub.creativeDetails | slice: initialBannersSize; let i = index" ngxSlickItem>
                                <div class="hoverWrapper" style="max-width: 100px;">
                                    <a class="bannerBoxes tac w-100" (click)="previewBanner(banner)" style="position:relative;">
                                          <button mat-icon-button class="small-icon-button" style="float:right;"
                                          (click)="deleteBanner(banner, creativeHub, $event)" id="hoverShow1">
                                              <mat-icon style="color: rgb(109, 109, 109)">delete</mat-icon>
                                          </button>
                                          <button mat-icon-button class="small-icon-button"
                                          (click)="downloadBanner(banner.url, $event)" id="hoverShow1">
                                              <mat-icon style="color: rgb(109, 109, 109)">file_download</mat-icon>
                                          </button>
                                          <span [ngClass]="banner.resolution.toLowerCase() | trim">
                                              <img style="max-height: 50px;" [ngClass]="banner.resolution.toLowerCase() | trim" [src]="_DomSanitizer.bypassSecurityTrustUrl(banner.url)">
                                          </span>
                                        <div style="position:absolute; bottom:0;">
                                          <small class="grColor">{{banner.dimensions}}</small>
                                          <small class="grColor">{{banner.resolution}}</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                          </ngx-slick-carousel>
                      </div>
                      </mat-card>
                      </div>
                  </mat-expansion-panel>
              </div>
              </div>
            </div>
             <div class="row newAssets mt-4">
              <div class="col-2 prl_mtb" *ngIf="type200x200">
                <div class="bannerBoxes tac w-100">
                  <div class="pt-2">
                    <span class="boxactive square">&nbsp; </span>
                  </div>
                  <small class="grColor">200 x 200 </small>
                  <small class="grColor">Square </small>
                </div>
              </div>
              <div class="col-2 prl_mtb" *ngIf="type250x250">
                <div class="bannerBoxes tac w-100">
                  <div class="pt-2">
                    <span class="boxactive square">&nbsp; </span>
                  </div>
                  <small class="grColor">250 x 250 </small>
                  <small class="grColor">Square </small>
                </div>
              </div>
              <div class="col-2 prl_mtb" *ngIf="type300x250">
                <div class="bannerBoxes tac w-100">
                  <div class="pt-2">
                    <span class="boxactive inlinerectangle">&nbsp; </span>
                  </div>
                  <small class="grColor">300 x 250 </small>
                  <small class="grColor">Inline Rectangle </small>
                </div>
              </div>
              <div class="col-2 prl_mtb" *ngIf="type300x600">
                  <div class="bannerBoxes tac w-100">
                    <div class="pt-2">
                      <span class="boxactive half-pagead">&nbsp; </span>
                    </div>
                    <small class="grColor">300 x 600 </small>
                    <small class="grColor">Half-Page Ad</small>
                  </div>
                </div>
            </div>

          </div>
        </div>
-->


      <div class="mt-2 w-100 creativeHubItem" *ngIf="filteredImageCreativeHubs && filteredImageCreativeHubs.length">
          <mat-accordion *ngFor = "let creativeHubItem of filteredImageCreativeHubs; let i = index; first as isFirst">

          <mat-expansion-panel *ngIf="creativeHubItem.sectionName" [expanded] = "isFirst">
            <mat-expansion-panel-header class="mainBGcolor h48 mt-2">
              <mat-panel-title class="wColor fw600 fs12"> {{creativeHubItem.sectionName}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row mt-3">
                <div *ngFor = "let creativeHub of creativeHubItem.filteredCreatives let i = index" class="col-md-3 mr-0  creativeHubCards">
                    <mat-card *ngIf="creativeHub && creativeHub.imageUrls && creativeHub.imageUrls.length"
                    class="boxDiv brr0 p-2 hoverWrapper" [class.cardFocus]="creativeHub.expanded">
                        <mat-card-header class="creativeHubCardHeader" matRipple (click) = "selectCreativeHub(creativeHub)" [ngClass] = "{'selected' : creativeHub.selected}">
                          <mat-card-title class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
                              <div class="item">
                                <h4 [matTooltip]="creativeHub.name" class="fs14 fw600 mb-1 ellipseHeading" style="text-transform:capitalize">
                                    <i class="icon-18 fs14 ml-1 text-success" *ngIf="creativeHub.selected"></i>
                                    {{creativeHub.name}}
                                </h4>
                              </div>
                              <div class="item">
                                  <button mat-icon-button matTooltip="Delete creative"
                                  (click)="deleteHub(creativeHub._id, creativeHub.name, $event)" id="hoverShow1" style="width:20px; height:20px; line-height:20px;">
                                      <i class="icon-26 fs16 mainColor "></i>
                                  </button>
                              </div>
                          </mat-card-title>
                          <mat-card-subtitle class="fs12 grDColor">
                            Created: {{creativeHub.created.at | date: 'd MMM yyyy'}}
                          </mat-card-subtitle>
                        </mat-card-header>
                      <div class="eeeBG" style="max-height:180px;">
                        <!--<slideshow
                          [height]= "height"
                          [minHeight]= "'180px'"
                          [autoPlay]= "false"
                          [showArrows]= "creativeHub.imageUrls.length > 1"
                          [arrowSize]= "'10px'"
                          [backgroundSize] = "'contain'"
                          [imageUrls]= "creativeHub.imageUrls"
                          [lazyLoad]= "creativeHub.imageUrls.length > 1"
                          [autoPlayWaitForLazyLoad]="true"
                          (onSlideLeft) = "slideLeft(creativeHub)"
                          (onSlideRight) = "slideRight(creativeHub)">
                        </slideshow>-->
                        <app-carouselshow [height]="'180px'" [imageUrls]="creativeHub.imageUrls">
                        </app-carouselshow>
                      </div>
                      <mat-card-content class="mb-3">
                        <p class="mt-2 mb-0">{{creativeHub.creativeDetails.length}} Items</p>
                      </mat-card-content>
                      <mat-card-actions class="pt-0 pb-0">
                          <button mat-icon-button matTooltip="Add more assets" (click)="addNewBanners('image', creativeHub)" style="width:20px; height:20px; line-height:20px;" class="ml-2 mr-3">
                              <!--<mat-icon style="font-size: 26px; color: rgb(109, 109, 109)" id="hoverBlue">add_box</mat-icon>-->
                              <i class="icon-52 fs18 mainColor fw"></i>
                          </button>
                          <button mat-icon-button class="tdu" matTooltip="Download All" (click) = "downloadAllBanners(creativeHub, $event)" style="width:20px; height:20px; line-height:20px;">
                              <!--<mat-icon style="color: rgb(109, 109, 109)">file_download</mat-icon>-->
                              <i class="icon-35 fs20 mainColor fw"></i>
                          </button>
                          <button mat-button class="tdu mainColor float-right m-0 bgNone pr-2" (click) = "showAllDimensions(creativeHub, creativeHubItem)" style="line-height:inherit">
                              {{creativeHub.expanded === false ? 'View All' : 'Close'}}
                          </button>
                      </mat-card-actions>
                    </mat-card>

                    <div class="viewAllCards">
                      <mat-expansion-panel color="accent" [(ngModel)]="creativeHub.expanded"
                        [expanded]="creativeHub.expanded" ngDefaultControl style="width:1004px; padding-bottom: 0px; margin-bottom: 0px;">

                        <mat-card class="newAssets p-0">
                            <ngx-slick-carousel init-onload=false lazy-load='ondemand' class="carousel lazy"
                                #slickModal="slick-carousel" data="creativeHub.creativeDetails"
                                [config]="slideConfig" (init)="slickInit($event)">
                                <div class="row">
                              <div class="col-md-2 mb-3" *ngFor="let banner of creativeHub.creativeDetails; let i = index" ngxSlickItem>
                                  <div class="hoverWrapper">
                                      <a class="bannerBoxes tac w-100" (click)="previewBanner(banner)" style="position:relative;">
                                            <button mat-icon-button class="small-icon-button" style="float:right;"
                                            (click)="deleteBanner(banner, creativeHub, $event)" id="hoverShow1">
                                                <i class="icon-26 fs16 mainColor "></i>
                                            </button>
                                            <button mat-icon-button class="small-icon-button"
                                            (click)="downloadBanner(banner, $event)" id="hoverShow1">
                                                <i class="icon-35 fs18 mainColor fw"></i>
                                            </button>
                                            <span style="margin-top:30px; min-height:40px!important" [ngClass]="banner.resolution.toLowerCase() | trim">
                                                <img style="max-height:100%; max-width:100%; inline-size:auto;" [ngClass]="banner.resolution.toLowerCase() | trim" [src]="_DomSanitizer.bypassSecurityTrustUrl(banner.url)" alt="">
                                            </span>
                                          <div>
                                            <small class="grDColor">{{banner.resolution}}</small>
                                            <small class="grDColor">{{banner.size}}</small>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                            </div>
                            </ngx-slick-carousel>
                        </mat-card>
                      </mat-expansion-panel>
                  </div>
                  </div>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
       <div class="boxDiv brtrr0 brtlr0 col mt-3" *ngIf = "filteredImageCreativeHubs && !filteredImageCreativeHubs.length">
      <p class="text-mutted  pl-0 pt-3 grDColor">No Records found !</p>
    </div>
    </div>

    <!-- <div id="videosTab" class="tab-pane fade mt-4" >
      <div class="boxDiv ovi">
        <form [formGroup]="addImageVideoForm">
          <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-1 pt-3 mt-1 ml-3">
                      <i class="icon-5 fs16 mainColor fw600"></i>
                  </div>
                  <div class="col-10 pt-3">
                    <input formControlName="searchText" class="pt-1 br0 focus fs12 w-100" type="text" placeholder="Search for a creative" (keyup)="searchVideoCreatives();">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                    <div class="col-7">
                        <div class="row">
                          <div class="col-6 mat_option">
                        <a (click)="displayFilters()" class="mainColor">
                          <span class="mt-1">Filter</span>
                          <i *ngIf="!Showfilters" class="icon-48 grColor fs18 pl-2 float-right mt-2"></i>
                          <i *ngIf="Showfilters" class="icon-47 grColor fs18 pl-2 float-right mt-2"></i>
                        </a>
                      </div>
                          <div class="col-6">
                        <div class="dropdown show">
                          <mat-select class="mat_option" placeholder="Sort by" name="sortBy" formControlName="sortBy" (selectionChange)="sortCreativeByType($event.value)">
                            <div *ngFor="let option of filteredSortBy; let i = index">
                              <mat-option [value]="option">
                                  <label>{{option}}</label>
                              </mat-option>
                            </div>
                          </mat-select>
                        </div>
                      </div>
                        </div>
                    </div>
                    <div class="col-5">
                      <div *ngIf = "creativeHubIds.length && && rolePermissions && rolePermissions.includes('edit_creative_hub')" class="col-2 brl1 brCColor p-2 text-center">
                        <input (blur) = 'addToSection()' type="text" placeholder="Add to Section" matInput formControlName="sectionName" [matAutocomplete]="sectionName" class="p-2">
                        <mat-autocomplete #sectionName="matAutocomplete">
                          <mat-option *ngFor="let option of uniqueSectionNames" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                      <div *ngIf = "!creativeHubIds.length && rolePermissions && rolePermissions.includes('add_creative_hub')" class="brl1 brCColor text-center pt-2 pb-2">
                        <button class="primaryBtn mainColor mainBordercolr mt-1" (click) = "addCreative('video')"><i class="icon-6 fs16 fw600" ></i>Add Video</button>
                      </div>
                      <div *ngIf = "creativeHubIds.length && rolePermissions && rolePermissions.includes('delete_creative_hub')" class="brl1 brCColor text-center pt-2 pb-2">
                        <button class="primaryBtn mainColor mainBordercolr mt-1" data-toggle="modal" data-target="#exampleModalCenter" (click) = "openDeleteCofirmDialog()"><i class="icon-26 fs18 fw600"></i> Delete</button>
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
      </div>
      <div class="filterShowDiv mt-2" style="width:50%;" *ngIf="Showfilters">
        <div class="boxDiv p-3">
          <div class="row">
            <div class="col-7">
              <div class="row">
                  <div class="col-6 pr-0">
                    <div class="inputBox clearfix p-2 dateIcon">
                      <input matInput [matDatepicker]="startDate" id="startDate" name="startDate" placeholder="From date" [(ngModel)]="sDate" [max]="eDate">
                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                    </div>
                  </div>
                  <div class="col-6 pr-0">
                    <div class="inputBox clearfix p-2 dateIcon">
                      <input matInput [matDatepicker]="endDate" id="endDate" name="endDate" placeholder="To date" [(ngModel)]="eDate" [min]="sDate">
                      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                      <mat-datepicker #endDate></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5 mt-1">
                <button class="primaryBtn mainColor mainBordercolr" (click)="filterVideoCreatives()">Apply</button>
                <button class="primaryBtn mainColor mainBordercolr" (click)="clearFilters()">Clear</button>
              </div>
          </div>
        </div>
      </div>
      <div class="row mt-2" *ngIf="filteredVideoCreativeHubs && filteredVideoCreativeHubs.length">
        <div class="col-12" *ngFor = "let creativeHubItem of filteredVideoCreativeHubs; let i = index">
          <div class="row">
            <div *ngFor = "let creativeHub of creativeHubItem.filteredCreatives | grdFilter: {name: addImageVideoForm.controls['searchText'].value}; let i=index;" class="col-3">
              <div class="boxBorder brr0 p-3" (click) = "selectCreativeHub(creativeHub)"  [ngClass] = "{'selected' : creativeHub.selected}" *ngIf="!creativeHubItem.sectionName">
                <i class="icon-18 fs14 text-success float-right p-1" *ngIf="creativeHub.selected"></i>
                <div class="">
                  <video controls class="videoBox">
                    <source src="{{creativeHub.creativeDetails[0].url}}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <div class="row mt-2">
                  <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                    <span class="fs18"><strong>{{creativeHub.name}}</strong></span>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span >Created at: {{creativeHub.created.at | date: 'MM/dd/yyyy'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row" *ngIf="filteredVideoCreativeHubs && filteredVideoCreativeHubs.length">
          <div class="col-12 mb-4">
            <mat-accordion *ngFor = "let creativeHubItem of filteredVideoCreativeHubs; let i = index" class="m-1">

            <mat-expansion-panel *ngIf="creativeHubItem.sectionName">

              <mat-expansion-panel-header class="bgBlue">
                <mat-panel-title class="">
                  <strong>{{creativeHubItem.sectionName}}</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row p-2">
                  <div class="col-3 boxBorder brr0 p-2 m-1" (click) = "selectCreativeHub(creativeHub)"  [ngClass] = "{'selected' : creativeHub.selected}" *ngFor = "let creativeHub of creativeHubItem.filteredCreatives; let i=index;">
                    <i class="icon-18 fs14 text-success float-right p-1" *ngIf="creativeHub.selected"></i>
                    <div class="">
                        <video controls class="videoBox">
                          <source src="{{creativeHub.creativeDetails[0].url}}" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                      <div class="row mt-2">
                        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                          <span class="fs18"><strong>{{creativeHub.name}}</strong></span>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <span >Created at: {{creativeHub.created.at | date: 'MM/dd/yyyy'}}</span>
                        </div>
                      </div>
                  </div>
              </div>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>
      <div class="grColor m-4" *ngIf="filteredVideoCreativeHubs && !filteredVideoCreativeHubs.length">
          <strong>No Records found !</strong>
        </div>
    </div> -->
  </div>
