.imageBox {
    max-height: 150px;
    min-height: 150px;
    width: 100%
}
.videoBox {
    max-height: 150px;
    min-height: 150px;
    width: 100%
}
/*.selected {
    background: #d2d7ee;
}*/
/*input.mat-input-element {
	border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding: 7px 15px;
	margin: 0;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}*/

.bgBlue{
    background:#4e6def;
    background-image:linear-gradient(to right, #18c0f0 , #4e6def) !important;
}
.tw {
    color: #fff !important;
}
.mat-expansion-indicator, .mat-expansion-indicator:after {
    color: red !important;
  }

.newAssets{
  left: 28px;
}

.newAssets .bannerBoxes { background:#fff;}
.newAssets .bannerBoxes .square { width:25px; height:25px;}
.newAssets .bannerBoxes .smallsquare { width:20px; height:20px;}
.newAssets .bannerBoxes .banner { width:50%; height:20px;}
.newAssets .bannerBoxes .leaderboard { width:80%; height:20px;}
.newAssets .bannerBoxes .inlinerectangle { width:35px; height:25px;}
.newAssets .bannerBoxes .largerectangle	{ width:35px; height:30px;}
.newAssets .bannerBoxes .skyscraper { width:8px; height:35px;}
.newAssets .bannerBoxes .wideskyscraper { width:12px; height:35px;}
.newAssets .bannerBoxes .half-pagead { width:16px; height:35px;}
.newAssets .bannerBoxes .largeleaderboard { width:80%; height:20px;}
.newAssets .bannerBoxes .wh11px { width:200px; height:20px;}


.viewAllCards .newAssets { left:0; background:transparent!important; box-shadow:none;}
.viewAllCards { position:relative; margin:20px 0 0 0; width:1015px; z-index:1}
.viewAllCards .newAssets .bannerBoxes { min-height:130px;}
.viewAllCards .newAssets .row { display:flex!important; width:100%!important;}
.viewAllCards .newAssets .bannerBoxes small { font-size:11px; line-height:15px;}

.creativeHubItem .creativeHubCards:nth-child(1) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(5) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(9) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(13) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(17) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(21) .viewAllCards { left:-4px;}

.creativeHubItem .creativeHubCards:nth-child(2) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(6) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(10) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(14) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(18) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(22) .viewAllCards { left:-261px;}

.creativeHubItem .creativeHubCards:nth-child(3) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(7) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(11) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(15) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(19) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(23) .viewAllCards { left:-517px;}

.creativeHubItem .creativeHubCards:nth-child(4) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(8) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(12) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(16) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(20) .viewAllCards, .creativeHubItem .creativeHubCards:nth-child(24) .viewAllCards { left:-777px;}



.boxactive{
    border-color:#555f88 !important;
    background: #555f88 !important;
}
.mat_option{ border-radius:4px!important; width:100%!important; border:1.5px solid #eeeeeebd!important; font-size:12px!important; padding:7px 15px!important; margin:9px 0 8px 0!important;}
i {
    line-height: 0 !important;
}
input.mat-input-element { border:none!important; width:78%!important; position:relative; top:-4px !important;}
.mat_option_filter{ border-radius:4px!important; width:100%!important; border:1.5px solid #eeeeeebd!important; font-size:12px!important; padding:7px 15px!important; margin:9px 0 8px 0!important;}
.h48 { height:38px!important}
.mat-expansion-panel { box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12)!important; background:transparent!important; }
.mat-expansion-panel-body { padding:0px !important}


.square { width:25px; height:25px;}
.smallsquare { width:20px; height:20px;}
.banner { width:50px; height:10px;}
.leaderboard { width:80px; height:10px;}
.inlinerectangle { width:35px; height:25px;}
.largerectangle	{ width:35px; height:30px;}
.skyscraper { width:8px; height:35px;}
.wideskyscraper { width:12px; height:35px;}
.half-pagead { width:16px; height:35px;}
.largeleaderboard { width:85px; height:10px;}
.wh11px { width:200px; height:20px;}

.boxactive{
    border-color:#555f88 !important;
    background: #555f88 !important;
}

.hoverWrapper:hover #hoverShow1{
  visibility: visible;
 }

 .hoverWrapper #hoverShow1 {
  visibility: hidden;
  float: left;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;

  .mat-icon {
     width: 16px !important;
     height: 16px !important;
     line-height: 16px !important;
  }
  .material-icons {
     font-size: 16px !important;
  }
}

/*.slick-slider {
  width: 90%;
  margin: auto;
}*/

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background: url(../../../assets/images/back_arrow.svg) no-repeat scroll 0 0;
  left: -33px;
}

.next-slide {
  background: url(../../../assets/images/forward_arrow.svg) no-repeat scroll -24px 0px;
  right: -33px;
}

.prev-slide:hover {
  background-position: 0px -53px;
  color: #854bf3b3;
}

.next-slide:hover {
  background-position: -24px -53px;
  color: #854bf3b3;
}

.cardFocus{
  background: #efeded;
}

.slick-prev:before, .slick-next:before {
  color: #854bf3b3;
}

::ng-deep .mat-card-header-text{
  width: -webkit-fill-available;
}


.carousel img {
  height: auto;
  max-width: 80px;
}
.pb-2, .py-2 {
  padding-bottom: 0.9rem!important;
}
mat-option label { margin-bottom: .0rem !important;;}
//.filterShowDiv mat-datepicker{ top: -4px !important;}
.mat-expansion-panel-header{ height:26px !important; padding-left: 15px; padding-right: 15px;}
.mat-card-actions, .mat-card-content, .mat-card-subtitle{ margin-bottom: 10px !important;}
.mat-expansion-indicator::after{position: relative !important;top: -3px !important;}