.received_withd_msg{ background: #f5f5f5 !important; border: none !important; padding: 11px !important; }
.input_msg_write input{ background: #f5f5f5; width: 87% !important; border-radius: 40px;}
.type_msg{border: none;}
.type_msg input{min-height:35px !important}
.mr-15{ margin-right: 15px;}
.sent_msg{ background: #f7eeff !important; border: none !important; padding: 11px !important;}
.mb-26{ margin-bottom: 26px;}