<div class="pt-3 pb-2 mb-3">
    <h1 class="h2 mb-2">Support</h1>
    <h6 class="h6 fwn lineheight">Check updates and resolve customer issues</h6>
</div>
  
<div class="row" *ngIf = "ticket">
    <div class="col-md-7 mb-4">
      <form [formGroup]="editTicketForm">
        <div class="boxDiv">
        <h2 class="fs16 fw600 p-3"><a class="" routerLink="/advertiser/advertiserSupport"><i class="icon-49 fs20 fw600 grColor mt-1 text-primary" style="color: #6c40f7 !important;"></i></a> {{ticket.ticketId}} {{userDetails.firstName}} {{userDetails.lastName}}</h2>
        <hr class="m-0">
        
        <div class="msg_history p-3">
          <div>
            <div *ngFor="let thisComment of ticket.comments">
              <div class="outgoing_msg" *ngIf="thisComment.created.by !== userEmail">
                <div class="incoming_msg_img float-left"> 
                  <img src="assets/support_rep_icon.svg" class="w-100">
                </div>
                <div class="received_msg">
                  <div class="sent_msg float-left br0">
                    <p class="fs12">{{thisComment.comment}}</p>
                    <span class="time_date fs10">{{thisComment.created.at | date:'d MMM yyyy'}}</span>
                  </div>
                </div>
              </div>
              <div class="incoming_msg mt-4" *ngIf="thisComment.created.by === userEmail">
                <div class="incoming_msg_img float-right"> 
                  <img src="assets/support_user_icon.svg"  class="w-100"> 
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg float-right br0">
                    <p class="fs12">{{thisComment.comment}}</p>
                    <span class="time_date fs10">{{thisComment.created.at | date:'d MMM yyyy'}}</span>
                  </div>
                </div>
              </div>
          </div>
          </div>
          
         <!--<div class="mt-5 ml-5" *ngIf="ticket.status !== 'Solved'">
            <button class="primaryBtn mainColor mainBordercolr" (click) = "updateSuportTicket('status')">Mark solved</button>
          </div> --> 
        </div>
        <div class="type_msg mt-3 mb-4" *ngIf="!(ticket.status === 'Solved' || ticket.status === 'Closed')">
          <div class="input_msg_write p-1">
            <input type="text" class="ml-3 pl-3 pr-3 fs12 " placeholder="Type your reply here..." formControlName="comment" style="border: 1px solid #e8e8e8 !important;" (keyup.enter)="addSupportComment()"/>
            <button type="button" class="msg_send_btn primaryBtn wColor mainBGcolor br0" (click) = "addSupportComment()" style="background: none !important; height: 27px;"></button>
            <div class="incoming_msg_img float-right mr-15"> 
                <img src="assets/support_send_icon.svg" class="w-100"> 
              </div>
          </div>
          <mat-error class ="p-4" *ngIf="commentMsg">
            {{commentMsg}}
          </mat-error>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-5">
    <div class="boxDiv">
      <div class="mainBGcolor w-100 p-2 clearfix">
        <h5 class="fs14 fw600 wColor float-left mt-1">Ticket Details</h5>
      </div>
      <div class="p-2">

          <div class="row p-2">
            <div class="fs12 col-3">ID</div>
            <div class="fs12 col-6">{{ticket.ticketId}}</div>
          </div>
  
          <div class="row p-2 col-md-12">
            <div class="fs12 col-3">Subject</div>
            <div class="fs12 col-8 ml-2">
              <textarea class="fs12 inputBox mr-2" name="subject" id="subject" rows="3" [(ngModel)]="ticket.subject" [readonly] = "ticket.status === 'Solved' || ticket.status === 'Closed'"></textarea>
            </div>
        
          </div>
  
          <div class="row p-2">
            <div class="fs12 col-3">Priority</div>
            <div class="col-6">
              <mat-select class="inputBox" placeholder="Priority" [(ngModel)]="ticket.priority" [disabled] = "ticket.status === 'Solved' || ticket.status === 'Closed'">
                <div *ngFor="let option of priorityList">
                  <mat-option  [value]="option">
                      <label>{{option}}</label>
                  </mat-option>
                </div>                                      
              </mat-select>
            </div>
          </div>
  
          <div class="row p-2">
            <div class="fs12 col-3">Status</div>
            <div class="fs12 col-6">{{ticket.status}}</div>
          </div>
  
          <div class="row p-2">
            <div class="fs12 col-3">Assigned To</div>
            <div class="fs12 col-6">{{ticket.assignee}}</div>
          </div>
  
          <div class="row p-2">
            <td class="fs12 col-3">Created On</td>
            <div class="fs12 col-6">{{ticket.created.at | date:'d MMM yyyy'}}</div>
          </div>
          <div class="col-md-12 fs12 col-2 p-1 pt-3 pb-3" *ngIf="!(ticket.status === 'Solved' || ticket.status === 'Closed')">
              <button type="button" class="primaryBtn wColor mainBGcolor br0 float-right mb-26" (click) = "updateSuportTicket('subject_priority')">Save Changes</button>
              <button type="button" class="primaryBtn wColor mainBGcolor br0 float-right" (click) = "updateSuportTicket('status')">Resolved</button>

            </div>
  
        </div>		
    </div>
  </div>
</div>
  
