<div class="pt-3 pb-2 mb-4">
  <h1 class="h2 mb-2">Publishers</h1>
  <h6 class="h6">An overview of all your publishers in one place</h6>
</div>

<div class="row">
  <div class="col-8 col-md-5">
    <div class="boxDiv br1 mainBordercolr mt-2 mb-2">
		<div class="col-sm-12">
		  <div class="row">
			<div class="col-1 pt-3"><i class="icon-5 fs24 mainColor"></i></div>
			<input class="br0 focus col-8 pt-3 pb-3" type="text" (keyup)="searchPublisher(name.value);"
			  name="publisher" #name [(ngModel)]='publisher' placeholder="Type a name...">
			<button type="button" (click)="searchPublisher(name.value);"
			  class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0">Search</button>
		  </div>
		</div>
    </div>
  </div>
  <div class="col-4 col-md-2">
    <div class="boxDiv mt-2 w-75">
      <a (click)="toggleSearch()" class="filterShowHide mainColor h6 p-3 dBlock1 mb-0">Filter <i
          class="icon-48 grColor fs18 float-right"></i></a>
    </div>
  </div>
</div>

<div class="filterShowDiv mt-2" *ngIf="show">
  <div class="boxDiv">
    <div class="bgLGRColor pt-4 pl-4 pr-4 pb-2">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-5 form-group">
              <div class="inputBox clearfix p-2 dateIcon">
                <input matInput style="width:62%" [matDatepicker]="startDate" id="startDate" name="startDate"
                  placeholder="From date" [readonly]="true" [(ngModel)]="sDate" class="bgNone br0 float-left pt-1">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </div>
            </div>
            <div class="col-md-1">
              <p class="grColor pt-1 mb-0 text-center">to</p>
            </div>
            <div class="col-md-6 form-group">
              <div class="inputBox clearfix p-2 dateIcon">
                <input matInput style="width:65%" [matDatepicker]="endDate" id="endDate" name="endDate"
                  placeholder="To date" [readonly]="true" [(ngModel)]="eDate" class="bgNone br0 float-left pt-1">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 form-group selectWrapper">
          <select class="inputBox" name="months" [(ngModel)]='months'>
            <option>Last 6 months</option>
            <option>Last 3 months</option>
            <option>Last 1 months</option>
            <option>Last 2 months</option>
          </select>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-4">
              <button class="primaryBtn wColor mainBordercolr mainBGcolor" (click)="searchPublisherList(sDate, eDate, months)" >Apply</button>
            </div>
            <div class="col-md-4 form-group">
              <button class="primaryBtn mainColor mainBordercolr pr-3 pl-3 w-100 lh24">
                <i class="icon-35 fs24 fw600 float-left"></i>PDF
              </button>
            </div>
            <div class="col-md-4 form-group">
              <button class="primaryBtn mainColor mainBordercolr pr-3 pl-3 w-100 lh24">
                <i class="icon-35 fs24 fw600 float-left"></i> Excel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="table-responsive boxDiv mt-3">
  <table class="table table-striped tableStyles text-center">
    <thead>
      <tr class="mainBGcolor wColor">
        <th class="text-left">Company Name</th>
        <th>Country </th>
        <th>Platforms</th>
        <th>Active Assets</th>
        <th>Earnings</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-left">MediCo</td>
        <td>United Kingdom</td>
        <td>2</td>
        <td>
          <div class="float-left mr-2 mt-1">4/8</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td>
          <div class="float-left mr-2 mt-1">$47,219</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td class="dropdown">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-59 fs18 mainColor fw"></i>
          </a>
          <ul class="dropdown-menu boxDiv">
            <li class="row">
              <a class="dropdown-item col-3" href="#"><i class="icon-25 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-26 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-75 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-15 fs18 mainColor fw"></i></a>
            </li>
          </ul>
        </td>
        <td>
          <button type="button" class="btn bgNone p-0" data-toggle="collapse" data-target="#keylinkInc">
            <i class="icon-48 fs20 grColor"></i>
          </button>
        </td>
      </tr>
      <tr id="keylinkInc" class="eeeBG collapse">
        <td width="10%">&nbsp;</td>
        <td colspan="4">
          <div class="table-responsive br1 brr4 brCColor">
            <table class="table tableTableStyles mb-0">
              <thead>
                <tr>
                  <th class="fw600 text-left">Platform</th>
                  <th class="fw600">Web/App</th>
                  <th class="fw600">Type</th>
                  <th class="fw600">All Assets</th>
                  <th class="fw600">% Utilization</th>
                  <th class="fw600">Earnings</th>
                  <th class="fw600">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left"><a href="#" class="mainColor fw600">The Lancet</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr class="eeeBG">
                  <td class="text-left"><a href="#" class="mainColor fw600">JANA</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr class="table-light">
        <td class="text-left">MediCo</td>
        <td>United Kingdom</td>
        <td>2</td>
        <td>
          <div class="float-left mr-2 mt-1">4/8</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td>
          <div class="float-left mr-2 mt-1">$47,219</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td class="dropdown">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-59 fs18 mainColor fw"></i>
          </a>
          <ul class="dropdown-menu boxDiv">
            <li class="row">
              <a class="dropdown-item col-3" href="#"><i class="icon-25 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-26 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-75 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-15 fs18 mainColor fw"></i></a>
            </li>
          </ul>
        </td>
        <td>
          <button type="button" class="btn bgNone p-0" data-toggle="collapse" data-target="#keylinkInc1">
            <i class="icon-48 fs20 grColor"></i>
          </button>
        </td>
      </tr>
      <tr id="keylinkInc1" class="collapse">
        <td width="10%">&nbsp;</td>
        <td colspan="4">
          <div class="table-responsive br1 brr4 brCColor">
            <table class="table tableTableStyles mb-0">
              <thead>
                <tr class="table-light">
                  <th class="fw600 text-left">Platform</th>
                  <th class="fw600">Web/App</th>
                  <th class="fw600">Type</th>
                  <th class="fw600">All Assets</th>
                  <th class="fw600">% Utilization</th>
                  <th class="fw600">Earnings</th>
                  <th class="fw600">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-light">
                  <td class="text-left"><a href="#" class="mainColor fw600">The Lancet</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr>
                  <td class="text-left"><a href="#" class="mainColor fw600">JANA</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td colspan="2">&nbsp;</td>
      </tr>

      <tr>
        <td class="text-left">MediCo</td>
        <td>United Kingdom</td>
        <td>2</td>
        <td>
          <div class="float-left mr-2 mt-1">4/8</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td>
          <div class="float-left mr-2 mt-1">$47,219</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td class="dropdown">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-59 fs18 mainColor fw"></i>
          </a>
          <ul class="dropdown-menu boxDiv">
            <li class="row">
              <a class="dropdown-item col-3" href="#"><i class="icon-25 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-26 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-75 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-15 fs18 mainColor fw"></i></a>
            </li>
          </ul>
        </td>
        <td>
          <button type="button" class="btn bgNone p-0" data-toggle="collapse" data-target="#keylinkInc2">
            <i class="icon-48 fs20 grColor"></i>
          </button>
        </td>
      </tr>
      <tr id="keylinkInc2" class="eeeBG collapse">
        <td width="10%">&nbsp;</td>
        <td colspan="4">
          <div class="table-responsive br1 brr4 brCColor">
            <table class="table tableTableStyles mb-0">
              <thead>
                <tr>
                  <th class="fw600 text-left">Platform</th>
                  <th class="fw600">Web/App</th>
                  <th class="fw600">Type</th>
                  <th class="fw600">All Assets</th>
                  <th class="fw600">% Utilization</th>
                  <th class="fw600">Earnings</th>
                  <th class="fw600">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left"><a href="#" class="mainColor fw600">The Lancet</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr class="eeeBG">
                  <td class="text-left"><a href="#" class="mainColor fw600">JANA</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr class="table-light">
        <td class="text-left">MediCo</td>
        <td>United Kingdom</td>
        <td>2</td>
        <td>
          <div class="float-left mr-2 mt-1">4/8</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td>
          <div class="float-left mr-2 mt-1">$47,219</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td class="dropdown">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-59 fs18 mainColor fw"></i>
          </a>
          <ul class="dropdown-menu boxDiv">
            <li class="row">
              <a class="dropdown-item col-3" href="#"><i class="icon-25 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-26 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-75 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-15 fs18 mainColor fw"></i></a>
            </li>
          </ul>
        </td>
        <td>
          <button type="button" class="btn bgNone p-0" data-toggle="collapse" data-target="#keylinkInc3">
            <i class="icon-48 fs20 grColor"></i>
          </button>
        </td>
      </tr>
      <tr id="keylinkInc3" class="collapse">
        <td width="10%">&nbsp;</td>
        <td colspan="4">
          <div class="table-responsive br1 brr4 brCColor">
            <table class="table tableTableStyles mb-0">
              <thead>
                <tr class="table-light">
                  <th class="fw600 text-left">Platform</th>
                  <th class="fw600">Web/App</th>
                  <th class="fw600">Type</th>
                  <th class="fw600">All Assets</th>
                  <th class="fw600">% Utilization</th>
                  <th class="fw600">Earnings</th>
                  <th class="fw600">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-light">
                  <td class="text-left"><a href="#" class="mainColor fw600">The Lancet</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr>
                  <td class="text-left"><a href="#" class="mainColor fw600">JANA</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td colspan="2">&nbsp;</td>
      </tr>

      <tr>
        <td class="text-left">MediCo</td>
        <td>United Kingdom</td>
        <td>2</td>
        <td>
          <div class="float-left mr-2 mt-1">4/8</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td>
          <div class="float-left mr-2 mt-1">$47,219</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td class="dropdown">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-59 fs18 mainColor fw"></i>
          </a>
          <ul class="dropdown-menu boxDiv">
            <li class="row">
              <a class="dropdown-item col-3" href="#"><i class="icon-25 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-26 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-75 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-15 fs18 mainColor fw"></i></a>
            </li>
          </ul>
        </td>
        <td>
          <button type="button" class="btn bgNone p-0" data-toggle="collapse" data-target="#keylinkInc4">
            <i class="icon-48 fs20 grColor"></i>
          </button>
        </td>
      </tr>
      <tr id="keylinkInc4" class="eeeBG collapse">
        <td width="10%">&nbsp;</td>
        <td colspan="4">
          <div class="table-responsive br1 brr4 brCColor">
            <table class="table tableTableStyles mb-0">
              <thead>
                <tr>
                  <th class="fw600 text-left">Platform</th>
                  <th class="fw600">Web/App</th>
                  <th class="fw600">Type</th>
                  <th class="fw600">All Assets</th>
                  <th class="fw600">% Utilization</th>
                  <th class="fw600">Earnings</th>
                  <th class="fw600">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left"><a href="#" class="mainColor fw600">The Lancet</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr class="eeeBG">
                  <td class="text-left"><a href="#" class="mainColor fw600">JANA</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr class="table-light">
        <td class="text-left">MediCo</td>
        <td>United Kingdom</td>
        <td>2</td>
        <td>
          <div class="float-left mr-2 mt-1">4/8</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td>
          <div class="float-left mr-2 mt-1">$47,219</div>
          <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
        </td>
        <td class="dropdown">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-59 fs18 mainColor fw"></i>
          </a>
          <ul class="dropdown-menu boxDiv">
            <li class="row">
              <a class="dropdown-item col-3" href="#"><i class="icon-25 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-26 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-75 fs18 mainColor fw"></i></a>
              <a class="dropdown-item col-3" href="#"><i class="icon-15 fs18 mainColor fw"></i></a>
            </li>
          </ul>
        </td>
        <td>
          <button type="button" class="btn bgNone p-0" data-toggle="collapse" data-target="#keylinkInc5">
            <i class="icon-48 fs20 grColor"></i>
          </button>
        </td>
      </tr>
      <tr id="keylinkInc5" class="collapse">
        <td width="10%">&nbsp;</td>
        <td colspan="4">
          <div class="table-responsive br1 brr4 brCColor">
            <table class="table tableTableStyles mb-0">
              <thead>
                <tr class="table-light">
                  <th class="fw600 text-left">Platform</th>
                  <th class="fw600">Web/App</th>
                  <th class="fw600">Type</th>
                  <th class="fw600">All Assets</th>
                  <th class="fw600">% Utilization</th>
                  <th class="fw600">Earnings</th>
                  <th class="fw600">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-light">
                  <td class="text-left"><a href="#" class="mainColor fw600">The Lancet</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgGColor brr4 wColor p-1 fs14 float-left"><i class="icon-47"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
                <tr>
                  <td class="text-left"><a href="#" class="mainColor fw600">JANA</a></td>
                  <td><i class="icon-20 fs24 fw600 mainColor"></i></td>
                  <td>Medical Journal</td>
                  <td>
                    <div class="float-left mr-2 mt-1">2</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">18%</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td>
                    <div class="float-left mr-2 mt-1">$2,202</div>
                    <div class="bgRColor brr4 wColor p-1 fs14 float-left"><i class="icon-48"></i> 22%</div>
                  </td>
                  <td><i class="icon-21 fs24 fw600 mainColor"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td colspan="2">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="table-responsive boxDiv mt-3">
  <table class="table table-striped tableStyles" mat-table [dataSource]="publisherList" multiTemplateDataRows matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="Organization Name">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Organization Name"> Company Name</th>
      <td mat-cell *matCellDef="let element"> {{element.organizationName}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Country">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap"  mat-sort-header="Country"> Country</th>
      <td mat-cell *matCellDef="let element"> {{ (element.country == 'US') ? 'United States' : element.country }} </td>
    </ng-container>

    <ng-container matColumnDef="Platforms">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Platforms" [matTooltip]="publisher_manage_assets_to_date"> Platforms</th>
      <td mat-cell *matCellDef="let element"> 
        {{element.publisherPlatformCount}}
      </td>
    </ng-container>

    <ng-container matColumnDef="ActiveAssets">
      <th mat-header-cell *matHeaderCellDef class="wColor" mat-sort-header="activeAssets" [matTooltip]="publisher_manage_assets_percentage_utilized"> Active Slots</th>
      <td mat-cell *matCellDef="let element"> {{element.publisherActiveAssets }}/{{element.publisherAllAssets }} </td>
    </ng-container>

    <ng-container matColumnDef="Earnings">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap" mat-sort-header="Earnings" [matTooltip]="publisher_manage_assets_lifetime_impressions"> Earnings </th>
      <td mat-cell *matCellDef="let element"> $0 </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="wColor text-wrap">Details</th>
      <td mat-cell *matCellDef="let element" class="dropdown">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <i class="icon-59 fs18 mainColor"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button class="dropboxIcons br0 bgNone publisherDiv" (click)="editAsset(element.assetType, element._id)">
            <i class="icon-25 fs18 mainColor"></i>
          </button>
          <button class="dropboxIcons br0 bgNone publisherDiv" (click)="openDeleteCofirmDialog(element._id)">
            <i class="icon-26 fs18 mainColor"></i>
          </button>
          <button class="dropboxIcons br0 bgNone publisherDiv" (click)="viewAssetAnalytics(element._id)">
            <i class="icon-27 fs18 mainColor"></i>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <ng-container matColumnDef="DropDown">
      <th mat-header-cell *matHeaderCellDef class="">
      </th>
      <td mat-cell *matCellDef="let element" class="">
        <a class="mainColor tdu ml-3" (click)="toggleExpand(element)"><i class="icon-48 fs20 grColor"></i></a>
      </td>
    </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length -1" [ngClass]="{hideRow: !element.showPlatform}" >
        <div *ngIf= "element.showPlatform" class="manage-element-detail ml-4">
            <div class="w-100 br1 brr4 brCColor" *ngIf="element.platforms && element.platforms.length">
                <table class="table fs12" matSort (matSortChange)="sortSubCampaignData($event, i)">
                  <thead>
                    <tr class="table-light">
                        <th  mat-sort-header="platformName" [matTooltip]="advertiser_analytics_behaviour_top_campaigns" >Platform Name</th>
                        <th  mat-sort-header="platformType" [matTooltip]="advertiser_manage_campaigns_campaign">Type</th>
                        <th  mat-sort-header="platformAssets" [matTooltip]="advertiser_manage_campaigns_campaign">All Assets</th>
                        <th  mat-sort-header="platformUtilization" [matTooltip]="advertiser_manage_campaigns_campaign">% Utilization</th>
                        <th  mat-sort-header="platformEarnings" [matTooltip]="advertiser_manage_campaigns_campaign">Earnings</th>
                        <!--<th [matTooltip]="advertiser_manage_campaigns_campaign">Details</th> -->
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let platform of element.platforms; let even=even" [ngClass]="{eeeBG: even}">
                            <td> <a href="javascript:void(0)" (click) = "editPlatform(platform)" class="mainColor fw600">{{platform.platformName}} </a></td>
                            <td>{{platform.platformType}}</td>
                            <td>{{platform.platformActiveAssets}}/{{platform.platformAllAssets}}</td>
                            <td>0.00%</td>
                            <td>$0</td>
                         <!--   <td class="dropdown">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                  <i class="icon-59 fs18 mainColor"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                  <button class="dropboxIcons br0 bgNone publisherDiv" (click)="editPlatform(platform.platformId)">
                                    <i class="icon-25 fs18 mainColor"></i>
                                  </button>
                                  <button class="dropboxIcons br0 bgNone publisherDiv" (click)="openDeleteCofirmDialog(element._id)">
                                    <i class="icon-26 fs18 mainColor"></i>
                                  </button> -->
                                  <!--<button class="dropboxIcons br0 bgNone publisherDiv" (click)="viewAssetAnalytics(element._id)">
                                    <i class="icon-27 fs18 mainColor"></i>
                                  </button>
                                </mat-menu>
                              </td> -->
                        </tr>
                      </tbody>
                  </table>
            </div>
        </div>
      </td>
    </ng-container>

    <tr class="mainBGcolor wColor wSpacing" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="manage-element-row"
      [class.manage-expanded-row]="expandedElement === element && element.showPlatform"
      (click)="expandedElement = expandedElement === element && element.showPlatform ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="manage-detail-row"></tr>

  </table>
</div>