<mat-card class="example-card">
<!--<mat-list>
  <div *ngFor="let item of permissionSelectedElements">
      <h5 mat-line>{{item['key']}}</h5>
      <mat-list-item *ngFor="let subItem of item['values']">
          <label>{{subItem.actionName}}</label>
        </mat-list-item>
  </div>
  </mat-list>  -->
  <table class="table table-striped tableStyles text-center">
      <thead>
      <tr class="mainBGcolor wColor">
        <th>SNo</th>
        <th class="text-left">Tab Name</th>
        <th class="text-left">List of Access</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of permissionSelectedElements;index as i">
        <td>{{i+1}}</td>
        <td class="text-left">{{item['key']}}</td>
        <td class="text-left"><div *ngFor="let subItem of item['values']">{{subItem.actionName}}</div></td>
      </tr>
      </tbody>
  </table>
</mat-card>