<div  class="bgImg" style="top:40px; right:-20px; z-index:-1"><img alt="AdvanalyticsBg" height="300" src="assets/images/paymentsBg.svg" style="width:350px; height:250px;"></div>
<div class="row">
  <div class="col-md-7 pt-4 mb19">
    <h1 class="h2">Manage Payments</h1>
    <h6 class="h6 mt-1 fwn lineheight">You can review the invoices and payment history, and add or edit payment methods <br>for all your campaigns across brands, all in one place</h6>
  </div>
  <div class="col-md-2 pt-4 mb40 pl-2 " *ngIf="marketSelectionDisplay && !editMode">   
    <div class="row">
      <div class="col-md-4 fs13 fw600 mr-2 mt14">Market</div>
      <div class="w97 fs13  fw600 market_box mt9">
        <mat-form-field class="mat-form-field">        
          <mat-select [(value)]="marketSelection" (selectionChange)="setZone()">
              <mat-select-trigger *ngIf="marketSelection && marketSelection === '1'">
              <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-1"><span class="market_trigger fs11"> US</span>
            </mat-select-trigger>
            <mat-select-trigger *ngIf="marketSelection && marketSelection === '2'">
              <img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-1"> <span class="market_trigger fs11">India</span>
                </mat-select-trigger>

            <mat-option value="1"> <img src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2"> US</mat-option>
            <mat-option value="2"><img src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2"> India</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="boxDiv mt-2 mb-2">
      <div class="bgLGRColor p-2">
        <p class="mb-0 ml-2">Present bill <i [matTooltip]="advertiser_manage_payments_next_bill" class="icon-78 tradMak1 grColor fs12"></i></p>
      </div>
      <div class="p-3">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-2"><i class="icon-22 op5 fs40 mainColor"></i></div>
              <div class="col-10">
                <h3 class="fs14">
                  <strong>
                    {{billGenerationdate| date: 'd MMM yyyy'}}
                  </strong></h3>
                <h6 class="grColor fs11 mt-1">The invoice will be mailed to your registered email address.</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 brl1 brCColor">
            <h3 class="fs14"><strong>{{currencySymbol}}{{ totalPendingAmout | number:'.0-0' }}</strong></h3>
            <h6 class="grColor fs11 mt-1">Amount due</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <mat-tab-group animationDuration="0ms" class="nav nav-pills mt-2 paymentTabs" role="tablist" [selectedIndex]="selectedTab" (selectedIndexChange)="selectTab($event)">
      <mat-tab label="Invoices" class="nav-item">
        <app-invoices #invoicesComponent *ngIf="selectedTab === 0"></app-invoices>
      </mat-tab>
      <mat-tab label="Payment Methods" class="nav-item">
        <app-payment-methods #paymentMethodsComponent *ngIf="selectedTab === 1" (editModeOn)="editMode = true" (editModeOff)="editMode = false"></app-payment-methods>
      </mat-tab>
      <mat-tab label="Monthly Invoicing" class="nav-item">
        <app-credit-line #creditLineComponent *ngIf="selectedTab === 2"></app-credit-line>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-md-3">&nbsp;</div>
</div>