input.mat-input-element {
	border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px 15px;
	margin: 0;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}
/*
mat-select {
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 0;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}
*/
.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type { padding-left:15px!important;}
.mat-table { font-family:'Work Sans', sans-serif!important;}

.nav {
  flex-wrap: nowrap; 
}
.mat-tab-header { width:110%!important;}
.market_box{border-radius:35px; border:1px solid #BC63DE; padding:0px 10px; height: 25px;}
.mat-form-field{position: relative; top: -13px; width: 100% !important;}
.w97{ width: 97px;}