.w-100{
    width:100%;
}
table {
	width: 100%;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}
.disabled { 
	background:transparent;
	border:1px solid #ccc;
	border-radius:100px;
	padding:4px 16px 3px 16px;
}
.dashBoardTable .tableStyles th { padding:10px 15px!important}
.dashBoardTable .tableStyles td { padding:7px 15px!important}
.w94{ width: 94% !important; }
.mr-7{ margin-right: 7px !important;}