<div class="bgImg" style="top:60px; right:-30px; z-index:-1">
  <img alt="AdvanalyticsBg" src="assets/images/ManagePlatforms.png" style="width:300px; height:240px;">
</div>
<div class="pt-4 mb-3">
<h1 class="h2">Manage Platforms</h1>
<h6 class="h6 mt-1 fwn lineheight">You can add, edit, manage, and delete multiple websites and users, all in one place</h6>
</div>

<ul class="nav nav-pills tabsStyles w-75" role="tablist">

  <li class="nav-item"> 
    <a class="nav-link active fs14 fw600 brr0 bgNone" data-toggle="pill" href="#websites" *ngIf = "rolePermissions && rolePermissions.includes('view_platform')" (click) = "loadPlatformsByPublisherId('Website')">Websites</a> 
  </li>

 <li class="nav-item"> 
    <a class="nav-link fs14 fw600 bgNone brr0" data-toggle="pill" href="#mobileApps" (click) = "loadPlatformsByPublisherId('MobileApp')">Mobile App</a> 
  </li>
  <li class="nav-item"> 
    <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#users" *ngIf = "rolePermissions && rolePermissions.includes('view_user')" (click) = "loadPlatformsByPublisherId('Website')">Users</a> 
  </li>
</ul>

<div class="tab-content mb-5 mt-3 col-md-10 pl-0">

  <div id="websites" class="tab-pane active">
      <div class="filterSearchDiv clearfix">
        <div class="searchDiv">
          <div class="boxDiv br1 mainBordercolr">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-1 searchIcon"><i class="icon-5 fs18 mainColor"></i></div>
                      <input class="br0 focus col-8 fs12 searchBox" type="text" placeholder="Type platform name..." name="platform" #name [(ngModel)]="platform" (keyup)="searchPlatform(name.value);">	
                      <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0" (click)="searchPlatform(name.value);">Search</button>
                  </div>
              </div>
          </div>    
        </div>
          
        <div class="float-left ml-3 mt-2" style="margin-top: 11px !important;">
            <button class="primaryBtn mainBordercolr pt-1 pb-1" *ngIf = "rolePermissions && rolePermissions.includes('add_platform')" (click)="addNewPlatform('Website')"><i class="icon-6 fs12 fw600"></i> Add new site</button>
        </div>
      </div>
      
      <div class="table-responsive boxDiv mt14 ovi dashBoardTable"  *ngFor = "let item of plateformsDataSource">
          <table class="tableStyles listViewTable"mat-table [dataSource]="item.platforms" multiTemplateDataRows>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="wColor" style=" width:250px !important;border-right: 3px solid #e6e6e6 !important;  word-break: break-all;"> {{item.name}}</th>
              <td mat-cell *matCellDef="let element" style="width:250px !important;border-right: 3px solid #e6e6e6 !important;  word-break: break-all; color:#415fe1; " class="ellipse"> {{element.domainUrl}} </td>
            </ng-container>
            
            <ng-container matColumnDef="typeOfSite">
              <th mat-header-cell *matHeaderCellDef class="wColor" style="width:280px; word-break:break-all;"> Site Type </th>
              <td mat-cell *matCellDef="let element" style="width:280px; word-break:break-all;" class="ellipse"> {{element.typeOfSite}} </td>
            </ng-container>

            <ng-container matColumnDef="platformStatus">
              <th mat-header-cell *matHeaderCellDef class="wColor" style="width:150px;"> Status </th>
              <td mat-cell *matCellDef="let element" style="width:150px"> 
                <span *ngIf="!element.isDeactivated && !element.isDeleted">Active</span>
                <span *ngIf="element.isDeactivated">Deactivated</span>
                <span *ngIf="element.isDeleted">Deleted</span>
              </td>
            </ng-container>

              <ng-container matColumnDef="activeAssets">
                <th mat-header-cell *matHeaderCellDef class="wColor text-center" style="width:160px"> Active Slots </th>
                <td mat-cell *matCellDef="let element" style="width:160px;" class="text-center"> {{item.activeAssets}} </td>
              </ng-container>
              
              <ng-container matColumnDef="market">
                <th [style.display]="showMarketColumn" mat-header-cell *matHeaderCellDef class="wColor" style="width:160px"> Market </th>
                <td [style.display]="showMarketColumn" mat-cell *matCellDef="let element" style="width:160px; " > 
                  <img *ngIf="(element && element.zone === '1')" src="assets/flag/usa-flag.svg" width="17" class="img-fluid mr-2">
                  <img *ngIf="(element && element.zone === '2')" src="assets/flag/indian-flag.svg" width="17" class="img-fluid mr-2">
                  {{(element && element.zone === '1') ? 'US':'India'}}</td>
              </ng-container>
          
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="wColor" style="width: 150px; padding: 0px 15px 0px 15px !important; margin-top: 0.5px; ">
                  <button *ngIf="!item.isWatching" class="primaryBtn brwColor float-right fs10 wColor font-weight-normal mr-0 " style="margin-top: 0.5px" (click) = "switchPlatform('Website', item.platforms[0]._id, item.platforms[0].zone)">Switch to</button>
                  <button class="primaryBtn brwColor float-right wColor font-weight-normal fs10 mr-0" style="margin-top: 0.5px" *ngIf="item.isWatching">Viewing</button>
              </th>
              <td mat-cell *matCellDef="let element" style="width: 150px; text-align: right;">
                <a *ngIf="!element.isDeleted && rolePermissions && rolePermissions.includes('edit_platform')" (click)="editPlatform('Website', element._id, element.zone)" class="mainColor tdu">
                  <i class="icon-25 fs14 fw600"></i> 
                </a>
              </td>
            </ng-container>            

            <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
      </div>
      <div class="boxDiv brtrr0 brtlr0 col" *ngIf="plateformsDataSource && !plateformsDataSource.length">
        <p class="text-mutted  pl-0 pt-3 grDColor">No Records found !</p>
      </div>
  </div>

  <div id="mobileApps" class="tab-pane ">
    <div class="filterSearchDiv clearfix">
      <div class="searchDiv">
        <div class="boxDiv br1 mainBordercolr">
          <div class="col-md-12">
            <div class="row">
              <div class="col-1 searchIcon"><i class="icon-5 fs18 mainColor"></i></div>
              <input class="br0 focus col-8 fs12 searchBox" type="text" placeholder="Type an slot name..." name="platform"
                #name [(ngModel)]="platform" (keyup)="searchPlatform(name.value);">
              <button type="button" class="primaryBtn p-0 brr0 mainColor col-3 br0 brl1 m-0"
                (click)="searchPlatform(name.value);">Search</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="float-left ml-3 mt-2" style="margin-top: 11px !important;">
        <button class="primaryBtn mainBordercolr pt-1 pb-1"
          *ngIf="rolePermissions && rolePermissions.includes('add_platform')" (click)="addNewPlatform('MobileApp')"><i
            class="icon-6 fs12 fw600"></i> Add new app</button>
      </div>
    </div>
  
    <div *ngIf="androidApps.length"><h5 class="fs14 mt-4 fw mb-0 pb-0">Android</h5>
      <div class="table-responsive boxDiv mt-2 ovi dashBoardTable" *ngFor="let item of androidApps">
        <table class="tableStyles listViewTable" mat-table [dataSource]="item.platforms" multiTemplateDataRows>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="wColor"
              style=" width:250px !important;border-right: 3px solid #e6e6e6 !important;  word-break: break-all;">
              {{item.name}}
            </th>
            <td mat-cell *matCellDef="let element"
              style="width:250px !important;border-right: 3px solid #e6e6e6 !important;  word-break: break-all; color:#415fe1; "
              class="ellipse"> {{element.domainUrl}} </td>
          </ng-container>
    
          <ng-container matColumnDef="typeOfSite">
            <th mat-header-cell *matHeaderCellDef class="wColor" style="width:280px; word-break:break-all;"> Site Type </th>
            <td mat-cell *matCellDef="let element" style="width:280px; word-break:break-all;" class="ellipse">
              {{element.typeOfSite}} </td>
          </ng-container>
    
          <ng-container matColumnDef="platformStatus">
            <th mat-header-cell *matHeaderCellDef class="wColor" style="width:150px;"> Status </th>
            <td mat-cell *matCellDef="let element" style="width:150px">
              <span *ngIf="!element.isDeactivated && !element.isDeleted">Active</span>
              <span *ngIf="element.isDeactivated">Deactivated</span>
              <span *ngIf="element.isDeleted">Deleted</span>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="activeAssets">
            <th mat-header-cell *matHeaderCellDef class="wColor text-center" style="width:160px"> Active Slots </th>
            <td mat-cell *matCellDef="let element" style="width:160px;" class="text-center"> {{item.activeAssets}} </td>
          </ng-container>
    
          <ng-container matColumnDef="market">
            <th [style.display]="showMarketColumn" mat-header-cell *matHeaderCellDef class="wColor" style="width:160px">
              Market
            </th>
            <td [style.display]="showMarketColumn" mat-cell *matCellDef="let element" style="width:160px; ">
              <img *ngIf="(element && element.zone === '1')" src="assets/flag/usa-flag.svg" width="17"
                class="img-fluid mr-2">
              <img *ngIf="(element && element.zone === '2')" src="assets/flag/indian-flag.svg" width="17"
                class="img-fluid mr-2">
              {{(element && element.zone === '1') ? 'US':'India'}}</td>
          </ng-container>
    
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="wColor"
              style="width: 150px; padding: 0px 15px 0px 15px !important; margin-top: 0.5px; ">
              <button *ngIf="!item.isWatching" class="primaryBtn brwColor float-right fs10 wColor font-weight-normal mr-0 "
                style="margin-top: 0.5px"
                (click)="switchPlatform('MobileApp', item.platforms[0]._id, item.platforms[0].zone)">Switch to</button>
              <button class="primaryBtn brwColor float-right wColor font-weight-normal fs10 mr-0" style="margin-top: 0.5px"
                *ngIf="item.isWatching">Viewing</button>
            </th>
            <td mat-cell *matCellDef="let element" style="width: 150px; text-align: right;">
              <a *ngIf="!element.isDeleted" (click)="editPlatform('MobileApp', element._id, element.zone)"
                class="mainColor tdu">
                <i class="icon-25 fs14 fw600"></i>
              </a>
            </td>
          </ng-container>
    
          <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <div *ngIf="iosApps.length"><h5 class="fs14 mt-4 fw mb-0 pb-0">IOS</h5>
      <div class="table-responsive boxDiv mt-2 ovi dashBoardTable" *ngFor="let item of iosApps">
        <table class="tableStyles listViewTable" mat-table [dataSource]="item.platforms" multiTemplateDataRows>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="wColor"
              style=" width:250px !important;border-right: 3px solid #e6e6e6 !important;  word-break: break-all;">
              {{item.name}}
            </th>
            <td mat-cell *matCellDef="let element"
              style="width:250px !important;border-right: 3px solid #e6e6e6 !important;  word-break: break-all; color:#415fe1; "
              class="ellipse"> {{element.domainUrl}} </td>
          </ng-container>
    
          <ng-container matColumnDef="typeOfSite">
            <th mat-header-cell *matHeaderCellDef class="wColor" style="width:280px; word-break:break-all;"> Site Type </th>
            <td mat-cell *matCellDef="let element" style="width:280px; word-break:break-all;" class="ellipse">
              {{element.typeOfSite}} </td>
          </ng-container>
    
          <ng-container matColumnDef="platformStatus">
            <th mat-header-cell *matHeaderCellDef class="wColor" style="width:150px;"> Status </th>
            <td mat-cell *matCellDef="let element" style="width:150px">
              <span *ngIf="!element.isDeactivated && !element.isDeleted">Active</span>
              <span *ngIf="element.isDeactivated">Deactivated</span>
              <span *ngIf="element.isDeleted">Deleted</span>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="activeAssets">
            <th mat-header-cell *matHeaderCellDef class="wColor text-center" style="width:160px"> Active Slots </th>
            <td mat-cell *matCellDef="let element" style="width:160px;" class="text-center"> {{item.activeAssets}} </td>
          </ng-container>
    
          <ng-container matColumnDef="market">
            <th [style.display]="showMarketColumn" mat-header-cell *matHeaderCellDef class="wColor" style="width:160px">
              Market
            </th>
            <td [style.display]="showMarketColumn" mat-cell *matCellDef="let element" style="width:160px; ">
              <img *ngIf="(element && element.zone === '1')" src="assets/flag/usa-flag.svg" width="17"
                class="img-fluid mr-2">
              <img *ngIf="(element && element.zone === '2')" src="assets/flag/indian-flag.svg" width="17"
                class="img-fluid mr-2">
              {{(element && element.zone === '1') ? 'US':'India'}}</td>
          </ng-container>
    
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="wColor"
              style="width: 150px; padding: 0px 15px 0px 15px !important; margin-top: 0.5px; ">
              <button *ngIf="!item.isWatching" class="primaryBtn brwColor float-right fs10 wColor font-weight-normal mr-0 "
                style="margin-top: 0.5px"
                (click)="switchPlatform('MobileApp', item.platforms[0]._id, item.platforms[0].zone)">Switch to</button>
              <button class="primaryBtn brwColor float-right wColor font-weight-normal fs10 mr-0" style="margin-top: 0.5px"
                *ngIf="item.isWatching">Viewing</button>
            </th>
            <td mat-cell *matCellDef="let element" style="width: 150px; text-align: right;">
              <a *ngIf="!element.isDeleted" (click)="editPlatform('MobileApp', element._id, element.zone)"
                class="mainColor tdu">
                <i class="icon-25 fs14 fw600"></i>
              </a>
            </td>
          </ng-container>
    
          <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <div class="grColor m-4" *ngIf="plateformsDataSource && !plateformsDataSource.length">
      <strong>No Records found !</strong>
    </div>
  </div>
  <div id="users" class="tab-pane">
    <div class="boxDiv ovi w-100">
      <div class="mainBGcolor p-2 brrTL4TR4">
        <h5 class="fs14 fw600 wColor mt-1 pl-2">Add New User</h5>
      </div>
      <form [formGroup]="addUserForm">
        <div class="pt-1 pl-3 mt14">
            <div class="row pt-1 pl-1">
    
              <div class="form-group col-md-3">
                <input type="text" class="inputBox" placeholder="Role" matInput formControlName="role"
                  [matAutocomplete]="role">
                <mat-autocomplete #role="matAutocomplete" (optionSelected)='setCurrentRole($event.option.value)'>
                  <mat-option *ngFor="let option of filteredUserRolesPermissions" [value]="option.roleName">
                    {{option.roleName}}
                  </mat-option>
                </mat-autocomplete>
                <li *ngIf="addUserSubmitted && addUserForm.controls['role'].hasError('required')" class="">
                  <mat-error >
                      <i class="icon-17 fs14 fw600"></i>  Role is required.
                  </mat-error>
                </li>
              </div>
              
              <div class="form-group col-md-4">
                <input type="text" class="inputBox" placeholder="Email" formControlName="email">
                <li *ngIf="addUserSubmitted && addUserForm.controls['email'].hasError('required')" class="">
            <mat-error >
                <i class="icon-17 fs14 fw600"></i>  Email is required.
            </mat-error>
        </li>
              </div>
    
              <div class="form-group col-md-3" >
                <input type="text" class="inputBox" placeholder="Platform" matInput formControlName="userPlatform"
                  [matAutocomplete]="userPlatform">
                <mat-autocomplete #userPlatform="matAutocomplete">
                  <mat-option *ngFor="let option of allZonePlatforms" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>                  
          <li *ngIf="addUserSubmitted && addUserForm.controls['userPlatform'].hasError('required')" class="">
            <mat-error >
                <i class="icon-17 fs14 fw600"></i>  Platform is required.
            </mat-error>
        </li>
              </div>
    
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 pl-0 mt-0" >
                <button class="primaryBtn mainColor mainBordercolr" (click) = "addUser()">Add</button>
              </div>
              <div class=" w94 mt-1 fs11 pl-3 mt-0">
                <p *ngIf="selectedRole === 'Admin'" class="fs10 mb-1"> 
                  As an admin you will have complete control over every activity associated with your account. You can manage users
                  and platforms associated with the account. You will have complete access to the payments section. You can additionally
                  manage analytics and profile. You can edit and manage Dashbaord and analytics properties too. You can ask for help
                  by generating a service ticket too. </p>
                <p *ngIf="selectedRole === 'Developer'" class="fs10 mb-1"> 
                  As a developer editor you can view and edit your platform settings. You can change password and email settings. You
                  can also edit organizational profile </p>
                <p *ngIf="selectedRole === 'Analyst'" class="fs10 mb-1"> 
                  As an analyst you have full access to analytics and dashboard of your account. You can view platform details. You
                  can edit organizational details and email settings. You can create service queries and change password. </p>
              </div>

           </div>
        </div>    
        <ul class="list-group p-2">
          <li *ngIf="errMsg" class="">
              <mat-error >
                  <i class="icon-17 fs14 fw600"></i> <strong> {{errMsg}} </strong>
              </mat-error>
          </li>
 
        </ul>
      </form>
    </div>
    <div class="table-responsive boxDiv mt14 ovi dashBoardTable" *ngIf="publisherUsers">
      <table class="tableStyles listViewTable"mat-table [dataSource]="publisherUsers" multiTemplateDataRows>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="wColor"> Name</th>
          <td mat-cell *matCellDef="let element" class="ellipse">{{element.userName}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="wColor"> Email</th>
          <td mat-cell *matCellDef="let element" class="ellipse">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="userPlatform">
          <th mat-header-cell *matHeaderCellDef class="wColor"> Platform</th>
          <td mat-cell *matCellDef="let element" class="ellipse">{{element.platformName}}</td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef class="wColor"> Role</th>
          <td mat-cell *matCellDef="let element"  class="ellipse">
            <input class="inputBox" type="text" placeholder="User Role" matInput [matAutocomplete]="userRole" [(ngModel)] = "element.roleName" [readonly]="userEmail === element.email">
            <mat-autocomplete #userRole="matAutocomplete" (optionSelected) = "updatePlatformRoleOfPublisherUser(element.email, element.platformId, element.roleName)">
              <mat-option *ngFor="let option of filteredUserRolesPermissions" [value]="option.roleName">
                {{option.roleName}}
              </mat-option>
            </mat-autocomplete>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="wColor"></th>
          <td mat-cell *matCellDef="let element" class="ellipse" width="25%">
            <div class="row text-right" >
              <div class="col-9">
                <button *ngIf="userEmail !== element.email" [disabled]="element.userName !== '-'" [ngClass]="{'primaryBtn mainColor mainBordercolr':element.userName === '-', 'disabled' : element.userName !== '-'}" class="fs10 mr-7" (click) = "reGenerateTokenOfUser(element.email)">Resend Invite</button>
              </div>
              <div class="col-3 mt-1" *ngIf = "userEmail !== element.email">
                <a (click)="deletePlatformFromPublisherUser(element.email, element.platformId)" class="mainColor tdu">
                  <i class="icon-26 fs14 fw600"></i> 
                </a>
              </div>
            </div>
          </td>
        </ng-container>
        <tr class="mainBGcolor wColor" mat-header-row *matHeaderRowDef="displayedUsersColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedUsersColumns;"></tr>
      </table>
    </div>
  </div>
</div>
