/*.mainBGcolor { 
    background:#6b3ffc; background-image:linear-gradient(to right, #b260e4 , #6b3ffc) !important;
}
.mainColor { 
    color:#4e6def !important;
}
.mainBordercolr { 
    border-color:#4e6def !important;
}*/

.mat-form-field { width:100%;}

.m-minus-24 {
margin: -24px;
}
.modal-header { padding:5px}
.cdk-overlay-pane { width:40%!important;}
.mat-select-value { top:3px; position:relative;}