<div class="m-minus-24 advertiserDiv" id="addNewCampaign">
  <div class="modal-content">
        <div class="modal-header mainBGcolor wColor">
            <h4 class="modal-title fs14">{{data.page ? 'Edit' : 'Add new'}} campaign</h4>
          </div>
         <div class="modal-body ">
          <div class="form-group row mb-0">
          <label class="col-sm-2 col-form-label formLabel">Brand</label>
          <div class="col">
			<div class="inputBox clearfix pnmn campaignBrandSelecctionDisabled">  
            <mat-form-field appearance="outline">
              <mat-select [(ngModel)]="data.brandId" placeholder="Choose a Brand" name="brandSel"  #brandSel="ngModel" required>
                <mat-option *ngFor="let item of brandList" [value]="item._id" [disabled]="data.page === 'Edit'">
                  {{item.brandName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    <div class="mb-3">  
	<div *ngIf="brandSel.invalid && (!formValid || brandSel.dirty || brandSel.touched)"
      class="mat-error mt-0">
        <div *ngIf="brandSel.errors.required">
          Please select brand.
        </div>
      </div>
		</div> 
			</div>  
        </div>
          <div class="form-group row mb-0">
          <label class="col-sm-2 col-form-label formLabel">Name</label>
          <div class="col">
            <input [(ngModel)]="data.name" class="inputBox" type="text" required  #campName="ngModel"
            minlength="3"> 
			<div>
            <div *ngIf="campName.invalid && (!formValid || campName.dirty || campName.touched)"
                class="mat-error mt-0">
              <div *ngIf="campName.errors.required">
                Campaign name is required.
              </div>
              <div *ngIf="data && data.name && data.name.trim().length < 3">
                Atleast 3 characters required in Name field
              </div>
			</div>
            </div>
            <div *ngIf="!isCampaignNameAvailable" class="alert alert-danger">
              A Campaign with this name already exists.
            </div>
            
          </div>
        </div>
        </div>
        <div class="modal-footer border-0 pt-0 mb-3">            
          <button type="button" class="primaryBtn mainColor mainBordercolr" [mat-dialog-close]="false">Cancel</button> <!--[mat-dialog-close]="data"-->
          <button type="button" class="primaryBtn mainColor mainBordercolr" (click)="onSubmit()" cdkFocusInitial>Save</button> <!--[mat-dialog-close]="data"-->
        </div>
      </div>
  </div>	