<div class="pt-3 pb-2 mb-4">
    <h1 class="h2 mb-2">Settings</h1>
    <h6 class="h6">Manage users and track your receipts</h6>
</div>

<!--<mat-tab-group animationDuration="0ms">
  <mat-tab label="Countries"><app-settings-countrytaxes></app-settings-countrytaxes></mat-tab>
  <mat-tab label="Bids"><app-settings-bidranges></app-settings-bidranges></mat-tab>
  <mat-tab label="Users"><app-settings-adminusers></app-settings-adminusers></mat-tab>
  <mat-tab label="Change Password"><app-changepassword></app-changepassword></mat-tab>
</mat-tab-group>-->



<ul class="nav nav-pills mt-4 tabsStyles" role="tablist">
    <li class="nav-item"> <a class="nav-link active fs14 fw600 brr0 bgNone" data-toggle="pill" href="#countriesTab">Countries</a></li>
    <li class="nav-item"> <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#aidsTab">Bids</a></li>
	<li class="nav-item"> <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#usersTab">Users</a></li>
    <li class="nav-item"> <a class="nav-link fs14 fw600 brr0 bgNone" data-toggle="pill" href="#changepasswordTab">Change Password</a></li>
  </ul>
  <div class="tab-content mb-5">
      <div id="countriesTab" class="tab-pane active">
        <app-settings-countrytaxes></app-settings-countrytaxes>
      </div>
      <div id="aidsTab" class="tab-pane">
          <app-settings-bidranges></app-settings-bidranges>
      </div>
	  <div id="usersTab" class="tab-pane">
          <app-settings-adminusers></app-settings-adminusers>
      </div>
	  <div id="changepasswordTab" class="tab-pane">
          <app-changepassword></app-changepassword>
      </div>
  </div>