<div class="custom-dialog info advertiserDiv t_justify" style="width: 424px; margin: auto;">
  <div class="modal-content">
        <!--<div class="modal-header mainBGcolor wColor p-2">
            <h4 class="modal-title fs14">{{data.title}}</h4>
          </div>-->
         <div class="modal-body">
             <h4 class="modal-title fs12 ml-0 pb-0">{{data.title}}</h4>
             <mat-dialog-content> <p>{{data.message}}</p> </mat-dialog-content>
        </div>
        <div class="modal-footer border-0 pt-0">
            <mat-dialog-actions align="end" class="mb-0">
                <button [mat-dialog-close]="true" class="primaryBtn mainColor mainBordercolr fs11">{{data.confirm}}</button>
                <button [mat-dialog-close]="false" class="primaryBtn mainColor mainBordercolr fs11">{{data.cancel}}</button>
            </mat-dialog-actions>
        </div>
      </div>
  </div>
